

.jcarousel-skin-floorplate .jcarousel-container {
    background: transparent;
}

.jcarousel-skin-floorplate .jcarousel-direction-rtl {
	direction: rtl;
}


	.jcarousel-skin-floorplate .jcarousel-container-horizontal {
	    width: auto;
	    height:auto;
	    padding: 0;
	    border: 1px solid #999999;
	    background: url('../../images/floorplate_selector_bg.png');
	    position:relative;
	    
	}
		.jcarousel-skin-floorplate .jcarousel-clip-horizontal {
	    width:  840px;
	    height: 442px;
	}
	
	
	.jcarousel-skin-floorplate .jcarousel-item {
	    width: 840px;
	    height: 442px;
	    position: relative;
	}
	.jcarousel-skin-floorplate .jcarousel-item img {
		width: 840px;
		height:442px;	
	}

.find_text {
    position: absolute;
    z-index: 10;
    width: 177px;
    height: 43px;
    font-family: Open Sans;
    font-size: 12px;
    color: #616263;
    top: 306px;
    left: 20px;
}
.find_button {
    width: 177px;
    height: 43px;
    background: url('../../images/floorplates/find_my_apartment_button_bg.png');
    position: absolute;
    z-index: 10;
    font-family: Oswald;
    font-size: 16px;
    color: #616263;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    top: 346px;
    left: 20px;
    cursor: pointer;
}


.jcarousel-skin-floorplate .jcarousel-clip {
    overflow: hidden;
}


.jcarousel-skin-floorplate .jcarousel-item .floor_title {
    left: 35px;
    top: 20px;
    position: absolute;
    font-family: Oswald;
    font-size: 20px;
    color: #616263;
    z-index: 10;
    text-transform: uppercase;
}
.jcarousel-skin-floorplate .jcarousel-item .floor_selector {
    position: absolute;
    right: 25px;
    z-index: 10;
    width: 159px;
    height: 40px;
    background: url(../../images/floorplates/floor_selector_bg.png);
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 16px;
    color: #616263;
    line-height: 40px;
    cursor: pointer;
}
.jcarousel-skin-floorplate .jcarousel-item .floor_selector_active, .jcarousel-skin-floorplate .jcarousel-item .floor_selector:hover{
    background: url(../../images/floorplates/floor_selector_active_bg.png);
    color: white;
}
.jcarousel-skin-floorplate .jcarousel-item .floor_selector div {
    margin-left: 50px;
}
#floor_17 {
    top: 5px;
}
#floor_15 {
    top: 45px;
}
#floor_14 {
    top: 85px;
}
#floor_11 {
    top: 125px;
}
#floor_10 {
    top: 165px;
}
#floor_9 {
    top: 205px;
}
#floor_7 {
    top: 245px;
}
#floor_6 {
    top: 285px;
}
#floor_5 {
    left: 25px;
    top: 75px;
}
#floor_4 {
    left: 25px;
    top: 115px;
}
#floor_3 {
    left: 25px;
    top: 155px;
}
#floor_2 {
    left: 25px;
    top: 195px;
}
#floor_1 {
    left: 25px;
    top: 235px;
}

div.live_here_carousel_text {
    color: #dbdbda;
    font-family: Oswald;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 20px;
}
div.live_here_carousel_text span.yellow {
    text-transform: uppercase;	
}

.jcarousel-skin-floorplate .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}


.jcarousel-skin-floorplate .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/*
Availability buttons
*/

.jcarousel-skin-floorplate .jcarousel-availability {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent url(../../images/floorplates/availability.png) no-repeat 0 0;
    z-index: 100;
}
.jcarousel-skin-floorplate .jcarousel-availability:hover, .jcarousel-skin-floorplate .jcarousel-availability:focus {
    background-position: -30px 0;
}

.jcarousel-skin-floorplate .jcarousel-availability-disabled,
.jcarousel-skin-floorplate .jcarousel-availability-disabled:hover,
.jcarousel-skin-floorplate .jcarousel-availability-disabled:focus,
.jcarousel-skin-floorplate .jcarousel-availability-disabled:active {
    cursor: default;
    background-position: -60px 0;
}
/**
 *  Horizontal Buttons
 */

 .jcarousel-skin-floorplate .jcarousel-next-manual-disable {
 	background: transparent;
 	color: transparent;
 }
 
.jcarousel-skin-floorplate .jcarousel-next-horizontal {
    position: absolute;
    top: 202px;
    right: 7px;
    width: 40px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
    /*deprecated
    font-family: Oswald;
    font-size: 16px;
    color: #424242;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    */
    z-index: 100;
}



.jcarousel-skin-floorplate .jcarousel-next-horizontal:hover,
.jcarousel-skin-floorplate .jcarousel-next-horizontal:focus
{
     background-position: -40px 0;
}

.jcarousel-skin-floorplate .jcarousel-next-horizontal:active {
    background-position: -80px 0;
}

.jcarousel-skin-floorplate .jcarousel-next-disabled-horizontal,
.jcarousel-skin-floorplate .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-floorplate .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-floorplate .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -120px 0;
    color: transparent;
}

.jcarousel-skin-floorplate .jcarousel-prev-horizontal {
    position: absolute;
    top: 202px;
    left: 7px;
    width: 40px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
    /*deprecated
    font-family: Oswald;
    font-size: 16px;
    color: #424242;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    */
    z-index: 100;
}


.jcarousel-skin-floorplate .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-floorplate .jcarousel-prev-horizontal:focus {
    background-position: -40px 0;
}

.jcarousel-skin-floorplate .jcarousel-prev-horizontal:active {
    background-position: -80px 0;
}

.jcarousel-skin-floorplate .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-floorplate .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-floorplate .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-floorplate .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -120px 0;
    color: transparent;
}


/*unit positions*/
/*
#unit_101{
	top:210px;
	left:752px;	
}
#unit_102{
	top:137px;
	left:682px;	
}
#unit_103{
	top:100px;
	left:682px;	
}
#unit_104{
	top:60px;
	left:682px;	
}
#unit_105{
	top:15px;
	left:682px;	
}
#unit_106{
	top:15px;
	left:632px;	
}
#unit_107{
	top:105px;
	left:632px;	
}
#unit_108{
	top:100px;
	left:523px;	
}
#unit_109{
	top:15px;
	left:437px;	
}
#unit_110{
	top:15px;
	left:400px;	
}
#unit_111{
	top:15px;
	left:360px;	
}
#unit_112{
	top:55px;
	left:360px;	
}
#unit_113{
	top:100px;
	left:360px;	
}
#unit_114{
	top:310px;
	left:360px;	
}
#unit_115{
	top:310px;
	left:490px;	
}
#unit_116{
	top:310px;
	left:530px;	
}
#unit_117{
	top:310px;
	left:565px;	
}
#unit_118{
	top:310px;
	left:615px;	
}
#unit_119{
	top:310px;
	left:680px;	
}
#unit_120{
	top:275px;
	left:680px;	
}
#unit_121{
	top:240px;
	left:680px;	
}
#unit_122{
	top:310px;
	left:260px;	
}
#unit_123{
	top:310px;
	left:215px;	
}
#unit_124{
	top:310px;
	left:165px;	
}
#unit_125{
	top:310px;
	left:115px;	
}
*/
/*using percent instead so that they can scale*/

#unit_104{
	top:80.99%;
	left:81.19%;	
}
#unit_103{
	top:80.99%;
	left:91.19%;	
}
#unit_102{
	top:13.57%;
	left:81.19%;	
}
#unit_105{
	top:3.39%;
	left:81.19%;	
}
#unit_106{
	top:3.39%;
	left:75.23%;	
}
#unit_107{
	top:23.75%;
	left:75.23%;	
}
#unit_108{
	top:22.62%;
	left:62.26%;	
}
#unit_109{
	top:3.39%;
	left:52.02%;	
}
#unit_110{
	top:3.39%;
	left:47.61%;	
}
#unit_111{
	top:3.39%;
	left:42.86%;	
}
#unit_112{
	top:12.44%;
	left:42.86%;	
}
#unit_113{
	top:22.62%;
	left:42.86%;	
}
#unit_114{
	top:70.14%;
	left:42.86%;	
}
#unit_115{
	top:70.14%;
	left:58.33%;	
}
#unit_116{
	top:70.14%;
	left:63.09%;	
}
#unit_117{
	top:70.14%;
	left:67.26%;	
}
#unit_118{
	top:70.14%;
	left:73.21%;	
}
#unit_119{
	top:70.14%;
	left:80.95%;	
}
#unit_120{
	top:62.21%;
	left:80.95%;	
}
#unit_121{
	top:54.30%;
	left:80.95%;	
}
#unit_122{
	top:70.13%;
	left:30.95%;	
}
#unit_123{
	top:70.13%;
	left:25.6%;	
}
#unit_124{
	top:70.13%;
	left:19.64%;	
}
#unit_125{
	top:70.13%;
	left:13.69%;	
}


#unit_201{
	left:80.5%;
	top:37%;	
}
#unit_202{
	left:80.5%;
	top:6.3%;	
}
#unit_203{
	left:80.5%;
	top:21.7%;	
}
#unit_204{
	left:74.1%;
	top:6.3%;	
}
#unit_205{
	left:74.1%;
	top:21.7%	
}
#unit_206{
	left:68.5%;
	top:6.3%;	
}
#unit_207{
	left:68.5%;
	top:21.7%	
}
#unit_208{
	left:62.1%;
	top:6.3%;
}
#unit_209{
	left:62.1%;
	top:21.7%	
}
#unit_210{
	left:57.7%;
	top:6.3%;	
}
#unit_211{
	left:51.6%;
	top:6.3%;	
}
#unit_212{
	left:42.1%;
	top:6.3%;	
}
#unit_213{
	left:42.1%;
	top:21.7%	
}
#unit_214{
	left:51.6%;
	top:21.7%	
}
#unit_215{
	left:42.1%;
	top:38.4%;	
}
#unit_216{
	left:51.6%;
	top:42.5%;	
}
#unit_217{
	left:42.1%;
	top:49.1%;	
}
#unit_218{
	left:51.6%;
	top:52.9%;	
}
#unit_219{
	left:42.1%;
	top:58.3%;	
}
#unit_220{
	left:51.6%;
	top:74.3%;	
}
#unit_221{
	left:42.1%;
	top:74.3%;	
}
#unit_222{
	left:80.5%;
	top:60.4%;	
}
#unit_223{
	left:80.5%;
	top:74.3%;	
}
#unit_224{
	left:80.5%;
	top:89%;	
}
#unit_225{
	left:74.1%;
	top:74.3%;	
}
#unit_226{
	left:70.7%;
	top:89%;	
}
#unit_227{
	left:68.5%;
	top:74.3%;	
}
#unit_228{
	left:65.2%;
	top:89%;	
}
#unit_229{
	left:59.1%;
	top:74.3%;	
}
#unit_230{
	left:59.1%;
	top:89%;	
}
#unit_231{
	left:51.6%;
	top:89%;	
}
#unit_232{
	left:42.1%;
	top:89%;	
}
#unit_233{
	left:36.5%;
	top:89%;	
}
#unit_234{
	left:31.4%;
	top:89%;	
}
#unit_235{
	left:30.7%;
	top:74.3%;	
}
#unit_236{
	left:25.8%;
	top:89%;	
}
#unit_237{
	left:20.8%;
	top:74.3%;	
}
#unit_238{
	left:19.8%;
	top:89%;	
}
#unit_239{
	left:14.8%;
	top:74.3%;	
}
#unit_240{
	left:14.8%;
	top:89%;	
}


#unit_302{
	left:80.5%;
	top:6.3%;	
}
#unit_303{
	left:80.5%;
	top:21.7%;	
}
#unit_304{
	left:74.1%;
	top:6.3%;	
}
#unit_305{
	left:74.1%;
	top:21.7%	
}
#unit_306{
	left:68.5%;
	top:6.3%;	
}
#unit_307{
	left:68.5%;
	top:21.7%	
}
#unit_308{
	left:62.1%;
	top:6.3%;
}
#unit_309{
	left:62.1%;
	top:21.7%	
}
#unit_310{
	left:57.7%;
	top:6.3%;;	
}
#unit_311{
	left:51.6%;
	top:6.3%;	
}
#unit_312{
	left:42.1%;
	top:6.3%;	
}
#unit_313{
	left:42.1%;
	top:21.7%	
}
#unit_314{
	left:51.6%;
	top:21.7%	
}
#unit_315{
	left:42.1%;
	top:38.4%;	
}
#unit_316{
	left:51.6%;
	top:42.5%;	
}
#unit_317{
	left:42.1%;
	top:49.1%;	
}
#unit_318{
	left:51.6%;
	top:52.9%;	
}
#unit_319{
	left:42.1%;
	top:58.3%;	
}
#unit_320{
	left:51.6%;
	top:74.3%;	
}
#unit_321{
	left:42.1%;
	top:74.3%;	
}

#unit_323{
	left:80.5%;
	top:74.3%;	
}
#unit_324{
	left:80.5%;
	top:89%;	
}
#unit_325{
	left:74.1%;
	top:74.3%;	
}
#unit_326{
	left:70.7%;
	top:89%;	
}
#unit_327{
	left:68.5%;
	top:74.3%;	
}
#unit_328{
	left:65.2%;
	top:89%;	
}
#unit_329{
	left:59.1%;
	top:74.3%;	
}
#unit_330{
	left:59.1%;
	top:89%;	
}
#unit_331{
	left:51.6%;
	top:89%;	
}
#unit_332{
	left:42.1%;
	top:89%;	
}
#unit_333{
	left:36.5%;
	top:89%;	
}
#unit_334{
	left:31.4%;
	top:89%;	
}
#unit_335{
	left:30.7%;
	top:74.3%;	
}
#unit_336{
	left:25.8%;
	top:89%;	
}
#unit_337{
	left:20.8%;
	top:74.3%;	
}
#unit_338{
	left:19.8%;
	top:89%;	
}
#unit_339{
	left:14.8%;
	top:74.3%;	
}
#unit_340{
	left:14.8%;
	top:89%;	
}

#unit_402{
	left:80.5%;
	top:6.3%;	
}
#unit_403{
	left:80.5%;
	top:21.7%;	
}
#unit_404{
	left:74.1%;
	top:6.3%;	
}
#unit_405{
	left:74.1%;
	top:21.7%	
}
#unit_406{
	left:68.5%;
	top:6.3%;	
}
#unit_407{
	left:68.5%;
	top:21.7%	
}
#unit_408{
	left:62.1%;
	top:6.3%;
}
#unit_409{
	left:62.1%;
	top:21.7%	
}
#unit_410{
	left:57.7%;
	top:6.3%;;	
}
#unit_411{
	left:51.6%;
	top:6.3%;	
}
#unit_412{
	left:42.1%;
	top:6.3%;	
}
#unit_413{
	left:42.1%;
	top:21.7%	
}
#unit_414{
	left:51.6%;
	top:21.7%	
}
#unit_415{
	left:42.1%;
	top:38.4%;	
}
#unit_416{
	left:51.6%;
	top:42.5%;	
}
#unit_417{
	left:42.1%;
	top:49.1%;	
}
#unit_418{
	left:51.6%;
	top:52.9%;	
}
#unit_419{
	left:42.1%;
	top:58.3%;	
}
#unit_420{
	left:51.6%;
	top:74.3%;	
}
#unit_421{
	left:42.1%;
	top:74.3%;	
}

#unit_423{
	left:80.5%;
	top:74.3%;	
}
#unit_424{
	left:80.5%;
	top:89%;	
}
#unit_425{
	left:74.1%;
	top:74.3%;	
}
#unit_426{
	left:70.7%;
	top:89%;	
}
#unit_427{
	left:68.5%;
	top:74.3%;	
}
#unit_428{
	left:65.2%;
	top:89%;	
}
#unit_429{
	left:59.1%;
	top:74.3%;	
}
#unit_430{
	left:59.1%;
	top:89%;	
}
#unit_431{
	left:51.6%;
	top:89%;	
}
#unit_432{
	left:42.1%;
	top:89%;	
}
#unit_433{
	left:36.5%;
	top:89%;	
}
#unit_434{
	left:31.4%;
	top:89%;	
}
#unit_435{
	left:30.7%;
	top:74.3%;	
}
#unit_436{
	left:25.8%;
	top:89%;	
}
#unit_437{
	left:20.8%;
	top:74.3%;	
}
#unit_438{
	left:19.8%;
	top:89%;	
}
#unit_439{
	left:14.8%;
	top:74.3%;	
}
#unit_440{
	left:14.8%;
	top:89%;	
}

#unit_502{
	left:80.5%;
	top:6.3%;	
}
#unit_503{
	left:80.5%;
	top:21.7%;	
}
#unit_504{
	left:74.1%;
	top:6.3%;	
}
#unit_505{
	left:74.1%;
	top:21.7%	
}
#unit_506{
	left:68.5%;
	top:6.3%;	
}
#unit_507{
	left:68.5%;
	top:21.7%	
}
#unit_508{
	left:62.1%;
	top:6.3%;
}
#unit_509{
	left:62.1%;
	top:21.7%	
}
#unit_510{
	left:57.7%;
	top:6.3%;;	
}
#unit_511{
	left:51.6%;
	top:6.3%;	
}
#unit_512{
	left:42.1%;
	top:6.3%;	
}
#unit_513{
	left:42.1%;
	top:21.7%	
}
#unit_514{
	left:51.6%;
	top:21.7%	
}
#unit_515{
	left:42.1%;
	top:38.4%;	
}
#unit_516{
	left:51.6%;
	top:42.5%;	
}
#unit_517{
	left:42.1%;
	top:49.1%;	
}
#unit_518{
	left:51.6%;
	top:52.9%;	
}
#unit_519{
	left:42.1%;
	top:58.3%;	
}
#unit_520{
	left:51.6%;
	top:74.3%;	
}
#unit_521{
	left:42.1%;
	top:74.3%;	
}

#unit_523{
	left:78.5%;
	top:74.3%;	
}
#unit_524{
	left:78.5%;
	top:89%;	
}
#unit_525{
	left:74.1%;
	top:74.3%;	
}
#unit_526{
	left:70.7%;
	top:89%;	
}
#unit_527{
	left:68.5%;
	top:74.3%;	
}
#unit_528{
	left:65.2%;
	top:89%;	
}
#unit_529{
	left:59.1%;
	top:74.3%;	
}
#unit_530{
	left:59.1%;
	top:89%;	
}
#unit_531{
	left:51.6%;
	top:89%;	
}
#unit_532{
	left:42.1%;
	top:89%;	
}
#unit_533{
	left:36.5%;
	top:89%;	
}
#unit_534{
	left:31.4%;
	top:89%;	
}
#unit_535{
	left:30.7%;
	top:74.3%;	
}
#unit_536{
	left:25.8%;
	top:89%;	
}
#unit_537{
	left:20.8%;
	top:74.3%;	
}
#unit_538{
	left:19.8%;
	top:89%;	
}
#unit_539{
	left:14.8%;
	top:74.3%;	
}
#unit_540{
	left:14.8%;
	top:89%;	
}

#unit_602{
	left:80.5%;
	top:6.3%;	
}
#unit_603{
	left:80.5%;
	top:21.7%;	
}
#unit_604{
	left:74.1%;
	top:6.3%;	
}
#unit_605{
	left:74.1%;
	top:21.7%	
}
#unit_606{
	left:68.5%;
	top:6.3%;	
}
#unit_607{
	left:68.5%;
	top:21.7%	
}
#unit_608{
	left:62.1%;
	top:6.3%;
}
#unit_609{
	left:62.1%;
	top:21.7%	
}
#unit_610{
	left:57.7%;
	top:6.3%;;	
}
#unit_611{
	left:51.6%;
	top:6.3%;	
}
#unit_612{
	left:42.1%;
	top:6.3%;	
}
#unit_613{
	left:42.1%;
	top:21.7%	
}
#unit_614{
	left:51.6%;
	top:21.7%	
}
#unit_615{
	left:42.1%;
	top:38.4%;	
}
#unit_616{
	left:51.6%;
	top:42.5%;	
}
#unit_617{
	left:42.1%;
	top:49.1%;	
}
#unit_618{
	left:51.6%;
	top:52.9%;	
}
#unit_619{
	left:42.1%;
	top:58.3%;	
}
#unit_620{
	left:51.6%;
	top:74.3%;	
}
#unit_621{
	left:42.1%;
	top:74.3%;	
}

#unit_623{
	left:78.5%;
	top:74.3%;	
}
#unit_624{
	left:78.5%;
	top:89%;	
}
#unit_625{
	left:74.1%;
	top:74.3%;	
}
#unit_626{
	left:70.7%;
	top:89%;	
}
#unit_627{
	left:68.5%;
	top:74.3%;	
}
#unit_628{
	left:65.2%;
	top:89%;	
}
#unit_629{
	left:59.1%;
	top:74.3%;	
}
#unit_630{
	left:59.1%;
	top:89%;	
}
#unit_631{
	left:51.6%;
	top:89%;	
}
#unit_632{
	left:42.1%;
	top:89%;	
}
#unit_633{
	left:36.5%;
	top:89%;	
}

#unit_635{
	left:27.7%;
	top:74.3%;	
}
#unit_636{
	left:25.8%;
	top:89%;	
}

#unit_639{
	left:14.8%;
	top:74.3%;	
}
#unit_640{
	left:14.8%;
	top:89%;	
}

#unit_702,#unit_802{
	left:67.5%;
	top:6.3%;	
}
#unit_703,#unit_803{
	left:67.5%;
	top:21.7%;	
}
#unit_704,#unit_804{
	left:61.1%;
	top:6.3%;	
}
#unit_705,#unit_805{
	left:61.1%;
	top:21.7%	
}
#unit_706,#unit_806{
	left:55.5%;
	top:6.3%;	
}
#unit_707,#unit_807{
	left:55.5%;
	top:21.7%	
}
#unit_708,#unit_808{
	left:49.1%;
	top:6.3%;
}
#unit_709,#unit_809{
	left:49.1%;
	top:21.7%	
}
#unit_710,#unit_810{
	left:44.7%;
	top:6.3%;;	
}
#unit_711,#unit_811{
	left:38.6%;
	top:6.3%;	
}
#unit_712,#unit_812{
	left:29.1%;
	top:6.3%;	
}
#unit_713,#unit_813{
	left:29.1%;
	top:21.7%	
}
#unit_714,#unit_814{
	left:38.6%;
	top:21.7%	
}
#unit_715,#unit_815{
	left:29.1%;
	top:38.4%;	
}
#unit_716,#unit_816{
	left:38.6%;
	top:42.5%;	
}
#unit_717,#unit_817{
	left:29.1%;
	top:49.1%;	
}
#unit_718,#unit_818{
	left:38.6%;
	top:52.9%;	
}
#unit_719,#unit_819{
	left:29.1%;
	top:58.3%;	
}
#unit_720,#unit_820{
	left:38.6%;
	top:74.3%;	
}
#unit_721,#unit_821{
	left:29.1%;
	top:74.3%;	
}

#unit_723,#unit_823{
	left:65.5%;
	top:74.3%;	
}
#unit_724,#unit_824{
	left:65.5%;
	top:89%;	
}
#unit_725,#unit_825{
	left:61.1%;
	top:74.3%;	
}
#unit_726,#unit_826{
	left:57.7%;
	top:89%;	
}
#unit_727,#unit_827{
	left:55.5%;
	top:74.3%;	
}
#unit_728,#unit_828{
	left:52.2%;
	top:89%;	
}
#unit_729,#unit_829{
	left:46.1%;
	top:74.3%;	
}
#unit_730,#unit_830{
	left:46.1%;
	top:89%;	
}
#unit_731,#unit_831{
	left:38.6%;
	top:89%;	
}
#unit_732,#unit_832{
	left:29.1%;
	top:89%;	
}

#unit_902{
	left:65.5%;
	top:6.3%;	
}
#unit_903{
	left:65.5%;
	top:21.7%;	
}

#unit_906{
	left:53.5%;
	top:6.3%;	
}
#unit_907{
	left:55.5%;
	top:21.7%	
}

#unit_909{
	left:49.1%;
	top:21.7%	
}
#unit_910{
	left:44.7%;
	top:6.3%;;	
}
#unit_911{
	left:38.6%;
	top:6.3%;	
}
#unit_912{
	left:29.1%;
	top:6.3%;	
}
#unit_913{
	left:29.1%;
	top:21.7%	
}
#unit_914{
	left:38.6%;
	top:21.7%	
}
#unit_915{
	left:29.1%;
	top:38.4%;	
}
#unit_916{
	left:38.6%;
	top:42.5%;	
}
#unit_917{
	left:29.1%;
	top:49.1%;	
}
#unit_918{
	left:38.6%;
	top:52.9%;	
}
#unit_919{
	left:29.1%;
	top:58.3%;	
}
#unit_920{
	left:38.6%;
	top:74.3%;	
}
#unit_921{
	left:29.1%;
	top:74.3%;	
}

#unit_923{
	left:63.5%;
	top:74.3%;	
}
#unit_924{
	left:63.5%;
	top:89%;	
}

#unit_927{
	left:55.5%;
	top:74.3%;	
}
#unit_928{
	left:54.2%;
	top:89%;	
}
#unit_929{
	left:46.1%;
	top:74.3%;	
}
#unit_930{
	left:46.1%;
	top:89%;	
}
#unit_931{
	left:38.6%;
	top:89%;	
}
#unit_932{
	left:29.1%;
	top:89%;	
}


#unit_1011{
	left:52.6%;
	top:6.3%;	
}
#unit_1012{
	left:43.1%;
	top:6.3%;	
}
#unit_1013{
	left:43.1%;
	top:21.7%	
}
#unit_1014{
	left:52.6%;
	top:21.7%	
}
#unit_1015{
	left:43.1%;
	top:38.4%;	
}
#unit_1016{
	left:52.6%;
	top:42.5%;	
}
#unit_1017{
	left:43.1%;
	top:49.1%;	
}
#unit_1018{
	left:52.6%;
	top:52.9%;	
}
#unit_1019{
	left:43.1%;
	top:58.3%;	
}
#unit_1020{
	left:52.6%;
	top:72.3%;	
}
#unit_1021{
	left:43.1%;
	top:72.3%;	
}

#unit_1031{
	left:52.6%;
	top:89%;	
}
#unit_1032{
	left:43.1%;
	top:89%;	
}

#unit_1111,#unit_1211,#unit_1311{
	left:52.6%;
	top:6.3%;	
}
#unit_1112,#unit_1212,#unit_1312{
	left:43.1%;
	top:6.3%;	
}
#unit_1113,#unit_1213,#unit_1313{
	left:43.1%;
	top:21.7%	
}
#unit_1114,#unit_1214,#unit_1314{
	left:52.6%;
	top:21.7%	
}
#unit_1115,#unit_1215,#unit_1315{
	left:43.1%;
	top:38.4%;	
}
#unit_1116,#unit_1216,#unit_1316{
	left:52.6%;
	top:42.5%;	
}
#unit_1117,#unit_1217,#unit_1317{
	left:43.1%;
	top:49.1%;	
}
#unit_1118,#unit_1218,#unit_1318{
	left:52.6%;
	top:52.9%;	
}
#unit_1119,#unit_1219,#unit_1319{
	left:43.1%;
	top:58.3%;	
}
#unit_1120,#unit_1220,#unit_1320{
	left:52.6%;
	top:72.3%;	
}
#unit_1121,#unit_1221,#unit_1321{
	left:43.1%;
	top:72.3%;	
}

#unit_1131,#unit_1231,#unit_1331{
	left:52.6%;
	top:89%;	
}
#unit_1132,#unit_1232,#unit_1332{
	left:43.1%;
	top:89%;	
}


#unit_1411{
	left:52.6%;
	top:6.3%;	
}
#unit_1412{
	left:43.1%;
	top:6.3%;	
}
#unit_1413{
	left:43.1%;
	top:21.7%	
}
#unit_1414{
	left:52.6%;
	top:21.7%	
}
#unit_1415{
	left:43.1%;
	top:38.4%;	
}
#unit_1416{
	left:52.6%;
	top:42.5%;	
}
#unit_1417{
	left:43.1%;
	top:49.1%;	
}
#unit_1418{
	left:52.6%;
	top:52.9%;	
}
#unit_1419{
	left:43.1%;
	top:58.3%;	
}
#unit_1420{
	left:52.6%;
	top:72.3%;	
}
#unit_1421{
	left:43.1%;
	top:72.3%;	
}

#unit_1431{
	left:52.6%;
	top:89%;	
}
#unit_1432{
	left:43.1%;
	top:89%;	
}

#unit_1511,#unit_1611{
	left:52.6%;
	top:6.3%;	
}
#unit_1512,#unit_1612{
	left:43.1%;
	top:6.3%;	
}
#unit_1513,#unit_1613{
	left:43.1%;
	top:21.7%	
}
#unit_1514,#unit_1614{
	left:52.6%;
	top:21.7%	
}
#unit_1515,#unit_1615{
	left:43.1%;
	top:38.4%;	
}
#unit_1516,#unit_1616{
	left:52.6%;
	top:42.5%;	
}
#unit_1517,#unit_1617{
	left:43.1%;
	top:49.1%;	
}
#unit_1518,#unit_1618{
	left:52.6%;
	top:52.9%;	
}
#unit_1519,#unit_1619{
	left:43.1%;
	top:58.3%;	
}
#unit_1520,#unit_1620{
	left:52.6%;
	top:72.3%;	
}
#unit_1521,#unit_1621{
	left:43.1%;
	top:72.3%;	
}

#unit_1531,#unit_1631{
	left:52.6%;
	top:89%;	
}
#unit_1532,#unit_1632{
	left:43.1%;
	top:89%;	
}

#unit_1511,#unit_1611{
	left:52.6%;
	top:6.3%;	
}
#unit_1512,#unit_1612{
	left:43.1%;
	top:6.3%;	
}
#unit_1513,#unit_1613{
	left:43.1%;
	top:21.7%	
}
#unit_1514,#unit_1614{
	left:52.6%;
	top:21.7%	
}
#unit_1515,#unit_1615{
	left:43.1%;
	top:38.4%;	
}
#unit_1516,#unit_1616{
	left:52.6%;
	top:42.5%;	
}
#unit_1517,#unit_1617{
	left:43.1%;
	top:49.1%;	
}
#unit_1518,#unit_1618{
	left:52.6%;
	top:52.9%;	
}
#unit_1519,#unit_1619{
	left:43.1%;
	top:58.3%;	
}
#unit_1520,#unit_1620{
	left:52.6%;
	top:72.3%;	
}
#unit_1521,#unit_1621{
	left:43.1%;
	top:72.3%;	
}

#unit_1531,#unit_1631{
	left:52.6%;
	top:89%;	
}
#unit_1532,#unit_1632{
	left:43.1%;
	top:89%;	
}

#unit_1711{
	left:52.6%;
	top:6.3%;	
}
#unit_1712{
	left:43.1%;
	top:6.3%;	
}
#unit_1713{
	left:43.1%;
	top:21.7%	
}
#unit_1714{
	left:52.6%;
	top:21.7%	
}
#unit_1715{
	left:43.1%;
	top:38.4%;	
}

#unit_1717{
	left:43.1%;
	top:52.1%;	
}

#unit_1720{
	left:52.6%;
	top:71.3%;	
}
#unit_1721{
	left:43.1%;
	top:71.3%;	
}

#unit_1731{
	left:48.6%;
	top:89%;	
}


