﻿html {
background:#f5f5f5;
border-top:3px solid #dead3e;
font-family:'Open Sans', sans-serif;
font-size:12px;
color:#6d6e71;
}

a,img,input,select,button::-moz-focus-inner {
outline:0!important;
outline:none!important;
border:0;
}

a {
text-decoration:none;
outline:none;
color:inherit;
}

.left {
float:left!important;
}

.right {
float:right!important;
}

.no_background {
background:none!important;
}

.no_margin {
margin:0!important;
}

.no_padding {
padding:0!important;
}


.featured ul li h2,.search_form button,#carousel div h2,.highlights div h2,#footer .footer_lists dl dt,h2.golden_stripes,.timeline h3,.search_filters .tabs a,.list_info strong,.sub_search button {
font-family:Oswald, sans-serif;
}

#wrapper {
width:1000px;
margin:0 auto;
}

#header {
overflow:hidden;
}

#header h1 {
float:left;
}

#header h1 a {
text-indent:-9999px;
display:block;
width:222px;
height:65px;
float:left;
margin:25px 0 0 20px;
background:url(../images/logo.png) no-repeat center center;
}

#header h1 a:hover {
opacity:0.8;
}

#header a {
float:right;
text-decoration:none;
color:#ca9d38;
font-size:14px;
margin:10px 5px 15px 0;
font-weight:600;
}

#header a:hover {
color:#194675;
}

#content {
background:#fff;
margin-top:20px;
-moz-box-shadow:0 0 7px #d5d4d4;
-webkit-box-shadow:0 0 7px #d5d4d4;
box-shadow:0 0 7px #d5d4d4;
padding:22px 30px 100px;
}

.featured {
}

.featured ul {
overflow:hidden;
}

.featured ul li {
float:left;
height:270px;
width:220px;
padding:10px 0 25px;
margin-left:19px;
}

.featured ul li:hover {
background:#f5f5f5;
}

.featured ul li:hover h2 {
color:#ab822c;
}

.featured ul li:hover div {
background:#dfb045;
box-shadow:none;
}

.featured ul li.first {
margin-left:3px;
}

.featured ul li h2 {
color:#3f6287;
margin-left:5px;
font-size:18px;
letter-spacing:1px;
font-weight:400;
text-transform:uppercase;
}

.featured ul li div {
padding:5px;
background:#fff;
box-shadow:0 0 5px #e0e0e0;
position:relative;
margin:15px 0 20px;
}

.featured ul li p {
padding:0 5px;
font-size:14px;
line-height:17px;
color:#9b9c9d;
font-weight:400;
}

.featured ul li p strong {
color:#3f6287;
}

.featured span.now_selling {
position:absolute;
top:0;
left:0;
width:62px;
height:64px;
display:inline-block;
background:url(../images/now_selling.png) no-repeat center center;
}

#carousel {
clear:both;
width:940px;
height:416px;
overflow:hidden;
position:relative;
z-index:1;
}

#nav {
width:100%;
text-align:center;
margin:15px 0 25px;
}

#nav a {
text-indent:-9999px;
display:inline-block;
width:13px;
height:13px;
margin-right:10px;
background:url(../images/dots.png) no-repeat;
background-position:-20px 0;
}

#nav a:hover,#nav a.activeSlide {
background-position:1px 0;
}

#carousel div h2,#carousel div h3,#carousel div a {
text-transform:uppercase;
position:absolute;
}

#carousel div h2 {
font-weight:400;
font-size:32px;
color:#fff;
bottom:57px;
left:20px;
letter-spacing:2px;
padding:3px 15px;
background:url(../images/brown_ghost.png) repeat;
}

#carousel div h3 {
left:32px;
bottom:27px;
color:#fff;
font-weight:600;
padding:2px 5px;
font-size:16px;
background:url(../images/blue_ghost.png) repeat;
}

#carousel div a {
right:10px;
bottom:14px;
background:#f5c147;
color:#453413;
padding:2px 10px;
font-size:14px;
}

.search_form,.header_search {
float:right;
margin-top:3px;
}

.header_search form {
clear:both;
margin-right:11px;
}

.header_search input {
color:#9c9c9c;
float:left;
border:1px solid #dedede;
padding:0 25px 0 5px;
font-size:12px;
width:147px;
height:30px;
line-height:30px;
background:#f5f5f5 url(../images/search_bg.png) no-repeat 153px 6px;
}

.header_search button {
border:none;
width:20px;
height:20px;
cursor:pointer;
margin:6px 0 0 -26px;
background:none;
}

.search_form a {
border:1px solid #8ba0b6;
background:url(../images/search_btn.png) repeat-x;
color:#7791aa;
cursor:pointer;
float:left;
height:30px;
line-height:30px;
margin-left:10px;
width:131px;
text-align:center;
font-weight:700;
}

.search_form a.find_app {
color:#b58e3f;
}

.highlights {
overflow:hidden;
clear:both;
margin-top:20px;
}

.highlights div {
width:460px;
background:url(../images/grey_stripe.png) repeat-x top center;
}

.highlights div h2,.blue_heading {
color:#3f6287;
margin-top:20px;
text-align:left;
font-size:18px;
letter-spacing:1px;
text-transform:uppercase;
}

.highlights div div {
width:430px;
height:180px;
padding:15px 15px 0;
background:#f5f5f5;
margin-top:12px;
overflow:hidden;
}

.highlights div div p {
overflow:hidden;
font-size:13px;
margin-bottom:15px;
}

.highlights div div p:hover img {
border:3px solid #dfb045;
}

.highlights div div p img {
border:3px solid #fff;
float:left;
margin-right:10px;
box-shadow:0 0 5px #e0e0e0;
}

.highlights div div p span {
color:#3f6287;
font-weight:600;
}

.highlights div.right div p {
color:#6d6e71;
font-size:12px;
}

.highlights form input {
float:left;
padding:3px 5px;
height:24px;
width:295px;
border:none;
font-size:12px;
border-left:1px solid #eaeaea;
border-right:1px solid #eaeaea;
background:url(../images/subscribe_input_bg.png) repeat-x;
}

.submit_button {
display:block;
text-indent:-9999px;
border:none;
float:left;
margin-left:20px;
width:83px;
height:28px;
cursor:pointer;
background:url(../images/submit.png) no-repeat center center;
}

.submit_button:hover {
opacity:0.8;
}

#footer {
padding:20px 40px;
-moz-box-shadow:0 0 6px #d5d4d4;
-webkit-box-shadow:0 0 6px #d5d4d4;
box-shadow:0 0 6px #d5d4d4;
background:#fff url(../images/thick_grey_stripe.png) repeat-x top center;
}

#footer .footer_lists {
overflow:hidden;
}

#footer .footer_lists dl {
float:left;
margin-right:52px;
margin-right:40px;
}

#footer .footer_lists dl.first {
margin-right:80px;
}

#footer .footer_lists dl.last {
margin-right:0;
}

#footer .footer_lists dl dt {
padding-bottom:12px;
letter-spacing:1px;
text-transform:uppercase;
}

#footer .footer_lists dl dd a {
color:#21578f;
font-weight:600;
text-decoration:none;
}

#footer .footer_lists dl dd a.active {
color: #D8A73C;
}

#footer .footer_lists dl dd a:hover {
text-decoration:underline;
}

#footer .footer_lists dl dd input {
padding:3px 5px;
height:24px;
width:190px;
border:none;
margin-bottom:10px;
display:block;
font-size:12px;
border-left:1px solid #eaeaea;
border-right:1px solid #eaeaea;
background:url(../images/subscribe_input_bg.png) repeat-x;
}

#footer .submit_button {
margin-left:11px;
}

.social_links {
margin-top:4px;
float:left;
}

.social_links li {
float:left;
margin-right:5px;
}

.social_links li a {
float:left;
display:block;
text-indent:-9999px;
width:22px;
height:21px;
background:url(../images/footer_socials.png) no-repeat;
}

.social_links li a:hover {
opacity:0.8;
}

.social_links a.fb {
background-position:-28px 0;
}

.social_links a.lin {
background-position:-55px 0;
}

.social_links a.vim {
background-position:-82px 0;
}

.copyrights {
font-size:10px;
height:22px;
position:relative;
top:-20px;
float:left;
line-height:22px;
}

.copyrights a {
display:block;
float:left;
width:22px;
height:25px;
margin-right:15px;
background:url(../images/home.png) no-repeat;
}

.copyrights a:hover {
opacity:0.8;
}

.inner_header_image {
clear:both;
border-bottom:3px solid #f5c147;
}

.columns {
overflow:hidden;
clear:both;
}

.columns div {
float:left;
}

.sub_menu {
width:200px;
margin-top:60px;
margin-left:10px;
}

.sub_menu ul li a {
text-transform:uppercase;
padding:5px 0;
display:block;
color:#a7a9ac;
font-weight:600;
border-bottom:1px solid #e1e6eb;
}

.sub_menu ul li a:hover {
color:#3f6287;
}

.sub_menu ul li a.active {
color:#d8a73c;
}

.main {
width:460px;
margin:15px 0 0 20px;
font-size:13px;
}

.main h1,.search_heading h1 {
font-weight:300;
display:block;
font-size:34px;
color:#cd9f39;
margin-bottom:15px;
}

.main p.golden {
font-size:16px;
color:#cd9f39;
}

.main p.blue_text {
font-size:16px;
color:#002f60;
}

.main p {
margin-bottom:15px;
}

h2.golden_stripes {
display:block;
padding:15px 0;
color:#3f6287;
font-weight:400;
font-size:17px;
letter-spacing:1px;
text-transform:uppercase;
background:url(../images/golden_stripe.png) repeat-x top;
}

.sidebar {
width:220px;
float:right!important;
}

p.quote {
margin-top:87px;
}

p.quote em {
display:block;
color:#fff;
padding:15px 18px 30px;
background:#f5c147;
font-weight:700;
font-size:15px;
}

p.quote span {
width:29px;
height:23px;
background:url(../images/quote_triangle.png) no-repeat center center;
display:block;
margin-left:30px;
}

p.sub_tip {
margin-left:80px;
font-size:11px;
}

p.sub_tip strong {
font-size:12px;
display:block;
}

.sidebar h2 {
margin-top:39px;
}

.company_highlights li {
padding:5px 7px;
background:#f5f5f5;
color:#6d6e71;
font-weight:600;
margin-bottom:5px;
font-size:13px;
}

.two_columns {
width:710px;
}

.two_columns .left {
width:460px;
}

.two_columns h2 {
clear:both;
}

.two_columns .right img {
border:1px solid #8ca1b7;
}

.jcarousel-container-horizontal {
width:600px;
}

.jcarousel-clip {
overflow:hidden;
}

.jcarousel-clip-horizontal {
width:618px;
height:350px;
}

.jcarousel-item {
width:205px;
height:350px;
background:#818182;
border-right:1px solid #d1d3d4;
}

.jcarousel-next-horizontal,.jcarousel-prev-horizontal {
position:absolute;
top:85px;
width:35px;
height:32px;
cursor:pointer;
}

.jcarousel-next-horizontal {
right:-53px;
background:transparent url(../images/next.png) no-repeat 0 0;
}

.jcarousel-prev-horizontal {
left:-36px;
background:transparent url(../images/prev.png) no-repeat 0 0;
}

.jcarousel-next-horizontal:hover,.jcarousel-prev-horizontal:hover {
opacity:0.8;
}

.timeline ul li p {
color:#fff;
padding:0 15px;
font-size:11px;
}

.timeline ul li img {
border:2px solid #ebbb4c;
margin:15px 15px 12px;
}

.timeline h3 {
display:block;
background:#efefef;
color:#6d6e71;
font-size:22px;
padding:4px 16px;
}

.contact_form label {
cursor:pointer;
font-weight:600;
margin-bottom:20px;
display:block;
}

.contact_form input,.contact_form textarea,#newsletter_form input {
display:block;
font-size:12px;
width:320px;
padding:3px 5px;
background:#f9f9f9;
border:1px solid #e6e7e8;
}

.contact_form textarea {
resize:none;
height:120px;
}

.contact_form button {
margin-left:0;
}

.contacts_side_margin {
margin-top:200px;
}

.contacts_map {
border:3px solid #f5c147;
margin-bottom:20px;
}

.sidebar address {
font-size:11px;
}

.sidebar address strong {
font-weight:700;
font-size:12px;
}

.sidebar address strong.blue {
color:#21578f;
}

.outreach_image {
border:1px solid #8ca1b7;
margin:90px 0 100px;
}

.our_people {
font-size:11px;
text-transform:uppercase;
}

.our_people img {
border:3px solid #dead3e;
}

.our_people strong {
font-size:13px;
margin-top:6px;
display:block;
}

.com_project_highlights {
overflow:hidden;
}

.com_project_highlights div {
border:3px solid #3f6287;
float:left;
position:relative;
margin-right:15px;
}

.com_project_highlights a {
display:block;
}

.com_project_highlights div h4 {
position:absolute;
background:url(../images/blue_ghost.png) repeat;
color:#fff;
width:160px;
bottom:0;
font-size:12px;
line-height:14px;
letter-spacing:1px;
font-weight:500;
text-transform:uppercase;
height:30px;
padding:5px 1px;
}


.project_highlights {
overflow:hidden;
}

.project_highlights div {
border:3px solid #3f6287;
float:left;
position:relative;
margin-right:15px;
}

.project_highlights a {
display:block;
}

.project_highlights div h3 {
position:absolute;
background:url(../images/blue_ghost.png) repeat;
color:#fff;
width:194px;
bottom:0;
font-size:18px;
line-height:20px;
letter-spacing:1px;
font-weight:600;
text-transform:uppercase;
height:80px;
padding:5px 10px;
}

.filters {
margin-bottom:20px;
overflow:hidden;
}

.filters a {
padding:0 10px;
background:#f9f9f9;
color:#3f6287;
border:1px solid #3f6287;
display:block;
float:left;
margin-right:15px;
}

.filters a:hover,.filters a.active {
background:#3f6287;
color:#fff;
}

.news_list {
clear:both;
}

.news_list li {
margin-bottom:40px;
display:block;
}

.news_list li h3 {
display:block;
margin:5px 0 10px;
}

.news_list li h3 a {
color:#002f60;
font-size:16px;
font-weight:700;
}

.news_list li h3 a:hover {
background:#f8e2ab;
}

.side_box {
background:#f5f5f5;
overflow:hidden;
margin-top:50px;
width:100%;
padding-bottom:10px;
}

#newsletter_form input {
width:188px;
display:block;
margin:0 0 10px 10px;
}

#newsletter_form label {
display:block;
margin:10px 0 10px 10px;
}

.side_box h4 {
display:block;
background:#21578f;
color:#fff;
padding:3px 9px;
text-transform:uppercase;
}

#newsletter_form button {
float:right;
margin-right:10px;
}

.side_box a {
display:block;
margin:10px 10px 0;
font-weight:600;
color:#21578f;
}

.side_box a:hover {
text-decoration:underline;
}

.related_project_img {
margin-top:60px;
display:block;
}

.bullets {
margin-left:15px;
}

.bullets li {
list-style:circle;
}

.search_heading {
background:url(../images/golden_stripe.png) repeat-x top;
padding-top:20px;
clear:both;
line-height:42px;
}

.search_heading h1 {
padding-bottom:25px;
margin-bottom:10px;
}

.search_heading div.stripes_background {
background:url(../images/golden_stripe.png) repeat-x bottom;
height:3px;
clear:both;
padding-top:10px;
margin-bottom:10px;
}

.search_heading h1 small {
display:block;
font-size:14px;
}

.checkbox_holder {
overflow:hidden;
float:right;
}

.checkbox_holder div {
float:left;
width: 150px;
}

.checkbox_holder div h2 {
font-size:15px;
height:35px;
color:#cca037;
}

.search_filters {
display:none;
clear:both;
background:#e8e8e8;
padding:15px 0 0 15px;
overflow:hidden;
border-bottom:5px solid #d6a93e;
}

.search_filters .tabs {
float:left;
}

.search_filters .tabs a {
color:#1c436d;
font-size:18px;
display:block;
width:140px;
height:66px;
line-height:66px;
text-align:center;
}

.search_filters .tabs a.current {
background:url(../images/filters_bg.png) repeat-x;
color:#fff;
}

.search_filters .tabs a#sale.current {
background:#133456;
color:#fff;
}

.dropdowns {
overflow:hidden;
height:107px;
padding:25px 0 0 10px;
background:url(../images/filters_bg.png) repeat-x;
}

.dropdowns div {
float:left;
margin-left:20px;
}

.dropdowns div p {
margin-bottom:18px;
}

.dropdowns button {
border:10px solid #ca9d38;
height:82px;
width:154px;
color:#1c436d;
font-weight:600;
cursor:pointer;
font-size:12px;
text-align:center;
background:url(../images/find_button.png) repeat-x;
}

#sale_box {
display:none;
}

.views {
padding-left:10px;
}

.views a {
font-size:19px;
color:#3f6287;
padding-right:29px;
margin-right:30px;
}

.views a.active {
color:#c89e3a;
}

#list {
background:url(../images/list_view.png) no-repeat center right;
}

#map {
background:url(../images/map_view.png) no-repeat center right;
}

.result_info {
line-height:35px;
overflow:hidden;
clear:both;
margin:10px 0;
}

.result_info .count {
height:35px;
float:right;
width:145px;
font-size:15px;
font-weight:600;
background:#cd9f39;
text-align:right;
text-transform:uppercase;
padding-right:15px;
color:#fff;
}

.result_info .breadcrumbs {
height:35px;
float:left;
color:#3f6287;
font-size:13px;
padding-left:15px;
width:762px;
background:#f5c147;
}

#map_view {
display:none;
}

#list_view ul li {
overflow:hidden;
padding:15px;
}

#list_view ul li.odd {
background:#f5f5f5;
}

#list_view ul li div {
float:left;
}

.list_image {
margin-right:20px;
}

.list_image a img {
border:3px solid #c89e3a;
}

.list_image:hover img {
border:3px solid #21578f;
}

.list_text {
width:340px;
margin-right:20px;
}

.list_text h2 a {
color:#002f60;
font-size:18px;
}

.list_text address {
display:block;
margin:5px 0 8px;
}

.list_info {
width:280px;
overflow:hidden;
}

.list_info strong {
color:#bc9234;
font-size:18px;
font-weight:400;
letter-spacing:1px;
display:block;
overflow:hidden;
}

.list_info strong span {
float:left;
}

.list_info strong a {
float:right;
display:block;
width:23px;
height:19px;
margin:4px 18px 0 0;
}

.list_info strong a:hover {
opacity:0.8;
}

.list_info strong a.mail {
background:url(../images/mail.png) no-repeat center center;
}

.list_info strong a.cog {
background:url(../images/cog.png) no-repeat center center;
}

.list_info table {
color:#3b3734;
font-size:13px;
margin-top:15px;
font-weight:500;
}

.list_info table tr td.left_cell {
width:90px;
color:#7f7770;
padding-bottom:5px;
}

.go_top,.go_back,.go_next {
display:block;
font-size:18px;
margin-top:15px;
color:#cd9f39;
}

.controls {
overflow:hidden;
clear:both;
}

.sub_search div div {
height:140px;
}

.sub_search .left div a img {
border:3px solid #cd9f39;
}

.sub_search .left div a span {
display:block;
margin-bottom:5px;
}

.sub_search .right form input {
width:150px;
}

.sub_search button {
color:#fff;
background:#00264e;
margin-left:15px;
width:35px;
height:29px;
font-size:15px;
text-align:center;
border:none;
cursor:pointer;
line-height:29px;
letter-spacing:1px;
}

.sub_search .right ul {
float:right;
overflow:hidden;
position:relative;
right:20px;
top:-30px;
}

.sub_search .right ul li {
float:left;
}

.sub_search .right ul li a {
float:left;
display:block;
width:30px;
height:30px;
margin-left:10px;
background:url(../images/big_social_grey.png);
}

.sub_search .right ul li a:hover {
opacity:0.8;
}

.sub_search .right ul li a.big_fb {
background-position:-40px 0;
}

.sub_search .right ul li a.big_lin {
background-position:-80px 0;
}

.sub_search .right ul li a.big_vim {
background-position:-120px 0;
}

.property_inner .breadcrumbs {
background:#d6a93e;
color:#fff;
width:720px;
}

.property_inner .count {
background:#d67b32;
width:185px;
}

.inner_header {
height:388px;
}

.inner_header h2 {
color:#fff;
background:#f5c147;
width:198px;
padding:10px 20px;
height:68px;
text-transform:uppercase;
font-size:22px;
line-height:22px;
}

.inner_header .left div {
background:url(../images/inner_blue.png) repeat-x;
color:#fff;
height:270px;
font-size:13px;
padding:15px;
}

.inner_header .left div span {
color:#f5c147;
font-weight:600;
}

.property_banner {
display:block;
margin-top:50px;
}

.sub_menu ol li {
float:left;
}

.sub_menu ol li a {
float:left;
display:block;
width:30px;
margin-right:15px;
height:30px;
background:url(../images/blue_social.png) no-repeat;
}

.sub_menu ol li a:hover {
opacity:0.8;
}

.sub_menu ol {
margin:70px 0 0 10px;
overflow:hidden;
}

.sub_menu ol li a.blue_fb {
background-position:-40px 0;
}

.sub_menu ol li a.blue_mail {
background-position:-80px 0;
}

.apartment_types tr td {
width:25%;
padding-bottom:3px;
}

.apartment_types tr td a {
color:#21578f;
font-weight:500;
}

.apartment_types tr td a:hover {
text-decoration:underline;
}

.office_hours {
margin:80px 0 15px;
}

.cell_title {
width:70px;
}

.reserve_box {
margin-bottom:30px;
background:#f5f5f5;
padding:15px;
font-size:11px;
width:100%;
}

.reserve_box span {
display:block;
margin-bottom:10px;
font-weight:600;
}

.quick_reserve {
width:121px;
height:28px;
display:block;
background:url(../images/reserve_now.png) no-repeat center center;
}

.services {
width:140px;
height:28px;
display:block;
background:url(../images/service.png) no-repeat center center;
}

.popup {
background-color:#FFFFFF;
border-radius:3px 3px 3px 3px;
box-shadow:0 0 13px rgba(0,0,0,0.38);
display:none;
line-height:15px;
padding:20px 18px 27px;
position:absolute;
width:476px;
}

.floor_plans li {
margin-bottom:10px;
display:block;
overflow:hidden;
}

.floor_plans li h2,.popup h2 {
color:#6d6e71;
font-size:18px;
text-transform:uppercase;
}

.floor_plans li div {
background:#f5f5f5;
padding:10px;
width:100%;
}

.floor_plans li div img {
float:left;
margin-right:15px;
border:3px solid #f5f5f5;
}

.floor_plans li div img:hover {
border:3px solid #21578f;
}

.full_width {
width:710px;
}

.floor_plans li div h3 {
color:#cd9f39;
display:block;
margin-bottom:20px;
font-size:16px;
}

.floor_plans table {
color:#414042;
}

.floor_plans .titles {
font-weight:700;
font-size:14px;
}

.floor_plans .titles td {
border-bottom:1px solid #6d6e71;
padding-right:30px;
}

.floor_plans .titles td.last {
padding-right:0;
}

.floor_plans table a {
font-weight:700;
color:#21578f;
}

.popup h2 {
margin-bottom:20px;
}

.pop_arrow {
position:absolute;
top:50%;
background:url(../images/pop_arrow.png) no-repeat center center;
left:-15px;
display:block;
width:15px;
height:41px;
}

.commercial_heading {
margin-bottom:15px;
background:url(../images/grey_stripe.png) repeat-x top;
}

.commercial_heading h1 {
background:none!important;
padding-bottom:0!important;
color:#69a4e2!important;
}

.commercial_heading p {
line-height:17px;
padding-bottom:15px;
background:url(../images/grey_stripe.png) repeat-x bottom;
}

.commercial_info .breadcrumbs {
background:#616263;
color:#fff;
}

.commercial_info .count {
background:#69a4e2;
}

.commercial_list .list_text {
width:190px;
}

.commercial_list .list_image {
margin-right:10px;
}

.commercial_list .list_image img {
border:3px solid #3f6287;
}

.commercial_list .list_image img:hover {
border:3px solid #cd9f39;
}

.grey_text a {
color:#616263!important;
}

.commercial_inner_header h2 {
background:#69a4e2!important;
}

.learn_more {
display:block;
background:url(../images/learn_more.png) no-repeat center center;
width:121px;
height:28px;
}

.downloads li {
display:block;
margin-bottom:3px;
}

.downloads li a {
color:#21578f;
}

.downloads li a:hover {
text-decoration:underline;
}

.selectFancy {
width:160px;
height:32px;
overflow:hidden;
display:block;
margin:0;
padding:0;
}

.selectFancy em {
width:150px;
height:32px;
overflow:hidden;
display:block;
margin:0;
padding:0;
background:transparent url(../images/select.png) no-repeat scroll 0 0;
font-style:normal;
line-height:32px;
padding:0 0 0 10px;
cursor:default;
}

.selectFancy em.selected {
background:transparent url(../images/select.png) no-repeat scroll 0 -32px;
}

.selectFancy span {
position:absolute;
display:none;
width:148px;
padding:5px;
background:#F4F4F4;
cursor:default;
border:1px solid #E0E0E0;
border-top:0;
line-height:25px;
}

.selectFancy span input {
cursor:pointer;
}

.searchFilter a {
visibility:hidden;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}

.searchFilter a.on {
background:url(../images/onOff.gif) no-repeat scroll 0 5px;
padding:0 0 0 20px;
color:#795B1D;
cursor:pointer;
display:block;
height:20px;
line-height:20px;
font-size:11px;
font-weight:bold;
visibility:visible;
}

.searchFilter a.off {
background:url(../images/onOff.gif) no-repeat scroll 0 -34px;
padding:0 0 0 21px;
color:#795B1D;
cursor:pointer;
display:block;
height:20px;
line-height:20px;
font-size:11px;
font-weight:normal;
visibility:visible;
}

div.accordion {
 width: 708px;
 overflow: hidden;
 margin: 15px 0 0 0;
 padding: 0;
 border: 0;
}

.accordionButton {
 width: 658px;
 float: left;
 background: #DFDFDF url(../images/plusMinus.png) no-repeat scroll 8px 8px;
 height: 37px;
 line-height: 37px;
 overflow: hidden;
 font-size: 14px;
 border-bottom: 1px solid #fff;
 cursor:pointer;
 position: relative;
 padding: 0 5px 0 45px;
}

.accordionButton.on {
 background: #F0F0F0 url(../images/plusMinus.png) no-repeat scroll 8px -50px;
 border-bottom: 1px solid #F0F0F0;
}

.accordionButton strong {
 color: #A3772B;
}

.accordionButton.on strong {
}

.accordionContent {
 display: none;
 width: 708px;
 float: left;
 background: #F2F2F2;
 color: #67686B;
 margin: 0;
 padding: 0 0 18px 0;
 min-height: 80px;
}

.accordionContent p {
 padding: 10px 35px 0 45px;
 margin: 0;
 font-size: 15px;
 line-height: 21px;
}

