<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>The Washington Harbour | Event Information</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="http://fonts.googleapis.com/css?family=Michroma" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/assets/css/tooltipster.css">
        <link rel="stylesheet" href="/assets/css/superslides.css">
        <link rel="stylesheet" href="/assets/css/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/angular-pickadate.css">

        <link href="/assets/css/jquery.bxslider.css" rel="stylesheet" />
        <link rel="stylesheet/less" type="text/css" href="/assets/css/style.less">

        <script src="/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/assets/js/jquery.bxslider.min.js"></script>
        <script src="/assets/js/angular.min.js"></script>

        <script src="/assets/js/owl.carousel.js"></script>
        <script src="/assets/js/owl.carousel.home.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        
    </head>
    <body class="template-a-b events" ng-app="myngApp" id="ng-app" ng-controller="myController">
        
         <header id="header" ng-include src="'/nav.html'"></header>

        <section id="template-a-head" class="text-sections view-directory">
            <div class="title-two">Calendar of events</div>
            <div class="separator"></div>
            <div class="text-section">
                <p>This lifestyle center is a major highlight of the legendary neighborhood of Georgetown, with shops, restaurants, offices, and luxury condominiums. Come for the live entertainment and outdoor fun all year round.</p>
            </div>
        </section>

        <section class="events-wrapper">
            <div class="calendar-container">
                
                <div class="container">
                  <div pickadate ng-model="date" min-date="minDate" max-date="maxDate" disabled-dates="disabledDates" week-starts-on="0" no-extra-rows></div>
                  <div class="selected-date">
                  </div>
                </div>
            </div>
            <div class="events-container">
                <ul class="box"></ul>
                <div class="empty-msg"><span>No event found on selected or current day!</span></div>
            </div>
        </section>        
        <footer ng-include src="'/footer.html'"></footer>
        
        <script src="/assets/js/jquery.easing.1.3.js"></script>
        <script src="/assets/js/jquery.animate-enhanced.min.js"></script>
        <script src="/assets/js/jquery.superslides.js" type="text/javascript" charset="utf-8"></script>

        <script src="/assets/js/owl.carousel.js"></script>
        <script src="/assets/js/jquery.rwdImageMaps.min.js"></script>
        <script src="/assets/js/jquery.tooltipster.js"></script>
        <script src="/assets/js/less.js" type="text/javascript"></script>
        <script src="/assets/js/angular-pickadate.js"></script>
        <script src="/assets/js/main.js"></script>
        <script src="/assets/js/events.js"></script>

        <script>        
            // Google Analytics
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-57349170-1');ga('send','pageview');
        </script>
    </body>
</html>