﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="index.aspx.vb" Inherits="index" %>

<!DOCTYPE html>
<html class="no-js" ng-app="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>The Washington Harbour | Georgetown, Washington, DC</title>
        <meta name="description" content="The Washington Harbour, Georgetown Washington DC, Retail shopping, office, restaurants, residences and ice skating with year round entertainment.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Washington, Harbor, harbour, ice skating, rink, restaurants, dining, brunch, residences, office">
        <meta name="author" content="Interface Multimedia">

        <link href="http://fonts.googleapis.com/css?family=Michroma" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/assets/css/tooltipster.css">
        <link rel="stylesheet" href="/assets/css/superslides.css">
        <link rel="stylesheet" href="/assets/css/owl.carousel.css">
        <link rel="stylesheet" href="/assets/css/form.css">        
        <link rel="stylesheet/less" type="text/css" href="/assets/css/style.less">

        <script src="/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/assets/js/jquery.bxslider.min.js"></script>
        <script src="/assets/js/angular.min.js"></script>

        <script src="/assets/js/owl.carousel.js"></script>
        <!-- <script src="/assets/js/owl.carousel.s.js"></script> -->
        <script>            $(document).ready(function () { $("#owl-demo").owlCarousel(); });</script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="/assets/js/gmap.js"></script>        
                <link type="text/css" rel="stylesheet" href="assets/css/style.css"/> 
       <!-- <script src="assets/js/jq.js" type="text/javascript"></script> -->
        <script src="assets/js/custom.js" type="text/javascript"></script> 
    </head>
    <body class="homepage" id="homepage-top">
        <header id="header" style="visibility: hidden;">
            <div class="header-wrapper">
            </div>
            <div class="header-container">
                <a href="javascript:void(0);" class="logo go-top"><img src="/assets/img/blank.png" alt="Wahington Harbour" /></a>
                <nav id="nav">
                    <ul>
                        <li><a href="javascript:void(0);"><span class="dir">Directory</span></a></li>
                        <li><a href="/events.html"><span id="events-lnk">Events</a></span></li>
                        <li><a href="/visiting-parking.aspx/">Visiting &amp; Parking</a></li>
                        <li><a href="/ice-skating.aspx/">Ice skating</a></li>
                        <li><a href="/leasing.aspx/">Leasing</a></li>
                        <li><a href="/?contact-us"><span id="contactus">Contact us<span></a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <section id="home-top" class="home-top fullscreen">
            <div class="fullscreen" style="height: 500px;">
              
                <div class="video fullscreen" style="height:500px;">
                    <iframe width="100%" height="100%" frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="//player.vimeo.com/video/116285882?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;loop=1"></iframe>
                </div>
                <div class="overlay fullscreen" style="height: 339px;">
                    <div class="content fullscreen animated fadeInDown" style="opacity: 0.99811; height: 339px;">
                        <div class="container vertical-center" style="margin: 0 auto; text-align: center;">
                            <div class="main-logo"></div>
                            <div class="title">Washington Harbour</div>
                            <div class="separator"></div>
                            <div class="subtitle">Welcome to Washington, D.C.’s premier destination<br> on the Georgetown Waterfront.</div>
                            <div class="scroll"><a class="explore" href="javascript:void(0)">explore</a></div>
                        </div>                         
                    </div>
                </div>
            </div>
        </section>

        <section id="washington-harbour" class="text-sections view-directory">
            <div class="title-two">Washington Harbour</div>
            <div class="separator"></div>
            <div class="text-section">
                <p>Take a stroll along the boardwalk and take in the nation&rsquo;s iconic scenery &ndash; watch the boats, see the views of the Kennedy Center, Watergate, Key Bridge, and across the water to Virginia.</p>
                <p>Find restaurants, offices, and luxury condominiums. 
                Come for the live entertainment and outdoor fun all year round.</p>
            </div>
            <div class="view-dir-btn btn-style"><button class="dir">View Directory</button></div>
        </section>

        <section class="home-gallery" style="visibility:hidden;">
            <div id="slides">
                <ul class="slides-container">
                    <li>
                        <img src="/assets/img/gallery/home/final-image-gallery1-sm.jpg" width="1310" height="770" alt="Home Gallery image 1">
                        <div class="container1">
                            <div class="title-gallery">Gallery</div>
                            <div class="separator2"></div>
                        </div>
                        <div class="container2">
                            <h1>Find restaurants, offices and luxury condominiums</h1>
                            <p>Come for the live entertainment and&nbsp;outdoor fun all year round.</p>
                         </div>
                    </li>
                    <li>
                        <img src="/assets/img/gallery/home/final-image-gallery2-sm.jpg" width="1310" height="770" alt="Home Gallery image 2">
                        <div class="container1">
                            <div class="title-gallery">Gallery</div>
                            <div class="separator2"></div>
                        </div>
                        <div class="container2">
                            <h1>EXPERIENCE THE ENERGY OF WATERFRONT DINING</h1>
                            <p>Restaurants with beautiful views of the Potomac River and Rosslyn.</p>
                        </div>
                    </li>
                    <li>
                        <img src="/assets/img/gallery/home/final-image-gallery3-tiny.jpg" width="1310" height="770" alt="Home Gallery image 3">
                        <div class="container1">
                            <div class="title-gallery">Gallery</div>
                            <div class="separator2"></div>
                        </div>
                        <div class="container2">
                            <h1>WORLD CLASS DINING AT FIOLA MARE</h1>
                            <p>Evoking the Mediterranean seaside dining experience.</p>
                        </div>
                    </li>
                    <li>
                        <img src="/assets/img/gallery/home/final-image-gallery4-sm.jpg" width="1310" height="770" alt="Home Gallery image 4">
                        <div class="container1">
                            <div class="title-gallery">Gallery</div>
                            <div class="separator2"></div>
                        </div>
                        <div class="container2">
                            <h1>SPECTACULAR CENTRAL FOUNTAIN</h1>
                            <p>Surrounded by shops and restaurants.</p>
                        </div>
                    </li>
                    <li>
                        <img src="/assets/img/gallery/home/final-image-gallery5-sm.jpg" width="1310" height="770" alt="Home Gallery image 5">
                        <div class="container1">
                            <div class="title-gallery">Gallery</div>
                            <div class="separator2"></div>
                        </div>
                        <div class="container2">
                            <h1>Direct Covered Access to Restaurants</h1>
                            <p>Enjoy personalized concierge parking services.</p>
                        </div>
                    </li>
                    <li>
                        <img src="/assets/img/gallery/home/final-image-gallery6-sm.jpg" width="1310" height="770" alt="Home Gallery image 6">
                        <div class="container1">
                            <div class="title-gallery">Gallery</div>
                            <div class="separator2"></div>
                        </div>
                        <div class="container2">
                            <h1>TAKE IN THE VIEWS</h1>
                            <p>Stroll along the river front - meet friends for a drink.</p>
                        </div>
                    </li>
                    <li>
                        <img src="/assets/img/gallery/home/final-image-gallery7-sm.jpg" width="1310" height="770" alt="Home Gallery image 7">
                        <div class="container1">
                            <div class="title-gallery">Gallery</div>
                            <div class="separator2"></div>
                        </div>
                        <div class="container2">
                            <h1>WASHINGTON HARBOUR NIGHTS</h1>
                            <p>Relax and unwind at the rivers edge.</p>
                        </div>
                    </li>
                </ul>
                <nav class="slides-navigation">
                    <a href="#" class="next">Next</a>
                    <a href="#" class="prev">Previous</a>
                </nav>
            </div>
        </section>
        
        <section id="upcoming-events" class="text-sections upcoming-events">
            <div class="title-two">Upcoming events</div>
            <div class="separator"></div>
            <div class="text-section">
                 <p class="cms cmsType_TextMulti cmsName_Index_Page_UpcomingEvents"></p>
            </div>
        </section>

        <section id="events">
            <div id="owl-demo" class="owl-carousel owl-theme">
                <div class="item owl-item">
                    <div class="items-wrapper"><img class="cms cmsType_Image cmsName_index_event_image2" src="../cms/data/Image/<%=CMSFunctions.Image(Server.MapPath("~") & "\cms\data\", "index_event_image2")%>"  /><h2><a href="/events.html"><p class="cms cmsType_TextMulti cmsName_Index_event_link1"></p></a></h2><p class="cms cmsType_TextMulti cmsName_Index_event_text1"></p><p><span class="swipe">Please swipe to see more events.</span></p>
                    </div>
                </div>
                <div class="item owl-item">
                    <div class="items-wrapper"><img class="cms cmsType_Image cmsName_index_event_image3" src="../cms/data/Image/<%=CMSFunctions.Image(Server.MapPath("~") & "\cms\data\", "index_event_image3")%>"  /><h2><a href="/events.html"><p class="cms cmsType_TextMulti cmsName_Index_event_link2"></p></a></h2><p class="cms cmsType_TextMulti cmsName_Index_event_text2"></p><p><span class="swipe">Please swipe to see more events.</span></p>
                    </div>
                </div>
                <div class="item owl-item">
                    <div class="items-wrapper"><img class="cms cmsType_Image cmsName_index_event_image5" src="../cms/data/Image/<%=CMSFunctions.Image(Server.MapPath("~") & "\cms\data\", "index_event_image5")%>"  /><h2><a href="/events.html"><p class="cms cmsType_TextMulti cmsName_Index_event_link3"></p></a></h2><p class="cms cmsType_TextMulti cmsName_Index_event_text3"></p><p><span class="swipe">Please swipe to see more events.</span></p>
                    </div>
                </div>
                <div class="item owl-item">
                    <div class="items-wrapper"><img class="cms cmsType_Image cmsName_index_event_image4" src="../cms/data/Image/<%=CMSFunctions.Image(Server.MapPath("~") & "\cms\data\", "index_event_image4")%>"  /><h2><a href="/events.html"><p class="cms cmsType_TextMulti cmsName_Index_event_link4"></p></a></h2><p class="cms cmsType_TextMulti cmsName_Index_event_text4"></p><p><span class="swipe">Please swipe to see more events.</span></p>
                    </div>
                </div>
                <div class="item owl-item">
                    <div class="items-wrapper"><img class="cms cmsType_Image cmsName_index_event_image7" src="../cms/data/Image/<%=CMSFunctions.Image(Server.MapPath("~") & "\cms\data\", "index_event_image7")%>"  /><h2><a href="/events.html"><p class="cms cmsType_TextMulti cmsName_Index_event_link5"></p></a></h2><p class="cms cmsType_TextMulti cmsName_Index_event_text5"></p><p><span class="swipe">Please swipe to see more events.</span></p>
                    </div>
                </div>
                <div class="item owl-item">
                    <div class="items-wrapper"><img class="cms cmsType_Image cmsName_index_event_image6" src="../cms/data/Image/<%=CMSFunctions.Image(Server.MapPath("~") & "\cms\data\", "index_event_image6")%>"  /><h2><a href="/events.html"><p class="cms cmsType_TextMulti cmsName_Index_event_link6"></p></a></h2><p class="cms cmsType_TextMulti cmsName_Index_event_text6"><p><span class="swipe">Please swipe to see more events.</span></p>
                    </div>
                </div>
            </div>
        </section>

        <section class="all-events">
                <div class="all-events-btn btn-style"><a href="/events.html">See all events</a></div>
        </section>
        
        <section class="text-sections retailers-section">
            <div class="title-two">OUR RETAILERS</div>
            <div class="separator"></div>
            <div class="text-section">
                <p>Whether its coffee, brunch, dinner or drinks, Washington Harbour’s vibrant atmosphere delights and engages as you get to enjoy our most enticing attraction: the sparkling ambiance of a waterfront destination.</p>
            </div>
        </section>

        <section class="retailers retailers-a">
            <ul class="">
                <li class="retailer-u4"><a href="/retailers/starbucks.aspx/" target="_blank"><span>Starbucks<br>Coffee</span></a></li>
                <li class="retailer-l6"><a href="/retailers/tony-and-joes-seafood.aspx/" target="_blank"><span>Tony and Joe's<br>Seafood place</span></a></li>
                <li class="retailer-l3"><a href="/retailers/farmers-fishers-bakers.aspx/" target="_blank"><span>Farmers Fishers<br>Bakers</span></a></li>
                <li class="retailer-u1"><a href="/retailers/fiola-mare.aspx/" target="_blank"><span>Fiola Mare</span></a></li>
                <li class="retailer-l5"><a href="/retailers/sequoia.aspx/" target="_blank"><span>Sequoia</span></a></li>
                <li class="retailer-u5"><a href="/retailers/mama-rouge.aspx/" target="_blank"><span>Mama Rouge</span></a></li>
                <li class="retailer-l1"><a href="/retailers/nicks-riverside-grill.aspx/" target="_blank"><span>Nick's<br>Riverside Grill</span></a></li>
                <li class="retailer-l2"><a href="/retailers/orange-anchor.aspx/" target="_blank"><span>Orange Anchor</span></a></li>
            </ul>
        </section>

        <section class="retailers retailers-b">
            <ul class="">
                <li class="retailer-u6"><a href="/retailers/the-best-sandwich.aspx/" target="_blank"><span>The best<br>Sandwich Place</span></a></li>
                <li class="retailer-u3"><a href="/retailers/cafe-cantina.aspx/" target="_blank"><span>Cafe Cantina &amp; Pizza Pino</span></a></li>
                <li class="retailer-u2"><a href="/retailers/gelateria-dolce-vita.aspx/" target="_blank"><span>Gelateria<br>Dolce Vita</span></a></li>
                <li class="retailer-l8"><a href="/retailers/coldwell-banker.aspx/" target="_blank"><span>Coldwell<br>Banker</span></a></li>
                <li class="retailer-u7"><a href="/retailers/roche-salon.aspx/" target="_blank"><span>Roche Salon</span></a></li>
                <li class="retailer-u9"><a href="/retailers/capital-bike-share.aspx/" target="_blank"><span>Capital<br>Bikeshare</span></a></li>
                <li class="retailer-l4"><a href="/ice-skating.aspx/" target="_blank"><span>Ice Rink<br>Skate Shop</span></a></li>
                <li class="retailer-u11"><a href="/retailers/tour-boats.aspx/" target="_blank"><span>Potomac <br>Riverboat Company</span></a></li>
            </ul>
        </section>

        <section class="more-retailers">
            <div class="more-retailers-btn btn-style"><button>Show less</button></div>
        </section>        
        
        <section id="directory-start" class="text-sections interactivemap-head interactivemap-btn up">
            <div class="title-two">Directory</div>
            <div class="interactivebtn-wraper"><span class="interactivemap-btn"></span></div>
            <div class="text-section">
                <p></p>
            </div>
        </section>
        
        <section id="imagemap-wrapper" ng-include src="'/directory.html'"></section>
        
        <section class="text-sections location">
            <div class="title-two">Location</div>
            <div class="separator"></div>
            <div class="text-section">
               
            </div>
        </section>

        <section class="map-section">
            <div id="map-canvas" class="maap-wrapper"></div>
        </section>        
        
        <section class="map-directions">
                <div class="directions-btn btn-style"><a href="https://www.google.com/maps?es_sm=91&um=1&ie=UTF-8&gl=us&daddr=Washington+Harbour+Sales,+3050+K+St+NW,+Washington,+DC+20007&saddr=My+location&panel=1&f=d&fb=1&geocode=;KSO5zaayt7eJMU7zdey6M8_y&dirflg=d&sa=X&ei=jZp0VIiSDs35yQSuioHwBw&ved=0CCQQ-A8wAA" target="_blank">Map directions</a></div>
        </section>
        
        <section class="contact-section">
            <div class="contacts-wrapper">
                <div class="contacts contact-one">
                    <h3>The Washington Harbour</h3>
                    <p>3000 &amp; 3050 K Street NW <br> Washington, DC</p>
                </div>
                <div class="vertical-line"></div>
                <div class="contacts contact-two">
                    <h3>Leasing Contact</h3>
                    <p>Phone: 201-295-5007</p>
                    <p class="contact-leasing open-form">Contact us</p>
                </div>
                <div class="vertical-line"></div>
                <div class="contacts contact-three"><h3>Ice Skating Rink</h3>
                    <p>Phone: 202-706-7666</p>
                    <p class="contact-iceskating open-form">Contact us</p>
                </div>
            </div>
        </section>
        
        <section class="form-section" style="visibility: hidden;">
            <div class="contact-form-wrapper">
                <div id="main" style="padding:50px 0 0 0;">                
                <form id="contact-form" action="http://66.39.31.52/assets/process/process.php" method="post">
                    <h3>Contact <span class="contact-header"></span></h3>
                    <div class="input-container">
                        <input type="hidden" name="email_5151" class="email_5151" value="">
                        <input type="hidden" name="formselect" class="formselect" value="">
                    </div>
                    <div>
                        <label>
                            <span>Your Name</span>
                            <input name="name" class="name" placeholder="Please enter your name" type="text" tabindex="1" required autofocus>
                        </label>
                    </div>
                    <div>
                        <label>
                            <span>Your Email</span>
                            <input name="email" class="email" placeholder="Please enter your email address" type="email" tabindex="2" required>
                        </label>
                    </div>
                    <div>
                        <label>
                            <span>Your Message</span>
                            <textarea name="msg" class="msg" placeholder="Please enter your text" tabindex="5" required></textarea>
                        </label>
                    </div>
                    <div>
                        <button class="contact-submit btn-style" id="contact-submit" name="submit" type="submit">Send Email</button>
                    </div>
                </form>                
                </div>
            </div>
        </section>
        
        <section class="thank-you-section">
            <div class="message-wrapper">
                <h3>Thank you for contacting us. We will get in touch with you shortly.</h3>                   
            </div>
        </section>
        
        <footer ng-include src="'/footer.html'"></footer>

        <div class="loader"></div>

        <script src="/assets/js/vimeo/jquery.flexslider-min.js" type="text/javascript"></script>
        <script src="/assets/js/vimeo/waypoints.js" type="text/javascript"></script>
        <script src="/assets/js/vimeo//victoria.js" type="text/javascript"></script>
        <script src="/assets/js/jquery.easing.1.3.js"></script>
        <script src="/assets/js/jquery.animate-enhanced.min.js"></script>
        <script src="/assets/js/jquery.superslides.js" type="text/javascript" charset="utf-8"></script>
        <script src="/assets/js/jquery.rwdImageMaps.min.js"></script>
        <script src="/assets/js/jquery.tooltipster.js"></script>
        <script src="/assets/js/less.js" type="text/javascript"></script>
        <script src="/assets/js/main.js"></script>
        <script>
            // Google Analytics
            (function (b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l; b[l] || (b[l] =
            function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
                e = o.createElement(i); r = o.getElementsByTagName(i)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            } (window, document, 'script', 'ga'));
            ga('create', 'UA-57349170-1'); ga('send', 'pageview');
        </script>
    </body>
</html>