﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="visiting-parking.aspx.vb" Inherits="visiting_parking" %>
<%@ Import Namespace="System.IO" %>

<%
    'Dim pageURL As String = HttpContext.Current.Request.RawUrl
    'OriginalUrlPage = HttpContext.Current.Request.RawUrl
    'Dim PageName As String = Path.GetFileName(Request.PhysicalPath)
    'pageURL = Replace(pageURL, "/", "")
    'If InStr(pageURL, "?") > 0 Then
    '    pageURL = pageURL.Substring(0, pageURL.IndexOf("?"))
    '    pageURL = Replace(pageURL, "/", "")
    'End If
    'UrlPage = pageURL
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="no-js" ng-app="">
    <head>

    <%
        'pageURL = HttpContext.Current.Request.RawUrl
        'OriginalUrlPage = HttpContext.Current.Request.RawUrl
        'PageName  = Path.GetFileName(Request.PhysicalPath).ToLower
        'pageURL = Replace(pageURL, "/", "")
        'If InStr(pageURL, "?") > 0 Then
        '    pageURL = pageURL.Substring(0, pageURL.IndexOf("?"))
        '    pageURL = Replace(pageURL, "/", "")
        'End If
        'If pageURL = "Default.aspx" Then
        '    pageURL = ""
        'End If
%>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>The Washington Harbour | Visiting and Parking Information</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="http://fonts.googleapis.com/css?family=Michroma" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/assets/css/tooltipster.css">
        <link rel="stylesheet" href="/assets/css/superslides.css">

        <link href="/assets/css/jquery.bxslider.css" rel="stylesheet" />
        <link rel="stylesheet/less" type="text/css" href="/assets/css/style.less">

        <script src="/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/assets/js/jquery.bxslider.min.js"></script>
        <script src="/assets/js/angular.min.js"></script>
        <link type="text/css" rel="stylesheet" href="assets/css/style.css"/> 
        <!-- <script src="assets/js/jq.js" type="text/javascript"></script> -->
        <script src="assets/js/custom.js" type="text/javascript"></script>  

    </head>
    
    <body class="template-a template-a-b parking" id="parking">
        <header id="header" ng-include src="'/nav.html'"></header>

        <section id="template-a-head" class="text-sections view-directory">
            <div class="title-two">Visiting &amp; Parking</div>
            <div class="separator"></div>
            <div class="text-section">
                <p class="cms cmsType_TextMulti cmsName_VisitingParking_Page_FirstParagraph"></p>
            </div>
        </section>

        <section class="temp-a-gallery">
            <div class="bx-wrapperer">
                <ul class="bxslider">
                    <li><img src="/assets/img/gallery/visiting_parking/parking_img_01.jpg"/></li>
                    <li><img src="/assets/img/gallery/visiting_parking/parking_img_02.jpg"/></li>
                    <li><img src="/assets/img/gallery/visiting_parking/parking_img_03.jpg"/></li>
                </ul>
            </div>
        </section>
 
        <section class="information">
            <div class="left-container info-containers">
                <h2>Directions</h2>
                <p class="cms cmsType_Rich cmsName_VisitingParking_Page_Directions1"></p>
                <p class="cms cmsType_Rich cmsName_VisitingParking_Page_Directions2"></p>
                <p class="cms cmsType_Rich cmsName_VisitingParking_Page_Directions3"></p>
                <h2 class="transportation">Transportation</h2>
                <p class="cms cmsType_Rich cmsName_VisitingParking_Page_Transportation1"></p>
                <p class="cms cmsType_Rich cmsName_VisitingParking_Page_Transportation2"></p>
                <p class="cms cmsType_Rich cmsName_VisitingParking_Page_Transportation3"></p>
            </div>
            <div class="right-container info-containers">
                <h2>Parking</h2>
                <p class="cms cmsType_Rich cmsName_VisitingParking_Page_Parking"></p>
            </div>            
        </section>   
        
        <section id="directory-start" class="text-sections interactivemap-head interactivemap-btn up">
            <div class="title-two">Directory</div>
            <div class="interactivebtn-wraper"><span class="interactivemap-btn"></span></div>
            <div class="text-section">
                <p></p>
            </div>
        </section>
        
        <section id="imagemap-wrapper" ng-include src="'/directory.html'"></section>

       <footer ng-include src="'/footer.html'"></footer>
        
        <script src="/assets/js/jquery.easing.1.3.js"></script>
        <script src="/assets/js/jquery.animate-enhanced.min.js"></script>
        <script src="/assets/js/jquery.superslides.js" type="text/javascript" charset="utf-8"></script>

        <script src="/assets/js/owl.carousel.js"></script>
        <script src="/assets/js/jquery.rwdImageMaps.min.js"></script>
        <script src="/assets/js/jquery.tooltipster.js"></script>
        <script src="/assets/js/less.js" type="text/javascript"></script>
        <script src="/assets/js/main.js"></script>
        <script>
            // Google Analytics
            (function (b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l; b[l] || (b[l] =
            function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
                e = o.createElement(i); r = o.getElementsByTagName(i)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            } (window, document, 'script', 'ga'));
            ga('create', 'UA-57349170-1'); ga('send', 'pageview');
        </script>
    </body>
</html>