html {
  background: #fff none repeat scroll 0 0;
  color: #000;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}

textarea {
overflow: auto;
}

table {
  border-spacing: 0;
}

fieldset,img {
  border: 0 none;
}

address,caption,cite,code,dfn,strong,th,var,tt {
  font-style: normal;
  font-weight: normal;
}

strong {
  font-weight: bold;
}

li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

caption,th {
  text-align: left;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,q:after {
  content: '';
}

abbr,acronym {
  border: 0 none;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,textarea,select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: 0;
}

legend {
  display: none;
}

del,ins {
  text-decoration: none;
}

a {
  text-decoration: underline;
  outline: 0;
}

a:hover {
  text-decoration: none;
}

/* Style */
html {
  background-color: #fff;
}

body {
  color: #333;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  position: relative;
  overflow-y: scroll;
}

.wf-active body {
  opacity: 1;
}

.page-content {
  min-height: 420px;
}

body.loaded {
  visibility: visible;
}

a {
  cursor: pointer;
}

a, img {
  outline: none;
  text-decoration: none;
  border: none;
  color: inherit;
}

a:link:hover, a:visited:hover {
  color: #e00034;
}

area {
  outline: 0;
  border: 0;
}

input[type="submit"],
input[type="checkbox"],
input[type="radio"],
label,
button,
select {
  cursor: pointer;
}

.clear {
  clear: both !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.p20 {
  padding: 20px;
}

.p10 {
  padding: 10px;
}

.p0 {
  padding: 0 !important;
}

.m0 {
  margin: 0 !important;
}

.mb20 {
  margin-bottom: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mr20 {
  margin-right: 20px;
}

.fluid-padding {
  padding: 0 75px 0 70px;
  margin: 0;
}

/* Header */
.header {
  border-bottom: 1px dotted #ccc;
  padding-top: 20px;
  position: relative;
  min-height: 92px;
}

.header h1 {
  position: absolute;
  bottom: 16px;
  left: 70px;
}

.header h1 a {
  display: block;
  background: transparent url("../images/logo.png") no-repeat scroll 0 0;
  width: 131px;
  height: 77px;
  text-indent: -9999px;
}

.header form input#f1 {
  background: url("../images/grey-squared-bg.jpg");
  border: none;
  height: 20px;
  line-height: 10px;
  padding: 3px 5px 2px 6px;
  width: 142px;
  float: left;
}

.header form input#f2 {
  float: left;
  border: none;
  width: 25px;
  height: 25px;
  line-height: 35px;
  overflow: hidden;
  background: #dc0033 url("../images/sprite.png") no-repeat -30px 6px;
}

.header ul.menu > li {
  position: relative;
  float: left;
  margin-left: 40px;
  padding-bottom: 30px;
  z-index: 9990;
}

.header ul.menu > li > a {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #333;
}

.header ul.menu > li > ul {
  display: none;
  position: absolute;
  background-color: #42145f;
  width: 200px;
  left: -68px;
  top: 35px;
  z-index: 9;
  *top: 20px;
  box-shadow: 0 4px 6px #888888;
}

.header ul.menu > li > ul:before {
  content: "";
  display: block;
  width: 28px;
  height: 14px;
  position: absolute;
  left: 50%;
  top: -14px;
  margin-left: -14px;
  background: url("../images/sprite.png") no-repeat 0 0;
}

.header ul.menu > li:hover > a, .header ul.menu > li > a.active, .info-pop .fluid-padding .text a:hover {
  color: #e00034;
}

.header ul.menu > li:hover > ul {
  display: block;
  z-index: 999;
}

.header ul.menu > li > ul > li > a {
  color: white;
  font-size: 14px;
  font-weight: 500;
  display: block;
  padding: 7px 10px;
  border-bottom: 1px dotted #7b5b8f;
}

.header ul.menu > li > ul > li > a:hover, .header ul.menu > li > ul > li > a.active {
  background: #6B4782;
}

.header ul.menu > li > ul > li:last-child > a {
  border-bottom: none;
}

.mobile-navigation {
  display: none;
}
/* Main Slider*/
.main-slider {
  overflow: hidden;
  height: 540px;
  position: relative;
  top: -1px;
}

.main-slider ul {
  width: 9999px;
}

.main-slider ul li {
  height: 540px;
  color: white;
  position: relative;
  float: left;
  font-weight: 300;
}

.main-slider ul li p {
  float: left;
}

.main-slider ul li p img {
  height: 540px;
  border: 0;
}

.purple-ghost-box {
  background-color: rgba(66, 20, 95, 0.8);
}

.pink-ghost-box {
  background-color: rgba(224, 0, 52, 0.8);
}

.main-slider ul li .purple-ghost-box {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 5px;
}

.main-slider ul li .info {
  position: absolute;
  top: 45px;
  left: 70px;
  display: none;
}

.red {
  color: #e00034;
}

.main-slider .left-arrow,
.main-slider .right-arrow {
  display: none;
  position: absolute;
  width: 29px;
  height: 55px;
  top: 50%;
  margin-top: -28px;
  z-index: 5;
  border: none;
  background: transparent url("../images/sprite.png") no-repeat scroll 0 0;
}

.main-slider .left-arrow {
  background-position: 0 -14px;
  left: 20px;
}

.main-slider .right-arrow {
  background-position: 0 -69px;
  right: 20px;
}

.main-slider .right-arrow:hover, .main-slider .left-arrow:hover {
  opacity: 0.65;
  cursor: pointer;
}

/* Homepage featured items */
.featured-row {
  padding-top: 45px;
  padding-bottom: 45px;
  border-bottom: 1px dotted #ccc;
  overflow: hidden;
  display: block;
}

.featured-row .controls {
  width: 16%;
}

.featured-row .controls h2 {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  padding: 0 0 5px 0;
}

.featured-row .controls p {
  color: #959595;
  line-height: 17px;
  font-weight: 300;
}

.featured-row .controls span {
  display: block;
  margin: 10px 0 10px 0;
}

.featured-row .controls button {
  border: none;
  width: 27px;
  height: 27px;
  background: #e7e7e7 url("../images/sprite.png") no-repeat;
}

.featured-row .controls button.hsl {
  background-position: -35px -68px;
}

.featured-row .controls button.hsl:hover {
  background-position: -35px -90px;
}

.featured-row .controls button:hover {
  background-color: #e00034;
}

.featured-row .controls button.hsr {
  background-position: -34px -48px;
}

.featured-row .controls button.hsr:hover {
  background-position: -34px -28px;
}

.horizontal-slider {
  overflow: hidden;
  height: 220px;
}

.horizontal-slider.rr {
  height: 155px;
}

.horizontal-slider.case-studies {
  height: 220px;
}

.horizontal-slider.news {
  height: 340px;
}

.horizontal-slider li {
  float: left;
}

.imgG .horizontal-slider li {
  padding: 0 23px;
  border-right: 1px dotted #ccc;
  height: 155px;
}

.imgG .horizontal-slider li a {
  display: block;
}

.featured-row.case-studies .horizontal-slider li {
  margin-right: 20px;
  width: 220px;
  height: 220px;
}

.case-study-list .info-pop .fluid-padding > div.text>span {
  display: block;
  margin: 0 0 10px 0;
}

.case-study-list .rollover-item {
  position: static;
  width: 220px;
  height: 220px;
}

.case-study-list .rollover-item .hover-parent {
  position: relative;
  width: 220px;
  height: 220px;
  overflow: hidden;
}

.case-study-list .rollover-item .hover-parent a.purple-ghost-box {
  width: 220px;
  height: 220px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
}

.case-study-list .rollover-item .hover-parent a.purple-ghost-box:hover, .case-study-list .rollover-item.active .hover-parent a.purple-ghost-box {
  opacity: 1;
}

.case-study-list .rollover-item.active .hover-parent a.purple-ghost-box {
  cursor: default;
}

.case-study-list .rollover-item .hover-parent a.purple-ghost-box strong {
  display: block;
  font-weight: 300;
  font-size: 26px;
  line-height: 33px;
  color: #fff;
  padding: 11px 8px 8px 11px;
}

.case-study-list .rollover-item .hover-parent a.purple-ghost-box span {
  display: block;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
  padding: 11px 8px 8px 11px;
}

.case-study-list .rollover-item>img {
  width: 220px;
  height: 154px;
  overflow: hidden;
  display: block;
}

.case-study-list {
  overflow: hidden;
}

.case-study-list > li {
  width: auto;
  padding: 0 0 30px 0;
  margin: 0 15px 0 0;
  float: left;
  position: static;
  width: 220px;
  height: 227px;
}

.case-study-list > li div.hover-parent {
  position: relative;
}

.case-study-list > li.active, .team-list > li.active:hover {
  background: #fff url(../images/roll.png) repeat-x scroll -220px 0;
  cursor: default;
}

.team-list .rollover-item>img {
  width: 220px;
  height: 154px;
  overflow: hidden;
  display: block;
}

.team-list {
  overflow: hidden;
}

.team-list > li {
  width: auto;
  padding: 0 0 30px 0;
  margin: 0 15px 0 0;
  background: #fff url(../images/roll.png) repeat-x scroll 0 0;
  float: left;
  position: static;
  width: 220px;
  height: 227px;
}

.team-list > li:hover {
  background: #fff url(../images/roll.png) repeat-x scroll -440px 0;
}

.team-list > li.active, .team-list > li.active:hover {
  background: #fff url(../images/roll.png) repeat-x scroll -220px 0;
  cursor: default;
}

.team-list > li, .team-list > li .title {
  cursor: pointer;
  line-height: 17px;
}

.team-list > li.active a.rollover, .team-list > li.active a i, .team-list > li.active .title {
  cursor: default;
}

.team-list > li.active i {
  display: none;
}

.team-list > li div.hover-parent {
  position: relative;
}

.team-list .rollover-item img {
  display: block;
  width: 220px;
  height: 154px;
}

.team-list .rollover-item:hover a i {
  border: 4px solid #49176D;
  border-bottom: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 212px;
  height: 150px;
}

.team-list .rollover-item.active:hover a i {
  display: none;
}

.retailer-search .form {
    overflow: hidden;
}
.retailer-list {
  overflow: hidden;
  min-height: 400px;
}

.retailer-list li {
  float: left;
  height: 180px;
  width: 179px;
  height: 179px;
  margin: 18px 18px 18px 0;
  position: static;
  overflow: hidden;
  padding: 0;
  cursor: default;
}

.retailer-list>li>a {
  display: block;
  float: left;
  padding: 0;
  margin: 0 0 3px 0;
  border-bottom: 4px solid #6C1AA0;
  width: 168px;
  height: 155px;
}

.retailer-list>li>a:hover {
  border-bottom: 4px solid #EF3D43;
}

.retailer-list>li.active>a {
  border-bottom: 4px solid #fff;
}

.retailer-list>li.active>a:hover {
  cursor: default;
}

.retailer-list li.active {
  background: #fff url(../images/roll.png) repeat-x scroll 50% -50px;
}

.retailer-list .rollover-item img {
  display: block;
  width: 168px;
  height: 155px;
  float: left;
}

.imgG a img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.imgG>a:hover {
  background: #49176D;
}

.imgG span a:hover {
  background: transparent;
}

.imgG a:hover img {
  opacity: 0.87;
}

.retailer-list .rollover-item.active img {
  display: block;
  opacity: 1;
}

.showSlide .rollover-item.imgG {
  opacity: 0.4;
}

.in-the-news .horizontal-slider li {
  width: 215px;
  height: 378px;
  padding-right: 25px;
  position: relative;
}

.in-the-news .horizontal-slider li a {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #e00034;
}

.in-the-news .horizontal-slider li em {
 font-style: normal;
 color: #959595;
 margin: 8px 0 0 0;
 display: block;
}
a.download {
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  color: #e00034;
}

a.download:hover {
  text-decoration: underline;
}

.horizontal-slider li strong {
  display: block;
  font-size: 16px;
  line-height: 18px;
}

.red-border-list li a:hover,
.in-the-news .horizontal-slider li a:hover {
  color: #e00034;
}

.in-the-news .horizontal-slider li span {
  display: block;
  margin: 0 0 7px 0;
  color: #959595;
  font-size: 13px;
  line-height: 13px;
}
/* Footer */
.footer {
  background-color: #333;
  overflow: hidden;
  color: #959595;
  padding: 0 30px 0 60px;
}

.footer a {
  color: #959595;
}

.footer a:hover {
  color: #e00034;
}

.footer .top {
  padding: 30px 0 0 0;
  border-bottom: 1px dotted #484848;
  overflow: hidden;
}

.footer .top > div {
  width: 23%;
  padding-right: 2%;
  float: left;
}

.footer .top > div h2,
.footer .top > div ul li a {
  text-transform: uppercase;
}

.footer .top > div h2 {
  font-weight: 700;
}

.footer .top > div ul {
  margin: 11px 0 30px;
}

.footer .top > div ul li a {
  margin-bottom: 3px;
  display: inline-block;
}

.footer .bottom {
  padding: 12px 0 30px 0;
  margin-top: 3px;
  overflow: hidden;
}

.footer .bottom ul {
  overflow: hidden;
}

.footer .bottom ul li {
  float: left;
}

.footer .bottom ul.left li {
  margin-right: 25px;
}

.socials>li>a {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 2px;
  text-indent: -9999px;
  margin-left: 10px;
  background: #444 url("../images/sprite.png") no-repeat;
}

.socials a.ln {
  background-position: 6px -130px;
}

.socials a.fb {
  background-position: -36px -146px;
}

.socials a.tw {
  background-position: -33px -118px;
}

.socials a:hover {
  background-color: #e00034;
}
/* Top section */
.top-section {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px dotted #ccc;
  margin-top: 1px;
  border-bottom: 1px dotted #ccc;
}

body.propertiesaspx .top-section, body.retailersandrestaurantsaspx .top-section, body.contactaspx .top-section {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

body.propertiesaspx .top-section, body.contactaspx .top-section {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

body.propertyaspx .top-section {
  border-bottom: 0;
}

.top-section.property-page {
  padding-top: 17px;
}

.top-section h1,
.top-section h2 {
  font-weight: 300;
  text-transform: uppercase;
}

.top-section h1 {
  color: #c2c2c2;
  font-size: 30px;
  line-height: 30px;
  padding: 0;
}

.top-section h2 {
  color: #333;
  font-size: 40px;
  line-height: 43px;
  margin: 0 0 0 -4px;
}

.top-section div.left h1 {
  margin-top: 10px;
}


#contacts-map {
  height: 600px;
  margin-top: 15px;
}

.site-form {
}

.site-form ol {
  overflow: hidden;
}

.site-form ol li {
  float: left;
  margin-bottom: 10px;
}

.site-form ol li input[type="text"],
.site-form ol li input[type="password"],
.site-form ol li input[type="email"],
.site-form ol li textarea {
  border: none;
  background: #f0f0f0;
  padding: 8px 1% 8px 1%;
  color: #333;
  float: left;
}

.site-form ol li textarea {
  resize: none;
}

.contact-details {
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 110px;
}

.contact-details form {
  width: 49%;
  float: left;
}

.contact-details form li {
  width: 50%;
}

.contact-details form li.full-width {
  width: 100%;
}

.contact-details form li input[type="text"] {
  width: 95%;
}

.contact-details form li textarea {
  width: 96.5%;
  height: 120px;
}

.contact-details > div {
  float: right;
  width: 49%;
  overflow: hidden;
}

.contact-details > div p {
  float: left;
  width: 48%;
  padding-right: 2%;
}

.contact-details > div p strong {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.hidden-form input.submit,
.contact-details form li input.submit {
  border: none;
  background: #E00034;
  color: white;
  font-weight: 700;
  font-size: 15px;
  padding: 5px 32px 5px 32px;
  float: left;
  display: block;
}

body .subscription-form .site-form ol li input.submit:hover,
body .hidden-form input.submit:hover,
body .contact-details form li input.submit:hover {
  background: #E38FA3;
}

.hidden-form input[type="submit"]:hover,
.contact-details form li input[type="submit"]:hover {
  background: #d00232;
}

.pretty-select {
  height: 35px;
  position: relative;
  width: 97%;
}

.pretty-select:hover {
  cursor: pointer;
}

.pretty-select .select-text {
  height: 35px;
  line-height: 35px;
  text-indent: 10px;
  color: #fff;
}

.site-form .pretty-select .select-text {
  color: #000;
  background: #F0F0F0;
}

.pretty-select select {
  width: 100%;
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.pretty-select select option {
  padding: 5px 8px 0 0;
  text-indent: 10px;
  border-bottom: 1px dotted #ccc;
}

.pretty-select select option:hover {
  background-color: #d6d6d6;
}

.text {
}

.text p,
.text ul,
.text ol,
.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
  margin-bottom: 15px;
}

.text h1 {
  font-size: 26px;
}

.text h2 {
  font-size: 26px;
}

.text h4 {
  font-size: 22px;
}

.text h5 {
  font-size: 20px;
}

.text h6 {
  font-size: 18px;
}

.main {
  border-top: 1px dotted #ccc;
  margin-top: 1px;
  padding: 20px 0 20px 0;
}

.purple-link {
  color: white;
  background-color: #42145f;
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
}

body .purple-link:hover {
  background-color: #66268E !important;
  color: #fff !important;
}

.half-width {
  width: 50%;
}

.red-border-list {
  overflow: hidden;
}

.red-border-list li {
  float: left;
  margin: 0 20px 30px 0;
  min-height: 180px;
  border-bottom: 3px solid #e00034;
  width: 47%;
}

.red-border-list li a {
  font-size: 14px;
  font-weight: 600;
  display: block;
  line-height: 18px;
  margin-bottom: 5px;
}

.sticky-contacts {
  z-index: 11;
  position: fixed;
  right: 0;
  bottom: 80px;
}

.sticky-contacts button.show-hidden-form {
  border: none;
  width: 45px;
  height: 158px;
  text-indent: -9999px;
  border: 1px solid white;
  background: url("../images/sprite.png") no-repeat -5px -194px;
}

.propertyaspx .sticky-contacts button.show-hidden-form {
    background: url("../images/sprite.png") no-repeat scroll -5px -678px transparent;
}

.propertyaspx .formContact {
display: none;
}

.formPortfolio {
display: none;
}

.propertyaspx .formPortfolio {
display: block;
}

.sticky-contacts.portfolio-preview button.show-hidden-form {
  background: url("../images/portfolio-preview.jpg") no-repeat;
  display: block;
  position: fixed;
  top: 35%;
  left: -1px;
  z-index: 20;
  width: 40px;
  height: 164px;
  text-indent: -9999px;
  border: 1px solid white;
}

.sticky-contacts.portfolio-preview form {
  top: -15px;
}

.hidden-form {
  background-color: #E00034;
  color: white;
  right: 75px;
  padding: 15px 25px 15px;
  position: absolute;
  width: 422px;
  height: 230px;
  top: -55px;
  box-shadow: 5px 5px 5px #ccc;
  display: none;
}

.hidden-form:after {
  content: "";
  display: block;
  position: absolute;
  width: 19px;
  height: 40px;
  right: -19px;
  top: 50%;
  margin-top: -20px;
  background: url("../images/sprite.png") no-repeat 0 -498px;
}

.sticky-contacts.propertyaspx .hidden-form:after {
 display: none;
}

button.close-button {
  width: 17px;
  height: 17px;
  border: none;
  text-indent: -9999px;
  position: absolute;
  right: 8px;
  top: 8px;
  background: #fff url("../images/sprite.png") no-repeat -38px -172px;
}

button.close-button:hover {
  opacity: .9;
}

.hidden-form ol li input[type="text"],
.hidden-form ol li textarea {
  box-shadow: inset 0 0 3px #bbbbbb;
  background-color: white;
  text-indent: 6px;
}

.hidden-form p {
  font-size: 16px;
}

.hidden-form h2 {
  font-size: 12px;
  margin: 15px 0 10px;
  text-transform: uppercase;
}

.hidden-form li {
  width: 50%;
}

.hidden-form input[type="text"] {
  width: 94%;
}

.hidden-form input[type="submit"] {
  text-transform: uppercase;
  padding: 10px;
}

.hidden-form input[type="submit"]:hover {
  background: none;
}

.hidden-form textarea {
  width: 73%;
  height: 55px;
}

.hidden-form li.full-width {
  width: 100%;
}

.subscription-form form {
  box-shadow: -2px -2px 2px #bbb;
  height: 160px;
  left: -398px;
  margin-top: -24px;
  width: 322px;
}

.subscription-form form:before {
  left: auto;
  right: -19px;
  background-position: 0 -499px;
}

.subscription-form .show-hidden-form {
  background-color: #333333;
  padding: 7px 15px 6px;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
}

.subscription-form {
  position: relative;
}

.subscription-form .full-width input[type="text"] {
  width: 189px;
}

.info-pop-content .fluid-padding {
  min-height: 350px;
}

.info-pop-content .rCol3 p {
  margin: 0 0 8px 0;
}

.show-hidden-form:hover {
  opacity: .75;
}

.fluid-padding div.text a:hover {
  color: #E00034;
}

.info-pop {
  background-color: #333;
  left: 0;
  position: absolute;
  display: none;
  color: white;
  z-index: 11;
  width: 100%;
  overflow: hidden;
  cursor: default;
  padding: 0;
  margin-top: 30px;
}

.info-pop.rr {
  margin-top: 210px;
}

.info-pop-content {
  position: relative;
  margin-top: 15px;
  padding: 25px 0 35px 0;
  background: #333;
}

.RetailSelects {
overflow: hidden;
}

.rr .info-pop-content {
  position: static;
  margin: 0;
  padding: 0;
}

.rollover-item.imgG>a {
  position: relative;
}

.rollover-item.imgG>a>img {
  position: absolute;
  left: 0;
  top: 0;
}

.rr .info-pop-content .rCol1 {
  float: left;
  width: 525px;
  overflow: hidden;
}

.rr .info-pop-content .rCol1 img {
  width: 520px;
  height: 325px;
  display: block;
  margin: 25px 0 20px;
}

.rr .info-pop-content .rCol2 {
  float: left;
  width: 400px;
  padding: 30px 0 0 35px;
}

.rr .info-pop-content .rCol2 h3 {
  font-size: 25px;
  color: #ddd;
  margin: 0 0 15px 0;
}

.rr .info-pop-content .rCol2 p {
  color: #ccc;
}

.rr .info-pop-content .rCol3 {
  float: left;
  width: 30%;
  color: #ccc;
  margin: 21px 0 0 30px;
  padding: 0 0 30px 0;
}

.rr .info-pop-content .rCol3 h3 {
  color: #ddd;
  font-size: 18px;
  text-transform: uppercase;
}

.rr .info-pop-content .rCol3 p {
  margin-bottom: 10px;
}

.rr .info-pop-content .rCol3 p a {
  color: #eee;
  display: block;
}

.rr .info-pop-content .rCol3 p a:hover {
  color: #e00034;
}

.info-pop .close-pop {
  position: absolute;
  display: block;
  background: #959595 url("../images/sprite.png") no-repeat -35px -353px;
  width: 24px;
  height: 24px;
  top: 15px;
  right: 15%;
  border: none;
}

.info-pop .close-pop:hover {
  background: #E00034 url("../images/sprite.png") no-repeat -35px -353px;
}

.info-pops li.rollover-item a.visible {
  display: block;
}

.info-pop .fluid-padding > div {
  float: left;
}

.info-pop .fluid-padding > div.text {
  color: #ccc;
  float: left;
  padding: 0 2% 0 2%;
}

.casestudiesaspx .info-pop .fluid-padding > div.text {
  max-width: 600px;
  width: -moz-calc(71% - 500px);
  width: -webkit-calc(71% - 500px);
  width: -o-calc(71% - 500px);
  width: calc(71% - 500px);
}

.team-list .info-pop .fluid-padding > div.text {
  margin-top: 3px !important
}

.team-list .info-pop .fluid-padding > div.second {
  margin-top: 0px !important
}

.team-list .info-pop .fluid-padding > div.last {
  margin-top: 1px !important;
  width: 22%;
}

.info-pop .fluid-padding > div.text h6 {
  text-transform: uppercase;
  margin: 8px 0 2px 0;
  display: block;
}


.info-pop .fluid-padding .text h3 {
  color: #fff;
  font-size: 24px;
  line-height: 24px;
}

.info-pop .fluid-padding > div.text.last h6 {
  margin: 0 0 3px 0;
  line-height: 16px;
}


.info-pop-content>.fluid-padding>.text>span, .info-pop-content>.fluid-padding>.text>div {
margin: 0 0 12px 0
}

.info-pop .fluid-padding > div.text ul {
  padding-left: 15px;
}

.info-pop .fluid-padding > div.text ul li {
  list-style: square;
}

.fancy-download {
  color: white;
  display: inline-block;
  padding: 5px 30px;
  margin-top: 15px;
  border-radius: 3px;
  background-color: #df0034;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#df0034), to(#bf012d));
  background-image: -webkit-linear-gradient(top, #df0034, #bf012d);
  background-image: -o-linear-gradient(top, #df0034, #bf012d);
  background-image: -moz-linear-gradient(top, #df0034, #bf012d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00034', endColorstr='#c0012e');
  background-image: linear-gradient(to bottom, #df0034, #bf012d);
  background-repeat: repeat-x;
}

.fancy-download:hover {
  background-color: #bf012d;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bf012d), to(#df0034));
  background-image: -webkit-linear-gradient(top, #bf012d, #df0034);
  background-image: -o-linear-gradient(top, #bf012d, #df0034);
  background-image: linear-gradient(to bottom, #bf012d, #df0034);
  background-image: -moz-linear-gradient(top, #bf012d, #df0034);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00034', endColorstr='#c0012e');
  color: #fff !important;
}

li.rollover-item a .grey-arrow {
  width: 40px;
  height: 20px;
  position: absolute;
  bottom: -26px;
  left: 50%;
  margin-left: -19px;
  display: none;
  background: url("../images/sprite.png") no-repeat 0 -389px;
}

li.rollover-item a.visible .grey-arrow {
  display: block;
}

.case-study-page {
  padding-bottom: 12px;
}

.locationMapMarkers {
  display: none;
}

.info-pop-slider {
  position: relative;
  width: 457px;
  height: 224px;
  overflow: hidden;
  margin: 3px 0 12px 0;
}

.info-pop-slider .left-arrow,
.info-pop-slider .right-arrow,
.prop-slider .left-arrow,
.prop-slider .right-arrow {
  position: absolute;
  background: #fff url("../images/sprite.png") no-repeat;
  border: none;
  width: 17px;
  height: 17px;
  top: 50%;
  z-index: 5;
  margin-top: -9px;
}

.info-pop-slider .left-arrow, .prop-slider .left-arrow {
  left: 0;
  background-position: -40px -73px;
  opacity: 0.8;
}

.info-pop-slider .right-arrow, .prop-slider .right-arrow {
  right: 0;
  background-position: -39px -53px;
  opacity: 0.8;
}

.info-pop-slider .left-arrow:hover, .info-pop-slider .right-arrow:hover, .prop-slider .left-arrow:hover, .prop-slider .right-arrow:hover {
  opacity: 1;
}

.breadcrumbs {
  overflow: hidden;
  font-size: 13px;
  line-height: 13px;
  height: 13px;
  overflow: hidden;
}

.breadcrumbs li {
  float: left;
  margin-right: 5px;
}

.breadcrumbs li a {
  padding-right: 3px;
  color: #959595;
}

.breadcrumbs li a:hover {
  text-decoration: underline;
}

.retailer-search {
  border-top: none;
  border-bottom: none;
  padding-bottom: 8px;
  padding-top: 15px;
  margin-top: 10px;
}

.retailer-search h1,
.retailer-search h2 {
  color: white;
}

.retailer-search.purple-gradient {
  background-color: #311245;
  background-image: linear-gradient(left , #311245 10%, #4d1471 55%);
  background-image: -o-linear-gradient(left , #311245 10%, #4d1471 55%);
  background-image: -moz-linear-gradient(left , #311245 10%, #4d1471 55%);
  background-image: -webkit-linear-gradient(left , #311245 10%, #4d1471 55%);
  background-image: -ms-linear-gradient(left , #311245 10%, #4d1471 55%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#311245', endColorstr='#4d1471');
}

.retailer-search.red-gradient {
  background-color: #920a0f;
  background-image: linear-gradient(left , #920a0f 10%, #e00034 55%);
  background-image: -o-linear-gradient(left , #920a0f 10%, #e00034 55%);
  background-image: -moz-linear-gradient(left , #920a0f 10%, #e00034 55%);
  background-image: -webkit-linear-gradient(left , #920a0f 10%, #e00034 55%);
  background-image: -ms-linear-gradient(left , #920a0f 10%, #e00034 55%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00034', endColorstr='#c0012e');
}

.retailer-search.red-gradient .top-part {
  background-color: #660000;
}

.gray-gradient {
  overflow: hidden;
  padding-bottom: 0;
  color: white;
  background-color: #515151;
  background-image: linear-gradient(left , #515151 10%, #807f7f 55%);
  background-image: -o-linear-gradient(left , #515151 10%, #807f7f 55%);
  background-image: -moz-linear-gradient(left , #515151 10%, #807f7f 55%);
  background-image: -webkit-linear-gradient(left , #515151 10%, #807f7f 55%);
  background-image: -ms-linear-gradient(left , #515151 10%, #807f7f 55%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515151', endColorstr='#807f7f');
}

.gray-gradient h1 {
  font-size: 36px;
}

.tabs-content .two-columns .pretty-select,
.property-page.gray-gradient .pretty-select {
  background: none;
  background-color: #7b787c;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00034', endColorstr='#c0012e');
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e00034), to(#c0012e));
  background-image: -webkit-linear-gradient(top, #e00034, #c0012e);
  background-image: -o-linear-gradient(top, #e00034, #c0012e);
  background-image: linear-gradient(to bottom, #e00034, #c0012e);
  background-image: -moz-linear-gradient(top, #e00034, #c0012e);
  background-repeat: repeat-x;
  border: 11px solid #a1a1a1;
}

.tabs-content .two-columns .pretty-select {
  border: none;
  width: 70%;
}

.top-section.less-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.retailer-search .pretty-select {
  background: none;
  background-color: #7b787c;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7b787c', endColorstr='#535353');
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7b787c), to(#535353));
  background-image: -webkit-linear-gradient(top, #7b787c, #535353);
  background-image: -o-linear-gradient(top, #7b787c, #535353);
  background-image: linear-gradient(to bottom, #7b787c, #535353);
  background-image: -moz-linear-gradient(top, #7b787c, #535353);
  background-repeat: repeat-x;
  float: left;
  width: 153px;
  height: 35px;
  margin: 10px 10px 0 0;
  position: relative;
  width: 316px;
}

.retailer-search .pretty-select:hover {
  background: none;
  background-color: #6F6D6F;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6F6D6F', endColorstr='535353');
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6F6D6F), to(#535353));
  background-image: -webkit-linear-gradient(top, #6F6D6F, #535353);
  background-image: -o-linear-gradient(top, #6F6D6F, #535353);
  background-image: linear-gradient(to bottom, #6F6D6F, #535353);
  background-image: -moz-linear-gradient(top, #6F6D6F, #535353);
  background-repeat: repeat-x;
  float: left;
  height: 35px;
  margin: 10px 10px 0 0;
  position: relative;
}

.properties-search .pretty-select {
  width: 153px;
}

.retailer-search .select-text {
  background: url("../images/sprite.png") no-repeat 100% -584px;
}

.two-columns .select-text {
  background: url("../images/sprite.png") no-repeat 100% -584px;
}

.retailer-search .form {
  overflow: hidden;
}

.retailer-search .top-part {
  margin: 10px auto 0 auto;
  display: inline-block;
  border: 10px solid #2b0f3c;
}

.retailer-search .left {
  margin: 0 0 10px 0;
  width: 21%;
  min-width: 320px;
}

#retailers-and-restaurants-q, #properties-q {
  border: 1px solid #aaa;
  outline: 0;
  width: 511px;
  color: #959595;
  padding: 8px 7px 7px;
  margin: 0;
}

.retailers-and-restaurants-submit {
  background-color: #6f1ca4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6f1ca4', endColorstr='#5f138f');
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6f1ca4), to(#5f138f));
  background-image: -webkit-linear-gradient(top, #6f1ca4, #5f138f);
  background-image: -o-linear-gradient(top, #6f1ca4, #5f138f);
  background-image: linear-gradient(to bottom, #6f1ca4, #5f138f);
  background-image: -moz-linear-gradient(top, #6f1ca4, #5f138f);
  background-repeat: repeat-x;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 6px 15px 6px 15px;
  color: white;
}

.retailers-and-restaurants-submit:hover {
  cursor: pointer;
  background-color: #5D1888;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#311245', endColorstr='#4d1471');
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6f1ca4), to(#4C1072));
  background-image: -webkit-linear-gradient(top, #6f1ca4, #4C1072);
  background-image: -o-linear-gradient(top, #6f1ca4, #4C1072);
  background-image: linear-gradient(to bottom, #6f1ca4, #4C1072);
  background-image: -moz-linear-gradient(top, #6f1ca4, #4C1072);
  background-repeat: repeat-x;
}

.retailer-search.red-gradient form input.submit {
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 6px 15px 6px 15px;
  color: white;
  background-color: #df0034;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#311245', endColorstr='#4d1471');
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#df0034), to(#c1012e));
  background-image: -webkit-linear-gradient(top, #df0034, #c1012e);
  background-image: -o-linear-gradient(top, #df0034, #c1012e);
  background-image: linear-gradient(to bottom, #df0034, #c1012e);
  background-image: -moz-linear-gradient(top, #df0034, #c1012e);
}

.retailer-search.red-gradient form input.submit:hover {
  background-color: #B4002A;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#df0034', endColorstr='#9F0126');
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#df0034), to(#9F0126));
  background-image: -webkit-linear-gradient(top, #df0034, #9F0126);
  background-image: -o-linear-gradient(top, #df0034, #9F0126);
  background-image: linear-gradient(to bottom, #df0034, #9F0126);
  background-image: -moz-linear-gradient(top, #df0034, #9F0126);
}

.pb150 {
  padding-bottom: 150px;
}

.tab-controls {
  clear: both;
  padding-top: 12px;
  overflow: hidden;
}

.tab-controls li {
  float: left;
}

.tab-controls li a {
  display: block;
  padding: 11px 20px;
  color: white;
  font-size: 14px;
  background: #323232;
  margin-right: 3px;
}

.tab-controls li a.active {
  background-color: white;
  color: #e00034;
}

.tab-controls li a:hover {
  background-color: #e00034;
}

.tab-controls li a.active:hover {
  background-color: #fff;
  cursor: default;
}

.tabs-content {
  padding: 0;
  margin: 0;
}

.tabs-content > div {
  display: none;
}

.tabs-content > div.active {
  display: block;
}

.tabs-content .two-columns {
  overflow: hidden;
}

.tabs-content .two-columns > div.left.two-columns > div,
.tabs-content .two-columns > div {
  width: 49%;
}

.tabs-content .two-columns > div.left.two-columns > div.left,
.tabs-content .two-columns > div.left {
  padding-right: 1%;
}

.tabs-content .two-columns > div.left.two-columns > div.right,
.tabs-content .two-columns > div.right {
  padding-left: 1%;
}

.tabs-content .two-columns > div.left > .two-columns {
  overflow: hidden;
}

.tabs-content .two-columns h5 {
  margin: 20px 0 10px;
}

.text ul {
  padding-left: 15px;
  margin-top: 5px;
}

.text ul > li {
  list-style: square;
  padding-bottom: 5px;
}

.text ul > li > ul > li {
  list-style: none;
}

.red-text {
  color: #e00034;
}

.red-text a:hover {
  text-decoration: underline;
}

#site-plan .property-logo-link {
  display: block;
  /*margin: 0 0 8px 440px;*/
  text-align: right;
}

#overview span.property-logo-link{
  display: block;
  margin: 0;
}
.
property-web-logo {
  width: 560px;
  overflow: hidden;
}

.property-web-logo img {
  float: left;
  margin-right: 30px;
}

.demographics-table {
  width: 460px;
  border: 0;
}

.demographics-table th,
.demographics-table td {
  padding: 5px 0;
  border: 0;
  border-bottom: 1px dotted #ccc;
}

.demographics-table th {
  font-weight: 600;
}

.map {
}

.top-section.property-page div.left h1 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 4px;
  line-height: 40px;
}

#site-plan > .two-columns {
  border-top: 1px solid #ccc;
  margin: 30px 40px 30px 40px;
  padding: 30px 0 0 0;
}

.tabled-lists {
  cursor: default;
}

.tabled-lists h2 {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 23px;
}

.tabled-lists .list {
  width: 42%;
  padding-right: 5%;
  white-space: nowrap;
}

.tabled-lists .list li:hover, .tabled-lists .list li.selected {
  background-color: #dadada;
}

.tabled-lists .list li span {
  display: block;
  float: left;
  min-width: 80px;
  max-width: 90%;
  white-space: normal;
}

.tabled-lists .list li var {
  color: #e00034;
  display: block;
  float: left;
  min-width: 80px;
  white-space: normal;
}

.tabled-lists .list li em {
  display: block;
  width: 100%;
  height: 1px;
  clear: both;
  float: none;
  overflow: hidden;
}

.property-landing-lists {
  overflow: hidden;
}

.property-landing-lists > ul {
  float: left;
  padding: 1% 1% 1% 0;
  width: 32%;
}

.property-landing-lists > ul li {
  margin-bottom: 3px;
}

.property-landing-lists > ul li h2 {
  color: #959595;
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 15px;
}

.property-landing-lists > ul li strong {
  text-transform: uppercase;
  padding-bottom: 4px;
}

.property-landing-lists > ul li a {
  color: #e00034;
}

.property-landing-lists > ul li a:hover {
  text-decoration: underline;
}

.layout-buttons {
  overflow: hidden;
  text-transform: uppercase;
  padding-top: 20px;
}

.layout-buttons a {
  color: white;
  padding-left: 30px;
  width: 40px;
  margin-right: 15px;
  float: left;
  background: url("../images/sprite.png") no-repeat;
  display: block;
  line-height: 16px;
}

.layout-buttons a.list-view {
  background-position: 0 -416px;
  padding-left: 35px;
  opacity: 0.75;
}

.layout-buttons a.list-view.no {
  opacity: 1;
 cursor: default;
}
.layout-buttons a.full-view {
  background-position: 0 -632px;
  padding-left: 35px;
  opacity: 0.75;
}

.layout-buttons a.map-view {
  background-position: 0 -455px;
  opacity: 0.75;
}

.layout-buttons a.selected, .layout-buttons a:hover {
  opacity: 1;
}

.uppercased {
  text-transform: uppercase;
}

.property-list {
  overflow: hidden;
  padding: 20px 0 30px 0;
}

.property-list li {
  float: left;
  margin: 0 20px 30px 0;
  border-bottom: 3px solid #e00034;
  width: 220px;
  height: 306px;
  color: #959595;
  padding: 0;
}

.property-list li a {
  display: block;
  height: 306px;
  padding: 0;
}

.property-list li a:hover {
  color: #555;
}

.people-page  .rollover-item h2,
.property-list li a strong {
  text-transform: uppercase;
  color: #e00034;
  font-size: 16px;
  line-height: 20px;
  margin: 8px 0 0 0;
}

.property-list li a i {
  text-transform: uppercase;
  display: block;
  font-style: normal;
}

.people-page  .rollover-item h2 {
  margin: 2px 0 5px 0;
}

.team-list .info-pop-content .fluid-padding .text p {
  margin: 5px 0 10px 0;
}

.people-page  .rollover-item .titles {
  padding: 10px;
}

.people-page .team-list li.rollover-item a .grey-arrow {
  bottom: -88px;
}

.people-page .info-pop .fluid-padding > div.text h3 {
  margin-bottom: 10px;
}

.people-page .info-pop .fluid-padding > div.text.second {
  width: 44%;
  margin: 4px 0 0 0;
}

.people-page .info-pop .close-pop {
  right: 5%;
}

.property-list li > div p {
  padding: 5px 0 10px;
}

.property-list li strong {
  color: #333;
  display: block;
  font-weight: 300;
}

ul.resources-list {
 width: 490px;
}
ul.resources-list li {
  width: 220px;
  height: 220px;
  overflow: hidden;
  border-bottom: 4px solid #e00034;
  margin: 25px 25px 20px 0;
  float: left;
}

body .downloads div.left {
  margin-left: 0;
  margin-right: 17px;
}

.resources-list li a strong {
  font-weight: normal;
  display: block;
}

.resources-list li a em {
  font-weight: 300;
  display: block;
  font-style: normal;
}

.downloads div.left {
  margin-left: 25px;
}

.news-page .sidebar h2,
.maps-title,
.downloads h2 {
  text-transform: uppercase;
  font-size: 15px;
}

.downloads ul {
  padding: 20px 0;
}

.downloads ul li {
  margin-bottom: 5px;
  min-height: 14px;
}

.downloads ul li a {
  color: #e00034;
}

.twitter-follow:hover {
  color: #e00034;
  opacity: 0.85;
}

.news-page {
  overflow: hidden;
}

.news-page .news-list {
  width: 67%;
  padding: 0 0 30px 0;
}

.news-page .news-list .text {
  overflow: hidden;
  line-height: 19px;
  max-height: 78px;
  margin: 15px 0 0 0;
}

.news-page .news-list .more {
  color: #e00034 !important;
  font-size: 12px;
  text-transform: capitalize;
}

.news-page .news-list .more:hover {
  text-decoration: underline;
}

.news-page .news-list li {
  padding: 15px 28px 15px 67px;
  border-bottom: 1px dotted #ccc;
}

.news-page .news-list li h2 {
  font-size: 26px;
  margin-bottom: 3px;
  font-weight: normal;
}

.news-page .news-list li .more {
  color: #e00034;
  text-transform: uppercase;
}

.news-page .sidebar {
  width: 30%;
}

.news-page .sidebar ul {
  padding: 15px 0 70px 0;
}

.news-page .sidebar .rightSide {
  padding: 20px 70px 0 0;
}

.light-gray {
  color: #959595;
}

li:hover .light-gray, li.growMe .light-gray {
  color: #111;
}

li.inactive:hover .light-gray {
  color: #000;
}

.news-page .sidebar .light-gray {
  padding: 5px 0;
  display: block;
}

.news-page .subscription-form form {
  height: 208px;
  margin-top: -49px;
}

.subscription-form .site-form ol li input.submit {
  position: absolute;
  right: 50px;
  bottom: 36px;
}

.twitter-follow {
  background: url("../images/sprite.png") no-repeat scroll 0 -549px transparent;
  display: block;
  margin-top: 15px;
  padding: 5px 0 5px 28px;
  text-transform: uppercase;
}

.people-title {
  text-transform: uppercase;
  color: #959595;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 300;
}

.people-page .info-pops {
  margin-bottom: 15px;
}

.services-list > li {
  padding-top: 10px;
  padding-bottom: 30px;
  border-bottom: 1px dotted #ccc;
  overflow: hidden;
}

.services-list > li .info-pop-slider {
  width: 220px;
  height: 220px;
  position: relative;
  overflow: hidden;
}

.services-list > li > div.first {
  width: 25%;
  padding-right: 2%;
}

.services-list > li > div.first a:hover {
  text-decoration: underline;
}

.services-list > li > div.first h2.people-title {
  font-size: 20px;
}

.services-list > li > div.second {
  width: 40%;
  width: -moz-calc(71% - 230px);
  width: -webkit-calc(71% - 230px);
  width: -o-calc(71% - 230px);
  width: calc(71% - 230px);
  padding-right: 2%;
}

.services-list > li > div.second ul li {
  padding-right: 8%;
  width: 42%;
  float: left;
}

#p-search-results {
  min-height: 500px;
  position: relative;
}

#p-search-results.map-view .property-list li .img-link .pin,
#p-search-results.map-view .property-map-holder {
  display: block;
}

#p-search-results.list-view .property-list li .img-link .pin,
#p-search-results.list-view .property-map-holder {
  display: none;
}

.verticle-aligned-logos li {
  position: relative;
}

.verticle-aligned-logos img {
  position: absolute;
  top: 50%;
  display: block;
  left: 50%;
  z-index: 1;
}

.verticle-aligned-logos a {
  z-index: 2;
}

.top div ul li .active, .bottom div ul li .active, .bottom li a.active {
  color: #E00034;
}

#retailers-and-restaurants-auto em, #properties-auto em {
  position: absolute;
  display: block;
  border: 1px solid #ccc;
  border-top: 0;
  z-index: 999;
  background: #f2f2f2;
  margin: 0 0 0 1px;
  width: 523px;
  overflow: hidden;
}

#retailers-and-restaurants-auto em a, #properties-auto em a {
  display: block;
  z-index: 999;
  padding: 5px 6px 5px 8px;
  font-style: normal;
}

#retailers-and-restaurants-auto em a:hover, #properties-auto em a:hover {
  background: #dfdfdf;
}

.slider-1 li a {
  display: block;
  position: relative;
  width: 168px;
  height: 155px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.slider-1 li a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 168px;
  height: 155px;
  display: block;
}

.leftMain {
  min-height: 50px;
}

.em.location {
  display: none;
}

.redtext {
  display: none;
}

.sticky-contacts .site-form input.submit {
  margin: 27px 0 0 10px;
}

.cmsName_Location, .cmsName_Address {
  display: block;
  font-style: normal;
  float: none;
}

.leasingAgent>span {
  display: block;
}

.leasingAgent>span.red-text {
  font-weight: bold;
}

.cmsType_Rich ul li {
  display: block;
  padding: 0 0 0 16px;
  background: transparent url(../images/square.gif) no-repeat scroll 0 8px;
}

.SpecialList {
  display: block;
  padding: 0 0 0 16px;
  background: transparent url(../images/square.gif) no-repeat scroll 0 8px;
}

.SpecialList2 {
  display: block;
  padding: 0 0 0 33px;
  background: transparent url(../images/square.gif) no-repeat scroll 17px 8px;
}

.SpecialList3 {
  display: block;
  padding: 0 0 0 50px;
  background: transparent url(../images/square.gif) no-repeat scroll 34px 8px;
}

.info-pop-content .SpecialList {
  display: block;
  padding: 0 0 0 16px;
  background: transparent url(../images/squareGrey.gif) no-repeat scroll 0 8px;
}

.info-pop-content .SpecialList2 {
  display: block;
  padding: 0 0 0 33px;
  background: transparent url(../images/squareGrey.gif) no-repeat scroll 17px 8px;
}

.info-pop-content .SpecialList3 {
  display: block;
  padding: 0 0 0 50px;
  background: transparent url(../images/squareGrey.gif) no-repeat scroll 34px 8px;
}

#area-map .locationMap {
  height: 500px;
  text-indent: -9999px;
}

#area-map {
  background: #E5E3DF;
  height: 700px;
  margin: 35px 30px 20px 30px;
}

.tabs-content.property .fluid-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.breadcrumbs li span {
  text-transform: capitalize;
}

.latlong, .zoom {
  display: none;
}

.property-list li a img {
  width: 220px;
  height: 153px;
  background: #dedede;
}

.property-list li a:hover img {
  opacity: 0.88;
}

#aerial-map div img {
  width: 100%;
}

#search-details {
  min-height: 600px;
  display: none;
}

.demographics-table th, .demographics-table td {
  text-align: right;
}

.demographics-table td.first {
  text-align: left;
}

.demographics-table th.first {
  text-align: left;
}

#overview {
  margin-bottom: 30px;
}

#p-search-map {
  position: absolute;
  height: 600px;
  z-index: 1;
  overflow: hidden;
  background: #DEDEDE;
  top: -999px;
  left: -9999px;
  margin: 35px 30px 20px 30px;
}

#p-search-map.active {
  position: static;
  top: 0;
  left: 0;
}

#search-map {
  display: none;
}

#gmap {
  position: absolute;
  top: -999px;
  left: -9999px;
  z-index: 2;
  height: 600px;
  overflow: hidden;
}

#p-search-map.active #gmap.loaded {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.downloadDocs .empty {
  display: none;
  height: 0;
  overflow: hidden;
  position: absolute;
}

.main div.sidebar div.sidebarContent {
  padding-bottom: 30px;
}

iframe#downDoc {
  border: 0;
  width: 55px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 0 0 -999px;
}

.cmsType_Rich h1 {
  font-size: 35px;
  font-weight: normal;
}

.cmsType_Rich h2 {
  font-size: 26px;
  font-weight: normal;
}

.cmsType_Rich h3 {
  font-size: 17px;
  font-weight: normal;
}

.cmsType_Rich h4 {
  font-size: 14px;
  font-weight: bold;
}

.cmsType_Rich h5 {
  font-size: 15px;
  font-weight: bold;
}

.cmsType_Rich strong {
  font-weight: bold;
}

#contactLocations em {
  font-style: normal;
}

#contactLocations em.location {
  display: none;
}

.infobulle {
  background: rgba(40, 40, 40, 0.65);
  border: 1px solid #aaa;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  cursor: pointer;
}

.infobulle a {
  display: block;
  cursor: pointer;
}

body .mapCluster {
  background: #42145F;
  padding: 0;
  text-align: center;
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #DEDEDE;
  width: 30px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block !important;
}

.mapClusterContent {
  display: block;
  padding: 4px;
  min-width: 320px;
  min-height: 80px;
  position: relative;
}

.mapClose {
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  right: 5px;
  background: #000 url(http://hrretail.153.ifmmbeta.com/assets/images/x.gif) no-repeat scroll 0 0;
}

.mapClose:hover {
  background: #000 url(http://hrretail.153.ifmmbeta.com/assets/images/x.gif) no-repeat scroll 0 -16px;
}

.mapClusterContent img {
  float: left;
  width: 115px;
  height: 90px;
  border: 1px solid #777;
  background: #49176D;
  display: block;
}

.mapC {
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  overflow: hidden;
  padding: 0 0 3px 0;
  display: block;
}

body .mapText .mapClusterContent .mapInfo a:hover, body .mapText .mapClusterContent .mapInfo a:hover:link:hover, body .mapText .mapClusterContent .mapInfo a:visited:hover {
  color: #fff;
}

.mapInfo {
  color: #fff;
  float: left;
  margin: 0 0 0 5px;
  display: block;
  width: 180px;
}

.mapInfo img {
  width: 115px;
  height: 90px;
  display: block;
}

.mapInfo span {
  margin: 3px 0 0 0;
  display: block;
  font-style: normal;
  max-height: 40px;
  overflow: hidden;
}

.mapInfo em {
  color: #fff;
  float: left;
  margin: 3px 0 0 0;
  display: block;
  font-style: normal;
}

.property-list span {
  display: none;
}

.property-list a {
  display: block;
  width: 220px;
  overflow: hidden;
}

.property-list em {
  display: block;
  margin: 5px 0 0 0;
  font-style: normal;
}

.completeList {
  margin: 20px 0 20px 0;
}

.completeList h2 {
  margin: 0 40px 0 40px;
}

.completeList h2 strong {
  font-size: 33px;
  font-weight: normal;
  color: #959595;
  text-transform: uppercase;
  float: left;
  padding: 0 0 30px 0;
}

.completeList h2 a {
  display: block;
  float: right;
  background: none;
  background-color: #7b787c;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00034', endColorstr='#c0012e');
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e00034), to(#c0012e));
  background-image: -webkit-linear-gradient(top, #e00034, #c0012e);
  background-image: -o-linear-gradient(top, #e00034, #c0012e);
  background-image: linear-gradient(to bottom, #e00034, #c0012e);
  background-image: -moz-linear-gradient(top, #e00034, #c0012e);
  background-repeat: repeat-x;
  color: #fff;
  padding: 6px 16px 6px 16px;
  margin: 11px 0 0 0;
  font-size: 14px;
}

.completeList h2 a:hover {
  background-color: #9F0126;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00034', endColorstr='#c0012e');
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e00034), to(#9F0126));
  background-image: -webkit-linear-gradient(top, #e00034, #9F0126);
  background-image: -o-linear-gradient(top, #e00034, #9F0126);
  background-image: linear-gradient(to bottom, #e00034, #9F0126);
  background-image: -moz-linear-gradient(top, #e00034, #9F0126);
  color: #fff;
}

#propListComplete {
  margin: 30px 0 0;
}

#propListComplete div h3 {
  float: none;
  font-size: 19px;
  font-weight: normal;
  color: #959595;
  text-transform: uppercase;
  margin: 0 0 6px 0;
}

#propListComplete>div>a {
  display: block;
  float: none;
  font-size: 13px;
  font-weight: normal;
  color: #e00034;
  text-transform: uppercase;
  margin: 0 0 2px 0;
  line-height: 16px;
}

#propListComplete div strong {
  display: block;
}

#propListComplete div strong a {
  float: none;
  font-size: 13px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  margin: 12px 0 4px 0;
  line-height: 16px;
}

#propListComplete>div>a:hover {
  color: #333;
}

#propListComplete>div {
  float: left;
  margin: 0 10px 40px 40px;
}

.footer div.top div p {
  line-height: 19px;
}

#overview .two-columns .left .left strong {
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
}

.in-the-news .horizontal-slider li p {
  margin: 12px 0 0 0;
}

#site-plan {
  margin: 20px 20px 40px 20px;
}

.info-pop-slider ul {
  width: 9999px;
  height: 225px;
  overflow: hidden;
}

.info-pop-slider ul li {
  display: block;
  float: left;
  width: 457px;
  height: 225px;
}

#site-plan .two-columns .right ul {
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
}

#site-plan .two-columns .right ul li {
  display: block;
  width: 50%;
  float: left;
  margin: 0;
}

#site-plan .two-columns div ul li a {
  padding: 4px 0 4px 0;
  display: block;
}

.services-list .info-pop-slider ul li.rollover-item {
  display: block;
  float: left;
  width: 220px;
  height: 220px;
}

.services-list li .text p a {
  font-weight: 600;
}

.services-list li .text h3 {
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 5px 0;
}

img.prop {
  width: 10px;
  height: 10px;
  display: block;
}

img.propImg {
  width: 460px;
  height: 300px;
}

.map-img {
  width: 100%;
/*/  opacity: 0;/*/
}

.cmsEditing .map-img {
  width: auto;
  opacity: 1;
}

#sitePlanForm {
  display: none;
}

.Available_Space {
  padding: 1px;
  position: relative;
}

.Available_Space select {
  position: absolute;
  left: 0;
  z-index: 999;
  background: #fff;
  display: block;
  min-width: 200px;
}

.top-section .right .pretty-select {
  min-width: 210px;
}

#site-map-img area {
  cursor: crosshair;
}

.page-content .prop-slider {
  width: 460px;
  height: 300px;
  overflow: hidden;
  background: #9a9a9a;
  position: relative;
}

.page-content .prop-slider ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 9999px;
}

.menu-holder {
  top: 24px;
  position: relative;
  margin: 0 0 20px 0;
}



.general {
  clear: both;
  float: none;
  padding: 24px 62px 0 65px;
}

.general .content {
  float: left;
  margin-bottom: 40px;
  width: 70%;
}

.general .sidebar {
  width: 30%;
  float: left;
}

.sidebarContent {
  padding: 0 10px 0 30px;
}

#p-search-results .loading {
  background: transparent url(../images/loading.gif) no-repeat scroll 50% 200px;
  width: 100%;
  min-height: 400px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 7;
  padding: 0;
}

#p-search-map .loading {
  background: transparent url(../images/loading.gif) no-repeat scroll 50% 0px;
  width: 100%;
  height: 13px;
  position: absolute;
  left: 0;
  top: 520px;
  z-index: 7;
  padding: 0;
}

#p-search-results div h2 {
  margin-top: 30px;
  color: #e00034;
  float: none;
  font-size: 33px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

#gmap h2 {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  color: #e00034;
  font-size: 33px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.daily {
  opacity: 1;
}
.tweet {
  margin: 0 0 5px 0;
}
.tweet a {
  color: #E00034;
  display: block;
  clear: both;
  margin: 5px 0 0 0;
}
.interact {
  display: none;
}
.timePosted {
  font-style: italic;
  margin-bottom: 20px; 
}

#timeline {
  width: 85%;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
  background: transparent url(../images/dot.gif) repeat-x scroll 0 55px;
  margin: 100px auto;
}

#timeDates li {
  list-style: none;
  float: left;
  width: 100px;
  height: 66px;
  font-size: 24px;
  text-align: center;
  background: transparent url(../images/biggerdot.png) no-repeat scroll 50% 100%;
}

#timeDates a {
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 10px;
  color: #999;
}

#timeDates .selected {
  font-size: 30px;
  color: #e00034;
}

#timeDates a:hover {
  color: #e00034;
}

#timeEvent {
  width: 90%;
  overflow: hidden;
}

#timeEvent li {
  list-style: none;
  float: left;
  overflow: hidden;
  padding: 0;
  margin: 0;
  visibility: hidden;
}

#timeEvent li p {
  padding: 0 0 0 70px;
}

#timeline .next, #timeline .prev {
  position: absolute;
  font-size: 70px;
  top: 170px;
  width: 29px;
  height: 55px;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
}

#timeline .next:hover, #timeline .prev:hover {
  opacity: 0.4;
}

#timeline .next {
  right: 0;
  background: transparent url(../images/sprite.png) no-repeat scroll 0 -69px;
}

#timeline .prev {
  left: 0;
  background: transparent url(../images/sprite.png) no-repeat scroll 0 -14px;
  display: none;
}

#timeline .next.disabled, #timeline .prev.disabled {
  opacity: 0;
  visibility: hidden;
}

#timeEvent li img {
  float: right;
  display: block;
  margin: 0 0 20px 20px;
  width: 350px;
  height: 250px;
}

#timeEvent li > div {
  padding: 40px 0 0 0;
  margin: 0 0 0 0;
  float: left;
  width: 100%;
}

#timeEvent li h1 {
  font-size: 34px;
  font-weight: normal;
  margin: 0 0 10px 70px;
}

.slider-2 li.rollover-item  a {
  display: block;
  width: 220px;
  height: 220px;
  overflow: hidden;
}

.news-page .selected {
  background: transparent url(../images/selected.png) repeat-y scroll 0 0;
}

.case-studies ul a {
  position: relative;
}

.case-studies ul a span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(66, 20, 95, 0.8);
  width: 220px;
  height: 220px;
  opacity: 0;
}

.case-studies ul a:hover span {
  opacity: 1;
}

.case-studies ul a span strong {
  font-size: 26px;
  font-weight: 300;
  line-height: 33px;
  color: #fff;
  display: block;
  position: static;
  margin: 15px 9px 9px 12px;
}

.case-studies ul a span em {
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  display: block;
  position: static;
  margin: 8px 9px 9px 12px;
}

#p-search-map #gmap {
  height: 600px;
}

#PropAvailBrochureDiv {
  min-width: 120px;
  min-height: 20px;
  position: absolute;
  top: 30px;
  left: 300px;
}

.rollover-parent {
  display: block;
  position: relative;
  width: 220px;
  height: 220px;
  overflow: hidden;
}

.rollover-parent a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 220px;
  overflow: hidden;
}

.rollover-parent a span {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 220px;
  overflow: hidden;
  background-color: rgba(66, 20, 95, 0.8);
}

.rollover-parent a:hover span {
  display: block;
}

.rollover-parent a span strong {
  display: block;
  font-weight: 300;
  font-size: 26px;
  line-height: 33px;
  color: #fff;
  padding: 11px 8px 8px 11px;
}

.rollover-parent a span em {
  display: block;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
  font-style: normal;
  padding: 11px 8px 8px 11px;
}

#pan {
  margin: 20px;
  min-height: 400px;
}

.mapster_tooltip span {
  padding: 6px 10px 0 10px;
  display: block;
  font-weight: bold;
  white-space: nowrap;
  cursor: default;
}

.mapster_tooltip var {
  padding: 3px 10px 6px 10px;
  display: block;
  white-space: nowrap;
  cursor: default;
}

.unique.code {
  display: none;
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.SitePlanTooltip {
  background-color: rgba(250, 250, 250, 0.9);
  border: 1px solid #000;
  min-width: 200px;
  max-width: 300px;
  padding: 4px;
  margin: 4px;
  -moz-box-shadow: 3px 3px 5px #535353;
  -webkit-box-shadow: 3px 3px 5px #535353;
  box-shadow: 3px 3px 5px #535353;
  opacity: 1;
}

img.map-img {
  background: transparent url(../images/loading.gif) no-repeat scroll 50% 250px;
  display: block;
}

#pan>img, #site-plan-container {
  background: transparent url(../images/loading.gif) no-repeat scroll 50% 250px;
  display: block;
  min-height: 500px;
}
@media (max-width: 500px) {
  #pan>img, #site-plan-container {
    min-height: 250px;
  }
}
@media only screen and (min-width : 767px) and (max-width : 1025px) {
   #pan>img, #site-plan-container {
    min-height: 300px;
  }
}
.thanks {
  font-size: 16px;
  position: absolute;
  padding: 0;
  margin: 0;
  color: #e00034;
  font-weight: bold;
  opacity: 0;
  display: none;
}

.main.fluid-padding {
  padding-left: 70px;
  padding-right: 70px;
}

.main div.left li>span.right {
  padding: 0 15px 0 15px;
  display: inline-block;
}

.page-content .prop-slider ul li {
  padding: 0px;
  margin: 0px;
  display: block;
  float: left;
}

.c {
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  overflow: hidden;
  padding: 0;
  display: block;
}

.cmsEditing .in-the-news .horizontal-slider li, .cmsEditing .slider-2 li.rollover-item {
  margin-bottom: 24px;
}

.cmsEditing .featured-row div.controls span,  .cmsEditing .featured-row button {
  display: none;
}

.cmsEditing .socials a {
  height: 18px;
  margin-left: 53px;
}

.cmsEditing .cmsEdit.cmsName_Link {
  margin-top: -20px;
}

.cmsEditing .imgG .horizontal-slider li {
  margin-bottom: 16px;
}

.cmsEditing .redtext {
  font-size: 33px;
  color: #e00034;
  display: block;
}

#PropAvailBrochureDiv {
  display: none;
}

.cmsEditing #PropAvailBrochureDiv {
  display: block;
}

.cmsEditing em.location {
  display: block;
  margin: 10px 0 0 0;
  min-height: 18px;
}

.cmsEditing .news-page .news-list .text {
  overflow: visible;
  height: auto;
}

.cmsEditing .main ul.left li a.more {
  display: none;
}

.cmsEditing em.latlong {
  opacity: 1;
  width: auto;
  min-width: 120px;
  height: auto;
  margin: -22px 0 0 0;
  display: block;
  float: left;
}

.cmsEditing .top-section h1, .cmsEditing .top-section h2, .cmsEditing .top-section h3 {
  min-height: 25px;
}

.cmsEditing em.zoom {
  opacity: 1;
  width: auto;
  min-width: 120px;
  height: auto;
  margin: -22px 0 0 200px;
  display: block;
  float: left;
}

.caseStudyRight {
  display: none;
}

.cmsEditing .caseStudyRight {
  display: block;
  height: 25px;
}

.cmsEditing #contactLocations em.location {
  display: block;
  min-height: 30px;
}

.cmsEditing #timeEvent li {
  visibility: visible;
}

.cmsEditing #timeEvent li div em {
  float: right;
  position: relative;
  z-index: 9;
}

.cmsEditing #timeEvent li div em span {
  left: 20px;
}

#speed {
  position: absolute;
  z-index: -1;
  width: 10px;
  height: 10px;
  overflow: hidden;
  left: -999px;
}

.cmsName_Contact_Page_Recipient {
  display: none;
}

.cmsEditing .cmsName_Contact_Page_Recipient {
  display: block;
  position: absolute;
  z-index: 5;
  opacity: 1;
}

.spf {
  display: none;
}

.required.inputerror {
  background: #F9E7EB !important;
}

.cmsEditing .thanks {
  display: block;
  opacity: 1;
  position: relative;
  margin: 0 0 20px 0;
}

a.nolink:hover {
color: inherit !important;
text-decoration: inherit !important;
cursor: inherit !important;
}

.info-pop .fluid-padding > div.text .agents a {
display: block;
color: #FCFCFC;
}

.info-pop .fluid-padding > div.text .agents a:hover {
color: #e00034;
}

#contactStuff {
position: absolute;
top: 0;
left: 0;
width: 4px;
height: 4px;
overflow: hidden;
opacity: 0;
margin: 0 0 0 -9999px;
}

.info-pop .fluid-padding .caseCol1 {
overflow: hidden;
float: left;
padding-right: 3%;
}

.caseCol1 a.fancy-download {
margin-bottom:14px;
}

.select-site-plan {
/*/display: none;/*/
margin: 0 0 20px 0;
}

.siteSpace ins {
display: none;
}
.select-site-plan .inactive-level {
  visibility: hidden;
}

.select-site-plan a {
  color: white;
  display: inline-block;
  padding: 5px 30px;
  margin-top: 15px;
  border-radius: 3px;
  background-color: #888888;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#555555');
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#888888), to(#555555));
  background-image: -webkit-linear-gradient(top, #888888, #555555);
  background-image: -o-linear-gradient(top, #888888, #555555);
  background-image: linear-gradient(to bottom, #888888, #555555);
  background-image: -moz-linear-gradient(top, #888888, #555555);
  background-repeat: repeat-x;
}

.select-site-plan a:hover, .select-site-plan a.selected {
  background-color: #df0034;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#df0034', endColorstr='#bf012d');
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#df0034), to(#bf012d));
  background-image: -webkit-linear-gradient(top, #df0034, #bf012d);
  background-image: -o-linear-gradient(top, #df0034, #bf012d);
  background-image: linear-gradient(to bottom, #df0034, #bf012d);
  background-image: -moz-linear-gradient(top, #df0034, #bf012d);
}

.info-pop-content .text h3 em {
font-style: normal;
display: block;
font-size: 15px;
line-height: 19px;
color: #ccc;
}

.tweet p {
margin: 0 0 12px 0;
}

strong.twitDateContent {
clear: both;
display: block;
font-weight: normal;
margin: 0;
}

em.twitDateTime {
clear: both;
display: block;
font-weight: normal;
margin: 3px 0 0 0;
}

strong.twitDateContent a {
display: block;
color: #E00034;
}

strong.twitDateContent a:hover {
text-decoration: underline;
}

.contact-details div.options p {
 display: none;
 position: absolute;
 border: 2px solid #f0f0f0;
 border-top: 0;
 width: 414px;
 overflow: hidden;
}

.contact-details div.options a {
display: block;
padding: 7px 6px 7px 6px;
background: #F0F0F0;
line-height: 22px;
width: 406px;
}

.contact-details div.options p a {
background: #fdfdfd;
width: 398px;
padding: 5px 10px 5px 6px;
}

#Area_of_Interest {
display: none;
}

.contact-details div.options a:hover {
background: #959595;
color: #fff;
cursor: pointer;
}

.contact-details div.options a.select:hover {
cursor: default;
}

.two-columns.siteSpace {
display: none;
}

.select-site-plan a:hover {
color: #fff;
}

.tweetHead {
display: block;
background: transparent url(../images/tweetyBird.gif) no-repeat scroll 0 0;
min-height: 43px;
}

.news-page .sidebar .tweetHead h2{
font-size: 22px;
padding: 0 0 20px 70px;

}
.main.investment-sales-page {
margin: 0 0 10px 0;
}

.cmsEditing .urban .latlong {
    min-height: 20px;
    min-width: 100px;
    display: block;
    margin: 0 0 10px 0;
}

.cmsEditing .urban .zoom {
    min-height: 20px;
    min-width: 100px;
    display: block;
    margin: 0 0 40px 0;
}

#urbanLocations img.img {
    width: 100px;
    border: 0;
}

#urbanLocations em {
    display: block;
    font-style: normal;
}

#urban-map {
    height: 750px;
     margin: 0px 30px 40px 30px;
    display: block;
    background: #eee;
}

#urbanLocations {
    display: none;
}

.cmsEditing #urbanLocations {
    display: block;
}

.cmsEditing #urbanLocations p {
    position: relative;
    margin: 0 0 20px 0;
}

.caseCol1 a.fancy-download {
    display: none;
}

.propDownloads {
    float: right;
    width: 225px;
    height: 35px;
    line-height: 35px;
    background: none;
    background-color: #7b787c;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00034', endColorstr='#c0012e');
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e00034), to(#c0012e));
    background-image: -webkit-linear-gradient(top, #e00034, #c0012e);
    background-image: -o-linear-gradient(top, #e00034, #c0012e);
    background-image: -moz-linear-gradient(top, #e00034, #c0012e);
    background-image: -ms-linear-gradient(top, #e00034, #c0012e);
    background-image: linear-gradient(to bottom, #e00034, #c0012e);
    background-repeat: repeat-x;
    border: 11px solid #a1a1a1;
}

.propDownloads a {
    display: block;
    height: 35px;
    line-height: 35px;
    padding: 0 0 0 10px;
    cursor: default;
}

.propDownloads p {
    display: none;
    padding: 0;
    background: #950124;
    border: 2px solid #C0012E;
    position: absolute;
    width: 221px;
}

.propDownloads p a {
    display: block;
    background: #950124;
    width: 211px;
    cursor: pointer;
}

.propDownloads p a:hover {
    background: none;
    background-color: #7b787c;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e00034', endColorstr='#c0012e');
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e00034), to(#c0012e));
    background-image: -webkit-linear-gradient(top, #e00034, #c0012e);
    background-image: -o-linear-gradient(top, #e00034, #c0012e);
    background-image: -moz-linear-gradient(top, #e00034, #c0012e);
    background-image: linear-gradient(to bottom, #e00034, #c0012e);
    background-repeat: repeat-x;
    color: #fff;
}

/*
 * Chrome Fixes
 */

.clearSmall {
display: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .featured-row.imgG .horizontal-slider li {
    min-width: 150px;
    text-align: center;
  }
}

@media screen and (min-width:767px) and (max-width: 1190px) {

 body .layout-buttons {
  padding-top: 8px;
 }
  .header h1 {
    bottom: auto;
    top: 26px;
    left: 18px;
  }

  .retailer-search .top-part {
    display: inline;
    border: 0;
  }

#retailers-and-restaurants-q, #properties-q {
    width: 300px;
}
  .search.retailers-and-restaurants-submit {
    display: none;
  }

  .news-page .news-list li {
    padding: 15px 30px 15px 15px;
  }

  .people-page .info-pop .fluid-padding > div.text.first {
    padding: 0
  }
  .people-page .info-pop .fluid-padding > div.text.second {
    width: auto;
    margin: 0;
    padding: 25px 0 0 0;
  }
  .people-page .info-pop .fluid-padding > div.text.last {
    width: auto;
    margin: 0;
    padding: 25px 0 0 0;
  }

  .general {
    clear: both;
    float: none;
    padding: 24px 10px 0 17px;
  }

  .main.fluid-padding {
    padding-left: 17px;
    padding-right: 17px;
  }

  .retailer-list li {
    margin: 18px 17px 18px 0;
  }

  .news-page .sidebar .rightSide {
    padding: 0 17px 0 0;
  }

  .header h1 a {
    background: #fff url("../images/logoSmall.png") no-repeat scroll 0 0;
    width: 98px;
    height: 57px;
  }

  #timeline {
    width: 95%;
  }

  body .horizontal-slider {
    width: auto;
  }

  .featured-row.case-studies .horizontal-slider li {
    margin-right: 7px;
    width: 220px;
    height: 220px;
  }

  .featured-row.case-studies .horizontal-slider li a, .featured-row.case-studies .horizontal-slider li a span {
    width: 211px;
    overflow: hidden;
  }

  body .in-the-news .horizontal-slider {
    height: 265px;
  }


  .in-the-news .horizontal-slider li {
    width: 201px;
    height: 265px;
  }

  body .footer {
    padding: 0 60px 0 18px;
  }

  .fluid-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header ul.menu > li {
    margin-left: 0px;
    margin-right: 10px;
  }

  .featured-row .controls {
    width: 30%;
  }

  .horizontal-slider {
    width: 68%;
  }

  .top-section h1 {
    font-size: 20px;
  }

  .top-section h2 {
    font-size: 35px;
  }

  .sticky-contacts {
    position: absolute;
    top: auto;
    bottom: 116px;
  }

  .info-pop .fluid-padding > div {
    float: none;
  }

  .info-pop .fluid-padding > div.text {
  }

  .info-pop-slider {
    margin: 10px 0;
  }

  .info-pop .close-pop {
    right: 15px;
    top: 15px;
  }

  .investment-sales-page .red-border-list li {
    padding-bottom: 10px;
    width: 22%;
  }

  .retailer-restaurants form .top-part  input[type="text"] {
    width: 73% !important;
  }

  .retailer-search .form input[type="text"] {
    width: 64%;
  }

  .retailer-search.red-gradient form input[type="submit"] {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
}


  .header ul.menu > li > a {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0;
    color: #333;
    font-size: 13px;
  }
}

@media screen and (min-width:550px) and (max-width: 766px) {
  .header ul.menu > li {
    margin: 0 12px 0 0;
  }

  .header ul.menu > li > a {
    letter-spacing: 0.2;
  }
}

@media screen and (min-width:856px) and (max-width: 900px) {
  .header ul.menu > li {
    margin: 0 15px 0 0;
  }

  .header ul.menu > li > a {
    letter-spacing: 0.5;
  }

  .page-content .top-section form.right {
   float: none;
   width: 300px;
   margin: 15px auto 15px auto;
   display: block;
  }  

  .tab-controls.clear {
   padding-top: 20px;
  }

}

@media screen and (max-width: 765px) {


 .clearSmall {
  clear: both;
  display: block;
 }

 .top-section.property-page div.left h1 {
  font-size: 29px;
  line-height: 34px;
 }



 .tab-controls li a {
  font-size: 13px;
 }

 .news-page .news-list li {
  padding: 14px 0 17px 0;
 }

  .news-page .sidebar .rightSide {
    padding: 0 17px 0 0;
  }

 .rr .info-pop-content .rCol1 {
  width: auto;
 } 
 .rr .info-pop-content .rCol2 {
  width: auto;
  max-width: 85%;
 } 
 .rr .info-pop-content .rCol3 {
  width: auto;
 } 

 .rr .info-pop-content .rCol1 img {
  height: auto;
  margin: 0;
  height: auto;
  width: 100%;
 }

 #timeEvent li img {
  float: left;
  margin-left: 5px;
  max-width: 99%;
  height: auto;
 }

 #pan {
    margin: 0;
    min-height: 50px;
 }

 #overview.active .two-columns .left, #overview.active .two-columns .right  {
  padding: 0 0 0 10px !important;
 }

 #area-map {
  margin: 0;
 }

 .propDownloads {
  float: none;
  margin: 15px auto 0 auto;
 }

  #overview.active div.two-columns .right h5 {
  padding-top: 15px;
  margin: 0 0 10px 0
 }

 .two-columns .right .prop-slider  {
  max-width: calc(100% + 10px);
  overflow: hidden;
 }

 .demographics-table {
  width: calc(100% + 10px);
 }

 .demographics-table {
  width: calc(100% + 8px);
 }

 #overview .property-web-logo img {
  float: none;
  margin: 0 auto 0 auto;
  display: block;
 }
 .tweetHead {
  min-height: 43px;
  padding: 0 0 20px 0;
 }

 .news-page .news-list li h2, .news-page .sidebar .tweetHead h2 {
     font-size: 19px;
 }

 .tweet {
     display: block;
     margin: 0px;
     padding: 0;
 }
 .signup.subscription-form {
     display: block;
     margin: 45px 28px 15px 0;

 }
 .twitter-follow {
     display: block;
     margin: 20px 28px 15px 0;

 }
 .main ul.case-study-list li.rollover-item, .main ul.team-list li.rollover-item {
     display: block;
     margin: 0 auto;
     border-left: 4px solid #fff;
     border-right: 4px solid #fff;
 }


.services-list > li .info-pop-slider {
    padding: 10px 0 0 0;
}
 
 #retailers-and-restaurants-auto em, #properties-auto em {
  display: none !important;
 }
  .header h1 {
    bottom: auto;
    top: 7px;
    left: 8px;
  }

  .header h1 a {
    background: #fff url("../images/logoSmall.png") no-repeat scroll 0 0;
    width: 98px;
    height: 57px;
  }

  .retailer-search .left {
    margin: 0 0 10px 0;
    width: 95%;
    min-width: 1px;
    max-width: 280px;
}

  .people-page .info-pop .fluid-padding > div.text h3 {
     margin-top: -35px !important;
  }

  .mobile-navigation {
    display: block !important;
    background-color: #dedede;
    font-size: 15px;
    padding: 10px 0;
    position: relative;
    margin: 0 auto 0 auto;
    text-align: center;

  }

.horizontal-slider>div> ul {
float: left;

}


  body .fluid-padding {
    padding-left: 15px;
    padding-right: 15px;
  }

  body .info-pop-content .fluid-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .header.fluid-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .right.menu-holder {
    float: none;
  }

  .header ul.menu {
    display: none;
    min-width: 60%;
    margin: 0 auto 24px auto;
    max-width: 500px;
    background: #eee;
  }

  .header ul.menu > li {
    float: none;
    margin: 0;
    padding: 00;
  }

  .header ul.menu > li a {
    display: block;
    padding: 6px 10px 6px 30px;
  }

  .subAbout {
    display: none;
  }

  .header ul.menu > li a.active, .header ul.menu > li a:hover, .header ul.menu > li > ul > li > a:hover, .header ul.menu > li > ul > li > a.active {
    background: #dedede;
  }

  .header ul.menu > li > ul {
    display: block;
    position: static;
    background: none;
    margin: 0;
    box-shadow: none;
    width: 100%;
  }

  .header ul.menu > li > ul:before {
    display: none;
  }

  .header ul.menu > li > ul > li > a {
    color: #333333;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 0;
    padding-left: 45px;
  }

  .main-slider ul li .info {
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .featured-row .controls {
    width: 100%;
    margin-bottom: 15px;
  }

  .horizontal-slider {
    width: 100%;
  }

  .sticky-contacts {
    position: absolute;
    top: auto;
    bottom: 190px;
  }

  .general {
    padding: 0 0 0 8px;
  }

  #timeline {
    width: 95%;
  }

  .footer {
    padding: 0 90px 0 90px;
  }

  .footer .top > div ul {
    margin: 0 0 10px 0;
  }

  .footer .top > div {
    width: 100%;
  }

  .footer .top > div p {
    padding-bottom: 10px;
  }

  .footer .bottom ul li {
    float: none;
  }

  .footer .bottom ul.socials,
	.footer .bottom ul.socials li {
    float: left;
  }

  .footer .bottom ul.socials li a {
    margin: 5px 10px 0 0;
  }

  .news-page .sidebar ,
	.news-page .news-list {
    width: auto;
  }

  .top-section {
    padding-left: 10px;
    padding-right: 10px;

  }


  .top-section h1 {
    font-size: 30px;
    text-align: left;
  }

  .top-section h2 {
    font-size: 35px;
  }

  .main.fluid-padding.people-page .people-title {
   text-align: center;
   margin: 0 auto 20px auto;
  }
  .people-page .info-pop .fluid-padding > div.text.second,
	.info-pop .fluid-padding > div.text {
    width: auto;
    float: none;
    clear: both;
    padding-bottom: 25px;
  }

  .right.sidebar.daily {
    clear: both;
    float: none;
  }

  .info-pop .fluid-padding > div.text.last {
    width: auto;
    float: none;
    clear: both;
    padding-bottom: 0;
  }

  .team-list {
    margin: auto;
  }


  .team-list.info-pops li {
    margin: auto;
  }

  .team-list.info-pops li .SpecialList {
    margin: 15px 0 5px 0;
  }



  .services-list {
    padding-left: 5px;
  }

  .info-pop-content .fluid-padding div.text {
    padding: 20px 10px 0 10px;
  }

  .services-list > li .info-pop-slider {
    clear: both;
    float: none;
    padding: 30px 0 10px 0;
  }

  .services-list > li > div.first,
	.services-list > li > div.second {
    width: auto;
  }

  .info-pop .close-pop {
    right: 15px;
    top: 15px;
  }

  .contact-details form {
    width: 100%;
  }

  .contact-details > div {
    float: none;
    padding-top: 20px;
    width: 100%;
  }

  .investment-sales-page .red-border-list li {
    padding-bottom: 10px;
    width: 95%;
    min-height: 50px;
  }

  .investment-sales-page .half-width {
    width: auto;
  }

  .general .sidebar, .general .content {
    width: 100%;
  }

  .sidebarContent {
    padding: 0;
  }

  .retailer-search .form {
    clear: both;
    padding-top: 5px;
  }

  .retailer-search .top-part, .retailer-search.red-gradient .top-part {
    width: 95%;
    border: 3px solid #2B0F3C;
    display: block;
  }

  .retailer-search .form input[type="text"] {
    width: 64%;
  }

  .retailer-search.red-gradient form input[type="submit"] {
    width: 29%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .property-landing-lists > ul {
    width: 99%;
  }

  .tabs-content .two-columns > div.left.two-columns > div.right, .tabs-content .two-columns > div.right {
    clear: both;
    padding-left: 25px;
    padding-top: 5px;
  }

  .tabs-content .two-columns > div.left.two-columns > div, .tabs-content .two-columns > div {
    width: 93%;
    padding-left: 25px;
  }

  .tabs-content .two-columns .pretty-select, .property-page.gray-gradient .pretty-select {
    float: left;
    padding-left: 15px;
  }

  .tabs-content .two-columns > div.right {
    float: none;
  }

  .mobile-padding {
    padding: 15px 0 0 50px !important;
  }

  .tab-controls {
    padding-top: 10px;
  }

  .tab-controls li a {
    padding: 11px 5px;
  }

  .retailer-restaurants form .top-part  input[type="text"] {
    width: 54% !important;
  }

  .main {
    padding: 10px 10px 0 10px;
  }

  .footer {
    padding: 0 10px 0 17px;
  }

  .sticky-contacts {
    display: none;
  }

  #timeEvent li p {
    padding: 0;
  }

  body div.second ul li {
    width: 100% !important;
    clear: both;
    float: none;
  }

  body .main.fluid-padding {
    padding: 15px 5px 15px 17px;
  }

  .page-content div div.main div.left, .page-content div div.main div.left h2 {
    padding: 0;
    margin: 0;
  }

  .main-slider ul li .info {
    left: 5px;
    position: absolute;
    left: auto;
    right: auto;
    top: 5px;
    margin: 20px 0 0 15px;
    width: auto;
  }

  .main-slider .left-arrow, .main-slider .right-arrow {
    top: 80%;
  }

  .header {
    padding-top: 8px;
  }

  .header h1 {
    height: 57px;
    width: 98px;
    margin: 0 auto 0 auto;
    display: block;
    position: relative;
    float: none;
  }

  .featured-row {
    margin: 0 auto 0 auto;
  }

  .search.retailers-and-restaurants-submit {
   display: none;
  }

  #retailers-and-restaurants-q, #properties-q {
   width: 100%;
  }

  .top-section .top-part #properties-auto.auto {
   overflow: hidden;
  }

 .top-section .left {
    float: none ;
    margin: 0 auto 0 auto;
    width: auto;
    position: relative;
    overflow: hidden;
  }

  .layout-buttons {
    text-align: center;
  }

  .layout-buttons a {
    text-align: center;
    float: none;
    margin: auto;
  }

  .properties-search .layout-buttons {
    width: 275px;
    margin: 0 auto 16px auto;
  }

  .properties-search .layout-buttons a {
    float: left;
    margin: 0 9px 0 9px;
  }

  #properties-auto.auto .submit{ 
    margin: 10px 0 0 0;
    float: none;
    display: block;
  }

  .RetailSelects {
    text-align: center;
    margin: 0 auto 0 auto;
    max-width: 300px;
  }

  .retailer-search .select-text {
    width: 90% !important
  }
  .retailer-list {
    margin: auto;
    padding-left: 16px;
  }

  .retailersandrestaurantsaspx .top-section.retailer-search .layout-buttons {
    display: none;
  }

  #retailers-and-restaurants-q, #properties-q {
     overflow: hidden;
     margin: 0 auto 0 auto;
     display: block;
  }

  body #propListComplete div h3 {
    margin: 24px 0 0 0;
  }

  body #propListComplete > div {
    margin: 0 10px 0 40px;
  }

  .page-content .top-section form.right {
   float: none;
   width: 300px;
   margin: 15px auto 15px auto;
   display: block;
  }

  .tab-controls.clear {
   padding-top: 20px;
  }

  .Available_Space {
   width: 300px;
   padding: 30px 0 35px 0;
   margin: 10px 0 10px 0;
  }

  .Available_Space>div{
    float: left;
  }

  .two-columns .left .right h5 {
   clear: both;
   float: none;
  }


}


@media screen and (max-width: 760px) {

 .completeList h2 a {
  margin: 0;
  float: left;
 }

 #p-search-map {
  margin: 0;
  padding: 0;
 }

 .showMap #p-search-results {
  display: none;
 } 

 #properties-search.form {
  margin: 0 auto 0 auto;
  max-width: 330px;
  padding: 0 0 0 10px;
 }

 .retailer-search .top-part, .retailer-search.red-gradient .top-part {
   background-color: transparent;
   border: 0 !important
 }

 .retailer-search .top-part .submit, .retailer-search.red-gradient .top-part .submit {
   border: 2px solid #660000;
 }

 .retailer-search.red-gradient form input.submit {
  background-color: #B4002A;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#df0034', endColorstr='#9F0126');
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#df0034), to(#9F0126));
  background-image: -webkit-linear-gradient(top, #df0034, #9F0126);
  background-image: -o-linear-gradient(top, #df0034, #9F0126);
  background-image: linear-gradient(to bottom, #df0034, #9F0126);
  background-image: -moz-linear-gradient(top, #df0034, #9F0126);
 }

 .retailer-search.red-gradient form input.submit:hover {
  background-color: #df0034;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#311245', endColorstr='#4d1471');
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#df0034), to(#c1012e));
  background-image: -webkit-linear-gradient(top, #df0034, #c1012e);
  background-image: -o-linear-gradient(top, #df0034, #c1012e);
  background-image: linear-gradient(to bottom, #df0034, #c1012e);
  background-image: -moz-linear-gradient(top, #df0034, #c1012e);
 }


 ul.resources-list {
  width: auto;
 }

  .caroufredsel_wrapper {
   width: 480px !important;
   margin: 0 auto 0 auto  !important;
  }
  .slider-1 {
    margin: 0 0 0 10px !important;
  }
  .slider-2 {
    margin: 0 0 0 10px !important;
  }
  .imgG .horizontal-slider li {
    border-right: 0;
    height: 155px;
    padding: 0 23px 0 5px;;
  }
  .imgG .horizontal-slider {
    width: 399px;
    margin: 0 auto 0 auto;
  }
  .imgG .horizontal-slider li {
    border-right: 0;
  }
}

@media screen and (max-width: 510px) {
  .caroufredsel_wrapper {
   width: 240px !important;
   margin: 0 auto 0 auto  !important;
  }
  .slider-1 {
    margin: 0 0 0 10px !important;
  }
  .slider-2 {
    margin: 0 0 0 10px !important;
  }
  .imgG .horizontal-slider li {
    border-right: 0;
    height: 155px;
    padding: 0 23px 0 5px;;
  }
  .imgG .horizontal-slider li {
    border-right: 0;
  }

  ul.property-list {
   width: 220px;
   margin: 0 auto 0 auto;
   overflow: hidden;
  }

  ul.property-list li {
   width: 220px;
   margin: 0 auto 30px auto;
   overflow: hidden;
  }

}
















/* Print layout */
@media print {
	
  .footer,
	.info-pop .close-pop,
	.featured-row .controls span,
	.featured-row .controls button,
	.sticky-contacts,
	.header .right {
    display: none !important;
  }

  .header .left {
    float: none;
    width: 122px;
    margin: 0 auto 15px;
  }

  .case-study-list .info-pop .fluid-padding,
	.team-list .info-pop .fluid-padding,
	.case-study-page,
	.footer.fluid-padding,
	.header {
    padding: 0 !important;
  }

  .footer .top,
	.footer .bottom {
    padding-left: 5px;
    padding-right: 5px;
  }

  .featured-row .left {
    float: none;
    width: 100%;
  }

  .horizontal-slider ul,
	.horizontal-slider .caroufredsel_wrapper,
	.horizontal-slider {
    width: 100%;
    height: 150px;
  }

  .services-list > li {
    clear: both;
    overflow: hidden;
    min-height: 300px;
  }

  .services-list > li > div.second {
    float: right;
  }

  .services-list .info-pop-slider.right {
    float: left;
  }

  .main .half-width {
    width: 100%;
  }

  .red-border-list li {
    width: 255px;
  }

  .verticle-aligned-logos,
	.property-list,
	.red-border-list {
    float: left;
  }

  .property-list {
    padding-top: 5px;
  }

  .retailer-search .form input[type="text"] {
    width: 270px;
  }

  #overview >.two-columns  > div {
    width: 100%;
  }
}




@media screen and (min-width:510px) and (max-width: 767px) {
  ul.property-list {
   width: auto;
   margin: 0 auto 0 auto;
   overflow: hidden;
  }

  ul.property-list li {
   width: 220px;
   margin: 0 10px 30px 10px;
   overflow: hidden;
  }
}


@media screen and (min-width:767px) and (max-width: 1010px) {
    ul.property-list {
        width: 720px;
        margin: 0 auto 0 auto;
        overflow: hidden;
    }

    ul.property-list li {
        width: 220px;
        margin: 0 10px 30px 10px;
        overflow: hidden;
    }
}

