﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Join_Our_Team.aspx.vb" Inherits="Join_Our_Team" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<script type="text/javascript" src="js/jquery-1.3.min.js"></script>
<script type="text/javascript" src="js/navi.js"></script>
<script type="text/javascript" src="js/swfobject.js"></script>
<script type="text/javascript" src="js/thickbox-compressed.js"></script>

<style type="text/css">
	@import url("css/thickbox.css");
 	@import url("css/style.css");
</style>
    <title>Ramsgate - Join Our Team</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
