﻿@font-face {
    font-family: 'Conv_MyriadPro-Regular';
    src: url('MyriadPro-Regular.eot');
    src: local('☺'), url('MyriadPro-Regular.woff') format('woff'), url('MyriadPro-Regular.ttf') format('truetype'), url('MyriadPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_AGaramondPro-Regular';
	src: url('AGaramondPro-Regular.eot');
	src: local('☺'), url('AGaramondPro-Regular.woff') format('woff'), url('AGaramondPro-Regular.ttf') format('truetype'), url('AGaramondPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Conv_Garamond 3 Italic Old Style Figures';
	src: url('Garamond 3 Italic Old Style Figures.eot');
	src: local('☺'), url('Garamond 3 Italic Old Style Figures.woff') format('woff'), url('Garamond 3 Italic Old Style Figures.ttf') format('truetype'), url('Garamond 3 Italic Old Style Figures.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Conv_HelveNueThin';
	src: url('HelveNueThin.eot');
	src: local('☺'), url('HelveNueThin.woff') format('woff'), url('HelveNueThin.ttf') format('truetype'), url('HelveNueThin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
	src: url('Helvetica-Condensed-Bold_0.eot');
	src: local('☺'), url('Helvetica-Condensed-Bold_0.woff') format('woff'), url('Helvetica-Condensed-Bold_0.ttf') format('truetype'), url('Helvetica-Condensed-Bold_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    padding: 0px;
    margin: 0px;
    background: #f1eee9;
}

a {
    text-decoration: none;
}

img {
    border: none;
}

p {
    padding: 0px;
    margin: 0px;
}

ul {
    padding: 0px;
    margin: 0px;
}

ul li {
    list-style-type: none;
}

input {
    padding: 0px;
    margin: 0px;
}

select {
    padding: 0px;
    margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0px;
    margin: 0px;
    font-weight: normal;
}
/*======================================================main page===========================================================*/
/*-------------------------------------------------------HEADER--------------------------------------------------------------*/
.header_main {
}

.con_left {
    width: 212px;
    float: left;
    padding: 30px 0px 0px 37px;
}

.con_top {
}

.left_top {
    padding: 0px 0px 0px 0px;
}

.left_top h2 {
    font-size: 14px;
    font-style: italic;
    color: #666666;
    padding: 0px 0px 20px 0px;
    font-family: 'Conv_Garamond 3 Italic Old Style Figures';
    *font-family: "Times New Roman", Times, serif;
}

.categoryitems input {
    margin: 0px 0px 5px 0px;
}

.categoryitems li .selected {
color: red;
}

.categoryitems h4 {
    font-size: 12px;
    font-style: italic;
    color: #4c6c92;
}

.inpu {
    margin: 10px 0px 0px 0px;
}

.con_left_con {
    padding: 40px 0px 0px 0px;
}

.con_left_con h1 {
    color: #556c91;
    font-size: 12px;
    font-family: "HelveticaNeueLT Std Med";
}

.con_left_con h1 img {
    vertical-align: middle;
    padding: 0px 10px 0px 0px;
}

.con_le_bottom {
    background: #f1eee9;
    padding: 25px 0px 30px 10px;
    margin: 45px 0px 718px 0px;
}

.con_le_bottom h1 {
    color: #82817f;
    font-size: 14px;
    font-style: italic;
    font-family: 'Conv_MyriadPro-Regular';
    *font-family: Myriad Pro;
    padding-bottom: 10px;
}

.con_le_bottom ul {
    padding: 0px;
    margin: 0px;
}

.con_le_bottom ul li {
    color: #4c6c92;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Conv_MyriadPro-Regular';
    *font-family: Myriad Pro;
}

.con_le_bottom ul li a {
    color: #4c6c92;
}

.con_le_bottom ul li img {
    padding: 0px 5px 0px 5px;
}

.con_bottom {
    clear: both;
}

.con_bottom1 {
}

.con_bottom1 ul {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 320px;
}

.con_bottom1 ul li {
    padding: 0px 0px 0px 20px;
    list-style-type: none;
    color: #4c6c92;
    font-size: 13px;
    font-family: Arial;
    line-height: 22px;
}

.con_bottom1 ul li a {
    color: #4c6c92;
}

.con_bottom1 ul li img {
    padding: 0px 5px 0px 0px;
}

.con_bottom1 h1 {
}

.con_bottom2 {
}

.con_bottom3 {
}

.header_top_main {
    clear: both;
    background: #111111;
    overflow: hidden;
}

.header_top {
    width: 980px;
    margin: auto;
}

.top1 {
    clear: both;
    padding: 15px 0px 35px 0px;
    overflow: hidden;
}

.top1_left {
    float: left;
}

.french_menu {
    float: left;
    width: 73px;
    overflow: hidden;
    margin-top: -5px;
}

.navigation {
    float: left;
    margin-left: 25px;
    padding-top: 3px;
}

.navigation ul {
    padding: 0px;
    margin: 0px;
}

.navigation ul li {
    float: left;
    display: inline;
    font-size: 11px;
    font-family: "HelveticaNeueLT Std Med";
    padding-right: 25px;
}

.navigation ul li a {
    color: #6899d3;
}

.donet_button {
    float: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url(PIE.htc);
    position: relative;
    background: #4c6d90;
    width: 59px;
    height: 22px;
    line-height: 20px;
    text-align: center;
    font-family: "HelveticaNeueLT Std Med";
    font-size: 11px;
}

.donet_button a {
    color: #eff2f9;
}

.top_right {
    float: right;
}

.login {
    float: left;
    margin-top: -5px;
}

.toggle_container2 {
    width: 148px !important;
    *width: 153px !important;
    padding: 5px 8px 8px 8px;
}

.login_box {
    clear: both;
}

.login_box h1 {
    clear: both;
    font-family: "HelveticaNeueLT Std Med";
    font-size: 11px;
    margin-bottom: 5px;
}

.login_box h1 input {
    margin-top: 2px;
}

.login_box h2 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url(PIE.htc);
    position: relative;
    background: #4c6d90;
    clear: both;
    float: right;
    width: 70px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    font-size: 11px;
    font-family: "HelveticaNeueLT Std Med";
    margin-top: 3px;
}

.login_box h2 a {
    color: #fff;
}

.why {
    float: left;
    font-style: italic;
    font-size: 11px;
    font-family: "HelveticaNeueLT Std Med";
    margin-left: 12px;
    margin-top: 3px;
}

.why a {
    color: #6899d3;
    text-decoration: underline;
}

.top2 {
    clear: both;
    padding-bottom: 30px !important;
    overflow: hidden;
}

.top2_left {
    float: left;
}

.top2_left ul {
    padding: 0px;
    margin: 0px;
}

.top2_left ul li {
    float: left;
    font-size: 28px;
    color: #fff;
    padding: 0px 25px 0px 25px;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
}

.top2_left ul li a {
    color: #fff;
}

.top2_left ul li span {
    font-size: 18px;
}

.top2_left ul li span a {
    color: #e89916;
}

.geno_border {
    border-right: solid 1px #565656;
    padding: 0px 6px 0px 0px;
}

.anti_nav {
    padding-left: 6px;
}

.top2_right {
    float: left;
    background: #383838;
    width: 298px;
    height: 34px;
    line-height: 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url(PIE.htc);
    position: relative;
    border-bottom: 1px solid #515151;
}

.top2_right ul {
    margin: 0px;
    padding: 0px;
}

.top2_right ul li {
    float: left;
}

.top2_right ul li input {
    background: none;
    border: 0px;
    width: 208px;
    line-height: 34px;
    padding-left: 5px;
    font-family: Helvetica;
    font-size: 14px;
    color: #AFAFAF;
}

.top2_right {
    float: right;
    background: #383838;
    width: 298px;
    height: 34px;
    line-height: 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url(PIE.htc);
    position: relative;
    border-bottom: 1px solid #515151;
}

.top2_right ul {
    margin: 0px;
    padding: 0px;
}

.top2_right ul li {
    float: left;
}

.search_button {
    width: 63px;
    height: 25px;
    background: #4f6d91;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    behavior: url(PIE.htc);
    position: relative;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "Myriad Pro";
    font-size: 14px;
    line-height: 23px !important;
    text-align: center;
    margin: 5px 0px 0px 3px;
    font-weight: bold;
}

.top2_right ul li input {
    background: none;
    border: 0px;
    line-height: 34px;
    width: 195px;
    padding-left: 10px;
    height: 34px;
    *font-family: Helvetica;
    font-size: 18px;
    color: #AFAFAF;
    font-style: italic;
    font-family: 'Conv_Garamond 3 Italic Old Style Figures';
}

.header_bot_main {
    background: #222222;
    overflow: hidden;
}

.header_bot {
    width: 980px;
    margin: auto;
}

.head_bot_left {
    float: left;
    margin: 0px 0px 0px 22px;
    padding-bottom: 20px;
}

.head_bot_nav {
    margin: 57px 0px 0px 0px;
}

.head_bot_nav ul {
    margin: 0px;
    padding: 0px;
}

.head_bot_nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0px 0px 0px 5px;
}

.head_bot_nav ul li a {
    color: #6395d4;
}

.head_bot_nav ul li img {
    vertical-align: middle;
    padding: 0px 5px 0px 0px;
}

.hed_bot_le_bot {
}

.hed_bot_le_bot h2 {
    clear: both;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "Helvetica Neue";
    font-size: 38px;
    margin: 15px 0px 0px 0px !important;
    padding-top: 10px;
    *padding-top: 0px;
    *margin: -53px 0px 0px 0px !important;
    color: #FFF;
    font-weight: bold;
}

.hed_bot_search {
    width: 547px;
    height: 34px;
    line-height: 34px;
    background: #000;
    border-bottom: solid 1px #515151;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url(PIE.htc);
    position: relative;
}

.hed_bot_search ul {
    margin: 0px;
    padding: 0px;
}

.hed_bot_search ul li {
    float: left;
}

.french_menu3 {
    width: 77px;
    height: 25px;
    background: #383838;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    behavior: url(PIE.htc);
    position: relative;
    margin: -50px 0 25px 319px !important;
    *margin: 10px 0px 0px 5px !important;
}

.list_pro_img1 img {
    cursor: pointer;
}

.drop_menu1 {
    *margin: 5px 0px 0px 0px;
}

.search_button2 {
    width: 60px;
    height: 25px;
    position: relative;
    padding: 0;
    margin: 5px 0px 0px 8px;
}

.search_button2 input {
    display: block;
    color: #FFF;
    width: 60px;
    height: 25px;
    line-height: 25px;
    background: #e89a14;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    behavior: url(PIE.htc);
    position: relative;
    text-align: center;
    cursor: pointer;
    border: 2px solid #e89a14;;
    text-transform: uppercase;
}

.search_button2 input:hover {
    background: #D38E21;
    border: 2px solid #D38E21;
}

.head_bot_right {
    float: right;
}

.head_bot_right h2 {
    margin: 24px 46px 0px 0px;
}

.wrapper {
    width: 980px;
    margin: auto;
    clear: both;
}
/*-------------------------------------------------------CONTAIN-------------------------------------------------------------*/
.contain {
    width: 980px;
    margin: 0px auto;
    background: #fff;
    overflow: hidden;
}

.contain_laft {
    float: left;
}

.contain_right {
    float: left;
    width: 710px;
}

.tab1_main {
}

.tab1_main ul {
    margin: 0px;
    padding: 0px 0px 27px 0px;
    overflow: hidden;
}

.tab1_main ul li {
    list-style-type: none;
    border-bottom: dashed 1px #cecece;
    width: 160px;
    display: block;
    float: left;
    height: 170px;
    text-align: center;
    margin: 0px 4px 0px 4px;
    padding: 0px 3px 0px 3px;
}

.title_box1 {
}

.title_box1 h1 {
    padding: 22px 0px 40px 0px;
    float: left;
}

.title_box1 h2 {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #676767;
    margin: 23px 0px 0px 0px;
}

.title_box1 h2 img {
    vertical-align: middle;
}

.title_bottom_sea {
    clear: both;
    border-bottom: solid 2px #cececc;
    overflow: hidden;
    padding-bottom: 7px;
}

.title_bottom_sea h1 {
    float: left;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "Helvetica Narrow";
    font-weight: bold;
    font-size: 14px;
    color: #999999;
}

.title_bottom_sea h1 a {
    color: #999;
}

.title_bottom_sea h2 {
    float: right;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "Helvetica Narrow";
    font-weight: bold;
    font-size: 14px;
    color: #999999;
}

.title_bottom_sea h2 a {
    color: #999;
}

.title_bottom_sea ul {
    margin: -5px 0px 0px 0px;
    padding: 0px 0px 0px 150px;
    float: left;
}

.title_bottom_sea ul li {
    list-style-type: none;
    display: inline;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "Helvetica Narrow";
    font-weight: bold;
    font-size: 14px;
    padding: 0px 10px 0px 10px;
}

.title_bottom_sea ul li a {
    color: #999;
}

.title_bottom_sea ul li a:hover {
    color: #e59b14;
}

.tabs {
    clear: both;
    margin: -56px 0px 0px 0px;
    *margin: -40px 0px 0px 0px;
}

.sisply_box1_sear {
    overflow: hidden;
    margin-bottom: -20px;
}

.sisply_box1_sear h1 {
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "Helvetica Narrow";
    font-weight: bold;
    font-size: 14px;
    color: #999999;
    padding: 20px 0px 0px 108px;
    float: left;
}

.sisply_box1_sear h2 {
    float: left;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "Helvetica Narrow";
    font-weight: bold;
    font-size: 14px;
    color: #999999;
    padding: 20px 0px 0px 185px;
}

.sisply_box1_sear h3 {
    margin: 13px 0px 0px 17px;
    float: left;
}

.sisply_box1_sear h3 select {
    background: url(../images/select_back.png) no-repeat;
    width: 161px;
    border: 0px;
    height: 25px;
    padding: 4px 5px 3px 5px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    font-size: 12px;
}

.sisply_box1_sear h3 select option {
    color: #000;
}

.inner_img1 {
    padding-top: 30px !important;
    height: 140px !important;
}

.inner_img2 {
    padding-top: 40px !important;
    height: 130px !important;
}

.con_right_list {
    width: 700px;
    float: left;
}

.con_ri_list_box1 {
    width: 700px;
    border-bottom: dashed 1px #000;
    overflow: hidden;
}

.list_pro_img1 {
    width: 140px;
    float: left;
    padding: 18px 0px 18px 0px;
}

.list_pro_img1_detail {
}

.list_pro_img1_detail p {
    font-family: 'Conv_AGaramondPro-Regular';
    *font-family: "Adobe Garamond Pro";
    font-size: 16px;
    color: #5c5c5c;
    padding: 15px 0px 0px 0px;
}

.list_tit1 {
    color: #4c6c92 !important;
    font-size: 19px !important;
    font-weight: normal !important;
}

.list_pro_img1_detail p span {
    font-weight: bold;
}

.list_last_det {
    font-size: 12px !important;
    font-weight: bold;
    color: #8b8b8b !important;
    font-family: Arial, Helvetica, sans-serif !important;
}
/*--------------------------------------------------------FOOTER_START--------------------------------------------------------*/
.footer_main {
}

.footer_1 {
    background: #3e3e3e;
}

.footer_top {
    width: 980px;
    margin: auto;
    padding: 34px 0px 35px 0px;
    clear: both;
    overflow: hidden;
}

.footer_top ul {
    padding: 0px;
    margin: 0px;
    width: 240px;
    float: left;
}

.footer_top ul li {
    color: #689cd5;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 5px 15px;
    font-family: 'Conv_MyriadPro-Regular';
    *font-family: "Myriad Pro";
}

.footer_top ul li a {
    color: #689cd5;
}

.footer_top ul li img {
    padding: 0px 8px 0px 0px;
    vertical-align: middle;
    text-align: center;
}

.footer_bottom {
    background: #111111;
    overflow: hidden;
}

.footer_bo {
    width: 980px;
    margin: auto;
    padding: 30px 0px 0px 0px;
}

.footer_bo_top {
    float: left;
    padding: 0px 34px 0px 25px;
}

.footer_bo_con {
    float: left;
}

.footer_bo_con p {
    font-size: 14px;
    color: #ececec;
    line-height: 24px;
    font-family: 'Conv_MyriadPro-Regular';
    *font-family: Myriad Pro;
}

.footer_bo_con p span {
    color: #FFF;
    font-size: 14px;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "HelveticaNeueLT Std Med";
    clear: both;
    font-weight: bold;
}

.footer_bo_bottom {
    float: left;
    padding: 25px 0px 30px 146px;
}

.footer_bo_bottom ul {
    padding: 0px;
    margin: 0px;
}

.footer_bo_bottom ul li {
    color: #699bd6;
    font-size: 14px;
    width: 168px;
    border-bottom: solid 1px #3e3e3e;
    padding-bottom: 5px;
    margin: 5px 0px 0px 0px;
    font-family: "HelveticaNeueLT Std Med";
}

.footer_bo_bottom ul li a {
    color: #699bd6;
}

.footer_search {
    width: 490px;
    margin: auto;
}

.get {
    font-size: 14px;
    color: #FFF;
    float: left;
    padding: 10px 0px 0px 0px;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
}

.get_2 {
    float: left;
    padding: 0px 0px 50px 0px;
}

.get_2 h1 {
    float: right;
}

.get_2 h1 input {
    font-family: 'Conv_Garamond 3 Italic Old Style Figures';
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(PIE.htc);
    position: relative;
    border: solid 2px #b6b6b6;
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    width: 300px;
    *width: 290px;
    color: #767676;
    padding-left: 10px;
    margin: 0px 0px 0px 20px;
    *margin: 0px 20px 0px 0px;
    border: none;
    font-style: italic;
    font-size: 18px;
}

.get_2 h2 {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    clear: both;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    behavior: url(PIE.htc);
    position: relative;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    width: 80px;
    *width: 80px;
    color: #767676;
    background: #4d6d93;
    padding-left: 10px;
    margin: -30px 6px 0px 20px;
    *margin: -33px 26px 0px 0px;
    border: none;
    font-size: 12px;
    color: #FFF;
}

.get_2 h2 a {
    color: #FFF;
}
/*---------------------------------------------------------Asset_Page---------------------------------------------*/
.contain_main {
    padding: 26px 27px 0px 29px !important;
    overflow: hidden;
}

.contain_top_a {
    padding: 0px 0px 25px 0px !important;
}

.con_top_1a {
    padding: 0px 0px 0px 10px;
    float: left;
    background: #4f6d91;
    font-size: 14px;
    color: #FFF;
    width: 184px;
    height: 29px;
    line-height: 29px;
    font-family: Arial, Helvetica, sans-serif;
}

.con_top_1a a {
    color: #FFF;
}

.con_top_1a img {
    clear: both;
    overflow: hidden;
    float: right;
    vertical-align: middle;
    padding: 8px 10px 0px 0px;
    *padding: -28px 10px 0px 0px;
}

.con_top_2a {
    float: left;
    padding: 0px 0px 25px 184px;
}

.con_top_2a ul {
    padding: 0px;
    margin: 0px;
}

.con_top_2a ul li {
    color: #a4a4a4;
    padding: 0px 12px 0px 0px;
    font-size: 18px;
    float: left;
    list-style-type: none;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "HelveticaNeue BoldCond";
}

.pre {
    padding: 0px 28px 0px 0px !important;
}

.con_top_2a ul li a {
    color: #a4a4a4;
}

.con_top_2a ul li a:hover {
    color: #4F6D91;
}

.con_top_3a {
    float: right;
    color: #a4a4a4;
    font-size: 12px;
    font-family: Arial;
}

.con_top_3a img {
    vertical-align: middle;
    padding: 0px 5px 0px 0px;
}

.contain_bottom_a {
    border-top: solid 2px #9a9a9a;
    clear: both;
    padding: 10px 0px 0px 0px;
}

.con_lefta {
    float: left;
    width: 670px;
}

.con_righta {
    float: left;
}

.banner {
    text-align: center;
    width: 670px;
}

.banner_bot {
    border-top: dashed 1px #9a9a9a;
    width: 640px;
    margin: 13px 0px 60px 0px;
}

.banner_bot p {
    color: #5c5c5c;
    font-family: Arial;
    line-height: 25px;
    font-family: 'Conv_AGaramondPro-Regular';
}

.banner_bot h1 {
    color: #4f6d91;
    font-size: 12px;
    padding: 20px 0px 0px 0px;
}

.banner_bot h2 {
    font-size: 24px;
    color: #5c5c5c;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "helveticaNeue BoldCond";
    padding: 15px 0px 20px 0px;
}

.cart {
    color: #4f6d91;
    font-size: 12px;
    padding-top: 10px;
    font-family: 'Conv_MyriadPro-Regular';
    *font-family: "Myriad Pro";
}

.cart img {
    vertical-align: middle;
    padding: 0px 10px 0px 0px;
}

.photo_ass {
    border-top: dashed 1px #9a9a9a;
    margin-top: 15px;
}

.photo_ass ul {
    padding: 0px;
    margin: 0px;
}

.photo_ass ul li {
    color: #676767;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial;
    padding: 15px 0px 0px 0px;
}

.photo {
    color: #9a9a9a;
    font-size: 12px;
    font-family: Arial;
    text-transform: uppercase;
}
/*------------------------------------------------------- shopping_cart -------------------------------------------------------------*/
.contain_top_shop {
    width: 980px;
    margin: auto;
}

.contain_top_shop h2 {
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "Helvetica Neue";
    font-weight: bold;
    border-bottom: solid 2px #9a9a9a;
    font-size: 18px;
    color: #a3a3a3;
    padding: 30px 0px 18px 0px;
    margin: 0px 26px 0px 27px;
    text-transform: uppercase;
}

.contain_bot_shop {
    width: 980px;
    margin: auto;
}

.con_bot_left {
    width: 630px;
    float: left;
    margin: 28px 0px 0px 27px;
    border-right: solid 1px #ebebeb;
    padding-bottom: 200px;
}

.bot_left_top_shop {
    border-bottom: dashed 1px #cecece;
    margin-right: 15px;
}

.bot_left_top_shop h2 {
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "Helvetica Neue";
    text-transform: uppercase;
    font-size: 18px;
    color: #000;
    padding: 0px 0px 14px 0px;
}

.bot_left_top_shop p {
    font-family: 'Conv_AGaramondPro-Regular';
    *font-family: "Adobe Garamond Pro";
    font-size: 16px;
    color: #5c5c5c;
    padding-bottom: 22px;
}

.bot_left_top_shop p span {
    font-weight: bold;
}

.con_bot_box1_shop {
    margin: 25px 15px 0px 0px;
    padding-bottom: 13px;
    border-bottom: dashed 1px #cecece;
    overflow: hidden;
}

.pro_left_shop {
    float: left;
    width: 140px;
}

.pro_left_shop h2 {
}

.pro_left_shop h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 16px 0px 0px 0px;
    color: #676767;
}

.pro_right_shop {
    float: left;
    width: 460px;
    overflow: hidden;
}

.pro_right_shop h2 {
    font-family: 'Conv_AGaramondPro-Regular';
    *font-family: "Adobe Garamond Pro";
    font-size: 18px;
    color: #e89a14;
    padding: 0px 0px 20px 0px;
}

.pro_right_shop ul {
    margin: 0px 0px 0px 0px;
}

.pro_right_shop ul li {
    clear: both;
    padding-bottom: 8px;
    *padding-bottom: 4px;
    overflow: hidden;
}

.quant_shopp {
}

.quan_text_shop {
    width: 80px;
    float: left;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "Helvetica Neue";
    font-size: 14px;
    color: #9a9a9a;
    padding: 4px 0px 0px 0px;
    *padding: 0px 0px 0px 0px;
}

.french_menu4 {
    width: 53px;
    height: 25px;
    background: #9a9a9a;
    float: left;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    behavior: url(PIE.htc);
}

.french_menu5 {
    width: 350px;
    height: 25px;
    background: #9a9a9a;
    float: left;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    behavior: url(PIE.htc);
    text-transform: uppercase;
}

.type_shopp {
}

.type_text_shop {
    width: 80px;
    float: left;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "Helvetica Neue BoldCond";
    font-size: 14px;
    color: #9a9a9a;
    padding: 4px 0px 0px 0px;
    *padding: 0px 0px 0px 0px;
}

select.roundMe {
    float: left;
    width: auto;
    height: 25px;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "Helvetica Neue";
    font-size: 12px;
    line-height: 25px;
    text-align: left;
    background: #eee;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-radius: 4px;
    behavior: url(PIE.htc);
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    color: #556c91;
    border: 2px solid #556c91;
    cursor: default;
}


input.numberOnly {
    float: left;
    width: 55px;
    height: 25px;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "Helvetica Neue";
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    background: #eee;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-radius: 4px;
    behavior: url(PIE.htc);
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    color: #556c91;
    border: 2px solid #556c91;
    cursor: text;
}


.update_button {
    float: left;
    width: 73px;
    height: 25px;
    margin: 0px 0px 0px 80px;
}
.update_button input {
    float: left;
    width: 73px;
    height: 25px;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "Helvetica Neue";
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    background: #556c91;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-radius: 4px;
    behavior: url(PIE.htc);
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    color: #fff;
    border: 0;
    cursor: pointer
}

.update_button input:hover {
    background: #443b80;
}
.update_button a {
    color: #FFF;
}

.delete_shop {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 4px 0px 0px 23px;
}

.delete_shop a {
    color: #637c9a;
    display: block;
    padding: 0 0 0 18px;
    height: 18px;
    line-height: 20px;
    background: transparent url(../images/delete.png) no-repeat scroll 0 4px;
}

.delete_shop a:hover {
    color: #D52525;
    background: transparent url(../images/delete.png) no-repeat scroll 0 -24px;
}

.delete_shop img {
    vertical-align: middle;
    padding-right: 5px;
}

.con_bot_right {
    width: 281px;
    float: left;
    margin: 28px 0px 0px 15px;
    padding-bottom: 100px;
}

.con_bot_right h2 {
    text-transform: uppercase;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "Helvetica Neue";
    font-family: 18px;
    color: #000;
    padding: 18px 0px 18px 0px;
}

.con_bot_right p {
    width: 280px;
    font-family: 'Conv_AGaramondPro-Regular';
    *font-family: "Adobe Garamond Pro";
    font-size: 16px;
    color: #5c5c5c;
}

.con_bot_right p span {
    font-weight: bold;
}
/*pop_style*/
.pop_inner_box1 {
    background: url(../images/pop_back.png) no-repeat;
    width: 663px;
    margin: auto;
    overflow: hidden;
    padding-bottom: 30px;
}

.inner_box1_left {
    float: left;
    padding: 25px 0px 0px 25px;
}

.inner_box1_right {
    float: left;
}

.inner_box1_right p {
    font-size: 18px;
    font-family: 'Conv_AGaramondPro-Regular';
    *font-family: "Adobe Garamond Pro";
    width: 200px;
    color: #4c6c92;
    padding: 30px 0px 0px 20px;
    height: 230px;
}

.inner_box1_right p span {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #8b8b8b;
    font-size: 12px;
}

.inner_box1_right p a {
    color: #4c6c92;
    font-weight: bold;
}

.inner_box1_right h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    border-top: dashed 1px #4f6d91;
    padding-top: 15px;
    padding-left: 10px;
    margin-left: 10px;
}

.inner_box1_right h1 img {
    vertical-align: middle;
}

.inner_box1_right h1 a {
    color: #4f6d91;
}

.french_menu_main {
    width: 161px;
    height: 25px;
    background: #9a9a9a;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    behavior: url(PIE.htc);
    position: relative;
    margin: -2px 80px -22px 15px !important;
    *margin: -2px 55px 0px 15px !important;
    float: right;
}


.banner_bot h1 a {
color: #959595;
}
.banner_bot h1 a:hover {
color: #4F6D91;
}

.left_arrow {
background: transparent url(../images/left_arrow.png) no-repeat scroll 0 5px;
width: 14px;
height: 20px;
display: block;
}

.left_arrow:hover {
background: transparent url(../images/left_arrow.png) no-repeat scroll 0 -27px;
}

.right_arrow {
background: transparent url(../images/right_arrow.png) no-repeat scroll 0 5px;
width: 14px;
height: 20px;
display: block;
}

.right_arrow:hover {
background: transparent url(../images/right_arrow.png) no-repeat scroll 0 -27px;
}

.con_righta .cart a {
color: inherit;
display: block;
padding: 0 0 0 35px;
background: #fff url(../images/cart_2.png) no-repeat scroll 0 0;
}

.con_righta .cart a:hover {
color: #000 !important;
background: #fff url(../images/cart_2.png) no-repeat scroll 0 -56px;
}

.hed_bot_search li.sc {
position: relative;
width: 473px;
}

.hed_bot_search li.sc p{
position: absolute;
top: 4px;
right: 0;
margin: 0;
}
.hed_bot_search li.sc p select{
    float: left;
    width: auto;
    height: 25px;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: "Helvetica Neue";
    font-size: 12px;
    line-height: 25px;
    text-align: left;
    background: #C8C8C8;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-radius: 4px;
    behavior: url(PIE.htc);
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    color: #556c91;
    border: 2px solid #556c91;
    cursor: default;
}

.hed_bot_search li.sc p select option{
   font-weight: normal;
}

.hed_bot_search ul li.sc input {
    width: 300px;
    height: 20px;
    line-height: 34px;
    background: none;
    border: 0px;
    padding: 0 0 0 8px;
    font-family: 'Conv_Garamond 3 Italic Old Style Figures';
    *font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    color: #8c8c8c;
}

.search_button {
    width: 80px !important;
}

.top2_right li.search_button input {
    width: 80px !important;
    height: 25px !important;
    color: #FFF !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    behavior: url(PIE.htc);
    position: relative;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: block;
    float: left;
    padding: 0 !important;
    font-style:normal !important;
    font-weight: bold;
    background: #4F6D91;
    text-transform: uppercase;
    font-family: 'Conv_Helvetica-Condensed-Bold_0';
    *font-family: Arial, Helvetica, sans-serif;
}

.top2_right ul li.search_button input:hover {
    background: #443B80;
}

	ul.tabNavigation {
		list-style: none;
		margin: 20px 0px 0px 240px;
		padding: 0;
	}

	ul.tabNavigation LI {
		display: inline;
	}

	ul.tabNavigation LI A {
		padding: 3px 20px 3px 20px;
		color: #000;
		text-decoration: none;
	}

	ul.tabNavigation LI A.3,
	ul.tabNavigation LI A:hover {
		color: #fff;
		padding-top: 7px;
	}
	
	ul.tabNavigation LI A:focus {
		outline: 0;
	}

	div.tabs > div {
		padding: 18px 5px 5px 5px;
		margin-top: 10px;
		width:700px;
		 border-top:dashed 1px #cecece;
	}
	
	div.tabs > div h2 {
		margin-top: 0;
	}

	#first {}

	#second {}

	#third {}
	
	.waste {
		min-height: 1000px;
	}


.con_top_3a a {
color: inherit;
display: block;
float: left;
background: #fff url(../images/cart_2.png) no-repeat scroll 0 0;
width: 29px;
height: 15px;
}

.con_top_3a a:hover {
background: #fff url(../images/cart_2.png) no-repeat scroll 0 -56px;
}