/* colours:
-----------------------------
dark blue: 	rgb(0, 123, 147) NB slightly darker than web version
light blue:	rgb(153, 204, 204)
orange:		rgb(246, 140, 88)
dark grey:	rgb(58, 54, 73) NB slightly darker than web version
light grey:	rgb(232, 229, 211)
-----------------------------
*/


h1
{
	color: rgb(58, 54, 73);
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: bold;
	font-style: normal;
}

h2
{
	color: white;
	font: bold 10pt "Trebuchet MS", Verdana, Arial, Sans-serif;
	background: rgb(153, 204, 204);
	padding: 5px 10px 5px 10px;
}

h3
{
	color: #333;
	font: bold 12pt "Trebuchet MS", Verdana, Arial, Sans-serif;
	margin-left: 10px;
	margin-bottom: 0px;
}

p
{
	color: rgb(58, 54, 73);
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, Helvetica, Sans-serif;
	font-size: 9pt;
}


p b
{
	color: black;
}

.keyword
{
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, Helvetica, Sans-serif;
	font-size: 10pt;
	font-style: italic;
	color: #FF0000;
}

li
{
	color: rgb(58, 54, 73);
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, Helvetica, Sans-serif;
	font-size: 9pt;
	line-height: 12pt;
}

code
{
	font-family: "Courier New", Courier, mono;
	font-size: 9pt;
	border: 1px solid #c7cfd5;
	background: #f1f5f9;
	margin-right: 0px;
	margin-left: 0px;
	padding: 8px;
	text-align: left;
	display: block;
}

td
{
	font-family: "Lucida Grande", Tahoma, Verdana, Arial, Helvetica, Sans-serif;
	font-size: 9pt;
	color: rgb(58, 54, 73);
}

td b
{
	color: black;
}

a, a:link, a:visited
{
	color: rgb(0, 123, 147);
	text-decoration: none;
}

a:active
{
	color: rgb(0, 123, 147);
	text-decoration: none;
}

a:hover
{
	color: rgb(0, 123, 147);
	text-decoration: underline;
}

body 
{ 
	background-color: #FFFFFF;
}

.pageheader
{
	color: rgb(58, 54, 73);
	font-family: Arial, Verdana, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}

.sectheader, .oldsectheader
{
	color: rgb(0, 123, 147);
	font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	text-align: right;
}

.language
{
	font-family: "Courier New", Courier, mono;
	font-size: 9pt;
	font-weight: bold;
	margin-right: 0px;
	margin-left: 0px;
}

.wsgtable
{
	width: 100%;
	background-color: rgb(230, 242, 242);
}

.wsgtable code
{
	font-family: "Courier New", Courier, mono;
	font-size: 9pt;
	color: #001e87;
	border: 0px ;
	background: none;
	margin-right: 0px;
	margin-left: 0px;
	padding: 0pt;
	text-align: left;
	display: inline-block;
}

.frontpagebody 
{ 
	background-color: #FFFFFF; 
}

.backgrounder
{
	border: 2px solid rgb(246, 140, 88);
	color: black;
	padding: 20px;
	margin: 10px;
}

.backgrounder p
{
	color: black;
}

.note
{
	border-left: 2px solid rgb(246, 140, 88);
	color: black;
	padding: 0 40px 0 20px;
	margin-left: 10px;
}