	body {

		color: #333333;

		font-family: arial;

		font-size: 12px;

		padding: 0;

		margin: 0;

		text-align: center;

		background: url('../images/main_bg.jpg') #ffffff top center no-repeat;

	}

	img {

		border: 0;

	}

	a {

		color: #901818;

		text-decoration: none;

		font-weight: bold;

	}

	a:hover {

		color: #00417c;

	}

	ul {

	list-style-type: square;

	list-style-image: url('../images/bullet_blue.jpg');

	list-style-position: outside;

	padding-left:0.9em;

	margin-left:0.9em;

	}

	#container {

		width: 968px;

		margin:0 auto;

		text-align: left;

		background:url('../images/container_bg.png');

		padding-bottom: 30px;

	}

	#content {

		margin-left: 4px;

		margin-right: 4px;

	}

	#header_links, #header_video {

		position: absolute;

		left: 50%;

		z-index: 300;

	}

	#header_links {

		margin-left: 385px;

		top: 11px;

	}

	#header_video {

		margin-left: 366px;

		top: 40px;

	}	

	#left {

		padding: 0;

		width: 250px;

	}

	#right .flash_placeholder, #right .image_container, #right #location_left, #right #location_right {

		position:relative;

		left:-12px;

		z-index:100;

	}

	#right .flash_placeholder {

		left: -15px;

	}

	#right #location_left, #right #location_right {

		left: -14px;

		top:0;

	}

	#right .image_container {

		background: url('../images/main_image_bg.png');

		width: 372px;

		height: 543px;

		margin-top: 1px;

	}

	#right .tall {

		background: url('../images/main_image_bg_long.png');

		height: 722px;

	}

	#right .art {

		background: url('../images/art_image_bg.png');

		height: 662px;

	}		

	#right .image_container img {

		margin-left: 7px;

	}

	#right #location_right {

		top: 24px;

		z-index: 200;

		left:-21px;

	}

	.navi_top {

		width: 281px;

		height: 6px;

		background: url('../images/navi_bg_top.png') no-repeat;

		position: relative;

		left: -26px;

		z-index: 50;

	}

	.navi_main {

		width: 281px;

		background: url('../images/navi_bg.png') repeat-y;

		position: relative;

		left: -26px;

		z-index: 50;

	}

	.navi_main img {

		margin-left: 33px;

	}

	.navi_bottom {

		width: 281px;

		height: 12px;

		background: url('../images/navi_bg_bottom.png') no-repeat;

		position: relative;

		left: -26px;

		z-index: 50;		

	}

	.home_content {

		line-height: 24px;

	}

	.page_content {

		line-height: 20px;

		margin-top: 180px;

		width: 90%;

	}

	.page_content_left {

		line-height: 20px;

		width: 95%;

	}	

	.page_content br, page_content_left br {

		line-height: 14px;

	}	

	.cookie_crumbs a {

		color: #00417c;

	}

	.cookie_crumbs a:hover {

		color: #901818;

	}	

	.cookie_crumbs  {

		color: #999999;

	}	

	#footer {

		width: 968px;

		height: 90px;

		background: url('../images/footer_bg.jpg');

		margin:0 auto;

		text-align: left;

	}

	#footer div {

		margin-top: 10px;

	}

	#footer a {

		color: #666666;

	}

	#footer a:hover {

		color: #00417c;

	}	

	#footer_left {

		float: left;

		margin-left: 30px;
		
		color: #666666;

	}

	#footer_right {

		float: right;

		margin-right: 30px;
		
		text-align: right;
		
		color: #666666;

	}	

