	#right .flash_placeholder, #right .image_container, #right #location_left,  #right #location_right, #right table table  {
		position:relative;
		left:-45px;
		z-index:100;
	}
	#right .flash_placeholder {
		left:-48px;
	}
	#right table table  {
		left:-35px;
	}
	#right #location_left {
		left:-47px;
	}
	#right #location_right {
		top: 24px;
		left:-24px;
	}	
	.home_content, .page_content, .page_content_left {
		position: relative;
		left: -30px;
		z-index: 100px;
	}
	.page_content_left {
		left: -35px;
	}
