﻿/* Note: Inheritance and !important are used to avoid any potential conflicts */
/* Chrome */
.chr { width:516px;height:420px; }

/* 'Top' bar (or titlebar, or toolbar ) */
.chr .tb { width:100% !important;height:8px !important;font-size:1px;line-height:1px;overflow:hidden; }
    .chr .tb .l { width:8px;height:100%;background:transparent url("images/skins/arcticwhite/static.png") no-repeat 0 -30px;float:left; }
    .chr .tb .m { width:500px;height:100%;background:#fff url("images/skins/arcticwhite/horizontal.png") repeat-x 0 -30px;float:left; }
    .chr .tb .r { width:8px;height:100%;background:transparent url("images/skins/arcticwhite/static.png") no-repeat -8px -30px;float:left; }

/* Sample contents */
.chr .con { width:100% !important;height:256px !important; }
    .chr .con .l { width:8px;height:100%;background:#fff url("images/skins/arcticwhite/vertical.png") repeat-y;float:left; }
    .chr .con .m { width:500px;height:100%;background:#fff;float:left; }
    .chr .con .r { width:8px;height:100%;background:#fff url("images/skins/arcticwhite/vertical.png") repeat-y -8px 0;float:left; }

/* Separator (between the chart and the scroller widget) */
.chr .sep { width:100% !important;height:8px !important; }
    .chr .sep .l { width:8px;height:100%;background:#fff url("images/skins/arcticwhite/static.png") no-repeat 0 -38px;float:left; }
    .chr .sep .m { width:500px;height:100%;background:#fff url("images/skins/arcticwhite/horizontal.png") repeat-x 0 -38px;float:left; }
    .chr .sep .r { width:8px;height:100%;background:#fff url("images/skins/arcticwhite/static.png") no-repeat -8px -38px;float:left; }

/* Scroller */
.chr .scr { width:100% !important;height:70px !important; }
    .chr .scr .l { width:8px;height:100%;background:#fff url("images/skins/arcticwhite/vertical.png") repeat-y;float:left; }
    .chr .scr .m { width:500px;height:100%;background:#fff;float:left; }
    .chr .scr .r { width:8px;height:100%;background:#fff url("images/skins/arcticwhite/vertical.png") repeat-y -8px 0;float:left; }

/* Bottom */
.chr .btm { width:100% !important;height:8px !important;font-size:1px;line-height:1px;overflow:hidden; }
    .chr .btm .l { width:8px;height:100%;background:transparent url("images/skins/arcticwhite/static.png") no-repeat 0 -46px;float:left; }
    .chr .btm .m { width:500px;height:100%;background:#fff url("images/skins/arcticwhite/horizontal.png") repeat-x 0 -46px;float:left; }
    .chr .btm .r { width:8px;height:100%;background:transparent url("images/skins/arcticwhite/static.png") no-repeat -8px -46px;float:left; }

/* Popup styles */
/* Popup styles */
.popup { width:275px;height:68px;background:#999;border:1px solid #8d8d8d;cursor:default;font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#666;line-height:16px; }
    .popup .top { width:auto;height:48px;padding:0; }
        .popup .top .inner { padding:1px;background:#fff;height:45px; }
        .popup .top .lbl { width:44px;height:39px;background:#f3f3f3;float:left;text-align:right;padding:6px 6px 0 0; }
        .popup .top .val { width:216px;height:39px;background:#fff;float:left;margin:0 0 0 1px;padding:6px 0 0 6px;font-weight:bold; }

    .popup .btm { width:auto;height:21px;padding:0;line-height:18px; }
        .popup .btm .inner { width:auto;height:19px;padding:0;border:1px solid #fff;border-top:none;background:#fff; }
        .popup .btm .lbl { width:43px;height:18px;background:#fff url("images/skins/arcticwhite/horizontal.png") repeat-x 0 -54px;float:left;border-right:1px solid #d4d4d4;margin:1px 0 0 0;color:#666;text-align:right;padding:0 6px 0 0; }
        .popup .btm .val { width:216px;height:18px;background:#fff url("images/skins/arcticwhite/horizontal.png") repeat-x 0 -72px;float:left;margin:0;border-left:1px solid #fff;border-top:1px solid #fff;color:#333;font-weight:bold;padding:0 0 0 6px; }