﻿.Grid 
{ 
  border: 1px solid #57566F; 
  border-bottom: 2px solid #57566F; 
  background-color: #FFFFFF;
  cursor: pointer;
}

.GridHeader
{
  background-image: url(../images/grid_headerBg.gif); 
  background-color: #8988A5; 
  border-bottom: 1px solid #57566F; 
  height: 28px;
  padding-left: 3px;
  cursor: default; 
  color: #FFFFFF;  
  font-family: verdana; 
  font-size: 10px;
  font-weight: bold;
  vertical-align: center;
}

.GridHeaderText
{
  color: #FFFFFF;  
  font-family: verdana; 
  font-size: 10px;
}

.GridFooter
{
  cursor: default; 
  padding: 5px;
  height: 48px;
  vertical-align: bottom;
}

.GridFooterText, .PagerText
{
  color: #000000;  
  font-family: verdana; 
  font-size: 11px;
}

.HeadingRow 
{ 
  background-color: #E9E9EB; 
  background-image: url(../images/header_rowBg.gif);   
}

.HeadingCell 
{ 
  background-image: url(../images/header_bg.gif);   
  background-color: #E9E9EB; 
  padding: 3px; 
  padding-top: 2px; 
  padding-bottom: 2px; 
}

.HeadingCellHover
{ 
  background-image: url(../images/header_hoverBg.gif);   
  background-color: #F6F6F7; 
}

.HeadingCellActive
{ 
  background-image: url(../images/header_activeBg.gif);   
  background-color: #F6F6F7;  
}

.HeadingRow td.FirstHeadingCell
{ 
  background-image: url(../images/header_bg.gif); 
}

.HeadingCellText
{
  font-family: verdana; 
  font-size: 10px; 
  font-weight: bold; 
  text-align: left;
  padding-top: 3px;
  padding-bottom: 5px;
}

.Row 
{ 
  background-color: #FFFFFF; 
  cursor: default;
}

.Row td.DataCell 
{ 
  padding: 3px; 
  padding-top: 3px; 
  padding-bottom: 1px; 
  border-bottom: 2px solid #EAE9E1; 
  font-family: verdana; 
  font-size: 10px; 
} 

.SortedDataCell 
{ 
  background-color: #F5F5F5; 
} 


.Row td.LastDataCell 
{ 
  background-color: #EFEFF4; 
} 

.SelectedRow 
{ 
}

.SelectedRow td.DataCell 
{ 
  background-color: #FFEEC2; 
  padding: 2px; 
  padding-left: 3px; 
  padding-top: 2px; 
  padding-bottom: 2px; 
  font-family: verdana; 
  font-size: 10px; 
  border-bottom: 1px solid #4B4B6F; 
  border-top: 1px solid #4B4B6F; 
  border-right: 0px; 
}

.SelectedRow td.FirstDataCell 
{ 
  background-color: #FFEEC2; 
  border-left: 1px solid #4B4B6F; 
  border-right: 0px; 
  padding-left: 2px; 
  padding-right: 3px; 
}

.SelectedRow td.LastDataCell 
{ 
  background-color: #FFEEC2; 
  border-right: 1px solid #4B4B6F; 
}

.GroupHeading
{
  color: #706F91; 
  background-color: #FFFFFF; 
  font-family: verdana; 
  font-weight: bold;
  font-size: 11px; 
  border-bottom: 2px solid #A5A4BD; 
  padding-top: 4px;
  padding-bottom: 2px;
}

.GroupByCell
{
  cursor: pointer;
}

.GroupByText
{
  color: #FFFFFF; 
  font-size: 11px;   
  font-weight: bold; 
  padding-right: 5px;
}


.SliderPopup
{
  background-color: #FFF4D7; 
  border: 1px solid #4B4B6F; 
  border-top-color: #9495A2; 
  border-left-color: #9495A2; 
  font-size: 11px; 
  width: 150px;
  height: 30px;
}

.ScrollBar
{
  background-image: url(../images/scroller/scroller_bg.gif); 
}

.ScrollGrip
{
  background-image: url(../images/scroller/scroll_gripBg.gif); 
}



/* Grouped rows & cells */
.grp-hd {  background:#fff;line-height:19px;cursor:default;height:19px;background:#fff;margin:0 4px 0 0; }
    .grp-hd span { font-family: verdana; font-weight: bold; font-size: 11px;color:#039;background:#fff;padding:0 8px 0 0; }

.grid .hdr .grp .txt { background:transparent url("../images/static.png") no-repeat 0 -110px;padding:0 16px 0 24px; }


/* Header styles */
.row-hd { height:22px !important;cursor:default; }
    .row-hd .ind { border:1px solid #d5d5d5;border-color:#fff #d5d5d5 #d5d5d5 #fff;background:#eee url("../images/horizontal.png") repeat-x 0 -30px;text-align:center; }
    .row-hd .cell { border:1px solid #d5d5d5;border-color:#fff #d5d5d5 #d5d5d5 #fff;background:#eee url("../images/horizontal.png") repeat-x 0 -30px;text-align:center; }
    .row-hd .cell-h { border:1px solid #69bbe3;border-color:#fff #69bbe3 #93c9e3 #69bbe3;background:#e3f7ff url("../images/horizontal.png") repeat-x 0 -52px;text-align:center; }
    .row-hd .cell-d { border:1px solid #69bbe3;border-color:#fff #69bbe3 #93c9e3 #69bbe3;background:#eee url("../images/horizontal.png") repeat-x 0 -30px;text-align:center; }
    .row-hd .txt { color:#000;line-height:22px;padding: 0 8px 0 8px; }
    .row-hd .sort { border:1px solid #96d9f9;background:#f2f9fc  url("../images/horizontal.png") repeat-x 0 -74px; }
    #ReportGrid_headerGroupings .txt { color:#fff;line-height:22px;padding: 0 0 0 8px; }