﻿
.mnu { border:1px solid #999;width:142px;background:#f6f6f6 url("../images/menu/vertical.png") repeat-y;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;color:#666;cursor:default;text-align:left;font-weight:bold; }
    .mnu .itm { width:140px;height:22px; }
    .mnu .itm-h { width:140px;height:22px;background:#f6f6f6 url("../images/menu/static.png") no-repeat;color:#333; }
    .mnu .br { width:140px;height:4px;background:#f6f6f6 url("../images/menu/static.png") no-repeat 0 -22px; }

    .mnu .ico { display:block;width:16px;height:16px;float:left;margin:3px 7px 0px 8px;background:transparent url("../images/menu/icons.png") no-repeat -16px 0; }

    .mnu .sort-desc { background-position:0 0; }
    .mnu .sort-asc { background-position:0 -16px; }
    .mnu .grp-asc { background-position:0 -32px; }
    .mnu .grp-desc { background-position:0 -48px; }
    .mnu .ungrp { background-position:0 -64px; }

    .mnu .txt { display:block;float:left;height:21px;line-height:21px;width:86px;padding:0 0 0 4px;font-size:10px; }

.col-mnu { width:16px;height:100%;background:transparent url("../images/static.png") no-repeat;margin:0; }
.col-mnu-h { width:16px;height:100%;background:transparent url("../images/static.png") no-repeat -21px 0;margin:0; }
.col-mnu-d { width:16px;height:100%;background:transparent url("../images/static.png") no-repeat -42px 0;margin:0; }