﻿<%@ Page Title="" Language="VB" MasterPageFile="~/HRMaster1.master" AutoEventWireup="false" CodeFile="case-studies.aspx.vb" Inherits="case_studies" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<!-- Page Content START -->
		<div class="page-content">
			<div class="top-section fluid-padding">
				<h1>case studies</h1>
				<h2>relationships are <span class="red">our hallmark</span></h2>
			</div>			
			<div class="main fluid-padding case-study-page">

            					<asp:Literal runat="server" ID="case_studies"/>		


                
                		
			</div>	
            		</div>
		<!-- Page Content END -->	

</asp:Content>

