﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="cleverFormat.aspx.vb" Inherits="test" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<title>Demo</title>

<style type="text/css">

html {
padding: 0;
margin: 0;
background: #fff;
width: 100%;
}

body {
margin: 0;
padding: 0 5px 0 10px;
background: #fff;
}

.SpecialList {
display: block;
padding: 0 0 0 16px;
background: transparent url(/assets/images/square.gif) no-repeat scroll 0 8px;
}

.SpecialList2 {
display: block;
padding: 0 0 0 36px;
background: transparent url(/assets/images/square.gif) no-repeat scroll 20px 8px;
}

.SpecialList3 {
display: block;
padding: 0 0 0 56px;
background: transparent url(/assets/images/square.gif) no-repeat scroll 40px 8px;
}


</style>
</head>
<body>

<p>
<asp:Literal ID="out" runat="server"></asp:Literal>
</p>

</body>
</html>