﻿<%@ Page Title="" Language="VB" MasterPageFile="~/HRMaster1.master" AutoEventWireup="false" CodeFile="team.aspx.vb" Inherits="team" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">



		<!-- Page Content START -->
		<div class="page-content">
			<div class="top-section fluid-padding">
				<h1>about us</h1>
				<h2>integrated  <span class="red">team</span> approach</h2>
			</div>			
			<div class="main fluid-padding people-page">
            <asp:Literal runat="server" ID="UsersList_lbl"/>
			</div>	
		</div>
		<!-- Page Content END -->	

</asp:Content>

