<%@ Page CodeBehind="projectdescription.aspx.vb" Language="vb" AutoEventWireup="false" Inherits="IDAM5.projectdescription" %>
<div style="PADDING-RIGHT:10px;PADDING-LEFT:10px;PADDING-BOTTOM:10px;PADDING-TOP:10px">Short 
	Description<asp:TextBox id="shortdescription" height="124px" TextMode="MultiLine" Width="1128" style="BORDER-RIGHT:#969698 1px solid; BORDER-TOP:#969698 1px solid; BORDER-LEFT:#969698 1px solid; COLOR:gray; BORDER-BOTTOM:#969698 1px solid; BACKGROUND-COLOR:white; text-color:grey" runat="server"></asp:TextBox></div>
<div style="PADDING-RIGHT:10px;PADDING-LEFT:10px;PADDING-BOTTOM:10px;PADDING-TOP:10px">Long 
	Description<asp:TextBox id="longdescription" height="324px" TextMode="MultiLine" Width="1128" style="BORDER-RIGHT:#969698 1px solid; BORDER-TOP:#969698 1px solid; BORDER-LEFT:#969698 1px solid; COLOR:gray; BORDER-BOTTOM:#969698 1px solid; BACKGROUND-COLOR:white; text-color:grey" runat="server"></asp:TextBox></div>
