﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="body_top.ascx.vb" Inherits="includes_body_top" %>

<div id="wrapper">

<div id="header"> 
<ul class="navigation"> 
<li> <a href="/">HOME</a> | </li> 
<li> <a href="news.aspx">NEWS</a> | </li> 
<li> <a href="careers.aspx">CAREERS</a> | </li> 
<li> <a href="login.aspx">LOG IN</a> | </li> 
<li> <a href="locations.aspx">LOCATIONS</a> </li> 
</ul> 

<div class="search">
 <h1><a href="./" title="Perkins Eastman">Perkins Eastman s</a></h1> 
 <form action="/searchResults.aspx" method="get"> 
 <input type="text" name="s" value="" title="Search Perkins Eastman" id="searchQ" />
 <input type="submit" class="searchSubmit" value="Go" />
 </form>
</div>

<ul class="menu"> 
<!-- Put class="active" for your current page --> 
<li id="li_Page1"> <a href="/#linkPage1" class="linkPage1">ABOUT US</a> </li> 
<li id="li_Page2"> <a href="/#linkPage2" class="linkPage2">PROJECTS</a> </li> 
<li id="li_Page3"> <a href="/#linkPage3" class="linkPage3">REGIONS</a> </li> 
<li id="li_Page4"> <a href="/#linkPage4" class="linkPage4">INSIGHTS</a> </li> 
</ul> 
</div> 



<!--
<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/Perkins Eastman.json?callback=twitterCallback2&amp;count=2"></script>
-->
<div class="main">