﻿img {
	border: 0;
}

#arrow_left {
	position: absolute;
	top: 363px;
	left: 50%;
	margin-left: -514px;
	display:none;
}
#arrow_right {
	position: absolute;
	top: 363px;
	left: 50%;
	margin-left: 501px;
}
.slideshow {
	float: left;
	position: relative;
}
.slideshow_slogan {
	width: 899px;
	height: 180px;
	background: url(../images/slogan_bg.png) no-repeat;
	position:absolute;
	top: 430;
	left:0;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 10;

}
.slideshow_name {
	width: 889px;
	height: 22px;
	background: #ac3b11;
	position:absolute;
	top: 492px;
	left:0;
	padding: 20px;
	z-index: 10;
	display:none;
	
}
.slideshow_slogan_text {
	font-size: 30px;
	color: #ffffff;
	line-height: 36px;

}
.slideshow_name_content {

}
.slideshow_name_title {
	font-size: 17px;
	color: #ffffff;
	line-height: 14px;
}
.slideshow_name_subtitle {
	font-size: 11px;
	color: #ffffff;
}

    
    
    #pano_container {
	position:absolute;
	top: 122px;
	left: 0px;
	overflow: hidden;
	width:100%;
	min-width: 1000px;
	z-index: 10;
	text-align:left;
}
#pano_image {
	margin-left: -1279px;
	left: 50%;
	position: relative;
	z-index: 11;
}



#property_search img 
{
    display:block;   
}
#property_search_form 
{
    display:none;
    padding:12px;
    width: 170px;
    border-top: 1px solid white;
    z-index: 20;
    
    color: #ffffff;	
    text-align: left;
}
#property_search_form input 
{
    margin-left: 0;
}
.news_home {
	padding-top:8px;
	padding-bottom:8px;
	border-bottom:1px dotted #6c7f98;
	width: 240px;
	color: #00224b;
	font-weight: bold;
}
.news_home_last {
	border-bottom:0;
}
.general_image 
{
    margin-bottom:225px;
}

.general_contenttmp
{
    color: #333333;
    line-height: 18px;
    width: 520px;
    font-size: 13px;

}


.general_content a, .general_content_right a 
{
    font-weight: bold;
}
.general_content_right 
{
    width: 300px;
    margin-top: 93px;
    padding: 18px;   
}
.general_content_search
{
    color: #333333;
    line-height: 18px;
    font-size: 13px;
    margin-bottom: 25px;
}
.cookie_crumbs 
{
    font-size: 12px;
    line-height: 18px;
}
.cookie_crumbs  a 
{

}
.general_title 
{
    margin-top: 30px;
    margin-bottom: 30px;
}
#table_search 
{
    border-collapse: collapse;
}
#table_search th a 
{
    color: #3366CC;
}
#table_search td, #table_search th
{
    padding-top:15px;
    padding-bottom:15px;
}    
#table_search th
{
    font-weight:bold;
}
#table_search td, #table_search th
{
    padding-left: 18px;
}
#table_search td a 
{
    font-weight:bold;
}
#table_search tr.odd td
{
    background: #ffffff;
    color:#333333;
}
#table_search tr.even td
{
    background: #feeac0;
    color:#333333;
}
.search_terms 
{
    color: #a4b1c2;   
}

/*begin tablesorter*/


#table_search thead tr .header {

	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}


#table_search thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
#table_search thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}

.application_form td 
{
    padding-top:10px;
    padding-bottom:10px;
}
.error 
{
    color: red;
    font-weight: bold;
}
.searchItems 
{
  margin-left: 0;
  margin-bottom: 12px;
}
/*end tablesorter*/

.project_detail_name 
{
font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    width:623px;
}
.project_detail_address 
{
    font-size: 12px;
    color:gray;
    padding-bottom:10px;
}

.project_detail_location
{
    font-size: 14px;
}
.project_detail_content 
{
    margin-top: 3px;
}
.project_detail_navi 
{
    margin-right: 2px;
}
.project_detail_content_text 
{
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 28px;
    margin-bottom: 28px;
    color: #333333;
    font-size: 12px;   
}
.demographics 
{
    border-collapse: collapse;

}
.demographics th, .demographics td 
{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 14px;
    color: #333333;
}
.demographics th 
{
    background: #00224b;
    color: #ffffff;
}
.demographics tr.odd td
{
    background: #a4b1c2;
}
.demographics tr.even td
{
    background: #dbe0e7;
}
.projectGallery 
{

}
.projectAvailableSpaces 
{
    background: #00224b;
    height: 26px;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:40px;
    padding-right:40px;
    margin-top: 2px;
}
.projectImageThumb 
{
    margin-top:2px;
    margin-left: 3px;
}

.major_tenant_thumb 
{
    float: left;
    margin-right: 15px;
    border: 1px solid #a4b1c2; 
    margin-bottom: 15px;
}
.capability_brochure 
{
    position:relative;
    top: 25px;
    left: 20px;
    z-index:100;
}
.download_assets li
{
    width: 244px;
    line-height: 30px;
    border-bottom: 1px dotted #7f90a5;
    
}
 .stock_quote 
 {

  line-height: 22px;  
  border-collapse: collapse; 
 }
 .stock_quote  td 
 {
       border-bottom: 1px dotted #666666;
 }
 table.committee th,  table.committee tr,  table.committee td
 {
     line-height: 18px;
     height: 32px;
     vertical-align: middle;
     padding-left: 10px;
     padding-right: 10px;
 }
 table.committee th 
 {
     height: 60px;
 }
  table.committee tr.odd td
  {
      background: #feeac0;
  }
  table.committee tr.even td
  {
      background: #ffffff;
  }
  
  div.financial 
  {
      background: #dbe0e7;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  table.financial th, table.financial td
  {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
  }
  table.financial td img 
  {
      margin-right: 10px;
  }
  table.financial tr.odd td 
  {
      background-color: #ffffff;
  }
  table.financial tr.even td 
  {
      background-color: #feeac0;
  } 
  table.financial tr th 
  {
      background-color: #00224b;
      color: #ffffff;
  } 
  table.form td 
  {
      padding-top: 6px;
      padding-bottom: 6px;
  }
  .ar_horizontal, .ar_vertical
  {
      float: left;
  }
   .ar_horizontal img, .ar_vertical img 
   {
       margin-bottom: 10px;
   }
   .ar_vertical 
   {
       height:240px;
       margin-right: 50px ;
       width: 145px;
   }
    .ar_horizontal 
   {
       height:240px;
       margin-right: 64px ;
       width: 185px;
       height: 240px;
   }
 /*begin jquery tools css*/  
   .tooltip {
	display:none;
	background:transparent url(../images/black_arrow.png);
	font-size:12px;
	height:121px;
	width:223px;
	padding: 16px 19px 16px 19px;
	color:#fff;	
	text-align: left;
}

/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 541px;
	height:88px;
	
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accommodate scrollable items.
	it's enough that you set width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	background-color: #0076C0;
}

/*
	a single item. must be floated in horizontal scrolling.
	typically, this element is the one that *you* will style
	the most.
*/
.items div {
	float:left;
}



/* this makes it possible to add next button beside scrollable */
.scrollable {
	float:left;	
	
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
	background:url(../images/carousel_arrows.jpg) no-repeat; 
	display:block;
	width:41px;
	height:88px;
	float:left;
	margin:0;
	cursor:pointer;
	font-size:1px;

}

/* right */
a.right 				{ background-position: 0 -88px; clear:right; margin-right: 0px;}
a.right:hover 		{ background-position:-41px -88px; }
a.right:active 	{ background-position:-82px -88px; } 


/* left */
a.left				{ margin-left: 0px; } 
a.left:hover  		{ background-position:-41px 0; }
a.left:active  	{ background-position:-82px 0; }





/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
} 	

.image1,.image2,.plus 
{
    position:absolute;
/*border:5px #00224b solid;*/
}
.image1 
{
    z-index: 25;
    
}
.image2
{
    z-index: 20;
   
}
.plus
{

    z-index: 30;
    margin-left: 588px;
}
#pager 
{
    z-index: 1000;
}











