﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="bioAJAX.aspx.vb" Inherits="bioAJAX" %>
   <div class="copy_standard red" style="position: absolute; top: 15px; right: 15px; cursor: pointer; text-decoration: underline; font-size: 9px;">[X] close</div>
    <div class="head_standard"><asp:Literal ID="literalName" runat="server"></asp:Literal></div>
        <table border="0" cellpadding="0" cellspacing="0">
        <tr>
        <td valign="top" align="left"><div class="copy_standard"><asp:Literal ID="literalBio" runat="server"></asp:Literal> </div></td>
        <td valign="top" align="left" width="30">&nbsp;</td>
        <td valign="top" align="left"><asp:Image ID="imageBio" runat="server" /></td>
        <td valign="top" align="left" width="15">&nbsp;</td>
        </tr>
        </table>