﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="currentOpeningsAjax.aspx.vb" Inherits="currentOpeningsAjax" %>
 <style type="text/css">
<!--
.aLine {
	padding: 0px;
	width: 870px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #8c8d8e;
	border-right-color: #8c8d8e;
	border-bottom-color: #8c8d8e;
	border-left-color: #8c8d8e;
}
table {
	width: 870px;
}
-->
</style>

<div class="copy_standard red" style="margin-bottom: 0px; margin-top:15px; font-weight:bold;"><table cellpadding="0" cellspacing="0" border="0"><tr><td width="600">Position</td><td>Location</td></tr></table></div>
	<div class="aLine">&nbsp;</div>
	
	<div class="copy_standard">No positions are currently available for this office location. Please select another location to view open positions.</div> 
  
   <script type="text/javascript">
	jQuery(".job").click(function() {
		jQuery(this).next().toggle("fast");
		jQuery(this).toggleClass("bold");
	});
</script>