<cfinclude template="../includes/wsheader.cfm">

<cfscript>
	results = webservice.getNewsRSS(username, password, firmid, 'Perkins Eastman Press Releases', "http://" & CGI.HTTP_HOST & CGI.SCRIPT_NAME, '','Press Releases');
</cfscript>

<cfcontent type="text/xml" reset="yes"><cfoutput>#results#</cfoutput>