body, html {
 background: #715216 url(../images/side.png) repeat-x scroll 0 0;
 margin: 0;
 padding: 0;
 min-height: 100%;
 height: 100%;
 min-width: 1800px;
 font-family: helvetica, arial, sans-serif;
 font-size: 12px;
}

#main {
 position: relative;
 background: transparent url(../images/chelsea.png) no-repeat scroll 0 0;
 min-height: 750px;
 height: 100%;
 width: 1800px;
 margin: 0 auto 0 auto;
 padding: 0;
}

#main * {
 outline: 0;
 margin: 0;
 padding: 0;
}

#wcs {
 display: block;
 padding: 0;
 margin: 0;
 width: 220px;
 height: 65px;
 position: absolute;
 left: 160px;
 top: 595px;
 overflow: hidden;
}

#gal {
 display: block;
 padding: 0;
 margin: 0;
 width: 180px;
 height: 65px;
 position: absolute;
 left: 840px;
 top: 595px;
 overflow: hidden;
}


#map {
 display: block;
 padding: 0;
 margin: 0;
 width: 270px;
 height: 65px;
 position: absolute;
 left: 1054px;
 top: 595px;
 overflow: hidden;
}


#eho {
 display: block;
 padding: 0;
 margin: 0;
 width: 50px;
 height: 55px;
 position: absolute;
 left: 1375px;
 top: 600px;
 overflow: hidden;
}

#main a, #main a:link, #main a:visited {
 display: block;
 padding: 0;
 margin: 0;
 width: 100%;
 height: 70px;
 line-height: 500px;
}

#contact {
 display: block;
 height: 45px;
 left: 1055px;
 top: 505px;
 margin: 0pt;
 overflow: hidden;
 padding: 0pt;
 position: absolute;
 width: 131px;
}

#contact a {
 display: block;
 width: 131px;
 height: 45px;
 line-height: 555px;
 margin: 0;
 padding: 0;
 cursor: pointer;
 background: transparent url(../images/contact.png) no-repeat scroll 0 0;
}

#contact a:hover {
 background: transparent url(../images/contact.png) no-repeat scroll 0 -45px;
}

.h {
 display: none;
}

#content {
 color: #FFFFFF;
 display: block;
 font-size: 14px;
 left: 1055px;
 top: 348px;
 line-height: 22px;
 margin: 0pt;
 padding: 0pt;
 position: absolute;
 text-align: left;
 width: 255px;
 font-weight: normal;
}

#content strong {
 display: block;
 margin: 0 0 10px 0;
 font-size: 24px;
 line-height: 30px;
 font-weight: normal;
}
