﻿/* @license
 * MyFonts Webfont Build ID 2343926, 2012-08-14T11:41:21-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Futura Book by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/futura/book/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * Licensed pageviews: 300,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2343926
 * 
 * © 2012 Bitstream Inc
*/



  
 @font-face {font-family: 'FuturaBT-Book';src: url('webfonts/23C3F6_0_0.eot');src: url('webfonts/23C3F6_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/23C3F6_0_0.bin') format('woff'),url('webfonts/23C3F6_0_0.ttf') format('truetype');}
 
