html {
	background:#FFFFFF none repeat scroll 0 0;
	color:#000000;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}

table {
	border-spacing:0;
}

fieldset, img {
	border:0 none;
}

address, caption, cite, code, dfn, em, strong, th, var, tt {
	font-family: 'Open Sans',Tahoma, sans-serif;
	font-style:normal;
	font-weight:normal;
}
strong{
    font-weight: bold;
}
li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

caption, th {
	text-align:left;
}

h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}

q:before, q:after {
	content:'';
}

abbr, acronym {
	border:0 none;
	font-variant:normal;
}

sup {
	vertical-align:text-top;
}

sub {
	vertical-align:text-bottom;
}

input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	outline: none;
}

legend {
	color:#000000;
}

del, ins {
	text-decoration:none;
}

a {
	text-decoration: underline;
	outline: none;
}
	a:hover {
		text-decoration: none;
	}
	
	
