@import url(/assets/css/MyFontsWebfontsKit.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700);

html {
	background:#FFFFFF none repeat scroll 0 0;
	color:#000000;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}

table {
	border-spacing:0;
}

fieldset, img {
	border:0 none;
}

address, caption, cite, code, dfn, em, strong, th, var, tt {
	font-family: 'Open Sans',Tahoma, sans-serif;
	font-style:normal;
	font-weight:normal;
}
strong{
    font-weight: bold;
}
li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

caption, th {
	text-align:left;
}

h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}

q:before, q:after {
	content:'';
}

abbr, acronym {
	border:0 none;
	font-variant:normal;
}

sup {
	vertical-align:text-top;
}

sub {
	vertical-align:text-bottom;
}

input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	outline: none;
}

legend {
	color:#000000;
}

del, ins {
	text-decoration:none;
}

a {
	text-decoration: underline;
	outline: none;
}
	a:hover {
		text-decoration: none;
	}
	
	

html,body {
background:#fff;
font-family:'Open Sans',Tahoma, sans-serif;
font-size:12px;
line-height:normal;
color:#636363;
width:100%;
padding:0;
margin:0;
}

* {
outline:none;
}

a {
text-decoration:none;
color:#000;
}

a:hover {
text-decoration:none;
color:#dc291e!important;
}

p {
letter-spacing:.4px;
font-size:12px;
margin:0 0 15px;
}

h1 {
color:#DC291E;
display:block;
font-family:FuturaBT-Book;
font-size:24px;
font-style:normal;
font-weight:400;
margin:22px 0 15px;
}

h2 {
color:#DC291E;
display:block;
font-family:FuturaBT-Book;
font-size:18px;
font-style:normal;
font-weight:400;
margin:12px 0 8px;
}

h3 {
color:#DC291E;
display:block;
font-family:FuturaBT-Book;
font-size:18px;
font-style:normal;
font-weight:400;
margin:22px 0 0;
}

h4 {
color:#DC291E;
display:block;
font-family:FuturaBT-Book;
font-size:14px;
font-style:normal;
font-weight:400;
margin:22px 0 15px;
}

h5 {
font-size:24px;
margin:0;
}

h6 {
font-size:18px;
font-weight:400;
margin:0;
}

ol li {
list-style-type:decimal;
list-style-position:outside;
margin:0 0 0 25px;
padding:0;
}

ul li {
padding-left:25px;
background:transparent url(../images/red_dot.jpg) no-repeat scroll 4px 7px;
}