* {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-ms-touch-callout: none;
-o-user-select: none;
user-select: none; 
}

input, textarea, .selectme, .cmsEditing * {
    -webkit-touch-callout:default;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
}

html, body {
    background: #fff;
    font-family: 'Open Sans',Tahoma, sans-serif;     
    font-size: 12px;
    line-height: normal;
    color: #636363;
    width: 100%;    
    padding: 0;
    margin: 0;
    height: 100%;

}


*{
    outline: none;
}
a{
    text-decoration: none;
    color: #000;
}

a:hover, a:hover strong{
    text-decoration: none;
    color: #dc291e !important;
}


/* Library */
.left{float:left;}
.right{float:right;}
.openSans{font-family: 'Open Sans', sans-serif !important;}
.mt8{margin-top: 8px !important;}
.mt15{margin-top: 15px;}
.pt8{padding-top: 8px;}
.blocked{display: block;}
.mb10{margin-bottom: 10px;}
.mt-10{margin-top: -10px;}
.mt-5{margin-top: -5px;}
.xtra_letter_spacing{letter-spacing: 0.5px;}
.mt48{margin-top: 48px;}
.mt37{margin-top: 37px;}
.mt27{margin-top: 27px;}


#wrapper{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
#main{
    min-height: 596px;
}
.readMe, .readMe>div {
overflow: hidden;
position: relative;
}

.readMe>div a{
display: inline-block;
}

#footer{
    height: 30px;
    line-height: 21px;
    margin: 10px 0 30px 0;
    clear: both;
    overflow: hidden;
    position: relative;
    font-size: 12px;
    top: 30px;
}
#footer address{
    position: absolute;
    left: 0;    
}
#footer ul{
    overflow: hidden;
    right: 0;
    position: absolute;
    top: 0;
}
#footer ul li{
    float: left;
    margin-left: 8px;
}
#footer ul li a{
    width: 20px;
    height: 19px;
    display: block;
    background: url("../images/social_2.png") no-repeat 0 0;
    opacity: 0.65;
}
#footer ul li a:hover{
    opacity: 0.75;
}
#footer ul li a.in{background-position: 0px 0px;}
#footer ul li a.tw{background-position: -20px 0px;}
#footer ul li a.fb{background-position: -40px 0px;}
#footer ul li a.vim{background-position: -60px 0px;}
#footer ul li a.pint{background-position: -80px 0px;}
#footer ul li a.rss{background-position: -100px 0px;}
#footer ul li a.mail{background-position: -120px 0px;}
#footer ul li a.sign-up{background-position: -140px 0px}
#footer .terms_link{
    display: none;
    margin: 0 0 0 440px;
    width: 130px;
    color: #000;
}
#footer .terms_link:hover{
    color: #dc291e;
}
.homepage_slideshow {
    position: relative;
    width: 940px;
    height: 687px;
    overflow: hidden;
    margin: -78px 0 0 0;
}
.homepage_slideshow>.w {
    position: relative;
    width: 19990px;
    height: 687px;
    overflow: hidden;
}
.homepage_slideshow>.w>div{
    float: left;
    width: 940px;
    height: 687px;
    overflow: hidden;
}
.home_next,.home_previous{
    position: absolute;
    width: 50px;
    height: 69px;
    display: none;    
    visibility: hidden;    
    z-index: 11;
    top: 48%;
    cursor: pointer;
}
.home_next{
    right: 10px;
    background: transparent url("../images/arrows.png") no-repeat scroll -50px 0;
}
.home_next:hover{
    right: 10px;
    background: transparent url("../images/arrows.png") no-repeat scroll -50px -69px;
}
.home_previous{
    left: 10px;
    background: transparent url("../images/arrows.png") no-repeat scroll 0 0;
}
.home_previous:hover{
    background: transparent url("../images/arrows.png") no-repeat scroll 0 -69px;
}

.contacts_list dd a, .related_topics dd a {
font-weight: bold;
}

.contacts_list a:hover strong, .related_topics a:hover strong {
color: #dc291e;
}

.navigation{
    overflow: hidden;
    height: 38px;
    line-height: 38px;
    margin: 0;
}
.navigation ul{
    overflow: hidden;
    float: right;
}
.navigation ul li{
    float: left;
    margin-left: 40px;
    line-height: 38px;
}
.navigation ul li a{
    float: left;
    color: #000;
    letter-spacing: 1px;
    font-size: 11px;
    font-family: FuturaBT-Book;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    min-width: 44px;
}
.navigation ul li a:hover, .navigation ul li a.active{
    color: #dc291e;
}

.navigation form input#keywordSearch {
    float: left;
    font-size: 12px;
    background: #E1E1E1;
    padding: 3px 3px 4px 9px;
    height: 31px;
    line-height: 31px;
    color: #101010;
    width: 169px;
    border: none;
}
.searchbutton{
    border: none;
    cursor: pointer;
    width: 38px;
    height: 38px;
    overflow: hidden;
    margin-left: 0;
    background: #bbb url(../images/search.png) no-repeat scroll 0 0;
    line-height: 99px;
    padding: 0;
    float: left;
}
.searchbutton:hover{
    opacity: 0.8;
}

.menu{
    background: url("../images/sub.png") repeat;
    height: 78px;
    line-height: 78px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    cursor: default;
}

.Defaultaspx .menu{
    background: url("../images/home.png") repeat;
}
.menu h1{
    float: left;
}
.menu h1 a{
    display: block;
    float: left;
    width: 308px;
    background: url("../images/logo.png?v=2") no-repeat center center;
    height: 78px;
    margin: 0 20px 0 10px;
}
.menu h1 a:hover{
    opacity: 0.9;
}
.menu ul{
    float: left;
    overflow: hidden;    
}
.menu ul li{
    float: left;
}
.menu ul li a {
    color: #FFFFFF;
    letter-spacing: 1px;
    display: block;
    float: left;
    font-family: FuturaBT-Book;
    font-weight: normal;
    font-style: normal;
    margin: 32px 6px 0 15px;
    text-transform: uppercase;
    width: 120px;
    height: 17px;
    line-height: 17px;
}

.menu ul li a:hover, .menu ul li a.over{
    color: #dc291e;
}

.menuOn {
}

.mega_menu{
    background: url("../images/sub.png") repeat;
    font-family: FuturaBT-Book;
    font-weight: normal;
    font-style: normal;
    padding: 10px 20px 0 353px;
    position: absolute;
    width: 567px;
    z-index: 1100;
    display: none;
}
.Defaultaspx .mega_menu{
    background: url("../images/home.png") repeat;
}
.mega_menu ul {
    float: left;
    width: 110px;
    padding: 10px 10px 0 10px;
    position: relative;
    top: -25px;
    border-top: 1px solid #fff;
    margin-right: 10px;
}
.mega_menu ul li{
    margin-left: -10px;
}
.mega_menu ul.last{
    margin-right: 0;
}
.mega_menu a{
    color: white;
    font-size: 12px;
    cursor: pointer;
}
.mega_menu a:hover{
    color: #dc291e;
}
.mega_menu ul li a{
    display: block;
    padding: 5px 0;
    letter-spacing: 1px;
}
.sub_menu{
    display: none;
    padding: 8px 0 8px 23px;
}
.sub_menu a{
    text-transform: uppercase;
    padding: 4px 0;
    display: block;
}
.big_image_with_info_box{
    position: relative;
}
.big_image_with_info_box img {
display: block;
}
.homepage_transparency_fix{
    z-index: 1;
}
.info_pop{
    position: absolute;
    right: 0;
    font-family: FuturaBT-Book;
    font-weight: normal;
    font-style: normal;
    bottom: 0;    
    background: url("../images/white_ghost.png") repeat;
    padding: 11px 18px 11px 14px;
    font-size: 14px;
    display: none;
}
.inner_pop{
    left: 0;
    display: block;
}
.home_pop{
    width: 630px;
    cursor: default;
}

.info_pop.inner_pop {
    font-family: 'Open Sans';
}

.info_pop h2,
.info_pop big{
    color: #dc291e;
    display: block;
    margin-bottom: 1px;
    font-size: 18px;
    text-transform: uppercase;
}

.info_pop span{
    color: #616161;
}
.info_pop a{
    float: right;
    color: #000;
    font-weight: bold;
    display: block;
    margin: 1px 0 0 0;
}
.info_pop a:hover{
    color: #dc291e;    
}
.breadcrumbs{
    margin: 15px 0;
}
.breadcrumbs ul{
    overflow: hidden;
}
.breadcrumbs ul li{
    float: left;
    font-size: 10px;
    color: #101010;
}
.breadcrumbs ul li span{
    float: left;
    position: relative;
    top: -1px;
}
.breadcrumbs ul li a{
    float: left;
    display: block;
    padding: 0 6px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: #101010;
}
.breadcrumbs ul li a.first{
    padding-left: 0;
}
.breadcrumbs ul li a:hover,
.breadcrumbs ul li a.active{
    color: #dc291e;
}
.headline{ 	
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
}

.casestudyaspx .headline {
margin-bottom: 7px;
}

#EnlargeImg {
position: absolute;
bottom: 10px;
right: 215px;
font-weight: bold;
color: #000;
}

#EnlargeImg a, #EnlargeImg a:link, #EnlargeImg a:visited{
color: #000;
}

#EnlargeImg a:hover{
color: #dc291e;
}

.headline h2{
    color: #DC291E;
    font-family: FuturaBT-Book,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
}
.main_list{
    font-family: FuturaBT-Book;
    font-weight: normal;
    font-style: normal;
    overflow: hidden;
    clear: both;
    padding-top: 1px;
}
.main_list li{
    float: left;
    width: 168px;
    margin: 0 25px 22px 0;
}
.main_list.practice li{
    position: relative;
    height: 218px;
}
.main_list.short li{
    position: relative;
    height: 183px;
}

.main_list.testimonials li{
    position: relative;
    height: 300px;
    overflow: hidden;
}

.main_list.users li{
    position: relative;
    height: 255px;
    overflow: hidden;
    margin-bottom: 0;
}

.affiliatesaspx .main_list.users li{
    height: 231px;
}
.main_list.small_thumbs li{
    width: 64px;
    margin: 0 15px 12px 0;
}
.main_list li.last_in_row{
    margin-right: 0px;
}
.main_list li img{
    border: 2px solid white;
    position: absolute;
    left: 0;
    bottom: 0;
}

.main_list.small_thumbs img {
left: auto;
right: auto;
bottom: auto;
position: static;
}

.main_list.testimonials li img, .main_list.users li img{
    position: static;
}

.main_list li span{
    display: block;
    margin: 0;
    font-size: 18px;
    color: #000;
    font-family: 'Open Sans',Tahoma, sans-serif;     
    line-height: 22px;
    height: 44px;
}

.right_bigger .main_list li a span {
    height: auto;
}

.main_list.practice li span {
    position: absolute;
    bottom: 175px;
}

.main_list.short li span {
    position: absolute;
    bottom: 140px;
}

.main_list.users li span {
    position: static;
    line-height: 21px;
    padding-left: 2px;
}

.affiliatesaspx .main_list.users li span {
padding-bottom: 5px;
}

.main_list.users li strong {
    display: block;
    margin: 2px 0 0 0;
    padding-left: 2px;
}

.main_list.testimonials li span {
    bottom: auto;
    position: relative;
}


.main_list li a > span.cmsEdit {
height: 16px;
line-height: 17px;
font-size: 13px;
font-weight: bold;
}

.main_list li:hover a:link img, .main_list li:hover a:visited img {
    border: 2px solid #dc291e;
}
.main_list li:hover a:link span, .main_list li:hover a:visited span{
    color: #dc291e;
}
.two_columns{
    overflow: hidden;
    clear: both;
}
.left_smaller{
    float: left;
    width: 220px;
}
.right_bigger{
    float: right;
    width: 700px;
}
h3.sub_title{
    color: #dc291e;
    font-size: 24px;
    font-family: FuturaBT-Book;
    font-weight: normal;
    font-style: normal;
    display: block;
    margin-bottom: 15px;
    text-indent: 1px;
    letter-spacing:1px;
    max-width: 690px;
}

.affiliatesaspx  #slide_1.main_list {
margin-top: 17px;
} 

.text p{
    margin-bottom: 15px;    
    letter-spacing: 0.4px;
}
.text h4{
    color: #dc291e;
    font-family: FuturaBT-Book;
    font-weight: normal;
    font-style: normal;    
    text-transform: uppercase;
    font-size: 16px;
    display: block;
}
dl.contacts_list, dl.contacts_list, dl.contacts_list, dl.related_topics {
    margin: 10px 0;
    font-size: 12px;
    overflow: hidden;
    width: 216px;
}
.contacts_list dt, .related_topics dt,
h3.headline_underlined{
    color: #dc291e;    
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 5px;
    display: block;
    border-bottom: 1px solid #000;
}

h3.headline_additional {
    margin-top: 15px;
    clear: both;
    color: #dc291e;    
    text-transform: uppercase;
    padding: 6px 0 6px 0;
    margin: 0;
    display: block;
    font-size: 13px;
}


.contacts_list dd, .related_topics dd{
    margin-bottom: 10px;
}
.contacts_list dd strong, .related_topics dd strong{
    color: #000;
    font-family: 'Open Sans',Tahoma,sans-serif;
    font-weight: bold;
}
a.view_more{
    display: block;
    color: #000;
    padding: 5px 10px;
    font-size: 13px;
    background: #e8e8e8;
    font-family: 'Open Sans',Tahoma,sans-serif;
    font-weight: bold;
    margin-top: 18px;
}
a.view_more:hover{
    color: #dc291e;
}
h3.headline_underlined{
    margin-top: 15px;
    clear: both;
}
.inner_tabs .big_image_with_info_box{
    display: none;
}
.main_list li a.active img{
    border: 2px solid #dc291e;
}

.two_columns .right_bigger ul.main_list li img {
position: relative;
}
.client_list{
    overflow: hidden;
}

.client_list ul{
width: 239px;
float: left;
}
.client_list ul li{
    float: left;
    width: 213px;
    margin: 0 15px 2px 0;    
    padding-left: 10px;
    text-indent: -10px;
    display: block;
    line-height: 14px;
    min-height: 14px;
    display: block;
}
.client_list ul li a{
    font-size: 12px;

}
.client_list ul li a:hover{
    color: #000;
}
.featured_client{
    float: right;
    width: 220px;
}
.featured_client .big_image_with_info_box{
    margin-bottom: 40px;
}
.featured_client .big_image_with_info_box h2,
.featured_client .big_image_with_info_box span{
    font-size: 12px;
}
.featured_client .info_pop{
    padding: 10px;
}
.headline strong, h2.headline {
    display: block;
    font-size: 14px;
    color: #555555;
    font-family: FuturaBT-Book;
    font-weight: normal;
    font-style: normal;
    margin-top: 5px;
}

.hrule {
border-bottom: 1px solid #000;
padding-bottom: 10px;
}
.headline ul.project_nav{
    float: right;
    padding: 5px 10px;
    background: #e8e8e8;
    width: 180px;
    position: static;
}

.projectDetailaspx .headline {
min-height: 82px;
}

.projectDetailaspx .headline ul.project_nav{
    float: right;
    padding: 5px 10px;
    background: #e8e8e8;
    width: 180px;
    position: absolute;
    bottom: 10px;
    right: 0;
}


.headline ul.project_nav li a{
    color: #000;
    font-size: 13px;
    font-weight: 700;
}
.headline ul.project_nav li a:hover{
    color: #dc291e;
}

#project_gallery {
width: 700px;
float: right;
}
#project_gallery .big_image_with_info_box img{
    float: left;
    margin-right: 15px;
    display: block;
}
.region_map_holder{
    overflow: hidden;
}
.region_map_holder .text_left{
    float: left;
    width: 310px;
}
.region_map_holder .map_holder{
    float: right;
    position: relative;
    width: 609px;
    background: transparent url("../images/mapRegions.png") no-repeat scroll 0 0;
    height: 360px;
}

.region_map_holder .map_holder.pacific {
    background: transparent url("../images/mapRegions.png") no-repeat scroll 0 -360px;
}
.region_map_holder .map_holder.americas {
    background: transparent url("../images/mapRegions.png") no-repeat scroll 0 -720px;
}
.region_map_holder .map_holder.europe {
    background: transparent url("../images/mapRegions.png") no-repeat scroll 0 -1081px;
}
.region_map_holder .map_holder.africa {
    background: transparent url("../images/mapRegions.png") no-repeat scroll 0 -1440px;
}

.region_map_holder .map_holder a{
    position: absolute;
    display: block;
}
.map_holder a.north_america{
    width: 243px;
    height: 220px;
    left: 0;
    top: 0;    
}
.map_holder a.south_america{
    height: 147px;
    left: 138px;
    top: 220px;
    width: 95px;
}
.map_holder a.europe{
    height: 113px;
    left: 245px;
    top: 67px;
    width: 160px;
}
.map_holder a.africa{
    height: 124px;
    left: 255px;
    top: 180px;
    width: 148px;
}
.map_holder a.pacific{
    height: 199px;
    left: 405px;
    top: 135px;
    width: 191px;
}
.map_holder a.russia{
    height: 111px;
    left: 405px;
    top: 24px;
    width: 216px;
}

.smaller_list li{
    margin: 0 9px 0 0;
}
.smaller_list li span{
    font-size: 12px;
    text-transform: uppercase;
}
.country_list{
    overflow: hidden;
}
.country_list dl{
    float: left;
    width: 165px;
    font-family: FuturaBT-Book;
    font-weight: normal;
    font-style: normal;
    padding-right: 10px;
}
.country_list dl.dl1 {
width: 250px;
}

.country_list dl.dl2 {
width: 125px;
}

.country_list dl.dl3 {
width: 135px;
}

.country_list dl.dl4 {
width: 150px;
}
.country_list dl dt{
    text-transform: uppercase;
    color: #dc291e;
    margin-bottom: 10px;   
    font-size: 14px;
    font-weight: normal;
}
.country_list dl dd{
    margin-bottom: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.country_list dl dd a:hover{
    color: #dc291e;
}
.contacts_list.floated_list{
    float: left;
    margin-right: 25px;
    margin-top: 20px;
    width: 220px;
}

.related_topics span {
display: block;
margin-bottom: 4px;
}

.related_topics .video {
display: block;
margin-top: 2px;
}
.consulting_wrap{
    overflow: hidden;
    
}
.left_bigger_right_smaller_layout .left{
    width: 690px;    
}
.left_bigger_right_smaller_layout .right{
    width: 220px;
    border-top: 1px solid black;
    padding: 0;
}

.left_bigger_right_smaller_layout .right>div h2{
    margin-top: 0 !important;
}
.big_p,
.big_p_red{
    font-family: FuturaBT-Book;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: normal;
}
.big_p_red{
    color: #dc291e;
}
.red_text_special{
    color: #dc291e;
    font-family: FuturaBT-Book;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    font-size: 15px;
}
.featured_consult{
    display: block;
    margin: 20px 0;
    font-size: 12px;    
}
.featured_consult strong{
    text-transform: uppercase;
    display: block;
}
.featured_consult ins{
    display: block;
    margin-bottom: 10px;
}
.featured_consult:hover{
    opacity: 0.8;
}
.featured_consult:hover b{
    color: #dc291e;
}
.featured_consult b{
    display: block;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}
.casestudy_list{
    overflow: hidden;
    border-top: 1px solid black;
    padding: 10px 0;
    clear: both;
}
.sub_title.smaller_font{
    font-size: 12px;
    text-transform: uppercase;
}
.casestudy_list ul{
    margin: 10px 0 0 -20px;
    overflow: hidden;
}
.casestudy_list ul li {
    display: block;
    float: left;
    margin: 0 0 20px 20px;
}

.casestudy_list ul>ins {
    display: block;
    float: left;
    margin: 0;
    background: transparent;
    outline: 0;
}
.casestudy_list ul>ins li{
   display: block;
}

.casestudy_list ul>ins li a{
   background: transparent url("/cms/assets/cmsGroupBg.png") repeat scroll 0 0;
}
.casestudy_list ul li.last_in_row{
    margin-right: 0px;
}
.casestudy_list ul li a{
    display: block;
    width: 150px;
    min-height: 55px;
    font-size: 12px;
    padding: 5px;
    background: #e8e8e8;
    overflow: hidden;
}
.casestudy_list ul li a strong{
    color: black;
    margin-top: 2px;
    display: block;
    line-height: normal;
}
.casestudy_list ul li a:hover strong,
.casestudy_list ul li a.active strong{
    color: #dc291e;
}
.slide_controls{
position: absolute;
top: 0;
right: 0;
display: block;
}
.slides_holder>div{
    display: none;
    padding-bottom: 15px;
    overflow: hidden;
}
.slides_holder>ul{
    display: none;
}
#slide_1{
    display: block;
}
.slide_controls ul li{
    float: left;
    margin-left: 10px;
    font-weight: bold;
}
.slide_controls ul li a:hover{
    color: #dc291e;
}
.image_above img{
    display: block;
    margin-bottom: 20px;
}
.image_left img{
    float: left;
    margin-right: 15px;
}
.image_under img{
    display: block;
    margin-top: 20px;
}
.red_text{
    color: #dc291e;
}
.testimonial_list{
    padding: 20px 0;
    border-top: 1px solid black;
}
.testimonial_list li{
    margin: 0 20px 15px 0;
    width: 160px;    
    font-size: 12px;
}
.testimonial_list li span{
    font-size: 12px;
    margin-bottom: 0;
    font-weight: bold;
    margin-top: 3px;
}
.testimonial_list li strong{
    display: block;
    font-weight: normal;
}
.testimonial_list li a:hover * {
    color: #dc291e;
}
.testimonial_popups{
    display: none;
}
.no_border{
    border: none !important;
    padding-top: 0 !important;
}
.red_bullets_list{
    background: #e8e8e8;
    padding: 16px;
    font-family: FuturaBT-Book;
    font-weight: normal;
    font-style: normal;
}
.red_bullets_list dt{
    color: #dc291e;
    line-height: 19px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.red_bullets_list dd{
    padding-left: 15px;
    font-family: 'Open Sans', sans-serif;
    background: url("../images/red_dot.jpg") no-repeat left 7px;
    margin-bottom: 10px;
    font-size: 14px;
}
.company_inner_layout{
    
}
.company_inner_layout .left{
    width: 460px;
    margin-right: 15px;
}
.company_inner_layout .right{
    width: 460px;
    margin: 0;
}
.project_list {
min-height: 339px;
margin: 0;
border-bottom: 1px solid #fff;
}
.project_list dt{
    font-family: FuturaBT-Book;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #dc291e;
}
.project_list dd{
    margin-bottom: 7px;
}
.project_list dd a{
    font-family: FuturaBT-Book;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    color: black;
}
.project_list dd a:hover,
.project_list dd a.active{
    color: #dc291e;
}
.leadership_sorting_list{
    margin-top: 15px;
}
.leadership_sorting_list li{
    margin-bottom: 3px;    
}
.leadership_sorting_list li a{
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    display: block;
    line-height: 15px;
    margin: 9px 0 0 0;
}
.leadership_sorting_list li a:hover,
.leadership_sorting_list li a.active{
    color: #dc291e;
}


/*Ciofi*/
.leadership_affiliates_list{
    margin-top: 10px;
}
.leadership_affiliates_list li{
    margin-bottom: 3px;    
    margin-left: 20px;
}
.leadership_affiliates_list li a{
    text-transform: uppercase;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    display: block;
    line-height: 15px;
    margin: 9px 0 0 0;
}
.leadership_affiliates_list li a:hover,
.leadership_affiliates_list li a.active{
    color: #dc291e;
}
/*Ciofi*/




.leadership_headline{
    border-bottom: 0;
    margin-bottom: 0;
}
.leadership_headline .slide_controls{
    clear: none;
}
.leadership_associates_list li{
    margin-bottom: 1px;
}
.leadership_associates_list li a:hover{
    color: #dc291e;
}
.leadership_affiliates dl{
    margin-top: 15px;
}
.leadership_affiliates dl dt{
    color: #dc291e;
    text-transform: uppercase;
    margin-bottom: 1px;    
}
.highlighted_project{
    overflow: hidden;
    min-height: 313px;
}
.highlighted_project .project_info{
    float: left;
    background: #e8e8e8;
    width: 210px;
    padding: 10px;
    height: 100%;
    min-height: 310px;
    font-size: 13px;
}
.highlighted_project .project_info a{
    font-weight: bold;
    color: black;
}
.highlighted_project .project_info a:hover{
    color: #dc291e;
}
.highlighted_project img{
    float: left;
}
.award_history dl{
    margin-top: 15px;
}
.award_history dl dt{
    color: #dc291e;
    font-size: 24px;
    font-family: FuturaBT-Book;
    font-style: normal;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.award_history dl dd{
    margin-bottom: 20px;
}
.award_history dl dd strong{
    font-weight: bold;
    font-size: 15px;
    display: block;
    color: #636363;
    font-family: 'Open Sans',Tahoma, sans-serif; 
    font-style: normal;
    line-height: normal;
    font-weight: bold;
}
.award_history {
    margin: 25px 0 0 0;
}
.award_history dl dd span{
    display: block;
    margin: 3px 0;
}
.white_papers_list li{
    overflow: hidden;
    border-bottom: 1px solid black;
    padding-bottom: 13px;
    margin: 2px 0 0 0;
}

.whitepapersaspx .white_papers_list li{
    margin: 2px 0 15px 0;
}

.newspressreleaseaspx .white_papers_list li{
    margin: 2px 0 16px 0;
}

.newspressreleaseaspx .photo_holder {
padding-bottom: 6px;
}

.whitepapersaspx .white_papers_list li .info_holder div.text {
clear : both;
margin-bottom: 2px;
display: block;

}

.white_papers_list li .photo_holder{
    float: left;
    width: 220px;
    margin: 6px 15px 5px 0;
    font-size: 12px;

}
.white_papers_list li .photo_holder span{
    display: block;
    margin-top: 5px;
}
.white_papers_list li .info_holder{
    float: left;
    width: 700px;
}
.whitepaperHeading, .white_papers_list li .info_holder h1 a, .white_papers_list li .info_holder h1 a:link, .white_papers_list li .info_holder h1 a:visited {
    color: #000 !important;
    font-family: 'Open Sans',Tahoma, sans-serif !important; 
    font-weight: bold !important;
    font-style: normal !important;
    font-size: 15px !important;
    display: block !important;
    line-height: normal !important;
    margin: 0 0 10px 0 !important;
}

#news_press_release_list .info_holder h1 {
padding-top: 0;
}

#news_press_release_list .info_holder h1 a {
padding-top: 0;
margin-top: 0;
}

.white_papers_list li .info_holder span,
.white_papers_list li .info_holder em{
    display: block;
}
.white_papers_list li .info_holder .text{
    margin-top: 15px;
}
.white_papers_list li .info_holder a{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0 20px 0 0;
}
.white_papers_list li .info_holder a:hover{
    color:  #dc291e
}
.speaking_engagement_list li{
    border-bottom:  0;
}
.speaking_engagement_list li .info_holder h1 a{
    color: black;
    text-transform: none;
    font-size: 23px;
}
#publications_list li h1 a{
    color: #DC291E;
}
#publications_list li .photo_holder img{
    box-shadow: 0 0 6px #101010;
    margin: 5px;
}
#news_press_release_list li .info_holder{
    width: 450px;
}
.view_full_release{
    display: inline-block;
    margin-right: 30px;
}
.full_news_pop img{
    float: left;
    display: block;
    margin-bottom: 15px;
}
.current_press li{
    margin-bottom: 15px;
}
.current_press li a{
    display: block;
    font-family: 'Open Sans',Tahoma, sans-serif;     
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}
.current_press li a:hover{
    color: #dc291e;
}
.current_press li em{
    font-style: normal;
    line-height: normal;
    font-size: 14px;
}
a.view_page{
    color: black;
    font-weight: bold;
}
a.view_page:hover{
    color: #dc291e;
}
.no_margin_top{
    margin-top: 0 !important;
}
.no_margin_bottom{
    margin-bottom: 0 !important;
}
.office_locations_columned_layout{
    overflow: hidden;
}
.office_locations_columned_layout .column{
    width: 220px;
    padding-right: 10px;
    float: left;
}
.office_locations_columned_layout .column ul li{
    margin-bottom: 20px;
}
.office_locations_columned_layout .column ul li h2{
    text-transform: uppercase;
    font-size: 15px;
    font-family: FuturaBT-Book;
    font-weight: normal;
    font-style: normal;    
    color: #dc291e;
}
.extra_top_margin{
    margin-top: 37px;
}
.futura_font li span{
    font-family: FuturaBT-Book;
    font-weight: normal;
    font-style: normal;    
    letter-spacing: 1px;
}
.gray_box_wrap{
    background: #999999;
    margin: 20px 0 0 0;
}

.clientlistaspx .gray_box_wrap{
    margin: 0;
}

.no_text_transform{
    text-transform: none !important;
}
.line_height_fix li span{
    line-height: 16px !important;
    padding-left: 2px;
}
.less_width{
    width: 750px;
}
.less_padding{
    padding: 7px 0 !important;
}
.more_spacing_fix li{
    margin-bottom: 13px;
}
.bigger_space_bettween_p h4{
    margin-top: 22px;
}
.smaller_font{
    font-size: 21px !important;
}
.titles_not_links li .info_holder{
    margin-top: 0px;
}
.titles_not_links li .info_holder h1 a:hover{
    text-decoration: none;
    cursor: default;
}

select.langSelect {
font-size: 12px;
line-height: 12px;
padding: 0;
margin: 8px 0 0 0;
position: absolute;
display: none;
}

.wide5 {
width: 940px;
overflow: hidden;
}

.wide5 ul.main_list {
width: 970px;
}

.main_list.testimonial_list.extra_top_margin.testimonials {
width: 725px;
}

.column ul.locations {
width: 720px;
}

.column ul.locations li {
clear: none;
float: left;
margin: 0 18px 16px 0;
width: 220px;
}

.contactaspx .col1 {
clear: both;
}

.two_columns .right_bigger ul.main_list {
width: 710px;
}

.left_bigger_right_smaller_layout>div.left>div.text {
margin: 28px 0 0 0;
}

#main div.cms h1 {
    color: #DC291E;
    display: block;
    font-family: FuturaBT-Book;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    margin: 22px 0 15px 0;
}

#main div.cms h2 {
    color: #DC291E;
    display: block;
    font-family: FuturaBT-Book;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    margin: 12px 0 8px 0;
}

#main div.cms h3 {
    color: #DC291E;
    display: block;
    font-family: FuturaBT-Book;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    margin-top: 22px;
}

#main .right div.cms h3 {
    margin-top: 0;
}

#main div.cms h4 {
    color: #DC291E;
    display: block;
    font-family: FuturaBT-Book;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    margin: 22px 0 15px 0;
}




.webResult h2 {
    color: #DC291E;
    display: block;
    font-family: FuturaBT-Book;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    margin: 30px 0 15px 0;
    text-indent: 1px;
}

.searchView {
color: #000;
font-weight: bold;
white-space:nowrap;
}

#resultsDiv {
float: none;
}

#more {
    text-align: right;
}

#more a {
    color: #DC291E;
    font-family: FuturaBT-Book;
    font-style: normal;
    font-weight: bold;
    text-align: right;
    cursor: pointer;
}

#more a:hover {
text-decoration: underline;
}

.printPage {
cursor: pointer;
}

.two_columns .right_bigger ul.main_list li a span {
line-height: 17px;
overflow: hidden;
padding: 0 6px 0 1px;
}

.testimonialsaspx .two_columns .right_bigger ul.main_list li a em {
line-height: 17px;
}

.testimonialsaspx .two_columns .right_bigger ul.main_list li a strong {
padding: 3px 0 0 0 !important;
line-height: normal;
}

.contactSidebar {
    background: #e8e8e8;
    display: block;
    font-family: 'Open Sans',Tahoma,sans-serif;
    font-size: 13px;
    font-weight: normal;
    padding: 5px 10px;
}

.contactSidebar a, .contactSidebar a:link, .contactSidebar a:visited {
    color: #000;
    font-weight: bold;
}

.loginIntro {
margin: 0 0 20px 0;
}

.right_bigger div.inner_tabs h3.headline_underlined {
font-size: 13px
}

.projectDetailaspx .headline h2  {
text-transform: uppercase;
width: 700px;
}

.projectDetailaspx .headline strong {
font-family: 'Open Sans';
}

.regionaspx .contacts_list dt, h3.headline_underlined {
    margin: 6px 0 6px 0;
}

.honorawardsaspx .highlighted_project .project_info .red_text {
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'FuturaBT-Book';
    font-weight: normal;
}

.highlighted_project .project_info span a {
color: #DC291E;
font-weight: normal;
}

.highlighted_project .project_info span a:hover {
color: #E9817F !important;
}
.publicationsaspx .white_papers_list li {
margin: 16px 0 0 0;
padding: 0;
}

.publicationsaspx .white_papers_list li {
margin: 16px 0 0 0;
padding: 0;
}

.cmsName_Careers {
margin: 18px 0 0 0;
}

.corporateinteriorsaspx #main div ul.main_list li  {
height: 215px;
}

.corporateinteriorsaspx #main div ul.main_list li span  {
bottom: 172px;
}

body.regionintroaspx #main .region_map_holder div.text_left div.text div div a {
font-weight: bold;
}

body.clientlistaspx .featured_client .big_image_with_info_box .info_pop a {
    color: inherit;
    font-weight: normal;
}

.padTop {
margin-top: 20px;
}


a.proj {
position: relative;
display: block;
margin: 0;
padding: 0;
}


a.proj img {
display: block;
position: relative;
}


a.proj>span{
position: absolute;
right: 0;
bottom: 0;    
font-family: FuturaBT-Book;
font-weight: normal;
font-style: normal;
background: url("../images/white_ghost.png") repeat;
padding: 10px 0 10px 0;
width: 100%;
font-size: 14px;
margin: 0;
display: block;
}


a.proj>span em{
display: block;
padding: 0 20px 0 13px;
color: #dc291e;
display: block;
margin-bottom: 1px;
font-size: 18px;
text-transform: uppercase;
font-family: FuturaBT-Book;
}

a.proj>span span{
display: block;
padding: 0 20px 0 13px;
font-family: 'Open Sans';
color: #616161;
}

.projectDetailaspx .big_image_with_info_box img {
height: 467px;
}

.projectDetailaspx .inner_tabs .main_list li a img {
width: 60px;
height: 60px;
cursor: crosshair;
}


.categoryaspx .inner_tabs .main_list li a img {
width: 60px;
height: 60px;
}

.categoryaspx .big_image_with_info_box .proj img {
width: 700px;
height: 463px;
}

.practiceaspx .main_list li a img {
width: 164px;
height: 164px;
}

.previous_slide {
visibility: hidden;
}

#project_gallery .big_image_with_info_box a.enlargeImage {
position: absolute;
right: 106px;;
margin: 0;
}

.region_map_holder div.text_left div.text a {
color: #000;
}

.project_list dt {
line-height: normal;
}

.learnMore {
margin: 16px 0 0 0;
display: none;
}

.cmsEditing .learnMore {
display: block;
}


a.learnMoreLink, a.hideMoreLink {
font-weight: bold;
white-space:nowrap;
cursor: pointer;
color: #000;
text-transform: capitalize;
display: block;
}

a.learnMoreLink:hover, a.hideMoreLink:hover {
color: #dc291e

}





h2.intro{
font-family: FuturaBT-Book;
font-style: normal;
font-weight: normal;
letter-spacing: 1px;
color: #000000;
display: block;
font-size: 18px;
line-height: 22px;
margin: 0;
}

.cols4 {
margin: 0 0 0 -20px;
padding: 0;
}

.cols4 div {
width: 220px;
margin: 19px 0 0 20px;
float: left;
padding: 0;
}

.cols4 div img {
width: 220px;
height: 146px;
}

.cols4 div strong {
display: block;
color: #DC291E;
font-family: FuturaBT-Book;
font-size: 16px;
line-height: 18px;
margin: 0 0 0 0 !important;
position: relative;
top: 10px;
height: 46px;
font-weight: normal;
}

html body .c {
clear: both !important;
float: none !important;
width: 100% !important;
height: 1px !important;
overflow: hidden !important;
}

.cols4 ins.cmsGroupItem {
width: 258px;
float: left;
}

.cmsEditing .cols4.cmsName_Process {
margin: 50px 0 0 0;
position: relative;
}

.cmsEditing #main .cmsName_Process div.cmsGroupItem strong.cms {
position: relative;
}

.cmsName_Process strong {
clear: both;
min-height: 40px;
}

.cmsEditing #main .cmsName_Process div.cmsGroupItem strong.cms span.cmsEdit {
bottom: 10px;
}

ins>ins.rtl {
text-align: right !important;
display: block !important;
direction:rtl !important;
}

.cmsEditing .cols4.cmsGroup.cmsName_Process {
width: 960px;
margin: 0 0 0 -21px;
}

.cmsType_Rich ol li {
list-style-type:decimal;
list-style-position: outside;
margin: 0 0 0 25px;
padding: 0;
}

.cmsType_Rich ul li {
padding-left: 25px;
background: transparent url("../images/red_dot.jpg") no-repeat scroll 4px 7px;
}


.project_right {
float: right;
margin-top: 12px;
}

.slideNavSecondary ul{
padding: 6px 0 0 0;
list-style-type: none;
clear: both;
float: right;
}


.slideNavSecondary ul li{
float: left;
display: block;
margin: 0 0 0 11px;
font-weight: normal;
}


.slideNavSecondary ul li a{
float: left;
display: block;
margin: 0;
font-weight: bold;
color: #000;
}

.slideNavSecondary ul li a:hover{
color: #dc291e;
}

.CaseStudy .csFull {
padding: 6px 0 13px 0;
}

.caseStudySecondary {
border-top: 1px solid #000;
border-bottom: 1px solid #000;
padding: 13px 0 12px 0;
}

.gridc1 {
width: 220px;
padding: 0;
margin: 0;
float: left;
}

.gridc3 {
width: 700px;
padding: 0;
margin: 0;
float: right;
font-size: 13px;
}

.caseStudySecondary h2 {
    color: #DC291E;
    font-family: FuturaBT-Book,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
}

.csHalf1 {
width: 460px;
float: left;
padding: 6px 0 13px 0;
}

.csHalf2 {
width: 460px;
float: right;
padding: 6px 0 13px 0;
}

.csqa1 {
width: 220px;
padding: 6px 0 13px 0;
margin: 0;
float: left;
}

.csqa3 {
width: 700px;
padding: 6px 0 13px 0;
margin: 0;
float: right;
}

.csqb3 {
width: 700px;
padding: 6px 0 13px 0;
margin: 0;
float: left;
}

.csqb1 {
width: 220px;
padding: 6px 0 13px 0;
margin: 0;
float: right;
}

.csqb1a {
width: 220px;
padding: 6px 0 13px 0;
margin: 0;
float: left;
}

.csqb1b {
width: 220px;
padding: 6px 0 13px 0;
margin: 0 0 0 20px;
float: left;
}

.csqb1c {
width: 220px;
padding: 6px 0 13px 0;
margin: 0 0 0 20px;
float: left;
}

.csqb1d {
width: 220px;
padding: 6px 0 13px 0;
margin: 0;
float: right;
}

.casestudy_list ul li a.selectTemplate {
display: none;
}

.cmsEditing .casestudy_list ul li a.selectTemplate {
display: block;
}

.noCase .cmsGroup ins.cmsGroupItem {
background: transparent;
}

.noCase ins.cmsGroupItem {
background: transparent;
outline: 0;
}

.cmsEditing .noCase span.cmsGroupAdd {
margin: 5px 0 0 0;
}


.navigation ul li a.china {
background: transparent url(../images/china.gif) no-repeat scroll 0 -8px;
width: 55px;
height: 20px;
overflow: hidden;
line-height: 99px;
text-indent: -999px;
padding: 0 !important
}

.navigation ul li a.china:hover, .navigation ul li a.china.active {
background: transparent url(../images/china.gif) no-repeat scroll 0 -48px;
}

span.caseNoImg {
display: none;
}
.cmsEditing span.caseNoImg {
display: block;
height: 50px;
}

.left_smaller div a.learnMoreLink {
display: block;
}


div.clientF {
display: none;
}

a.clientF {
font-weight: normal;
cursor: text;
}


a.clientF:link {
font-weight: normal;
cursor: pointer;
}

a.clientF:hover {
color: inherit !important;
}

body a.clientF:link:hover, body a.clientF:visited:hover {
color: #000 !important;
}

.cmsEditing div.cmsType_Textset {
min-height: 30px;
}

.main_list.landO {
width: 700px;
clear: none;
padding: 22px 0 0 20px;
}

.main_list.landO li {
width: 156px;
overflow: hidden;
}

.cmsEditing div.caseProjectLink {
min-height: 26px;
position: absolute;
left: 860px
}

a.caseProjectLink {
float: right;
display: block;
background: #e8e8e8;
padding: 5px 10px;
width: 180px;
color: #000;
font-weight: bold;
margin: 13px 0 0 0;
}

a.caseProjectLink:hover {
color: #dc291e;
}

.regionaspx .right_bigger ul.main_list li {
height: 200px;
overflow: hidden;
margin-bottom: 15px;
}

a.proj span em strong {
font-weight: normal;
}

.CaseStudy .csHalf1 .cmsType_Rich,
.CaseStudy .csHalf2 .cmsType_Rich,
.CaseStudy .csqa1 .cmsType_Rich,
.CaseStudy .csqa2 .cmsType_Rich,
.CaseStudy .csqa3 .cmsType_Rich,
.CaseStudy .csqa4 .cmsType_Rich,
.CaseStudy .csqb1 .cmsType_Rich,
.CaseStudy .csqb2 .cmsType_Rich,
.CaseStudy .csqb3 .cmsType_Rich,
.CaseStudy .csqb4 .cmsType_Rich,
.CaseStudy .csqb1a .cmsType_Rich,
.CaseStudy .csqb1b .cmsType_Rich,
.CaseStudy .csqb1c .cmsType_Rich,
.CaseStudy .csqb1d .cmsType_Rich,
.CaseStudy .csqb1a .cmsType_Rich,
.CaseStudy .csqb2a .cmsType_Rich,
.CaseStudy .csqb3a .cmsType_Rich,
.CaseStudy .csqb4a .cmsType_Rich {
background: #999999;
padding: 0 16px 0 12px;
}


.right_wrap {
display: block;
margin: -4px 0 0 0;
}


.cmsName_Consulting_Intro {
    font-size: 15px;
    font-family: FuturaBT-Book;
    font-weight: normal;
    font-style: normal;
}


a img.rssImg {
vertical-align: -14%;
}

a:hover img.rssImg {
opacity: .6;
}

.lLink, .lDocument {
display: block;
font-weight: bold;
}

.office_locations_columned_layout ul li {
margin: 0 0 14px 0;
}
.office_locations_columned_layout ul li span{
    display: block;
}
.office_locations_columned_layout li span a,.office_locations_columned_layout li span a:link,.office_locations_columned_layout li span a:visited{
    color: #000;
    font-weight: bold !important;
}
.office_locations_columned_layout li span a:hover{
    color: #dc291e;
    text-decoration: underline;
}

.column ul.locations li.col1 {
clear: both;
}

.cmsEditing .lLink, .cmsEditing .lDocument {
 display: block;
 min-height: 26px;
 margin-top: 5px;
}

.cmsEditing .office_locations_columned_layout ul .cmsGroupItemRemove {
outline: 0 !important;
}

#resultsDiv div div.webResult p b {
font-weight: normal !important;
}

.cmsName_Search_Right_Heading {
    color: #DC291E;
    display: block;
    font-family: FuturaBT-Book;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 6px 0;
}

.cmsName_Search_Right_Content {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    margin: 0 0 6px 0;
}

.cmsName_Search_Right_Link {
 display: block;
 margin: 0 0 12px 0;
}
.cmsName_Search_Right_Link a {
 font-weight: bold;
 font-size: 14px;
}

.cms h5 {
font-size: 24px;
margin: 0;
}

.cms h6 {
font-size: 18px;
font-weight: normal;
margin: 0;
}

.cmsName_Design_Approach_Right, .cmsName_Strategies_Right {
font-family: 'Open Sans',Tahoma, sans-serif;     
background: #e8e8e8;
padding: 6px 8px 6px 8px;
color: #000;
}

.client_list ul li strong {
display: block;
margin-top: 14px;
margin-bottom: 7px;
}

.client_list ul li strong.top {
margin-top: 0;
}

.big_image_with_info_box a em.info_pop>em {
color: #dc291e;
text-transform: uppercase;
display: block;
}

.big_image_with_info_box a em.info_pop span {
color: #000;
display: block;
}

.featured_client div.big_image_with_info_box a:hover {
opacity: .8;
}

.project.text {
margin: 10px 0 0 0;
width: 219px;
line-height: 17px;
overflow: hidden;
position: static;
}

.casestudyaspx .headline div.left {
margin-top: 10px
}

#mainWrapper div.headline div.left h2 {
min-height: 30px !important;
line-height: 30px;
width: 520px;
}


.firmprofileaspx .left div.text div.cms a.last, .firmprofileaspx .left div.text div.cms a.last:link, .firmprofileaspx .left div.text div.cms a.last:visited {
    background: #e8e8e8;
    color: #000000;
    display: block;
    font-family: 'Open Sans',Tahoma,sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px;
    float: left;
}

.firmprofileaspx .left div.text div.cms a.last:hover {
color: #dc291e;
}


#mainWrapper p#readMore {
width: 150px;
float: none;
}
#mainWrapper p#readMore a {
display: block;
color: #000;
cursor: pointer;
font-weight: bold !important;
margin: 2px 0 0 0;
}

.affiliatedetailsaspx .view_more.website {
margin-top: 16px;
}

.publicationsaspx .info_holder div.text {
min-height: 129px;
}

.speakingengagementaspx .info_holder {
border-bottom: 1px solid #000
}


.bulletList {
display: block;
padding-left: 25px;
background: transparent url("../images/red_dot.jpg") no-repeat scroll 4px 7px;
}

.leadership_headline {
padding-bottom: 0;
height: 40px;
}

.slide_controls {
margin-top: 6px;
}

.fancybox-wrap div.fancybox-skin {
border: 1px solid #cfcfcf;
}

.disclamer {
border-top: 1px solid #000;
margin: 8px 0 0 0 !important; 
padding: 8px 0 4px 0;
clear: both;
float: left;
width: 100%;
}

.cmsName_Sustainability_Right {
margin-top: -5px;
}

.country_list dl.dl1 dd strong {
display: block;
margin: 10px 0 4px 0;
color: #DC291E;
font-size: 14px;
font-weight: normal;
margin-bottom: 10px;
text-transform: uppercase;
}


.project_list a {
cursor: pointer;
}

.affiliatesaspx .main_list {
margin-top: 13px;
}


























 .projectDetailPrintaspx #header, .projectDetailPrintaspx .project_nav, .projectDetailPrintaspx .terms_link, .projectDetailPrintaspx #footer ul, .projectDetailPrintaspx .headline_additional, .projectDetailPrintaspx .enlargeImage, .projectDetailPrintaspx .cmsPassword, .projectDetailPrintaspx .cmsLogout, .projectDetailPrintaspx .cmsEditMetadata, .projectDetailPrintaspx #mainWrapper p#readMore {
  display: none;
  visibility: hidden;
 }

 .projectDetailPrintaspx .projectDetailaspx .headline h2 {
  width: 100%;
 }
 .projectDetailPrintaspx #mainWrapper p#readMore {
  display: none !important;
 }
 .projectDetailPrintaspx .main_list li a.active img{
  border: 0;
 }
 .projectDetailPrintaspx #main {
  min-height: 0;
 }
 .projectDetailPrintaspx html, body {
  height: auto;
  overflow: auto;
 }

 .projectDetailPrintaspx .project.text {
   height: 100% !important;
   overflow: visible !important;
 }

 .projectDetailPrintaspx .main_list.small_thumbs {
   padding: 10px 0 10px 0;
   display: block;
  }

@media print {

 #header, .project_nav, .terms_link, #footer ul, .headline_additional, .enlargeImage, .cmsPassword, .cmsLogout, .cmsEditMetadata, #mainWrapper p#readMore {
  display: none;
  visibility: hidden;
 }

 .projectDetailaspx .headline h2 {
  width: 100%;
 }

 .main_list li a.active img{
  border: 0;
 }
 #main {
  min-height: 0;
 }
 html, body {
  height: auto;
 }
 .project.text {
   height: 100% !important;
   overflow: visible !important;
 }
}

.contactaspx.cmsEditing ul.locations ins.cmsGroupItem {
clear: both;
width: 220px;
}

.contactaspx.cmsEditing ul.locations li.cmsGroupItem .cmsType_TextMulti  {
min-height: 100px
}

.clientsaspx .featured_client .info_pop {
position: relative;
background: #E8E8E8;
}

.right.rightText {
border: 0;
margin-top: -4px;
}


.cmsEditing .cms.learnMore {
min-height: 30px;
}


dd p strong em {
font-weight: bold
}

.award_history dl dd strong a em {
font-weight: bold;
}

.award_history dl dd strong.awardType {
font-size: 13px;
margin: 8px 0 6px 0;
}
 
.awardCat {
display: block;
display: inline !important;
}

.award_history dl dd span.awardName {
display: inline;
}

dl.contacts_list dd p strong em {
font-weight: normal;
}


body .right_bigger .inner_tabs .main_list li a{
width: 64px;
height: 64px;
display: block;
overflow: hidden;
}

body .right_bigger .inner_tabs .main_list li a img {
width: 60px;
height: 60px;
display: block;
overflow: hidden;
background: #eee;
}

.inner_tabs .big_image_with_info_box a.proj img {
width: 700px;
height: 467px;
background: #eee;
}

.projAwards .awardTag {
display: none;
}

ul.current_press li a em {
font-weight: bold
}

dl.contacts_list dd p strong>em {
white-space:nowrap;
}

.nolink:hover {
color: inherit !important
}

.current_press li a.video {
 font-style: normal;
 font-size: 13px;
}


.whitepapersaspx .white_papers_list li .info_holder .text a.video,
.publicationsaspx .white_papers_list li .info_holder .text a.video {
display: inline-block;
margin: 0;
}

.speakingengagementaspx .white_papers_list li .info_holder .text a.video {
display: block;
margin: 6px 0 0 0;
}

.popup_box div.popup_info div.text p.whitepapers strong {
display: block;
font-size: 14px;
font-weight: bold;
color: #dc291e;
}

.popup_box div.popup_info div.text p.whitepapers a {
display: block;
}

.fancybox-item.fancybox-close:hover {
opacity: .8;
}

#news_press_release_list.white_papers_list li div.info_holder div.text a.video {
display: inline-block;
margin: 0 0 0 30px;
}

.contacts_list dd em {
display: block;
margin: 0 0 6px 0;
}

.breadcrumbs ul li a:hover {
color: inherit !important;
}
.breadcrumbs ul li a.active:hover, .breadcrumbs ul li a:link:hover, .breadcrumbs ul li a:visited:hover {
color: #dc291e !important;
}

.cmsName_China_Clinets_Cn_Right {
margin-bottom: 14px;
}

em.NewsLine1, em.NewsLine1 em {
font-weight: bold !important;
}
span.NewsLine2 {
font-weight: normal;
}

.cmsName_Home_Page_Carousel_Delay {
display: none;
}

.cmsEditing .cmsName_Home_Page_Carousel_Delay {
display: block;
position: absolute;
z-index: 900;
top: auto;
bottom: 0;
left: 0;
}


.cmsEditing .cmsName_Home_Page_Carousel_Random {
display: block;
position: absolute;
z-index: 900;
top: auto;
bottom: 0;
right: 0;
}

.intro{
min-height: 50px;
}

.breadcrumbs a ins {
 white-space:nowrap;
}

.cmsEditing.practiceaspx .main_list >li > span {
display: block !important;
position: relative !important;
top: 0;
height: 27px;
background: transparent;
}

.cmsEditing.practiceaspx .main_list >li > span span {
display: block !important;
position: relative !important;
top: 0;
height: 18px;
font-size: 12px;
line-height: 140%;
font-weight: bold;
}


.cmsEditing.practiceaspx .main_list li  a {
position: relative !important;
display: block !important;
top: 220px !important;
}


.cmsEditing .cmsType_Rich, .cmsEditing .cmsType_TextSingle, .cmsEditing .cmsType_TextMulti {
min-height: 23px;
}

body.lngArabic .lang.lngArabic, body.lngArabic .lang.lngArabic * {
direction: rtl; 
text-align: right !important;
}


body .lang.lngMandarin ol li, body .lang.lngMandarin ul li {
    list-style-type: none;
    background: url("../images/red_dot.jpg") no-repeat scroll 4px 7px transparent;
    margin-left: 0;
    padding-left: 25px;
}

body .lang.lngArabic ol li, body .lang.lngArabic ul li {
    list-style-type: none;
    background: url("../images/red_dot.jpg") no-repeat scroll 100% 7px transparent;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
    padding-right: 25px;

}

body.lngArabic .mega_menu ul li a {
text-align: right;
}

.navigation em.selectLang {
display: block;
width: 220px;
height: 38px;
line-height: 38px;
float: left;
}
.selectLang a.lngEnglish {
float: left;
display: block;
width: 43px;
height: 13px;
background: transparent url(../images/lang.gif) no-repeat scroll 0 0;
cursor: pointer;
margin: 13px 14px 0 0;
}
.selectLang a.lngEnglish.active,  .selectLang a.lngEnglish:hover{
background-position: 0 -13px;
}
.selectLang a.lngMandarin {
float: left;
display: block;
width: 40px;
height: 13px;
background: transparent url(../images/lang.gif) no-repeat scroll -50px 0;
cursor: pointer;
margin: 13px 15px 0 0;
}
.selectLang a.lngMandarin.active,  .selectLang a.lngMandarin:hover{
background-position: -50px -13px;
}
.selectLang a.lngArabic {
float: left;
display: block;
width: 30px;
height: 13px;
background: transparent url(../images/lang.gif) no-repeat scroll -96px 0;
cursor: pointer;
margin: 13px 15px 0 0;
}
.selectLang a.lngArabic.active, .selectLang a.lngArabic:hover{
background: transparent url(../images/lang.gif) no-repeat scroll -96px -13px;
}

ul.main_list li > a > span.cms span.cmsEdit {
display: block;
margin: 0;
top: 0;
height: 18px;
line-height: 18px;
font-size: 13px;
font-weight: bold;
margin: 2px 0 0 0;
}

.cmsEditing .company_inner_layout div.right span {
display:  block
}

.affContact {
margin: 18px 0 0 3px;
}

.affContact h4 {
    border-bottom: 1px solid #aaa;
    color: #DC291E;
    display: block;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

/* Brochures */
.brochures-container > ul {
    border-top: 1px solid #000;
    padding-top: 20px;
    width: 100%;
}
.brochures-container li {
    float: left;
    margin: 0 12px 20px;
    width: 211px;
    height: 300px;
}
.brochures-container li div {
    width: 211px;
    height: 300px;
    background: #d72e28;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.25s, opacity 0.25s linear;
    -moz-transition: visibility 0s 0.25s, opacity 0.25s linear;
    -o-transition: visibility 0s 0.25s, opacity 0.25s linear;
    -webkit-transition: visibility 0s 0.25s, opacity 0.25s linear;
    -ms-transition: visibility 0s 0.25s, opacity 0.25s linear;
}
.brochures-container li:hover > div {
    visibility: visible;
    opacity: 0.9;
    transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    -webkit-transition: opacity 0.25s linear;
    -ms-transition: opacity 0.25s linear;
}
.brochures-container li div a {
    font: normal 16px/1.4 helvetica.arial;
    color: #fff;
    width: 211px;
    height: 150px;
    display: block;
    float: left;
    position: relative;
}
.brochures-container li div a:hover {
    color: #fff !important;
    opacity: 0.8 !important;
    transition: opacity 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
}
.brochures-container li div a span {
    position: absolute;
    width: 150px;
    height: 30px;
    padding: 8px 0 0 40px;
    bottom: 6px;
    left: 45px;
}
.brochures-container li div a span:hover {
    opacity: 0.8;
}
.brochures-container li div a.download span {
    background: url(/assets/images/download_icon_1.png) no-repeat;
 }
 .brochures-container li div a.issuu span {
    background: url(/assets/images/issuu_icon_1.png) no-repeat;
    top: 6px;
 }