﻿<%@ page language="VB" autoeventwireup="false" inherits="Property_Detail, App_Web_pbnym3yg" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<asp:Literal id="htmltop" runat=server></asp:Literal>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
<style type="text/css">
 	@import url("css/style.css");
</style>
<link rel="stylesheet" href="css/slimbox2.css" type="text/css" media="screen" />
<script src="http://cdn.jquerytools.org/1.2.3/full/jquery.tools.min.js" type="text/javascript"></script>

<!--<script src="js/jquery.perciformes.js" type="text/javascript"></script>
<script src="js/navi.js" type="text/javascript"></script>-->
<script type="text/javascript" src="js/slimbox2.js"></script>



<style type="text/css">

.heading_text {




	width:623px;padding:2px;padding-top:15px;padding-bottom:5px;color: gray;font-family:normal normal normal 12px/normal Verdana, Arial, Helvetica, sans-serif;font-size:12px; font-weight:bold;  text-transform: uppercase;
}
.section_content
{
		width:623px;	padding:2px;color: black;font-family:normal normal normal 12px/normal Verdana, Arial, Helvetica, sans-serif;font-size:11px; font-weight:normal;
}

.section_content_sub
{
		width:623px;	padding-left:12px;color: black;font-family:normal normal normal 10px/normal Verdana, Arial, Helvetica, sans-serif;font-size:9px; font-weight:normal;
}

.body_content{
	
	width:100%;
	float:left;
	padding-top:20px;

}


.body_content_top{
	padding:8px;
	width:360px;
	 background-color:#f8f3d3;
	 color:gray;
	 border-top:2px gray solid;
	 	 border-bottom:2px gray solid;
	 	 position:relative;
	 	 float:left;
height:120px;
margin-right:10px;
line-height:15px;
}

.body_content_right{
	padding:8px;
	width:222px;
	 background-color: #D1D2ED;
	 color: gray;
	 border-top:2px #3366CC solid;
	 	 border-bottom:2px #3366CC solid;
	 	 	 position:relative;
	 	 float:left;
height:120px;

}


#property_search {
	position: absolute;
	top:98px;
	left: 50%;
	margin-left: 277px;
	z-index: 1006;	
	background: #f9a131;
}
</style>

<!--[if lte IE 7]>
<style type="text/css">
html, body {
	overflow-x: hidden;
}
</style>
<![endif]-->
<!--[if IE 7]>
<style>
#jsddm {
	margin: 0;
	padding: 0;
	top: 0px;
	left: 0px;
	position: relative;
	float: left;
	z-index: 1;
}


#property_search {
	position: absolute;
	top:122px;
	left: 50%;
	margin-left: 277px;
	z-index: 1;	
	background: #f9a131;
}


</style>
<![endif]-->
<style type="text/css">
@-moz-document url-prefix() {
.plus
{
    z-index: 30;
    
    <asp:Literal ID="literalcssplusmod1" runat="server"></asp:Literal>
}

.image1 
{
    z-index: 25;
  
    
}
.image2
{
    z-index: 20;

     <asp:Literal ID="literalcssimagemod2" runat="server"></asp:Literal>
}

#jsddm {
	margin: 0;
	padding: 0;
	top: 0px;
	left: 0px;
	position: relative;
	float: left;
	z-index: 1007;
}

.body_content {
	background: #ffffff;
	color: #000000;
	font-size: 12px;
	line-height: 20px;
	position:relative;
	top: 25px;
	left:1px;
}

#property_search {
	position: absolute;
	top:102px;
	left: 50%;
	margin-left: 277px;
	z-index: 1006;	
	background: #f9a131;
}
#header {
	position:relative;
	margin-top:19px;
	margin-bottom: 14px;	
}
.auto-style2 {
	font-size: small;
	padding-bottom:10px;
}

.auto-style333 a {
    color:#0080FF;
}

</style>


<script type="text/javascript">
    //$(document).ready(function() {
       
        

        //});
    
    
    
jQuery(document).ready(function ($) {
    jQuery('.scrollable').scrollable({ circular: false, size: 6 });
	});



    
    

    var currentImage = 1;



    function switchImage(theImage, theID, type,theTitle) {

        var theBaseURL = '<%=(Session("WSRetreiveAsset") & "qfactor=25&public=1&size=1&width=800&height=800&type=' + type + '&id=").ToString.Replace("(","%28").Replace(")","%29") %>';
    
        if (currentImage == 1) {
            jQuery(".image2image").unbind();
            jQuery(".image2image").load(
                function() {
            jQuery(".image2image").fadeIn();
            jQuery(".image1image").fadeOut();

                }
            );

                jQuery(".image2image").attr("src", theImage);

            currentImage = 2;
        }
        else {
            jQuery(".image1image").unbind();
            jQuery(".image1image").load(
                function() {
            jQuery(".image1image").fadeIn();
            jQuery(".image2image").fadeOut();

                }
            );

                jQuery(".image1image").attr("src", theImage);
            currentImage = 1;
        }

        jQuery(".image1link").attr("href", theBaseURL + theID);
        jQuery(".image1link").attr("title", theTitle.replace("'", ""));

    };


</script>
<title>WDCEP Project Search - Property Details</title>
</head>
<body style="margin: 0">
    <form id="form1" runat="server">
    <div class="cookie_crumbs">
    <table width="623"><tr><td align="left"> 
		<a href="Result.aspx" style="    color:#0080FF; font-weight:bold;">Back to Search Results</a></td><td align="right"><a href="Default.aspx"><img src="images/newsearch.jpg"/></a></td></tr></table>
      <!--| <asp:Literal ID="literalProjectCrumbs" runat="server"></asp:Literal>--></div>
						    
						    <div class="project_detail_header">
						        <div class="project_detail_name"><asp:Literal ID="literalProjectName" runat="server"></asp:Literal></div>	
						        <span class="project_detail_address"><asp:Literal ID="literalProjectAddress" runat="server"></asp:Literal></span><br /><br>					        
						    </div>
    <div class="image1">
    <asp:Image CssClass="image1image" ID="projectImage1" runat="server" />
    </div>
    <div class="image2">
    <asp:Image CssClass="image2image" ID="Image1" runat="server" />
    </div>
    <div class="plus">
    <asp:HyperLink cssclass="image1link" runat="server" ID="hyperlinkImage1"><img src="images/plus2.jpg" alt="Enlarge image" title="Enlarge image" /></asp:HyperLink>
    
    </div>
    
   <div id="Div1" class="projectGallery" runat="server">
						                            <div style="width:623px;height:305px;"></div>
						                           <div style="float:left;background-color:#0076C0; width:41px;">
						                           <a class="prev browse left"></a>
</div>
                                                <!-- root element for scrollable -->
                                                  <div class="scrollable">   
                                                   
                                                   <!-- root element for the items -->
                                                   <div class="items">
						                           <!--<asp:hyperlink runat="server" ID="hyperlinkImage1Thumb"><asp:Image ID="projectImage1Thumb" CssClass="projectImageThumb" runat="server" /></asp:hyperlink>-->
						                           <asp:Repeater ID="RepeaterGalleryThumbs" runat="server">
						                           <ItemTemplate>
						                            <a href="javascript:switchImage('<%=(Session("WSRetreiveAsset") & "qfactor=25&width=623&height=305&crop=2&size=1&type=asset&cropcolor=black&public=1&id=").ToString.Replace("(","%28").Replace(")","%29") %><%#Container.DataItem("asset_id") %>',<%#Container.DataItem("asset_id") %>,'asset','<%#Container.DataItem("name").replace("'","") %>');"><img class="projectImageThumb" src="<%=Session("WSRetreiveAsset") & "qfactor=25&width=84&height=84&crop=1&size=1&type=asset&id="%><%#Container.DataItem("asset_id") %>" alt="<%#Container.DataItem("name") %>" /></a>
						                           </ItemTemplate>
						                           </asp:Repeater>
						                           </div>
						                           </div>
						                             <!-- "next page" action -->
						                             <div style="float:left;background-color:#0076C0; width:41px;">
                                                    <a class="next browse right"></a>
                                                    </div>
                                                    </div>
						                           
<div class="body_content">
<div class="body_content_top">
	<strong><span class="auto-style2">PROJECT DETAILS</span></strong> <br />
<div style="padding-bottom:8px;"></div>
	<asp:Literal ID="literaltotalsqft" runat="server"></asp:Literal>
	<asp:Literal ID="literalward" runat="server"></asp:Literal>
	<asp:Literal ID="literalmajoruse" runat="server"></asp:Literal>
	<asp:Literal ID="literalstatus" runat="server"></asp:Literal>
	<asp:Literal ID="literalleed" runat="server"></asp:Literal>
	<asp:Literal ID="literalestimatedcost" runat="server"></asp:Literal>

</div>



<div class="body_content_right">
	<strong><span class="auto-style2">RESOURCES</span></strong> <br />
	<br />
	<a href="GetPDF.aspx?id=<%=request.querystring("id") %>">Project Sheet</a>
	<asp:Literal ID="literalURL" runat="server"></asp:Literal>

</div>



<div style="width:100%;height:20px;float:left;"></div>
<div class="heading_text">
DESCRIPTION
</div>
<div style="width:623px;">
<asp:Literal ID="literaldescription" runat="server"></asp:Literal></div>

<div style="width:623px;">

<div class="heading_text">
Development Team
</div>

<asp:Literal ID="ltrlprojectdeveloper" runat="server"></asp:Literal>
<asp:Literal ID="ltrlprojectarchitects" runat="server"></asp:Literal>
<asp:Literal ID="ltrlprojectcontractors" runat="server"></asp:Literal>
                
               
             
            </span>


<asp:Literal ID="literalProjectDetail" runat="server"></asp:Literal></div>
<br /><br />
<div class="section_content">
data last updated: <b><asp:Literal ID="literalStatusDate" runat="server"></asp:Literal></b></div>

</div>
				
	
</form>

 <asp:Literal id="htmlbottom" runat=server></asp:Literal>
 
 <script type="text/javascript">
     var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
     document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-2739433-5");
        pageTracker._trackPageview();
    } catch (err) { }</script>
</body>
</html>
