body{	font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;line-height: 19px;}
.SnapHeader
{
  color: #ffffff; 
  background-color: #6699CC; 
  font-family: Tahoma; 
  font-weight: bold; 
  font-size: 12px; 
  padding-top: 2px;
  padding-left: 5px; 
}

.SnapContent
{
  font-family: verdana;
  font-size: 11px;
  padding: 0px;
  
  cursor: default;
}

.Dock
{
  padding:5px;
  border:#AFAFAF 1px solid; 
  background-color:#D1D1D1;
}

.Links
{
  list-style-image:none;
  color:Black;
  font-size:11px;
}
