﻿/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/
.coin-slider {
	overflow: hidden;
	position: relative;
}
.coin-slider a {
	text-decoration: none;
	outline: none;
	border: none;
}
.cs-buttons {
	font-size: 0px;
	padding: 10px;
	position: relative;
	top: -4px;
}
.cs-buttons a {
	margin-left: 5px;
	height: 5px;
	width: 5px;
	float: left;
	border: 1px solid #00224b;
	color: blue;
	text-indent: -1000px;
}
.cs-active {
	background-color: #B8C4CF;
	color: #FFFFFF;
}
.cs-title {
	font-size: 14pt;
	width: 935px; /*padding: 10px;
	padding-right: 20px;*/
	color: white;
	background-color: transparent;
}
.cs-prev, .cs-next {
	background-color:  transparent ;
	color: #FF9900;
	padding: 0px 10px;
}
.slider_title_cs {
	font-size: 12pt;
	background-color: #a4b1c2;
	color: #00224b;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 8px;
	text-align:right; 
	padding-right:15px;
}
.slider_message_cs {
	color: white;
	padding: 10px;
	width: 100%;
	position: relative;
	margin-bottom: 332px;
	left: 0px;
	font-size: 42pt;
	line-height:55px;
	text-align:left;

}
.slider_messageds_cs {

	color: black;
	padding: 10px;
	width: 100%;
	left: 1px;
	font-size: 42pt;
		line-height:55px;
		text-align:left;
	position:absolute;
	top:1px;
}
.slider_messageol_cs {

	color: black;
	padding: 10px;
	width: 100%;
	left:0px;
	font-size: 42pt;
		line-height:55px;
		text-align:left;
	position:absolute;
	top:0px;
}

.slider_description_cs {
	font-size: 14pt;
	color: #7696af;
	background-color: #00224b;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 10px;
	
}
