﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="emailpage.aspx.vb" Inherits="IdamAdmin.emailpage" %>

<html>
<body style="text-align:center;padding:40px; color:Gray;">
<asp:Literal ID=ltrlmessages runat=server></asp:Literal>

<br /><br /><br />

<a href="javascript: history.go(-1)">Back</a>
</body>
</html>