/*
* Victoria (HTML) V1.0
* Copyright 2014, Limitless LLC
* www.limitless.company
*/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* Table of Content
==================================================
	#.header
	#Home
	#About
	#Team
	#Quotes
	#Services
	#Projects
	#Blog
	#Article
	#Contact
	#Footer
	#Not Found */



	.header, .home .content, .about .story, .team .member, .quotes .slider, .services .service, .projects .project, .contact .form, .contact .info {
		opacity: 0;
	}


/* #.header
================================================== */
	
	.header {
		background-color: rgba(17, 17, 17, 1);
		height: 80px;
		position: fixed;
		text-align: center;
		top: 0px;
		width: 100%;
		z-index: 1000;
	}

	.header .logo {
		background-color: transparent;
		background-image: url(../img/misc/header-logo.png);
		background-position: left center;
		background-repeat: no-repeat;
		background-size: auto;
		cursor: pointer;
		height: 80px;
		opacity: 0.5;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}

	.header .logo:hover {
		opacity: 1;
	}

	.header .menu {
		background-color: transparent;
		background-image: url(../img/misc/mobile-navigation.png);
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 20px 16px;
		border: none;
		cursor: pointer;
		display: none;
		height: 16px;
		opacity: 0.5;
		width: 20px;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}

	.header .navigation {
		display: block;
		margin-top: 29px;
		text-align: right;
	}

	.header .navigation li {
		color: #888888;
		cursor: pointer;
		display: inline-block;
		font-family: "Montserrat";
		font-size: 15px;
		font-weight: 400;
		margin-bottom: 0px;
		margin-right: 35px;
		text-transform: uppercase;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}

	.header .navigation li:last-child {
		margin-left: 0px;
		margin-right: 0px;
	}

	.header .navigation li:hover, .header .navigation li.active {
		color: #ffffff;
	}

	.header .navigation li ul {
		background-color: #000000;
		background-image: url(../img/misc/menu-item-active.png);
		background-position: center 5px;
		background-repeat: no-repeat;
		background-size: 5px 5px;
		display: none;
		margin: 0px 0px 0px -20px;
		padding: 27px 20px 5px;
		position: absolute;
		text-align: left;
		z-index: 9999;
	}

	.header .navigation li ul li {
		display: block;
		margin-bottom: 10px;
	}


/* #Home
================================================== */

	.home {

	}

	.home .image {
		background-image: url(../img/backgrounds/home.jpg);
		background-attachment: fixed;
		background-color: #111111;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.home .video {
		overflow: hidden;
	}

	.home video {
		background-color: #111111;
	}

	.home li {
		margin-bottom: 0px;
	}

	.home .slide {
		background-color: #111111;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}

	.home .overlay, .home .content {
		bottom: 0px;
		left: 0px;
		padding-top: 0px !important;
		position: absolute !important;
		right: 0px;
		top: 0px;
	}

	.home .overlay {
		background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0.5)));
		background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 100%);
		background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 100%);
		background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#80000000',GradientType=0 );
	}

	.home .title {
		color: #ffffff;
		font-size: 72px;
		font-weight: 700;
		letter-spacing: 1.5px;
		line-height: 80px;
		text-transform: uppercase;
	}

	.home .title:after {
		background-color: #ffffff;
		content: " ";
		display: inline-block;
		height: 1px;
		margin: 30px auto;
		width: 650px;
	}

	.home .subtitle {
		color: #ffffff;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 1.5px;
		text-transform: uppercase;
	}


	.home .devider {
		background-color: #ffffff;
		height: 4px;
		margin-bottom: 50px;
		width: 100px;
	}

	.home .scroll {
		background-image: url(../img/misc/home-start.png);
		background-position: center top;
		background-repeat: no-repeat;
		background-size: 14px 13px;
		bottom: 40px;
		color: #ffffff;
		cursor: pointer;
		font-size: 10px;
		left: 0px;
		margin: 0px auto;
		opacity: 0.5;
		padding-top: 20px;
		position: absolute;
		right: 0px;
		text-align: center;
		text-transform: uppercase;
		width: 100px;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}

	.home .scroll:hover {
		opacity: 1;
	}

	.home .flex-control-nav {
		right: 51px;
		width: 15px;
		z-index: 9999;
	}

	.home .flex-control-nav li {
		display: block;
		margin-bottom: 15px;
	}

	.home .flex-control-paging li a {
		background: rgba(255,255,255,0.5);
		height: 5px;
		width: 5px;
	}

	.home .flex-control-paging li a.flex-active {
		background: rgba(255,255,255,1);
	}

	.home .flex-control-nav li:last-child {
		margin-bottom: 0px;
	}

	.home .flex-direction-nav a {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 13px 7px;
		height: 7px;
		left: auto;
		margin: 0px;
		opacity: 0.5;
		text-indent: 9999px;
		top: 100px;
		right: 50px;
		width: 13px;
		z-index: 1000;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}

	.home .flex-direction-nav a:hover {
		opacity: 1;
	}

	.home .flex-prev {
		background-image: url(../img/misc/home-arrow-top.png);
	}

	.home .flex-next {
		background-image: url(../img/misc/home-arrow-bottom.png);
	}


/* #About
================================================== */

	.about {
		
	}

	.about .offset {

	}

	.about .story {

	}

	.about .story .title {
		margin-bottom: 40px;
	}

	.about .story .text {
		padding: 0px 100px;
	}

	.about .story button.browse {
		margin-top: 55px;
	}


/* #Team
================================================== */

	.team {

	}

	.team .offset {
		padding: 100px 0px 0px;
	}

	.team .member {
		margin-bottom: 80px;
	}

	.team .member img {
		border-radius: 5px;
		height: 260px;
		margin: 0px auto 20px;
		width: 260px;
	}

	.team .member .item-title {

	}

	.team .member .item-subtitle {
		margin-top: 5px;
	}

	.team .devider {

	}


/* #Quotes
================================================== */

	.quotes {
		background-attachment: scroll;
		background-color: #f2f4f4;
		background-image: url(../img/backgrounds/quotes.jpg);
		background-position: left top;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.quotes .offset {
		padding: 0px !important;
	}

	.quotes .content {
		background-color: #f2f4f4;
		margin-left: 30%;
		padding: 100px 0px;
		position: relative !important;
		width: 70%;
	}

	.quotes .slider {
		background-color: transparent;
		padding: 0px 100px;
	}

	.quotes .quote {
		margin-bottom: 0px !important;
		text-align: left;
	}

	.quotes .quote blockquote {
		color: #000000;
		font-size: 24px;
		letter-spacing: 0.15px;
		line-height: 44px;
		margin: 0px auto 75px !important;
	}

	.quotes .quote .subtitle {
		color: #777777;
		font-size: 13px;
		letter-spacing: 1.5px;
		text-transform: uppercase;
	}


/* #Services
================================================== */

	.services {

	}

	.services .offset {
		padding-bottom: 85px;
	}

	.services .service {
		margin-bottom: 0px;
	}

	.services .service:before {
		background-color: #dddddd;
		content: " ";
		display: block;
		float: left;
		height: 120px;
		margin-top: 20%;
		width: 1px;
	}

	.services .service:first-child:before {
		display: none;
	}

	.services .service .item-icon {
		border: 2px solid #dddddd;
		border-radius: 80px;
		color: #000000;
		font-size: 32px !important;
		height: 80px;
		margin: 0px auto 30px;
		padding-top: 21px;
		width: 80px;
	}

	.services .flex-direction-nav a {
		background-size: 14px 25px;
		background-repeat: no-repeat;
		color: rgba(0,0,0,0);
		opacity: 1;
	}

	.services .flex-prev {
		background-image: url(../img/misc/arrow-left.png);
	}

	.services .flex-next {
		background-image: url(../img/misc/arrow-right.png);
	}


/* #Projects
================================================== */

	.projects {

	}

	.projects .browse {
		line-height: 0px !important;
		padding-bottom: 0px !important;
	}

	.projects .grid {
		display: inline-block;
		width: 100%;
	}

	.projects .project {
		cursor: pointer;
		float: left;
		overflow: hidden;
		position: relative;
	}

	.projects .project .thumb {
		height: 100%;
		margin: 0px;
		position: absolute;
		width: 100%;
	}

	.projects .project .thumb img {
		height: 100%;
		width: 100%;
	}

	.projects .project .info {
		background-color: rgba(0,0,0,0.75);
		height: 100%;
		opacity: 0;
		position: absolute;
		width: 100%;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}

	.projects .project .info.active {
		opacity: 1;
	}

	.projects .project .content {

	}

	.projects .project .item-title {
		color: #ffffff;
		font-size: 18px;
		text-transform: uppercase;
	}

	.projects .project .item-subtitle {
		color: #ffffff;
		font-size: 16px;
		opacity: 0.5;
	}

	.projects .preview {
		background-color: #111111;
		display: none;
		margin-bottom: 55px;
		padding: 50px 0px;
	}

	.projects .preview .close {
		background-image: url(../img/misc/close.png);
		background-repeat: no-repeat;
		background-size: 20px 20px;
		background-position: center center;
		cursor: pointer;
		margin: 0px auto 50px;
		opacity: 0.5;
		height: 20px;
		width: 20px;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}

	.projects .preview .close:hover {
		opacity: 1;
	}

	.projects .preview .media {
		text-align: left;
	}

	.projects .preview .iframe {
		padding: 0px !important;
	}

	.projects .preview img, .projects .preview video, .projects .preview .iframe {
		height: 299px;
		width: 530px;
	}

	.projects .preview .info {
		padding-left: 40px;
		text-align: left;
	}

	.projects .preview .title {
		color: #ffffff;
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 0px;
		margin-top: 0px;
	}

	.projects .preview .text {
		border-bottom: 1px solid #919191;
		color: #919191;
		font-family: "Open Sans";
		font-size: 14px;
		font-style: italic;
		letter-spacing: 0.25px;
		padding: 35px 0px;
	}

	.projects .preview .more { 
		
	}

	.projects .preview .flex-control-nav {
		margin-top: -40px;
		position: relative;
		z-index: 1000;
	}

	.projects .start {
		background-color: #f2f4f4;
	}

	.projects .start button.contact {
		margin-top: 40px;
	}


/* #Blog
================================================== */

	.blog {

	}

	.blog .offset {
		padding: 180px 0px 100px;
	}

	.blog .posts {
		float: none;
		display: inline-block;
	}

	.blog .post {
		border-bottom: 1px solid #cccccc;
		margin-bottom: 80px;
		padding-bottom: 80px;
		text-align: center;
	}

	.blog .post:last-child {
		border-bottom: none;
		margin-bottom: 0px;
	}

	.blog .post .entry-thumbnail .slider {
		margin-bottom: -30px;
	}

	.blog .post .entry-thumbnail img {
		height: 300px;
		width: 640px;
	}

	.blog .post .entry-thumbnail li {

	}

	.blog .post .entry-title {
		margin-top: 25px;
	}

	.blog .post .entry-title a {
		font-family: "Montserrat";
		font-size: 24px;
		letter-spacing: 0.1px;
		line-height: 55px;
		text-decoration: none;
	}

	.blog .post .entry-meta {
		margin-top: 37px;
	}

	.blog .post .entry-meta span {
		color: #999999;
		font-family: "Montserrat";
		font-size: 12px;
		letter-spacing: 1.4px;
		text-transform: uppercase;
	}

	.blog .post .entry-meta span:after {
		content: "·";
		margin-left: 15px;
		margin-right: 10px;
	}

	.blog .post .entry-meta span:last-child:after {
		content: " ";
		margin-left: 0px;
		margin-right: 0px;
	}

	.blog .post .entry-content {
		margin-top: 0px;
	}

	.blog .post .entry-content p {
		line-height: 30px;
	}

	.blog .post .entry-content .more {
		border-color: #aaaaaa;
		color: #aaaaaa;
		margin-top: 15px;
	}

	.blog .post .entry-content .more:hover {
		background-color: #aaaaaa;
		color: #ffffff;
	}

	.blog .sidebar {
		padding-left: 60px;
		text-align: left;
	}

	.blog .widget {
		margin-bottom: 20px;
	}

	.blog .widget .title {
		font-size: 14px;
		margin-bottom: 0px;
	}

	.blog .widget .item {
		color: #999999;
		cursor: pointer;
		font-size: 14px;
		text-transform: uppercase;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}

	.blog .widget .item:hover {
		color: #000000;
	}

	.blog .widget .search {
		
	}

	.blog .widget .search input {
		background-image: url(../img/misc/search-icon.png);
		background-position: 0px 4px;
		background-repeat: no-repeat;
		background-size: 12px 12px;
		border-left: none;
		border-right: none;
		border-top: none;
		padding-left: 20px !important;
		padding-top: 0px !important;
	}

	.blog .flex-control-nav {
		bottom: 40px !important;
		position: relative !important;
	}


/* #Article
================================================== */

	.article {
		
	}

	.article .offset {
		padding-top: 135px !important;
	}

	.article .cover .info {
		position: absolute;
		bottom: 50px;
		left: 0px;
		right: 0px;
	}

	.article .post {
		border-bottom: none;
		margin-bottom: 20px;
		padding-bottom: 0px;
	}

	.article .post .entry-thumbnail {
		margin-top: -3px;
		padding-bottom: 79px;
	}

	.article .post .entry-thumbnail img, .article .post .entry-thumbnail video {
		height: 394px;
		width: 700px;
	}

	.article .entry-title {
		text-align: center;
	}

	.article .entry-title h3 {
		color: #ffffff;
		font-family: "Montserrat";
		font-size: 48px;
		letter-spacing: 0.1px;
		line-height: 55px;
		text-decoration: none;
	}

	.article .entry-meta {
		margin-bottom: 100px;
		margin-top: 20px;
		text-align: center;
	}

	.article .entry-meta span {
		color: #ffffff;
		font-family: "Montserrat";
		font-size: 14px;
		letter-spacing: 1.4px;
		opacity: 0.5;
		text-transform: uppercase;
	}

	.article .entry-meta span:after {
		content: "·";
		margin-left: 15px;
		margin-right: 10px;
	}

	.article .entry-meta span:last-child:after {
		content: " ";
		margin-left: 0px;
		margin-right: 0px;
	}

	.article .entry-content {
		margin-top: 0px;
		text-align: left;
	}

	.article .entry-content p {
		line-height: 30px;
	}

	.article .entry-content blockquote {
		background-image: url(../img/misc/blockquote.png);
		background-position: left top;
		background-repeat: no-repeat;
		background-size: 73px 55px;
		font-family: "Montserrat";
		line-height: 30px;
		margin: 80px 0px;
		padding: 10px 25px 0 22px
	}

	.article .entry-content .more {
		border-color: #aaaaaa;
		color: #aaaaaa;
		margin-top: 15px;
	}

	.article .entry-content .more:hover {
		background-color: #aaaaaa;
		color: #ffffff;
	}

	.article .navigate {
		background-attachment: fixed;
		background-color: #181818;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 360px;
	}

	.article .navigate .overlay {
		height: 360px;
	}

	.article .navigate .info {
		left: 0px;
		position: absolute !important;
		right: 0px;
	}

	.article .navigate .entry-meta {
		margin-bottom: 0px !important;
	}

	.article .navigate .entry-next {
		background-image: url(../img/misc/more-arrow-right.png);
		background-size: 5px 10px;
		background-repeat: no-repeat;
		background-position: right center;
		color: #ffffff;
		cursor: pointer;
		font-size: 14px;
		letter-spacing: 1.5px;
		border-bottom: 1px solid #ffffff;
		display: inline-block;
		margin-bottom: 50px;
		opacity: 0.5;
		padding-right: 15px;
		text-transform: uppercase;
	}

	.article .arrow {
		background-image: url(../img/misc/more-arrow-bottom.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 35px 15px;
		height: 15px;
		margin: 0px auto;
		width: 35px;
	}


/* #Contact
================================================== */

	.contact {

	}

	.contact .form {
		padding: 100px 0px;
	}

	.contact .form label {
		text-align: left;
	}

	.contact .form input[type="text"],
	.contact .form input[type="password"],
	.contact .form input[type="email"],
	.contact .form textarea {
		text-align: left;
		width: 100%;
	}

	.contact .form input[type="text"],
	.contact .form input[type="password"],
	.contact .form input[type="email"] {
		border-top: none;
		border-left: none;
		border-right: none;
		padding: 17px 10px;
	}

	.contact .form .submit {
		margin-top: 50px;
	}

	.contact .info {
		background-color: #f2f4f4;
		padding: 75px 0px;
		text-align: center;
	}

	.contact .info .info-item {
		margin-left: 20px;
		margin-right: 20px;
	}

	.contact .info .item-title {
		color: #444444;
		font-size: 14px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	.contact .info .item-subtitle {
		color: #999999;
		font-size: 14px;
		font-style: normal;
		letter-spacing: 0.25px;
	}

	.contact .input-error {
		border-color: #cf2b2b;
	}

	.contact .message-success, .contact .message-error {
		display: none;
	}

	.contact .message-success h6 {
		color: #2bcf46;
	}

	.contact .message-error h6 {
		color: #cf2b2b;
	}

	.contact .map {
		display: none;
		height: 400px !important;
		margin-top: 100px;
		padding: 0px !important;
	}


/* #Footer
================================================== */

	footer {
		background-color: #111111;
		text-align: center;
	}

	footer .offset {
		padding: 30px 0px 75px !important;
	}

	footer .map {
		background-color: #1d1f21;
		height: 400px;
	}

	footer .top {
		background-image: url(../img/misc/footer-top.png);
		background-position: center top;
		background-repeat: no-repeat;
		background-size: 14px 13px;
		color: #ffffff;
		cursor: pointer;
		font-size: 10px;
		margin: 0px auto;
		opacity: 0.5;
		padding-top: 20px;
		text-align: center;
		text-transform: uppercase;
		width: 100px;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}

	footer .top:hover {
		opacity: 1;
	}

	footer .copyright {
		color: #a6a6a6;
		margin-top: 6px;
		text-transform: uppercase;
	}

	footer .social {
		padding-top: 60px;
	}

	footer .social li {
		background-color: #414141;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 16px 16px;
		border: none;
		border-radius: 50px;
		cursor: pointer;
		display: inline-block;
		height: 50px;
		margin: 0px 5px;
		width: 50px;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}

	footer .social li:last-child {
		margin-right: 0px;
	}

	footer .social li:hover, footer .social li:active {
		background-color: #ffffff;
	}

	footer .social .facebook {
		background-image: url(../img/social/facebook.png);
	}

	footer .social .twitter {
		background-image: url(../img/social/twitter.png);
	}

	footer .social .youtube {
		background-image: url(../img/social/youtube.png);
	}

	footer .social .googleplus {
		background-image: url(../img/social/googleplus.png);
	}

	footer .social .instagram {
		background-image: url(../img/social/instagram.png);
	}


/* #404
================================================== */

	.error-page {

	}

	.error-page .image {
		background-image: url(../img/backgrounds/404.jpg);
		background-attachment: fixed;
		background-color: #111111;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.error-page .video {
		overflow: hidden;
	}

	.error-page video {
		background-color: #111111;
	}

	.error-page .overlay, .error-page .content {
		bottom: 0px;
		left: 0px;
		padding-top: 0px !important;
		position: absolute !important;
		right: 0px;
		top: 0px;
	}

	.error-page .overlay {
		background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0.5)));
		background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 100%);
		background: -o-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 100%);
		background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.5) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#80000000',GradientType=0 );
	}

	.error-page .title {
		color: #ffffff;
		font-size: 72px;
		font-weight: 700;
		letter-spacing: 1.5px;
		line-height: 80px;
		text-transform: uppercase;
	}

	.error-page .title:after {
		background-color: #ffffff;
		content: " ";
		display: inline-block;
		height: 1px;
		margin: 30px auto;
		width: 650px;
	}

	.error-page .subtitle {
		color: #ffffff;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 1.5px;
		text-transform: uppercase;
	}


	.error-page .devider {
		background-color: #ffffff;
		height: 4px;
		margin-bottom: 50px;
		width: 100px;
	}

	.error-page .back {
		background-image: url(../img/misc/more-arrow-right.png);
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 5px 10px;
		border-bottom: 1px solid #aaaaaa;
		bottom: 50px;
		color: #ffffff;
		cursor: pointer;
		font-size: 14px;
		left: 0px;
		margin: 0px auto;
		opacity: 0.5;
		padding-right: 10px;
		position: absolute;
		right: 0px;
		text-align: center;
		text-transform: uppercase;
		width: 92px;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}

	.error-page .scroll:hover {
		opacity: 1;
	}

	.error-page .flex-control-nav {
		right: 51px;
		width: 15px;
		z-index: 9999;
	}

	.error-page .flex-control-nav li {
		display: block;
		margin-bottom: 15px;
	}

	.error-page .flex-control-paging li a {
		background: rgba(255,255,255,0.5);
		height: 5px;
		width: 5px;
	}

	.error-page .flex-control-paging li a.flex-active {
		background: rgba(255,255,255,1);
	}

	.error-page .flex-control-nav li:last-child {
		margin-bottom: 0px;
	}

	.error-page .flex-direction-nav a {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 13px 7px;
		height: 7px;
		left: auto;
		margin: 0px;
		opacity: 0.5;
		text-indent: 9999px;
		top: 100px;
		right: 50px;
		width: 13px;
		z-index: 1000;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}

	.error-page .flex-direction-nav a:hover {
		opacity: 1;
	}

	.error-page .flex-prev {
		background-image: url(../img/misc/error-page-arrow-top.png);
	}

	.error-page .flex-next {
		background-image: url(../img/misc/error-page-arrow-bottom.png);
	}

