html {
	height: 100%;
}
body {
	background: url(../images/bg_tile.jpg) repeat-x #ead59b;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 12px;
	line-height: 18px;
	color: #6e3611;
	height: 100%;
	min-height: 100%	
}
div {
	font-family: arial;
	font-size: 12px;
	line-height: 18px;
	color: #6e3611;
}
td {
	font-family: arial;
	font-size: 12px;
	line-height: 18px;
	color: #6e3611;
}

a {
	color: #00529f;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #4d3e2b;
}
img {
	border: 0;
}
th {
	color: white;
	background: #c17021;
	text-align: center;
	font-weight: bold;
	line-height: 25px;
	font-size: 12px;

}
th a{
	
	font-weight: normal;
	color: white;
}
b.subheader {
	color: #6e3611;
}
i.quote {
	color: #6e3611;
}
#drop_shadow {
	width: 1028px;
	background: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	text-align: center;
	position: relative;

}
*html #container {
	height: 100%;
	min-height: 100%;
}

#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	position: relative;
}
#home_content {
	background: transparent;
}
#header {
	width: 1000px;
	height: 123px;
	background: url(../images/header.jpg) no-repeat;
	text-align: left;
}
#header a {
	color: white;
}

#header a:hover {
	color: #4d3e2b;
}

#menu {
	width: 1000px;
	height: 45px;
	padding: 0;
	background: url('../images/bg_nav.jpg') top right no-repeat;
}

.header_logo {
	width: 143px;
	position: relative;
	font-family: arial;
	color: white;
	font-weight: bold;
	font-size: 9px;
	text-align: right;
	right: 30px;
	padding: 0;
	margin: 0;
	
}

#search_projects {
	width: 239px;
	height: 22px;
	background: #fbefce;
	border: 0;
	font-family: arial;
	color: #333333;
	font-weight: bold;
	font-size: 10px;
	padding:5px;
}

#content {
	width: 1000px;
	padding: 0;
	margin: 0;
	text-align:left;
	background: #fbefce;
	
}


#content_text {
	padding: 24px;

}
#portfolio_text {
	padding: 10px;

}
#content_footer, #home_footer {
	font-size: 10px;
	color: #6e3611;
	position: relative;
	

}
#home_footer {
	line-height: normal;
}
#content_footer {
	padding: 20px;
}

.left_col {
	width: 625px;
	vertical-align: top;
	height: 100%;
	min-height: 100%;
	background: #fbefce;
}

.right_col {
	width: 375px;
	background: #ffffff;
	vertical-align: top;
	height: 100%;
	min-height: 100%;
	
}

.right_col_project {
	width: 375px;
	background: #ffffff;
	vertical-align: top;
	height: 100%;
	min-height: 100%;
	
}
.left_col_project {
	width: 625px;
	background: #fbefce;
	vertical-align: top;
	height: 100%;
	min-height: 100%;
}

.right_col_overview {
	width: 375px;
	background: #ffffff;
	vertical-align: top;
	height: 100%;
	min-height: 100%;
	
}
.left_col_overview {
	width: 625px;
	vertical-align: top;
	height: 100%;
	min-height: 100%;
	background: #fbefce;
	
}
#main_table {
	height: 100%;
	min-height: 100%;
}

#portfolio_side_bg {
	position: relative;
	background: url(../images/portfolio_side.jpg) no-repeat;
	width: 354px;
	height: 425px;
	vertical-align: top;
	
}
#portfolio_side_image {
	margin-left: 57px;
	margin-top: 42px;
	
	
}
#portfolio_side_text {
	position: relative;
	margin-left:65px;
	width:80%;
}

#project_image_navigation {
	padding: 0;
	margin: 0;
	width: 625px;
	height: 27px;
}
#project_image_navigation_arrows_bg {
	border-right: 0;
	width: 448px;
	height: 27px;
	background: url(../images/proj_nav_bg.jpg);
}
#project_image_navigation_arrows {
	position: relative;
	left: auto;
	text-align: right;
	margin-right: 30px;
	height: 19px;
}

#project_image_text {
	color: #edeadf;
	font-weight: bold;
	line-height: 19px;
	font-size: 13px;
	margin-left: 20px;
	margin-right: 20px;
}

#project_image_mask {
	position: absolute;
	z-index: 10;
	left: 50%;
	margin-left: -500px;
	top: 168px;
	background:url(../images/project_image_mask.png);
	width:625px;
	height:491px;
	
}
#home_bottom {
	margin-top:45px;
}
.project_image_navigation {
	float: left;
	border: 1px solid white;
	border-left: 0;
	border-bottom: 0;
}


.menu_item_search {
	margin: 0;
	border: 0;
	width: 239px;
	height: 22px;
	float: left;
	text-align: center;
	left:50px;
	position:relative;
}

.portfolio_bg {
	padding:0;
	margin:0;
	width:157px;
	height: 128px;
	text-align: left;
}
.portfolio_bg_home {
	background: url(../images/bg_home_photo.jpg) no-repeat;
}
.portfolio_photo {
	margin-left: 10px;
	margin-top: 10px;
	text-align: left;
}

.profile_quote {
	line-height: 18px;
	color: #6e3611;
	font-size: 10px;
}

    /* Begin sfHover (Menu) Styles */

    #nav{ /* all lists */
      padding: 0;
      margin: 0;
      text-align: left;

    }

    #nav a {
      display: block;
      border-top: 1px solid white;
    }

    #nav div { /* all list items */
      float: left;
      /* width needed or else Opera goes nuts */
    }

    #nav table { /* second-level lists */
      position: absolute;
      z-index: 100;
      left: -999em;

      /* using left instead of display to hide menus because display: none isn't read by screen readers */
    }

    #nav td a { /* second-level lists items */
	border: 0;
	color: #6e3611;
	line-height: 20px;
	font-weight: bold;
	font-size: 12px;
	
    }
    #nav td a:hover { /* second-level lists items */
	
	color: #93aec7;
    }  
    #nav td.navigation { /* second-level lists items */
	background: url(../images/menu/menu_bg.png);
	padding: 8px;
	padding-right: 0;
	border: 1px solid white;
	border-top: 0;
	border-right: 0;
	width: 190px;
	
    }
    #nav td.navigation_right { 
	background: url(../images/menu/menu_bg.png);
	border: 1px solid white;
	border-left: 0;
	border-top: 0;
    	
	
    }    
    #nav td.navigation_bottom_left { 
	background: url(../images/menu/nav_bg_bottom_left.png);
    }
    #nav td.navigation_bottom_right { 
	background: url(../images/menu/nav_bg_bottom_right.png);
    }    
    #nav td.navigation_bottom { 
	background: url(../images/menu/nav_bg_bottom.png);
    }
    #nav td.navigation_left { 
	background: url(../images/menu/nav_bg_left.png);
    }    
    

    #nav div:hover table, #nav div.sfHover table { /* lists nested under hovered list items */
      left: auto;
      margin-left: -10px;
    }
   /* End sfHover (Menu) Styles */



#birdanimEmbed
{
  position: relative;
  z-index: 20;
  left: -138px;
  top: -19px;
  margin: 0;
	padding: 0;
	/*	vertical-align: top; */
	text-align: center;	
	line-height: 20px;	
	border-style: none;
	white-space: nowrap;
}

