body { 
      margin:10px; 
      padding:0; 
      font-family:Arial, Verdana, Helvetica, sans-serif; 
      font-size:10pt; 
      color:#514F4B; 
      line-height:14pt;  }
.header { 
         font-family:Arial, Verdana, Helvetica, sans-serif; 
         font-size:15pt; 
         color:#3D3E43; 
         line-height:17pt;  }
.header2 { 
          font-family:Arial, Verdana, Helvetica, sans-serif; 
          font-size:11pt; 
          font-weight:bold; 
          color:#3D3E43;  }
.important { 
            font-family:Arial, Verdana, Helvetica, sans-serif; 
            font-size:11pt; 
            color:#514F4B; 
            line-height:14pt;  }
a.jumptext:link { 
                 font-size:10pt; 
                 color:#346A9A; 
                 font-family:Arial, Verdana, Helvetica, sans-serif; 
                 text-decoration:none;  }
a.jumptext:visited { 
                    font-size:10pt; 
                    color:#346A9A; 
                    font-family:Arial, Verdana, Helvetica, sans-serif; 
                    text-decoration:none;  }
a.jumptext:hover { 
                  font-size:10pt; 
                  color:#4090D0; 
                  font-family:Arial, Verdana, Helvetica, sans-serif; 
                  text-decoration:none;  }
ul { 
    color:#514F4B;  }
ol { 
    color:#514F4B;  }
