#filter
{
	display: none;
	position:fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background:url(../images/popup_bg.png) right;
	z-index:10;
}
#box 
{
	display: none;
	position: fixed;
	top:10%;
	left:32%;
	width:618px;
	padding:6px;
	margin:0;
	z-index:101;
	margin-bottom:100px;
	overflow: none;
}

/*---------------------------------------------------------------- poppu 1 -------------------------------------------------------------*/
.login_po_box{ width:618px; height:403px; border:solid 7px #fff; background:#000 url(../images/pop1_bg.png); overflow:hidden; font-family:Arial;}
.title_pop1{ height:39px; background:#d7e1eb; border-bottom:solid 1px #849dbc;}
.title_pop1 ul{ margin:0px; padding:0px; text-transform:uppercase;}
.title_pop1 ul li{ margin:12px 0px 0px 0px; padding:0px; font-size:12px; font-weight:bold; float:left; display:inline;}
.title_pop1 ul li a{ color:#000;}
.flage_icon1_po1{ padding-left:12px !important; width:44px;}
.new-york_po1{ width:162px;}
.adverttsing_po1{ width:262px;}
.box1_bottom_po1{}
.box1_left_po1{ float:left; width:198px;}
.peter_box1_po1{ background:url(../images/box1_bg_pop1.png) repeat; margin:14px 0px 0px 7px; width:186px; height:80px;}
.peter_box1_po1 ul{ margin:0px; padding:0px;}
.peter_box1_po1 ul li{ margin:0px; padding:0px 0px 0px 0px; float:left; display:inline;}
.peter_box1_po1 ul li img{ padding:5px 0px 0px 6px;}
.peter_box1_po1 ul li h2{ padding:5px 0px 0px 13px; line-height:18px; color:#fff; font-size:12px; font-weight:bold;}
.peter_box1_po1 ul li h3{ font-size:11px; color:#fff; padding:0px 0px 3px 13px;}
.peter_box1_po1 ul li h3 a{ color:#fff;}
.peter_box2_po1{ background:url(../images/box1_bg_pop1.png) repeat; margin:5px 0px 0px 7px; width:186px; overflow:hidden;}
.peter_box2_po1 h1{ font-size:12px; font-weight:bold; color:#fff; padding:5px 6px 0px 6px;}
.peter_box2_po1 p{ font-size:12px; color:#fff; padding:18px 6px 0px 6px; line-height:15px;}
.peter_box2_po1 ul{ margin:0px; padding:8px 0px 0px 5px;}
.peter_box2_po1 ul li{ margin:0px; padding:0px 7px 10px 0px; float:left; display:inline;}
.box1_right_po1{ float:left; width:412px; margin:14px 8px 0px 0px; background:url(../images/box1_right_pop1.png) repeat; overflow:hidden;}
.box1_right_po1 h1{ font-size:12px; text-align:center; padding:6px 0px 0px 0px; font-weight:bold; text-transform:uppercase;}
.box1_right_po1 p{ padding:3px 0px 8px 6px; font-size:12px; line-height:16px;}
.box1_nav_po1{ clear:both; margin:0px; padding:0px;}
.box1_nav_po1 ul{ margin:0px 0px 0px 1px; padding:0px;}
.box1_nav_po1 ul li{ margin:6px 0px 0px 6px; padding:0px; float:left; display:inline;}
.info_box_po1{ background:url(../images/box1_bg_pop1.png) repeat; width:132px; height:67px;}
.info_box_po1 h2{ float:left; padding:12px 9px 0px 9px;}
.info_box_po1 h3{ float:left; font-size:12px; padding:3px 0px 0px 0px; color:#fff;}
.info_box_po1 h3 a{ color:#fff;}
.contact_box_po1{ background:url(../images/box1_bg_pop1.png) repeat; width:130px; height:67px;}
.contact_box_po1 h2{ float:left; padding:12px 3px 0px 10px;}
.contact_box_po1 h3{ float:left; font-size:12px; padding:3px 0px 0px 0px; color:#fff;}
.contact_box_po1 h3 a{ color:#fff;}
.take_action_box_po1{ background:url(../images/box1_bg_pop1.png) repeat; width:131px; height:67px;}
.take_action_box_po1 h2{ float:left; padding:12px 7px 0px 7px;}
.take_action_box_po1 h3{ float:left; font-size:12px; padding:3px 0px 0px 0px; color:#fff;}
.take_action_box_po1 h3 a{ color:#fff;}
.community_box_po1{ background:url(../images/box1_bg_pop1.png) repeat; width:190px; height:67px;}
.community_box_po1 h2{ float:left; padding:12px 10px 0px 10px;}
.community_box_po1 h3{ float:left; font-size:12px; padding:3px 0px 0px 0px; color:#fff;}
.community_box_po1 h3 a{ color:#fff;}
.close_icon1{ position:absolute; margin:88px 0px 0px 603px;}
*html,.close_icon1{ margin:94px 0px 0px 603px; *margin:90px 0px 0px -5px;}
.facebook_po1{ width:32px; height:32px;}
.facebook_po1 a{ width:32px; height:32px; display:block; background:url(../images/facebook_icon_bw.png) no-repeat;}
.facebook_po1 a:hover{ background:url(../images/facebook_icon_bw_rollover.png) no-repeat;}
.twitter_po1{}
.twitter_po1 a{ width:32px; height:32px; display:block; background:url(../images/twitter_icon_bw.png) no-repeat;}
.twitter_po1 a:hover{ background:url(../images/twitter_icon_bw_rollover.png) no-repeat;}
.youtube_po1{}
.youtube_po1 a{ width:32px; height:32px; display:block; background:url(../images/youtube_icon_bw.png) no-repeat;}
.youtube_po1 a:hover{ background:url(../images/youtube_icon_bw_rollover.png) no-repeat;}
.youtube_po1{}
.linkedin_po1 a{ width:32px; height:32px; display:block; background:url(../images/linkedin_icon_bw.png) no-repeat;}
.linkedin_po1 a:hover{ background:url(../images/linkedin_icon_bw_rollover.png) no-repeat;}


/*---------------------------------------------------------------- poppu 2 -------------------------------------------------------------*/
#filter1
{
	display: none;
	position:fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background:url(../images/popup_bg.png) right;
	z-index:10;
}
#box1 
{
	display: none;
	position: fixed;
	top:10%;
	left:32%;
	width:618px;
	padding:6px;
	margin:0;
	z-index:101;
	margin-bottom:100px;
	overflow: none;
}
.popup_box2{ width:600px; height:343px; background:#000 url(../images/box2_popup.png) no-repeat center;}
.community_box_po1 h4{ padding:2px 0px 5px 14px; font-size:12px; font-weight:bold; color:#fff;}
.community_box_po1 h5{ font-size:12px; color:#fff; padding-left:14px;}
.community_box_po1 h6{ font-size:12px; color:#fff; padding:5px 0px 0px 14px;}
.community_box_po1 h6 input{ width:142px; height:14px; border:solid 1px #a6a49e; font-size:12px; line-height:14px; background:#fff; margin:0px 3px 0px 0px; padding:0px;}
.community_box_po1 h6 a{ color:#fff;}

/*---------------------------------------------------------------- poppu 3 -------------------------------------------------------------*/
#filter2
{
	display: none;
	position:fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background:url(../images/popup_bg.png) right;
	z-index:10;
}
#box2 
{
	display: none;
	position: fixed;
	top:10%;
	left:32%;
	width:618px;
	padding:6px;
	margin:0;
	z-index:101;
	margin-bottom:100px;
	overflow: none;
}
.pop_box3{ width:864px; height:550px; border:solid 2px #a0a0a0; background:#fff;}
.title_box1_po3{ color:#1a171b; padding:18px 0px 0px 20px;}
.title_box1_po3 h1{ font-size:30px; font-family:Georgia;}
.title_box1_po3 h2{ font-size:18px; font-family:Georgia; padding:24px 0px 0px 0px;}
.share_box{ margin:36px 0px 0px 103px;}
.share_box_left{ float:left; width:284px; margin:0px 85px 0px 0px; background:url(../images/you_get_bg.png) no-repeat; overflow:hidden;}
.share_box_left h1{ font-size:14px; font-weight:bold; padding:17px 0px 0px 24px;}
.share_box_left h2{ padding:44px 0px 0px 130px; width:129px; height:46px; font-family:"Eras Light ITC"; font-size:47px; font-style:italic;}
.share_box_left h2 a{ color:#222222;}
.share_box_left ul{ margin:79px 0px 0px 0px; padding:0px;}
.share_box_left ul li{ margin:0px; padding:0px; float:left; display:inline;}
.invite_text_po3{ border-bottom:solid 3px #191919; width:210px; font-size:12px; font-weight:bold; padding:20px 0px 16px 2px !important; margin-right:4px !important;}
.your_friend{ background:url(../images/your_friend_get.png) no-repeat;}
.invite_fiends{ float:right; margin:60px 112px 0px 0px; *margin-top:-25px;}
.invite_fiends h2{ font-size:12px; font-weight:bold; float:left;}
.invite_fiends h2 a{ color:#fff; display:block; width:156px; padding:0px 0px 0px 16px; height:30px; line-height:30px; background:url(../images/invite-friends_bt.png) no-repeat;}
.invite_fiends h2 a:hover{ background:url(../images/invite-friends_bt_rollover.png) no-repeat;}
.close_po3{ position:absolute; margin:6px 0px 0px 845px;}

/*---------------------------------------------------------------- poppu 4 -------------------------------------------------------------*/
#filter3
{
	display: none;
	position:fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background:url(../images/popup_bg.png) right;
	z-index:10;
}
#box3 
{
	display: none;
	position: fixed;
	top:10%;
	left:32%;
	width:618px;
	padding:6px;
	margin:0;
	z-index:101;
	margin-bottom:100px;
	overflow: none;
}
.pop_box4{ width:556px; height:342px; background:url(../images/map1.png) no-repeat; border:solid 1px #a1a1a1;}
.box4_po4{ padding-left:20px;}
.box4_po4 h1{ font-size:30px; font-family:Georgia; padding:12px 0px 0px 0px;}
.box4_po4 ul{ margin:55px 0px 0px 0px; padding:0px;}
.box4_po4 ul li{ margin:0px 0px 0px 0px; padding:0px; list-style-type:none; clear:both;}
.box4_po4 ul li h2{ float:left; font-size:12px; color:#191919; width:110px; padding-top:3px;}
.box4_po4 ul li h3{ float:left;}
.box4_po4 ul li h3 select{ margin:0px 0px 18px 0px; padding:0px; width:124px; height:24px;}
.box4_po4 ul li h3 input{ margin:0px; padding:0px; width:122px; height:22px; border:solid 1px #76819b;}
.box4_po4 ul li h4{ padding:1px 0px 0px 17px; float:left;}
.box4_po4 ul li h4 a{ display:block; width:32px; height:21px; background:url(../images/go_bt.png) no-repeat;}
.box4_po4 ul li h4 a:hover{ background:url(../images/go_bt_rollover.png) no-repeat;}
.close_pop5{ position:absolute; padding:8px 0px 0px 535px;}

/*---------------------------------------------------------------- poppu 5 -------------------------------------------------------------*/
#filter4
{
	display: none;
	position:fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background:url(../images/popup_bg.png) right;
	z-index:10;
}
#box4 
{
	display: none;
	position: fixed;
	top:10%;
	left:32%;
	width:618px;
	padding:6px;
	margin:0;
	z-index:101;
	margin-bottom:100px;
	overflow: none;
}

.pop_box5{ width:864px; height:518px; background:#fff; border:solid 1px #a0a0a0;}
.close_po5{ position:absolute; margin:10px 0px 0px 842px;}
.pop_box5 h1{ font-size:30px; color:#1a171b; font-family:Georgia; padding:9px 0px 0px 24px;}
.box5_po5{}
.box5_po5 ul{ margin:0px 0px 0px 21px; padding:0px;}
.box5_po5 ul li{ margin:0px 19px 0px 0px; padding:0px; float:left; display:inline; width:261px;}
.box5_po5 ul li h3{ font-size:13px; text-align:center; line-height:18px; padding-top:4px;}
.how_it_works_po5{ font-size:12px; font-weight:bold; margin-top:18px;}
.how_it_works_po5 a{ display:block; background:url(../images/img3.png) no-repeat; width:261px; text-align:center; color:#fff; padding:75px 0px 5px 0px;}
.how_it_works_po5 a:hover{ background:url(../images/img3_hover.png) no-repeat;}
.faq_po5{ font-size:12px; font-weight:bold; margin-top:18px;}
.faq_po5 a{ display:block; background:url(../images/img4.png) no-repeat; width:261px; text-align:center; color:#fff; padding:75px 0px 5px 0px;}
.faq_po5 a:hover{ background:url(../images/img4_hover.png) no-repeat;}
.contact_form_po5{ font-size:12px; font-weight:bold; margin-top:18px;}
.contact_form_po5 a{ display:block; background:url(../images/img5.png) no-repeat; width:261px; text-align:center; color:#fff; padding:75px 0px 5px 0px;}
.contact_form_po5 a:hover{ background:url(../images/img5_hover.png) no-repeat;}
.support_center_po5{ font-size:12px; font-weight:bold; margin-top:18px;}
.support_center_po5 a{ display:block; background:url(../images/img6.png) no-repeat; width:261px; text-align:center; color:#fff; padding:75px 0px 5px 0px;}
.support_center_po5 a:hover{ background:url(../images/img6_hover.png) no-repeat;}
.forums_po5{ font-size:12px; font-weight:bold; margin-top:18px;}
.forums_po5 a{ display:block; background:url(../images/img7.png) no-repeat; width:261px; text-align:center; color:#fff; padding:75px 0px 5px 0px;}
.forums_po5 a:hover{ background:url(../images/img7_hover.png) no-repeat;}
.chat_online_po5{ font-size:12px; font-weight:bold; margin-top:18px;}
.chat_online_po5 a{ display:block; background:url(../images/img8.png) no-repeat; width:261px; text-align:center; color:#fff; padding:75px 0px 5px 0px;}
.chat_online_po5 a:hover{ background:url(../images/img8_hover.png) no-repeat;}
.offices_map_po5{ font-size:12px; font-weight:bold; margin-top:18px;}
.offices_map_po5 a{ display:block; background:url(../images/img9.png) no-repeat; width:261px; text-align:center; color:#fff; padding:75px 0px 5px 0px;}
.offices_map_po5 a:hover{ background:url(../images/img9_hover.png) no-repeat;}
.report_abuse_po5{ font-size:12px; font-weight:bold; margin-top:18px;}
.report_abuse_po5 a{ display:block; background:url(../images/img10.png) no-repeat; width:261px; text-align:center; color:#fff; padding:75px 0px 5px 0px;}
.report_abuse_po5 a:hover{ background:url(../images/img10_hover.png) no-repeat;}
.feedback_po5{ font-size:12px; font-weight:bold; margin-top:18px;}
.feedback_po5 a{ display:block; background:url(../images/img11.png) no-repeat; width:261px; text-align:center; color:#fff; padding:75px 0px 5px 0px;}
.feedback_po5 a:hover{ background:url(../images/img11_hover.png) no-repeat;}

/*---------------------------------------------------------------- poppu 6 -------------------------------------------------------------*/
#filter5
{
	display: none;
	position:fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background:url(../images/popup_bg.png) right;
	z-index:10;
}
#box5 
{
	display: none;
	position: fixed;
	top:10%;
	left:32%;
	width:618px;
	padding:6px;
	margin:0;
	z-index:101;
	margin-bottom:100px;
	overflow: none;
}
.pop_box6{ width:867px; height:518px; background:#fff; border:solid 1px #a0a0a0;}
.box6_po6{}
.box6_po6_left{ float:left; width:574px; padding:16px 0px 0px 21px;}
.box6_po6_left h1{ font-size:30px; font-family:Georgia; color:#1a171b;}
.title_form_po6{ margin:28px 0px 0px 0px; width:578; overflow:hidden;}
.title_form_po6 h2{ float:left; font-size:12px; width:55px;}
.title_form_po6 h3{ float:left; font-size:12px; width:58px; margin:-3px 0px 0px 0px; font-weight:bold;}
.box6_po6_left ul{ margin:15px 0px 0px 0px; padding:0px;}
.name_po6{ padding-top:0px !important; *padding-top:0px !important;}
.box6_po6_left ul li{ margin:0px 0px 0px 0px; padding:15px 0px 0px 0px; *padding-top:7px; clear:both; list-style-type:none;}
.box6_po6_left ul li h2{ float:left; font-size:12px; padding-top:5px; width:92px;}
.box6_po6_left ul li h3{ float:left;}
.box6_po6_left ul li h3 input{ width:242px; height:22px; border:solid 1px #9fa4a7; font-size:12px;}
.box6_po6_left ul li h3 select{ width:244px; height:24px; border:solid 1px #9fa4a7;}
.box6_po6_left ul li h3 textarea{ border:solid 1px #9fa4a7; padding:5px; width:450px; height:90px;}
.box6_po6_left ul li h4{ float:left;}
.box6_po6_left ul li h4 input{ width:50px; margin-right:4px; height:22px; border:solid 1px #9fa4a7; font-size:12px;}
.box6_po6_left ul li h5{ float:left;}
.box6_po6_left ul li h5 input{ width:50px; margin-right:4px; height:22px; border:solid 1px #9fa4a7; font-size:12px;}
.box6_po6_left ul li h6{ float:left;}
.box6_po6_left ul li h6 input{ width:130px; margin-right:4px; height:22px; border:solid 1px #9fa4a7; font-size:12px;}
.form_po6{}
.form_left_po6{ width:260px; float:left;}
.form_left_po6 h2{ font-size:12px; padding:12px 0px 0px 0px;}
.form_left_po6 h3{ padding-top:6px;}
.form_left_po6 h3 input{ width:226px; height:22px; border:solid 1px #dfe0e4;}
.form_right_po6{ width:230px; float:left;}
.send_button_po6{ margin:0px; clear:both; padding:13px 0px 0px 448px; *padding-top:6px; font-size:12px; font-weight:bold;}
.send_button_po6 a{ display:block; background:url(../images/send_bt.png) no-repeat; color:#fff; width:61px; height:31px; line-height:31px; padding:0px 0px 0px 50px;}
.send_button_po6 a:hover{ background:url(../images/send_bt_rollover.png) no-repeat;}
.box6_po6_right{ float:left; width:272px; height:516px; margin:1px 0px 1px 0px; background:#b8b8b8;}

/*---------------------------------------------------------------- poppu 7 -------------------------------------------------------------*/
#filter6
{
	display: none;
	position:fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background:url(../images/popup_bg.png) right;
	z-index:10;
}
#box6 
{
	display: none;
	position: fixed;
	top:10%;
	left:32%;
	width:618px;
	padding:6px;
	margin:0;
	z-index:101;
	margin-bottom:100px;
	overflow: none;
}

.box7_po7_left{ padding:0px 0px 0px 18px;}
.box7_po7_left h1{ font-size:30px; font-family:Georgia; color:#1a171b; padding-top:12px;}
.box7_po7_left ul{ margin:20px 0px 0px 0px; padding:0px;}
.box7_po7_left ul li{ margin:0px 0px 0px 0px; padding:10px 0px 0px 0px; *padding-top:5px; clear:both; list-style-type:none;}
.box7_po7_left ul li h2{ float:left; font-size:12px; padding-top:5px; width:110px;}
.box7_po7_left ul li h3{ float:left; font-size:12px;}
.box7_po7_left ul li h3 input{ width:242px; height:22px; border:solid 1px #9fa4a7;}
.box7_po7_left ul li h3 select{ width:460px; height:24px; border:solid 1px #9fa4a7;}
.box7_po7_left ul li h3 textarea{ border:solid 1px #9fa4a7; padding:5px; width:450px; height:90px;}
.box7_po7_left ul li h4{ float:left; font-size:12px; color:#ababab; padding:4px 0px 0px 8px;}
.mes_icon1{ position:absolute; margin:-12px 0px 0px 85px; *margin:0px 0px 0px 27px; display:block;}
.message_box_po7{ margin:7px 0px 0px 0px; float:left; width:648px; height:190px; border:solid 1px #a1a2a4;}
.message_box_po7_top{ background:#f0f0ee; height:26px; margin-right:2px;}
.icon_box1_po7{ float:left; background:url(../images/border6.png) no-repeat right top; padding-right:8px; margin-top:7px;}
.icon_box1_po7 h5{ float:left; padding:1px 5px 0px 9px;}
.site_icon{ float:left;}
.site_icon h5{ float:left; padding:9px 3px 0px 6px;}
.color_box{ float:left; padding-right:4px; padding-left:2px;}
.color_box h5{ float:left; padding:7px 3px 0px 3px;}
.select_box{ float:left;}
.select_box h5{ float:left; padding:2px 2px 0px 0px;}
.select_box h5 input{ width:84px; height:20px; font-size:12px;}
.bullet_icon{ float:left; padding:5px 0px 0px 0px;}
.bullet_icon h5{ float:left; padding:0px 4px 0px 4px;}
.text_box{}
.text_box textarea{ height:130px; width:638px; border:0px; padding:5px;}
.message_box_bottom{ margin:0px 2px 0px 1px; border-top:solid 1px #ccc; background:#f0f0ee; height:19px; padding:0px 22px 0px 0px; line-height:19px; font-size:11px; text-align:right;}
.message_box_bottom span{ color:#ce0404;}
.message_text1{ clear:both; padding:16px 0px 0px 110px; *padding-top:8px; font-size:12px;}
.message_text1 span{ color:#808080;}
.message_text1 h4{ float:left; vertical-align:middle; padding-right:6px;}
.message_text1 h4 a{ display:block; background:url(../images/attached-file_ic.png) no-repeat; width:16px; height:16px;}
.message_text1 h4 a:hover{ background:url(../images/attached-file_ic_rollover.png) no-repeat;}
.send_button_po7{ margin:8px 0px 0px 646px; font-weight:bold; font-size:12px;}
.send_button_po7 a{ color:#fff; display:block; width:61px; background:url(../images/send_bt.png) no-repeat; padding:0px 0px 0px 50px; height:31px; line-height:31px;}
.send_button_po7 a:hover{ background:url(../images/send_bt_rollover.png) no-repeat;}

/*---------------------------------------------------------------- poppu 8 -------------------------------------------------------------*/
#filter7
{
	display: none;
	position:fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background:url(../images/popup_bg.png) right;
	z-index:10;
}
#box7 
{
	display: none;
	position: fixed;
	top:10%;
	left:32%;
	width:618px;
	padding:6px;
	margin:0;
	z-index:101;
	margin-bottom:100px;
	overflow: none;
}
.pop_box8{ width:630px; height:416px; border:solid 1px #a0a0a0; background:#fff;}
.close_po8{ position:absolute; margin:7px 0px 0px 612px;}
.box8_top_po8{ padding:18px 0px 0px 14px;}
.box8_top_po8 h1{ font-size:30px; font-family:Georgia;}
.box8_top_po8 ul{ margin:20px 0px 0px 0px; width:602px; padding:0px; border-bottom:solid 1px #bfbfbf; overflow:hidden;}
.box8_top_po8 ul li{ margin:0px; padding:0px; list-style-type:none; clear:both;}
.box8_top_po8 ul li h2{ float:left; text-align:right; font-size:12px; width:120px; color:#1a181d; padding-bottom:20px;}
.box8_top_po8 ul li h3{ float:left; padding-left:14px; font-size:12px; padding-bottom:22px; color:#1a181d;}
.box8_top_po8 ul li h3 a{ font-weight:bold; color:#d40c29; float:left;}
.box8_top_po8 ul li h4{ float:left; padding-left:14px;}
.box8_top_po8 ul li input{ height:20px; line-height:20px; border:solid 1px #9fa4a7; margin:0px; padding:0px 4px 0px 4px;}
.input1_po8{ width:36px;}
.input2_po8{ width:70px;}
.quantity1{ padding-top:3px;}
.avaible1{ padding-top:3px; color:#a7a7a7 !important; padding-left:10px !important;}
.uss_po8{ padding-top:3px;}
.box8_top_po8 ul li h5{ float:left; padding:2px 0px 0px 13px;}
.box8_top_po8 ul li h6{ float:left; margin:0px 0px 0px 14px; font-size:12px; text-align:center;}
.box8_top_po8 ul li h6 a{ color:#fff; display:block; background:url(../images/confirn_button.png) no-repeat; width:69px; height:27px; line-height:25px;}
.box8_top_po8 ul li h6 a:hover{ background:url(../images/confirn_button_hover.png) no-repeat;}
.box8_bottom_po8{ border-bottom:0px !important;}

/*---------------------------------------------------------------- poppu 9 -------------------------------------------------------------*/
#filter8
{
	display: none;
	position:fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background:url(../images/popup_bg.png) right;
	z-index:10;
}
#box8 
{
	display: none;
	position: fixed;
	top:10%;
	left:32%;
	width:618px;
	padding:6px;
	margin:0;
	z-index:101;
	margin-bottom:100px;
	overflow: none;
}

.pop_box9{ width:864px; margin:0px 0px 0px 0px; height:448px; border:solid 1px #808080; background:#fff url(../images/designer-profile_bg.jpg) no-repeat;}
.close_po9{ position:absolute; margin:7px 0px 0px 845px;}
.box9_po9{ padding:15px 0px 0px 15px;}
.box9_po9 h1{ font-size:30px; font-family:Georgia; padding-left:6px;}
.box9_top_po9{}
.box9_top_left_po9{ float:left;}
.box9_top_left_po9 h2{ padding:28px 0px 0px 6px;}
.box9_top_left_po9 h3{ padding:3px 0px 0px 6px; font-size:12px;}
.box9_top_right_po9{ float:left; padding:7px 0px 0px 16px;}
.focebook_icon_po9{ height:22px; overflow:hidden;}
.focebook_icon_po9 h2{ float:left; padding-right:4px;}
.detail_box_po9{ width:304px; height:188px; background:url(../images/box1_bg_po9.png) repeat; margin-bottom:15px;}
.detail_box_po9 h2{ font-size:12px; font-weight:bold;  padding:4px 0px 0px 8px;}
.detail_box_po9 p{ padding:15px 0px 0px 8px; font-size:12px;}
.slide_show_po9{ background:url(../images/slider_bg1.png) repeat; width:816px; height:150px; clear:both; margin:0px;}

/*---------------------------------------------------------------- poppu 10 -------------------------------------------------------------*/
#filter9
{
	display: none;
	position:fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background:url(../images/popup_bg.png) right;
	z-index:10;
}
#box9 
{
	display: none;
	position: fixed;
	top:10%;
	left:32%;
	width:618px;
	padding:6px;
	margin:0;
	z-index:101;
	margin-bottom:100px;
	overflow: none;
}
.pop_box10{ width:630px; height:274px; border:solid 1px #9d9d9d; background:url(../images/pop10_bg.png) no-repeat;}
.box10_po10{}
.close_po10{ position:absolute; margin:8px 0px 0px 612px;}
.box10_po10 h1{ font-size:30px; font-family:Georgia; padding:15px 0px 0px 15px;}
.box10_po10 p{ padding:20px 0px 0px 15px; font-size:12px;}
.box10_po10 ul{ margin:0px; padding:22px 0px 0px 15px;}
.box10_po10 ul li{ margin:0px; padding:0px; float:left; display:inline;}
.box10_po10 ul li input{ height:24px; line-height:24px; width:288px; padding:0px 5px 0px 5px; font-size:12px; color:#a3a3a3; border:solid 1px #7f8ba6; margin:0px;}
.go_button_po10{}
.go_button_po10 a{ display:block; background:url(../images/go_blue_arrow_bt.jpg) no-repeat; width:27px; height:26px;}
.go_button_po10 a:hover{ background:url(../images/go_blue_arrow_rollover_bt.jpg) no-repeat;}


/*---------------------------------------------------------------- poppu 11 -------------------------------------------------------------*/
#filter10
{
	display: none;
	position:fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height:100%;
	background:url(../images/popup_bg.png) right;
	z-index:10;
}
#box10 
{
	display: none;
	position: fixed;
	top:10%;
	left:32%;
	width:618px;
	padding:6px;
	margin:0;
	z-index:101;
	margin-bottom:100px;
	overflow: none;
}
.pop_box11{ width:630px; height:310px; background:#fff; border:solid 1px #9d9d9d;}
.box11_po11{}
.enter_icon23{}
.enter_icon23 img{ padding:3px 0px 0px 8px;}
.box11_po11 h5{ padding:9px 0px 0px 11px;}
.box11_po11 h4{ font-size:18px; font-weight:bold; border-bottom:10px solid #cd111f; margin:0px 15px 0px 15px; padding:20px 0px 0px 0px;}
