/*
* Babel (HTML) V1.0
* Copyright 2014, Limitless LLC
* www.limitless.ma
*/



/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #ffffff;
		font: 14px/21px "Source Sans Pro", sans-serif;
		color: #777777;
		-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #000000;
		font-family: 'Montserrat';
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 48px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 30px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 22px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 13px; line-height: 20px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote { 
		background-image: url(../img/misc/blockquote.png);
		background-position: left top;
		background-repeat: no-repeat;
		background-size: 73px 55px;
		color: #5c5c5c;
		font-family: "Montserrat";
		font-size: 18px;
		line-height: 30px;
		margin: 100px 0px;
		padding: 10px 25px 0 22px;
	}
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: transparent;
		border: 1px solid #000000;
		color: #000000;
		cursor: pointer;
		display: inline-block;
		font-family: "Montserrat";
		font-size: 13px;
		font-weight: 400;
		outline:none;
		padding: 15px 36px;
		text-transform: uppercase;
		-webkit-transition: all .5s ease 0;
		-moz-transition: all .5s ease 0;
		-ms-transition: all .5s ease 0;
		-o-transition: all .5s ease 0;
		transition: all .5s ease 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		border-top: none !important;
		border-left: none !important;
		border-right: none !important;
		padding: 17px 10px !important;	
		width: 100% !important;
	}

	input[type="text"]::-webkit-input-placeholder { color: #aaaaaa; }
	input[type="text"]::-moz-placeholder { color: #aaaaaa; }
	input[type="text"]:-ms-input-placeholder { color: #aaaaaa; }
	input[type="text"]:-moz-placeholder { color: #aaaaaa; }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		background-color: #000000;
		color: #ffffff;
	}

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		background-color: #000000;
		color: #ffffff;
	}

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


/* #Forms
================================================== */

	form {
		margin-bottom: 20px; 
	}

	fieldset {
		margin-bottom: 20px; 
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		background: #ffffff; 
		border: 1px solid #cccccc;
		color: #aaaaaa;
		display: block;
		font: 13px "Montserrat", sans-serif;
		letter-spacing: 1.4px;
		margin: 0;
		max-width: 100%;
		margin-bottom: 20px;
		outline: none;
		padding: 15px 10px;
		text-transform: uppercase;
	}

	label {
		color: #aaaaaa;
		font: 13px "Montserrat", sans-serif;
		font-weight: 400 !important;
		letter-spacing: 1.4px;
		padding: 15px 10px;
		text-transform: uppercase;
	}

	select {
		padding: 0; 
	}

	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #000000;
 		color: #000000;
	}

	textarea {
		min-height: 60px; 
		resize: none;
		width: 100% !important;
	}

	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  
	}

	select {
		width: 220px; 
	}

	input[type="checkbox"] {
		display: inline; 
	}

	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; 
	}

/* #FlexSlider
================================================== */


/* #Loader
================================================== */

	.loader {
		background-color: #111111;
		background-image: url(../img/misc/loader.gif);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 40px 40px;
		bottom: 0px;
		left: 0px;
		position: fixed;
		right: 0px;
		top: 0px;
		z-index: 9999;
	}

/* #Misc
================================================== */

	section {
		background-color: #ffffff;
		text-align: center;
		z-index: 1 !important;
	}

	.cover {
		background-attachment: fixed;
		background-color: #181818;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 470px;
	}

	.cover .overlay {
		height: 100%;
		padding-top: 210px;
	}

	.cover .title {
		color: #ffffff;
		font-size: 44px;
	}

	.cover .subtitle {
		color: #ffffff;
		font-size: 14px;
		letter-spacing: 1.4px;
		margin-top: 12px;
	}

	.cover .devider {
		background-color: #ffffff;
	}

	.overlay {
		background-color: rgba(0,0,0,0.6);
		position: relative !important;
	}

	.offset {
		padding: 200px 0px;
	}

	.wrapper {	
		position: relative;
		width: 100%;
		overflow: hidden !important;
	}

	.center {
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	.devider {
		background-color: #000000;
		height: 1px;
		margin: 23px auto 0px; 
		width: 100px;
	}

	.title {
		color: #000000;
		letter-spacing: 1px;
		margin-top: -8px;
		text-transform: uppercase;
	}

	.subtitle {
		color: #999999;
		letter-spacing: 0.1px;
		text-transform: uppercase;
	}

	.text {
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
	}

	a.more {
		background-image: url(../img/misc/more.png);
		background-position: right 5px;
		background-repeat: no-repeat;
		background-size: 6px 9px;
		color: #000000;
		font-family: 'Montserrat';
		font-size: 13px;
		font-weight: bold;
		padding-bottom: 7px;
		padding-right: 12px;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-transition: all .3s ease 0;
		-moz-transition: all .3s ease 0;
		-ms-transition: all .3s ease 0;
		-o-transition: all .3s ease 0;
		transition: all .3s ease 0;
	}

	a.older, a.newer {
		background-position: right 5px;
		background-repeat: no-repeat;
		background-size: 6px 9px;
		color: #000000;
		font-family: 'Montserrat';
		font-size: 13px;
		font-weight: bold;
		padding-bottom: 7px;
		padding-right: 12px;
		text-decoration: none;
		text-transform: uppercase;
		-webkit-transition: all .3s ease 0;
		-moz-transition: all .3s ease 0;
		-ms-transition: all .3s ease 0;
		-o-transition: all .3s ease 0;
		transition: all .3s ease 0;
	}

	a.newer {
		background-image: url(../img/misc/newer.png);
		background-position: right 5px;
		float: right;
		padding-right: 12px;
	}

	a.older {
		background-image: url(../img/misc/older.png);
		background-position: left 5px;
		float: left;
		padding-left: 12px;
	}

	a.more:hover {
		border-bottom: 1px solid #000000;
	}

	.aligncenter { text-align: center; }

	.alignleft { text-align: left; }

	.alignright { text-align: right; }

	.floatleft { float: left; }

	.floatright { float: right; }

	.remove-bottom { margin-bottom: 0 !important; }

	.half-bottom { margin-bottom: 10px !important; }

	.add-bottom { margin-bottom: 20px !important; }