	.demo{
		background-color: #111111;
		position: relative;
	}

	.demo .inner {
		display: inline-block;
	}

	.demo .variation {
		background-color: #111111;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: none;
		border-right: 1px solid #ffffff;
		box-sizing: border-box !important;
		-moz-box-sizing:border-box !important;
		cursor: pointer;
		display: inline;
		float: left;
		font-family: "Montserrat";
		position: relative;
		text-align: center;
		transition: all 0.8s ease-in-out 0s;
	}

	.demo .variation:hover {
		
	}

	.demo .variation:last-child {
		border-right: none;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute !important;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .overlay {
		background-color: rgba(0,0,0,0.75);
		position: absolute ;
		top: 0px;
		right: 0px;
		left: 0px;
		bottom: 0px;
	}

	.demo .variation .number {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
		font-size: 13px;
		font-weight: 400;
		margin: 0px auto 70px;
		padding-bottom: 20px;
		width: 50px;
	}

	.demo .variation .title {
		color: #ffffff;
		font-size: 16px;
		font-weight: 300;
		margin-top: 30px;
	}


	@media only screen and (max-width: 767px) {


		.demo .variation {
			border-right: none !important;
			border-bottom: 1px solid #ffffff;
		}

		.demo .variation:last-child {
			border-bottom: none;
		}

		.demo .variation .number {
			display: none;
		}

	}