.menu {
float:left;
position: relative;
z-index: 1002;
}


#li_Page1 > a:link, #li_Page1 > a:visited, #li_Page2 > a:link, #li_Page2 > a:visited, #li_Page3 > a:link, #li_Page3 > a:visited, #li_Page4 > a:link, #li_Page4 > a:visited {
    color: #8C8D8E !important;
}

#li_Page1 > a:hover, #li_Page1 > a:active, #li_Page2 > a:hover, #li_Page2 > a:active, #li_Page3 > a:hover, #li_Page3 > a:active, #li_Page4 > a:hover, #li_Page4 > a:active {
    color: #DC291E !important;
}



.menu ul {
width:220px;
font:bold 14px Arial;
background:#c3c3c4;
}

.menu ul li {
position:relative;
}

.menu ul li img {
display:none;
}

.menu a:hover,.menu a:active {
text-decoration: none !important;
}

.menu ul li a {
display:block;
overflow:auto;
color:#FFF !important;
text-decoration:none !important;
border: 0;
margin-left:7px;
width:190px;
padding:10px 6px 11px 10px;
background: transparent url(../images/bb.gif) no-repeat scroll 0 100%;
}

.menu ul li a:hover {
text-decoration:none !important;
}

.menu ul li a.no_border {
border-bottom:none;
}

.menu ul li a:link,.menu ul li a:visited,.menu ul li a:active {
color:#FFF;
}

.menu ul li ul li a {
background:none;
color:#fff !important;
border-bottom: 1px solid #dbdbda;
}

.menu ul li ul , .menu ul li ul li {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}

.menu ul li ul li * {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=99);
}
.menu ul li ul li:hover {
background: transparent url(../images/sub_bg.png) repeat scroll 0 0;
}

.menu ul li ul li a:hover {
background: none;
color:#fff!important;
}

.menu>ul>li>ul {
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=99);
position:absolute;
width:220px;
top:0;
background: transparent url(../images/sub_bg.png) repeat scroll 0 0 !important;
visibility:hidden;
margin: 0;
}

* html .menu ul li {
float:left;
height:1%;
}

* html .menu ul li a {
height:1%;
}

.menu ul li a.selected,.menu ul li a:hover {
background:#8c8d8e url(../images/bb.gif) no-repeat scroll 0 100%;
color:#FFF;
width: 190px;
}

.menu ul li a.selected,.menu ul li a.parent:hover {
width: 197px;
}

#subDrop {
position: absolute;
left: 0;
top: 133px;
width: 100%;
padding: 0;
margin: 0;
}

#subDrop > div {
width: 938px;
background: #22dddd;
padding: 0;
margin: 0 auto 0 auto;
position: relative;
}

#subDrop > div > div.menu {
display: none;
top: 0;
position: absolute;
}

#subDrop > div > div.menu ul ul {
position: absolute;
left: 220px !important;

}

#subDrop > div div.menu#smoothmenu4 {
left: 720px;
}

#subDrop > div div.menu#smoothmenu3 {
left: 480px;
}

#subDrop > div div.menu#smoothmenu2 {
left: 240px;
}

#subDrop > div .short, #subDrop > div .long {
height: auto;
}

#subDrop > div .lastm {
background-image: none;
}

.menu ul.long li a.anchorNoLink:hover {
color: #fff !important;
}

