html,body {
background:#fff;
font-size:9px;
color:#555555;
font-family:Arial,Tahoma,Verdana;
width:100%;
min-width:1050px;
}

.xmenu {
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}

#wrapper {
width:955px;
overflow:visible;
margin:0 auto;
}

#header {
height:134px;
background:url(../images/header.png) no-repeat center center;
}

ul.navigation {
float:right;
color:#8c8d8e;
overflow:hidden;
margin:15px 15px 12px 0;
}

ul.navigation li a {
color:#8c8d8e;
text-decoration:none;
font-size:10px;
padding:0 5px;
}

.search {
border-bottom:1px solid #8C8D8E;
clear:both;
margin-left:8px;
padding-bottom:10px;
width:940px;
overflow:hidden;
}

.search h1 a {
display:block;
text-indent:-9999px;
width:400px;
height:25px;
float:left;
background:url(../images/logo.png) no-repeat 15px 0;
}

.search form {
float:right;
margin-right:15px;
}

.search form input#searchQ {
height:23px;
width:163px;
border:1px solid #d2d2d3;
background:url(../images/input.png) repeat-x center center;
font-size:10px!important;
font-weight:normal;
letter-spacing:1px;
color:#8c8d8e;
text-align:right;
float:left;
font-family:arial, helvetica, sans-serif!important;
line-height:25px;
padding:0 5px;
}

.search form input.searchSubmit {
cursor:pointer;
color:#dc291e;
font-size:22px;
line-height:999px;
border:0;
outline:0;
width:39px;
height:25px;
text-indent:-999px;
display:block;
float:left;
text-align:center;
font-family:Arial,helvetica, sans-serif;
background:url(../images/go.png) no-repeat scroll 0 0;
padding:0;
}

.search form input.searchSubmit:hover {
background:url(../images/go.png) no-repeat scroll 0 -26px;
}

.search form button:hover {
color:#000;
}

ul.menu {
visibility:hidden;
overflow:hidden;
margin:17px 0 0 8px;
}

ul.menu li {
float:left;
height:25px;
overflow:hidden;
padding:0 0 2px;
}

ul.menu li.selected,ul.menu li:hover {
border-bottom:2px solid #dc291e;
padding:0;
}

.pe2 ul.menu {
position:absolute;
top:76px;
}

ul.menu li a {
text-decoration:none;
color:#8c8d8e;
font-size:15px;
font-weight:bold;
text-align:center;
display:block;
width:220px;
}

.right {
float:right;
}

.container {
overflow:hidden;
float:left;
width:940px;
margin:0 20px 0 0;
padding:0;
}

.short {
height:290px;
}

.box {
overflow:hidden;
padding-bottom:10px;
clear:both;
width:460px;
border-bottom:1px solid #8c8d8e;
}

.awards {
float:right;
width:220px;
}

h2.heading {
display:block;
height:33px;
line-height:33px;
color:#fff;
font-weight:bold;
font-size:14px;
text-align:center;
text-transform:uppercase;
margin-bottom:4px;
}

h2.heading.blue {
background:#0078c9;
}

h2.heading.purple {
background:#6d4061;
}

h2.heading.green {
background:#9c9a00;
}

.awards p,.featured p {
margin-top:5px;
clear:both;
}

a.title {
color:#555555;
text-transform:uppercase;
font-size:10px;
text-decoration:none;
display:block;
margin-top:5px;
line-height:12px;
}

.pushed {
margin:5px 0;
}

.red_link {
padding-left:15px;
color:#dc291e;
text-decoration:none;
}

.featured {
width:460px;
height:294px;
overflow:hidden;
margin-top:10px;
}

#footer {
clear:both;
overflow:hidden;
line-height:17px;
margin:20px 0 10px;
}

#footer address {
margin-left:80px;
float:left;
}

#footer address a {
padding-left:0;
}

#footer ul {
float:right;
overflow:hidden;
margin-right:7px;
}

#footer ul li {
float:left;
padding-left:7px;
line-height:17px;
}

#footer ul li a {
display:block;
height:17px;
width:17px;
text-indent:-9999px;
}

#footer ul li a.v {
background:url(../images/v.png) no-repeat center center;
}

#footer ul li a.twit {
background:url(../images/twit.png) no-repeat center center;
}

#footer ul li a.rss {
background:url(../images/rss.png) no-repeat center center;
}

#footer ul li a.mail {
background:url(../images/mail.png) no-repeat center center;
}

#footer ul li a.linked {
background:url(../images/linked.png) no-repeat center center;
}

#footer ul li a.gtalk {
background:url(../images/gtalk.png) no-repeat center center;
}

#footer ul li a.fb {
background:url(../images/fb.png) no-repeat center center;
}

.featured_projects {
float:left;
width:220px;
margin-right:20px;
}

.featured_projects .img_box {
margin-top:8px;
border-top:1px solid #8c8d8e;
padding-top:13px;
}

.in_the_news {
overflow:hidden;
margin-top:22px;
}

.bproj {
overflow:hidden;
margin-left:20px;
}

.in_the_news2 {
clear:both;
overflow:hidden;
padding-top:10px;
border-top:1px solid #8c8d8e;
}

.red_text {
margin-top:5px;
font-size:11px;
font-weight:bold;
color:#dc291e;
}

#IDAM_PAGE4_PIC1_DESC_LINK {
text-decoration:none;
}

.middle {
float:left;
margin-left:20px;
}

.breadcrumbs {
text-transform:uppercase;
margin-bottom:10px;
margin-left:15px!important;
}

.breadcrumbs a,.breadcrumbs span {
text-decoration:none;
text-transform:uppercase;
font-weight:bold;
color:#8c8d8e;
}

.list_holder {
width:451px;
border-right:1px solid #8c8d8e;
padding:0 20px 0 6px;
}

.item {
overflow:hidden;
padding:10px 10px 0 0;
}

.info.first {
background:#dddda8;
}

.item.blue_bg {
padding-left:10px;
}

.item.blue_bg.first {
background:#aec5d6;
}

.item img {
float:left;
margin-right:10px;
}

h1.headline {
color:#8c8d8e;
text-transform:uppercase;
font-size:12px;
font-weight:bold;
display:block;
margin:10px 0 0;
}

.item h3 {
margin:-7px 0 0;
padding:0;
}

.item h3 a {
font-size:11px;
font-weight:bold;
display:block;
color:#555;
text-decoration:none;
line-height:13px;
margin:5px 0;
}

.item .red_item {
color:#dc291e;
text-decoration:none;
display:block;
font-weight:bold;
font-size:11px;
margin:3px 0;
}

.item .red_item_link {
color:#dc291e;
text-decoration:none;
white-space:nowrap;
}

.info {
width:290px;
line-height:12px;
float:left;
margin:0;
padding:0 0 16px 10px;
}

#PageNews .info {
margin:-3px 0 0;
}

#PageViews .info.first {
padding-top:8px;
}

#PageNews .info.first {
padding-top:5px;
}

#NewsPage .info.first {
opacity:.2;
}

.list_holder2 {
width:410px;
overflow:hidden;
padding-right:15px;
}

.list_holder2 ul li {
margin-bottom:25px;
}

.list_holder2 ul li a {
text-decoration:none;
display:inline;
margin-bottom:3px;
color:#dc291e;
}

.list_holder2 ul li strong,.item strong {
display:block;
font-weight:normal;
margin-bottom:8px;
font-size:11px;
}

.item.first strong {
color:#1C5D8C;
}

.director {
font-weight:bold;
display:inline;
}

.red_link_push_top {
margin-top:25px;
}

.push_left {
margin-left:20px;
margin-right:0;
}

.push_top {
margin-top:43px;
}

#Page {
width:940px;
overflow:hidden;
position:relative;
margin:10px auto 15px;
}

#Pages {
position:relative;
width:9999px;
overflow:hidden;
height:604px;
}

#PageControls {
width:1030px;
position:relative;
height:0;
margin:0 auto;
}

#PageLeft {
position:absolute;
left:0;
top:453px;
width:38px;
height:38px;
margin:0;
padding:0;
}

#PageLeft a,#PageLeft a:link,#PageLeft a:link:visited {
display:block;
width:38px;
height:38px;
background:#fff url(../images/pageControl.png) no-repeat scroll 0 0;
margin:0;
padding:0;
}

#PageLeft a:hover {
background:#fff url(../images/pageControl.png) no-repeat scroll 0 -38px;
}

#PageRight {
position:absolute;
right:1px;
top:453px;
width:38px;
height:38px;
margin:0;
padding:0;
}

#PageRight a,#PageRight a:link,#PageRight a:link:visited {
display:block;
width:38px;
height:38px;
background:#fff url(../images/pageControl.png) no-repeat scroll -38px 0;
margin:0;
padding:0;
}

#PageRight a:hover {
background:#fff url(../images/pageControl.png) no-repeat scroll -38px -38px;
}

#page4POV {
width:220px;
overflow:hidden;
height:300px!important;
margin:0!important;
}

.logo_bot {
display:block;
margin:3px 0 0;
}

#Page4 .left .in_the_news2 img {
display:block;
margin:12px 0 0;
}

a.bprojImg2,a.bprojImg2:link,a.bprojImg2:visited {
color:#f7f7f7;
font-size:10px;
line-height:11px;
display:block;
text-decoration:none;
width:450px;
height:23px;
overflow:hidden;
text-align:right;
margin:0;
padding:356px 5px 4px;
}

a.bprojImg2:hover {
text-decoration:underline;
color:#DCE6F1;
}

a.bprojImg3,a.bprojImg3:link,a.bprojImg3:visited {
color:#f7f7f7;
font-size:10px;
line-height:11px;
display:block;
text-decoration:none;
width:450px;
height:23px;
overflow:hidden;
text-align:right;
margin:0;
padding:577px 5px 4px;
}

a.bprojImg3:hover {
text-decoration:underline;
color:#D8423E;
}

.c {
clear:both;
}

.main {
width:930px;
position:relative;
left:8px;
top:10px;
min-height:630px;
}

#mapBox {
width:598px;
height:295px;
float:left;
margin:0;
padding:0;
}

.project_description.regionsMap {
width:250px;
float:right;
}

a.se,a.se:hover {
cursor:text;
text-decoration:none!important;
}

#IDAM_PAGE1_TITLE2_PDF {
position:absolute;
bottom:0;
left:408px;
}

div#Page1.container {
position:relative;
}

#IDAM_PAGE4_PIC1_DESCRIPTION {
display:block;
margin:5px 0 0;
}

#designP {
width:900px;
}

#designP .rc {
text-align:right;
padding:0 15px 0 0;
}

#designP .lc {
padding:0 0 0 15px;
}

#Page4TopLeft {
width:220px;
height:123px;
overflow:hidden;
}

.list_holder *,.list_holder2 * {
font-size:9pt!important;
line-height:12pt!important;
}

.list_holder2 strong a {
font-weight:normal!important;
}

.list_holder2 li>a {
display:block;
font-weight:bold;
line-height:22px!important;
}

.right .bproj .in_the_news .awards span.title.title_push_bot {
position:relative;
top:8px!important;
display:block;
}

#page4POV .title.title_push_bot2 {
display:block;
margin-top:5px;
}

.list_holder span.povName {
display:block;
font-size:11px!important;
word-wrap:wrap;
width:125px;
font-weight:bold;
clear:both;
position:relative;
top:3px;
}

.list_holder .povNameTitle {
display:block;
font-size:11px!important;
word-wrap:wrap;
width:125px;
font-weight:normal;
clear:both;
position:relative;
top:2px;
}

.list_holder hr {
border:1px solid transparent;
height:0;
text-align:center;
display:inline-block;
border-bottom:2px dotted #C9C86F;
clear:both;
width:97%;
margin:4px 0 10px 10px;
padding:4px 0 2px;
}

td .copy_standard {
padding-left:15px!important;
}

td .copy_standard.noIndent {
padding-left:0!important;
}

body.pe2 .copy_standard table td span.copy_standard {
color:#dc291e!important;
text-transform:capitalize!important;
}

.pe2.firmProfile td.lc div span,.pe2.designPhilosophy td div span {
color:#333!important;
}

a:link,a:visited {
color:#DC291E!important;
text-decoration:none!important;
}

a:hover,a:active {
color:#DC291E!important;
text-decoration:underline!important;
outline:0!important;
}

.copy_standard span {
color:#333333!important;
}

.menu a {
cursor:default;
}

.menu a:link,.menu a:visited {
cursor:pointer;
}

#IDAM_PAGE1_TITLE2_PICLABEL {
margin:5px 0 4px;
}

#IDAM_PAGE2_IMAGE3_TEXT {
height:24px;
line-height:12px;
overflow:hidden;
margin:0 0 15px;
}

a#MPP_LINK {
color:#eaeaea!important;
}

a #MPP_TEXT1,a #MPP_TEXT2 {
color:#fff!important;
}

p#IDAM_PAGE3_PIC2_DESCRIPTION {
line-height:12px;
height:72px;
overflow:hidden;
margin-bottom:16px!important;
}

#Page3BottomRight {
margin-top:21px!important;
}

.in_the_news2.push_top.left {
padding-top:0!important;
margin:0!important;
}

#IDAM_PAGE4_PIC4_CAP {
display:block;
font-size:11px;
font-weight:bold!important;
line-height:12px;
margin:10px 0 0;
}

#Page4BottomLeft {
margin-top:10px!important;
}

#IDAM_PAGE4_PIC4_SUBCAP {
display:block;
font-size:11px;
line-height:14px;
margin:0 0 7px;
}

#IDAM_PAGE4_PIC4_LOCDATE {
display:block;
font-size:11px;
line-height:14px;
margin:0;
}

.pe2 table#designP td div.copy_standard ul {
margin-top:12px!important;
}

.pe2 table#designP td div.copy_standard ul li {
background:url(../images/bullet.gif) no-repeat scroll 2px 8px transparent;
margin-left:0!important;
padding-left:20px!important;
}

.pe2 table#designP td.lc div ul li {
background:transparent url(../images/bullet.gif) no-repeat scroll 2px 54%;
margin-left:0!important;
padding-left:20px!important;
}

#POV_ctl00_PressReleaseText {
padding-right:15px;
width:270px;
float:right;
margin:1px 3px 0 0;
}

body.pe3 .left .list_holder div.item {
padding-right:0!important;
}

a.anchorNoLink,a.anchorNoLink:hover,a.anchorNoLink:active {
color:#555!important;
text-decoration:none!important;
}

.pe3 div.right div.list_holder2 ul.less_margin li a {
line-height:15px!important;
display:block;
margin-bottom:2px;
}

.inviteUs span {
font-weight:bold;
margin:0;
}

.pe3 .main div.right .list_holder2 ul.less_margin li strong * {
display:inline;
}

#PressReleses_ctl00_PressReleaseText {
float:right;
padding-right:10px!important;
width:280px;
margin:1px 3px 0 0;
}

.pe2 div.main table td table td div div.copy_standard {
padding-left:12px;
}

html body.pe2.pagePublications div#wrapper div.main form#form1 table tbody tr td div.copy_standard {
padding-left:15px;
font-style:normal;
}

#IDAM_PAGE1_DESC {
height:72px;
}

#IDAM_PAGE1_TITLE2_URL {
position:absolute;
bottom:0;
left:409px;
}

.pe2 div.leftColumn p.regionProjects a.anchorNoLink:hover,.pe2 div.leftColumn p.regionProjects a.anchorNoLink:active {
cursor:default!important;
background:#fff!important;
display:block!important;
}

.pe2 .main .leftColumn p.regionProjects a span,.pe2 .main .leftColumn p.regionProjects a:link span,.pe2 .main .leftColumn p.regionProjects a:visited span {
color:#9E9EA0!important;
}

.pe2 .main div.copy_standard table tbody tr td span.copy_standard {
position:absolute;
}

html body.pe3 div#wrapper div.main div.left h1.headline {
margin-left:16px;
}

.eekPageLeft {
position:absolute;
margin:4px 0 0;
}

.eekPageRight {
float:none;
margin-left:620px!important;
width:264px;
}

#zlinkBackToCategory {
white-space:nowrap;
position:absolute;
margin-left:4px;
}

ul.navigation li,.left,.in_the_news2 .awards,.in_the_news .awards {
float:left;
}

ul.navigation li a:hover,.breadcrumbs a.active,.copy_standard.red.bold a:link,.copy_standard.red.bold a:link:visited,.copy_standard span a:link,.copy_standard span a:visited,.pe2 .copy_standard.red a:link,.pe2 .copy_standard.red a:visited {
color:#DC291E;
}

.search h1 a:hover,#footer ul li a:hover {
opacity:0.8;
}

ul.menu li.selected a,ul.menu li.selected a:link,ul.menu li.selected a:visited,ul.menu li a:hover,ul.menu li a.active {
color:#dc291e;
}

.long,.slide #Pages {
height:604px;
}

.red_link:hover,.breadcrumbs a:hover,.item h3 a:hover,.item .red_item_link:hover,.list_holder2 ul li a:hover {
text-decoration:underline;
}

.span_block,.block {
display:block;
}

.list_holder2 h1.headline,.list_holder2 ul.less_margin li,.title_push_bot {
margin-bottom:10px;
}

.list_holder2 ul li a.bolded,.pe3 div.right div.list_holder2 ul li strong {
font-weight:bold;
}

.slide,.pe3 div.left div.list_holder hr {
visibility:hidden;
}

#li_Page1,#li_Page2,#li_Page3 {
margin-right:20px;
}

.copy_standard.red.bold,.pe2 .copy_standard.red {
color:#333;
}

.anchorNoLink,.anchorNoLink img,.pe2 div.leftColumn p.regionProjects a.anchorNoLink:hover img,.pe2 div.leftColumn p.regionProjects a.anchorNoLink:active img {
cursor:default!important;
}

.pe2 div.main table td div.copy_standard,.pe2 div.main div.copy_standard table td div.head_standard {
margin-left:0;
}

.copy_standard .no_top_margin a,#backtoProject {
white-space:nowrap;
}

.mapChina {
background: url("../../images/worldSmall.png") no-repeat scroll 0pt -698px #ffffff;
height: 140px;
margin: 0pt;
padding: 0pt;
width: 283px;
}

.BrowseClientList a {
text-decoration: none !important;
}

.BrowseClientList a:hover {
text-decoration: underline !important;
}

#Pages.IE7 {
height: 608px !important;
}

.block {
display: block !important;
}

.info.first {
width: 285px !important;
}