body, html {
 background: #642916 url(../images/side.png) repeat-x scroll 0 0;
 margin: 0;
 padding: 0;
 min-height: 100%;
 height: 100%;
 min-width: 1777px;
 font-family: helvetica, arial, sans-serif;
}

.sheridanNarrow {
 position: relative;
 background: transparent url(../images/1357.jpg) repeat-x scroll 100% 0;
 float: right;
 min-height: 750px;
 height: 100%;
 width: 1357px;
 margin: 0;
 padding: 0;
}

.sheridanWide {
 position: relative;
 background: transparent url(../images/1777.jpg) repeat-x scroll 100% 0;
 min-height: 750px;
 height: 100%;
 width: 1777px;
 margin: 0 auto 0 auto;
 padding: 0;
}

#mh {
 display: block;
 padding: 0;
 margin: 0;
 width: 122px;
 height: 65px;
 position: absolute;
 left: 110px;
 top: 595px;
 overflow: hidden;
}

.sheridanNarrow #mh {
 left: 140px;
}

#wcs {
 display: block;
 padding: 0;
 margin: 0;
 width: 115px;
 height: 65px;
 position: absolute;
 left: 265px;
 top: 595px;
 overflow: hidden;
}

.sheridanNarrow #wcs {
 left: 295px;
}

#download {
 display: block;
 padding: 0;
 margin: 0;
 width: 120px;
 height: 65px;
 position: absolute;
 left: 640px;
 top: 595px;
 overflow: hidden;
}

.sheridanNarrow #download {
 left: 670px;
}

#signUp {
 display: block;
 padding: 0;
 margin: 0;
 width: 120px;
 height: 65px;
 position: absolute;
 left: 855px;
 top: 595px;
 overflow: hidden;
}

.sheridanNarrow #signUp {
 left: 885px;
}

#map {
 display: block;
 padding: 0;
 margin: 0;
 width: 150px;
 height: 65px;
 position: absolute;
 left: 1030px;
 top: 595px;
 overflow: hidden;
}

.sheridanNarrow #map {
 left: 1060px;
}

#eho {
 display: block;
 padding: 0;
 margin: 0;
 width: 50px;
 height: 55px;
 position: absolute;
 left: 1352px;
 top: 600px;
 overflow: hidden;
}

.sheridanNarrow #eho {
 left: 1275px;
}


#main a, #main a:link, #main a:visited {
 display: block;
 padding: 0;
 margin: 0;
 width: 100%;
 height: 70px;
 line-height: 500px;
}

#contact {
 display: block;
 height: 50px;
 left: 1030px;
 top: 514px;
 margin: 0pt;
 overflow: hidden;
 padding: 0pt;
 position: absolute;
 width: 136px;
}

.sheridanNarrow #contact {
 left: 1060px;
}

#contact a {
 display: block;
 height: 13px;
 line-height: 555px;
 margin: 0;
 padding: 4px;
 width: 72px;
 cursor: pointer;
 background: transparent url(../images/contact.png) no-repeat scroll 0 0;
}

#contact a:hover {
 background: transparent url(../images/contact.png) no-repeat scroll 0 -51px;
}

h1#h {
 text-transform: uppercase;
 width: 315px;
 height: 100px;
 line-height: 100px;
 text-align: center;
 display: block;
 margin: 0;
 padding: 0;
 position: absolute;
 left: 1005px;
 top: 221px;
 font-weight: 300;
 letter-spacing: -1px;
 color: #FFFFFF;
 font-size: 33px;
}

.sheridanNarrow h1#h {
 left: 1035px;
}


h2#f {
 color: #FFFFFF;
 display: block;
 font-size: 15px;
 font-weight: bold;
 font-style: italic;
 left: 410px;
 margin: 0pt;
 padding: 0pt;
 position: absolute;
 top: 701px;
 width: 600px;
 word-spacing: 2px;
 height: 24px;
 line-height: 99px;
 background: transparent url(../images/slogan.png) no-repeat scroll 0 -0;
 overflow: hidden;
}

.sheridanNarrow h2#f  {
 left: 200px;
}

#content {
 color: #FFFFFF;
 display: block;
 font-size: 13px;
 left: 1030px;
 top: 340px;
 line-height: 20px;
 margin: 0pt;
 padding: 0pt;
 position: absolute;
 text-align: left;
 width: 280px;
 font-weight: 600;
}

.sheridanNarrow #content {
 left: 1065px;
}

#content strong {
 font-size: 19px;
 line-height: 29px;
}

#content em {
 display: block;
 margin: 17px 0 0 0;
 font-style: normal;
}

