@charset 'UTF-8';
/*
 * jQuery File Upload Plugin CSS Example 5.0
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2010, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://creativecommons.org/licenses/MIT/
 */

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 20px;
  color: #3F3F3F;
}

a {
  color: #222;
}