/*TitleBar,Black*/.ycmrctb{font-size:18px;font-weight:bold;line-height:110%;}
/*TitleBar,White*/.ycmrctbw{font-size:18px;font-weight:bold;line-height:110%;color:white;}
/*Price,New*/.ycmrcpn{font-weight:bold;color:brown;}
/*Price,Pre-Order*/.ycmrcppo{font-weight:bold;color:CC0000;}
/*Price,Not-New*/.ycmrcpnn{color:brown;}
/*Color,White*/.w{color:white;}
/*Color,Black*/.b{color:black;}
/*Font,Arial*/.a{font-family:arial,sans-serif;}
/*Font,Verdana*/.v{font-family:verdana,sans-serif;}
/*Font,Times*/.t{font-family:times,serif;}

/* contruction blocks */
	/* vertical spacers */
	.ygv1 	{position:relative;height:1px;width:1px;}
	.ygv2 	{position:relative;height:2px;width:1px;}
	.ygv5 	{position:relative;height:5px;width:1px;}
	.ygv10 	{position:relative;height:10px;width:1px;}
	.ygv15 	{position:relative;height:15px;width:1px;}
	
	/* horizontal spacers */
	.ygh1 	{position:relative;height:1px;width:1px;}
	.ygh2 	{position:relative;height:1px;width:2px;}
	.ygh5 	{position:relative;height:1px;width:5px;}
	.ygh10 	{position:relative;height:1px;width:10px;}
	.ygh15 	{position:relative;height:1px;width:15px;}
	
/* color palette */ 
	.ygw{color:white;}
	.ygb{color:black;}
	
/* font families */
	.yga{font-family:arial,sans-serif;}
	.ygv{font-family:verdana,sans-serif;}
	.ygt{font-family:times,serif;}



