a {
	color:#0076a3;
	font-family: arial,sans-serif;
}

td,.body {
	color:#4b4b4b;
	font-family:arial,sans-serif;
}

/* background colors */
.yphbrdr { background-color:#000000; }
.yphpritbr { background-color:#000000; }
.yphsectbr { background-color:#000000; }
.yphpribox { background-color:#000000; }
.yphsecbox { background-color:#000000; }
.yphsecbox2 { background-color:#000000; }
.yphintbox { background-color:#000000; }
.yphgryln {	background-color:#000000; }
.yphalbum {	background-color:#000000; }
.yphalbumln { background-color:#000000; }
.yphshade {	background-color:#000000; }
.yphltsel {	background-color:#000000; }
.yphltalt {	background-color:#000000; }

/*large header*/
.yphlghdr {
	color:#ffffff;
	font-family:arial,sans-serif;
	font-weight:800;
	font-size:18px;
	line-height:20px;
}

/*small header*/
.yphsmhdr {
	color:#ffffff;
	font-family:arial,sans-serif;
	font-weight:900;
}

.yphcaption {
	color:#999999;
}

/*splash/specials heade*/
.yphspmainhdr {
	color:#84A663;
	font-family:arial,sans-serif;
	font-size:150%;
}

.yphgetstart {
	color:#FFFFFF;
	font-family:arial,sans-serif;
	font-size:160%;
}

.yphsphdr {
	color:#E48100;
	font-family:arial,sans-serif;
	font-weight:900;
}

a.yphsphdr { text-decoration: none; }

/*std header*/
.yphstdhdr { color:#20330C; }

/*warning*/
.yptxtwarn { color:#cc0000; }

/*list view*/
.yphltvw {
	padding-left:10px;
	padding-right:10px;
}

/* right hand modules */
.yphrhs { margin:0 0 30px 10px; }
.yphrhs img { float:right;margin:0 0 0 10px;padding:0; }
.yphrhs .yphsphdr { display:block;margin:0 0 5px 0; }

/*buttons*/

.yphbtn,.yphbtncart {
	font-family:verdana,sans-serif;
	font-size:81%;
}

table td #yphyim { font:14px Verdana,Helvetica,sans-serif; }

.ygbt#ygbtcncl {
    font-family: verdana;
	font-size:81%;
	background-color: #DEE3D6;
	color:#949E8C;
	line-height: 1.2em;
	border-top: 1px solid #EFF7E7;
	border-left: 1px solid #EFF7E7;
	border-right: 1px solid #C6CFBD;
	border-bottom: 1px solid #C6CFBD;
}

.ygbt#ygbtylw, .ygbt#ygbtwht, .ygbt#ygbtwhtdd, .ygbt#ygbtwhtlg, .ygbt#ygbtylwlg {
    font-family: verdana;
	font-size:81%;
	background-color:#ddd;
	font-weight:bold;
	cursor: hand; cursor: pointer;
	line-height: 1.2em;
}

.ygbt#ygbtwhtlg, .ygbt#ygbtylwlg {
	font: bold 100% Arial,Helvetica;
	color: #555;	
}

.ygbt#ygbtylw, .ygbt#ygbtylwlg {
	background-color:#FFC02B;
}

.ygbt#ygbtwhtdd {
background: #DDDDDD url(http://us.i1.yimg.com/us.yimg.com/i/us/ph/el/arrow_1.gif) no-repeat right;
}

.linkbttn, .linkbttn2 {
	font: bold 81% verdana;
	/* hide nn4 */	/*/*/
	color: #333;
	background-color: #ddd;
	text-decoration: none; 
	padding: .2em .8em; 
	border: 2px outset #fff; 
	border-color: #fff #ccc #ccc #fff; 	
	line-height: 2.2em;
	/* end hide nn4 */	
}

.linkbttn2 {
	/* ignore the following styles in NS4 */
	/*/*/
    padding-left:20px;
	background: #DDDDDD url(http://us.i1.yimg.com/us.yimg.com/i/us/ph/el/cart_2.gif) no-repeat left;
	/* */
}	

.rel { 
	display:inline-block;
	/* Non IE5/Mac browsers parse this \*/
	display:inline;
	/* end hack */
	margin-right:5px; 
}
	
/* order module graphic */ 
.orderMod {	position:absolute;top:-33;left:140; }

.menu {position:absolute;visibility:hidden;background-color:#ededed;layer-background-color:#ededed;border:#a9a9a9 solid 1px; padding:5px;z-index:10;width:110;}
.menuLink {font-family:verdana,sans-serif;font-size:10px;}

.yphbox { background-color:#000000;border:1px solid #aaa;margin-bottom:20px; }
.yphbox .yphsphdr { display:block;margin:10px 0 0 10px; }
.yphbox ul { margin-top:5px;margin-bottom:10px;margin-left:27px;padding:0; }

.yphne, .yphse { float:right; margin-right: -1px; }
.yphnw, .yphsw { float:left; margin-left:-1px; }
/* IE5-Win CSS \*/
.yphne, .yphse { float:right; margin-right: -4px; }
.yphnw, .yphsw { float:left; margin-left:-4px; }
/* End hack */

.yphne, .yphnw { margin-top: -1px; }
.yphsw, .yphse { margin-top: -5px; }
img[class=yphnw], img[class=yphsw] { margin-left:-1px; }
img[class=yphne], img[class=yphse] { margin-right: -1px; }

.yphshade2 { display:table;width:0;padding:0 2px 2px 0;border:0;background-image:url(http://us.i1.yimg.com/us.yimg.com/i/us/ph/el/gr_shade_1.gif); }

@media all { button { display:inline; } }

/* INDIVIDUAL BUTTON WIDTHS FOR INT'L PROPERTIES IF NEEDED; USE em INSTEAD OF px */
.yphadd { }
.yphorder { }
.yphedit { }
.yphshare { }
.yphdelete { }