﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <span> Enter AssetId Here:</span> <asp:TextBox runat="server" ID = "assetId"></asp:TextBox> <asp:Button runat="server" ID = "btnGetContent" Text="Get Asset" OnClick ="btnGetContent_Click" /> 
    <asp:Literal runat="server" ID = "medialiteral"></asp:Literal>
    <asp:Literal runat="server" ID = "xmlliteral"></asp:Literal>
    <asp:Literal runat="server" ID = "jsonliteral"></asp:Literal>
    </div>
    </form>
</body>
</html>
