<%@ Page Language="vb" AutoEventWireup="false" Codebehind="Download_PowerPoint.aspx.vb" Inherits="WebArchives.iDAM.WebClient.Download_PowerPoint"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>Download_PowerPoint</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<P>
				<asp:TextBox id="TextBox1" runat="server"></asp:TextBox>
				<asp:Button id="btnAdd" runat="server" Text="add"></asp:Button></P>
			<P>
				<asp:ListBox id="ListBox1" runat="server" Height="164px" Width="219px"></asp:ListBox><BR>
				<asp:Button id="btnGetFiles" runat="server" Text="Get Files"></asp:Button></P>
			<P>&nbsp;</P>
			<P>&nbsp;</P>
			<a href="http://localhost/IDAMClient/ReconvertAsset.aspx?instance=IDAM_RIM&amp;assetid=21200134">
				test</a>
		</form>
	</body>
</HTML>
