<%@ Page Language="vb" AutoEventWireup="false" Codebehind="error.aspx.vb" Inherits="WebArchives.iDAM.WebClient.ErrorPage"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title>error</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </head>
	<body>
		<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#cc6600">
			<tr>
				<td class="bluelight" width="550">
				</td>
			</tr>
		</table>
		<form id="Form1" method="post" runat="server">
			<asp:Label id="lblError" style="Z-INDEX: 101; LEFT: 59px; POSITION: absolute; TOP: 75px" runat="server" ForeColor="White" Font-Names="Arial" Font-Size="Small">Error Message</asp:Label>
		</form>
	</body>
</html>
