<%@ Page Language="vb" AutoEventWireup="false" Codebehind="ExtractXrefFromDwg.aspx.vb" Inherits="WebArchives.iDAM.WebClient.ExtractXrefFromDwg"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>ExtractXrefFromDwg</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<P><INPUT id="thefile" type="file" name="thefile" runat="server"></P>
			<P>
				<asp:Button id="Button1" runat="server" Text="Extract Xref"></asp:Button></P>
			<P>
				<asp:ListBox id="ListBox1" runat="server" Width="264px"></asp:ListBox></P>
		</form>
	</body>
</HTML>
