<%@ Page Language="vb" AutoEventWireup="false" Codebehind="FileUpload.aspx.vb" EnableViewState="false"  Inherits="WebArchives.iDAM.WebClient.FileUpload"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>FileUpload</title>
		<meta content="Microsoft Visual Studio.NET 7.0" name="GENERATOR">
		<meta content="Visual Basic 7.0" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<P>file:<BR>
				<INPUT id="thefile" type="file" name="thefile" runat="server"><BR>
				repositoryId:<BR>
				<asp:textbox id="repository_id" runat="server">1</asp:textbox>
				<BR>
				projectid:<BR>
				<asp:textbox id="project_id" runat="server">21725714</asp:textbox><BR>
				securityId:<BR>
				<asp:TextBox id="security_id" runat="server">3</asp:TextBox><BR>
				userId<BR>
				<asp:TextBox id="user_id" runat="server">1</asp:TextBox><BR>
				fileName<BR>
				<asp:TextBox id="name" runat="server">test.jpg</asp:TextBox><BR>
				description<BR>
				<asp:TextBox id="description" runat="server"></asp:TextBox><BR>
				categoryId<BR>
				<asp:TextBox id="category_id" runat="server">0</asp:TextBox><BR>
				instanceId:<BR>
				<asp:TextBox id="instance_id" runat="server">fce</asp:TextBox><BR>
				redirect to:<BR>
				<asp:TextBox id="txtRedirect" runat="server">http://localhost/IDAMClient/GetBinaryFileTest.aspx</asp:TextBox><BR>
				type<BR>
				<asp:DropDownList id="asset_type" runat="server">
					<asp:ListItem>mainasset</asp:ListItem>
					<asp:ListItem>userasset</asp:ListItem>
					<asp:ListItem>resume</asp:ListItem>
				</asp:DropDownList></P>
			<P>
				<asp:Button id="Button1" runat="server" Text="Upload"></asp:Button></P>
			<P>
				<asp:Label id="Label1" runat="server">Label</asp:Label></P>
			<P>&nbsp;</P>
			<P>&nbsp;</P>
			<P>&nbsp;</P>
		</form>
	</body>
</HTML>
