<%@ Page Language="vb" AutoEventWireup="false" Codebehind="FileUpload_Multi.aspx.vb"  EnableViewState="false" Inherits="WebArchives.iDAM.WebClient.FileUpload_Multi"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>FileUpload_Multi</title>
		<meta content="Microsoft Visual Studio.NET 7.0" name="GENERATOR">
		<meta content="Visual Basic 7.0" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<table>
				<tr>
					<td>
						<P>file:<BR>
							<INPUT id="thefile1" type="file" name="thefile" runat="server"><BR>
							Name<BR>
							<asp:textbox id="name1" runat="server">asset 1</asp:textbox><BR>
							description<BR>
							<asp:textbox id="description1" runat="server"></asp:textbox><BR>
						</P>
					</td>
					<td>
						<P>file:<BR>
							<INPUT id="thefile2" type="file" name="thefile" runat="server"><BR>
							Name<BR>
							<asp:textbox id="name2" runat="server">asset 2</asp:textbox><BR>
							description<BR>
							<asp:textbox id="description2" runat="server"></asp:textbox><BR>
						</P>
					</td>
					<td>
						<P>file:<BR>
							<INPUT id="thefile3" type="file" name="thefile" runat="server"><BR>
							Name<BR>
							<asp:textbox id="name3" runat="server">asset 3</asp:textbox><BR>
							description<BR>
							<asp:textbox id="description3" runat="server"></asp:textbox><BR>
						</P>
					</td>
				</tr>
				<tr>
					<td>
						<P>file:<BR>
							<INPUT id="thefile4" type="file" name="thefile" runat="server"><BR>
							Name<BR>
							<asp:textbox id="name4" runat="server">asset 4</asp:textbox><BR>
							description<BR>
							<asp:textbox id="description4" runat="server"></asp:textbox><BR>
						</P>
					</td>
					<td>
						<P>file:<BR>
							<INPUT id="thefile5" type="file" name="thefile" runat="server"><BR>
							Name<BR>
							<asp:textbox id="name5" runat="server">asset 5</asp:textbox><BR>
							description<BR>
							<asp:textbox id="description5" runat="server"></asp:textbox><BR>
						</P>
					</td>
					<td>
						<P>file:<BR>
							<INPUT id="thefile6" type="file" name="thefile" runat="server"><BR>
							Name<BR>
							<asp:textbox id="name6" runat="server">asset 6</asp:textbox><BR>
							description<BR>
							<asp:textbox id="description6" runat="server"></asp:textbox><BR>
						</P>
					</td>
				</tr>
				<tr>
					<td>
						<P>file:<BR>
							<INPUT id="thefile7" type="file" name="thefile" runat="server"><BR>
							Name<BR>
							<asp:textbox id="name7" runat="server">asset 7</asp:textbox><BR>
							description<BR>
							<asp:textbox id="description7" runat="server"></asp:textbox><BR>
						</P>
					</td>
					<td>
						<P>file:<BR>
							<INPUT id="thefile8" type="file" name="thefile" runat="server"><BR>
							Name<BR>
							<asp:textbox id="name8" runat="server">asset 8</asp:textbox><BR>
							description<BR>
							<asp:textbox id="description8" runat="server"></asp:textbox><BR>
						</P>
					</td>
					<td>
						<P>file:<BR>
							<INPUT id="thefile9" type="file" name="thefile" runat="server"><BR>
							Name<BR>
							<asp:textbox id="name9" runat="server">asset 9</asp:textbox><BR>
							description<BR>
							<asp:textbox id="description9" runat="server"></asp:textbox><BR>
						</P>
					</td>
				</tr>
				<tr>
					<td>
						<P>file:<BR>
							<INPUT id="thefile10" type="file" name="thefile" runat="server"><BR>
							Name<BR>
							<asp:textbox id="name10" runat="server">asset 10</asp:textbox><BR>
							description<BR>
							<asp:textbox id="description10" runat="server"></asp:textbox><BR>
						</P>
					</td>
				</tr>
			</table>
			<P>
				<BR>
				repositoryId:<BR>
				<asp:textbox id="repository_id" runat="server">1</asp:textbox><BR>
				projectid:<BR>
				<asp:textbox id="project_id" runat="server">21725714</asp:textbox><BR>
				securityId:<BR>
				<asp:textbox id="security_id" runat="server">3</asp:textbox><BR>
				userId<BR>
				<asp:textbox id="user_id" runat="server">1</asp:textbox><BR>
				categoryId<BR>
				<asp:textbox id="category_id" runat="server">0</asp:textbox><BR>
				instanceId:<BR>
				<asp:textbox id="instance_id" runat="server">fce</asp:textbox><BR>
				redirect to:<BR>
				<asp:textbox id="txtRedirect" runat="server">http://localhost/IDAMClient/Download.aspx</asp:textbox><BR>
				parentAssetID:<BR>
				<asp:TextBox id="parent_asset_id" runat="server"></asp:TextBox><BR>
			</P>
			<P></P>
			<P><asp:button id="submit2" runat="server" Text="Create Posting"></asp:button></P>
			<P><asp:button id="submit3" runat="server" Text="Create Posting"></asp:button></P>
			<P><asp:button id="submit4" runat="server" Text="Create Posting"></asp:button></P>
			<P><asp:button id="submit5" runat="server" Text="Create Posting"></asp:button></P>
			<P><asp:button id="submit6" runat="server" Text="Create Posting"></asp:button></P>
			<P><asp:button id="submit" runat="server" Text="Create Posting"></asp:button></P>
			<P><asp:label id="Label1" runat="server">Label</asp:label></P>
			<P>&nbsp;</P>
			<P>&nbsp;</P>
			<P>&nbsp;</P>
		</form>
	</body>
</HTML>
