<%@ Page Language="vb" AutoEventWireup="false" Codebehind="GetSessionID.aspx.vb" Inherits="WebArchives.iDAM.WebClient.GetSessionID"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>GetSessionID</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<asp:Label id="lblSessionID" runat="server">Label</asp:Label>
		</form>
	</body>
</HTML>
