<%@ Page Language="vb" AutoEventWireup="false" Codebehind="RotateAndSaveAsset.aspx.vb" Inherits="WebArchives.iDAM.WebClient.RotateAndSaveAsset"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>RotateAndSaveAsset</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<P>AssetId<BR>
				<asp:textbox id="sAssetId" runat="server">21483738</asp:textbox><BR>
				instance_id<BR>
				<asp:TextBox id="sInstanceId" runat="server">IDAM_RIM</asp:TextBox>
				<BR>
				redirect<BR>
				<asp:TextBox id="sUrlRedirect" runat="server">RetrieveAsset.aspx?id=21483738&instance=IDAM_RIM&type=asset&size=2</asp:TextBox><BR>
				angle<BR>
				<asp:TextBox id="sAngle" runat="server">270000</asp:TextBox><BR>
				<BR>
				<asp:Button id="RotateAndSave" runat="server" Text="Rotate Image"></asp:Button></P>
			<P></P>
		</form>
	</body>
</HTML>
