<%@ Page Language="vb" AutoEventWireup="false" Codebehind="UploadAssetFile.aspx.vb" Inherits="WebArchives.iDAM.WebClient.UploadAssetFile" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>UploadAssetFile</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<P>thefile<BR>
				<INPUT id="thefile" type="file" name="thefile" runat="server"><BR>
				id<BR>
				<asp:textbox id="object_id" runat="server">21192852</asp:textbox><BR>
				type<BR>
				<asp:DropDownList id="type" runat="server">
					<asp:ListItem Selected="True" Value="project">project</asp:ListItem>
					<asp:ListItem Value="news">news</asp:ListItem>
					<asp:ListItem Value="contact">contact</asp:ListItem>
					<asp:ListItem Value="newspdf">newspdf</asp:ListItem>
					<asp:ListItem Value="asset">asset</asp:ListItem>
				</asp:DropDownList><BR>
				instance_id<BR>
				<asp:TextBox id="instance_id" runat="server">IDAM_RIM</asp:TextBox><BR>
				<BR>
				redirect<BR>
				<asp:TextBox id="txtRedirect" runat="server">UploadAssetFile.aspx</asp:TextBox><BR>
				<BR>
				<asp:Button id="upload" runat="server" Text="Change Image"></asp:Button></P>
		</form>
		<P></P>
	</body>
</HTML>