#menuTopPlace {
width: 100%;
position: absolute;
top: 145px;
width: 100%;
height: 38px;
margin: 0;
padding: 0;
}

#menuTop {
position: relative;
width: 979px;
height: 38px;
line-height: 38px;
display: block;
padding: 0;
margin: 0 auto 0 auto;
border-right: 1px solid #666F88;
}

#menuTop ul {
margin: 0;
padding: 0;
list-style-type: none;
float: right;
}

/*Top level list items*/
#menuTop>ul>li{
height: 36px;
line-height: 36px;
position: relative;
display: inline;
float: left;
width: 106px;
border: 1px solid #666F88;
border-right:0;
background: #2F384E url(../images/menuBG.png) repeat-x scroll 0 0;
}

/*Top level menu link items style*/
#menuTop>ul>li>a{
display: block;
padding: 0;
font-weight: normal;
font-size: 13px;
color: #AFB1B9;
text-decoration: none;
height: 36px;
line-height: 36px;
text-align: center;
margin: 0;
text-transform: uppercase;
}

/*Lower menu link items style*/
#menuTop ul li li a {
display: block;
border-left: 1px solid #717275;
border-right: 1px solid #717275;
color: #AFB1B9;
text-decoration: none;
font-size: 13px !important;
line-height: 22px;
}

#menuTop ul li a:hover {
color: #fff;
}

#menuTop ul li li li {
}

#menuTop>ul>li.link.first>a{ 
padding-left: 27px;
}

#menuTop>ul>li:hover>a {
color: #fff;
}

/*1st sub level menu*/
#menuTop ul li ul{
position: absolute;
display: none;
left: 0;
display: block;
visibility: hidden;
margin-top: -2px;
margin-left: -1px;
}

/*Sub level menu list items (undo style from Top level List Items)*/
#menuTop ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
#menuTop ul li ul li ul{
}

/* Sub level menu links style */
#menuTop ul li ul li a {
width: 215px; /*width of sub menus*/
background: #5E5F64;
color: #DCDDE0;
padding: 5px 3px 5px 19px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid #828388;
position: relative;
z-index: 9999 !important;
opacity: .95;
filter:alpha(opacity=95);
}

#menuTop ul li ul li a:hover{ /*sub menus hover style*/
background: transparent url(gt.gif) no-repeat scroll 19px 13px;
width: 204px;
color: #fff;
display: block;
padding-left: 30px;
}

#menuTop ul li li .menuMore {
display: none;
}

#menuTop .selected * {
color: #fff;
}

#menuTop .selected {
background:#9CA1A4 url(../images/headers.png) repeat-x scroll 50% -284px;
}

#home #menuTop .selected {
background:#9CA1A4 url(../images/headers.png) repeat-x scroll 50% -284px;
}

#about #menuTop .selected {
background:#313950 url(../images/headers.png) repeat-x scroll 50% -35px;
}

#solution #menuTop .selected {
background:#BCA927 url(../images/headers.png) repeat-x scroll 50% -110px;
}

#case #menuTop .selected {
background:#EA9D32 url(../images/headers.png) repeat-x scroll 50% -201px;
}

#news #menuTop .selected {
background:#9CA1A4 url(../images/headers.png) repeat-x scroll 50% -284px;
}

#contact #menuTop .selected {
background:#7FAC67 url(../images/headers.png) repeat-x scroll 50% -365px;
}

#menuTop>ul>li:hover {
background:#9CA1A4 url(../images/headers.png) repeat-x scroll 50% -284px;
}

home #menuTop li li:hover a {
background: #9CA1A4 url(gt.gif) no-repeat scroll 19px 13px;
}

#about #menuTop li:hover {
background:#313950 url(../images/headers.png) repeat-x scroll 50% -35px;
}

#solution #menuTop li:hover {
background:#BCA927 url(../images/headers.png) repeat-x scroll 50% -110px;
}

#case #menuTop li:hover {
background:#EA9D32 url(../images/headers.png) repeat-x scroll 50% -201px;
}

#news #menuTop li:hover {
background:#9CA1A4 url(../images/headers.png) repeat-x scroll 50% -284px;
}

#contact #menuTop li:hover {
background:#7FAC67 url(../images/headers.png) repeat-x scroll 50% -365px;
}
