﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="contact.aspx.vb" Inherits="contactWebForm" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
Contact
    <form id="contact_aspx" runat="server">
    <div>
    
       Name:
   <input type="text" name="Name" id="nameId" runat="server"/>
   <br />

   Email:
   <input type="text" name="Email" id="emailId" runat="server" />
   <br />

   Interest:
   <input type="text" name="Interest" id="interestId" runat="server"/>
   <br />

   Comments:
   <textarea rows="10" cols="10" name="Comments" id="commentsId" runat="server"></textarea>
   <br />

   <asp:Button ID="SubmitButton" runat="server" Text="Submit" />    
    
    </div>
    </form>
</body>
</html>
