body .cms {
background: transparent url(cmsBg.png) repeat scroll 0 0;
opacity: .8;
}

.cmsLogout {
position: absolute;
top: 0;
right: 0;
}

.cmsPassword {
position: absolute;
top: 0;
right: 115px;
min-width: 110px;
}

.cmsGoogleAnalytics {
position: absolute;
top: 0;
right: 255px;
min-width: 150px;
}

span.cmsGroupAdd, span.cmsEdit, span.cmsEditMetadata, span.cmsLogout, span.cmsPassword, span.cmsGoogleAnalytics {
position: absolute;
display: block;
font-style: normal !important;
height: 16px;
border: 1px solid #000;
z-index: 900;
color: #f5f5f5 !important;
font-size: 13px;
line-height: 17px;
text-align: center;
font-weight: bold;
font-family: arial, helvetica, sans-serif;
outline: 0;
cursor: pointer;
text-decoration: none;
opacity: 1;
background: transparent url(cmsButtonBg.png) repeat scroll 0 0;
padding: 0;
overflow: hidden;
text-transform: uppercase;
}

span.cmsGroupAdd:hover, span.cmsEdit:hover, span.cmsEditMetadata:hover, span.cmsLogout:hover, span.cmsPassword:hover, span.cmsGoogleAnalytics:hover {
text-decoration: none;
background: #ff5555;
color: #fff;
}

span.cmsEditMetadata {
top: 0;
}

span.cmsGroupAdd, span.cmsEdit {
width: 51px;
}

span.cmsGroupAdd {
margin-top: -22px;
}

span.cmsEditMetadata, span.cmsLogout {
min-width: 85px;
}

ins.cmsGroupItem {
display: block;
background: transparent url(cmsGroupBg.png) repeat scroll 0 0;
outline: 1px dotted #C11945;
}

/* Start Modal */

#cmsModalIframe {
position: fixed;
margin: auto;
top: 90px;
left: 15%;
border: 8px solid #000;
padding: 0;
display: none;
z-index: 9112 !important;
opacity: 0;
visibility: hidden
}

#cmsModalOverlay {
position: fixed;
margin: 0;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 0;
display: none;
background: #707070;
z-index: 1111;
}

#cmsModalLoading {
left: 48%;
position: fixed;
z-index: 1114;
top: 33%;
width: 32px;
height: 32px;
padding: 20px;
border: 5px solid #111;
background: #fff url(loading.gif) no-repeat scroll 50% 50%;
display: none;
}

/* End Modal */

/* Start Edit */

span.boxClose {
position: absolute;
display: block;
top: 0;
right: 0;
width: 30px;
height: 32px;
background: transparent url(closebox.png) no-repeat scroll 100% 2px;
cursor: pointer;
}

span.boxClose:hover {
background-position: 100% -28px;
}

body.editor {
padding: 0;
margin: 0;
background: #fff;
font-size: 14px;
font-family: arial, helvetica, sans-serif;
height: 100%;
}

body.editor .wrapper {
padding: 10px 20px 10px 20px;
margin: 0;
}

body.editor h1 {
text-align: center;
font-size: 19px;
line-height: 22px;
text-transform: capitalize;
}

body.editor form {
display: block;
margin: 0;
padding: 0;
}

body.editor form label {
display: block;
margin: 0;
padding: 0;
font-weight: bold;
float: none;
clear: both;
}

body.editor form #fields input {
display: block;
margin: 4px 0 8px 0;
width: 100%;
}

body.editor form #fields input.checkbox {
display: inline;
margin: auto !important;
width: auto !important;
}

body.editor form #fields .checkboxSpan {
display: block;
position: relative;
}

body.editor form #fields .checkboxSpan label {
display: inline;
}

body.editor form #fields .checkboxSpan input {
display: inline;
width: inherit;
position: relative;
top: 3px;
}

body.editor form #fields textarea {
display: block;
margin: 4px 0 8px 0;
width: 100%;
height: 220px;
}

body.editor form #fields textarespan.cmsRich {
height: 270px;
}

body.editor form #fields .item textarea, body.editor form #fields .set textarea {
height: 70px;
}

body.editor form #fields span.inp {
display: block;
padding: 4px 4px 2px 4px;
background: #eee;
}

body.editor .actions {
display: block;
margin: 15px 0 28px 0;
text-align: center;
position: relative;
}

body.editor input#submit, body.editor input#cancel, body.editor input#login {
display: inline;
width: auto;
cursor: pointer;
min-width: 100px;
}

body.editor input#add {
display: block;
width: auto;
cursor: pointer;
min-width: 100px;
margin: 0 auto 10px auto;
}

body.editor p.item {
background: #eee;
border: 1px solid #aaa;
padding: 6px 8px 6px 6px;
margin: 10px 0 10px 0;
}

body.editor .item .itemUp {
width: 22px;
height: 22px;
background: transparent url(ItemActions.png) no-repeat scroll 0 -22px;
display: block;
float: right;
margin: 3px 0 0 0;
cursor: pointer;
}

body.editor .item .itemUp:hover {
background: transparent url(ItemActions.png) no-repeat scroll -22px -22px;
}

body.editor .item .itemRemove {
width: 22px;
height: 22px;
background: transparent url(ItemActions.png) no-repeat scroll 0 -44px;
display: block;
float: right;
margin: 3px 0 0 0;
cursor: pointer;
}

body.editor .item .itemRemove:hover {
background: transparent url(ItemActions.png) no-repeat scroll -22px -44px;
}

body.editor .item .itemDown {
width: 22px;
height: 22px;
background: transparent url(ItemActions.png) no-repeat scroll 0 0;
display: block;
float: right;
margin: 3px 3px 0 0;
cursor: pointer;
}

body.editor .item .itemDown:hover {
background: transparent url(ItemActions.png) no-repeat scroll -22px 0;
}


body.editor .item .itemUp:hover {
background: transparent url(ItemActions.png) no-repeat scroll -22px -22px;
}

body.editor .item .itemUp.first, body.editor .item .itemDown.last {
display: none;
}

.cmsGroupItemUp {
position: absolute;
display: block;
width: 22px;
height: 20px;
border: 0;
z-index: 900;
outline: 0;
cursor: pointer;
text-decoration: none;
opacity: 1;
padding: 0;
overflow: hidden;
background: transparent url(ItemActions.png) no-repeat scroll 0 -22px;
display: block;
margin: -12px 0 0 63px;
}

.cmsGroupItemUp:hover {
background: transparent url(ItemActions.png) no-repeat scroll -22px -22px;
}

.cmsGroupItemDown {
position: absolute;
display: block;
width: 22px;
height: 20px;
border: 0;
z-index: 900;
outline: 0;
cursor: pointer;
text-decoration: none;
opacity: 1;
padding: 0;
overflow: hidden;
background: transparent url(ItemActions.png) no-repeat scroll 0 0;
display: block;
margin: -12px 0 0 85px;
}

.cmsGroupItemDown:hover {
background: transparent url(ItemActions.png) no-repeat scroll -22px 0;
}

.cmsGroupItemDelete, .cmsGroupItemRemove {
position: absolute;
display: block;
width: 22px;
height: 20px;
border: 0;
z-index: 900;
outline: 0;
cursor: pointer;
text-decoration: none;
opacity: 1;
padding: 0;
overflow: hidden;
background: transparent url(ItemActions.png) no-repeat scroll 0 -44px;
display: block;
margin: -12px 0 0 107px;
}

.cmsGroupItemDelete:hover {
background: transparent url(ItemActions.png) no-repeat scroll -22px -44px;
}

.cmsGroupItemUp.cmsGroupItemFirst {
display: none !important;
}

.cmsGroupItemUp.cmsGroupItemLast {
margin: -12px 0 0 85px;
}

.cmsGroupItemDown.cmsGroupItemFirst {
margin: -12px 0 0 85px;
}

.cmsGroupItemDown.cmsGroupItemLast {
display: none !important;
}

body.editor form #fields .item input {
width: 85%;
float: left;
}

body.editor form #fields .item textarea {
clear: both;
}

body.editor iframe#collect {
width:3px;
height:3px;
visibility:hidden;
position:absolute;
left:0;
top:0;
border:0;
}

/* End Edit */