<%@ Page Language="vb" AutoEventWireup="false" Inherits="IdamAdmin.SlideShowNew" CodeBehind="SlideShowNew.aspx.vb" %>
<!DOCTYPE html>
<html lang="sv">
    <head>
        <title>IDAM Slideshow</title>
        <!--<script src="../js/jquery-1.4.2.min.js" type="text/javascript"></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="http://cdn.jquerytools.org/1.2.3/all/jquery.tools.min.js"></script>
<script src="src/galleria-1.2.5.js"></script>




    </head>
<body STYLE="background-color: #000000">
<div id="galleria">          

</div>

<script>
    $(document).ready(function() {

var data = [
<asp:Literal ID="ltrslideshowimages" runat="server"></asp:Literal>
];



    Galleria.debug = true;
    
    $('#galleria').galleria({
        image_crop: false,
        preload: 3,
        transition: 'slide',
        frame_color: '#000',
        data_source: data,
        width:1010,
       height:780

    });
    Galleria.loadTheme('src/themes/classic/galleria.classic.js');
   
    });
     function gotoAsset(id)
    {
        window.opener.NavigateToAsset2(id);
        window.close();
    }
    
</script>
   
    </body>
</html>






   