<%@ Control Language="C#" ClassName="EditorTemplate" %>

<table cellspacing="0" cellpadding="0" width="100%" class="wrapper">
  <tr>
    <td width="9" height="30" class="top-left"></td>
    <td width="100%" height="30" class="top">

      <div class="toolbar-row top">
        $$ToolBars[0]$$
      </div>

    </td>
    <td width="9" height="30" class="top-right"></td>
  </tr>

  <tr class="textfield-statusbar">
    <td width="9" height="31" class="left"><img alt="" src="<%= this.Attributes["SkinFolderLocation"] %>/images/toolbar/_blank.png" width="9" height="31" /</td>
    <td width="100%" height="31" class="mid">
      <div id="status-bar">
        <div class="mid">
          <div id="tabs">
            <a onclick="$$parent$$.DesignMode();select_statusbar_button(this);this.blur();return false;" href="javascript:void(0);" class="button-selected"><span><img src="<%= this.Attributes["SkinFolderLocation"] %>/images/editor/icon-design.png" style="display:block;" width="16" height="16" alt="Design" class="icon" />Design</span></a>
            <a onclick="$$parent$$.SourceMode();select_statusbar_button(this);this.blur();return false;" href="javascript:void(0);" class="button"><span><img src="<%= this.Attributes["SkinFolderLocation"] %>/images/editor/icon-html.png" style="display:block;" width="16" height="16" alt="HTML" class="icon" />HTML</span></a>
          </div>

          <div id="path-breadcrumbs">
            <div class="left">Path:</div>
            <div class="mid">
              $$breadcrumbs$$
            </div>
            <div class="right"></div>
          </div>

          <div id="count">
            <div class="words" title="Word Count">
              <div class="label">Words:</div>
              <div class="value">$$wordcount$$</div>
            </div>
            <div class="chars" title="Character Count">
              <div class="label">Chars:</div>
              <div class="value">$$charactercount$$</div>
            </div>
          </div>
        </div>
      </div>
    </td>
    <td width="9" height="31" class="right"><img alt="" src="<%= this.Attributes["SkinFolderLocation"] %>/images/toolbar/_blank.png" width="9" height="31" /></td>
  </tr>
</table>