

.jcarousel-skin-floorplate .jcarousel-container {
    background: transparent;
}

.jcarousel-skin-floorplate .jcarousel-direction-rtl {
	direction: rtl;
}


	.jcarousel-skin-floorplate .jcarousel-container-horizontal {
	    width: auto;
	    height:auto;
	    padding: 0;
	    border: 1px solid #999999;
	    background: url('../../images/floorplate_selector_bg.png');
	    position:relative;
	    
	}
		.jcarousel-skin-floorplate .jcarousel-clip-horizontal {
	    width:  840px;
	    height: 442px;
	}
	
	
	.jcarousel-skin-floorplate .jcarousel-item {
	    width: 840px;
	    height: 442px;
	    position: relative;
	}
	.jcarousel-skin-floorplate .jcarousel-item img {
		width: 840px;
		height:442px;	
	}

.find_text {
    position: absolute;
    z-index: 10;
    width: 177px;
    height: 43px;
    font-family: Open Sans;
    font-size: 12px;
    color: #616263;
    top: 306px;
    left: 20px;
}
.find_button {
    width: 177px;
    height: 43px;
    background: url('../../images/floorplates/find_my_apartment_button_bg.png');
    position: absolute;
    z-index: 10;
    font-family: Oswald;
    font-size: 16px;
    color: #616263;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    top: 346px;
    left: 20px;
    cursor: pointer;
}


.jcarousel-skin-floorplate .jcarousel-clip {
    overflow: hidden;
}


.jcarousel-skin-floorplate .jcarousel-item .floor_title {
    left: 35px;
    top: 20px;
    position: absolute;
    font-family: Oswald;
    font-size: 20px;
    color: #616263;
    z-index: 10;
    text-transform: uppercase;
}
.jcarousel-skin-floorplate .jcarousel-item .floor_selector {
    position: absolute;
    right: 25px;
    z-index: 10;
    width: 159px;
    height: 40px;
    background: url(../../images/floorplates/floor_selector_bg.png);
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 16px;
    color: #616263;
    line-height: 40px;
    cursor: pointer;
}
.jcarousel-skin-floorplate .jcarousel-item .floor_selector_active, .jcarousel-skin-floorplate .jcarousel-item .floor_selector:hover{
    background: url(../../images/floorplates/floor_selector_active_bg.png);
    color: white;
}
.jcarousel-skin-floorplate .jcarousel-item .floor_selector div {
    margin-left: 50px;
}
#floor_17 {
    top: 5px;
}
#floor_15 {
    top: 45px;
}
#floor_14 {
    top: 85px;
}
#floor_11 {
    top: 125px;
}
#floor_10 {
    top: 165px;
}
#floor_9 {
    top: 205px;
}
#floor_7 {
    top: 245px;
}
#floor_6 {
    top: 285px;
}
#floor_5 {
    left: 25px;
    top: 75px;
}
#floor_4 {
    left: 25px;
    top: 115px;
}
#floor_3 {
    left: 25px;
    top: 155px;
}
#floor_2 {
    left: 25px;
    top: 195px;
}
#floor_1 {
    left: 25px;
    top: 235px;
}

div.live_here_carousel_text {
    color: #dbdbda;
    font-family: Oswald;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 20px;
}
div.live_here_carousel_text span.yellow {
    text-transform: uppercase;	
}

.jcarousel-skin-floorplate .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}


.jcarousel-skin-floorplate .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/*
Availability buttons
*/

.jcarousel-skin-floorplate .jcarousel-availability {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent url(../../images/floorplates/availability.png) no-repeat 0 0;
    z-index: 100;
}
.jcarousel-skin-floorplate .jcarousel-availability:hover, .jcarousel-skin-floorplate .jcarousel-availability:focus {
    background-position: -30px 0;
}

.jcarousel-skin-floorplate .jcarousel-availability-disabled,
.jcarousel-skin-floorplate .jcarousel-availability-disabled:hover,
.jcarousel-skin-floorplate .jcarousel-availability-disabled:focus,
.jcarousel-skin-floorplate .jcarousel-availability-disabled:active {
    cursor: default;
    background-position: -60px 0;
}
/**
 *  Horizontal Buttons
 */

 .jcarousel-skin-floorplate .jcarousel-next-manual-disable {
 	background: transparent;
 	color: transparent;
 }
 
.jcarousel-skin-floorplate .jcarousel-next-horizontal {
    position: absolute;
    top: 202px;
    right: 7px;
    width: 40px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
    /*deprecated
    font-family: Oswald;
    font-size: 16px;
    color: #424242;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    */
    z-index: 100;
}



.jcarousel-skin-floorplate .jcarousel-next-horizontal:hover,
.jcarousel-skin-floorplate .jcarousel-next-horizontal:focus
{
     background-position: -40px 0;
}

.jcarousel-skin-floorplate .jcarousel-next-horizontal:active {
    background-position: -80px 0;
}

.jcarousel-skin-floorplate .jcarousel-next-disabled-horizontal,
.jcarousel-skin-floorplate .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-floorplate .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-floorplate .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -120px 0;
    color: transparent;
}

.jcarousel-skin-floorplate .jcarousel-prev-horizontal {
    position: absolute;
    top: 202px;
    left: 7px;
    width: 40px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
    /*deprecated
    font-family: Oswald;
    font-size: 16px;
    color: #424242;
    text-transform: uppercase;
    text-align: center;
    line-height: 45px;
    */
    z-index: 100;
}


.jcarousel-skin-floorplate .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-floorplate .jcarousel-prev-horizontal:focus {
    background-position: -40px 0;
}

.jcarousel-skin-floorplate .jcarousel-prev-horizontal:active {
    background-position: -80px 0;
}

.jcarousel-skin-floorplate .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-floorplate .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-floorplate .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-floorplate .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -120px 0;
    color: transparent;
}


/*unit positions*/
/*
#unit_101{
	top:170px;
	left:682px;	
}
#unit_102{
	top:137px;
	left:682px;	
}
#unit_103{
	top:100px;
	left:682px;	
}
#unit_104{
	top:60px;
	left:682px;	
}
#unit_105{
	top:15px;
	left:682px;	
}
#unit_106{
	top:15px;
	left:632px;	
}
#unit_107{
	top:105px;
	left:632px;	
}
#unit_108{
	top:100px;
	left:523px;	
}
#unit_109{
	top:15px;
	left:437px;	
}
#unit_110{
	top:15px;
	left:400px;	
}
#unit_111{
	top:15px;
	left:360px;	
}
#unit_112{
	top:55px;
	left:360px;	
}
#unit_113{
	top:100px;
	left:360px;	
}
#unit_114{
	top:310px;
	left:360px;	
}
#unit_115{
	top:310px;
	left:490px;	
}
#unit_116{
	top:310px;
	left:530px;	
}
#unit_117{
	top:310px;
	left:565px;	
}
#unit_118{
	top:310px;
	left:615px;	
}
#unit_119{
	top:310px;
	left:680px;	
}
#unit_120{
	top:275px;
	left:680px;	
}
#unit_121{
	top:240px;
	left:680px;	
}
#unit_122{
	top:310px;
	left:260px;	
}
#unit_123{
	top:310px;
	left:215px;	
}
#unit_124{
	top:310px;
	left:165px;	
}
#unit_125{
	top:310px;
	left:115px;	
}
*/
/*using percent instead so that they can scale*/
#unit_101{
	top:43.46%;
	left:88.19%;	
}
#unit_102{
	top:70.99%;
	left:88.19%;	
}
#unit_103{
	top:20.62%;
	left:88.19%;	
}
#unit_104{
	top:75.57%;
	left:65.19%;	
}
#unit_105{
	top:13.39%;
	left:70.19%;	
}
#unit_106{
	top:75.39%;
	left:55.23%;	
}
#unit_107{
	top:13.75%;
	left:55.23%;	
}
#unit_108{
	top:70.14%;
	left:42.86%;	
}
#unit_109{
	top:13.75%;
	left:42.86%;	
}
#unit_110{
	top:70.14%;
	left:27.61%;	
}
#unit_111{
	top:13.75%;
	left:27.61%;	
}
#unit_112{
	top:75.39%;
	left:6.86%;	
}
#unit_113{
	top:13.75%;
	left:6.86%;	
}
#unit_114{
	top:43.46%;
	left:6.86%;	
}


#unit_201{
	top:43.46%;
	left:88.19%;	
}
#unit_202{
	top:70.99%;
	left:88.19%;	
}
#unit_203{
	top:20.62%;
	left:88.19%;	
}
#unit_204{
	top:75.57%;
	left:65.19%;	
}
#unit_205{
	top:13.39%;
	left:70.19%;	
}
#unit_206{
	top:75.39%;
	left:55.23%;	
}
#unit_207{
	top:13.75%;
	left:55.23%;	
}
#unit_208{
	top:70.14%;
	left:42.86%;	
}
#unit_209{
	top:13.75%;
	left:42.86%;	
}
#unit_210{
	top:70.14%;
	left:27.61%;	
}
#unit_211{
	top:13.75%;
	left:27.61%;	
}
#unit_212{
	top:75.39%;
	left:6.86%;	
}
#unit_213{
	top:13.75%;
	left:6.86%;	
}
#unit_214{
	top:43.46%;
	left:6.86%;	
}


#unit_301{
	top:43.46%;
	left:88.19%;	
}
#unit_302{
	top:70.99%;
	left:88.19%;	
}
#unit_303{
	top:20.62%;
	left:88.19%;	
}
#unit_304{
	top:75.57%;
	left:65.19%;	
}
#unit_305{
	top:13.39%;
	left:70.19%;	
}
#unit_306{
	top:75.39%;
	left:55.23%;	
}
#unit_307{
	top:13.75%;
	left:55.23%;	
}
#unit_308{
	top:70.14%;
	left:42.86%;	
}
#unit_309{
	top:13.75%;
	left:42.86%;	
}
#unit_310{
	top:70.14%;
	left:27.61%;	
}
#unit_311{
	top:13.75%;
	left:27.61%;	
}
#unit_312{
	top:75.39%;
	left:6.86%;	
}
#unit_313{
	top:13.75%;
	left:6.86%;	
}
#unit_314{
	top:43.46%;
	left:6.86%;	
}




#unit_401{
	top:43.46%;
	left:88.19%;	
}
#unit_402{
	top:70.99%;
	left:88.19%;	
}
#unit_403{
	top:20.62%;
	left:88.19%;	
}
#unit_404{
	top:75.57%;
	left:65.19%;	
}
#unit_405{
	top:13.39%;
	left:70.19%;	
}
#unit_406{
	top:75.39%;
	left:55.23%;	
}
#unit_407{
	top:13.75%;
	left:55.23%;	
}
#unit_408{
	top:70.14%;
	left:42.86%;	
}
#unit_409{
	top:13.75%;
	left:42.86%;	
}
#unit_410{
	top:70.14%;
	left:27.61%;	
}
#unit_411{
	top:13.75%;
	left:27.61%;	
}
#unit_412{
	top:75.39%;
	left:6.86%;	
}
#unit_413{
	top:13.75%;
	left:6.86%;	
}
#unit_414{
	top:43.46%;
	left:6.86%;	
}



#unit_501{
	top:43.46%;
	left:88.19%;	
}
#unit_502{
	top:70.99%;
	left:88.19%;	
}
#unit_503{
	top:20.62%;
	left:88.19%;	
}
#unit_504{
	top:75.57%;
	left:65.19%;	
}
#unit_505{
	top:13.39%;
	left:70.19%;	
}
#unit_506{
	top:75.39%;
	left:55.23%;	
}
#unit_507{
	top:13.75%;
	left:55.23%;	
}
#unit_508{
	top:70.14%;
	left:42.86%;	
}
#unit_509{
	top:13.75%;
	left:42.86%;	
}
#unit_510{
	top:70.14%;
	left:27.61%;	
}
#unit_511{
	top:13.75%;
	left:27.61%;	
}
#unit_512{
	top:75.39%;
	left:6.86%;	
}
#unit_513{
	top:13.75%;
	left:6.86%;	
}
#unit_514{
	top:43.46%;
	left:6.86%;	
}

#unit_601{
	top:43.46%;
	left:88.19%;	
}
#unit_602{
	top:70.99%;
	left:88.19%;	
}
#unit_603{
	top:20.62%;
	left:88.19%;	
}
#unit_604{
	top:75.57%;
	left:65.19%;	
}
#unit_605{
	top:13.39%;
	left:70.19%;	
}
#unit_606{
	top:75.39%;
	left:55.23%;	
}
#unit_607{
	top:13.75%;
	left:55.23%;	
}
#unit_608{
	top:70.14%;
	left:42.86%;	
}
#unit_609{
	top:13.75%;
	left:42.86%;	
}
#unit_610{
	top:70.14%;
	left:27.61%;	
}
#unit_611{
	top:13.75%;
	left:27.61%;	
}
#unit_612{
	top:75.39%;
	left:6.86%;	
}
#unit_613{
	top:13.75%;
	left:6.86%;	
}
#unit_614{
	top:43.46%;
	left:6.86%;	
}

#unit_701{
	top:43.46%;
	left:88.19%;	
}
#unit_702{
	top:70.99%;
	left:88.19%;	
}
#unit_703{
	top:20.62%;
	left:88.19%;	
}
#unit_704{
	top:75.57%;
	left:65.19%;	
}
#unit_705{
	top:13.39%;
	left:70.19%;	
}
#unit_706{
	top:75.39%;
	left:55.23%;	
}
#unit_707{
	top:13.75%;
	left:55.23%;	
}
#unit_708{
	top:70.14%;
	left:42.86%;	
}
#unit_709{
	top:13.75%;
	left:42.86%;	
}
#unit_710{
	top:70.14%;
	left:27.61%;	
}
#unit_711{
	top:13.75%;
	left:27.61%;	
}
#unit_712{
	top:75.39%;
	left:6.86%;	
}
#unit_713{
	top:13.75%;
	left:6.86%;	
}
#unit_714{
	top:43.46%;
	left:6.86%;	
}



#unit_801{
	top:43.46%;
	left:88.19%;	
}
#unit_802{
	top:70.99%;
	left:88.19%;	
}
#unit_803{
	top:20.62%;
	left:88.19%;	
}
#unit_804{
	top:75.57%;
	left:65.19%;	
}
#unit_805{
	top:13.39%;
	left:70.19%;	
}
#unit_806{
	top:75.39%;
	left:55.23%;	
}
#unit_807{
	top:13.75%;
	left:55.23%;	
}
#unit_808{
	top:70.14%;
	left:42.86%;	
}
#unit_809{
	top:13.75%;
	left:42.86%;	
}
#unit_810{
	top:70.14%;
	left:27.61%;	
}
#unit_811{
	top:13.75%;
	left:27.61%;	
}
#unit_812{
	top:75.39%;
	left:6.86%;	
}
#unit_813{
	top:13.75%;
	left:6.86%;	
}
#unit_814{
	top:43.46%;
	left:6.86%;	
}


#unit_901{
	top:43.46%;
	left:88.19%;	
}
#unit_902{
	top:70.99%;
	left:88.19%;	
}
#unit_903{
	top:20.62%;
	left:88.19%;	
}
#unit_904{
	top:75.57%;
	left:65.19%;	
}
#unit_905{
	top:13.39%;
	left:70.19%;	
}
#unit_906{
	top:75.39%;
	left:55.23%;	
}
#unit_907{
	top:13.75%;
	left:55.23%;	
}
#unit_908{
	top:70.14%;
	left:42.86%;	
}
#unit_909{
	top:13.75%;
	left:42.86%;	
}
#unit_910{
	top:70.14%;
	left:27.61%;	
}
#unit_911{
	top:13.75%;
	left:27.61%;	
}
#unit_912{
	top:75.39%;
	left:6.86%;	
}
#unit_913{
	top:13.75%;
	left:6.86%;	
}
#unit_914{
	top:43.46%;
	left:6.86%;	
}

#unit_1001{
	top:43.46%;
	left:88.19%;	
}
#unit_1002{
	top:70.99%;
	left:88.19%;	
}
#unit_1003{
	top:20.62%;
	left:88.19%;	
}
#unit_1004{
	top:75.57%;
	left:65.19%;	
}
#unit_1005{
	top:13.39%;
	left:70.19%;	
}
#unit_1006{
	top:75.39%;
	left:55.23%;	
}
#unit_1007{
	top:13.75%;
	left:55.23%;	
}
#unit_1008{
	top:70.14%;
	left:42.86%;	
}
#unit_1009{
	top:13.75%;
	left:42.86%;	
}
#unit_1010{
	top:70.14%;
	left:27.61%;	
}
#unit_1011{
	top:13.75%;
	left:27.61%;	
}
#unit_1012{
	top:75.39%;
	left:6.86%;	
}
#unit_1013{
	top:13.75%;
	left:6.86%;	
}
#unit_1014{
	top:43.46%;
	left:6.86%;	
}

#unit_1101{
	top:43.46%;
	left:88.19%;	
}
#unit_1102{
	top:70.99%;
	left:88.19%;	
}
#unit_1103{
	top:20.62%;
	left:88.19%;	
}
#unit_1104{
	top:75.57%;
	left:65.19%;	
}
#unit_1105{
	top:13.39%;
	left:70.19%;	
}
#unit_1106{
	top:75.39%;
	left:55.23%;	
}
#unit_1107{
	top:13.75%;
	left:55.23%;	
}
#unit_1108{
	top:70.14%;
	left:42.86%;	
}
#unit_1109{
	top:13.75%;
	left:42.86%;	
}
#unit_1110{
	top:70.14%;
	left:27.61%;	
}
#unit_1111{
	top:13.75%;
	left:27.61%;	
}
#unit_1112{
	top:75.39%;
	left:6.86%;	
}
#unit_1113{
	top:13.75%;
	left:6.86%;	
}
#unit_1114{
	top:43.46%;
	left:6.86%;	
}

#unit_1201{
	top:43.46%;
	left:88.19%;	
}
#unit_1202{
	top:70.99%;
	left:88.19%;	
}
#unit_1203{
	top:20.62%;
	left:88.19%;	
}
#unit_1204{
	top:75.57%;
	left:65.19%;	
}
#unit_1205{
	top:13.39%;
	left:70.19%;	
}
#unit_1206{
	top:75.39%;
	left:55.23%;	
}
#unit_1207{
	top:13.75%;
	left:55.23%;	
}
#unit_1208{
	top:70.14%;
	left:42.86%;	
}
#unit_1209{
	top:13.75%;
	left:42.86%;	
}
#unit_1210{
	top:70.14%;
	left:27.61%;	
}
#unit_1211{
	top:13.75%;
	left:27.61%;	
}
#unit_1212{
	top:75.39%;
	left:6.86%;	
}
#unit_1213{
	top:13.75%;
	left:6.86%;	
}
#unit_1214{
	top:43.46%;
	left:6.86%;	
}


#unit_1301{
	top:43.46%;
	left:88.19%;	
}
#unit_1302{
	top:70.99%;
	left:88.19%;	
}
#unit_1303{
	top:20.62%;
	left:88.19%;	
}
#unit_1304{
	top:75.57%;
	left:65.19%;	
}
#unit_1305{
	top:13.39%;
	left:70.19%;	
}
#unit_1306{
	top:75.39%;
	left:55.23%;	
}
#unit_1307{
	top:13.75%;
	left:55.23%;	
}
#unit_1308{
	top:70.14%;
	left:42.86%;	
}
#unit_1309{
	top:13.75%;
	left:42.86%;	
}
#unit_1310{
	top:70.14%;
	left:27.61%;	
}
#unit_1311{
	top:13.75%;
	left:27.61%;	
}
#unit_1312{
	top:75.39%;
	left:6.86%;	
}
#unit_1313{
	top:13.75%;
	left:6.86%;	
}
#unit_1314{
	top:43.46%;
	left:6.86%;	
}

#unit_1401{
	top:43.46%;
	left:88.19%;	
}
#unit_1402{
	top:70.99%;
	left:88.19%;	
}
#unit_1403{
	top:20.62%;
	left:88.19%;	
}
#unit_1404{
	top:75.57%;
	left:65.19%;	
}
#unit_1405{
	top:13.39%;
	left:70.19%;	
}
#unit_1406{
	top:75.39%;
	left:55.23%;	
}
#unit_1407{
	top:13.75%;
	left:55.23%;	
}
#unit_1408{
	top:70.14%;
	left:42.86%;	
}
#unit_1409{
	top:13.75%;
	left:42.86%;	
}
#unit_1410{
	top:70.14%;
	left:27.61%;	
}
#unit_1411{
	top:13.75%;
	left:27.61%;	
}
#unit_1412{
	top:75.39%;
	left:6.86%;	
}
#unit_1413{
	top:13.75%;
	left:6.86%;	
}
#unit_1414{
	top:43.46%;
	left:6.86%;	
}


#unit_1501{
	top:43.46%;
	left:88.19%;	
}
#unit_1502{
	top:70.99%;
	left:88.19%;	
}
#unit_1503{
	top:20.62%;
	left:88.19%;	
}
#unit_1504{
	top:75.57%;
	left:65.19%;	
}
#unit_1505{
	top:13.39%;
	left:70.19%;	
}
#unit_1506{
	top:75.39%;
	left:55.23%;	
}
#unit_1507{
	top:13.75%;
	left:55.23%;	
}
#unit_1508{
	top:70.14%;
	left:42.86%;	
}
#unit_1509{
	top:13.75%;
	left:42.86%;	
}
#unit_1510{
	top:70.14%;
	left:27.61%;	
}
#unit_1511{
	top:13.75%;
	left:27.61%;	
}
#unit_1512{
	top:75.39%;
	left:6.86%;	
}
#unit_1513{
	top:13.75%;
	left:6.86%;	
}
#unit_1514{
	top:43.46%;
	left:6.86%;	
}




#unit_1601{
	top:43.46%;
	left:88.19%;	
}
#unit_1602{
	top:70.99%;
	left:88.19%;	
}
#unit_1603{
	top:20.62%;
	left:88.19%;	
}
#unit_1604{
	top:75.57%;
	left:65.19%;	
}
#unit_1605{
	top:13.39%;
	left:70.19%;	
}
#unit_1606{
	top:75.39%;
	left:55.23%;	
}
#unit_1607{
	top:13.75%;
	left:55.23%;	
}
#unit_1608{
	top:70.14%;
	left:42.86%;	
}
#unit_1609{
	top:13.75%;
	left:42.86%;	
}
#unit_1610{
	top:70.14%;
	left:27.61%;	
}
#unit_1611{
	top:13.75%;
	left:27.61%;	
}
#unit_1612{
	top:75.39%;
	left:6.86%;	
}
#unit_1613{
	top:13.75%;
	left:6.86%;	
}
#unit_1614{
	top:43.46%;
	left:6.86%;	
}


#unit_1701{
	top:43.46%;
	left:88.19%;	
}
#unit_1702{
	top:70.99%;
	left:88.19%;	
}
#unit_1703{
	top:20.62%;
	left:88.19%;	
}
#unit_1704{
	top:75.57%;
	left:65.19%;	
}
#unit_1705{
	top:13.39%;
	left:70.19%;	
}
#unit_1706{
	top:75.39%;
	left:55.23%;	
}
#unit_1707{
	top:13.75%;
	left:55.23%;	
}
#unit_1708{
	top:70.14%;
	left:42.86%;	
}
#unit_1709{
	top:13.75%;
	left:42.86%;	
}
#unit_1710{
	top:70.14%;
	left:27.61%;	
}
#unit_1711{
	top:13.75%;
	left:27.61%;	
}
#unit_1712{
	top:75.39%;
	left:6.86%;	
}
#unit_1713{
	top:13.75%;
	left:6.86%;	
}
#unit_1714{
	top:43.46%;
	left:6.86%;	
}


#unit_1801{
	top:43.46%;
	left:88.19%;	
}
#unit_1802{
	top:70.99%;
	left:88.19%;	
}
#unit_1803{
	top:20.62%;
	left:88.19%;	
}
#unit_1804{
	top:75.57%;
	left:65.19%;	
}
#unit_1805{
	top:13.39%;
	left:70.19%;	
}
#unit_1806{
	top:75.39%;
	left:55.23%;	
}
#unit_1807{
	top:13.75%;
	left:55.23%;	
}
#unit_1808{
	top:70.14%;
	left:42.86%;	
}
#unit_1809{
	top:13.75%;
	left:42.86%;	
}
#unit_1810{
	top:70.14%;
	left:27.61%;	
}
#unit_1811{
	top:13.75%;
	left:27.61%;	
}
#unit_1812{
	top:75.39%;
	left:6.86%;	
}
#unit_1813{
	top:13.75%;
	left:6.86%;	
}
#unit_1814{
	top:43.46%;
	left:6.86%;	
}


#unit_1901{
	top:20.62%;
	left:88.19%;	
}

#unit_1902{
	top:70.99%;
	left:88.19%;	
}
#unit_1903{
	top:13.39%;
	left:70.19%;	
}
#unit_1904{
	top:67.57%;
	left:67.19%;	
}
#unit_1905{
	top:13.75%;
	left:55.23%;	
}
#unit_1906{
	top:75.39%;
	left:48.23%;	
}
#unit_1907{
	top:13.75%;
	left:42.86%;	
}
#unit_1908{
	top:70.14%;
	left:27.61%;	
}
#unit_1909{
	top:13.75%;
	left:27.61%;	
}
#unit_1910{
	top:70.14%;
	left:6.86%;	
}
#unit_1911{
	top:13.75%;
	left:6.86%;	
}

#unit_2001{
	top:20.62%;
	left:88.19%;	
}

#unit_2002{
	top:70.99%;
	left:88.19%;	
}
#unit_2003{
	top:13.39%;
	left:70.19%;	
}
#unit_2004{
	top:67.57%;
	left:67.19%;	
}
#unit_2005{
	top:13.75%;
	left:55.23%;	
}
#unit_2006{
	top:75.39%;
	left:48.23%;	
}
#unit_2007{
	top:13.75%;
	left:42.86%;	
}
#unit_2008{
	top:70.14%;
	left:27.61%;	
}
#unit_2009{
	top:13.75%;
	left:27.61%;	
}
#unit_2010{
	top:70.14%;
	left:6.86%;	
}
#unit_2011{
	top:13.75%;
	left:6.86%;	
}


#unit_2101{
	top:20.62%;
	left:88.19%;	
}

#unit_2102{
	top:70.99%;
	left:88.19%;	
}
#unit_2103{
	top:13.39%;
	left:70.19%;	
}
#unit_2104{
	top:67.57%;
	left:67.19%;	
}
#unit_2105{
	top:13.75%;
	left:55.23%;	
}
#unit_2106{
	top:75.39%;
	left:48.23%;	
}
#unit_2107{
	top:13.75%;
	left:42.86%;	
}
#unit_2108{
	top:70.14%;
	left:27.61%;	
}
#unit_2109{
	top:13.75%;
	left:27.61%;	
}
#unit_2110{
	top:70.14%;
	left:6.86%;	
}
#unit_2111{
	top:13.75%;
	left:6.86%;	
}
