body .cms {
background: transparent url(cmsBg.png) repeat scroll 0 0;
opacity: .8;
}

.cmsLogout {
position: absolute !important;
top: 0 !important;
right: 0 !important;
}

a.cmsGroupAdd, a.cmsEdit, a.cmsEditMetadata, a.cmsLogout {
position: absolute !important;
display: block;
font-style: normal !important;
height: 16px !important;
border: 1px solid #000 !important;
z-index: 900 !important;
color: #fff !important;
font-size: 13px !important;
line-height: 17px !important;
text-align: center !important;
font-weight: bold !important;
font-family: arial, helvetica, sans-serif !important;
outline: 0 !important;
cursor: pointer;
text-decoration: none !important;
opacity: 1;
background: transparent url(cmsButtonBg.png) repeat scroll 0 0 !important;
padding: 0 !important;
overflow: hidden !important;
}

a.cmsEditMetadata {
top: 0;
}

a.cmsGroupAdd, a.cmsEdit {
width: 51px !important;
}

a.cmsEditMetadata, a.cmsLogout {
width: 85px !important;
}

img.cms {
min-width: 100px;
min-height: 30px;
}


a.cmsEdit:hover, a.cmsEdit:active, a.cmsLogout:hover, a.cmsLogout:active {
text-decoration: none !important;
background: #ff5555 !important;
}

/* Start Modal */

#cmsModalIframe {
position: fixed;
margin: auto;
top: 90px;
left: 15%;
border: 8px solid #000;
padding: 0;
display: none;
z-index: 1112;
opacity: 0;
visibility: hidden
}

#cmsModalOverlay {
position: fixed;
margin: 0;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 0;
display: none;
background: #707070;
z-index: 1111;
}

#cmsModalLoading {
left: 48%;
position: fixed;
z-index: 1114;
top: 33%;
width: 32px;
height: 32px;
padding: 20px;
border: 5px solid #111;
background: #fff url(loading.gif) no-repeat scroll 50% 50%;
display: none;
}

/* End Modal */

/* Start Edit */

a.boxClose {
position: absolute;
display: block;
top: 0;
right: 0;
width: 30px;
height: 32px;
background: transparent url(closebox.png) no-repeat scroll 100% 2px;
cursor: pointer;
}

a.boxClose:hover {
background-position: 100% -28px;
}

body.editor {
padding: 0;
margin: 0;
background: #fff;
font-size: 14px;
font-family: arial, helvetica, sans-serif;
height: 100%;
}

body.editor .wrapper {
padding: 10px 20px 10px 20px;
margin: 0;
}

body.editor h1 {
text-align: center;
font-size: 19px;
line-height: 22px;

}

body.editor form {
display: block;
margin: 0;
padding: 0;
}

body.editor form label {
display: block;
margin: 0;
padding: 0;
font-weight: bold;
}

body.editor form #fields input {
display: block;
margin: 4px 0 8px 0;
width: 100%;
}

body.editor form #fields textarea {
display: block;
margin: 4px 0 8px 0;
width: 100%;
height: 220px;
}

body.editor form #fields textarea.cmsRich {
height: 270px;
}

body.editor form #fields .item textarea, body.editor form #fields .set textarea {
height: 70px;
}

body.editor form #fields span.inp {
display: block;
padding: 4px 4px 2px 4px;
background: #eee;
}

body.editor .actions {
display: block;
margin: 15px 0 28px 0;
text-align: center;
position: relative;
}

body.editor input#submit, body.editor input#cancel, body.editor input#login {
display: inline;
width: auto;
cursor: pointer;
min-width: 100px;
}

body.editor input#add {
display: block;
width: auto;
cursor: pointer;
min-width: 100px;
margin: 0 auto 10px auto;
}

body.editor p.item {
background: #eee;
border: 1px solid #aaa;
padding: 6px 8px 6px 6px;
margin: 10px 0 10px 0;
}

body.editor .item .itemUp {
width: 22px;
height: 22px;
background: transparent url(ItemActions.png) no-repeat scroll 0 -22px;
display: block;
float: right;
margin: 3px 0 0 0;
cursor: pointer;
}

body.editor .item .itemUp:hover {
background: transparent url(ItemActions.png) no-repeat scroll -22px -22px;
}

body.editor .item .itemRemove {
width: 22px;
height: 22px;
background: transparent url(ItemActions.png) no-repeat scroll 0 -44px;
display: block;
float: right;
margin: 3px 0 0 0;
cursor: pointer;
}

body.editor .item .itemRemove:hover {
background: transparent url(ItemActions.png) no-repeat scroll -22px -44px;
}

body.editor .item .itemDown {
width: 22px;
height: 22px;
background: transparent url(ItemActions.png) no-repeat scroll 0 0;
display: block;
float: right;
margin: 3px 3px 0 0;
cursor: pointer;
}

body.editor .item .itemDown:hover {
background: transparent url(ItemActions.png) no-repeat scroll -22px 0;
}


body.editor .item .itemUp:hover {
background: transparent url(ItemActions.png) no-repeat scroll -22px -22px;
}

body.editor .item .itemUp.first, body.editor .item .itemDown.last {
display: none;
}

body.editor form #fields .item input {
width: 90%;
float: left;
}

body.editor form #fields .item textarea {
clear: both;
}

body.editor iframe#collect {
width:3px;
height:3px;
visibility:hidden;
position:absolute;
left:0;
top:0;
border:0;
}

/* End Edit */

/* Start Custom */

#content div.featured p a strong {
position: relative
}
#content div.featured p a strong.cms a.cmsEdit {
top: auto;
bottom: 0;
}

#bannerSub a.cmsEdit  {
display: block;
z-index: 999;
position: absolute;
top: 140px;
left: 49%;
}

.ThreeColumns div.col3 address i.cms a.cmsEdit {
top: auto;
bottom: 0;
}

.ThreeColumns .col3 address i.cms {
display: block;
}

.ThreeColumns .col3 address strong {
min-height: 31px;
position: relative;
}

.cmsEdit.cmsName_Home_Page_Box_3_Video_Link {
margin-top: -150px;
}
/* End Custom */