<%@ Page Language="vb" AutoEventWireup="false" Inherits="IdamAdmin.AssetOverlayTemplate" CodeBehind="AssetOverlayTemplate.aspx.vb" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title>AssetOverlayTemplate</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </head>
  <LINK href="splitterStyle.css" type="text/css" rel="stylesheet">
			<LINK href="common/baseStyle.css" type="text/css" rel="stylesheet">
				<LINK href="gridStyle.css" type="text/css" rel="stylesheet">
					<LINK href="snapStyle.css" type="text/css" rel="stylesheet">
						<LINK href="tabStyle.css" type="text/css" rel="stylesheet">
							<LINK href="menuStyle.css" type="text/css" rel="stylesheet">
								<LINK href="multipageStyle.css" type="text/css" rel="stylesheet">
									<link href="treeStyle.css" type="text/css" rel="stylesheet">
										<link href="navStyle.css" type="text/css" rel="stylesheet" >
										    <link href="tabStripStyle.css" type="text/css" rel="stylesheet" />    
												<link href="navBarStyle.css" type="text/css" rel="stylesheet" /> 
													<link href="calendarStyle.css" type="text/css" rel="stylesheet" />
										<style>BODY { MARGIN: 0px 0px 0px 0px}
	</style>
  <body>






						
<ComponentArt:Snap id="SnapProjectAssetOverlay" runat="server" FillWidth="False" Height="100%"  Width="700px" MustBeDocked="false" DockingStyle="TransparentRectangle" 
								DraggingStyle="GhostCopy" DockingContainers="projectcenter" 
								MinimizeDirectionElement="testmenucontrollocation" MinimizeDuration="750"
			MinimizeSlide="Linear">
								<Header>
									<div style="CURSOR: move; width: 100%;">
										<table class="SnapHeaderProjectsDark" cellSpacing="0" cellPadding="0" width="700px" border="0">
											<tr>
												<td onmousedown="<% Response.Write(SnapProjectAssetOverlay.ClientID) %>.StartDragging(event);">
												<b>Assets Preview</b><br><img src="images/spacer.gif" width=116 height=1></td>
												<td width="15" style="cursor: hand" align="right" >
												</td>
												<td width="15" style="cursor: hand" align="right" ><img onclick="<% Response.Write(SnapProjectAssetOverlay.ClientID)%>.ToggleMinimize();" src="images/closebutton.gif"  border="0"></td><td width="15" style="cursor: hand" align="right" ><img onclick="<% Response.Write(SnapProjectAssetOverlay.ClientID) %>.ToggleExpand();" src="images/i_open.gif" width="15" height="15" border="0"></td>
											</tr>
										</table>
									</div>
								</Header>

								<Content>
								<div class="SnapProjectsWrapper" style="width:700px;">
								<div class='assetOptions'>
									<table border="0" width="94%" cellspacing="0" cellpadding="0" id="table1">
										<tr>
											<td width="58">






											<font size="1"><a href="sadasd">
											download</a></font></td>
											<td nowrap width="72">



											<font size="1"><a href="asfdas">download as 
											</a> </font>
						</td>
											<td nowrap width="263">




											<font size="1"> 
									<select size="1" name="D1">
									<option>asadsfasdfdafsdasfdsafdsaf sadfdfsaadsf
									</option>
											</select></font></td>
											<td width="57">




											<a href="asd"><font size="1">reconvert</font></a><font size="1">
											</font>
				
















  											</td>
											<td width="95">




											<font size="1"><a href="sdf">add to 
											carrousel</a></font></td>
											<td width="71">




											<font size="1"><a href="sdg">view 
											details</a></font></td>
											<td>





									<a href="#ee"><font size="1">delete</font></a><font size="1">
											</font>
							
















  											</td>
										</tr>
									</table>
								</div>
								<div class="SnapProjectsOverlay">
								<font face="Verdana" size="1"><b>Image:&nbsp;
								</b>imagename.jpg&nbsp;&nbsp;&nbsp; <b>
								<br>
								Location(s):</b>&nbsp; Arlington Condo - JBG</font>
								
								<table id="table3">
									<tr>






						
<ComponentArt:Snap id="SnapProjectAssetOverlay0" runat="server" FillWidth="False" Height="100%"  Width="700px" MustBeDocked="false" DockingStyle="TransparentRectangle" 
								DraggingStyle="GhostCopy" DockingContainers="projectcenter" 
								MinimizeDirectionElement="testmenucontrollocation" MinimizeDuration="750"
			MinimizeSlide="Linear">





										<td>
								
										<font size="1">Description:</font></span><font size="1">
										</font></td>
				















							</ComponentArt:Snap>
















<ComponentArt:Snap id="SnapProjectAssetOverlay1" runat="server" FillWidth="False" Height="100%"  Width="700px" MustBeDocked="false" DockingStyle="TransparentRectangle" 
								DraggingStyle="GhostCopy" DockingContainers="projectcenter" 
								MinimizeDirectionElement="testmenucontrollocation" MinimizeDuration="750"
			MinimizeSlide="Linear">
				















										<td align="left" width="80%">





										<font size="1">The asdjkdsaka sajkdsa 
										asdkjhdf aksd ka s</font></td>
						
















							</ComponentArt:Snap>

















  									</tr>
									<tr >






						
<ComponentArt:Snap id="SnapProjectAssetOverlay2" runat="server" FillWidth="False" Height="100%"  Width="700px" MustBeDocked="false" DockingStyle="TransparentRectangle" 
								DraggingStyle="GhostCopy" DockingContainers="projectcenter" 
								MinimizeDirectionElement="testmenucontrollocation" MinimizeDuration="750"
			MinimizeSlide="Linear">
										<td><font size="1">Owner:</font></span><font size="1">
										</font></td>
							</ComponentArt:Snap>
















<ComponentArt:Snap id="SnapProjectAssetOverlay3" runat="server" FillWidth="False" Height="100%"  Width="700px" MustBeDocked="false" DockingStyle="TransparentRectangle" 
								DraggingStyle="GhostCopy" DockingContainers="projectcenter" 
								MinimizeDirectionElement="testmenucontrollocation" MinimizeDuration="750"
			MinimizeSlide="Linear">
										<td align="left" width="80%">
										
										<font size="1">Guido Cozzi</font></a><font size="1">
										</font></td>
							</ComponentArt:Snap>
















									</tr>
									</table>

								
								
					

								
								
								
								<p>
								<br>
								<br>
								




								<img border="0" src="../../../Documents%20and%20Settings/Administrator.WA9100282/Desktop/ideoscreencap5.jpg" width="692" height="246">
								
								<br>
								
								</p>
								
								<table id="table2">
									<tr>





										<td>
								
										<font size="1">Description:</font></span><font size="1">
										</font></td>
				















										<td align="left" width="80%">





										<font size="1">The asdjkdsaka sajkdsa 
										asdkjhdf aksd ka s</font></td>
						
















  									</tr>
									<tr >
										<td><font size="1">Owner</font><font size="1">:</font></span><font size="1">
										</font></td>
										<td align="left" width="80%">
										
										<font size="1">Guido Cozzi</font></a><font size="1">
										</font></td>
									</tr>
									<tr >
										<td noWrap>
										
										<font size="1">Date Created:</font></span><font size="1">
										</font></td>
										<td>
										<font size="1">October 17, 2003</font></span><font size="1">
										</font></td>
									</tr>
									<tr>



										<td noWrap><font size="1">Type</font><font size="1">:</font></span><font size="1">
										</font></td>
						










										<td>
										<font size="1">JPEG</font></td>
					















  									</tr>
									<tr>




										<td noWrap><font size="1">File Size</font><font size="1">:</font></span><font size="1">
										</font></td>







										<td>
										<font size="1"> 
										
										200kb</a> </font>
										</td>
			
















  									</tr>
									<tr>





										<td noWrap>
				
										<font size="1">Keywords:</font></span><font size="1">
										</font></td>
				













										<td>
										<font size="1">keyword1, keyword2, 
										keyword3, keyword4</font></td>
					














  									</tr>
									<tr>






										<td noWrap><font size="1">Confidential</font><font size="1">:</font></span><font size="1">
										</font></td>
				









										<td>
										<font size="1">Yes</font></td>
				
















  									</tr>
									</table>

								
								
					

								
								
								
								<p></div>
								<p><!--SnapProjects-->
								</div><!--padding-->
								</Content>
							</ComponentArt:Snap>
















  </body>
</html>