<%@ Control Language="vb" AutoEventWireup="false" Inherits="IdamAdmin.ClientNameLookupMenuItem" CodeBehind="ClientNameLookupMenuItem.ascx.vb" %>
<%@ Register TagPrefix="ComponentArt" Namespace="ComponentArt.Web.UI" Assembly="ComponentArt.Web.UI" %>
Select client name<br><Br><div style='height:240px;width:180px;overflow:auto;text-align:left;' id='divclientnamelookup'>
<COMPONENTART:CALLBACK id="CallbackClientName" runat="server" CacheContent="true">
								<CONTENT><asp:Literal id="LiteralAddContacts" Text="" visible=true runat="server" /></CONTENT>
								<LOADINGPANELCLIENTTEMPLATE>
									<TABLE height="100%" cellSpacing="0" cellPadding="0" width="100%" border="0">
										<TR>
											<TD align="center">
												<TABLE cellSpacing="0" cellPadding="0" border="0">
													<TR>
														<TD style="FONT-SIZE: 10px">Loading...
														</TD>
														<TD><IMG height="16" src="images/spinner.gif" width="16" border="0"></TD>
													</TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
								</LOADINGPANELCLIENTTEMPLATE>
							</COMPONENTART:CALLBACK>
</div><div id='divclientnamelookupbottom'><br><Br><input type='button' onclick=""javascript:document.getElementById('Textbox_Client').value = 'test';"" value='Add New' name='addContactsSubmit'>  <input type='button' onclick=""javascript:cancelAddContacts();"" value='cancel' name='cancel'><br><br></div>							
		
							
<script>

function ClientNameLookup()
{
if (clientlookupclickval == 1) 
{
<% Response.Write(CallbackClientName.ClientID) %>.Callback('addcontacts');
clientlookupclickval = 0;
}
}

</script>
