.comboBox 
{ 
  border: 1px solid #A6A7AA; 
  background-color: white; 
}

.ComboBoxDragOptionscomboBox 
{ 
  border: 1px solid #A6A7AA; 
  background-color: white; 
}


.comboBoxHover
{ 
  border: 1px solid #555555; 
  background-color: white; 
}


.ComboBoxDragOptionscomboBoxHover
{ 
  border: 1px solid #555555; 
  background-color: white; 
}

.comboDropDown 
{ 
  border: 1px solid #868686; 
  background-color: white; 
  padding: 1px;
  padding-right: 0px;
  width: 500px;
  cursor: default;
  
}

.comboTextBox
{
  border: 0px;
  padding-left: 2px;
  padding-right: 2px;
}


.ComboBoxDragOptionsTextBox
{
  border: 0px;
  padding-left: 2px;
  padding-right: 2px;
}


.comboTextBoxHover
{
  background-color: #B2B4BF; 
}

.comboItem
{
  font-family: Verdana; 
  font-size: 11px; 
  padding: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.ComboBoxDragOptionscomboBoxItem
{
  font-family: Verdana; 
  font-size: 10px; 
  padding: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
 
}


.comboItemHover
{
  background-color: #B2B4BF; 
  background-image: url(images/comboItemBg.gif);
  font-family: Verdana; 
  font-size: 11px; 
  border: 1px solid #DBCE99;
  padding: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.ComboBoxDragOptionscomboBoxItemHover
{
  background-color: #B2B4BF; 
  background-image: url(images/comboItemBg.gif);
  font-family: Verdana; 
  font-size: 10px; 
  border: 1px solid #DBCE99;
  padding: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
}




.comboBoxFilters
{ 
  border: 1px dotted #A6A7AA; 
  background-color: white; 
  position:relative;
  z-index:9999;

}


.comboBoxHoverFilters
{ 
  border: 1px dotted #555555; 
  background-color: white; 


}

.comboDropDownFilters 
{ 

  border: 1px dotted #868686; 
  background-color: white; 
  padding: 1px;
  padding-right: 0px;
  width: 330px;
  cursor: default;
 z-index:9999;
 position:relative;
}

.comboTextBoxFilters
{
  border: 0px dotted;
  padding-left: 2px;
  padding-right: 2px;

}

.comboTextBoxHoverFilters
{
  background-color: #B2B4BF; 

}

.comboItemFilters
{
  font-family: Verdana; 
  font-size: 9px; 
  padding: 1px;
  padding-top: 2px;
  padding-bottom: 2px;

}

.comboItemHoverFilters
{
  background-color: #B2B4BF; 
  background-image: url(images/comboItemBg.gif);
  font-family: Verdana; 
  font-size: 9px; 
  border: 0px solid #DBCE99;
  padding: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
}