<%@ Page Language="vb" AutoEventWireup="false" Inherits="IdamAdmin.GetSmil" CodeBehind="GetSmil.aspx.vb"  %>
<%
response.write ("<smil><head><layout></layout></head><body><video src=""" &  WebArchives.iDAM.Web.Core.IDAMWebSession.Config.URLLocationIDAMMovie & "?id=" & request.querystring("id") & "&instance=" & WebArchives.iDAM.Web.Core.IDAMWebSession.Config.IDAMInstance & """ /></body></smil>")
%>
