

.Grid 
{ 
  /*border: 1px solid #C1C1C1; 
  border-bottom: 1px solid #C1C1C1; 
  border-top: 1px solid #C1C1C1; 
  border-right: 1px solid #C1C1C1; */

  cursor: pointer;
  position:relative;
  top:-2px;
 

}



.GridCategory
{ 

  cursor:  pointer;
}

.projectcentermain
{
PADDING-RIGHT: 10px;PADDING-LEFT: 10px;PADDING-TOP: 15px;	

}


.projectcentertestpg
{

width:100%;
padding-left:5px;padding-right:5px;
}


.projectcentermainpd
{
PADDING-RIGHT: 5px;PADDING-LEFT: 5px;PADDING-TOP: 15px;	
}

.projectcentermainsubpages
{
	PADDING-TOP:0px;PADDING-RIGHT:10px;PADDING-LEFT: 0px;
}


.GridHeader
{
  background-color: #FBFBFB; /*background-image:url(images/gradback3.gif);*/
  /*background-color: #F4F3F5; */
  border-bottom: 1px solid #969698; 
  border-right: 0px solid #57566F; 
  height: 28px;
  padding-left: 3px;
  cursor: default; 
  color: #FBFBFB;  
  font-family: verdana; 
  font-size: 10px;
  font-weight: bold;
  vertical-align: Middle;
}


.GridHeaderProject
{
background-color: #FBFBFB; 
  border-bottom: 0px solid #57566F; 
   border-top: 0px solid #969698; 
  border-right: 0px solid #57566F; 
  height: 28px;
  padding-left: 3px;
  cursor: default; 
  color: #FBFBFB;  
  font-family: verdana; 
  font-size: 10px;
  font-weight: bold;
  vertical-align:  middle;
}

.GridHeaderCategory
{

  border-bottom: 1px solid #57566F; 
   border-top: 1px solid #969698; 
  border-right: 0px solid #57566F; 
  height: 28px;
  padding-left: 3px;
  cursor: default; 
  color: #666;  
  font-family: verdana; 
  font-size: 10px;
  font-weight: bold;
  vertical-align:  middle;
}


.previewpane
{
 background-image:url(images/previewpanebackground.jpg);
  height: 22px;
  padding-left: 3px;
  cursor: default; 
  font-family: verdana; 
  font-size: 10px;
  font-weight: bold;
  vertical-align: middle;
}


.previewpaneBrowse
{
 background-image:url(images/previewpanebackground.jpg);
  padding-left: 3px;
  padding-right: 3px;
  position:relative;
  cursor: default; 
  font-family: verdana; 
  font-size: 10px;

  vertical-align: middle;
  BORDER-RIGHT: #969698 1px solid;
  BORDER-TOP: #969698 0px solid; 
  BORDER-LEFT: #969698 1px solid; 
BORDER-BOTTOM: #C1C1C1 1px solid; 
BORDER-top: #C1C1C1 1px solid; 
  HEIGHT: 22px;
top:-1px;
}

.headingexplaination
{
padding:5px;
background-color:white;
border:0px solid #B7B4B4;  
font-family: verdana; 
color: #3F3F3F; 
  font-size: 10px;
  font-weight: normal;
}

.itemfloatfiletype
{
	width:300px; 
	float:left;
	
	margin:3px;
	}

.itemfloat 
{
	width:200px; 
	float:left;
	margin:3px;
	}
	
.itemfloat input 
{
	margin-right:3px;
	}
	

.itemfloatcont
{
	width:200px; 
	float:left;
	margin:3px;
}	
.itemfloatvalue 
{
    vertical-align:top;
	width:150px; 
	float:left;
	}
	
.itemfloatinput 
{
     vertical-align:top;
    float:left;
	margin-right:3px;
	}

.itemfloattagging
{
	width:400px; 
	margin:3px;
	}
	
.UDF_Title
{
  font-family:Verdana;
  font-size: 10px;
  font-weight: normal;
  overflow:hidden;
width:100px;
}

.InputFieldMain
{
	color:#6D6D6D;border:1px  dotted #B0AEAE;padding:5px;
	width:300px;background-color:white;
}

.InputFieldMainUDF
{
	color:#6D6D6D;border:1px  dotted #B0AEAE;padding:5px;
	width:300px;background-color:white;
}

.InputFieldMainDisabled
{
	color:#6D6D6D;border:5px;padding:6px;
	width:300px;background-color:white;
}


.InputFieldMainDisabledUDF
{
	color:#6D6D6D;border:5px;padding:6px;
	width:300px;background-color:white;
}


.InputFieldMainsml
{
	color:#6D6D6D;border:1px  dotted #B0AEAE;padding:5px;
	width:40px;background-color:white;
}



.InputFieldMain100P
{
	color:#6D6D6D;border:1px  dotted #B0AEAE;padding:5px;
	width:95%;background-color:white;
}

.InputFieldMain100PUDF
{
	color:#6D6D6D;border:1px  dotted #B0AEAE;padding:5px;
	width:95%;background-color:white;
}

.DIVFieldMain100P
{
	color:#6D6D6D;border:1px  dotted #B0AEAE;padding:5px;
	width:95%;background-color:white; height:120px;
	overflow:auto;
}

.DIVFieldMain100PUDF
{
	color:#6D6D6D;border:1px  dotted #B0AEAE;padding:5px;
	width:95%;background-color:white; height:120px;
	overflow:auto;
}

.DIVFieldMain100PDisabled
{
	color:#6D6D6D;border:0px;padding:6px;
	width:95%;background-color:white; height:100%;
	overflow:auto;
}

.InputFieldMainCheckbox
{
	color:#6D6D6D;padding:5px;
	background-color:white;
}

.InputFieldMainCheckboxUDF
{
	color:#6D6D6D;padding:5px;
	background-color:white;
}

.InputMultiFieldMain
{
	color:#6D6D6D;border:1px  dotted #B0AEAE;padding:5px;
	width:100%;background-color:white;
}

.InputFieldFileMain
{
	color:#6D6D6D;border:1px  solid #B0AEAE;padding:5px;
	width:100%;background-color:white;
}

.InputButtonMain
{
	color:#6D6D6D;border:1px  solid #B0AEAE;padding:4px;
	background-color:white;
}

.UDF_Heading
{
color: #666;  
font-family: verdana; 
font-size: 10px;
font-weight: bold;
border:0px solid #E0DCDC;
padding:4px;
}


.UDF_HeadingAssetTag
{
color: #666;  
font-family: verdana; 
font-size: 10px;
font-weight: bold;
background-color:White;	
padding-bottom:4px;

}


.UDF_TitleAssetTag
{
color: #666;  
font-family: verdana; 
font-size: 10px;
font-weight: normal;
background-color:White;	
}



.previewpaneProjects
{
 /*background-image:url(images/previewpanebackground.jpg);*/
 background-color:White;
  padding-left: 0px;
  padding-right:0px;
  position:relative;
  cursor: default; 
  font-family: verdana; 
  font-size: 10px;
  vertical-align: middle;
  BORDER-RIGHT: #969698 0px solid;
  BORDER-TOP: #969698 0px solid; 
  BORDER-LEFT: #969698 0px solid; 
BORDER-BOTTOM: #C1C1C1 0px solid; 

  HEIGHT: 100%;
top:-1px;
}



.previewpaneProjects a
{
 color:#EB6601;
}


.previewpaneSub
{
  background-color:#E1E6E6;
  background-image: none;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  position:relative;
  cursor: default; 
  font-family: verdana; 
  font-size: 10px;
  vertical-align: middle;
  BORDER-RIGHT: #959595 1px solid;
  BORDER-LEFT: #959595 1px solid; 
BORDER-BOTTOM: #959595 0px solid; 
BORDER-top: #959595 0px solid; 

top:-1px;
}



.previewpaneSubResults
{

  padding: 0px;
  position:relative;
  cursor: default; 
  font-family: verdana; 
  font-size: 10px;
  height:20px;  
z-index:1;
top:-1px;
}


.previewpaneSub a
{
 color:#EB6601;
}

.previewpaneSubResults a
{
 color:#EB6601;
}


.previewpaneAll
{
 background-image: url(images/cookieback.gif);
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  position:relative;
  cursor: default; 
  font-family: verdana; 
  font-size: 10px;
  vertical-align: middle;
  BORDER-RIGHT: #959595 1px solid;
  BORDER-TOP: #959595 1px solid; 
  BORDER-LEFT: #959595 1px solid; 
BORDER-BOTTOM: #959595 1px solid; 
BORDER-top: #959595 1px solid; 
  HEIGHT: 100%;
top:-1px;
}

.previewpaneHeadingProjects
{
 background-image: url(images/headingtopgrey.gif);
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  position:relative;
  cursor: default; 
  font-family: verdana; 
  font-size: 10px;
  vertical-align: middle;
  BORDER-RIGHT: #959595 1px solid;
  BORDER-TOP: #959595 1px solid; 
  BORDER-LEFT: #959595 1px solid; 
BORDER-BOTTOM: #959595 1px solid; 
BORDER-top: #959595 1px solid; 
  HEIGHT: 100%;
top:-1px;
}



.previewpaneMyProjects
{

 padding-left: 3px;
  padding-right: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  position:relative;
  cursor: default; 
  font-family: verdana; 
  font-size: 10px;
  vertical-align: middle;
  BORDER-RIGHT: #959595 1px solid;
 min-height:65px;
  BORDER-LEFT: #959595 1px solid; 
BORDER-BOTTOM: #959595 1px solid; 
BORDER-top: #959595 1px solid; 

top:-1px;
}






.previewpaneAll a
{
 color:#EB6601;
}



.previewpaneBrowseProjects
{
 background-image:url(images/previewpanebackground.jpg);
  padding-left: 3px;
  padding-right: 3px;
  position:relative;
  cursor: default; 
  font-family: verdana; 
  font-size: 10px;

  vertical-align: middle;
  BORDER-RIGHT: #969698 1px solid;
  BORDER-TOP: #969698 0px solid; 
  BORDER-LEFT: #969698 1px solid; 
BORDER-BOTTOM: #C1C1C1 1px solid; 
BORDER-top: #C1C1C1 1px solid; 
  HEIGHT: 22px;
top:-1px;
}

.GridHeaderText
{

  font-family: verdana; 
  font-size: 10px;
}

.GridHeaderText2
{

  font-family: verdana; 
  font-size: 10px;
 
  
  
}

.GridFooter
{
  cursor: default; 
  padding: 5px;
  height: 15px;
  color: #000000;  
  font-family: verdana; 
  font-size: 11px;
}

.GridFooterText
{
 
  font-family: verdana; 
  font-size: 11px;
}

.HeadingRow 
{ 

  /*background-image: url(images/header_rowBg.gif);   */
}


.HeadingRowAssets
{ 

  border-bottom:1px solid #dfdfdf;
  border-top:1px solid #dfdfdf;
}


.HeadingRowCategory
{ 
}


.HeadingCell 
{ 
  /*background-image: url(images/header_bg.gif);   */

  padding: 3px; 
  /*padding-top: 2px; 
  padding-bottom: 2px; */
    border-bottom:1px solid #dfdfdf;
  border-top:1px solid #dfdfdf;
}

.HeadingCellHover
{ 
  /*background-image: url(images/header_hoverBg.gif);   */
  background-color: #F6F6F7; 
}






.HeadingCellAssets
{  

    border-bottom:1px solid #dfdfdf;
  border-top:1px solid #dfdfdf;
}

.HeadingCellHoverAssets
{  

    border-bottom:1px solid #dfdfdf;
  border-top:1px solid #dfdfdf;
}


.HeadingCellAssetsDropdown
{  
	  font-family: verdana; 
  font-size: 10px;
	 font-weight:bold;

}

.HeadingCellHoverAssetsDropdown
{  
	  font-family: verdana; 
  font-size: 10px;
font-weight:bold;
background-color: #E9E9EB; 
}






.HeadingCellActive
{ 
 /* background-image: url(images/header_activeBg.gif);   */
 
}

.HeadingRow td.FirstHeadingCell
{ 
  /*background-image: url(images/header_bg.gif); */
}

.HeadingCellText
{
  font-family: verdana; 
  font-size: 10px; 
  font-weight: bold; 
  text-align: left;
  padding-top: 3px;
  padding-bottom: 5px;
}

.Row 
{ 

  cursor: default;
}



.AlternatingRowComments 
{ 
  cursor: default;
}

.AlternatingRowComments td.DataCell 
{ 
  background-color:  #FDFDFD; 
  border-right: 1px solid #FDFDFD; 
  border-bottom: 1px solid #FDFDFD; 
  font-family: verdana; 
  font-size: 10px; 
  cursor: default;
  padding: 3px; 
  padding-top: 2px; 
  padding-bottom: 1px; 
  border-bottom: 1px solid #EAE9E1; 
  font-family: verdana; 
  font-size: 10px; 
} 



.RowCategory
{ 
  cursor: default;
}

.Row td.DataCell 
{ 
  padding: 3px; 
  padding-top: 2px; 
  padding-bottom: 1px; 
  border-bottom: 1px solid #EAE9E1; 
  font-family: verdana; 
  font-size: 10px; 
} 


.Row td.TotalsDataCell 
{ 
  padding: 3px; 
  padding-top: 2px; 
  padding-bottom: 1px; 
  border-bottom: 1px solid #EAE9E1; 
  font-family: verdana; 
  font-size: 10px; 

  color:Red;
} 

.RowCategory td.DataCell 
{ 
  padding: 3px; 
  padding-top: 2px; 
  padding-bottom: 1px; 
  border-bottom: 0px solid #EAE9E1; 
  font-family: verdana; 
  font-size: 10px; 
} 

.SortedDataCell 
{ 

} 


.Row td.LastDataCell 
{ 
  background-color: #EFEFF4; 
} 

.SelectedRow 
{ 
}

.SelectedRow td.DataCell 
{ 
  background-color: #FFEEC2; 
  padding: 2px; 
  padding-left: 3px; 
  padding-top: 1px; 
  padding-bottom: 1px; 
  font-family: verdana; 
  font-size: 10px; 
  border-bottom: 1px solid #4B4B6F; 
  border-top: 1px solid #4B4B6F; 
  border-right: 0px; 
}

.SelectedRow td.TotalsDataCell 
{ 
  background-color: #FFEEC2; 
  padding: 2px; 
  padding-left: 3px; 
  padding-top: 1px; 
  padding-bottom: 1px; 
  font-family: verdana; 
  font-size: 10px; 
  border-bottom: 1px solid #4B4B6F; 
  border-top: 1px solid #4B4B6F; 
  border-right: 0px; 
  color:Red;
}

.SelectedRow td.FirstDataCell 
{ 
  background-color: #FFEEC2; 
  border-left: 1px solid #4B4B6F; 
  border-right: 0px; 
  padding-left: 2px; 
  padding-right: 3px; 
}

.SelectedRow td.FirstDataCellPostings
{ 
  background-color: #FFEEC2; 
  border-left: 1px solid #4B4B6F; 
  border-top: 1px solid #4B4B6F;
  border-bottom: 1px solid #4B4B6F;
  border-right: 0px; 
  padding-left: 2px; 
  padding-right: 3px; 
}

.SelectedRow td.LastDataCell 
{ 
  background-color: #FFEEC2; 
  border-right: 1px solid #4B4B6F; 
}

.SelectedRow td.LastDataCellPostings
{ 
  background-color: #FFEEC2; 
  border-right: 1px solid #4B4B6F; 
    border-top: 1px solid #4B4B6F;
  border-bottom: 1px solid #4B4B6F;
}

.GroupHeading
{
  color: #706F91; 
  background-color: #FFFFFF; 
  font-family: verdana; 
  font-weight: bold;
  font-size: 11px; 
  border-bottom: 2px solid #A5A4BD; 
  padding-top: 10px;
  padding-bottom: 3px;
}

.GroupByCell
{
  cursor: pointer;
}

.GroupByText
{
  color: #666; 
  font-size: 11px;   
  font-weight: bold; 
  padding-right: 5px;
}


.SliderPopup
{
  background-color: #FFF4D7; 
  border: 1px solid #4B4B6F; 
  border-top-color: #9495A2; 
  border-left-color: #9495A2; 
  font-size: 11px; 
  width: 150px;
  height: 30px;
}

.ScrollBar
{
  background-image: url(images/scroller/scroller_bg.gif); 
}

.ScrollGrip
{
  background-image: url(images/scroller/scroll_gripBg.gif); 
}

.ScrollPopup
{
  background-color: #FFFFFF; 
  border: 1px solid #666666;
  border-right-width: 2px;
  border-bottom-width: 2px;
  height: 23px;
}

.IndentCell 
{
  BORDER-RIGHT: 0px;
  HEIGHT: 20px
}

