.ImageCategoriesNavBar
{
  padding: 3px; 
}

.Item
{
  color: #666666;   
  font-family: verdana; 
  font-size: 12px; 
  border: solid 1px #f3f3f3; 
  cursor: pointer;
  
}

.ItemHover
{
  background-color: #E3E3E3; 
  color: #666666; 
  font-family: verdana; 
  font-size: 12px; 
  border: solid 1px white; 
  border-right-color: #CCCCCC; 
  border-bottom-color: #CCCCCC; 
  cursor:pointer;
   
}

.ItemSelected
{
  background-color: #E3E3E3; 
  color: #666666; 
  font-family: verdana; 
  font-size: 12px; 
  border: solid 1px white; 
  border-left-color: #CCCCCC; 
  border-top-color: #CCCCCC; 
  cursor: default;
}

