.NavBar
{ 
  background-color: white; 
  border: 0px solid black; 
  cursor: default; 

} 
.TopItem
{
  /*background-image: url(images/top_level_bg_navbar.gif);*/
  font-family: tahoma, verdana; 
  font-size: 11px; 
  font-weight: bold;
  padding-left: 10px; 
  padding-top: 4px; 
  padding-bottom: 4px; 
  cursor:hand;
 
  
}


.TopItemHover
{
  color:Gray;
  background-image: url(images/top_level_bg_navbar.gif);
  font-family: tahoma, verdana; 
  font-size: 11px; 
  font-weight: bold;
  padding-left: 10px; 
  padding-top: 4px; 
  padding-bottom: 4px; 
  cursor:hand;
  
}

.Level2Item
{
  font-family: tahoma, verdana; 
  font-size: 11px; 
  padding-left: 10px; 
  cursor:hand;
}

.Level2ItemHover
{
  font-family: tahoma, verdana; 
  font-size: 11px; 
  text-decoration:underline;
  padding-left: 10px; 
  cursor:hand;
}

.Level2Group
{
  background-color: white;
  padding:5px;
  padding-left:10px;
  padding-right:0px;
}

.Empty
{
}