﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="Report.ascx.vb" Inherits="IdamAdmin.Report" %>

<div class="previewpaneMyProjects ui-accordion-header ui-helper-reset ui-state-active " id="toolbarheading" style="z-index:99;border-top:0px;border-bottom:0px;">
	<!--Project cookie and top menu-->
			<!--Project cookie and top menu-->
		<table cellspacing="0"  id="table2" width="100%">
			<tr>
			<td width="1" nowrap valign="top">
			<img src="images/ui/news_ico_bg.gif" height=42 width=42>
			
			
			</td>
			
			<td valign="top">
			<div style="float:left;padding:5px;"><font face="Verdana" size="3" ><b>iDAM Reporting</b></font><br></div>
			</td>
			<td id="Test" valign="top" align="right">
			<font face="Verdana" size="1" ><script>writeDate();</script></font>
			</td></tr>
			<tr><td valign="top" colspan="2">
			</td>
			</tr>
		</table>
</div> <!--end preview pane-->
<div id="subtabset" style="position:relative;top:-4px;z-index:2; font-size:10px;">
<input type="radio" id="radio1" name="subtab" checked="checked" /><label for="radio1">General</label><img src="images/spacer.gif" width="2" alt="" />
</div>
<div style="border-top:1px solid silver;position:relative;top:-25px;z-index:1;"></div>

<script>
    $(function () {
        $("#subtab").button();
        $("#subtabset").buttonset();
    });
	</script>

<div class=previewpaneProjectsx id=toolbar>
      
      
      
      
      	<table width="100%">
		<tr>
			<td align="left" valign="top" width="100%"><div style="PADDING-TOP:0px"></div>
			</td>
			<td align="right" valign="top" width="300" nowrap>
				<table>
					<tr>
						<td id="Td1"></td>
						<td>
							<div style="MARGIN-TOP: 1px"></div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		
	</table>
      
      



<div  id="browsecenter">
















<asp:PlaceHolder ID="ReportTemplateLoader" runat="server"></asp:PlaceHolder>

























		

      </div><!--END browsecenter-->
</div><!--END MAIN-->