
.Thumbnail 
{
  border: 1px solid #DDDDDD;
  cursor: pointer; 
}

.ThumbnailHover 
{
  border: 1px solid #AAAAAA;
  cursor: pointer; 
}

.ThumbnailSelected
{
  border: 1px solid #DD3409;
  cursor: pointer; 
  
}

.ScrollItem 
{
  color:black; 
  border: 1px solid #919B9C; 
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:pointer;
}

.ScrollItemHover 
{
  color:black; 
  border: 1px solid #919B9C; 
  background-color: #E3E3E3; 
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:pointer;
}

.ScrollItemActive
{
  color:black; 
  background-color: #E3E3E3; 
  border: 1px solid #DD3409; 
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:pointer;
}

.subrightsideplaceholderdiv
{
padding-right: 7px !important;padding-right:0px;
margin-left: 1px !important;margin-left:1px;
margin-top: -.2em !important;margin-top:-2px;
}

.subrightsideplaceholderdivheading
{
border:#959595 1px solid;
height:10 !important;height:7px;
background-image: url(images/headingtop.gif); 
}							
