<%@ Page Language="vb" AutoEventWireup="false" Codebehind="BrowserCheck.aspx.vb" Inherits="IDAM5.BrowserCheck"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>BrowserCheck</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
		<div style="TEXT-ALIGN: center"><br><br><br><br><br><br><br>
			<img src="images/splash2007.gif" align="middle" ></div>
			<script type="text/javascript" src="includes/CookieScripts.js"></script>
			<script type="text/javascript">



var BrowserCheckJava = GetCookie('BrowserCheckJava');
var BrowserCheckJavaVersion = GetCookie('BrowserCheckJavaVersion');
var BrowserCheckJavaVendor = GetCookie('BrowserCheckJavaVendor');
if ((BrowserCheckJava == "True") && (BrowserCheckJavaVersion != "") && (BrowserCheckJavaVendor != "")) {
	location.href="IDAM.aspx?version=" + BrowserCheckJavaVendor + "&vendor=" + BrowserCheckJavaVendor + "&r=<%=server.urlencode(request.querystring("r"))%>"
	exit;
}		
	
if (navigator.javaEnabled()) { 
	SetCookie('BrowserCheckJava', 'True', exp);
	location.href="BrowserCheckJava.aspx?r=<%=server.urlencode(request.querystring("r"))%>" 
} else {
	SetCookie('BrowserCheckJava', 'False', exp);
	location.href="IDAM.aspx?Java=False&r=<%=server.urlencode(request.querystring("r"))%>" 
}
			</script>
		</form>
	</body>
</HTML>
