.calendar_button
{
	border:none;
	cursor:pointer;
}

.picker
{

  cursor: pointer;
  	color:#6D6D6D;border:1px  dotted #E0DCDC;padding:5px;
	width:100%;background-color:white;
	width:150px;

     
}

.pickerForm
{

  cursor: pointer;
  	color:#6D6D6D;border:1px  dotted #E0DCDC;padding:5px;
	width:100%;background-color:white;
	width:150px;
	height:25px;
  
}

.dayheader
{
	font-family:Verdana;
	font-size:8pt;
	font-weight:bold;
	color:#333333;
	background-color:#E0DFE3;
	background-image:url(images/dayheader_bg.gif);
	height:24px;
	text-align:center;
	cursor:default;
}

.header
{
	background-color:#757495;
	background-image:url(images/title_bg.gif);
	color:white;
	font-size:10pt;
	font-weight:bold;
	font-family:Verdana;
	text-align:left;
	padding:4px;
	vertical-align:middle;
	height:22px;
}

.headerbutton
{
	font-size:10pt;
	padding-left:5px;
	padding-right:5px;
}

.footer
{
	background-color:#757495;
	background-image:url(images/title_bg.gif);
	background-position:0px 1px;
	color:white;
	font-size:10pt;
	font-weight:bold;
	font-family:Verdana;
	text-align:right;
	padding-top:4px;
	padding-right:3px;
	padding-bottom:0px;
	height:25px;
}

.footer TD
{
	color:white;
	font-size:10pt;
	font-weight:bold;
	font-family:Verdana;
}

.button
{
	background-color:#E0DFE3;
	background-image:url(images/dayheader_bg.gif);
	font-family:Verdana;
	font-size:8pt;
	font-weight:bold;
	color:#333333;
	vertical-align:middle;
}

.calendar
{
	border-width:1px;
	border-style:solid;
	border-color:#57566F;
	cursor:default;
}

.nextprev
{
	padding:0px;
	width:31px;
	height:30px;
	cursor:pointer;
}

.day
{
	font-family:Verdana;
	font-size:8pt;
	font-weight:normal;
	text-align:center;
	color:#57566F;
	background-color:white;
	border-top:1px solid white;
	border-left:1px solid white;
	border-bottom:1px solid #F6F6F6;
	border-right:1px solid #F6F6F6;
	height:31px;
	width:31px;
	cursor:pointer;
}

.othermonthday
{
	color:#B2B1CA;
}

.selectedday
{
	font-family:Verdana;
	font-size:8pt;
	font-weight:bold;
	text-align:center;
	color:black;
	background-color:#FFEEC2;
	border:1px solid #57566F;
	cursor:default;
}

.dayhover
{
	font-family:Verdana;
	font-size:8pt;
	font-weight:normal;
	text-align:center;
	color:#57566F;
	background-color:white;
	border-top:1px solid white;
	border-left:1px solid white;
	border-bottom:1px solid #F6F6F6;
	border-right:1px solid #F6F6F6;
	height:31px;
	width:31px;
	cursor:pointer;

	text-decoration:underline;
}

.othermonthdayhover
{
	color:#B2B1CA;

	text-decoration:underline;
}

.selecteddayhover
{
	font-family:Verdana;
	font-size:8pt;
	font-weight:bold;
	text-align:center;
	color:black;
	background-color:#FFEEC2;
	border:1px solid #57566F;
}

