<%@ Page Language="vb" AutoEventWireup="false" Codebehind="GetSmil.aspx.vb" Inherits="IDAM5.GetSmil"%>
<%
response.write ("<smil><head><layout></layout></head><body><video src=""" &  IDAM5.BaseIDAMSession.Config.URLLocationPreviewVideo & "?id=" & request.querystring("id") & "&instance=" & IDAM5.BaseIDAMSession.Config.IDAMInstance & """ /></body></smil>")
%>
