
.TopGroup
{
  
  border:solid 0px gray; 
  cursor:default; 
}

.TopGroupPaddingBottom5
{
  
  border:solid 0px gray; 
  cursor:default; 
  padding-bottom:5px;
}


.TopGroupExp
{
  
  border:solid 0px gray; 
  cursor:default; 
}

.MenuGroup
{
  background-image:url(images/group_background.gif);
  background-color:white;
  border:solid 1px #7E7E81; 
  cursor:default; 
}

.MenuGroupExp
{
  background-image:url(images/group_background.gif);
  background-color:white;
  border:solid 0px #7E7E81; 
  cursor:default; 
}

.TopMenuItem
{
  color:black; 
  font-family:tahoma; 
  font-size:11px; 
  border:solid 1px #D8D7DA;
  cursor:default; 
}

.TopMenuItemExp
{
  color:black; 
  font-family:Verdana; 
  font-size:10px; 
  border:solid 1px #D8D7DA;
  cursor:default; 
}

.TopMenuItemHover 
{
  background-image:url(images/item_hover_bg.gif);
  background-color:#E5E6EF; 
  color:black; 
  font-family:tahoma; 
  font-size:11px; 
  border:solid 1px #7C7C94; 
  cursor:default; 
}

.documentpage
{
  color:black; 
  font-family:tahoma; 
  font-size:11px; 
  border:solid 1px #D8D7DA;
  cursor:default; 
  padding-left:4px;padding-right:4px;padding-top:0px;padding-bottom:0px;
}

.documentpageHighlight
{
  background-image:url(images/item_hover_bg.gif);
  background-color:#E5E6EF; 
  color:black; 
  font-family:tahoma; 
  font-size:11px; 
  border:solid 1px #7C7C94; 
  cursor:default; 
  padding-left:4px;padding-right:4px;padding-top:0px;padding-bottom:0px;
}

.documentpage:hover 
{
  background-image:url(images/item_hover_bg.gif);
  background-color:#E5E6EF; 
  color:black; 
  font-family:tahoma; 
  font-size:11px; 
  border:solid 1px #7C7C94; 
  cursor:default; 
}






.TopMenuItemMainPage
{
  color:black; 
  font-family:tahoma; 
  
  /*border-left:solid 1px #D8D7DA;
  border-right:solid 1px #D8D7DA;*/
  cursor:default; 
}

.TopMenuItemExpandedMainPage
{
  color:black; 
  font-family:tahoma; 
  font-size:11px; 
  /*border:1px solid #D8D7DA;*/
  /*border-left:solid 1px #D8D7DA;
  border-right:solid 1px #D8D7DA;*/
  cursor:default; 
}

.TopMenuItemHoverMainPage
{
  background-image:url(images/item_hover_bg.gif);
  background-color:#E5E6EF; 
  color:black; 
  font-family:tahoma; 
  font-size:11px; 
  /*border:1px solid #7C7C94;*/
  /*border-left:solid 1px #7C7C94; 
  border-right:solid 1px #7C7C94; */
  cursor:default; 
}






.TopMenuItemHoverExp
{
  background-image:url(images/item_hover_bg.gif);
  background-color:#E5E6EF; 
  color:grey; 
  font-family:Verdana; 
  font-size:10px; 
  border:solid 1px #7C7C94; 
  cursor:default; 
   
}

.TopMenuItemExpanded
{
  background-image:url(images/top_group_background.gif);
  background-color:#E5E6EF; 
  color:black; 
  font-family:tahoma; 
  font-size:11px; 
  border:solid 1px #7C7C94; 
  border-bottom-color:#BAB9CD; 
  cursor:default; 
}

.TopMenuItemExpandedExp
{
  background-image:url(images/top_group_background.gif);
  background-color:#E5E6EF; 
  color:black; 
  font-family:verdana; 
  font-size:10px; 
  border:solid 1px #7C7C94; 
  border-bottom-color:#BAB9CD; 
  cursor:default; 
}

.MenuItem
{
  color:black; 
  font-family:tahoma; 
  font-size:11px; 
  margin:1px; 
  cursor:default; 
}

.MenuItembold
{
  color:black; 
  font-family:tahoma; 
  font-size:11px; 
  font-weight:bold;
  margin:1px; 
  cursor:default; 
}

.MenuItemExp
{
  color:grey; 
  font-family:Verdana; 
  font-size:10px; 
  margin:1px; 
  cursor:default; 
}

.MenuItemHover 
{
  background-color:#FFEEC2; 
  color:black; 
  font-family:tahoma; 
  font-size:11px; 
  border:solid 1px #4B4B6F; 
  cursor:default; 
}

.MenuItemHoverExp
{
  background-color:#FFEEC2; 
  color:grey; 
  font-family:Verdana; 
  font-size:10px; 
  border:solid 1px #4B4B6F; 
  cursor:default; 
}

.MenuBreak
{
  background-image:url(images/break_bg.gif);
  width:100%;
  height:1px;
}

.ScrollItem
{
  background-color:#FBFBFB; 
  font-family:verdana; 
  font-size:12px; 
  border:solid 1px #FBFBFB; 
  cursor:default;
  text-align:center;
}

.ScrollItemH
{
  background-color:silver; 
  color:black; 
  font-family:verdana; 
  font-size:12px; 
  border:solid 1px gray; 
  cursor:default;
  text-align:center;
}

.ScrollItemA
{
  background-color: darkgray; 
  color:black; 
  font-family:verdana; 
  font-size:12px; 
  border:solid 1px gray; 
  cursor:default;
  text-align:center;
}




.Item
{
background-color: white; 
  cursor: default;
  margin:0px 0px 0px 0px;
  font-family:verdana; 
  font-size:8px; 
  border:0px;
}

.ItemDropDown
{
   border:solid 1px gray;
  background-color: white; 
  cursor: default;
  font-family:verdana; 
  font-size:10px; 
  border:0px;
}


.ItemFiltersPopupPG
{
background-color: white; 
font-family:verdana; 
font-size:10px;  color:Black;
}


.ItemFiltersPopup
{
background-color: #F7F7F7; 
font-family:verdana; 
font-size:10px;  color:Black;
}


.ItemFiltersPG
{
background-color: #F7F7F7; 
font-family:verdana; 
font-size:10px;  color:Black;
}

.ItemFiltersPG a
{
background-color: #F7F7F7; 
font-family:verdana; 
font-size:10px;  color:Black;
}

.ItemFilters
{
background-color: white; 
font-family:verdana; 
font-size:10px;  color:Black;
}

.ItemFilters a
{
background-color: white; 
font-family:verdana; 
font-size:10px;  color:Black;
}



.Itembold
{
background-color: white; 
  cursor: default;
  margin:0px 0px 0px 0px;
    font-weight:bold;
        font-family:verdana; 
font-size:10px; 
}





.ItemScroll
{
background-color: white; 
  cursor: default;
}


.ItemH
{
  background-color: white; 
  color:red; 
  cursor:default;
  font-family:verdana; 
font-size:10px; 
}


.ItemHbold
{
  background-color: white; 
  color:red; 
  cursor:default;
  font-weight:bold;
    font-family:verdana; 
font-size:10px; 
}

.ItemExp
{
  background-color: white; 
  color:red; 
  cursor:default;
}

.ItemExpbold
{
  background-color: white; 
  color:red; 
  cursor:default;
      font-weight:bold;
          font-family:verdana; 
font-size:10px; 
}

.hideborders
{
	overflow: scroll 
}