.MultiPage
{
  background-color:white;
  overflow:visible;
  position:relative;
  padding:5px;
  top:-2px;
  left:1px;
  z-index:98;
  border: 1px solid #919B9C;
  width:100%;
  height:200px;
  
}

.MultiPageCategoryPage
{
  background-color:white;
  overflow:visible;
  position:relative;
  padding:5px;
  top:-2px;
  left:1px;
  z-index:98;
  border: 1px solid #919B9C;
  width:100%;
  height:200px;
}

.MultiPageEventPage
{
  background-color:white;
  padding:5px;
  top:-2px;
  left:1px;
  z-index:98;
  border: 1px solid #919B9C;
     width:580px;
  height:200px;
}

.MultiPageCarouselSortPage
{
  background-color:white;
  padding:5px;
  top:-2px;
  left:1px;
  z-index:98;
  border: 1px solid #919B9C;
     width:580px;
  height:100px;
}

.MultiPageMainPage
{

  overflow:visible;
  position:relative;
  top:-2px;
  left:1px;
  z-index:98;
  width:100%;
  height:200px;
  border-top:1px solid #969698;
}


.MultiPageAssets
{
  background-color:transparent;
  background-repeat:repeat-x;
  overflow:visible;
  position:relative;
  padding-top:20px;
  top:-2px;
  left:1px;
  z-index:98;
  /*border: 1px solid #919B9C;*/
  width:100%;
  height:200px; 
  BACKGROUND-IMAGE: url(images/previewbacklayer2.jpg);
}

.MultiPageProjects
{
  background-color:transparent;
  background-repeat:repeat-x;
  overflow:visible;
  position:relative;
  padding-top:2px;
  top:-2px;
  left:1px;
  z-index:98;
  /*border: 1px solid #919B9C;*/
  width:100%;
  height:100%; 
  BACKGROUND-IMAGE: url(images/previewbacklayer2.jpg);
}

.PageContent
{
   font-family: verdana;
  font-size: 11px;



}


.PageContent a
{
  font-size:10px; 
 color:#EB6601;
}

PageContentMainPage
{
	position:relative;
	width:100%;
	border:1px solid;
	  overflow:visible;
  top:-1px;
  left:1px;
  z-index:98;
  width:100%;
  height:200px;
  border-top:1px solid #969698;
}


.PageHeader
{
  font-size:22px;
  font-weight:bold;
  letter-spacing:-0.2mm;
  font-family: verdana; 
  color: #3F3F3F; 
  margin-top:0px;
  margin-bottom:0px;
}

.MultiPageCategoryPage forcescroll
{

	overflow:scroll;
}