<%@ Page Language="vb" AutoEventWireup="false" Codebehind="neatupload.aspx.vb" Inherits="IDAM5.neatupload" %>
<%@ Register TagPrefix="upload" Namespace="Brettle.Web.NeatUpload" Assembly="Brettle.Web.NeatUpload" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>neatupload</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<P>
				<upload:ProgressBar id="ProgressBar1" runat="server" Inline="True" Width="100%"></upload:ProgressBar></P>
			<P>
				<Upload:InputFile id="InputFile1" runat="server"></Upload:InputFile></P>
			<asp:textbox id="repository_id" runat="server">1</asp:textbox><BR>
			projectid:<BR>
			<asp:textbox id="project_id" runat="server">21192852</asp:textbox><BR>
			securityId:<BR>
			<asp:textbox id="security_id" runat="server">3</asp:textbox><BR>
			userId<BR>
			<asp:textbox id="user_id" runat="server">1</asp:textbox><BR>
			fileName<BR>
			<asp:textbox id="name" runat="server"></asp:textbox><BR>
			description<BR>
			<asp:textbox id="description" runat="server"></asp:textbox><BR>
			categoryId<BR>
			<asp:textbox id="category_id" runat="server">0</asp:textbox><BR>
			instanceId:<BR>
			<asp:textbox id="instance_id" runat="server">IDAM_RIM</asp:textbox><BR>
			<P>
				<asp:Button id="btnUpload" runat="server" Text="upload"></asp:Button></P>
		</form>
	</body>
</HTML>
