
.SnapHeader
{
  background-image:url(images/bg_header.gif);  
  background-color: #E2E2EC;
  font-family: Verdana;
  padding-left: 5px;
  font-size: 10px;
  font-weight:bold;
  border: solid 1px #969698; 
  border-top: solid 1px #969698; 
  cursor: move;
  height: 25px;
  
}

.SnapHeaderProjectsOLD
{
	background-image:url(images/subheadingbackgray2.jpg);
  /*background-color: #F8F8F8;*/
  font-family: Verdana;
  padding-left: 5px;
  font-size: 10px;
  /*font-weight:bold;*/
  border-right: solid 1px #CCCCCC; 
  border-left: solid 1px #F3F2F2; 
  border-bottom: solid 1px #CCCCCC; 
  border-top: solid 1px #F3F2F2; 
  cursor: move;
  height: 20px;

}



.SnapHeaderProjects
{
	background-image:url(images/titleback.gif);
  /*background-color: #F8F8F8;*/
  font-family: Verdana;
  padding-left: 5px;
  font-size: 10px;
  /*font-weight:bold;*/
  border-right: solid 1px #BEBEBE; 
  border-left: solid 1px #BEBEBE; 
  border-bottom: solid 0px #BEBEBE; 
  border-top: solid 0px #F3F2F2; 
  cursor: move;
  height: 22px;

}


.SnapHeaderProjectsDark
{
	background-image:url(images/subheadingbackgrayDark.jpg);
  /*background-color: #F8F8F8;*/
  font-family: Verdana;
  padding-left: 5px;
  font-size: 10px;
  /*font-weight:bold;*/
  border-right: solid 1px black; 
  border-left: solid 1px #F3F2F2; 
  border-bottom: solid 1px black; 
  border-top: solid 1px #F3F2F2; 
  cursor: move;
  height: 25px;
color:White;
}

.SnapHeaderProjectsFilter
{
  background-color: #F6F6F8;
  font-family: Verdana;
  padding-left: 5px;
  font-size: 10px;
  font-weight:bold;
  border: solid 1px #dfdfdf; 
  border-top: solid 1px #dfdfdf; 
  cursor: move;
  height: 25px;

}


.SnapHeaderViewIcons
{
  background-color: #EAEDEF;
  font-family: Verdana;
  padding:0px;
  padding-left: 5px;
  font-size: 10px;
  border-top: solid 1px #dfdfdf; 
  height: 20px;
  
}

.SnapHeaderProjectsFilleruselater
{
	background-image:url(images/fillergradient.jpg); 
	background-repeat:repeat-x;
  font-family: Verdana;
  padding-left: 5px;
  font-size: 10px;
  font-weight:bold;
  border: solid 1px #E5E4E4; 
  height: 25px;
}



.snapHeaderClosed
{
  color: #ffffff;
  background-color: #E8E9F1;
  font-family: verdana;
  font-weight: bold;
  font-size: 12px;
  padding-top: 0px;
  padding-left: 5px;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr= 'black' , EndColorStr= '#E8E9F1' );
  cursor: move;
}

.SnapContent
{
  font-family: verdana;
  font-size: 11px;
  padding: 0px;
  border: #4284b5 1px solid;
  background-color: white;
}

.Dock
{
  padding-right:0px;
  padding-left:10px;
  padding-top:0px;
  /*border:white 1px solid; */
  /*background-color: #F7F7F7;*/
  vertical-align:top;
  bottom:0px;
  
  
}

.Links
{
  list-style-image:none;
  color:Black;
  font-size:11px;
}

.SnapTreeview
{
  background-color:white;
  padding:0px;
  padding-top:0px;
  border-top: 0px solid;
  border-left: #969698 1px solid;
  border-bottom: #969698 1px solid;
  border-right: #969698 1px solid;
  top:-2px;
  position:relative;
}


.SnapTreeviewGrey
{
  background-color:#F8F8F8;
  padding:0px;
  padding-top:0px;
  border-top: 0px solid;
  border-left: #969698 1px solid;
  border-bottom: #969698 1px solid;
  border-right: #969698 1px solid;
  top:-2px;
  position:relative;
}
.SnapProjects
{
	margin-bottom: 10px;
  border-top: 0px solid;
  border-bottom: #BEBEBE 1px  solid;
  border-right: #BEBEBE 1px solid;
  border-left: #BEBEBE 1px solid;
  position:relative;
  top:0px;
  height:100%;overflow:hidden;padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:0px;background-color:white;
}

.SnapProjects a
{
 color:#EB6601;
}

.SnapProjectsSearch
{
	margin-bottom: 10px;
  position:relative;
  top:0px;
  height:100%;overflow:hidden;padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:0px;background-color:white;
}




.SnapProjectsAssets
{
	
  border-top: 0px solid;
  border-left: #969698 0px solid;
  border-bottom: #CCCCCC 1px dotted;
  border-right: #969698 0px solid;
  position:relative;
  top:0px;
  height:100%;overflow:hidden;padding-left:0px;padding-right:0px;padding-bottom:5px;padding-top:0px;background-color:white;
}

.SnapProjectsOverlay
{
  border-top: #969698 1px solid;
  border-left: #969698 1px solid;
  border-bottom: #969698 1px solid;
  border-right: #969698 1px solid;
  position:relative;
  top:0px;
  height:100%;overflow:hidden;padding-left:3px;padding-right:3px;padding-bottom:5px;padding-top:5px;background-color:white;
}
.SnapProjectsFilter
{

  padding-top:0px;
  border-top: 0px solid;
  border-left: #dfdfdf 1px solid;
  border-bottom: #dfdfdf 1px solid;
  border-right: #dfdfdf 1px solid;
  position:relative;
  top:-1px;
  height:100%;overflow:hidden;padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:0px;background-color:#F6F6F8;
}

.SnapProjectTextTreatment1 
{
	 font-size:1.8em;
	  font-weight:bold;
	color:	#777777;
	
}


.SnapHeaderTag 
{
	 font-size:10px;
	 font-weight:bold;
	 color:	#777777;
	 font-family:Verdana;

}


.SnapTreeviewTag 
{
	 font-size:10px;
	 font-weight:normal;
	 color:	#777777;
	 font-family:Verdana;
	 padding-left:16px;
	 padding-bottom:4px;
}




.SnapProjectTextTreatment2
{
	 font-size:10px;
	 text-decoration:none;
	color:	#777777;
	
	
}

.SnapProjectTextTreatment3
{
	 font-size:10px;
	 text-decoration:none;
	color:	black;
	
	
}
.SnapTreeviewTest
{
  padding:5px;
  padding-top:0px;
  position:relative;
  height:500px;

}

.SnapProjectsWrapper
{
	padding-bottom:0px;
	
	border:0px;

}


.SnapProjectsWrapperPopup
{
	/*padding-bottom:5px;*/
	border:0px solid;
	border-right: 1px solid gray ;
	border-bottom:1px solid gray;

}

.assetOptions
{
	BACKGROUND-COLOR: #F6F6F8;border:1px solid #E2E2E2;padding:5px;
}

.assetGirdPagingHeading
{
	BACKGROUND-COLOR: #F6F6F8;border-top:1px solid #E2E2E2;padding:4px;
}

.assetOptionsPopup
{
	 BACKGROUND-IMAGE:url(images/ui/searchback.jpg);BACKGROUND-COLOR: #F6F6F8;border:1px solid #F3F2F2;padding:5px;
}


.assetOptions a
{
 color:#EB6601;
}

.projecttabscurrent
{
	padding:0px;padding-left:5px;padding-right:5px;FONT-WEIGHT: bold;font-size:10px;
	/*BACKGROUND-IMAGE:url(images/currenttabhighlight.gif);*/
}
.projecttabs
{
	padding:2px; font-size:10px;
}


.carouselshortlist
{
		 font-size:10px;
	 font-weight:normal;
	 color:	#777777;
	 font-family:Verdana;
	 padding-left:5px;
	 padding-right:5px;
	 padding-top:5px;
	 padding-bottom:4px;
}

.carouselshortlist a
{
 color:#EB6601;
}

.highlightcarouselitem
{
	border:1px solid #EB6601;
}


#trailimageid
{
	font-size: 0.75em;
	position: absolute;
	display: none;
	left: 0px;
	top: 0px;
	width: 400px;
	height: 0px;
	z-index: 200;
}
.ExploreSnap
{
	/*OVERFLOW:hidden;HEIGHT:0px;*/


BACKGROUND-COLOR:white;

}

.searchoptions
{
	font: 1em Trebuchet, Verdana, Arial, sans-serif;
	padding-top: 3px;
	padding-left: 9px;
	padding-bottom: 3px;
	color: #494949;
	background-color: #F1F3F5;
	line-height: 14px;
}

.searchoptions img
{
	padding: 0px;
	border: 0px;
	background-color: #7699BD;
}

.searchoptions strong { font-weight: bold; }


.searchOptionHeading
{
  cursor:  auto;
}

.searchOptionGroup
{
  padding-left: 13px;
  display: none;
}