.HorizontalSplitterBar
{
  /*background: url(images/splitter_horBg.gif); 
  BORDER-TOP: #000000 1px solid;*/
}

.HorizontalSplitterBarAssetTagging
{
  background: url(images/splitter_horBg.gif); 
}


.CollapsedHorizontalSplitterBar
{
  background: url(images/splitter_horBg.gif); 
  border: 1px solid #000000;
  border-right-width: 0px;
}

.VerticalSplitterBar
{
  /*background: url(images/splitter_verBg.gif); 
  BORDER-TOP: #000000 1px solid;*/
  
}

.VerticalSplitterBarAssetTagging
{
  background: url(images/splitter_verBg.gif); 
}


.VerticalSplitterBar2
{
  BORDER-TOP: #000000 1px solid;
}


.CollapsedVerticalSplitterBar
{
  /*background: url(images/splitter_verBg.gif); */
  border: 1px solid #000000;
  border-bottom-width: 0px;
}

.ActiveSplitterBar
{
  background-color: #000000;  
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40); 
  z-index:99;
  opacity: 0.4;
  
}

.SplitterPane
{
	
  border: 0px solid #5A5967;
  border-top-width: 0px;
  BORDER-BOTTOM: #CCCBCE 0px solid;
  BORDER-RIGHT: #5A5967 0px solid;

  
  
}


.SplitterPaneRightNew
{
	
  border: 0px solid #5A5967;
  border-top-width: 0px;
  BORDER-BOTTOM: #CCCBCE 0px solid;
  BORDER-RIGHT: #5A5967 0px solid;
  padding-right:15px;

}


.SplitterPaneleftsidetest
{
PADDING-LEFT: 10px;

}
.SplitterPaneleftsidetestinner
{
BORDER-RIGHT: #969698 1px solid; 
PADDING-RIGHT: 5px; 
BORDER-TOP: #969698 1px solid; 
PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; 
BORDER-LEFT: #969698 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #969698 1px solid; 
BACKGROUND-IMAGE:url(images/ui/searchback.jpg);
}

.SplitterPaneLeft
{
  border: 0px solid #5A5967;
  BORDER-TOP: #CCCBCE 0px solid;
  BORDER-LEFT: #CCCBCE 0px solid;
  BORDER-RIGHT: #5A5967 0px solid;
  BORDER-BOTTOM: #CCCBCE 1px solid;
  background-color:#E8E9EC; 
}

.SplitterPaneRight
{
  /*border: 1px solid #5A5967;
  BORDER-TOP: #CCCBCE 0px solid;
  BORDER-LEFT: #5A5967 1px solid;
  BORDER-RIGHT: #CCCBCE 2px solid;
  BORDER-BOTTOM: #CCCBCE 1px solid;*/
  background-color:#E8E9EC; 
  padding-right:15px;
}

.DetailsPane
{
  
  /*border: 2px solid #888888;
  margin-top:10px;
  */ 
  
}



