
.Thumbnail 
{
  border: 1px solid #DDDDDD;
  cursor: pointer; 
}

.ThumbnailHover 
{
  border: 1px solid #AAAAAA;
  cursor: pointer; 
}

.ThumbnailSelected
{
  border: 1px solid #DD3409;
  cursor: pointer; 
  
}

.ScrollItem 
{
  color:black; 
  border: 1px solid #919B9C; 
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:pointer;
}

.ScrollItemHover 
{
  color:black; 
  border: 1px solid #919B9C; 
  background-color: #E3E3E3; 
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:pointer;
}

.ScrollItemActive
{
  color:black; 
  background-color: #E3E3E3; 
  border: 1px solid #DD3409; 
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:pointer;
}
