.TopGroup2
{
  z-index:99;
  position:relative;
}
.TopGroup
{
  z-index:9;
  position:relative;

}

.DefaultTab 
{
  color:black; 
  background-image: url(images/tab_bg.gif);
  background-repeat:repeat-x;
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.DefaultTabHover 
{
  color:black; 
  background-image: url(images/hover_tab_bg.gif);
  background-repeat:repeat-x;
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.SelectedTab 
{
  color:black; 
  background-image: url(images/selected_tab_bg.gif);
  background-repeat:repeat-x;
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.MultiPage
{
  background-color:White;
  border: 0px solid;
  width:100%;
  height:100%;
  position:relative;
  top:-2px;
  z-index:98;
}