<%@ Control Language="vb" AutoEventWireup="false" Codebehind="testzone.ascx.vb" Inherits="IDAM5.testzone1" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<%@ Register TagPrefix="ComponentArt" Namespace="ComponentArt.Web.UI" Assembly="ComponentArt.Web.UI" %>
Select client name<br><Br><div style='OVERFLOW:auto;WIDTH:180px;HEIGHT:240px;TEXT-ALIGN:left' id='divclientnamelookup'>
<COMPONENTART:CALLBACK id="CallbackClientName" runat="server" CacheContent="true">
								<CONTENT>
<asp:Literal id="LiteralAddContacts" Text="" visible=true runat="server" /></CONTENT>
								<LOADINGPANELCLIENTTEMPLATE>
									<TABLE height="100%" cellSpacing="0" cellPadding="0" width="100%" border="0">
										<TR>
											<TD align="center">
												<TABLE cellSpacing="0" cellPadding="0" border="0">
													<TR>
														<TD style="FONT-SIZE: 10px">Loading...
														</TD>
														<TD><IMG height="16" src="images/spinner.gif" width="16" border="0"></TD>
													</TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
								</LOADINGPANELCLIENTTEMPLATE>
							</COMPONENTART:CALLBACK>
</div><div id='divclientnamelookupbottom'><br><Br><input type='button' onclick=""javascript:document.getElementById.value = 'Add New';value='test' name='addContactsSubmit' Textbox_Client?)??(?>  <input type='button' onclick=""javascript:cancelAddContacts;value='cancel' name='cancel'()??><br><br>
<asp:CheckBox id=CheckBox1 runat="server"></asp:CheckBox>
<asp:Image id=Image1 runat="server"></asp:Image>
<asp:PlaceHolder id=PlaceHolder1 runat="server"></asp:PlaceHolder>
<asp:HyperLink id=HyperLink1 runat="server">HyperLink</asp:HyperLink></div>							
							
				

							
							
							<script>
							
							  function ClientNameLookup()
  {
  if (clientlookupclickval == 1) 
  {
  <% Response.Write(CallbackClientName.ClientID) %>.Callback('addcontacts');
  clientlookupclickval = 0;
  }
  }
							
							</script>

