<%@ Page Language="vb" AutoEventWireup="false" Codebehind="testzone.aspx.vb" Inherits="IDAM5.testzone"%>
<%@ Register TagPrefix="ComponentArt" Namespace="ComponentArt.Web.UI" Assembly="ComponentArt.Web.UI" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML lang="EN">
	<HEAD>
		<title></title>
		<META http-equiv="Content-Type" content="text/html; charset=windows-1252">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<br>
			<Br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<script language="javascript">
			var clientlookupclickval;
			clientlookupclickval = 1;
			function OnItemSelectClientName(item)
			{
			if (item.ID == 'clientnamelookup') {

			}
			
			}
			</script>
			<div onclick="ClientNameLookup();">
				<asp:TextBox id="Textbox_Client" Width="150px" CssClass="InputFieldMain" runat="server"></asp:TextBox><componentart:Menu ScrollUpLookId="ScrollUpItemLook" ScrollDownLookId="ScrollDownItemLook" ScrollingEnabled="true"
					id="Menu1" runat="server" ExpandOnClick="true" ClientSideOnItemSelect="OnItemSelectClientName">
					<ItemLooks>
						<ComponentArt:ItemLook LookID="DefaultItemLook" CssClass="ItemFilters" HoverCssClass="ItemH" ExpandedCssClass="ItemExp"
							LabelPaddingLeft="5" LabelPaddingRight="15" LabelPaddingTop="2" LabelPaddingBottom="2" />
						<ComponentArt:ItemLook LookID="BoldItemLook" CssClass="Itembold" HoverCssClass="ItemHbold" ExpandedCssClass="ItemExpbold"
							LabelPaddingLeft="5" LabelPaddingRight="15" LabelPaddingTop="2" LabelPaddingBottom="2" />
						<ComponentArt:ItemLook LookID="ScrollUpItemLook" ImageUrl="scroll_up.gif" ImageWidth="15" ImageHeight="13"
							CssClass="ScrollItem" HoverCssClass="ScrollItemH" ActiveCssClass="ScrollItemA" />
						<ComponentArt:ItemLook LookID="ScrollDownItemLook" ImageUrl="scroll_down.gif" ImageWidth="15" ImageHeight="13"
							CssClass="ScrollItem" HoverCssClass="ScrollItemH" ActiveCssClass="ScrollItemA" />
					</ItemLooks>
				</componentart:Menu>
				<asp:TextBox id="TextBox5" runat="server"></asp:TextBox>
				<asp:TextBox id="TextBox6" runat="server"></asp:TextBox><INPUT type="file">
				<asp:DataGrid id="DataGrid1" runat="server" PageSize="20"></asp:DataGrid>
				<asp:Repeater id="Repeater1" runat="server"></asp:Repeater>
				<asp:Button id="Button2" runat="server" Text="Button"></asp:Button>
				<asp:CheckBox id="CheckBox9" runat="server" Checked="True"></asp:CheckBox>
				<asp:HyperLink id="HyperLink1" runat="server">HyperLink</asp:HyperLink>
				<asp:DropDownList id="DropDownList4" runat="server">
					<asp:ListItem Value="asdadsfsdasdasda" Selected="True">asdadsf</asp:ListItem>
					<asp:ListItem></asp:ListItem>
				</asp:DropDownList><INPUT type="submit" value="Submit">
				<asp:Button id="Button3" runat="server" Text="Button"></asp:Button>
			</div>
			<DIV onclick="ClientNameLookup();">
				<DIV onclick="ClientNameLookup();">&nbsp;</DIV>
			</DIV>
			<DIV onclick="ClientNameLookup();">
				<asp:Label id="Label1" runat="server" Width="232px">Label</asp:Label>
				<asp:TextBox id="TextBox7" runat="server"></asp:TextBox>
				<componentart:TreeView id="TreeView2" runat="server" Width="200" Height="300" AutoPostBackOnNodeCheckChanged="True"></componentart:TreeView></DIV>
			<DIV onclick="ClientNameLookup();">
				<DIV onclick="ClientNameLookup();">
					<asp:Label id="Label2" runat="server" Width="232px">Label</asp:Label>
					<asp:TextBox id="TextBox8" runat="server"></asp:TextBox></DIV>
				<DIV onclick="ClientNameLookup();">
					<DIV onclick="ClientNameLookup();">
						<asp:Label id="Label3" runat="server" Width="232px">Label</asp:Label>
						<asp:TextBox id="TextBox9" runat="server"></asp:TextBox></DIV>
					<DIV onclick="ClientNameLookup();">
						<DIV onclick="ClientNameLookup();">
							<asp:Label id="Label4" runat="server" Width="232px">Label</asp:Label>
							<asp:TextBox id="TextBox10" runat="server"></asp:TextBox></DIV>
						<DIV onclick="ClientNameLookup();">&nbsp;</DIV>
						<DIV onclick="ClientNameLookup();"><INPUT type="radio"></DIV>
						<DIV onclick="ClientNameLookup();"><INPUT type="radio"></DIV>
					</DIV>
				</DIV>
			</DIV>
			<DIV onclick="ClientNameLookup();">&nbsp;</DIV>
			<DIV onclick="ClientNameLookup();">&nbsp;</DIV>
			<DIV onclick="ClientNameLookup();">
				<DIV style="BORDER-RIGHT: #b7b4b4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #b7b4b4 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #b7b4b4 1px solid; COLOR: #3f3f3f; PADDING-TOP: 5px; BORDER-BOTTOM: #b7b4b4 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #e4e4e4">Enter 
					a name, description and security level for this repository.</DIV>
				<BR>
				<TABLE id="Table1" cellSpacing="0" cellPadding="3" width="100%" border="0">
					<TR>
						<TD vAlign="top" noWrap align="left" width="120"><FONT face="Verdana" size="1">Name: </FONT>
						</TD>
						<TD vAlign="top" align="left" width="100%" colSpan="2">
							<asp:TextBox id="Name" runat="server" Width="99%"></asp:TextBox></TD>
					</TR>
					<TR>
						<TD class="PageContent" vAlign="top" noWrap align="left" width="120"><FONT face="Verdana" size="1">Security 
								Level</FONT></TD>
						<TD class="PageContent" vAlign="top" align="left" width="100%">
							<asp:DropDownList id="SecurityLevel" Runat="server" width="180">
								<asp:ListItem Value="0">Administrator</asp:ListItem>
								<asp:ListItem Value="1">Internal Use</asp:ListItem>
								<asp:ListItem Value="2">Client Use</asp:ListItem>
								<asp:ListItem Value="3">Public</asp:ListItem>
							</asp:DropDownList></TD>
						<TD class="PageContent" vAlign="top" align="left" width="80%"><INPUT type="checkbox" CHECKED value="ON" name="chkactive">Active</TD>
					</TR>
					<TR>
						<TD class="PageContent" vAlign="top" noWrap align="left" width="120"><FONT face="Verdana" size="1">Description</FONT></TD>
						<TD class="PageContent" vAlign="top" align="left" width="100%" colSpan="2">
							<asp:TextBox id="Description" runat="server" Width="99%" Height="97px" TextMode="MultiLine"></asp:TextBox></TD>
					</TR>
				</TABLE>
			</DIV>
			<DIV onclick="ClientNameLookup();">&nbsp;</DIV>
			<DIV onclick="ClientNameLookup();">&nbsp;</DIV>
		</form>
	</body>
</HTML>
