.TreeView 
{ 
  background-color:White;
  /*padding-top:4px; */
  /*padding-left:1px; */
  width:auto;
  /*border: #7C7C94 1px solid; */
  cursor:default; 

  
}



.TreeNodeOverride
{ 
  font-weight:bold;
 font-family: tahoma,verdana; 
  font-size: 11px; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
}

.TreeNodeDisabled
{ 
  font-weight:bold;
 font-family: tahoma,verdana; 
  font-size: 11px; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px;
  color:Gray; 
}

.TreeView2
{ 
  background-color:White;
  /*padding-top:4px; */
  /*padding-left:1px; */
  /*border: #7C7C94 1px solid; */
  cursor:default; 
 overflow:hidden;
   overflow-x: hidden; 
   overflow-y: scroll; 
   visibility: visible;
  
  
  
}

.TreeNode 
{ 
  font-family: tahoma,verdana; 
  font-size: 11px; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
}

.GrayedTreeNode 
{ 
  font-family: tahoma,verdana; 
  font-size: 11px; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  color:gray; 
  cursor:default;
}

.HoverTreeNode 
{ 
  font-family: tahoma,verdana; 
  font-size: 11px; 
  text-decoration:underline; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  cursor: default; 
}

.HoverTreeNodeContacts
{ 
  font-family: tahoma,verdana; 
  font-size: 11px; 
  text-decoration:none; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  cursor: default; 
}

.SelectedTreeNode 
{ 
  font-family: tahoma,verdana; 
  font-size: 11px; 
  background-color: gray; 
  color:white; 
  padding-top:2px;
  padding-bottom:1px;
  padding-left: 3px; 
  padding-right: 3px; 
  cursor: default; 
}

.NodeEdit 
{
  border:1px gray solid;
  font-family: tahoma,verdana; 
  font-size: 11px;
}



.TreeViewFullLine
{ 
  
  /*background-color:#F8F8F8;*/
  background-color:white;
  
  /*padding-top:4px; */
  /*padding-left:1px; */
  width:auto;
  /*border: #7C7C94 1px solid; */
  cursor:default; 
}

.TreeViewFullLineBlue
{ 
  
  background-color:blue;
  /*padding-top:4px; */
  /*padding-left:1px; */
  width:auto;
  /*border: #7C7C94 1px solid; */
  cursor:default; 
}


.TreeNodeFullLine
{ 
  font-family: tahoma,verdana; 
  font-size: 11px; 
  /*padding-left: 3px; */
  cursor: default; 
}


.TreeNodeFullLine a 
{ 
  font-family: tahoma,verdana; 
  font-size: 11px; 
  cursor: default; 

}

.TreeNodeFullLine a:hover
{
  font-family: tahoma,verdana; 
  font-size: 11px; 

  cursor: default; 
}

.TreeNodeRowFullLine
{ 
 
  width: 100%; 
  border:1px; 
  border-color:white; 
  border-bottom-color:white; 
  border-style:solid;
}
.TreeNodeRowFullLineBlue
{ 
 
  width: 100%; 
  border:6px; 
  border-color:transparent; 
  border-bottom-color:transparent; 
  border-style:solid;
}

.HoverTreeNodeRowFullLine
{ 
  font-family: tahoma,verdana; 
  font-size: 11px; 
  border:1px; 
  border-color: transparent; 
  border-bottom-color:transparent; 
  border-style:solid;
background-color:#EEEEEE;

  /*padding-left: 3px; */
}

.SelectedTreeNodeRowFullLine
{ 
  background-color: #D2D1D1; 

}


