<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Culture: McKissack &#38; McKissack</title>
<link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/js.js"></script>
</head>
<body>
<div id="page" class="sub">
	<div id="bg">
		<div id="wrapper" style="margin-top: 382px;">
			<div class="ThreeColumns">
				<div class="col1">
					<div id="sideMenu">
						<p>
							<a href="./culture.aspx" >Culture</a>
						</p>
						<p>
							<a href="./jobs.aspx">Job Openings</a>
						</p>
						<p>
							<a href="./benefits.aspx" class="selected">Benefits</a>
						</p>
						<p>
							<a href="./student_internships.aspx">Student Internships</a>
						</p>
					</div>
				</div>
				<div class="col2">
					<h1>Benefits</h1>
					<p>
						 McKissack & McKissack recognizes that employees strive to manage a healthy balance between their work and private lives, and our organization supports employees by offering life-enhancing benefits, such as: <br /><br />
							
							<li> Dental Insurance </li>
							<li> Dental Insurance </li>
								<li>Employee Assistance Program </li>
      							<li>Employee Referral Program </li>
      							<li>Flexible Spending Accounts </li>
      							<li>Group Insurance Benefits</li>
      							<li>Life Insurance </li>
      							<li>Medical Insurance </li>
      							<li>Optional Life Insurance </li>
      							<li>Retirement Plan 401(k) </li>
      							<li>Sick Leave</li>
      							<li>SmartBenefits </li>
      							<li>Vacation Leave </li>
      							<li>Vision Care </li>
							
					</p>
					<p>
						<a href="./jobs.aspx"><strong>VIEW JOB OPENINGS</strong></a>
					</p>
				</div>
				<div class="col3">
					<div class="pad75">
					</div>
					<p>“We understand that reputations are based not on what you promise but on what you deliver. Therefore we treat every project, large or small, with the same passion for excellence, because in the end we know that our legacy will be based on the quality of the work we do.”	</p>
					<address><strong>Deryl McKissack, PE, PMP </strong><br />
					 President and Chief Executive Officer<br />
					 </address>
				</div>
				<div class="c"></div>
			</div>
		</div>
		<div id="footer">
			<div class="footer">
				<address><a href="http://www.mckissackdc.com/">McKissack &#38; McKissack</a><em>&#169; 2011 Copyright McKissack &#38; McKissack</em></address>
				<p>
					<a href="#">Document Management</a> &#8195;|&#8195; <a href="#">Sitemap</a>
				</p>
				<div><a class="up"></a></div>
			</div>
		</div>
	</div>
</div>
<div id="header">
	<div>
		<p id="logoType">
			<a href="index.aspx" title="Home: McKissack &#38; McKissack">McKissack &#38; McKissack</a>
		</p>
		<p id="logoIcon">
			<a href="index.aspx" title="Home: McKissack &#38; McKissack">McKissack &#38; McKissack</a>
		</p>
		<p id="menu">
			<a href="./about.aspx">About Us</a>
				<a href="./services_overview.aspx">Services</a>
				<a href="./search_results.aspx">Portfolio</a>
				<a href="./contracts.aspx">Contracts</a>
				<a href="./culture.aspx" class="selected">Careers</a>
				<a href="./contact.aspx">Contact</a>
		</p>
	</div>
</div>
<div id="bannerSub" style="background-image:url('assets/images/dynamic/bannerAbout.png'); height: 382px"></div>
</body>
</html>