<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Clients: McKissack &#38; McKissack</title>
<link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/js.js"></script>
</head>
<body>
<div id="page" class="sub clients">
	<div id="bg">
		<div id="wrapper" style="margin-top: 170px;">
			<div class="TwoColumns">
				<div class="col1">
					<div id="sideMenu">
						<p>
							<a href="about.aspx" title="Firm Profile" >Firm Profile</a>
						</p>
						<p>
							<a href="clients.aspx" title="Clients" class="selected">Clients</a>
						</p>
						<p>
							<a href="history.aspx" title="History">History</a>
						</p>
						<p>
							<a href="management.aspx" title="Management">Management</a>
						</p>
						<p>
							<a href="sustainability.aspx" title="Sustainability">Sustainability</a>
						</p>
						<p>
							<a href="community.aspx" title="Community">Community</a>
						</p>
					</div>
				</div>
				<div class="col2">
					<h1>Clients</h1>
					<p>
						 McKissack & McKissack takes pride in furnishing clients with outstanding service, delivering projects on time and within budget.  We believe in true partnering relationships and perform “hand-in-hand” with clients to ensure that project objectives are met or exceeded.  This approach creates a working environment that fosters teamwork, reinforces effective communication and builds lasting associations.  Our wide range of clients include federal, state and local governments; developers; corporations; healthcare institutions; colleges and universities; K-12 schools; and municipal entities, such as:</p>
					<p class="clientList">
						 Alexandria Sanitation Authority<br />
American University<br />
Arlington Public Schools<br />
Baltimore City Public Schools<br />
Baltimore Development Corporation<br />
Bureau of Alcohol, Tobacco, Firearms and Explosives <br />
Catholic University of America<br />
Chicago Department of Transportation<br />
Chicago Housing Authority<br />
Chicago Public Schools<br />
Chicago Transit Authority<br />
D.C. Sports & Entertainment Commission<br />
DC Water<br />
Defense Intelligence Agency<br />
District of Columbia Department of Health HIV/AIDS Administration<br />
District of Columbia Department of Mental Health<br />
District of Columbia Department of Parks and Recreation<br />
District of Columbia Department of Public Works<br />
District of Columbia Department of Real Estate Services<br />
District of Columbia Department of Transportation<br />
District of Columbia Fire and Emergency Medical Services Department<br />
District of Columbia Housing Authority<br />
District of Columbia Metropolitan Police Department<br />
District of Columbia Office of Public Education Facilities Modernization<br />
District of Columbia Office of the Deputy Mayor for Planning and Economic Development<br />
District of Columbia Public Library<br />
District of Columbia Public Schools<br />
Federal Bureau of Prisons<br />
Forest City Enterprises, Inc.<br />
Freddie Mac<br />
Georgetown University<br />
Hines Interests <br />
Housing Authority of Cook County <br />
Howard University <br />
Illinois Department of Transportation<br />
Illinois Sports Facilities Authority<br />
Jair Lynch Development Partners<br />
Legacy Banc<br />
Los Angeles Community College District<br />
Los Angeles County Metropolitan Transportation Authority<br />
Los Angeles Unified School District<br />
Martin Luther King, Jr. National Memorial Project Foundation<br />
Maryland Stadium Authority<br />
Metropolitan Pier and Exposition Authority <br />
Metropolitan Washington Council of Governments<br />
Metropolitan Water Reclamation District of Greater Chicago<br />
Montgomery County Public Schools<br />
National Institute of Standards and Technology<br />
National Institutes of Health<br />
New York Metropolitan Transportation Authority<br />
O’Hare Modernization Program<br />
Prince George’s County Department of Public Works<br />
RLJ Development, LLC<br />
Smithsonian Institution<br />
St. Elizabeths Hospital<br />
The Slavery Foundation<br />
U.S. Army Corps of Engineers<br />
U.S. Coast Guard<br />
U.S. Department of Defense<br />
U.S. Department of Health and Human Services<br />
U.S. Department of Homeland Security<br />
U.S. Department of Labor<br />
U.S. Department of the Treasury<br />
U.S. General Services Administration<br />
U.S. National Park Service<br />
U.S. Patent and Trademark Office<br />
Union Station Redevelopment Corporation<br />
Unity Healthcare, Inc.<br />
University of Maryland Medical System<br />
University of the District of Columbia <br />
Washington Convention Center Authority<br />
Washington Gas<br />
Washington Headquarters Services<br />
Washington Metropolitan Area Transit Authority<br />
Washington Suburban Sanitary Commission<br />
					</p>
				</div>
				<div class="c"></div>
			</div>
		</div>
		<div id="footer">
			<div class="footer">
				<address><a href="http://www.mckissackdc.com/">McKissack &#38; McKissack</a><em>&#169; 2011 Copyright McKissack &#38; McKissack</em></address>
				<p>
					<a href="#">Document Management</a> &#8195;|&#8195; <a href="#">Sitemap</a>
				</p>
				<div><a class="up"></a></div>
			</div>
		</div>
	</div>
</div>
<div id="header">
	<div>
		<p id="logoType">
			<a href="index.aspx" title="Home: McKissack &#38; McKissack">McKissack &#38; McKissack</a>
		</p>
		<p id="logoIcon">
			<a href="index.aspx" title="Home: McKissack &#38; McKissack">McKissack &#38; McKissack</a>
		</p>
		<p id="menu">
			<a href="about.aspx" class="selected">About Us</a>
			<a href="services_overview.aspx">Services</a>
			<a href="search_results.aspx" >Portfolio</a>
			<a href="contracts.aspx">Contracts</a>
			<a href="culture.aspx">Careers</a>
			<a href="contact.aspx">Contact</a>
		</p>
	</div>
</div>
<div id="bannerSub" style="background-image:url('assets/images/dynamic/bannerClients.png'); height: 170px"></div>
</body>
</html>