<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>About Us: McKissack &#38; McKissack</title>
<link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="assets/js/jquery.js"></script>
<script type="text/javascript" src="assets/js/js.js"></script>
</head>
<body>
<div id="page" class="sub">
	<div id="bg">
		<div id="wrapper" style="margin-top: 170px;">
			<div class="ThreeColumns">
				<div class="col1">
					<div id="sideMenu">
						<p>
							<a href="about.aspx" title="Firm Profile">Firm Profile</a>
						</p>
						<p>
							<a href="clients.aspx" title="Clients">Clients</a>
						</p>
						<p>
							<a href="history.aspx" title="History">History</a>
						</p>
						<p>
							<a href="management.aspx" title="Management">Management</a>
						</p>
						<p>
							<a href="sustainability.aspx" title="Sustainability" >Sustainability</a>
						</p>
						<p>
							<a href="community.aspx" title="Community" class="selected">Community</a>
						</p>
					</div>
				</div>
				<div class="col2">
					<h1>Community</h1>
					<p>
						 McKissack &#38; McKissack is a woman/minority-owned organization specializing in <a href="search_results.aspx?sid=2400158">architecture &#38; interiors</a>, <a href="search_results.aspx?sid=2400159">program &#38; construction management</a>, <a href="search_results.aspx?sid=2400160">planning &#38; facilities management</a>, <a href="search_results.aspx?sid=2400161">environmental engineering</a> and <a href="search_results.aspx?sid=2400162">transportation</a>.
					</p>
					<p>
						 Founded by Deryl McKissack, PE, PMP in 1990, it has expanded nationwide with offices in Washington, DC, Chicago, Los Angeles, Baltimore, Miami, Atlanta and Orlando. McKissack &#38; McKissack employs 150 professionals and is certified by many states and municipalities as a minority/woman-owned business.
					</p>
					<p>
						 As a leading program management organization, McKissack &#38; McKissack has managed $15 billion in construction and is ranked by Engineering News-Record as one of the top 50 Program Management and top 100 Construction Management For-Fee firms in the United States. Moreover, we are ranked by the Washington Business Journal as one of the top 20 Environmental Consultant firms in the metropolitan area.
					</p>
					<p>
						 McKissack &#38; McKissack&#146;s diversity of services allows us to successfully manage clients&#146; projects from conception through completion, whether the project is <a href="search_results.aspx?sid=2400159">new construction</a>, <a href="search_results.aspx">renovation</a>, <a href="search_results.aspx">reconstruction</a>, <a href="search_results.aspx">environmental design</a> or <a href="search_results.aspx">transportation</a>.
						 
						 
						 
					</p>
				</div>
				<div class="col3">
					<div class="pad75">
					</div>
					<h1>Vision</h1>
					<p>
						 Becoming &#147;national leaders&#148; in our core capabilities.
					</p>
					<p>
						 Being dedicated to &#147;nurturing our talent&#148; to be exceptional in out areas of expertise.
					</p>
					<p>
						 &#147;Using our resources wisely&#148; to expand into new markets that strategically align with our clients.
					</p>
				</div>
				<div class="c"></div>
			</div>
		</div>
		<div id="footer">
			<div class="footer">
				<address><a href="http://www.mckissackdc.com/">McKissack &#38; McKissack</a><em>&#169; 2011 Copyright McKissack &#38; McKissack</em></address>
				<p>
					<a href="#">Document Management</a> &#8195;|&#8195; <a href="#">Sitemap</a>
				</p>
				<div><a class="up"></a></div>
			</div>
		</div>
	</div>
	<div id="header">
		<div>
			<p id="logoType">
				<a href="index.aspx" title="Home: McKissack &#38; McKissack">McKissack &#38; McKissack</a>
			</p>
			<p id="logoIcon">
				<a href="index.aspx" title="Home: McKissack &#38; McKissack">McKissack &#38; McKissack</a>
			</p>
			<p id="menu">
				<a href="./about.aspx" class="selected">About Us</a>
				<a href="./services_overview.aspx">Services</a>
				<a href="./search_results.aspx">Portfolio</a>
				<a href="./contracts.aspx">Contracts</a>
				<a href="./culture.aspx">Careers</a>
				<a href="./contact.aspx">Contact</a>
			</p>
		</div>
	</div>
</div>
<div id="bannerSub" style="background-image:url('assets/images/dynamic/bannerMLK.png'); height: 170px"></div>
</body>
</html>