﻿<%@ Page Title="" Language="VB" MasterPageFile="~/OneColumn.master" AutoEventWireup="false" CodeFile="about-leadership.aspx.vb" Inherits="about_leadership" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="content">
        <div class="tabs-content transparent-black-box no-top-border">
            <div id="leadership">
                <h1 class="headline cms cmsType_TextSingle cmsName_Investment_Leadership_Page_Heading">Leadership</h1>
                <ul class="tabs-holder">
                    <li>
                        <a href="about">overview</a><ins> | </ins>
                    </li>
                    <li>
                        <a href="about-investment-strategy">investment strategy</a><ins> | </ins>
                    </li>
                    <li>
                        <a href="about-leadership">leadership</a><ins> | </ins>
                    </li>
                    <li>
                        <a href="about-company-history">company history</a>
                    </li>
                </ul>

                <div class="accordion">
                        <h3><strong>Richard L. Kadish</strong><em>Founder and Chairman of the Board of Directors</em><ins>&nbsp;</ins></h3>
                    <div class="billow">
                        <div class="text">
                            <p>Richard L. Kadish is the Founder and Chairman of the Board of Directors of CAPREIT. Prior to joining CAPREIT, Mr. Kadish was Group Executive Vice President-Multifamily Acquisition for CRI where he was responsible for the acquisition of properties having an aggregate value of more than $1.5 billion (representing over 52,000 units). Prior to 1978, he served as a Deputy Attorney General of New Jersey. He also served as counsel to the New Jersey Housing Finance Agency (now New Jersey Housing and Mortgage Finance Agency) and as the Deputy Executive Director of the New Jersey Housing Finance Agency. Mr. Kadish is a member of the American Bar Association and the New Jersey Bar Association and is a director of the National Multifamily Housing Council. He holds Juris Doctorate and Master of Arts degrees from Rutgers University and a Bachelor of Arts degree from the University of Pennsylvania.</p>

                        </div>
                        <p class="RightCol">
                            <img src="assets/images/temp/vcard.jpg" alt="" />
                            <!-- <a href="#">Download vCard</a> -->
                        </p>

                    </div>

                        <h3><strong>Andrew Kadish</strong><em>President</em><ins>&nbsp;</ins></h3>

                    <div class="billow">
                        <div class="text">
                            <p>Andrew Kadish is the President of CAPREIT and is responsible for the day-to-day administration of all Company matters. Mr. Kadish has direct responsibility in the acquisition and disposition of multifamily apartment communities owned by the company. Prior to joining CAPREIT in 2005, Mr. Kadish served as a law clerk to the Honorable Diane Pincus of the New Jersey Superior Court. Mr. Kadish holds a Juris Doctorate degree from the Villanova University School of Law. He received his Bachelor of Arts degree from the University of Pennsylvania. Mr. Kadish is a member of the Bars of New Jersey and Pennsylvania</p>
                        </div>
                        <p class="RightCol">
                            <!-- <img src="assets/images/temp/vcard.jpg" alt="" /> -->
                            <!-- <a href="#">Download vCard</a> -->
                        </p>
                    </div>

                        <h3><strong>Jennifer Kadish Cassell</strong><em>Chief Administrative Officer</em><ins>&nbsp;</ins></h3>

                    <div class="billow">
                        <div class="text">
                            <p>Jennifer Kadish Cassell is the Chief Administrative Officer of CAPREIT and has direct oversight of the management platform as well as the administration of the information technology and human resources departments. She has direct responsibility over all legal matters affecting the management operations of the company's portfolio. Ms. Cassell also serves as an adjunct professor at the American University Washington College of Law. Prior to joining CAPREIT, she served as legal intern for the General Counsel's Office of the National Archives and Records Administration. Ms. Cassell holds a Juris Doctorate degree from the American University Washington College of Law, a Master of Arts degree in Art History from the University of Maryland and a Bachelor of Arts degree from Brandeis University. Ms. Cassell is a member of the American Bar Association and the Bar of Maryland.</p>
                        </div>
                        <p class="RightCol">
                            <!-- <img src="assets/images/temp/vcard.jpg" alt="" /> -->
                            <!-- <a href="#">Download vCard</a> -->
                        </p>
                    </div>

                        <h3><strong>Ernest L. Heymann</strong><em>Chief Investment Officer</em><ins>&nbsp;</ins></h3>

                    <div class="billow">
                        <div class="text">
                            <p>Ernie Heymann is the Chief Investment Officer of CAPREIT and is the chief financial underwriter for all properties within the CAPREIT portfolio. Prior to joining CAPREIT in 1993, Mr. Heymann was Vice President-Multifamily Acquisitions of CRI where he was responsible for the financial underwriting of multifamily properties. Previously, Mr. Heymann served as a project finance officer with Oxford Mortgage and Investment Corporation where he assisted in the structuring and placement of equity and debt for multifamily properties. He holds a Master of Business Administration (Finance) degree from George Washington University and a Bachelor of Science degree in finance from Gannon University.</p>
                        </div>
                        <p class="RightCol">
                            <!-- <img src="assets/images/temp/vcard.jpg" alt="" /> -->
                            <!-- <a href="#">Download vCard</a> -->
                        </p>
                    </div>

                        <h3><strong>Terence J. Collins</strong><em>Chief Financial Officer and Senior Vice President</em><ins>&nbsp;</ins></h3>

                    <div class="billow">
                        <div class="text">
                            <p>Terence J. Collins is the Chief Financial Officer and Senior Vice President of CAPREIT and is responsible for the administration of all financial affairs of the Company. Prior to joining CAPREIT in 2002, Mr. Collins served as the Assistant Vice President - Controller of CRIIMI Mae Services LP. Mr. Collins holds a Bachelor of Science degree in Business Administration from Shepherd College and is a Certified Public Accountant.</p>
                        </div>
                        <p class="RightCol">
                            <!-- <img src="assets/images/temp/vcard.jpg" alt="" /> -->
                            <!-- <a href="#">Download vCard</a> -->
                        </p>
                    
                    </div>
                        
                        <h3><strong>Rick J. Band</strong><em>Senior Vice President, Acquisitions</em><ins>&nbsp;</ins></h3>

                    <div class="billow">
                        <div class="text">
                            <p>Rick J. Band is a Senior Vice President of CAPREIT and assists in the financial underwriting for all CAPREIT acquisitions. Prior to joining CAPREIT in 1993, Mr. Band was a principal of AB Asset Advisors, Inc., a Washington-based real estate acquisition and consulting firm. From 1989 through 1991, Mr. Band was Vice President of BRW Acquisitions, Inc., where he was responsible for identifying, evaluating and structuring real estate investments. Mr. Band also served as a supervisor in the real estate/tax department of Reznick, Fedder &amp; Silverman, P.C. He holds a Bachelor of Science degree in Accounting from the University of Florida.</p>
                        </div>
                        <p class="RightCol">
                            <!-- <img src="assets/images/temp/vcard.jpg" alt="" /> -->
                            <!-- <a href="#">Download vCard</a> -->
                        </p>
                        
                    </div>

                        <h3><strong>Bruce E. Bershtein</strong><em>General Counsel</em><ins>&nbsp;</ins></h3>

                    <div class="billow">
                        <div class="text">
                            <p> Bruce E. Bershtein serves as the General Counsel of CAPREIT. Prior to joining the company in 1994, Mr. Bershtein was an attorney with McCarter &amp; English in Newark and Cherry Hill, New Jersey. His principle areas of practice included complex commercial litigation, real estate law and environmental law. Mr. Bershtein holds a Juris Doctorate degree from Georgetown University Law Center and a Bachelor of Arts degree, cum laude, from the University of Pennsylvania. Mr. Bershtein is a member of the Bar of New Jersey.</p>
                        </div>
                        <p class="RightCol">
                            <!-- <img src="assets/images/temp/vcard.jpg" alt="" /> -->
                            <!-- <a href="#">Download vCard</a> -->
                        </p>
                    </div>

                        <h3><strong>Bruce A. Esposito</strong><em>Senior Vice President, Finance and Accounting</em><ins>&nbsp;</ins></h3>
                    <div class="billow">
                        <div class="text">
                            <p>Bruce A. Esposito is a Senior Vice President of CAPREIT and oversees accounting and financial reporting for the Company. Prior to joining CAPREIT in 1994, Mr. Esposito was a Senior Engagement Manager with Coopers &amp; Lybrand, dealing principally with clients in the real estate industry with concentrations on real estate investment trusts, SEC reporting matters and initial public offerings. Mr. Esposito holds a Master of Business Administration degree and a Bachelor of Science degree from the University of Maryland and is a Certified Public Accountant.</p>
                        </div>
                        <p class="RightCol">
                            <!-- <img src="assets/images/temp/vcard.jpg" alt="" /> -->
                            <!-- <a href="#">Download vCard</a> -->
                        </p>
                    </div>
                        
                        <h3><strong>J. Chris Pilato</strong><em>Vice President/Assistant General Counsel</em><ins>&nbsp;</ins></h3>

                    <div class="billow">
                        <div class="text">
                            <p>John Chris Pilato is a Vice President/Assistant General Counsel of CAPREIT. Mr. Pilato joined CAPREIT in March 2012 and is responsible for overseeing all construction-related contracts for the company as well as supervising rehabilitation upgrades within the company&rsquo;s portfolio. He was previously vice president of a construction firm located in Rochester, NY. Mr. Pilato received his Juris Doctorate, Masters of Business Administration and Bachelor of Science degree from Villanova University.</p>
                        </div>
                        <p class="RightCol">
                            <!-- <img src="assets/images/temp/vcard.jpg" alt="" /> -->
                            <!-- <a href="#">Download vCard</a> -->
                        </p>
                    
                    </div>

                        <h3><strong>Stephen A. Catarinella</strong><em>Vice President/Assistant General Counsel</em><ins>&nbsp;</ins></h3>

                    <div class="billow">
                        <div class="text">
                            <p>Stephen A. Catarinella is a Vice President/Assistant General Counsel of CAPREIT. Mr. Catarinella is responsible for overseeing litigation matters and is extensively involved in all construction and service related projects within the portfolio. Additionally Mr. Catarinella has responsibilities in the acquisition and disposition of multifamily apartment communities. Mr. Catarinella was previously vice president and general counsel of a construction firm located in Pittsburgh, PA and was a litigation associate with a national law firm in New Jersey. Mr. Catarinella received his Juris Doctorate, cum laude, from Villanova University School of Law and his Bachelors of Science in Management, with distinction, from The Pennsylvania State University. Mr. Catarinella is a member of the Bars of New Jersey and Pennsylvania.</p>
                        </div>
                        <p class="RightCol">
                            <!-- <img src="assets/images/temp/vcard.jpg" alt="" /> -->
                            <!-- <a href="#">Download vCard</a> -->
                        </p>
                    <!-- <div class="c"></div> -->
                    </div>                        
                        
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar about">
        <a class="next-arrow ajax-next-arrow" href="about-company-history"> <ins><var>&nbsp;</var></ins><span><strong>company history</strong></span></a>
        <div class="switchable-quotes">
            <div class="transparent-blue-box quote-box"> <em class="cms cmsType_TextMulti cmsName_Investment_Leadership_Quote">Success is never an accident. It is always the result of high intention, sincere effort, intelligent direction and skillful execution.</em>
                <var class="triangle-figure">&nbsp;</var>
            </div>
        </div>
    </div>
</asp:Content>

