﻿<%@ Page Title="" Language="VB" MasterPageFile="~/OneColumn.master" AutoEventWireup="false" CodeFile="autocomplete.aspx.vb" Inherits="autocomplete" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<a href="#property-inner">Property 1</a>
<a href="#property-inner">Property Name</a>
<a href="#property-inner">Example Property</a>
</asp:Content>

