﻿<%@ Page Title="" Language="VB" MasterPageFile="~/OneColumn.master" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="_Default" %>
<%@ Import Namespace="System.IO" %>
<%@ MasterType  virtualPath="~/OneColumn.master"%>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
     <em id="delay" class="Delay7"></em>
     <div id="homeBuckets" class="cmsGroup cmsName_Home_Slides">
<!--
      <p>
        <a href="about" class="slide transparent-black-box wider">
           <strong class="cms cmsType_TextSingle cmsName_Heading">Slide Heading</strong>
           <span class="cms cmsType_TextMulti cmsName_Content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare volutpat volutpat. Quisque ornare, dui non adipiscing blandit, odio lectus.</span>
           <em class="cms cmsType_Link cmsName_Link">Learn more <em>+</em></em>
           <img src="assets/images/temp/slide-1.jpg" alt="" class="cms cmsType_Image cmsName_Image" />
        </a>
      </p>
-->

<%
    For i As Integer = 1 To 20 - 1
  If IO.Directory.GetFiles(Server.MapPath("~") & "cms\data\", "Home_Slides_Item_" & i & "_*", SearchOption.AllDirectories).Length > 0 Then
   %>
     <p class="cmsGroupItem">
        <a href="<%=CMSFunctions.GetLink(Server.MapPath("~") & "cms\data\Link\", "Home_Slides_Item_" & i & "_Link", "href")%>" class="slide transparent-black-box wider">
        <strong class="cms cmsType_TextSingle cmsName_Home_Slides_Item_<%=i%>_Heading"></strong>
        <span class="cms cmsType_TextMulti cmsName_Home_Slides_Item_<%=i%>_Content"></span>
        <em class="cms cmsType_Link cmsName_Home_Slides_Item_<%=i%>_Link"><%=CMSFunctions.GetLink(Server.MapPath("~") & "cms\data\Link\", "Home_Slides_Item_" & i & "_Link", "text")%> <em>+</em></em>
        <img class="cms cmsType_Image cmsName_Home_Slides_Item_<%=i%>_Image" align="left" src="cms/data/Sized/liquid/1500x/65/ffffff/Center/<%=CMSFunctions.Image(Server.MapPath("~") & "cms\data\", "Home_Slides_Item_" & i &"_Image")%>" alt="<%=CMSFunctions.GetContentAlt(Server.MapPath("~") & "cms\data\Image\", "Home_Slides_Item_" & i &"_Image")%>" />

      <em class="c"></em>

        </a>
      <em class="c"></em>

      </p>
      <em class="c"></em>

 <%End If %>
 <%Next%>  


      

     </div>

</asp:Content>

