﻿<%@ Master  Language="VB" CodeFile="OneColumn.master.vb" Inherits="OneColumn" %>
<%@ Import Namespace="System.IO" %>

<%
    Dim pageURL As String = HttpContext.Current.Request.RawUrl
    OriginalUrlPage = HttpContext.Current.Request.RawUrl
    Dim PageName As String = Path.GetFileName(Request.PhysicalPath)
    pageURL = Replace(pageURL, "/", "")
    If InStr(pageURL, "?") > 0 Then
        pageURL = pageURL.Substring(0, pageURL.IndexOf("?"))
        pageURL = Replace(pageURL, "/", "")
    End If
    UrlPage = pageURL
%>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">


<%
     Dim pageURL As String = HttpContext.Current.Request.RawUrl
     OriginalUrlPage = HttpContext.Current.Request.RawUrl
    Dim PageName As String = Path.GetFileName(Request.PhysicalPath).ToLower
     pageURL = Replace(pageURL, "/", "")
     If InStr(pageURL, "?") > 0 Then
         pageURL = pageURL.Substring(0, pageURL.IndexOf("?"))
         pageURL = Replace(pageURL, "/", "")
         End If
     If pageURL = "Default.aspx" Then
         pageURL = ""
    End If
    
    pageURL = (pageURL & "").Replace("#", "")
%>


 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
<%  If Not File.Exists(Server.MapPath("~") & "cms\data\Metadata\" & "metadataTitle_" & pageURL & ".txt") Then
%>
<title>CapREIT</title>       
<%Else%>  
<%If CMSFunctions.FormatSimple(Server.MapPath("~") & "cms\data\Metadata\" & "metadataTitle_" & pageURL & ".txt") <> "" Then%>
<%="<title>" & CMSFunctions.GetMetaTitle(Server.MapPath("~") & "cms\data\", pageURL) & "</title>"%>
<%Else%>
<%= "<title>CapREIT</title>" %>
<%End If%>
<%End If%>

<%  If Not File.Exists(Server.MapPath("~") & "cms\data\Metadata\" & "metadataDescription_" & pageURL & ".txt") Then
%>
<meta name="description" content="" />      
<%Else%>  
<%  If CMSFunctions.FormatSimple(Server.MapPath("~") & "cms\data\Metadata\" & "metadataDescription_" & pageURL & ".txt") <> "" Then%>
<%="<meta name=""description"" content=""" & CMSFunctions.GetMetaDescription(Server.MapPath("~") & "cms\data\", pageURL) & """ />"%>
<%Else%>
<%= "<meta name=""description"" content="""" />"%>
<%End If%>
<%End If%>

<%  If Not File.Exists(Server.MapPath("~") & "cms\data\Metadata\" & "metadataKeywords_" & pageURL & ".txt") Then
%>
<meta name="keywords" content="" />
<%Else%>  
<%  If CMSFunctions.FormatSimple(Server.MapPath("~") & "cms\data\Metadata\" & "metadataKeywords_" & pageURL & ".txt") <> "" Then%>
<%= "<meta name=""keywords"" content=""" & CMSFunctions.GetMetaKeywords(Server.MapPath("~") & "cms\data\", pageURL) & """ />"%>
<%Else%>
<%= "<meta name=""keywords"" content="""" />"%>
<%End If%>
<%End If%>


<script type="text/javascript">
    var GoogleAnalyticsAccount = '<%=CMSFunctions.GetMetaGA(Server.MapPath("~") & "cms\data\", "")%>';
    document.write("\x3Cstyle type=\"text\x2Fcss\"\x3Ebody{visibility:hidden}\x3C\x2Fstyle\x3E");
</script>

 
<link type="text/css" rel="stylesheet" href="/assets/css/flexslider.css"/>
<link type="text/css" rel="stylesheet" href="/assets/css/style.css"/>
<script src="/assets/js/jq.js" type="text/javascript"></script>
<script src="/assets/js/jquery.flexslider.js" type="text/javascript"></script>
<script src="/assets/js/flexslider.js" type="text/javascript"></script>
<script src="/assets/js/custom.js" type="text/javascript"></script>


    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="page cms">
<div class="wrapper">
<div class="header">
            <h1><a href="./" class="link" title="CAPREIT Home">CAPREIT</a></h1>
            <div class="menu">  
                <a class="mobile-navigation">MENU</a>
                <ul>
                    <li><a href="about">ABOUT US</a></li> 
                    <li><a href="properties">PROPERTIES</a></li> 
                    <li><a href="services">SERVICES</a></li> 
                    <li><a href="news">NEWS &amp; PRESS</a></li> 
                    <li><a href="investors">INVESTORS</a></li> 
                    <li><a href="careers">CAREERS</a></li> 
                    <li><a href="contact">contact us</a></li> 

<%--
                     <li><a href="contact"><%= pageURL%></a></li> 
                      <li><a href="contact"><%= OriginalUrlPage%></a></li> 
                       <li><a href="contact"><%= PageName%></a></li> --%>

                    <li class="socials">
                        <a href="#" class="fb">Facebook</a>
                        <a href="#" class="twi">Twitter</a>
                   </li>
                </ul>
            </div>   
        </div>



    <%If PageName = "Default.aspx" Then%>
         <div class="resizable-background"><img src="/assets/images/temp/slide-1.jpg" alt="" /></div>
    <%ElseIf PageName.ToUpper = "RESULTS.ASPX" or PageName.ToUpper = "PROPERTY-INNER.ASPX" Then%>
        <div class="resizable-background"> <img align="left" src="cms/data/Sized/liquid/1500x/65/ffffff/Center/Results_Background_Image.jpg"  /></div>

    <%else%>
        <div class="resizable-background"> <img align="left" src="cms/data/Sized/liquid/1500x/65/ffffff/Center/<%=CMSFunctions.Image(Server.MapPath("~") & "cms\data\", "Page_" & Replace(pageURL,"-","_") & "_Background_Image")%>" alt="<%=CMSFunctions.GetContentAlt(Server.MapPath("~") & "cms\data\Image\", "Page_" & Replace(pageURL,"-","_") & "_Background_Image")%>" /></div>
    <%End If%>

    


  
    <div id="content">
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>


    <%If PageName <> "Default.aspx" Then%>
    <div class="bgEdit"><p class="cms cmsType_Image cmsName_Page_<%=Replace(pageURL,"-","_")%>_Background_Image" ></p></div>
    <%End If%>
    


    <div class="load">
         <a href="about"></a>
         <a href="about-investment-strategy"></a>
         <a href="about-leadership"></a>
         <a href="about-company-history"></a>
         <a href="properties"></a>
         <a href="services"></a>
         <a href="services-resident"></a>
         <a href="services-property-management"></a>
         <a href="services-asset-management"></a>
         <a href="services-request"></a>
         <a href="news"></a>
         <a href="investors"></a>
         <a href="investors-contact"></a>
         <a href="careers"></a>
         <a href="careers-apply"></a>
         <a href="contact"></a>
         <a href="contact-rental"></a>
         <p>Keywords from metadata here</p>
       </div>
    </div>    
</body>
</html>
