<%@ Page Language="vb" AutoEventWireup="false"  CodeBehind="GetSmil2.aspx.vb"  %>
<%
    Response.Write("<smil><head><layout></layout></head><body><video src=""http://idam.ifmm.com/IDAMBROWSESERVICE/%28S%282wza0345ikao10qobugq4u55%29%29/RetrieveMovie.ashx?instance=IDAM_INTERFACE&id=" & Request.QueryString("ID") & """/></body></smil>")
    ' Response.Write("<smil><head><layout></layout></head><body><video src=""http://idam.ifmm.com/IDAMBROWSESERVICE/%28S%282wza0345ikao10qobugq4u55%29%29/RetrieveMovie.ashx?instance=IDAM_INTERFACE&id=836495""/></body></smil>")
%>
