<%@ Page Language="vb" AutoEventWireup="false" %>	

    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" scale="noscale" SALIGN="left" height="480" width="640" id="flvplayer9" align="left" VIEWASTEXT>
	<param name="allowScriptAccess" value="always" />
	<param name="allowFullScreen" value="true" />
	<param name="wmode" value="transparent" />
	<param name="movie" value="./Players/FLASH/flvplayer10.swf?asset_id=836495&idam=http://10.3.12.150/Service1/VideoPlayer/getsmil2.aspx&skinswf=SkinUnderPlayStopSeekFullVol.swf&timecode=&height=480&width=640&baseurl=" /><param name="play" value="false" /><param name="loop" value="false" /><param name="menu" value="false" /><param name="quality" value="high" /><param name="bgcolor" value="#ffffff" />	<embed src="./Players/FLASH/flvplayer10.swf?asset_id=836495&idam=http://10.3.12.150/Service1/VideoPlayer/getsmil2.aspx&skinswf=SkinUnderPlayStopSeekFullVol.swf&timecode=1&height=480&width=640&baseurl=" play="false" loop="false" menu="false" quality="high" bgcolor="#ffffff" width="640" height="480" name="flvplayer9" align="left" allowScriptAccess="always" wmode="transparent" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	</object>
