/*Main Left Navigation*/

body, html { margin: 0; padding: 10px; background: #000; color: #000; }
body { min-width: 780px; }
body  {font-family:Arial, Helvetica, sans-serif;}


#museum_logo { display: none; }
#museum_full_menu { clear: both; background: #000; }


#museum_side_menu { float: left; width: 172px; margin: 0; padding: 11px 15px 0 8px; }
#museum_side_menu.rightNav { float: left; width: 172px; margin: 0; padding: 0 15px 0 8px; }
#museum_side_menu a { color: #000; text-decoration: none; }
#museum_side_menu a:hover { text-decoration: underline; }
#museum_side_menu h1 { margin: 0; padding: 0 0 8px 0; font-size: .95em; text-transform: uppercase; border: 0; }
#museum_side_menu .section { margin: 0; padding: 0; border: 0; }
#museum_side_menu .section .line { margin: 0 0 7px; padding: 0 0 7px; border-bottom: 1px solid #f37021; }
#museum_side_menu .section .LeftNav { clear: both; width: 172px; margin: 0; padding: 0 0 5px 0; font-size: .70em; font-weight: bold; line-height: 1.1em; letter-spacing: .05; border: 0; }
#museum_side_menu .section .LeftNav .LeftNavIndent { padding: 0 0 0 10px; }
#museum_side_menu .section .LeftNav .LeftNavIcon { float: left; width: 28px; height: 20px; min-height: 20px; border: 0; }
#museum_side_menu .section .LeftNav .LeftNavLink { float: left; width: 144px; height: 20px; min-height: 20px; padding: 3px 0 0; border: 0; }


#museum_footer { margin: 0 auto; padding: 0; width: 780px; overflow: hidden; }
