
IMG { border: 1px solid #9a9a9a; }
a IMG { border: 1px solid #9a9a9a; }
a:hover IMG { border: 1px solid #fff; }

ul { padding-top: 0; padding-bottom: 0; margin-top: 0; }
li { padding-bottom: 13px; }

.caption { font-size: .85em; line-height: 1.3em; }

