﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="body_footer_admin.ascx.vb" Inherits="includes_body_footer_admin" %>
</div>
<div class="footer" align="center"><br />Copyright &copy; 2011 Perkins Eastman Architects PC. All rights reserved. Contact <a href="mailto:s.yates@perkinseastman.com">Webmaster</a>. Last Updated: 05.07.2009
&nbsp;<a href="rssFeeds.aspx">RSS Feed</a>.&nbsp;<a href="rssFeeds.cfm"><img src="./images/rss_feed.gif" border="0" /></a>&nbsp;Follow us on  <a href="http://twitter.com/PerkinsEastman" target="_blank">Twitter</a> and <a href="http://www.facebook.com/#!/pages/New-York-NY/Perkins-Eastman/100930636494?v=wall&ref=ts" target="_blank">Facebook</a>.