@charset "utf-8";
/* CSS Document */
body {
			margin: 0;
			padding: 0;
			background-color: #FFF;
			margin-top: 0px;
		 
}
.global { 	position:absolute;
			left: 50%;
			top: 0px;			
			width: 900px;
			margin-left: -450px;
			margin-top: 0px;
			border: solid 0px #dc291e;
}
.header { 
		width: 900px;
		height: 69px;
		background-image:url(../images/header.gif);
		background-repeat:no-repeat;
		background-color:#FFF;

}
.twitter_div{
		position:absolute;
		left:300px;
		top:35px;
		z-index:3;
		color:#333333;
		font-family:Arial, Helvetica, sans-serif;
		font-size:9pt;
		letter-spacing:0.0px;
		text-align:left;
}
.twitter_update_list{
		position:absolute;
		left:300px;
		top:35px;
		color:#333333;
		font-family:Arial, Helvetica, sans-serif;
		font-size:9pt;
		letter-spacing:0.0px;
		text-align:left;
}
.nav { 
		width: 900px;
		height: 26px;
		position:relative;
		z-index:100;
		background-color: #8c8d8e;
		border: solid 0px #CCC;
}

.main {
	background-color: #FFF;
	width: 900px;
	overflow: hidden;
	border-left: solid 0px #CCC;
	border-right: solid 0px #CCC;
	border-bottom: solid 0px #CCC;
}
.main a {
	color: #dc291e;
	text-decoration: underline;
}
.mainLoad {
	position:absolute;
	top:93px;
	left:0px;
	background-color: #8c8d8e;
	width: 900px; 
	height: 560px;
	overflow: hidden;
	border-top: solid 0px #CCC;
	border-bottom: solid 0px #CCC;
}
.mainStandard {
	position:absolute;
	top:100px;
	left:0px;
	background-color: #FFF;
	width: 901px; 
	height: 560px;
	overflow: auto;
	border-top: solid 0px #CCC;
	border-bottom: solid 0px #CCC;
	border-right: solid 0px #CCC;
	padding-right:0px;
}
.flash {
		position:absolute;
		left:20px;
		top:130px;
		z-index:3;
}

.homeCopy {
	position:absolute;
	right:-1px;
	top:502px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #fff;
	letter-spacing:none;
	line-height: normal;
	font-weight: 400;
	text-align:right;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
}
.homeCopy a {
	color: #FFF;
	font-weight:bold;
	font-size:12px;
	text-decoration: underline;
}
.searchString {
	position: absolute;	
	top: 25px;
	right: 65px;
}
.searchButton {
	position: absolute;
	top: 25px;
	right: 0px;
	width: 56px;
	height: 16px;
}
.gray {
	color: #8c8d8e;
}
.highlight {
	background-color: #FFC;
}
.footer { 
	width: 900px;
	height: 40px;
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	color: #8c8d8e;
	letter-spacing: 0px;
	line-height: normal;
	font-weight: 400;
	text-align:center;
}
.footer a { 
	color: #dc291e;
	text-decoration:underline;
}
/*
div {
	clear: both;
}
.clearAll {
	clear: both;
}
*/
.head_project {
color:#8c8d8e;
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
font-weight:800;
letter-spacing:.2px;
line-height:10pt;
margin-left:15px;
margin-top:15px;
margin-bottom:15px;
text-align:left;
text-transform:uppercase;
vertical-align:middle;
}
.head_standard {
color:#8c8d8e;
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
font-weight:800;
letter-spacing:.2px;
line-height:10pt;
margin-left:15px;
margin-top:15px;
margin-bottom:15px;
text-align:left;
text-transform:uppercase;
vertical-align:middle;
}
.copy_standard {
color:#333333;
font-family:Arial, Helvetica, sans-serif;
font-size:9pt;
letter-spacing:0.0px;
line-height:11pt;
margin-bottom:15px;
margin-left:15px;
text-align:left;
}
.copy_standard a {
color:#dc291e;
}
.caption_standard {
color:#8c8d8e;
font-family:Arial, Helvetica, sans-serif;
font-size:7pt;
letter-spacing:1px;
line-height:8pt;
margin-left:15px;
margin-bottom:15px;
text-align:left;
text-transform:uppercase;
}
.red {
color:#dc291e;
}
.resumeForm {
position:relative;
top:35px;
left:-20px;
z-index:2;
margin-bottom:30px;
}
.formLabel {
color:#dc291e;
font-family:Arial, Helvetica, sans-serif;
font-size:10pt;
letter-spacing:0.5px;
line-height:11pt;
margin-bottom:0px;
margin-left:15px;
margin-right:5px;
margin-top:2px;
text-align:right;
}
.ls {
	width: 185px;
}
.rs {
	width: 65px;
}
.projectCopy {
color:#8c8d8e;
font-family:Arial, Helvetica, sans-serif;
font-size:8pt;
letter-spacing:0px;
line-height:11pt;
margin-left:15px;
margin-top:0px;
margin-bottom:15px;
text-align:left;
text-transform:uppercase;
vertical-align:middle;
}
.projectCaption {
color:#8c8d8e;
font-family:Arial, Helvetica, sans-serif;
font-size:7pt;
letter-spacing:.5px;
line-height:11pt;
margin-bottom:15px;
margin-left:15px;
margin-top:0px;
margin-right:0px;
text-align:left;
text-transform:uppercase;
vertical-align:middle;
}
.projectCaption a {
color:#dc291e;
text-decoration: underline;
}
.project_details {
color:#333;
font-family:Arial, Helvetica, sans-serif;
font-size:8pt;
letter-spacing:.2px;
line-height:10pt;
margin-bottom:15px;
margin-left:15px;
margin-right:15px;
margin-top: 0px;
text-align:left;
height: 480px;
}
.project_description {
height: 420px;
overflow: auto;
margin: 0px 0px 0px 0px;
text-align: left;
vertical-align: top;
padding-right:5px;
}
#ClientList{
color: #dc291e;
text-decoration: underline;
cursor: pointer;
}
.project_big_image {
border:1px solid #8c8d8e;
margin-left:0px;
margin-right:15px;
margin-bottom: 0px;
margin-top: 0px;
float:left;
}
.project_thumb_image {
	border: 1px solid #8c8d8e;
	width: 60px;
	height: 60px;
	cursor: pointer;
}
.project_thumbnails {
	width: 225px;
	height: 225px;
	position:absolute;
	top: 135px;
	left:630px;
	

}
.project_rollover_caption {
	border: 0 none;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	height: 22px;
	letter-spacing: 0.5px;
	line-height: 8pt;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
	padding: 0;
	text-align: center;
	width: 60px;
}
.bold {
	font-weight: bold;
}
.ital {
	font-style: italic;
}
.no_bottom_margin {
	margin-bottom: 0px;
}
.no_top_margin {
	margin-top: 0px;
}
select {
	width: 155px;
	margin-bottom: 3px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt; 
	color: #333333; 
	line-height: 11pt;
	letter-spacing: .5px;
	text-align: left;
}
input {
	margin-bottom: 3px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 9pt; 
	color: #333333; 
	line-height: 11pt;
	letter-spacing: .5px;
	text-align: left;
	width: 155px;
}
textarea {
	margin-bottom: 3px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt; 
	color: #333333; 
	line-height: 11pt;
	letter-spacing: .5px;
	text-align: left;
}

/*
.normal_select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #333333;
	line-height: 14pt;
	letter-spacing: .5px;
	text-align: left;
}
.MyLine {
	position: absolute;
	left: 170px;
	top: 380px;
	width: 655px;
	height: 15px;
	border-top-width: 3px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.ErrorCell {
	font-size : 10px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-style : normal;
	color : #000000;
	background-color : #ffff66;
}
.b_required_note_red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FF0000;
	line-height: 12pt;
	margin-left: 15px;
	text-align: left;
}
.b_bold_red_resume {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FF0000;
	font-style: bold;
	font-weight: 600;
	line-height: 12pt;
	margin-left: 15px;
	text-align: right;
}
.b_bold_red {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FF0000;
	font-style: bold;
	font-weight: 600;
	line-height: 12pt;
	margin-left: 15px;
	text-align: left;
}
*/


/* Start 555 */
.project_rollover_caption div {
 display: block;
 position: absolute;
 margin: -100px 0 0 -75px;
 width: 169px;
 height: 77px;
 padding: 25px 20px 20px 20px;
 background: transparent url(../images/tooltip.png) scroll 0 0;
 text-align: center;
 color: #fff;
 font-size: 11px;
 line-height: 17px;
 font-weight: 600;
 cursor: default;
 z-index: 999;
}
/* End 555 */