
.pe2 .global {
     border: 0px solid #DC291E;
     left: 50%;
     margin-left: -450px;
     margin-top: 0px;
     position: absolute;
     top: 0px;
     width: 900px;
}

.pe2 .header {
     background-color: #FFFFFF;
     background-image: url("../images/header.gif");
     background-repeat: no-repeat;
     height: 69px;
     width: 900px;
}

.pe2 .twitter_div {
     color: #333333;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 9pt;
     left: 300px;
     letter-spacing: 0px;
     position: absolute;
     text-align: left;
     top: 35px;
     z-index: 3;
}

.pe2 .twitter_update_list {
     color: #333333;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 9pt;
     left: 300px;
     letter-spacing: 0px;
     position: absolute;
     text-align: left;
     top: 35px;
}

.pe2 .nav {
     background-color: #8C8D8E;
     border: 0px solid #CCCCCC;
     height: 26px;
     position: relative;
     width: 900px;
     z-index: 100;
}

.pe2 .main {
     background-color: #FFFFFF;
     border-bottom: 0px solid #CCCCCC;
     border-left: 0px solid #CCCCCC;
     border-right: 0px solid #CCCCCC;
     overflow: hidden;
     width: 900px;
}

.pe2 .main a {
     color: #DC291E;
     text-decoration: none;
}

.pe2 .main a:hover {
     color: #DC291E;
     text-decoration: underline;
}

.pe2 .mainLoad {
     background-color: #8C8D8E;
     border-bottom: 0px solid #CCCCCC;
     border-top: 0px solid #CCCCCC;
     height: 560px;
     left: 0px;
     overflow: hidden;
     position: absolute;
     top: 93px;
     width: 900px;
}

.pe2 .mainStandard {
     background-color: #FFFFFF;
     border-bottom: 0px solid #CCCCCC;
     border-right: 0px solid #CCCCCC;
     border-top: 0px solid #CCCCCC;
     height: 560px;
     left: 0px;
     overflow: auto;
     padding-right: 0px;
     position: absolute;
     top: 100px;
     width: 901px;
}

.pe2 .flash {
     left: 20px;
     position: absolute;
     top: 130px;
     z-index: 3;
}

.pe2 .homeCopy {
     color: #FFFFFF;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 11px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     padding: 15px;
     position: absolute;
     right: -1px;
     text-align: right;
     top: 502px;
}

.pe2 .homeCopy a {
     color: #FFFFFF;
     font-size: 12px;
     font-weight: bold;
     text-decoration: underline;
}

.pe2 .searchString {
     position: absolute;
     right: 65px;
     top: 25px;
}

.pe2 .searchButton {
     height: 16px;
     position: absolute;
     right: 0px;
     top: 25px;
     width: 56px;
}

.pe2 .gray {
     color: #8C8D8E;
}

.pe2 .highlight {
     background-color: #FFFFCC;
}

.pe2 .head_project {
     color: #8C8D8E;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 10pt;
     font-weight: 800;
     letter-spacing: 0.2px;
     line-height: 10pt;
     margin-bottom: 15px;
     margin-left: 15px;
     margin-top: 15px;
     text-align: left;
     text-transform: uppercase;
     vertical-align: middle;
}

.pe2 .head_standard {
     color: #8C8D8E;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 10pt;
     font-weight: 800;
     letter-spacing: 0.2px;
     line-height: 10pt;
     margin-bottom: 15px;
     margin-left: 15px;
     margin-top: 15px;
     text-align: left;
     text-transform: uppercase;
     vertical-align: middle;
}

.pe2 .copy_standard {
     color: #333333;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 9pt;
     letter-spacing: 0px;
     line-height: 11pt;
     margin-bottom: 15px;
     margin-left: 15px;
     text-align: left;
}

.pe2 .copy_standard a {
     color: #DC291E;
}

.pe2 .caption_standard {
     color: #8C8D8E;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 7pt;
     letter-spacing: 1px;
     line-height: 8pt;
     margin-bottom: 15px;
     margin-left: 15px;
     text-align: left;
     text-transform: uppercase;
}

.pe2 .red {
     color: #DC291E;
}

.pe2 .resumeForm {
     left: -20px;
     margin-bottom: 30px;
     position: relative;
     top: 35px;
     z-index: 2;
}

.pe2 .formLabel {
     color: #DC291E;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 10pt;
     letter-spacing: 0.5px;
     line-height: 11pt;
     margin: 2px 5px 0px 15px;
     text-align: right;
}

.pe2 .ls {
     width: 185px;
}

.pe2 .rs {
     width: 65px;
}

.pe2 .projectCopy {
     color: #8C8D8E;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 8pt;
     letter-spacing: 0px;
     line-height: 11pt;
     margin-bottom: 15px;
     margin-left: 15px;
     margin-top: 0px;
     text-align: left;
     text-transform: uppercase;
     vertical-align: middle;
}

.pe2 .projectCaption {
     color: #8C8D8E;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 7pt;
     letter-spacing: 0.5px;
     line-height: 11pt;
     margin: 0px 0px 15px 15px;
     padding: 25px 0pt 0pt;
     text-align: left;
     text-transform: uppercase;
     vertical-align: middle;
}

.pe2 .projectCaption a {
     color: #DC291E;
     text-decoration: underline;
}

.pe2 .project_details {
     color: #333333;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 8pt;
     height: 480px;
     letter-spacing: 0.2px;
     line-height: 10pt;
     margin: 0px 15px 15px;
     text-align: left;
}

.pe2 .project_description {
     background: none repeat scroll 0% 0% #FFFFFF;
     height: 446px;
     margin: 0px 0px 10px;
     overflow: auto;
     padding: 0pt;
     position: relative;
     text-align: left;
     vertical-align: top;
}


#eek .project_description {
     background: none repeat scroll 0% 0% #FFFFFF;
     height: 463px;
     margin: 0px 0px 10px;
     overflow: auto;
     padding: 0pt;
     position: relative;
     text-align: left;
     vertical-align: top;
}

#eek #ClientList {
float: right;
margin: 00;
width: 250px;
}


.pe2 .project_rightColShort {
     background: none repeat scroll 0% 0% #FFFFFF;
     height: 372px;
     margin: 0px 0px 10px;
     max-height: 372px;
     overflow: hidden;
     padding: 0pt;
     position: relative;
     text-align: left;
     vertical-align: top;
}

.pe2 #ClientList {
     color: #DC291E;
     cursor: pointer;
     text-decoration: underline;
}

.pe2 .project_big_image {
     border: 1px solid #8C8D8E;
     float: left;
     margin: 0px 15px 0px 0px;
}

.pe2 .project_thumb_image {
     border: 1px solid #8C8D8E;
     cursor: pointer;
     height: 60px;
     width: 60px;
}

.pe2 .project_thumbnails {
     height: 225px;
     left: 630px;
     position: absolute;
     top: 135px;
     width: 225px;
}

.pe2 .project_rollover_caption {
     border: 0pt none;
     color: #333333;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 7pt;
     height: 22px;
     letter-spacing: 0.5px;
     line-height: 8pt;
     margin: 0px;
     overflow: hidden;
     padding: 0pt;
     text-align: center;
     width: 60px;
}

.pe2 .bold {
     font-weight: bold;
}

.pe2 .ital {
     font-style: italic;
}

.pe2 .no_bottom_margin {
     margin-bottom: 0px;
}

.pe2 .no_top_margin {
     margin-top: 0px;
}

.pe2 select {
     color: #333333;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 9pt;
     letter-spacing: 0.5px;
     line-height: 11pt;
     margin: 0px 0px 3px;
     text-align: left;
     width: 155px;
}

.pe2 input {
     color: #333333;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 9pt;
     letter-spacing: 0.5px;
     line-height: 11pt;
     margin: 0px 0px 3px;
     text-align: left;
     width: 155px;
}

.pe2 textarea {
     color: #333333;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 9pt;
     letter-spacing: 0.5px;
     line-height: 11pt;
     margin: 0px 0px 3px;
     text-align: left;
}

body.pe2 > div#wrapper > div.main > form#form1 > table {
     margin: 0pt auto;
}

.pe2 .project_rollover_caption div {
     background: url("../images/tooltip.png") repeat scroll 0pt 0pt transparent;
     color: #FFFFFF;
     cursor: default;
     display: block;
     font-size: 11px;
     font-weight: 600;
     height: 17px;
     overflow: hidden;
     line-height: 57px;
     margin: -55px 0pt 0pt -53px;
     padding: 4px 10px 55px 10px;
     position: absolute;
     text-align: center;
     width: 144px;
     z-index: 999;
}

.pe2 .rightColumn {
     color: #333333;
     float: right;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 8pt;
     height: 480px;
     letter-spacing: 0.2px;
     line-height: 10pt;
     margin: 0px 15px 15px;
     position: relative;
     text-align: left;
     width: 265px;
}

.pe2 .breadcrumbs {
     display: block;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 10px;
     margin: 10px 0pt 0pt 16px;
     overflow: hidden;
     padding: 0pt;
     text-transform: uppercase;
}

.pe2 .regionProjects {
     display: block;
     float: left;
     height: 185px;
     line-height: 14px;
     margin: 0px 0px 0px 5px;
     padding: 0px;
     width: 144px;
}

.pe2 .regionProjects a, .pe2 .regionProjects a:link, .pe2 .regionProjects a:visited {
     color: #9E9EA0;
     display: block;
     float: left;
     margin: 0px;
     padding: 5px 7px 4px 5px;
     text-decoration: none !important;
     width: 132px;
}

.pe2 .regionProjects img {
     border: 1px solid #888888;
     height: 104px;
     width: 132px;
}

.pe2 .regionProjects span {
     display: block;
     font-family: Arial,Helvetica,sans-serif;
     font-size: 11px;
     font-weight: 600;
     margin: 0pt;
     padding: 3px 0pt 0pt;
     text-transform: uppercase;
}

.pe2 .leftColumn {
     margin: 0pt 0pt 40px;
     width: 600px;
}

.pe2 .regionProjects a:hover {
     background: none repeat scroll 0% 0% #EEEEEE;
}

#projectName0 div, #projectName11 div, #projectName22 div, #projectName33 div, #projectName44 div, #projectName55 div, #projectName66 div {
     margin-left: 1px;
}

#projectName0 > div, #projectName11 > div, #projectName22 > div, #projectName33 > div, #projectName44 > div, #projectName55 > div, #projectName66 > div {
     background: url("../images/tooltipLeft.png") repeat scroll 0pt 0pt transparent;
}

.pe2 .rightSidePromo {
     height: 368px;
     margin: 0pt 0pt 18px;
}

.pe2 .rightSidePromo .project_description {
     height: 350px;
     margin: 0pt;
     overflow: auto;
}

.pe2 .rightSidePromo .SelectedProjectsH {
     color: #DC291E;
     display: none;
     font-size: 12px;
     font-weight: bold;
     margin: 0pt 0pt 9px;
}

.pe2 .rightSidePromo .SelectedProjects {
     background: none repeat scroll 0% 0% #FFFFFF;
     display: none;
     height: 350px;
     overflow: auto;
     position: relative;
     z-index: 4;
}

.pe2 .rightSidePromo .BrowseClientList a {
     cursor: pointer;
     text-decoration: underline;
}

.pe2 .rightSidePromo.sp .SelectedProjects {
     display: block;
}

.pe2 .rightSidePromo.sp .project_description {
     display: none;
}

.head_project a {
     color: #DC291E;
     cursor: pointer;
     font-size: 12px;
     font-weight: normal;
     position: absolute;
     right: 20px;
     text-decoration: underline;
}

.pe2.firmProfile td {
     font-size: 12px;
}
