.wrapper, #footer, #CarSlidesWrapper {
opacity: 0;
}

#banner.cms div.content h1 {
visibility: hidden;
}

.wf-oswald-n7-active #banner.cms div.content h1, .wf-oswald-i7-active #banner.cms div.content h1, .wf-oswald-i4-active #banner.cms div.content h1, .wf-oswald-n4-active #banner.cms div.content h1 {
visibility: visible !important;
}

html {
background: #C6C6C7 url(../images/bg.png) no-repeat scroll 50% 0;
font-family:'Open Sans', sans-serif;
font-size:13px;
color:#646465;
height:100%;
overflow-x:auto;
}

body {
height:100%;
min-height: 500px;
background: #C6C6C7 url(../images/bg.png) no-repeat scroll 50% 0;
}

body#home {
overflow-x:hidden !important;
}

a {
color:#EA222D;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

body#home {
overflow-y:hidden;
}

#header {
overflow:hidden;
height:141px;
}

.content {
width:980px;
margin:0 auto;
}

#header h1 a {
float:left;
background:url(../images/logo.png) no-repeat center center;
width:400px;
height:61px;
text-indent:-9999px;
display:block;
margin-top:40px;
}

#header p {
color:#fff;
float:right;
font-size:10px;
margin:57px 10px 0 0;
}

#header p a {
text-decoration:none;
color:#fff;
text-transform:uppercase;
padding:0 10px;
}

#menu {
width: 100%;
min-width: 990px;
height:54px;
background:#c6c7c9 url(../images/menu_bg.png) repeat-x;
}

#menu ul {
float:left;
margin-left:23px;
overflow:hidden;
}

#menu ul li {
float:left;
line-height:54px;
border-left:1px solid #dedfe1;
}

#menu ul li.last {
border-right:1px solid #dedfe1;
}

#menu ul li a {
font-family: Oswald, sans-serif;
font-size:13px;
display:block;
font-weight:normal;
text-decoration:none;
text-transform:uppercase;
color:#38393b;
padding:0 30px;
}

#menu ul li a:hover,#menu ul li a.active {
color:#fff;
background:#EA222D;
}

#menu form {
float:left;
margin:11px 0 0 25px;
}

#menu form p,.project-archive_banner form p, form#searchForm .project-archive_banner p.search {
overflow:hidden;
background:#b9bbbf;
width:220px;
height:30px;
border:1px solid #ceced0;
}

#menu form p input, .project-archive_banner form p input, form#searchForm .project-archive_banner p.search input {
border:none;
background:none;
width:185px;
color:#616263;
float:left;
height:30px;
margin-top:-1px;
padding:0 5px;
}

form#searchForm .project-archive_banner p.searchOptions {
display: none;
position: relative;
left: 250px;
top: 25px;
width: 600px;
color: #fff;
}

.project-archive_banner form#projectSearch p input, form#searchForm .project-archive_banner .content ul li p.search input#s {
color: #A8AAAC;
}

.project-archive_banner form p, form#searchForm .project-archive_banner p.search {
background:#424242;
}

#menu div.content form #searchSubmit, #projectSearchSubmit, form#searchForm .project-archive_banner .content ul li p.search input#searchSubmitS {
cursor:pointer;
border:none;
width:25px;
height:19px;
overflow: hidden;
margin-top:6px;
padding:0;
background: transparent url(../images/search.png) no-repeat scroll 0 50%;
display: block;
text-indent: -999px;
line-height: 99px;
color: transparent;
position: absolute;
margin-left: 190px;
}

#headsUp {
height:170px;
z-index:60;
position:relative;
top:0;
background:url(../images/top_slide_bg.png) repeat-x;
display:none;
overflow:hidden;
margin:0 auto;
}

#content_clientLogin.content div {
float:left;
width:370px;
margin:30px 0 0 60px;
}

#content_clientLogin.content div h2 {
color:#424242;
font-family:Oswald, sans-serif;
margin-bottom:5px;
font-size:15px;
text-transform:uppercase;
}

#content_clientLogin form {
float:left;
overflow:hidden;
margin:63px 0 0 25px;
}

#content_clientLogin form input {
background:#b9bbbf;
width:170px;
color:#fff;
border:1px solid #d3d4d5;
height:30px;
line-height:30px;
padding:0 5px;
}

#content_clientLogin form button {
height:30px;
line-height:30px;
color:#fff;
border:none;
border-radius:5px;
cursor:pointer;
position:relative;
top: 1px;
left: 0px;
background:url(../images/login_button.png) repeat-x;
padding:0 15px;
}

.loc {
position: absolute;
z-index: 20;
top: 0;
left: 20px;
min-width: 120px;
overflow: hidden;
}

#content_locations .locations_resume .loc.last {
margin-left: -5px;
}

.locations_list {
overflow:hidden;
width: 1000px;
margin: 0 auto 0 auto;
position: relative;
left: -25px;
}

.locations_list li {
float:left;
border-right:1px dotted #adadac;
padding:125px 10px 26px 10px;
text-align: center;
min-width: 120px;
}

.locations_list li.last {
border-right: none;
padding:125px 0 26px 20px;
}

.locations_list li a {
text-decoration:none;
color:#333333;
}

.locations_resume h3 {
color:#424242;
display:block;
margin-bottom:12px;
}

.locations_resume p {
font-size:10px;
color:#616263;
}

.locations_resume a {
text-decoration:none;
color:#ea222d;
font-size:11px;
text-transform:uppercase;
margin-top:10px;
display:block;
font-weight:bold;
left: 15px;
position: absolute;
}

h1.main_heading {
font-family:'Sorts Mill Goudy', Arial;
font-size:28px;
color:#424242;
padding: 0;
margin: 29px auto 0 auto;
}

.home_text {
padding:20px 45px 0;
}

a.site_map {
float:left;
display:block;
padding-left:10px;
height:30px;
line-height:30px;
color:#fff;
font-size:10px;
text-decoration:none;
margin-top:12px;
}

a.UpDown {
float:left;
display:block;
padding-left:40px;
height:30px;
line-height:30px;
color:#fff;
font-size:10px;
text-decoration:none;
margin-top:12px;
background: transparent url(../images/sitemap_arrow.png) no-repeat scroll 0 0;
}

a.UpDown:hover {
background: transparent url(../images/sitemap_arrow.png) no-repeat scroll 0 -30px;
}

a.UpDown.selected {
background: transparent url(../images/sitemap_arrow.png) no-repeat scroll 0 -90px;
}

a.UpDown.selected:hover {
background: transparent url(../images/sitemap_arrow.png) no-repeat scroll 0 -60px;
}

#footer {
position:relative;
width: 100%;
min-width: 990px;
}

#footer address {
line-height:55px;
float:right;
color:#a5a5a4;
font-size:9px;
text-transform:uppercase;
}

#footer address span {
font-size:19px;
left:5px;
position:relative;
top:3px;
}

#footer p {
overflow:hidden;
float:left;
margin:14px 0 0 228px;
}

#footer p a {
float:left;
font-size:12px;
color:#fff;
text-decoration:none;
background:#656666;
display:block;
margin-left:5px;
}

#footer p a.venues {
background: #656666 url(../images/round.png) no-repeat scroll 0 0;
padding:5px 10px 5px 15px;
min-width: 90px;
text-align: center;
}

#footer p a.venues.selected {
background: #222222 url(../images/round.png) no-repeat scroll 0 0;
}

#footer p a.venues.featured {
background: #BA241C url(../images/round.png) no-repeat scroll 0 0;
}

#footer p a.venues:hover {
background: #7E7F7D url(../images/round.png) no-repeat scroll 0 0;
cursor: pointer;
}

#footer p a.visit_centers {
background: #656666 url(../images/round.png) no-repeat scroll 100% -30px;
padding:5px 15px 5px 10px;
min-width: 90px;
text-align: center;
}

#footer p a.visit_bd {
background: #656666;
padding:5px 15px 5px 10px;
min-width: 90px;
text-align: center;
}

#footer p a.visit_centers.selected {
background: #222222 url(../images/round.png) no-repeat scroll 100% -30px;
}

#footer p a.visit_bd.selected {
background: #7E7F7D;
cursor: default;
}

#footer p a.visit_bd.selected:hover {
background: #7E7F7D;
}


#footer p a.visit_centers:hover {
background: #7E7F7D url(../images/round.png) no-repeat scroll 100% -30px;
}

#footer p a.visit_bd:hover {
background: #7E7F7D;
}

#footUp {
min-height:240px;
display:none;
position:absolute;
left:0;
bottom:50px;
width:100%;
background:#424245;
}

.sitemap_content {
position: relative;
width:980px;
}
.sitemap_content dl {
float:left;
max-width:225px;
margin:20px 25px 20px 26px;
}

.sitemap_content .c4 {
width: 320px;
max-width: 320px;
float: left;
padding: 4px 0 0 25px;
}

.sitemap_content dl.c1 {
margin:20px 25px 20px 21px;
}

.sitemap_content dl dd input {
background:#2b2b2b;
border:1px solid #6c6c6e;
width:185px;
color:#fff;
padding:5px;
}

.sitemap_content dl dd span {
float:left;
margin-top:10px;
overflow:hidden;
}

.sitemap_content dl dd span a {
float:left;
margin-right:7px;
width:21px;
height:21px;
display:block;
background:url(../images/footer_social.png) no-repeat;
}

.sitemap_content dl.c2 {
position: absolute;
top: 105px;
left: 0;
}

.sitemap_content dl.c5 {
position: absolute;
right: 0;
}

.sitemap_content dl dd span a.twi {
background-position:0 0;
}

.sitemap_content dl dd span a.fb {
background-position:-28px 0;
}

.sitemap_content dl dd span a.lin {
background-position:-55px 0;
}

.sitemap_content dl dd span a.vim {
background-position:-83px 0;
}

.sitemap_content dl dd input.submit {
background: transparent url(../images/submit.png) no-repeat scroll center center;
border:0;
cursor:pointer;
display:block;
float:right;
height:28px;
margin-top:8px;
width:83px;
padding:0;
display: block;
text-indent: -999px;
line-height: 99px;
overflow: hidden;
color: transparent;
}

.sitemap_content dl dt {
color:#fff;
font-size:12px;
margin-bottom:10px;
text-transform:uppercase;
}

.sitemap_content dl dd {
font-size:11px;
}

.sitemap_content dl dd a {
color:#9d9d9d;
text-decoration:none;
display:block;
margin-bottom:5px;
text-transform:uppercase;
}

.centers_content {
padding-left:431px;
}

.centers_content img {
margin:45px 0 25px;
}

#footer .centers_content p,#footer .venues_content p {
color:#dbdbda;
font-size:12px;
width:380px;
float:none;
margin:8px 0 0 0;
}

.venues_content {
text-align:right;
float:right;
padding-right:553px;
}

.venues_content h2 {
display:block;
font-family:Oswald, sans-serif;
font-size:44px;
color:#dbdbda;
margin-top:30px;
}

.centers_content a,.venues_content a {
margin-top:10px;
display:block;
color:#EA222D;
text-decoration:none;
}

#footer .sitemap_content dl dd p {
margin:0;
}

.wrapper {
position:relative;
min-height:100%;
height:auto!important;
margin:0 auto -55px;
}

#home .wrapper {
}

#footer,.push {
clear:both;
height:55px;
}

.CarSlide {
display:block;
background:#000000 url(../images/clear.png) no-repeat scroll 50% 195px;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

#headLeft {
display:block;
position:absolute;
left:0;
top:0;
background:#4A4A4C url(../images/menuBar.png) repeat-x scroll 0 100%;
width:50%;
height:195px;
z-index:1;
}

#headRight {
display:block;
position:absolute;
left:0;
top:0;
background:#303032 url(../images/menuBar.png) repeat-x scroll 0 100%;
width:50%;
height:195px;
z-index:1;
margin:0 0 0 50%;
padding:0;
}

#head {
display:block;
position:relative;
left:0;
top:0;
background:transparent url(../images/header_bg.jpg) no-repeat scroll 50% 0;
width:100%;
min-width:990px;
height:195px;
z-index:10;
}

#footLeft {
display:block;
position:absolute;
left:0;
top:0;
background:#D5D5D5 url(../images/footBar.png) repeat-x scroll 0 100%;
width:50%;
height:55px;
z-index:1;
}

#footRight {
display:block;
position:absolute;
left:0;
top:0;
background:#D2D2D3 url(../images/footBar.png) repeat-x scroll 0 100%;
width:50%;
height:55px;
z-index:1;
margin:0 0 0 50%;
}

#foot {
position:absolute;
display:block;
width:100%;
min-width:950px;
height:55px;
z-index:70;
}

#mainLeft {
display:block;
position:absolute;
left:0;
top:0;
background:#CECECE;
width:50%;
height:215px;
z-index:1;
}

#mainRight {
display:block;
position:absolute;
left:0;
top:0;
background:#CACACB url(../images/mainRight.png) no-repeat scroll left center;
width:50%;
height:215px;
z-index:1;
margin:0 0 0 50%;
}

#main {
position:absolute;
bottom:55px;
height:215px;
width:100%;
}

#main_content {
position:absolute;
display:block;
width:100%;
min-width:950px;
height:165px;
padding: 10px 0 0 0;
z-index:3;
}

.carousel_nav {
float:right;
overflow:hidden;
margin:15px 20px 0 0;
}

.carousel_nav a {
float:left;
margin-right:10px;
width:10px;
height:10px;
background:url(../images/dots.png) no-repeat 0 0;
}

.carousel_nav a:hover,.carousel_nav a.active {
background:url(../images/dots.png) no-repeat 0 -10px;
}

.carousel_nav a.active {
cursor: default;
}

#banner, #bannerProjectArchive {
width:100%;
min-width:990px;
overflow:hidden;
position:relative;
background:#000 url(../images/clear) no-repeat scroll 50% 0;
}

.submarket #banner {
background: transparent;
background-position: 50% 0;
overflow: hidden;
}

.submarket #CarSlidesWrapper {
position: absolute;
display: block;
left: 0;
top: 0;
width: 100%;
min-width: 990px;
height: 506px
}

.submarket .carSlideDetails {
top: 460px;
}

.submarket .carousel_nav {
position: relative;
top: 40px;
right: 73px;
}

#bannerProjectArchive {
height: 130px;
}
#banner h1, #bannerProjectArchive h1 {
font-size:64px;
color:#fff;
font-family:Oswald, sans-serif;
position:absolute;
bottom:40px;
margin-left: 19px;
text-transform:uppercase;
}

#banner h6, #bannerProjectArchive h6 {
font-size:30px;
color:#fff;
margin-left:12px;
background:url(../images/dark_ghost.png) repeat;
font-family:Oswald, sans-serif;
position:absolute;
bottom:125px;
text-transform:uppercase;
padding:0 10px;
}

#banner ul, #bannerProjectArchive ul {
overflow:hidden;
position:absolute;
bottom:15px;
margin-left: 22px;
z-index: 28;
}

#banner ul li a, #bannerProjectArchive ul li a {
float:left;
display:block;
color:#fff;
text-decoration:none;
text-transform:uppercase;
font-size:14px;
margin-right:10px;
padding:3px 12px;
}

#banner ul li a, #bannerProjectArchive ul li a {
background: transparent url(../images/oWhite.png) repeat scroll 0 0;
}

#banner ul li a:hover,#banner ul li a.active, #bannerProjectArchive ul li a:hover,#banner ul li a.active {
background:#ba241c;
}

#inner_content {
width:960px;
margin:0 auto;
padding:30px 0 100px 22px;
}

.two_columns .left {
float:left;
width:620px;
}

.two_columns .right {
float:right;
width:265px;
}

.left h2,.red_heading {
font-family:'Sorts Mill Goudy', serif;
font-size:28px;
color:#ea222d;
display:block;
line-height:34px;
padding-bottom:10px;
}

.xtra_top_padding {
padding-top:110px;
}

.xtra_top_padding_2Line {
padding-top:78px;
}

.text p {
margin-bottom:15px;
line-height:22px;
}

li {
line-height:22px;
}

.strong_links li {
display:block;
margin-bottom:15px;
}

.strong_links li a, .strong_links li a:hover {
color:#fff !important;
text-decoration:none;
font-size:16px;
text-transform:uppercase;
background:#999999;
padding:2px 20px 2px 10px;
cursor: default;
display: block;
float: left;
margin: 0 0 12px 0;
}

.section_title {
text-transform:uppercase;
color:#333333;
font-size:16px;
font-weight:bold;
display:block;
margin: 16px 0 0 0;
visibility: visible;
font-family:'Open Sans' !important;
}

.two_columns .right p {
color:#666666;
margin-top:15px;
}

.plan_image {
position:relative;
display:block;
margin-bottom:20px;
}

#accordion, #accordion2, #accordion3 {
margin:18px 0 24px 0;
border-top:1px dotted #d89696;
}

#accordion h4, #accordion2 h4, #accordion3 h4 {
overflow:hidden;
clear:both;
cursor:pointer;
border-bottom:1px dotted #d89696;
padding:5px 0;
position: relative;
}

#accordion h4.active, #accordion2 h4.active, #accordion3 h4.active {
border-bottom:0;
}

#accordion h4 strong, #accordion2 h4 strong, #accordion3 h4 strong, #accordion h4 a, #accordion2 h4 a, #accordion3 h4 a {
float:left;
color:#EA222D;
text-transform:uppercase;
font-weight:normal;
padding:4px 32px 3px 0;
text-decoration: none;
}

#accordion h4 strong, #accordion2 h4 a, #accordion3 h4 a {
max-width: 550px;
}

#accordion h4 span, #accordion2 h4 span, #accordion3 h4 span {
display:block;
width:20px;
height:100%;
background: transparent url(../images/accordion_plus.png) no-repeat scroll 0 50%;
position: absolute;
right: 0;
top: 0;
}

#accordion div, #accordion2 div, #accordion3 div {
display:none;
clear:both;
color:#616263;
line-height:22px;
padding:15px 0 15px 0;
border-bottom:1px dotted #d89696;
}

.right #accordion div {
padding: 3px 0 3px 0;
max-height: 282px;
overflow-y: auto;
}

#accordion h4.active span, #accordion2 h4.active span, #accordion3 h4.active span {
background-position: -20px 50%;
}

#accordion ul li, #accordion2 ul li, #accordion3 ul li {
display:block;
margin-bottom:10px;
}

#accordion ul li strong {
text-transform: uppercase;
}

#accordion ul li a, #accordion2 ul li a, #accordion3 ul li a {
text-decoration:none;
}

#accordion ul li strong, #accordion2 ul li strong, #accordion3 ul li strong {
color:#EA222D;
font-weight:normal;
}

#accordion ul li ol {
margin-top: 13px;
}

#accordion dl dt, #accordion2 dl dt, #accordion3 dl dt {
color:#646465;
}

#accordion dl dd, #accordion2 dl dd, #accordion3 dl dd {
margin-bottom:10px;
font-weight:bold;
}

.right #accordion dl dd, #accordion2 dl dd, #accordion3 dl dd {
display: block;
width: 275px;
}

#accordion dl dd span, #accordion2 dl dd span, #accordion3 dl dd span {
color:#616263;
display:block;
}

#accordion dl dd span.description, #accordion2 dl dd span.description, #accordion3 dl dd span.description {
font-weight: normal;
}

#accordion ul li span, #accordion2 ul li span, #accordion3 ul li span {
color:#616263;
}

#accordion div ul li a span, #accordion2 div ul li a span, #accordion3 div ul li a span {
color:#616263;
}

.featured_projects {
height: 322px;
width: 693px;
overflow: hidden;
padding: 0;
margin: 0;
}

.framed_list_results {
height: 322px;
width: 19000px;
min-width: 692px;
overflow: hidden;
padding: 0;
margin: 0;
}

.framed_list_results li {
border:8px solid #a5a5a4;
width:201px;
overflow: hidden;
position:relative;
margin-bottom:20px;
height:125px;
background: #A5A5A4;
text-align: center;
}

.framed_list_results li:hover {
border:8px solid #616263;
}

.framed_list_results li span {
font-size:13px;
line-height: 18px;
text-transform:uppercase;
color:#fff;
position:absolute;
left:0;
bottom:0;
display:none;
font-weight:bold;
background:url(../images/red_ghost.png) repeat;
padding:5px;
width: 191px;
}

.framed_list_results li:hover span {
display:block;
}

.framed_list li {
border:9px solid #a5a5a4;
width:222px;
position:relative;
margin-bottom:20px;
height:140px;
background: #A5A5A4;
text-align: center;
}

.framed_list li:hover {
border:9px solid #616263;
}

.framed_list li span {
font-size:13px;
line-height: 17px;
text-transform:uppercase;
color:#fff;
position:absolute;
left:0;
bottom:0;
min-height:17px;
width: 206px;
display:none;
font-weight:bold;
background:url(../images/red_ghost.png) repeat;
padding:5px 8px;
text-align: center;
}

.framed_list li:hover span {
display:block;
}

.floating_elements li {
float:left;
margin:30px 40px 0 0;
}

a.see_all,a.go_back, .moreFeatured {
text-transform:uppercase;
color:#ea222d;
text-decoration:none;
display:block;
font-weight:bold;
}

a.go_back, a.moreFeatured {
padding-right:40px;
height:31px;
line-height:31px;
display:inline-block;
background:url(../images/back.png) no-repeat 100% 0;
}

a.go_back:hover, a.moreFeatured:hover {
background:url(../images/back.png) no-repeat 100% -31px;
}

a.moreFeatured {
visibility: hidden;
}

a.moreFeaturedPrev {
padding:0px;
height:31px;
width: 31px;
line-height:31px;
display:block;
background:url(../images/back.png) no-repeat 100% -62px;
position: absolute;
left: 507px
}

a.moreFeaturedPrev:hover {
background:url(../images/back.png) no-repeat 100% -93px;
}

.push_in_sidebar {
margin-bottom:120px;
}

#content_locations .locations_resume div {
display:none;
height:130px;
background:#f5f5f5;
margin:0;
padding:20px 15px;
}

#content_locations .locations_resume {
float:left;
width:230px;
margin:0;
}

.person_photo {
margin-right:20px;
width:220px;
float:left;
}

.person_photo img {
border: 1px solid #bbb;
width: 220px;
height: 293px;
}

.person_content {
float:left;
width:700px;
}

.contact_mail {
text-transform:uppercase;
color:#ea222d;
text-decoration:none;
float:right;
margin-top:30px;
font-weight:bold;
padding-right:30px;
height:31px;
line-height:31px;
display:inline-block;
background:url(../images/contact_email.png) no-repeat right center;
}

.person_title {
margin:0;
}

.person_title h2 {
color:#616263;
font-size:18px;
}

.person_details .left {
float:left;
width:375px;
}

.person_details .right {
float:right;
width:300px;
}

.person_accordion dl dt {
color:#646465;
}

.person_accordion dl dd {
margin-bottom:10px;
font-weight:bold;
}

.person_accordion dl dd span {
color:#616263;
display:block;
}

.person_work {
min-height: 1050px;
}
.person_work, .project_results {
display: none;
}

.person_work form div, .project_results form div {
float:left;
margin-right:15px;
}

.selectFancy {
width:223px;
height:32px;
overflow:hidden;
display:none;
z-index: 80;
}

.selectFancy.last {
margin-right:0 !important;
}

.selectFancy em {
width:221px;
height:32px;
overflow:hidden;
display:block;
background:transparent url(../images/select.png) no-repeat scroll 0 0;
font-style:normal;
line-height:32px;
cursor:default;
padding:0 0 0 10px;
color: #F5F5F5;
}

.selectFancy span {
position:absolute;
display:none;
width:209px;
background:#F4F4F4;
cursor:default;
border:1px solid #E0E0E0;
border-top:0;
line-height:25px;
padding:5px;
z-index: 82;
}

.selectFancy input {
cursor: pointer;
display: block;
margin: 4px 0 0 0;
float: left;

}

.selectFancy label {
cursor: pointer;
display: block;
position: relative;
margin-left: 16px;
line-height: 20px;
width: 192px;
}

.selectFancy strong label {
margin-left: 27px;
width: 181px;
padding: 0;
}

.selectFancy strong, .selectFancy strong strong {
display: block;
font-weight: normal;
}

.project_sort, .accordion_sort {
background:#f5f5f5;
clear:both;
text-transform:uppercase;
margin:15px 0 30px;
padding:7px;
position: relative;
height: 18px;
}

.project_sort a, .accordion_sort a {
color:#ea222d;
text-decoration:none;
padding:0 5px;
position: absolute;
}

.project_sort a.project_sort_v, .accordion_sort a.project_sort_v {
width: 90px;	
}

.project_sort a.project_sort_a, .accordion_sort a.project_sort_a {
left: 166px;
}

.IE5 .project_sort a.project_sort_a, .IE5 .accordion_sort a.project_sort_a, .IE6 .project_sort a.project_sort_a, .IE6 .accordion_sort a.project_sort_a .IE7 .project_sort a.project_sort_a, .IE7 .accordion_sort a.project_sort_a {
left: 177px;
}

.IE8 .project_sort a.project_sort_a, .IE8 .accordion_sort a.project_sort_a, .IE9 .project_sort a.project_sort_a, .IE9 .accordion_sort a.project_sort_a {
left: 172px;
}

.project_sort a.project_sort_t, .accordion_sort a.project_sort_t {
left: 60px;
}

a.project_sort_t:hover, a.project_sort_a:hover, a.project_sort_r:hover {
font-weight: bold !important;
}

.project_sort em.orderSeparator, .accordion_sort em.orderSeparator {
float: none;
position: absolute;
left: 158px;
}

.project_sort a.selected, .accordion_sort a.selected {
font-weight: bold;
}

.project_sort strong {
visibility: hidden;
}

.project_sort em, .accordion_sort em {
float: right;
}

.project_list dl dt {
overflow:hidden;
padding-bottom:5px;
text-transform:uppercase;
color:#646465;
border-bottom:1px dotted #d89696;
}

.project_list dl dd {
border-bottom:1px dotted #d89696;
overflow:hidden;
padding:15px 0;
}

.project_list dl dd a {
text-decoration:none;
display:block;
position: relative;
}

.project_list dl dd a strong {
color:#424242;
text-transform:uppercase;
font-weight:bold;
}

.project_results div.project_list dl dd.filter b, .project_list dl dd a tt {
display: none;
}

.project_list dl dd a > span {
color:#ea222d;
display: block;
width: 550px;
}

.project_list dl dd a span span {
color: #EA222D;
}


.project_list dl dd a span em {
color:#616263;
position: absolute;
right: 0;
}

.project_list dl dd a span span em {
color: inherit;
position: inherit;
display: inline;
right: auto;
}


.project_list>li {
padding-top:17px;
background:#f5f5f5;
overflow:hidden;
width:940px;
margin-bottom:15px;
cursor: default;
position: relative;
}

.project_list li .img {
display:block;
margin-bottom:-4px;
padding: 0;
}
.project_list li img {
display:block;
margin: 0;
padding: 0;
border: 0;
}

p.allProjects {
margin: 18px 0 0 0;
background: #e0e0e0;
border: 1px solid #bbb;
text-align: center;
padding: 0 0 0 0;
line-height: 22px;
width: 192px;
}

p.allProjects a {
text-decoration: none;
text-transform: uppercase;
display: block;
}

p.allProjects a:hover {
font-weight: bold;
}

.project_title {
width:198px;
margin: 2px 30px 0 30px;
}

.project_title h1 {
display:block;
color:#646465;
font-size:30px;
font-family:Oswald, sans-serif;
font-weight:normal;
line-height:32px;
margin-bottom:15px;
}

.project_title a {
text-decoration:none;
color:#ea222d;
text-transform:uppercase;
}

.clear_and_margin {
clear:both;
height:20px;
}

.c {
float: none;
clear: both;
display: block;
height: 1px;
}
.project_description {
width:400px;
line-height:20px;
margin: 0 25px 0 0;
}

.projects_menu {
margin: 2px 0 0 0;
width:250px;
}

.projects_menu ol li {
display:block;
margin-bottom:8px;
padding:0;
width:250px;
line-height: 16px;
}

.projects_menu ol li a {
text-transform:uppercase;
color:#EA222D;
text-decoration:none;
width: 260px;
display: block;
}

.wrapper #sub_menu div.content ul {
margin: 0 0 0 11px;
}

#sub_menu {
overflow:hidden;
background:#EA222D;
line-height:24px;
padding: 7px 30px 7px 30px;
}

#sub_menu ul li {
float:left;
color:#fff;
white-space:nowrap;
}

#sub_menu ul li a {
color:#fff;
text-decoration:none;
padding:0 8px 0 12px;
position: absolute;
}

#sub_menu .content ul li strong a {
position: relative;
padding:0 4px 0 12px;
visibility: hidden !important;
}


#sub_menu .content ul li strong {
position: relative;
padding:0 0 0 12px;
visibility: hidden !important;
}

#sub_menu .content ul li a:hover {
font-weight: bold;
}

.two_columns .left h2.grey_heading {
color:#424242;
margin-bottom:0;
}

.sub_heading {
color:#616263;
font-size:20px;
font-family:'Sorts Mill Goudy', serif;
}

.top_bot_margin {
margin:30px 0 40px;
}

#accordion.casestudy_accordion {
width:220px;
margin-top:40px;
margin-bottom:0;
}

.play_video {
display:block;
text-decoration:none;
margin-top:30px;
color:#EA222D;
}

.casestudy_accordion p {
margin-top:0!important;
margin-bottom: 14px;
}

.casestudy_accordion p strong {
display:block;
}

.casestudy_accordion p span {
color:#646465;
font-size:12px;
}

.search_breadcrumbs {
width: 690px;
}
.search_breadcrumbs ul li {
float:left;
color:#646465;
text-transform:uppercase;
font-size:14px;
padding:0 10px 0 0;
}

.search_breadcrumbs ul li a {
text-decoration:none;
color:#646465;
padding:0;
position: absolute;
white-space:nowrap;
cursor: text;
}

.search_breadcrumbs ul li a:hover {
cursor: text;
}
.search_breadcrumbs ul li strong {
text-decoration:none;
color:#EA222D;
padding:0;
visibility: hidden;
white-space:nowrap;
}

.less_margin li {
margin:20px 20px 0 0;
}

.no_right_margin {
margin-right:0!important;
}

.project_filters {
float:right;
border:10px solid #dbdbda;
background:#fbfeff;
width:220px;
padding-bottom:15px;
}

.clear_filters {
text-transform:uppercase;
text-decoration:none;
color:#ea222d;
background:#dbdbda;
width:140px;
display:block;
text-align:center;
margin:0 auto 20px;
padding:5px 0;
}

.project_filters em {
padding-left:10px;
text-transform:uppercase;
color:#646465;
}

.project_filters dt {
font-size:12px;
line-height:14px;
margin-bottom:3px;
}

.project_filters dl {
margin:15px 0 0 10px;
}

.project_filters dl dd {
font-size:12px;
line-height:14px;
margin-bottom:5px;
}

.project_filters dl dd a {
color:#EA222D;
text-decoration:none;
text-transform:capitalize;
}

.project_filters dl dd a:hover {
font-weight:bold;
}

#header h1,#banner ul li,.project_list dl dt em,.project_list div {
float:left;
}

#header h1 a:hover, #content_clientLogin form button:hover,.sitemap_content dl dd button:hover,.sitemap_content dl dd span a:hover, .submit:hover {
opacity:0.8;
}

#header p a:hover,.sitemap_content dl dd a:hover,.strong_links li a:hover {
color:#EA222D;
}

#menu .content {
height: 54px;
overflow: hidden;
}

#menu .content,.sitemap_content,.two_columns,.floating_elements,.person_layout,.person_details,.person_work form,.search_breadcrumbs {
overflow:hidden;
}

.locations_list li a:hover,span.red_text,.site_map:hover {
color:#ea222d;
}

.person_accordion dl dd strong {
color:#616263;
font-style: italic;	
}

#accordion h4.active strong,#accordion2 h4.active strong,#accordion3 h4.active strong,.people_list_accordion ul li a:hover strong,.people_list_accordion ul li a:hover span,.projects_menu ol li a:hover,.play_video:hover,.clear_filters:hover {
font-weight:bold;
}

.person_title h1,.no_bottom_margin {
margin-bottom:0;
}

.person_content .moreFeatured, .person_content .go_back,.project_list dl dt > span {
float:right;
}

#sitemap_content, #venues_content, #centers_content {
display: none;
}

#content_clientLogin, #content_locations {
display: none;
}

#header p a.locations.selected, #header p a.clientLogin.selected, #header p a.contact.selected, div.content a.site_map.selected {
color: #EA222D !important;
}

#menu a.selected {
background: #b7b7b7;
}

.sitemap_content a.selected {
color: #EA222D;
}

.more {
display: block;
width:83px;
height:24px;
background: transparent url(../images/more.png) no-repeat scroll 0 0;
cursor:pointer;
margin: 28px 0 32px 0;
text-decoration: none;
border: 0;
outline: 0;
}

.more:hover{
	background-position:left bottom;
}

#searchMsg {
font-family:'Sorts Mill Goudy', serif;
font-size:28px;
color:#ea222d;
display:block;
line-height:34px;
margin-bottom:10px;
}


.left .resultsDiv h2.notFound {
color:#424242;
font-family:'Open Sans', sans-serif;
margin-bottom:5px;
font-size:14px;
text-transform:uppercase;
}

.webResult {
margin: 0 0 18px 0;
}

#inner_content div.resultsDiv  div.webResult a {
text-decoration:underline;
color:#646465;
font-size:13px;
text-transform:uppercase;
margin-top:4px;
display:block;
font-weight:bold;
}

#inner_content div.resultsDiv div.webResult a:hover{
color:#ea222d;
}

#inner_content div.resultsDiv div.webResult h2 a {
text-decoration:none;
color:#ea222d;
font-size:13px;
text-transform:uppercase;
margin-top:10px;
display:block;
font-weight:bold;
}

#inner_content div.resultsDiv div.webResult h2 a:hover {
text-decoration:underline;
}

.resultsDiv .webResult h2 {
line-height: 22px;
padding: 0;
}

.mask {
display: block;
padding: 0;
margin: 0;
width: 100%;
height: 187px;
background: transparent url(../images/maskBlackGrad.png) scroll 0 0;
position: absolute;
bottom: 0px;
}

.person_work_left {
width: 603px;
}

.pad_top {
margin-top: 30px;
}

#inner_content .person_layout .project_filters dl dt {
text-transform: uppercase;
}

#venues_content {
position: relative;
}

#venues_content .venues_menu {
position: absolute;
left: 455px;
top: 71px;
}

#venues_content .venues_menu a {
color: #D9D9D8;
text-decoration: none;
}

#venues_content .venues_menu a:hover {
font-weight: bold;
}

.pagination {
padding: 0;
margin: 0;
}

.person_work .pagination, .project_results .pagination {
margin: 25px 0 0 0;
}

.pagination a.next, .pagination a.next2 {
float: right;
}

.person_work .pagination a.next, .project_results .pagination a.next {
display: none;
}

.pagination a.previous, .pagination a.previous2 {
display: none;
}

#projectResultList p.pagination a.previous, #projectResultList p.pagination a.next {
display: inline;
}

.pagination a:hover {
font-weight: bold
}

#accordion.paginate {
min-height: 500px;
}

#slideTop, #slideBottom {
display:block;
background: #000000 url(../images/clear.png) no-repeat scroll 50% 195px;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

.orderF {
position: absolute;;
left: 209px;
padding: 0;
margin: 0;
}

.orderF a {
position: absolute;
left: 10px;
top: 0;
}

.bioStandard, .bioVenues {
margin-top: 20px;
}

.bioVenues {
display: none;
}

.person_details .right div#accordion.person_accordion div dl dd p {
font-weight: normal;
margin: 0 0 8px 0;
}

.right .person_accordion div dl dd em {
}

.webResult h2 a {
font-family:'Open Sans', sans-serif;
}

.project_filters dl dd a.selected {
 font-weight: bold;
}

#inner_content .two_columns div.right address {
font-style: italic;
background: transparent url(../images/quote.png) no-repeat scroll 0 0;
min-height: 106px;
padding: 10px 10px 14px 10px;
font-size: 18px;
line-height: 30px;

}

#inner_content .two_columns div.right address.statement {
background: transparent url(../images/statement.png) no-repeat scroll 0 0;
min-height: 1px;
}

#inner_content .two_columns div.right div.quoteClose, #inner_content .two_columns div.right div.statementClose {
background: transparent url(../images/quote.png) no-repeat scroll 0 -575px;
display: block;
height: 25px;
padding: 0;
margin: 0;
}

#inner_content .two_columns .left .text ul li {
background: transparent url(../images/bulletRed.gif) no-repeat scroll 2px 9px;
padding: 0 0 0 17px;
}

#inner_content .two_columns .left .news_accordion ul li {
background: transparent;
padding: 10px 0 0 0;
}

.safe_subscribe_logo {
border: 0;
outline: 0;
width: 1px;
height: 1px;
position: absolute;
float: left;
bottom: 0px;
left: 0px;
opacity: .1;
}

.project_archive {
margin-top: 20px;
}

#projectsFeatures {
padding: 0 0 22px 0;
position: relative;
visibility: hidden;
}

.highlight {
background: #E0E07E;
}

.project_results .project_sort em.relevance {
position: absolute;
left: 200px;
}

.project_results .project_sort em.relevance a {
position: absolute;
display: inline !important;
top: 0;
left: 12px;
}

.sb {
position: absolute;
left: 7px;
}

#accordion.news_accordion div a strong {
display: block;
font-weight: normal;
}

#accordion3 div a strong {
display: block;
font-weight: normal;
margin-top: 4px;
}

.project_results404 h2 {
color: #EA222D;
}

.sitemap_content dl dd p {
color: #9D9D9D;
}

#rightSOQ {
position: absolute;
}

iframe, #iframe {
background: #C6C6C7;
overflow: auto;
}

body.opportunities, body.welcome {
background: #C6C6C7;
}

#content_contact.content>div {
padding: 0 0 0 23px;
}

#content_contact.content div h2 {
font-weight: bold;
font-size: 16px;
line-height: 34px;
margin: 13px 0 0 0px;
}

.carDetails {
display: none;
}

.carSlideDetails {
position: absolute;
z-index: 15;
bottom: 280px;
left: 0;
width: 100%;
padding: 0;
margin: 0;
}

.short .carSlideDetails {
bottom: 210px;
}

.submarket .carSlideDetails {
margin-top: 37px;
}

.carSlideDetails p {
width: 930px;
margin: 0 auto 0 auto;
padding: 0;
position: relative;
}

.submarket .carSlideDetails p {
width: 803px;
}

.carSlideDetails p a {
display: block;
position: absolute;
right: 0;
bottom: 0;
color: #BCBFB6;
text-decoration: none;
min-width:36px;
min-height: 36px;
background: transparent;
}

#slideBottom .carSlideDetails p a {
background: transparent url(../images/oPlus.png) no-repeat scroll 100% 100%;
}

#slideBottom .carSlideDetails p a.overDone {
background: transparent;
}

#slideBottom .carSlideDetails p a * {
display: none;
}

.carSlideDetails p a em {
min-width: 300px;
padding: 12px 15px 12px 18px;
}

#slideTop .carSlideDetails p a em {
background: transparent url(../images/oBlack.png) repeat;
}

.carSlideDetails p a em {
display: none;
}

.carSlideDetails p a:hover em, .carSlideDetails p a.over em {
display: block;
}


.carSlideDetails p a:hover {
color: #ced1c8;
}

.carSlideDetails p a .carClientName {
display: block;
font-size: 14px;
line-height: 20px;
text-align: right;
}

.carSlideDetails p a .carProjectName {
text-align: right;
display: block;
font-size: 12px;
line-height: 16px;
margin: 2px 0 3px 0;
}

.portDetails p a .carProjectName {
text-align: right;
display: block;
font-size: 12px;
line-height: 16px;
margin: 2px 0 3px 0;
}

.carSlideDetails p a .carArch {
text-align: right;
display: block;
font-size: 12px;
line-height: 16px;
text-transform: capitalize
}

.carSlideDetails p a .carMore {
text-align: right;
display: block;
font-size: 12px;
line-height: 16px;
text-transform: capitalize;
color: #EA222D;
margin: 10px 0 8px 0;
}

.carSlideDetails p a .carMore:hover {
text-decoration: underline;
}

.carSlideDetails p a .carCredits {
text-align: right;
display: block;
font-size: 12px;
line-height: 16px;
text-transform: capitalize
}

.carClient {
width: 100%;
margin: 0;
padding: 0;
position: absolute;
left: 0;
bottom: 5px;
width: 100%;
height: 28px;
overflow: hidden;
}

.carClient p {
cursor: default;
color: #aaaaaa;
text-align: right;
padding: 0 110px 0 0;
height: 28px;
overflow: hidden;
font-weight: bold;
}

.carClient p span {
display: block;
background: transparent url(../images/oBlack.png) repeat scroll 0 0;
float: right;
padding: 0 20px 0 21px;
height: 28px;
line-height: 25px;
overflow: hidden;
font-weight: normal;
font-size: 14px;
}

.submarket .carousel_navWrapper {
height: 30px;
left: 0pt;
position: absolute;
top: 465px;
width: 100% ! important;
z-index: 12;
background: transparent;
}

.submarket .carousel_navWrapper .carousel_navWrapper2  {
height: 30px;
width: 980px ! important;
margin: 0 auto 0 auto;
background: transparent;
}

.submarket #banner, .submarket.height1 #banner {
height: 314px;
}
.submarket #CarSlidesWrapper, .submarket.height1 #CarSlidesWrapper {
height: 506px;
}
.submarket .carousel_navWrapper, .submarket.height1 .carousel_navWrapper {
top: 465px;
}
.submarket .carSlideDetails, .submarket.height1 .carSlideDetails {
top: 460px;
}

.submarket.height2 #banner {
height: 300px;
}
.submarket.height2 #CarSlidesWrapper {
height: 492px;
}
.submarket.height2 .carousel_navWrapper {
top: 451px;
}
.submarket.height2 .carSlideDetails {
top: 446px;
}

.submarket.height3 #banner {
height: 280px;
}
.submarket.height3 #CarSlidesWrapper {
height: 472px;
}
.submarket.height3 .carousel_navWrapper {
top: 431px;
}
.submarket.height3 .carSlideDetails {
top: 426px;
}

.submarket.height4 #banner {
height: 260px;
}
.submarket.height4 #CarSlidesWrapper {
height: 452px;
}
.submarket.height4 .carousel_navWrapper {
top: 411px;
}
.submarket.height4 .carSlideDetails {
top: 406px;
}

.submarket.height5 #banner {
height: 240px;
}
.submarket.height5 #CarSlidesWrapper {
height: 432px;
}
.submarket.height5 .carousel_navWrapper {
top: 391px;
}
.submarket.height5 .carSlideDetails {
top: 386px;
}

.submarket.height6 #banner {
height: 230px;
}
.submarket.height6 #CarSlidesWrapper {
height: 422px;
}
.submarket.height6 .carousel_navWrapper {
top: 381px;
}
.submarket.height6 .carSlideDetails {
top: 376px;
}

.submarket.height7 #banner {
height: 220px;
}
.submarket.height7 #CarSlidesWrapper {
height: 412px;
}
.submarket.height7 .carousel_navWrapper {
top: 371px;
}
.submarket.height7 .carSlideDetails {
top: 366px;
}

div.right div#accordion.person_accordion div {
width: 298px;
}

div.right div#accordion.person_accordion div p {
width: 281px;
}

div.right div#accordion.casestudy_accordion div {
width: 218px;
}

div.right div#accordion.casestudy_accordion div p {
width: 201px;
}

.left .text .news_accordion h4.active strong em {
font-weight: bold;
}

span.timeline {
display: block;
}
span.timeline span {
display: block;
margin: 5px 0 0 0;
}

span.timeline strong {
display: block;
position: absolute;
}

span.timeline em {
display: block;
font-style: normal;
padding: 0;
margin: 0 0 0 50px;
}

h3.timeline {
font-family:'Sorts Mill Goudy', serif;
font-size:22px;
color:#ea222d;
display:block;
line-height:34px;
margin-bottom:10px;
}

body.IE2 #siteSearchQ, body.IE3 #siteSearchQ, body.IE4 #siteSearchQ, body.IE5 #siteSearchQ, body.IE6 #siteSearchQ, body.IE7 #siteSearchQ {
padding: 6px 0 0 6px;
}

body.IE9 #siteSearchQ {
padding: 3px 0 0 16px;
}


.portDetails {
display: none;
background: transparent url(../images/oBlack.png) repeat scroll 0 0;
padding: 0 20px 0 21px;
position: absolute;
bottom: 15px;
right: 15px;
}
.portDetails p a, .portDetails p a:link, .portDetails p a:visited, .portDetails p a:hover {
text-decoration: none;
}

.portDetails p a .carClientName {
display: block;
font-size: 14px;
line-height: 20px;
text-align: right;
color: #ced1c8;
}

.portDetails p a .carArch {
text-align: right;
display: block;
font-size: 12px;
line-height: 16px;
text-transform: capitalize;
color: #ced1c8;
}

.portDetails p a em {
min-width: 300px;
padding: 12px 15px 12px 18px;
color: #ced1c8;
float: right;
}

.portDetails p a .carMore {
text-align: right;
display: block;
font-size: 12px;
line-height: 16px;
text-transform: capitalize;
color: #EA222D;
margin: 10px 0 8px 0;
}

.portDetails p a .carMore:hover {
text-decoration: underline;
}

.portDetails p a .carCredits {
text-align: right;
display: block;
font-size: 12px;
line-height: 16px;
text-transform: capitalize
}

.portPlus {
display: none;
position: absolute;
bottom: 15px;
right: 15px;
background: transparent url(../images/oPlus.png) no-repeat scroll 100% 100%;
height: 36px
}

.portPlus a {
display: block;
color: #ced1c8;
font-size: 14px;
line-height: 31px;
background: transparent url(../images/oBlack.png) repeat scroll 0 0;
padding: 0 20px 0 21px;
margin: 3px 55px 0 0;
}

.portPlus a:hover {
text-decoration: none;
cursor: default;
}

.two_columns .left p {
min-height: 33px;
}

#loadme {
visibility: hidden;
position: absolute;
top: 0;
left: 0;
margin-left: -99px;
}

#accordion.news_accordion h4 strong strong {
float: none;
margin: 0;
padding: 0;
}

a.locations, a.contact {
position: relative;
z-index: 5000;
}

.pmg {
display: block;
padding: 0;
margin: 0;
min-height: 37px;
}

#accordion strong strong, #accordion2 strong strong, #accordion3 strong strong {
display: inline;
padding: 0 5px 0 0;
}

.crawlme {
display: none;
}

#accordion div ul, #accordion2 div ul, #accordion3 div ul {
margin-top: 0;
padding-top: 0;
}

#accordion div ul li, #accordion2 div ul li, #accordion3 div ul li {
margin-top: 0  !important;
padding-top: 0 !important;
}

#accordion div p, #accordion2 div p, #accordion3 div p {
margin-bottom: 0 !important;
padding-bottom: 0 !important;
min-height: 0 !important;
}

.right #accordion div p, .right #accordion2 div p {
margin-bottom: 10px  !important;
padding-bottom: 0 !important;
min-height: 0 !important;
}


#accordion div {
padding: 0 0 14px 0;
}

#accordion2 div, #accordion3 div {
padding: 0 0 2px 0;
}

#accordion.news_accordion div{
padding: 0 0 2px 0 !important;
}

.highight, .highight .highight {
background: yellow;
color: inherit;
display: inline;
}


#accordion.person_accordion div dl dd span strong {
font-style: normal;
}

#pp {
display: none;
}

#resultsDivProjects {
display: none;
}

.resultsDiv .webResult p b {
background: yellow;
font-weight: normal;
}

.vidThumb {
display: block;
width: 220px;
line-height: 18px;
padding: 165px 0 0 0;
margin: 26px 0 0 0;
outline: 0;
text-align: center;
}

.vidThumb:hover {
text-decoration: none;
}

#accordion.casestudy_accordion div a  {
padding: 0 0 14px 0;
display: block;
font-size: 12px;
font-weight: normal;
}

#accordion.casestudy_accordion div a strong {
font-size: 12px;
font-weight: normal;
}

#banner.portfolio_banner div.content ul, #inner_content ul.project_list {
opacity: 0;
visibility: hidden;
}

.d #banner.portfolio_banner div.content ul, .d #inner_content ul.project_list {
opacity: 1;
visibility: visible;
}

#projectsFeatures .featured_projects .framed_list_results li {
display: none;
}

#projectsFeatures .featured_projects .framed_list_results li.loaded {
display: block;
display: list-item;
}

#projectSearch_FilterState {
margin: 10px 10px 0 10px;
padding: 0;
text-transform: uppercase;
}

#projectSearch_FilterState h2 {
font-size: 12px;
font-weight: normal;
padding: 0;
margin: 0 0 10px 0;
}

.peopleNews p strong {
display: block;
}

.peopleNews p a strong {
display: block;
margin: 0 0 12px 0;
}

.peopleNews a {
display: block;
margin: 0 0 6px 0;
}

.peopleNews a strong {
font-weight: normal;
}

#footer .sitemap_content .c4 .tweet p {
     margin: 0;
     font-size: 11px;
}

#footer .sitemap_content .c4 .tweet p strong.twitDateContent {
     color: #9D9D9D;
     font-weight: normal;
}

#footer .sitemap_content .c4 .tweet p strong.twitDateContent a {
     background: transparent;
     color: #9D9D9D;
     display: inline;
     float: none;
     margin-left: 0;
     font-weight: normal;
}

#footer .sitemap_content .c4 .tweet p strong.twitDateContent a:hover {
     color: #fff;
}

#footer .sitemap_content .c4 .tweet p em.twitDateTime {
     color: #797979;
     display: block;
     float: none;
     font-weight: normal;
     margin: 0px 0px 6px;
}
#footer #ft-tweets p {
font-size: 11px;
margin: 0 !important;
color: #9d9d9d;
}
#footer #ft-tweets a {
background: none;
}
.c4 h3 {
margin: 17px 0 12px 0;
text-transform: uppercase;
font-size: 12px;
line-height: 14px;
/* display:none; */
}
.c4 h3 a {
color: #fff;
}









.interact {
display: none;
}
.timePosted {
margin-top: 5px !important;
font-style: italic;
}
    
    


.tweet_list {
height: 138px;
overflow: hidden;
position: relative;
}

.tweet_list li {
float: left;
margin: 0;
padding: 0;
position: relative;
height: 138px;
overflow: hidden;
display: none;
}

.tweet_list li.tweet_selected {
display: block;
}

#footer .tweet_list li address {
float: left;
clear: both;
width: 270px;
display: block;
font-style: italic;
height: 18px;
line-height: 18px;
overflow:hidden;
padding: 0;
margin: 2px 0 0 0;
}

#footer .tweet_list li address a {
display: inline;
}


#footer .tweet_list li p.tweet_text a {
background: transparent;
color: inherit;
display: inline;
float: none;
font-size: inherit;
margin-left: 0;
text-decoration: underline;
font-weight: bold;
}

#footer .tweet_list li p.tweet_text a:hover {
color:#EA222D;
}

.tweetNav {
margin: 0 0 6px 0;
line-height: 16px;
height: 16px;
overflow: hidden;
display: block;
position: relative;
}

#footer .tweetNav a.twitterLink {
font-size: 14px;
line-height: 16px;
font-weight: bold;
display: inline;
}


.tweetNext {
background: red;
border: 0;
display: block;
height: 16px;
width: 16px;
position: absolute;
top: 0;
right: 0;
}

.sitemap_content dl dd a.tweetPrev {
background: transparent url(../images/twitArrows.gif) no-repeat scroll 0 0;
border: 0;
width: 8px;
height: 16px;
position: absolute;
right: 28px;
top: 0pt;
display: none;
}

.sitemap_content dl dd a.tweetPrev:hover {
background: transparent url(../images/twitArrows.gif) no-repeat scroll 0 -16px;
}

.sitemap_content dl dd a.tweetNext {
background: transparent url(../images/twitArrows.gif) no-repeat scroll -8px 0;
border: 0;
display: block;
width: 8px;
eight: 16px;
position: absolute;
right: 8px;
top: 0pt;
}

.sitemap_content dl dd a.tweetNext:hover {
background: transparent url(../images/twitArrows.gif) no-repeat scroll -8px -16px;
}

.sitemap_content dl.c4 dd div.tweet ul.tweet_list a {
text-transform: none;
}

.bulletList {
display: block;
padding: 0 0 0 35px;
background: transparent url(/assets/images/bulletRed.gif) no-repeat scroll 12px 9px;
}

#inner_content div.two_columns div.left div.text p strong.introText {
font-weight: normal;
}

dd.cert p {
font-weight: bold !important;
}

.empty {
display: none;
}

.lCol1 {
width: 32%;
float: left;
}

.lCol2 {
width: 32%;
float: left;
}

.lCol3 {
width: 36%;
float: left;
}


.locItem em a {
color: #EA222D;
}

.locItem strong {
color: #000;
}
.cmsEditing .lCol1, .cmsEditing .lCol2, .cmsEditing .lCol3 {
margin: 50px 0 0 0;
}

p.locItem span.cms {
display: block;
}

.home_text {
min-height: 115px;
}

.specialImg {
display: none;
}
.cmsEditing .specialImg {
margin: 0 0 0 700px;
display: block;
position: absolute;
width: 55px;
height: 25px;
overflow: hidden;
}

.right .section_title {
margin: 0 0 16px 0;
}

#conList div ul li a:hover {
text-decoration: none;
}

#conList div ul li a:hover strong{
text-decoration: underline;
}

#conList div ul li a span {
display: block;
}

#conList div ul li a:hover span {
display: block;
}

#conList.people_list_cons h4 {
visibility: hidden;
}

p.cmsName_Home_Page_Red_Text {
display: none;
}
.cmsEditing p.cmsName_Home_Page_Red_Text {
position: absolute;
top: 1px;
min-height: 22px;
display: block;
}

#conList.people_list_cons div ul li {
margin-bottom: 2px
}

#conList div ul li a strong {
font-weight: normal;
}

.cmsType_Rich h3 {
    color: #EA222D;
    display: block;
    font-family: 'Sorts Mill Goudy',serif;
    font-size: 25px;
    line-height: 27px;
    padding: 0 0 12px 0;
}

.right .strong_links li {
clear: both;
}

.cmsName_Home_Special_Image {
margin: 0 0 0 750px;
}

.cmsEditing .cmsEdit.cmsName_Careers_Page_Bottom_Right_Image {
margin: 24px 0 0 0;
}

.Careers_Bottom_Right_Img {
     display: block;
     margin: 24px 0px 0px;
}

.social h3 {
clear: both;
float: none;
font-size: 14px;
font-weight: bold;
margin: 40px 0 0 0;
}

.social strong {
display: block;
clear: both;
float: none;
font-weight: normal;
}

.social em {
font-style: italic;
}

.social > span {
margin: 14px 0 0 0;
display: block;
}

.social > span > a {
    background: transparent url("../images/footer_social.png") no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 21px;
    margin-right: 7px;
    width: 22px;
}

.social > span > a.fb {
    background: transparent url("../images/footer_social.png") no-repeat scroll -27px 0;
}

.social > span > a.lin {
    background: transparent url("../images/footer_social.png") no-repeat scroll -54px 0;
}

.cmsEditing .cmsName_Services_Page_Services_2.cms {
display: block;
min-height: 30px;
margin-top: 10px;
}

.submarket #accordion.news_accordion, .submarket #accordion2.news_accordion, .submarket #accordion3.news_accordion {
 max-height: 450px;
 overflow: auto;
 padding-right: 20px;
 width: 620px;
}

.cmsEditing .cmsType_Textset.cmsName_Services_Page_Services_2#accordion2 {
visibility: visible !important;
}

.cmsEditing h3.cmsName_Services_Page_Section_2_Heading {
min-height: 30px;
}