html,body{background:#333;color:#fff;padding: 0; margin: 0;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-spacing:0}fieldset,img{border:0 none}address,caption,cite,code,dfn,em,th,var,tt{font-style:normal;font-weight:normal}li{list-style-image:none;list-style-position:outside;list-style-type:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0 none;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;outline:0}legend{color:#000;display:none;}del,ins{text-decoration:none}a{text-decoration:none;outline:0;color:inherit}a:hover{text-decoration:none}

/* Style */
html{
    font-size: 13px;
    font-family: 'Open Sans', Tahoma, Verdana;
    color: white;
}
body {
    min-width: 320px;
}

a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.load, .seo, .hide, .hidden-submit {
    display: none;
}
.wrapper{
}

.resizable-background{
display: block;
position: fixed !important;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 0;
margin: 0;
overflow: hidden;
z-index: 0;
}

.resizable-background img{
    position:absolute;    
    display: block;
    top: 0;
    left: 0;
}   

.js-enabled .resizable-background{
    visibility: hidden;
}
.transparent-black-box{
    padding: 15px 20px;    
    border-top: 6px solid #2964ae;
    background: url("../images/black-ghost.png");
}

.js-enabled .slide {
    width: 400px;
    top: 110px;
    display: none;
    position: fixed;
    left: 50%;
    margin-left: -200px;
}

.page .slide {
   width: 400px;
   margin: 100px auto 0 auto;
}

#homeBuckets.hover .slide {
    background: #000;
    cusor: pointer;
}

.slide strong {
    font-family: 'Arvo', serif;
    font-size: 48px;
    line-height: 49px;
    font-weight: normal;
    display: block;
}

.slide img {
   display: none;
}

.slide>span {
    font-size: 16px;
    line-height: 24px;
    margin: 8px 0 5px;
    display: block;
}

.slide>em{
    text-transform: uppercase;
    color: #88bef1;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.slide em em{
    font-size: 22px;
    padding-left: 20px;
    position: relative;
    top: 3px;
}

.slide:hover em{
    color: #fff;
}

.header{
    width: 215px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
}
.header h1{
    background: url("../images/white-ghost.png");
    margin-bottom: 15px;
    overflow: hidden;
}
.header h1 a{
    display: block;
    background: url("../images/logo.png");
    width: 156px;
    height: 69px;
    margin: 15px 30px;
    text-indent: -9999px;
}
.menu ul li.socials a:hover,
.header h1 a:hover{
    opacity: 0.9;
}
.menu{
    font-family: 'Montserrat', sans-serif;
    background: url("../images/white-ghost.png");
    padding: 20px 25px;
    font-size: 15px;
    color: #666;
    text-transform: uppercase;    
}
.menu ul li a{        
    display: block;
    margin: 8px 0;
}
.menu ul li a.active,
.menu ul li a:hover{
    color: #2964ae;
}
.menu ul li.socials{
    overflow: hidden;
}
.menu ul li.socials a{
    float: left;
    margin-right: 8px;
    width: 21px;
    height: 21px;
    text-indent: -9999px;
}
.menu ul li.socials a.fb{
    background: url("../images/sprites.png") no-repeat -28px 0;
}
.menu ul li.socials a.twi{
    background: url("../images/sprites.png") no-repeat 0 0;
}
.mobile-navigation{
    display: none;
}
.transparent-black-box.no-top-border{
    border-top: none;
}
#content {
position: relative;
}
.content{
    float: left;
    margin: 114px 0 30px 230px;
    width: 705px;
    position: relative;
    z-index: 3;
    min-height: 420px
}

.content .headline{
    font: 36px 'Arvo', serif;
}
.tabs-holder{
    position: absolute;
    top: 75px;
    color: #6186a8;
}

.normal-tabs li, .tabs-holder li{
    float: left;
    margin-right: 5px;
    white-space:nowrap;
}
.normal-tabs li a, .tabs-holder li a{
    font: 12px 'Montserrat', sans-serif;
    color: #6186a8;
    text-transform: uppercase;
    margin-right: 2px;
    position: relative;
    top: 1px;
   white-space:nowrap;
}
.normal-tabs li a:hover, .tabs-holder li a:hover{
    text-decoration: underline;
}
.normal-tabs li a.active, .tabs-holder li a.active{
    color: #ababab;
}
#application-form{
    clear: both;
}
.tabs-content{
    min-height: 245px;
    clear: both;
}
.tabs-content .headline{
    margin-bottom: 40px;
}
.sidebar{
    width: 215px;
    position: fixed;
    top: 114px;
    left: 950px;
    padding-bottom: 50px;
    z-index: 7;
}
.text{
    overflow: hidden;
    min-height: 50px;
}
@media screen and (min-width:400px) and (max-width: 790px){
    .text{
        overflow: visible;
        padding-top: 30px;
    }
}
@media (max-width: 400px) {
    .text{
        overflow: visible;
        padding-top: 30px;
    }
    .contact-form input, .contact-form textarea {
        max-width: 295px;
    }
    .two-inputs input.mr10 {
        margin-bottom: 15px;
    }
}
.text p{
    margin: 20px 0;
    line-height: 20px;
}
.text p.less-bottom-margin{
    margin-bottom: 2px;
}
.text ul{
    margin: 5px 0 15px;
    padding-left: 30px;
}
.next-arrow{
    margin-bottom: 15px;
    display: block;
    height: 70px;
    overflow: hidden;
}
.next-arrow ins,
.next-arrow ins var{
    display: block;
    height: 70px;
    width: 65px;
}
.next-arrow ins{
    float: left;
    background: url("../images/black-ghost.png");
}
.next-arrow ins var{
    background: url("../images/sprites.png") no-repeat -31px -25px; 
}
.next-arrow:hover ins var{
    background-position: 21px -25px;
}
.next-arrow span{
    overflow: hidden;
    width: 150px;
    height: 70px;
    display: block;
}
.next-arrow span strong{
    width: 120px;
    padding: 15px;
    height: 40px;
    overflow: hidden;
    display: block;
    visibility: hidden;
    color: #333;
    letter-spacing: 1px;
    text-transform: uppercase;
    font: 15px/18px 'Montserrat', sans-serif;
    background: transparent url("../images/lightblue-ghost.png") repeat scroll 0 0;    
}
.transparent-blue-box{
    padding: 15px;
    background: url("../images/dark-blue-ghost.png");    
}
.quote-box{
    margin-top: 15px;
    position: relative;
    text-align: right;
    font: 16px 'Arvo', serif;
}
.quote-box em{    
    color: #ccc;
    display: block;
	}
.quote-box big{
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
    font-weight: 400;
    text-align: right;
}
.triangle-figure{
    position: absolute;
    left: 21px;
    bottom: -37px;
    background: url("../images/sprites.png") no-repeat -99px 0; 
    width: 37px;
    height: 37px;
}
.careers-heading,
.accordion{
    left: -20px;
    position: relative;
    width: 705px;
}
.careers-heading, .accordion h3{
    cursor: pointer;
    padding: 5px 20px;
    clear: both;
    border-bottom: 1px solid #464749;
}
.accordion h3:last-of-type{
    border-bottom: none;
}
.careers-heading{
    padding-right: 0;
    width: 685px;
}
.careers-accordion {
min-height: 150px;
}

.accordion h3 strong{
    font-weight: 700;
    color: #88bef1;
    display: inline-block;
    width: 20%;
}

.careers-heading strong {
    font-weight: 700;
    color: #88bef1;
    display: inline-block;
}

.accordion h3.on strong{
    color: #ababab;
}


.accordion h3 em{
    padding-right: 30px;
    vertical-align: top;
}
.accordion h3 ins{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: url("../images/sprites.png") no-repeat 0 -97px; 
    position: relative;
    top: 6px;
    float: right;
    margin-right: 10px
}

.accordion h3.on ins{
    background: url("../images/sprites.png") no-repeat 0 -121px; 
}
.accordion h3.ui-state-active ins{
    background-position: 0px -120px;
}

.accordion h3 {
  cursor: pointer;
}

.js-enabled .billow {
   display: none;
   overflow: hidden;
}

.cmsEditing.js-enabled .billow {
   display: block;
   overflow: visible;
}
.cmsEditing .cmsGroupItem {
    clear: both !important;
}
.cmsEditing .cmsType_Image {
    width: 90%;
}
.accordion > div, .accordion > ins> div{
    padding: 10px 20px;
}

.careers .accordion > div{
    padding: 0;
}

.accordion > div .text{
    float: left;
    width: 540px;
}

.careers .accordion > div > div .text{
    float: left;
    width: 540px;
    margin: 10px 0 0 20px;
}

.news .accordion > div .text{
    float: left;
    width: 480px;
}

.accordion > div .text p{
    margin-top: 0;
}
.accordion > div p.RightCol{
    float: right;
}
.error {
background-color: #453333 !important;
}
#leadership .accordion{
    margin-top: 50px;
}
.news-content .accordion div p.RightCol{
    max-width: 162px;
}
.news-content .accordion > div .text{
    width: 485px;
}
.accordion > div p.RightCol a{
    padding: 3px 0;
    font-size: 11px;
    text-align: center;
    color: #fff;
    background-color: #2964ae;
    margin-top: 5px;
    display: block;
}
.accordion > div p.RightCol a:hover{
    background-color: #6186a8;
}
.careers-heading{    
    cursor: default;
    border-top: 1px solid #464749;
    border-bottom: 1px solid #464749;
}
.careers-heading strong{
    color: white;
}
.careers strong.date{
    width: 15%;
    vertical-align: top;
}
.careers strong.location{
    width: 31%;
    vertical-align: top;
}
.careers strong.position{
    width: 47%;
    vertical-align: top;}
.careers-heading strong.location {
width: 30%;
}
.news-content .accordion.careers-accordion > div .text{
    width: 560px;
}
.investors-scroller,
.comapny-history-scroller{
    overflow: auto;
    margin-top: 55px;    
}
.comapny-history-scroller{
min-height: 460px;
height: 100%;
}
.comapny-history-scroller ul{
    overflow: auto;
    width: 6000px;
}
.comapny-history-scroller ul li{
    float: left;
    width: 220px;
    height: 380px;
    margin-bottom: 30px;
    border-right:1px solid #4e4e4e;
    position: relative;
}
.comapny-history-scroller ul li h2{
    border-bottom:1px solid #4e4e4e;    
    font: 24px 'Montserrat', sans-serif;
    padding: 5px 10px;
}
.comapny-history-scroller ul li .text{
    padding: 15px 10px;
}
.comapny-history-scroller ul li .text p{
    margin: 10px 0 0 0;
}
.news-content{
    margin-top: 50px;
}
.investors-scroller{
    margin-top: 15px;
}
.investors-scroller ul li {
    text-align: center;
    height: 75px;
    display: table-cell;
    border: 0;
    vertical-align: middle;
}
.investors-scroller ul li {
float: left;
}
.investor-login-link, .note-link{
    display: block;
    text-transform: uppercase;
    color: #ccc;
    font: 18px 'Arvo', serif;    
}
.investor-login-link{
    width: 150px;
    height: 65px;
    padding: 16px 0 0 20px;
    background: url("../images/sprites.png") no-repeat -139px 0;
}
.note-link{
    width: 150px;
    height: 88px;
    padding: 19px 0 0 20px;
    background: url("../images/sprites.png") no-repeat -316px 0;    
}
.note-link:hover, .investor-login-link:hover{
    color: #88bef1;
}
.white-heading{
    font: 18px 'Arvo', serif;        
    text-transform: uppercase;
    margin: 20px 0 10px 0;
}
.form{
    margin: 10px 0;
}
.form input[type="submit"], .form input.submit {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #7e7e7e;
    color: white;
    background-color: #6186a8;
    text-transform: uppercase;
    padding: 9px 14px;
    font: 13px 'Montserrat', sans-serif;
    width: auto;
}
.form input[type="submit"]:hover, .form input.submit:hover{
    background-color: #2964ae;
}
.contacts-page .white-heading{
    margin-top: 20px;
}
.ttn{
    text-transform: none;
}
.contacts-page{
    overflow: visible;
    min-height: 360px;
}
.decorative-blue-box{
    margin-top: 8px;
    padding: 0;    
}
.social-contacts a{
    display: block;
    padding: 10px 10px 10px 50px;
    height: 45px;
    color: #ccc;
    font: 18px/20px 'Arvo', serif;
    background: url("../images/sprites.png") no-repeat;
}
.social-contacts a:hover{
    color: #61aaef;
}
.social-contacts a.fb{
    background-position: -468px -113px;
}
.social-contacts a.twi{
    margin-bottom: 10px;
    background-position: -463px -179px;
}
.form li{
    margin-bottom: 15px;
}
.form input,
.form textarea{
    color: #999;
    background: none;
    border: 1px solid #a0a09e;
    padding: 9px 10px;
    font-style: italic;
    font: 13px 'Open Sans', Tahoma, Verdana;    
}
.form label{
    display: block;
    text-transform: uppercase;
    font: 14px 'Montserrat', sans-serif;
    margin-bottom: 7px;
}
.contact-form textarea,
.contact-form input{
    width: 642px;
}
.contact-form textarea{
    resize: none;
}
.form li.two-inputs input{
    width: 303px;
}
.mr10{
    margin-right: 10px;
}
.serviceRequest{
    width: 665px;
}
.search-results-page .white-heading{
    margin-top: 0;
}
.uppercased-titles{
    border-top: 1px solid #464749;
}
.uppercased-titles h3 strong{
    text-transform: uppercase;
    width: auto;
    padding-right: 25px;
}
.text .disc-list li{
    list-style: disc;
}
.text .square-list li{
    list-style: square;
}
.text .circle-list li{
    list-style: circle;
}
.sidebar.request-quote{
    left: 950px;
}
.quote-box.tal{
    text-align: left;
    margin-top: 0 !important;
    padding-bottom: 0;
}
.request-quote .text p{
    margin-top: 0;
    font-size: 13px;
    color: #ccc;
}
.properties-page{
    width: 730px;
}
.white-heading small{
    font: 16px 'Open Sans', Tahoma, Verdana;
    text-transform: none;
}
.properties-page .headline small{
    font: 14px 'Open Sans', Tahoma, Verdana;
    margin: 4px 0 12px 0;
    display: block;
}
.properties-page .QQQQQQQQQQQQstylish-select{
    margin: 0 5px 5px 0;
}
.properties-page .QQQQQQQQQQQQstylish-select em{
    width: 80px;
    background-position: 102px -133px;
}
.properties-page .QQQQQQQQQQQQstylish-select em.wider{
    width: 100px;
    background-position: 122px -133px;
}
.mr2{
    margin-right: 2px;
}
.map{
    margin: 25px 0;
    clear: both;
}
.search-results-page{
    padding-right: 0;
    padding-left: 29px;
    width: 909px;
}
.search-results-page-sidebar{
    left: 1180px;
}
.result-list{
    overflow: hidden;
}
.next-arrow.go-back-link ins var{
    background-position: -98px -94px;
}
.next-arrow.go-back-link ins var:hover{
    background-position: -46px -94px;
}
.result-list li{
    margin: 25px 27px 0 0;
    width: 200px;
    float: left;
}
.result-list li a{
    display: block;
}
.result-list li a strong{
    text-transform: uppercase;
    display: block;
    margin: 5px 0 2px;
    color: #88bef1;
    font: 16px/18px 'Arvo', serif;
}
.result-list li a span{
    display: block;
}
.result-list li a:hover strong{
    text-decoration: underline;
}
.property-inner-page{
    width: 833px;
}
.property-inner-page .headline{
    text-transform: uppercase;
    margin-bottom: 10px;
}
.property-inner-page-sidebar{
    left: 1115px;
}
.property-inner-page img{
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
.property-info{
    overflow: hidden;
}
.property-info .text{
    float: left;
    width: 520px;
}
.property-info .aside{
    float: right;
    width: 260px;
}
.property-info .aside .accordion{
    width: auto;
    position: inherit;
}
.property-info .aside .accordion h3,
.property-info .aside .accordion > div{
    padding: 10px;
}
.property-info .aside .accordion h3 strong{
    width: auto;
    padding-right: 15px;
}
.property-info .aside .accordion > div .text{
    width: auto;
}
.property-links a{
    display: inline-block;
    background: #092e5a url("../images/sprites.png") no-repeat;
    width: 80px;
    height: 32px;
    padding: 4px 0 0 42px;    
    text-transform: uppercase;
    color: #ccc;
    font: 13px/15px 'Montserrat', sans-serif;
}
.property-links a:hover{
    background-color: #2964ae;
}
.property-links a.gear-icon{
    background-position: 6px -178px;
    margin-right: 12px;
}
.property-links a.web-icon{
    background-position: 6px -178px;
}

#content div.content div.tabs-content {
    overflow: hidden;
}

.stylish-checkbox {
margin: 0 0 45px 0;
}

.stylish-checkbox span {
float: left;
width: auto;
display: block;
line-height: 24px;
white-space:nowrap;
padding: 0 24px 0 1px;
}

.stylish-checkbox span input {
width: auto;
display: block;
margin: 6px 10px 0 0;
float: left
}

.resultsFilter {
margin: 26px 0 0 0;
}

.resultsFilter .selectOption {
float: left;
margin: 0 20px 0 0;
}

/* Disabled js style */
.page .menu ul{
    display: block;
}
.page #scroller{
    overflow: auto;
}
.page .QQQQQQQQQQQQstylish-select:hover span{
    display: block;
}
.page .QQQQQQQQQQQQstylish-select input{
    display: block;
    float: left;
    margin: 11px 5px 0 0;
}
.page .hidden-submit{
    display: block;
}
.page .tabs-content > div{
    clear: both;
}
.page .tabs-content > div:first-child h1.headline{
    margin: 0 0 30px 0;
}
.page .tabs-content > div h1.headline{
    margin: 30px 0 0 0;
}
.page .comapny-history-scroller{
    height: 350px;
}

.selectOption {
position: relative;
margin: 0 0 22px 0;
z-index: 2;
}

.selectOptions a {
display: block;
position: relative;
cursor: pointer;
border: 1px solid #7e7e7e;
background: #3A4653 url(../images/sprites.png) no-repeat scroll 182px -134px;
padding: 7px;
width: 200px;
font-size: 14px;
z-index: 6;
}

.selectOptions a:hover {
background: #6286AA url(../images/sprites.png) no-repeat scroll 182px -134px;
}

.optionList {
display: none;
position: absolute;
left: 0;
top: 34px;
z-index: 4;
border-bottom: 1px solid #7e7e7e;
}

.optionList a {
display: block;
position: relative;
cursor: pointer;
border: 1px solid #7e7e7e;
border-bottom: 0;
background: #3A4653;
padding: 7px;
width: 200px;
font-size: 14px;
z-index: 5;
}

.optionList a:hover {
background: #6286AA;
color: #fff;
}

.careers .selectOptions a {
background: #3A4653 url(../images/sprites.png) no-repeat scroll 132px -134px;
width: 150px;
}

.careers .selectOptions a:hover {
background: #6286AA url(../images/sprites.png) no-repeat scroll 132px -134px;
}

.careers .optionList {
top: 35px;
}

.careers .optionList a {
width: 150px;
}

.contact .optionList {
top: 15px;
}

.propertySearch .state .selectOptions a {
background: #3A4653 url(../images/sprites.png) no-repeat scroll 232px -134px;
width: 252px;
}

.propertySearch .state .selectOptions a:hover {
background: #6286AA url(../images/sprites.png) no-repeat scroll 232px -134px;
}

.propertySearch .state .optionList a {
width: 252px;
}

.propertySearch .state {
float: left;
}

.propertySearch .state .selectOptions a {
background: #3A4653 url(../images/sprites.png) no-repeat scroll 122px -134px;
width: 140px;
}

.propertySearch .state .selectOptions a:hover {
background: #6286AA url(../images/sprites.png) no-repeat scroll 122px -134px;
}

.propertySearch .state .optionList a {
width: 140px;
}

.propertySearch .selectOption.city {
float: left;
margin-left: 20px;
}

.propertySearch .city .selectOptions a {
background: #3A4653 url(../images/sprites.png) no-repeat scroll 232px -134px;
width: 252px;
}

.propertySearch .city .selectOptions a:hover {
background: #6286AA url(../images/sprites.png) no-repeat scroll 232px -134px;
}

.propertySearch .city .optionList a {
width: 252px;
}

.propertySearch .selectOption.community {
margin-left: 20px;
float: left;
}

.propertySearch .community .selectOptions a {
background: #3A4653 url(../images/sprites.png) no-repeat scroll 230px -134px;
width: 250px;
}

.propertySearch .community .selectOptions a:hover {
background: #6286AA url(../images/sprites.png) no-repeat scroll 230px -134px;
}

.propertySearch .community .optionList a {
width: 250px;
}

.propSelect {
margin: 22px 0 0 0;
float: none;
clear: both;
}


input {
    color: #999;
    background: none;
    border: 1px solid #a0a09e;
    padding: 9px 10px;
    font-style: italic;
    font: 13px 'Open Sans', Tahoma, Verdana;    
}

input {
    color: #999;
    background: none;
    border: 1px solid #a0a09e;
    padding: 9px 10px 9px 10px;
    font-style: italic;
    font: 13px 'Open Sans', Tahoma, Verdana;    
    width: 220px;
}

input.submit {
    cursor: pointer;
    display: inline-block;
    margin: 0 0 0 10px;
    color: white;
    background-color: #6186a8;
    text-transform: uppercase;
    padding: 9px 10px 8px 10px;
    font: 13px 'Montserrat', sans-serif;
    width: auto;
}

input.submit:hover {
    background-color: #2964ae;
}

#propertySearch input {
width: 380px;
}

#propertySearch {
position: relative;
width: 402px;
margin: 0;
padding: 0;
float: left;
overflow: visible;
}

#propertySearch a{
display: block;
background: #3A4653;
border: 1px solid #aaa;
border-top: 0;
padding: 6px 10px 6px 10px; 
color: #DBD6D9;
}

#propertySearch a:hover{
color: #fff;
}

#propertySearch span {
position: absolute;
display: block;
left: 0;
top: 38px;
z-index: 9;
width: 402px;
overflow: hidden;
}

body .cmsType_Rich h1 {
 font-size: 36px;
 font-family: 'Arvo',serif;
 line-height: 42px;
 margin: 0 0 16px 0;
}
body .cmsType_Rich h2 {
 font-size: 30px;
 font-family: 'Arvo',serif;
 line-height: 37px;
 margin: 0 0 16px 0;
}
body .cmsType_Rich h3 {
 font-size: 27px;
 font-family: 'Arvo',serif;
 line-height: 34px;
 margin: 0 0 16px 0;
}

body .cmsType_Rich h4 {
 font-size: 24px;
 font-family: 'Arvo',serif;
 line-height: 31px;
 margin: 0 0 16px 0;
}

body .cmsType_Rich h5 {
 font-size: 24px;
 font-family: 'Arvo',serif;
 line-height: 30px;
 margin: 0 0 16px 0;
 font-weight: bold;
}

body .cmsType_Rich h6 {
 font-size: 17px;
 font-family: 'Arvo',serif;
 line-height: 26px;
 margin: 0 0 16px 0;
 font-weight: bold;
}

#thanks {
margin: 16px 0 0 0;
display: none;
}

.c {
clear: both;
float: none;
width: 100%;
padding: 0;
margin: 0;
height: 1px;
overflow: hidden;
}

/* Full Size */
@media screen and (min-width:1246px) {
    .menu ul {
        display: block !important;
    }
}

/* Old Monitor */
@media screen and (min-width:1190px) and (max-width: 1245px){

    .search-results-page {
        width: 681px;
    }
    .search-results-page-sidebar{
        left: 953px;
    }

}

/* iPad */
@media screen and (min-width:790px) and (max-width: 1189px){
    .wrapper{
        width: 100%;
        overflow: hidden;
        min-width: 765px;
        max-width: 1190px;
    }
    .header{
        position: relative;
        z-index: 3;
        margin-right: 0;
        float: none;
        width: 100%;
    }
    .header h1{
        margin-bottom: 0;
    }
    .header h1 a{
        margin-left: auto;
        margin-right: auto;
    }
    .header ul{
        overflow: hidden;
    }
    .header ul li{
        float: left;
        padding: 0 5px;
    }
    .header ul li.socials{
        display: none;
    }
    .mobile-navigation{
        display: none;
    }
    .menu{
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
    .menu ul li a,
    .menu ul li{
        display: inline;
        float: none;
    }
    .content{
        float: left;
        margin: 15px 15px 10px 0;
        width: 100%;
    }    
    .js-enabled .slide {
        width: 520px;
        margin-left: -260px;        
        margin-top: 80px;
    }
    .slide strong{
        font-family: 'Arvo', serif;
        font-size: 32px;
        line-height: 34px;
    }
    .tabs-content {
        width: 500px;
        width: -moz-calc(100% - 270px);
        width: -webkit-calc(100% - 270px);
        width: calc(100% - 270px);
    }
    .sidebar {
        float: none;
        position: absolute;
        margin-top: 0;
        left: auto;
        top: 0;
        right: 0;
        width: 215px;
        height: 25px;
    }

    .sidebar { 
        top: 15px;
    }

    .careers .note-link {
        position: absolute;
        top: 0;
        margin-top: 0;
        overflow: hidden;
        background: transparent url("../images/sprites.png") no-repeat scroll -285px -249px !important;
        width: 195px;
    }
    .careers .tabs-holder {
        top: 125px;
    }
    .about .switchable-quotes {
        position: absolute;
        top: 203px;
        right: 0;
    }

    .tabBox {
        position: absolute;
        top: 220px;
        right: 0;
        left: auto;
        width: 215px;
        overflow: hidden;
        height: 115px;
        padding: 0;
    }

    .services .switchable-quotes {
        position: absolute;
        top: 203px;
        right: auto;
        left: auto;
        width: 215px;
        overflow: hidden;
    }

    .tabs-holder {
        position: absolute;
        left: auto;
        right: 0px;
        top: 85px;
        width: 185px;
        padding:10px 15px;
        background: transparent url("../images/black-ghost.png") repeat scroll 0 0;
        z-index: 12;
    }  
    .tabs-content .headline{
        margin-bottom: 0;
    }    
    .accordion {
        position: inherit;
        width: 100%;
        margin-bottom: 15px;
    }    
    .accordion h3{
        padding-left: 0;
    }
    .accordion > div {
        padding: 10px 0;
    }    
    .accordion > div .text {
        width: 75%;
        width: -moz-calc(100% - 150px);
        width: -webkit-calc(100% - 150px);
        width: calc(100% - 150px);
    }        
    .news .accordion > div .text {
        width: 75%;
        width: -moz-calc(100% - 190px);
        width: -webkit-calc(100% - 190px);
        width: calc(100% - 190px);
    }        
    .accordion > div p.RightCol{
        margin-left: 15px;
    } 
    .accordion h3 em{
        padding-right: 10px;
    }    
    .comapny-history-scroller{
        margin-top: 35px;
        width: 100%;
    }
    .comapny-history-scroller ul li{
        width: 248px;
    }
    .news-content .accordion > div .text {
        width: 310px;
    }    
    .careers-heading{
        position: inherit;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }    
    .contact-form input,
    .contact-form textarea{
        width: 475px;  
    }    
    .form li.two-inputs input {
        width: 218px;
    }   
    .request-form .QQQQQQQQQQQQstylish-select em{
        background-position: 458px -133px;
        width: 483px;
    }
    .search-results-page {
        padding-left: 20px;
        padding-right: 0;
        width: 650px;
    }   
    .property-inner-page-sidebar,
    .search-results-page-sidebar{
        width: 65px;
    }
    .search-results-page ul.result-list li{
        margin-right: 15px;
    }
    .property-inner-page{
        width: 625px;
    }
    .property-info .text{
        width: 100%;
    }
    .property-info .aside{
        float: none;
        width: 100%;
    }        
    .investors-scroller{
        width: 495px;
    }
    .properties-page{
        width: 700px;
        width: -moz-calc(100% - 40px);
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px);
        overflow: hidden;
        margin: 0 !important;
    }

    .tabs-holder li, .tabs-content li {
        display: block;
        float: none;
        padding: 2px 0 2px 0;

    }
    .tabs-holder li ins, .tabs-content li ins {
        display: none;
    }

    .serviceRequest{
        width: 497px;
    }

    .sidebar.request-quote {
        left: 552px;
    }

    .menu ul {
        display: block !important;
    }
}

/* iPhone */
@media screen and (max-width: 789px){  

    html {
        overflow-y: scroll;
    }
    .tabs-holder {
        position: relative;
        float: left;
        clear: both;
        width: 100%;
        top: 0;
        margin-top: 0;
        padding-left: 1px;
    }

    .tabs-content .headline {
        margin-bottom: 10px;
    }

    .wrapper{
        width: 100%;
    }
    .js-enabled .slide {
        width: auto;
        margin: 65px 15px 0 15px;
        left: auto;
        right: auto;
    }

    .slide strong{
        font-family: 'Arvo', serif;
        font-size: 32px;
        line-height: 34px;
    }

    .header{
        position: relative;
        margin-right: 0;
        float: none;
        width: 100%;
        z-index: 6;
    }
    .header h1{
        margin-bottom: 0;
    }
    .header h1 a{
        margin-left: auto;
        margin-right: auto;
    }
    .header ul{
        overflow: hidden;
        display: none;
    }    
    .header ul li.socials{
        display: none;
    }    
    .menu{
        padding: 0;
        position: absolute;
        width: 100%;
    }
    .menu a,
    .menu ul li a{
        padding: 10px 0;
        text-align: center;
        border-top: 1px solid #b2b3b4;
        margin: 0;
    }
    .mobile-navigation{
        display: block;
    }
    .mobile-navigation.active{
        color: #999;
    }
    .content{
        float: left;
        margin: 52px 0 10px 0;
        width: 94%;
        padding: 3%;
    }   
    .sidebar{
        display: none;
    }


    .tabs-content {
         overflow: hidden;
    }
    .tabs-content > div{
        display: block !important;
    }
    .accordion {
        position: inherit;
        width: 100%;
        margin-bottom: 15px;
    }    
    .accordion h3{
        padding-left: 0;
    }  
    .accordion > div {
        padding: 10px 0;
    }    
    .accordion > div .text {
        width: 70%;
    }    
    .accordion > div p.RightCol{
        float: none;
        clear: both;
    }
    .accordion h3 em{
        padding-right: 10px;
    }      
    .comapny-history-scroller{
        margin-top: 15px;
        width: 470px;
    }
    .comapny-history-scroller ul li{
        height: 300px;
        width: 235px;
    } 
    .careers-heading{
        position: inherit;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .contact-form input,
    .contact-form textarea{
        width: 335px;  
    }    
    .form li.two-inputs input {
        width: 150px;
    }        
    .request-form .QQQQQQQQQQQQstylish-select em{
        background-position: 323px -133px;
        width: 345px;
    }    
    .properties-page input{
        margin-bottom: 5px;
    }    
    .search-results-page{
        padding-left: 1%;
        padding-right: 0;
        width: 99%;
    }
    .property-info .text{
        width: 100%;
    }
    .property-info .aside{
        float: none;
        width: 100%;
    }        
    .search-results-page ul.result-list li{
        margin: 20px 10px 0 0;
    }  
    .investors-scroller{
        width: 330px;
    }    
    .map{
        display: none;
    }
    .careers strong.date{
        min-width: 72px;
    }
    .careers .accordion h3 ins {
        top: -29px;
    }

    .propertySearch .state .selectOptions a {
        width: 252px;
        background: #3A4653 url(../images/sprites.png) no-repeat scroll 232px -134px;
    }

    .propertySearch .state .selectOptions a:hover {
        width: 252px;
        background: #6286AA url(../images/sprites.png) no-repeat scroll 232px -134px;
    }

    .propertySearch .state .optionList a {
        width: 252px;
    }

    .stylish-checkbox {
        max-width: 400px;
    }
    .propertySearch .selectOption.state, .propertySearch .selectOption.city, .propertySearch .selectOption.community {
        float: none;
        clear: both;
        margin: 0 0 20px 0;
    }

    .propertySearch .selectOption.city {
        z-index: 7;
    }

    .propertySearch .selectOption.state {
        z-index: 8;
    }
}








.js-enabled.cmsEditing .slide {
   width: 400px;
   margin: 10px auto 0 auto;
   display: block;
   position: relative;
   width: 400px;
   top: auto;
   display: block;
   position: static;
   left: auto;
}

.js-enabled.cmsEditing .slide img{
   display: block;
   max-width: 350px;
   max-height: 200px;
   border: 2px solid #fff;
}

.js-enabled.cmsEditing #homeBuckets {
    margin: 100px auto 20px auto;
    width: 440px
}

.js-enabled.cmsEditing .comapny-history-scroller ul li{
    padding-top: 30px;
}

.js-enabled.cmsEditing #scroller ul.cmsGroup span.cmsGroupAdd {
    top: 25px;
}

.js-enabled.cmsEditing .investors-scroller ul li{
    padding-top: 35px;
}

.js-enabled.cmsEditing .investors-scroller ul li a {
    display: block;
    padding-top: 11px;
    float: left
}

.js-enabled.cmsEditing .investors-scroller ul li.cmsGroupItem span.cmsGroupItemUp {
    margin-left: 0px;
}

.js-enabled.cmsEditing .investors-scroller ul li.cmsGroupItem span.cmsGroupItemDown {
    margin-left: 22px;
}
.js-enabled.cmsEditing .investors-scroller ul li.cmsGroupItem span.cmsGroupItemDelete, 
.js-enabled.cmsEditing .investors-scroller ul li.cmsGroupItem span.cmsGroupItemRemove{
    margin-left: 55px;
}

.js-enabled.cmsEditing .bgEdit span.cmsEdit{
   bottom: 0;
   right: 0;
   left: auto;
   position: fixed;
}

.bgEdit p {
    display: none;
}


.js-enabled.cmsEditing #thanks {
    display: block;
}

.sendTo {
display: none;
}
.js-enabled.cmsEditing .sendTo {
display: block;
}
div.map #Map area.not-active {
    cursor: default;
}