/* r.a.d.upload Default skin */
.RadUploadProgressArea
{
	position:absolute;
	border: 0px;
	height: 200px;
	width: 400px;
	top: 500px;
	left: 500px;
	background-color: #f8f8f8;
	z-index:10000;
	border: 1px solid #f0f0f0;
	border-right: 2px solid #e4e4e4;
	border-bottom: 2px solid #e4e4e4;
	filter: progid:DXImageTransform.Microsoft.Shadow(direction=140,color=#7d7d7d,strength=2); 
	cursor: default;
	text-align:left;
}

.RadUploadProgressTable
{
	margin-left: 10px;
}

.RadUploadProgressBarHolder
{
	text-align:left;
}

.RadUploadTotalProgressData
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 11px;
	font-weight:bold;
	color: #333333;
	padding: 7px;
}

.RadUploadCurrentFileName
{
	font-family: Arial, Verdana, Sans-serif;
	font-size:10px;
	font-weight: normal;
	color: green;
}

.RadUploadFileCountProgressData
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 11px;
	font-weight:bold;
	color: #333333;
}

.RadUploadTimeData
{
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 11px;
	font-weight: normal;
	color: green;
}

.RadUploadProgressBarHolder IMG
{
   height:21px;
}

.RadUploadCancelButtonHolder
{
	vertical-align: bottom;
}

input.RadUploadCancelButton
{
	border: 0px;
	border-right: 1px solid #dadada;
	border-left: 1px solid #dadada;
	background-color: Transparent;
	background-image: url(Img/button.gif);
	font: 11px Arial, Verdana, Sans-serif;
	color: #7c7c7c;
	height: 24px;
	width: 66px;
}
.RadUploadProgressCancelledMessage
{
	font-weight: bold;
	font-size: 11px;
	padding-left: 50px;
	
}
.RadUploadProgressCancelledIcon
{
	padding-left: 155px;
	padding-top: 20px;
}