/* r.a.d.upload Default skin */
.RadUploadTable
{
	font-family: Arial, Verdana, Sans-serif;
	color: #605e4e;
	font-size: 11px;
}


.RadUploadButton, .radUploadButtonMedium
{
	background-repeat: repeat-x;
	border: 0px;
	border-left: 1px solid #dadada;
	border-right: 1px solid #dadada;
	height: 24px;
	width: 40px;
	background-color: #eeeee6;
	font: 11px Arial, Verdana, Sans-serif;
	color: #7c7c7c;
}

.RadUploadButtonDisabled
{
	background-repeat: repeat-x;
	border: 0px;
	border-left: 1px solid #dadada;
	border-right: 1px solid #dadada;
	height: 24px;
	width: 40px;
	background-color: transparent;
	font: 11px Arial, Verdana, Sans-serif;
	color: #7c7c7c;
	filter:alpha(opacity=30);
	-moz-opacity:0.5;
	opacity: 0.5;
}

.RadUploadFileSelector
{
	/* checkbox */
}

.RadUploadInputField
{
	width: 40px;
	border: solid 1px #dadada;
	border-right: 0px;
	vertical-align: top;
	height: 18px;
}

input.RealFileInput
{
	position: relative;
	-moz-opacity: 0;
	filter: alpha(opacity: 0);
	opacity: 0;
	z-index: 2; 
}

.RadUploadSelectButton
{
	border: 0px;
	border-right: 1px solid #dadada;
	background-color: Transparent;
	font: 11px Arial, Verdana, Sans-serif;
	color: #7c7c7c;
	height: 24px;
	width: 57px;
}

.RadUploadRemoveButton
{
	border: 0px;
	border-right: 1px solid #dadada;
	border-left: 1px solid #dadada;
	font: 11px Arial, Verdana, Sans-serif;
	color: #7c7c7c;
	height: 24px;
	width: 57px;
}

.RadUploadClearButton
{
	border: 0px;
	border-right: 1px solid #dadada;
	border-left: 1px solid #dadada;
	font: 11px Arial, Verdana, Sans-serif;
	color: #7c7c7c;
	height: 24px;
	width: 66px;
	float: right;
}

input.NoSkinnedFileUnput
{
	border: solid 1x #1f1f1f;
}

