﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Carousel_XML.aspx.vb" Inherits="Carousel_XML" ContentType="text/xml" %>
<Carousel>
           <asp:Repeater id="RepeaterXML" runat="server">
                <ItemTemplate>
                    <Image>
                    <url><%=Session("WSRetreiveAsset").tostring.replace("&","&amp;")%>qfactor=35&amp;width=940&amp;height=466&amp;size=1&amp;type=asset&amp;id=<%#Container.DataItem("asset_id") %></url>
                    <description><%#Container.DataItem("description") %></description>
                    </Image>
                </ItemTemplate>
           </asp:Repeater>
</Carousel>