<%@ Page Language="VB" AutoEventWireup="false" CodeFile="investor_relations.aspx.vb" Inherits="investor_relations" %>
<%@ Import Namespace="System.Globalization" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<style type="text/css">
 	@import url("css/style.css");
</style>
<script src="http://cdn.jquerytools.org/1.2.2/full/jquery.tools.min.js" type="text/javascript"></script>
<script src="js/jquery.perciformes.js" type="text/javascript"></script>
<script src="js/navi.js" type="text/javascript"></script>
<script src="http://use.typekit.com/spa4odv.js" type="text/javascript"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>


<style>
#property_search {
	position: absolute;
	top:98px;
	left: 50%;
	margin-left: 277px;
	z-index: 1006;	
	background: #f9a131;
}
</style>

<!--[if lte IE 7]>
<style type="text/css">
html, body {
	overflow-x: hidden;
}
</style>
<![endif]-->
<!--[if IE 7]>
<style>
#jsddm {
	margin: 0;
	padding: 0;
	top: 0px;
	left: 0px;
	position: relative;
	float: left;
	z-index: 1;
}

.body_content {
	background: #ffffff;
	color: #000000;
	font-size: 12px;
	line-height: 20px;
	position:relative;
	top: 20px;
	left:1px;
}

#property_search {
	position: absolute;
	top:122px;
	left: 50%;
	margin-left: 277px;
	z-index: 1;	
	background: #f9a131;
}


</style>
<![endif]-->
<style type="text/css">
@-moz-document url-prefix() {
#jsddm {
	margin: 0;
	padding: 0;
	top: 0px;
	left: 0px;
	position: relative;
	float: left;
	z-index: 1007;
}

.body_content {
	background: #ffffff;
	color: #000000;
	font-size: 12px;
	line-height: 20px;
	position:relative;
	top: 25px;
	left:1px;
}

#property_search {
	position: absolute;
	top:102px;
	left: 50%;
	margin-left: 277px;
	z-index: 1006;	
	background: #f9a131;
}
#header {
	position:relative;
	margin-top:19px;
	margin-bottom: 14px;	
}
}
</style>


<title>Acadia Realty Trust - Investor Relations - Investor Relation</title>
</head>
<body>
    <form id="form1" runat="server">

	
   <div id="container">
   <!--property search-->
		<div id="property_search">
		<a href="javascript:toggleSearch();"><img src="images/property_search.jpg" alt="property search" /></a>
		<div id="property_search_form">
	        <asp:PlaceHolder ID="placeholderSearchForm" runat="server"></asp:PlaceHolder>
	        </div>
		</div>
		<!-- end of property search-->
		<div id="header">
			<table width="100%" cellpadding="0" cellspacing="0" width="100%">
				<tr>
				<td width="424" valign="top"><a href="default.aspx"><img class="navi" src="images/logo.jpg" /></a></td>
				<td valign="bottom" align="right">
				<!--menu-->
		<ul id="jsddm">
			<li class="main_nav"><a href="company.aspx">
			<img class="navi" src="images/navi_company_off.jpg" /></a>
			<ul>
				<!--<li><a href="about.aspx"><img class="navi" src="images/subnavi_about_off.png" alt="about"/></a></li>-->
				<li><a href="employment.aspx">
				<img alt="employment" class="navi" src="images/subnavi_employment_off.png" /></a></li>
				<!--<li class="last"><a href="benefits.aspx"><img class="navi" src="images/subnavi_benefits_off.png" alt="benefit"/></a></li>-->
			</ul>
			</li>
			<li class="main_nav"><a href="properties.aspx">
			<img class="navi" src="images/navi_properties_off.jpg" /></a> </li>
			<li class="main_nav"><a href="investor_relations.aspx">
			<img src="images/navi_ir_on.jpg" /></a>
			<ul>
				<li><a href="news_and_events.aspx">
				<img alt="news and events" class="navi" src="images/subnavi_news_off.png" /></a></li>
				<li><a href="reporting.aspx">
				<img alt="reporting" class="navi" src="images/subnavi_reporting_off.png" /></a></li>
				<li><a href="quarterly_reports.aspx">
				<img alt="quarterly reports" class="navi" src="images/subnavi_quarterly_off.png" /></a></li>
				<li><a href="annual_reports.aspx">
				<img alt="annual reports" class="navi" src="images/subnavi_annual_off.png" /></a></li>
				<li><a href="presentations.aspx">
				<img alt="presentations" class="navi" src="images/subnavi_presentations_off.png" /></a></li>
				<li><a href="analyst_coverage.aspx">
				<img alt="analyst" class="navi" src="images/subnavi_analyst_off.png" /></a></li>
				<li><a href="sec_filings.aspx">
				<img alt="filings" class="navi" src="images/subnavi_filings_off.png" /></a></li>
				<li><a href="dividends.aspx">
				<img alt="dividends" class="navi" src="images/subnavi_dividends_off.png" /></a></li>
				<li><a href="shareholders_information.aspx">
				<img alt="shareholders" class="navi" src="images/subnavi_shareholders_off.png" /></a></li>
				<li><a href="information_request.aspx">
				<img alt="information request" class="navi" src="images/subnavi_information_off.png" /></a></li>
				<li><a href="corporate_governance.aspx">
				<img alt="corporate" class="navi" src="images/subnavi_corporate_off.png" /></a></li>
				<li><a href="board_of_directors.aspx">
				<img alt="board of directors" class="navi" src="images/subnavi_bod_off.png" /></a></li>
				<li><a href="management.aspx">
				<img alt="management" class="navi" src="images/subnavi_management_off.png" /></a></li>
				<li><a href="committee_composition.aspx">
				<img alt="committee compositions" class="navi" src="images/subnavi_committee_off.png" /></a></li>
				<li><a href="faq.aspx">
				<img alt="faq" class="navi" src="images/subnavi_faq_off.png" /></a></li>
			</ul>
			</li>
			<li class="main_nav"><a href="acquisitions.aspx">
			<img alt="acquisitions" class="navi" src="images/navi_acquisitions_off.jpg" /></a>
			<!--
					 	<ul>
						      <li><a href="dispositions.aspx"><img class="navi" src="images/subnavi_dispositions_off.png" alt="about"/></a></li>
						      <li class="last"><a href="submit.aspx"><img class="navi" src="images/subnavi_submit_off.png" alt="about"/></a></li>
						    </ul>
						    --></li>
			<li class="main_nav"><a href="contact.aspx">
			<img alt="contact" class="navi" src="images/navi_contact_off.jpg" /></a>
			</li>
		</ul>
		<!--menu-->
				
				</td>
				</tr>
			</table>
		</div>
		<div id="body">
			<div class="body_content">
				
				<table cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td valign="top" width="584">
						
						    <div class="cookie_crumbs"><a href="Default.aspx">Home</a> | Investor Relations</div>
						    <div class="general_title"><img src="images/title_investor.jpg" alt="Company" /></div>
						    <div class="general_content" style="height: 426px">
						    
						    <b>STRONG FUNDAMENTALS - FOCUSED ON OPPORTUNITY</b><br/><br />
						    <!--<asp:Literal ID="literalCompany" runat="server"></asp:Literal>-->
						    
						    
						    
A company with Strong Fundamentals, A company Focused on Opportunity. Acadia Realty Trust is a publicly 
traded real estate investment trust (REIT), which specializes in the operation, management, 
leasing, renovation, and acquisition of shopping centers and mixed-use properties with retail components. 
<br/><br/>
Our core portfolio is located in the Northeastern, Mid-Atlantic and Midwestern United States and is 
								structured to take
advantage of densely populated, high barrier-to-entry and supply-constrained
markets.  Furthermore, the majority of our properties are anchored by necessity and 
								discount/value retailers
and thus less dependent on discretionary consumer spending.
<br/><br/>
We also operate through a series of opportunity funds, through which we, as the general partner/member, together with institutional investors, invest in both opportunistic and value-add acquisitions.
<br/><br/>
We are well-positioned to take advantage of profitable opportunities for growth. Our strengths include an experienced management 
team with a proven track record and a portfolio of high-quality retail properties.
<br/><br/>
<p class="data"><b>Investor Relations Contact:</b><br>
Jon Grisham<br>
(914) 288-8142<br>
<a href="mailto:jgrisham@acadiarealty.com">jgrisham@acadiarealty.com</a>
						    
						    
						    <div style="position:absolute;bottom:-50px;left:0px;font-size:12px"><big><b><a href="http://www.acadiarealty.com/docs/2009_Annual_Report.pdf" target="_blank">2009 <br /> ANNUAL REPORT &gt;</a></b></big></div>
						    <div style="position:absolute;bottom:-180px;left:160px;z-index:110;"></div>
						    <div style="position:absolute;bottom:-50px;left:310px;font-size:12px"><big><b><a href="http://phx.corporate-ir.net/External.File?item=UGFyZW50SUQ9NDMwMjJ8Q2hpbGRJRD0tMXxUeXBlPTM=&t=1" target="_blank">10Q1 REPORT &gt;</a></b></big><br />
						             	<big><b><a href="http://phx.corporate-ir.net/External.File?item=UGFyZW50SUQ9MzExODV8Q2hpbGRJRD0tMXxUeXBlPTM=&t=1" target="_blank">09Q4 REPORT &gt;</a></b></big></div>
						    </div>
<div style=" margin-top:-100px;padding-left:280px; height: 209px;">					    <a href="http://phx.corporate-ir.net/External.File?item=UGFyZW50SUQ9Mzc2MTY3fENoaWxkSUQ9Mzc0NzAxfFR5cGU9MQ==&t=1" target="_blank"><img src="images/investor_report.png" alt="investor's report" /></a>
	<br />
</div>	
						</td>
						<td valign="top" >
						
						<asp:Image ID="imgsideimages" runat="server" CssClass="general_image_no_bottom" AlternateText="Investor Relation" />
						</td>
					</tr>
				
				</table>
				
				
				<table width="100%" cellpadding="0" cellspacing="0" class="ir_home">
			    <tr>
			            <th style="padding-left:22px;"valign="middle" width="100%" colspan="2"><a href="reporting.aspx"><img src="images/reporting.jpg" alt="Reporting" /></a><a href="corporate_governance.aspx"><img src="images/corporate_gov.jpg" alt="corporate governance" /></a><a href="shareholders_information.aspx"><img src="images/dividend_reinvestment.jpg" alt="shareholders information" /></a><a href="information_request.aspx"><img src="images/information_request.jpg" alt="information request" /></a><a href="faq.aspx"><img src="images/faq.jpg" alt="faq" /></a></th>
			    </tr>
			    <tr>
			    <td valign="top" width="310">
			        <div style="margin-left:24px;margin-top:15px;margin-bottom:15px;">
			        <img src="images/stock_quote_title.jpg" alt="stock quote" style="margin-bottom:20px;" />
			        <table cellpadding="0" cellspacing="0" class="stock_quote">
			            <tr>
			                <td colspan="2"><b><asp:Literal ID="literalTicker" runat="server"></asp:Literal></b> (<asp:literal ID="literalClass" runat="server"></asp:literal>)</td>
			            </tr>
			             <tr>
			                <td valign="top" width="90">Exchange</td>
			                <td valign="top" align="right"><span class="blue"><asp:Literal ID="literalExchange" runat="server"></asp:Literal></span> (<span class="blue"><asp:Literal ID="literalCurrency" runat="server"></asp:Literal></span>)</td>
			            </tr>
			            <tr>
			                <td valign="top" width="90">Price</td>
			                <td valign="top" align="right"><span class="blue"><asp:Literal ID="literalPrice" runat="server"></asp:Literal></span></td>
			            </tr>
			             <tr>
			                <td valign="top" width="90">Change</td>
			                <td valign="top" align="right"><asp:Image ID="imageChange" runat="server" /> <span class="blue"><asp:Literal ID="literalChange" runat="server"></asp:Literal></span></td>
			            </tr>
			              <tr>
			                <td valign="top" width="90">Volume</td>
			                <td valign="top" align="right"><span class="blue"><asp:Literal ID="literalVolume" runat="server"></asp:Literal></span></td>
			            </tr>
			        </table>
			        <br /><br />
			        Data as of <asp:Literal ID="literalDate" runat="server"></asp:Literal> ET <br /> (minimum 20 minute delay)<br />
						<br />
&nbsp;</div>
			    </td>
			    
			    <td valign="top">
			         <div style="padding:15px;padding-left:0px;">
			        <img src="images/events_calendar_title2.jpg" alt="events calendar" style="margin-bottom:20px;" />
			        <table cellpadding="0" cellspacing="0" class="stock_quote" width="100%">
			            <asp:Repeater ID="repeaterNews" runat="server">
			                <ItemTemplate>
			                        <tr>
			                        <td valign="top" width="145"><%#DateTime.Parse(XPath("Date")).ToString("MM/dd/yyyy hh:mm tt", CultureInfo.InvariantCulture)%> ET</td>
			                        <td><a href="news_release.aspx?id=<%#XPath("@ReleaseID")%>"><%#XPath("Title")%></a></td>
			                        </tr>
			                </ItemTemplate>
			            </asp:Repeater>
			        </table>
			        </div>
			        <img src="images/shareholder_meeting_title.jpg" alt="events calendar" style="margin-bottom:20px;" /><br />
			        <a href="investor_shareholder_meeting.aspx"><img src="images/button_go.png" alt="Shareholders Meeting" /></a>
			    </td>
			    </tr>
			</table>
			</div>
			
		</div>
	</div>
	<div id="footer_container">
		<div id="footer">
			<table cellpadding="0" cellspacing="0">
				<tr>
				<td valign="top" width="520">
				<div style="width:400px;">
				<big><b>Acadia Realty Trust</b></big><br />
				Acadia Realty Trust (NYSE:AKR) is a fully integrated, self-managed and self-administered equity REIT focused primarily on the ownership, acquisition, redevelopment and management of retail properties, including neighborhood / community shopping centers and mixed-use properties with retail components. 
				</div>
				</td>
				<td valign="top" width="120">
				<big><b>Menu</b></big><br />
				<a href="company.aspx">Company</a><br />
				<a href="properties.aspx">Properties</a><br />
				<a href="Investor_Relations.aspx">Investor Relations</a><br />
				<a href="acquisitions.aspx">Acquisitions</a><br />
				<a href="contact.aspx">Contact Us</a><br />
				</td>
				<td valign="top" width="120">
				<big><b>Follow Us</b></big><br />
				<!--<a href="#">RSS Feed</a><br />-->
				<!--<a href="#">Twitter</a><br />-->
				<a href="#">RSS Feed</a><br />
				<a href="http://www.linkedin.com/companies/acadia-realty-trust" target="_blank">LinkedIn</a>
				</td>
				<td valign="top">
				<big><b>Corporate Headquarters</b></big><br />
				1311 Mamaroneck Avenue<br />
				Suite 260<br />
				White Plains, NY 10605<br />
				<a href="mailto:info@acadiarealty.com">info@acadiarealty.com</a><br />
				<a target="_blank" href="http://maps.google.com/maps?f=d&daddr=1311 Mamaroneck Avenue, White Plains, NY 10605">Google map directions</a><br />
				</td>
				</tr>
				<tr>
					<td colspan="4"><br />
					<br />
					 &copy; Copyright 2010 Acadia Realty Trust&nbsp;&nbsp; 
					|&nbsp;&nbsp; <a href="terms.html" target="_blank">Terms and Conditions </a>&nbsp;&nbsp; |&nbsp;&nbsp; 
					<a href="privacy.html" target="_blank">Privacy Statement </a> </td>
				</tr>
			</table>
			</div>
	</div>	
	
	
<script type="text/javascript">
    
	var timeout    = 500;
	var closetimer = 0;
	var ddmenuitem = 0;
	
	function jsddm_open()
	{  jsddm_canceltimer();
	   jsddm_close();
	   ddmenuitem = $(this).find('ul').css('visibility', 'visible');}
	
	function jsddm_close()
	{  if(ddmenuitem) ddmenuitem.css('visibility', 'hidden');}
	
	function jsddm_timer()
	{  closetimer = window.setTimeout(jsddm_close, timeout);}
	
	function jsddm_canceltimer()
	{  if(closetimer)
	   {  window.clearTimeout(closetimer);
	      closetimer = null;}}
	
	$(document).ready(function()
	{  $('#jsddm > li').bind('mouseover', jsddm_open)
	   $('#jsddm > li').bind('mouseout',  jsddm_timer)});
	
	document.onclick = jsddm_close;
</script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17447452-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script></form>

</body>
</html>
