<%@ Page Language="VB" AutoEventWireup="false" CodeFile="property_detail.aspx.vb" Inherits="property_detail" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<style type="text/css">
 	@import url("css/style.css");
</style>
<link rel="stylesheet" href="css/slimbox2.css" type="text/css" media="screen" />
<script src="http://cdn.jquerytools.org/1.2.2/full/jquery.tools.min.js" type="text/javascript"></script>
<script src="js/jquery.perciformes.js" type="text/javascript"></script>
<script src="js/navi.js" type="text/javascript"></script>
<script type="text/javascript" src="js/slimbox2.js"></script>
<script src="http://use.typekit.com/spa4odv.js" type="text/javascript"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>


<style type="text/css">
#property_search {
	position: absolute;
	top:98px;
	left: 50%;
	margin-left: 277px;
	z-index: 1006;	
	background: #f9a131;
}
</style>

<!--[if lte IE 7]>
<style type="text/css">
html, body {
	overflow-x: hidden;
}
</style>
<![endif]-->
<!--[if IE 7]>
<style>
#jsddm {
	margin: 0;
	padding: 0;
	top: 0px;
	left: 0px;
	position: relative;
	float: left;
	z-index: 1;
}

.body_content {
	background: #ffffff;
	color: #000000;
	font-size: 12px;
	line-height: 20px;
	position:relative;
	top: 20px;
	left:1px;
}

#property_search {
	position: absolute;
	top:122px;
	left: 50%;
	margin-left: 277px;
	z-index: 1;	
	background: #f9a131;
}


</style>
<![endif]-->
<style type="text/css">
@-moz-document url-prefix() {
.plus
{
    z-index: 30;
    margin-left: 436px;
}

.image1 
{
    z-index: 25;
    margin-left: -33px;
}
.image2
{
    z-index: 20;
    margin-left: -33px;
}

#jsddm {
	margin: 0;
	padding: 0;
	top: 0px;
	left: 0px;
	position: relative;
	float: left;
	z-index: 1007;
}

.body_content {
	background: #ffffff;
	color: #000000;
	font-size: 12px;
	line-height: 20px;
	position:relative;
	top: 25px;
	left:1px;
}

#property_search {
	position: absolute;
	top:102px;
	left: 50%;
	margin-left: 277px;
	z-index: 1006;	
	background: #f9a131;
}
#header {
	position:relative;
	margin-top:19px;
	margin-bottom: 14px;	
}
}
.auto-style1 {
	text-align: right;
	width:65px;
	overflow:hidden;
}
</style>


<script type="text/javascript">
    $(document).ready(function() {
        $(".available_space").change(function() {
            if ($(this).attr("value") == "0") {
                window.location = 'property_leasing_plan.aspx?id=<%=request.querystring("id") %>';
            }
            else if ($(this).attr("value") != "") {
                window.location = '<%=Session("WSDownloadAsset") %>size=0&assetid=' + $(this).attr("value");
            }
            //window.location = 'property_leasing_plan.aspx?id=<%=request.querystring("id") %>';
            //window.location = '<%=Session("WSDownloadAsset") %>size=0&assetid=' + $(this).attr("value");



        });
        $(".scrollable").scrollable();



    });

    var currentImage = 1;



    function switchImage(theImage, theID, type,theTitle) {

        var theBaseURL = '<%=(Session("WSRetreiveAsset") & "qfactor=25&size=1&width=800&height=800&type=' + type + '&id=").ToString.Replace("(","%28").Replace(")","%29") %>';
    
        if (currentImage == 1) {
            $(".image2image").unbind();
            $(".image2image").load(
                function() {
                $(".image2image").fadeIn();
                $(".image1image").fadeOut();

                }
            );

                $(".image2image").attr("src", theImage);

            currentImage = 2;
        }
        else {
            $(".image1image").unbind();
            $(".image1image").load(
                function() {
                    $(".image1image").fadeIn();
                    $(".image2image").fadeOut();

                }
            );

                $(".image1image").attr("src", theImage);
            currentImage = 1;
        }

        $(".image1link").attr("href", theBaseURL + theID);
        $(".image1link").attr("title", theTitle.replace("'",""));

    };


</script>
<title>Acadia Realty Trust</title>
</head>
<body>
    <form id="form1" runat="server">
    
    <div class="image1">
    <asp:Image CssClass="image1image" ID="projectImage1" runat="server" />
    </div>
    <div class="image2">
    <asp:Image CssClass="image2image" ID="Image1" runat="server" />
    </div>
    <div class="plus">
    <asp:HyperLink cssclass="image1link" runat="server" ID="hyperlinkImage1"><img src="images/plus.jpg" alt="Enlarge image" title="Enlarge image" /></asp:HyperLink>
    
    </div>
    
   
     <div id="container">
     <!--property search-->
		<div id="property_search">
		<a href="javascript:toggleSearch();"><img src="images/property_search.jpg" alt="property search" /></a>
		<div id="property_search_form">
	        <asp:PlaceHolder ID="placeholderSearchForm" runat="server"></asp:PlaceHolder>
	        </div>
		</div>
		<!-- end of property search-->
		<div id="header">
			<table width="100%" cellpadding="0" cellspacing="0" width="100%">
				<tr>
				<td width="424" valign="top"><a href="default.aspx"><img class="navi" src="images/logo.jpg" alt="" /></a></td>
				<td valign="bottom" align="right">
				<!--menu-->
		<ul id="jsddm">
			<li class="main_nav"><a href="company.aspx">
			<img class="navi" src="images/navi_company_off.jpg" /></a>
			<ul>
				<!--<li><a href="about.aspx"><img class="navi" src="images/subnavi_about_off.png" alt="about"/></a></li>-->
				<li><a href="employment.aspx">
				<img alt="employment" class="navi" src="images/subnavi_employment_off.png" /></a></li>
				<!--<li class="last"><a href="benefits.aspx"><img class="navi" src="images/subnavi_benefits_off.png" alt="benefit"/></a></li>-->
			</ul>
			</li>
			<li class="main_nav"><a href="properties.aspx">
			<img src="images/navi_properties_on.jpg" /></a> </li>
			<li class="main_nav"><a href="investor_relations.aspx">
			<img class="navi" src="images/navi_ir_off.jpg" /></a>
			<ul>
				<li><a href="news_and_events.aspx">
				<img alt="news and events" class="navi" src="images/subnavi_news_off.png" /></a></li>
				<li><a href="reporting.aspx">
				<img alt="reporting" class="navi" src="images/subnavi_reporting_off.png" /></a></li>
				<li><a href="quarterly_reports.aspx">
				<img alt="quarterly reports" class="navi" src="images/subnavi_quarterly_off.png" /></a></li>
				<li><a href="annual_reports.aspx">
				<img alt="annual reports" class="navi" src="images/subnavi_annual_off.png" /></a></li>
				<li><a href="presentations.aspx">
				<img alt="presentations" class="navi" src="images/subnavi_presentations_off.png" /></a></li>
				<li><a href="analyst_coverage.aspx">
				<img alt="analyst" class="navi" src="images/subnavi_analyst_off.png" /></a></li>
				<li><a href="sec_filings.aspx">
				<img alt="filings" class="navi" src="images/subnavi_filings_off.png" /></a></li>
				<li><a href="dividends.aspx">
				<img alt="dividends" class="navi" src="images/subnavi_dividends_off.png" /></a></li>
				<li><a href="shareholders_information.aspx">
				<img alt="shareholders" class="navi" src="images/subnavi_shareholders_off.png" /></a></li>
				<li><a href="information_request.aspx">
				<img alt="information request" class="navi" src="images/subnavi_information_off.png" /></a></li>
				<li><a href="corporate_governance.aspx">
				<img alt="corporate" class="navi" src="images/subnavi_corporate_off.png" /></a></li>
				<li><a href="board_of_directors.aspx">
				<img alt="board of directors" class="navi" src="images/subnavi_bod_off.png" /></a></li>
				<li><a href="management.aspx">
				<img alt="management" class="navi" src="images/subnavi_management_off.png" /></a></li>
				<li><a href="committee_composition.aspx">
				<img alt="committee compositions" class="navi" src="images/subnavi_committee_off.png" /></a></li>
				<li><a href="faq.aspx">
				<img alt="faq" class="navi" src="images/subnavi_faq_off.png" /></a></li>
			</ul>
			</li>
			<li class="main_nav"><a href="acquisitions.aspx">
			<img alt="acquisitions" class="navi" src="images/navi_acquisitions_off.jpg" /></a>
			<!--
					 	<ul>
						      <li><a href="dispositions.aspx"><img class="navi" src="images/subnavi_dispositions_off.png" alt="about"/></a></li>
						      <li class="last"><a href="submit.aspx"><img class="navi" src="images/subnavi_submit_off.png" alt="about"/></a></li>
						    </ul>
						    --></li>
			<li class="main_nav"><a href="contact.aspx">
			<img alt="contact" class="navi" src="images/navi_contact_off.jpg" /></a>
			</li>
		</ul>
		<!--menu-->
				
				</td>
				</tr>
			</table>
		</div>
		<div id="body">
			                <div class="body_content" style="border:1px solid white;">

						
						    <div class="cookie_crumbs"><a href="Default.aspx">Home</a> | <a href="Properties.aspx">Properties</a> | <asp:Literal ID="literalProjectCrumbs" runat="server"></asp:Literal></div>
						    
						    <div class="project_detail_header">
						        <span class="project_detail_name"><asp:Literal ID="literalProjectName" runat="server"></asp:Literal></span><br />
						        <span class="project_detail_location"><asp:Literal ID="literalProjectLocation" runat="server"></asp:Literal></span>
						    </div>
						    <table cellpadding="0" cellspacing="0" class="project_detail_content">
						        <tr>
						                <td valign="top" width="427" style="background:#dbe0e7;">
						                    <a href="property_detail.aspx?id=<%=request.querystring("id") %>"><img src="images/subnavi_property_on.jpg" alt="property detail" class="project_detail_navi" /></a><a href="property_leasing_plan.aspx?id=<%=request.querystring("id") %>"><img class="project_detail_navi navi" src="images/subnavi_leasing_off.jpg" alt="leasing map" /></a><asp:PlaceHolder ID="placeholderCompetitionMap" runat="server"><a href="property_competition_map.aspx?id=<%=request.querystring("id") %>"><img class="project_detail_navi navi" src="images/subnavi_competition_off.jpg" alt="competition map" style=""margin-right:0;" /></a></asp:PlaceHolder>
						                        <div class="project_detail_content_text">
						                        <b>PROPERTY SUMMARY</b><br />
						                        <asp:Literal ID="literalProjectDescription" runat="server"></asp:Literal>
						                        <br /><br />
						                        <b>ADDRESS</b><br />
						                        <table cellpadding="0" cellspacing="0">
						                        <tr>
						                        <td valign="top">
						                        <asp:Literal ID="literalProjectAddress" runat="server"></asp:Literal>
						                        </td>
						                        <td valign="bottom" width="110" align="right">
						                        <asp:HyperLink Target="_blank" ID="hyperlinkProjectMap" runat="server"><img src="images/button_map_it.jpg" alt="map it!" /></asp:HyperLink>
						                        </td>
						                        </tr>
						                        </table>
						                        <br />
						                        <b>LEASING CONTACT</b><br />
						                        <asp:Repeater ID="repeaterProjectContact" runat="server">
						                            <ItemTemplate>
						                                        <%#Container.DataItem("firstname") & " " & Container.DataItem("lastname")%><br />
						                                        <a href="mailto:<%#Container.DataItem("email")%>"><%#Container.DataItem("email")%></a><br />
						                                        <%#Container.DataItem("phone")%><br />
						                            </ItemTemplate>
						                        </asp:Repeater>
						                         <br />
						                        <b>GROSS LEASABLE AREA</b><br />
						                        <asp:Literal ID="literalGLA" runat="server"></asp:Literal>
						                        <br /><br />
						                        <b>PARKING SPACES</b><br />
						                        <asp:Literal ID="literalParking" runat="server"></asp:Literal>
						                         <br /><br />
						                        <b>DEMOGRAPHICS</b><br />
						                        <table cellpadding="0" cellspacing="0" width="100%" class="demographics">
						                            <tr>
						                                <th valign="top" width="175"></th>
						                                <th valign="top" width="65" class="auto-style1"><asp:Literal ID="literalDT1" runat="server"></asp:Literal> Mile<asp:Literal ID="literalDT1s" runat="server"></asp:Literal></th>
						                                <th valign="top" width="65" class="auto-style1"><asp:Literal ID="literalDT2" runat="server"></asp:Literal> Mile<asp:Literal ID="literalDT2s" runat="server"></asp:Literal></th>
						                                <th valign="top" class="auto-style1"><asp:Literal ID="literalDT3" runat="server"></asp:Literal> Mile<asp:Literal ID="literalDT3s" runat="server"></asp:Literal></th>  
						                            </tr>
						                             <tr class="odd">
						                                <td valign="top" width="175"><b><asp:Literal ID="literalPtitle" runat="server"></asp:Literal></b></td>
						                                <td valign="top" width="65" class="auto-style1"><asp:Literal ID="literalP1" runat="server"></asp:Literal></td>
						                                <td valign="top" width="65" class="auto-style1"><asp:Literal ID="literalP3" runat="server"></asp:Literal></td>
						                                <td valign="top" class="auto-style1"><asp:Literal ID="literalP5" runat="server"></asp:Literal></td>  
						                            </tr>
						                             <tr class="even">
						                                <td valign="top" width="175"><b><asp:Literal ID="literalHtitle" runat="server"></asp:Literal></b></td>
						                                <td valign="top" width="65" class="auto-style1"><asp:Literal ID="literalH1" runat="server"></asp:Literal></td>
						                                <td valign="top" width="65" class="auto-style1"><asp:Literal ID="literalH3" runat="server"></asp:Literal></td>
						                                <td valign="top" class="auto-style1"><asp:Literal ID="literalH5" runat="server"></asp:Literal></td>  
						                            </tr>
						                             <tr class="odd">
						                                <td valign="top" width="175"><b><asp:Literal ID="literalAHItitle" runat="server"></asp:Literal></b></td>
						                                <td valign="top" width="65" class="auto-style1"><asp:Literal ID="literalAHI1" runat="server"></asp:Literal></td>
						                                <td valign="top" width="65" class="auto-style1"><asp:Literal ID="literalAHI3" runat="server"></asp:Literal></td>
						                                <td valign="top" class="auto-style1"><asp:Literal ID="literalAHI5" runat="server"></asp:Literal></td>  
						                            </tr>
						                             <tr class="even">
						                                <td valign="top" nowrap width="175"><b><asp:Literal ID="literalMHItitle" runat="server"></asp:Literal></b></td>
						                                <td valign="top" nowrap width="65" class="auto-style1"><asp:Literal ID="literalMHI1" runat="server"></asp:Literal></td>
						                                <td valign="top" nowrap width="65" class="auto-style1"><asp:Literal ID="literalMHI3" runat="server"></asp:Literal></td>
						                                <td valign="top" nowrap class="auto-style1"><asp:Literal ID="literalMHI5" runat="server"></asp:Literal></td>  
						                            </tr>
						                        </table>
						                        </div>
						                </td>
						                <td valign="top">
						                            <div class="projectGallery" runat="server">
						                            <div style="width:504px;height:305px;"></div>
						                           
						                           <a class="prev browse left"></a>

                                                <!-- root element for scrollable -->
                                                  <div class="scrollable">   
                                                   
                                                   <!-- root element for the items -->
                                                   <div class="items">
						                           <!--<asp:hyperlink runat="server" ID="hyperlinkImage1Thumb"><asp:Image ID="projectImage1Thumb" CssClass="projectImageThumb" runat="server" /></asp:hyperlink>-->
						                           <asp:Repeater ID="RepeaterGalleryThumbs" runat="server">
						                           <ItemTemplate>
						                            <a href="javascript:switchImage('<%=(Session("WSRetreiveAsset") & "qfactor=25&width=504&height=305&crop=1&size=1&type=asset&cropcolor=black&id=").ToString.Replace("(","%28").Replace(")","%29") %><%#Container.DataItem("asset_id") %>',<%#Container.DataItem("asset_id") %>,'asset','<%#Container.DataItem("name").replace("'","") %>');"><img class="projectImageThumb" src="<%=Session("WSRetreiveAsset") & "qfactor=25&width=84&height=84&crop=1&size=1&type=asset&id="%><%#Container.DataItem("asset_id") %>" alt="<%#Container.DataItem("name") %>" /></a>
						                           </ItemTemplate>
						                           </asp:Repeater>
						                           </div>
						                           </div>
						                             <!-- "next page" action -->
                                                    <a class="next browse right"></a>
                                                    </div>
						                           <div class="projectAvailableSpaces">
						                            <asp:DropDownList ID="dropdownAvailableSpace" runat="server" CssClass="available_space"></asp:DropDownList> 
						                           </div>
						                           <div class="projectAvailableTenants">
						                           <b>DOWNLOADS</b><br /><br />
						                           <asp:Repeater ID="RepeaterAssetDownloads" runat="server">
						                           <HeaderTemplate><ul class="download_assets"></HeaderTemplate>
						                            <ItemTemplate><li><a target="_blank" href="<%=Session("WSDownloadAsset") %>size=0&assetid=<%#Container.DataItem("asset_id")%>"><%#Container.DataItem("name")%></a></li></ItemTemplate>
						                           <FooterTemplate></ul><br /></FooterTemplate>
						                           </asp:Repeater>
	
						                           <b>MAJOR TENANTS</b><br /><br />
						                           
						                           <asp:Repeater ID="repeaterMajorTenants" runat="server" >
						                            <ItemTemplate>
						                                      <img class="major_tenant_thumb" src="<%=Session("WSRetreiveAsset") & "qfactor=25&width=84&height=84&crop=2&size=1&type=asset&id=" %><%#Container.DataItem("asset_id")%>" alt="<%#Container.DataItem("asset_id") %>" />
						                            </ItemTemplate>
						                            <FooterTemplate>
						                            
						                            </FooterTemplate>
						                           </asp:Repeater>
						                           <div style="padding-bottom:20px;"></div>
						                           </div>
						                           
						                </td>
						        </tr>
						    
						    </table>
						    
						    </div>
		</div>
	</div>
	<div id="footer_container">
		<div id="footer">
			<table cellpadding="0" cellspacing="0">
				<tr>
				<td valign="top" width="520">
				<div style="width:400px;">
				<big><b>Acadia Realty Trust</b></big><br />
				Acadia Realty Trust (NYSE:AKR) is a fully integrated, self-managed and self-administered equity REIT focused primarily on the ownership, acquisition, redevelopment and management of retail properties, including neighborhood / community shopping centers and mixed-use properties with retail components. 
				</div>
				</td>
				<td valign="top" width="120">
				<big><b>Menu</b></big><br />
				<a href="company.aspx">Company</a><br />
				<a href="properties.aspx">Properties</a><br />
				<a href="Investor_Relations.aspx">Investor Relations</a><br />
				<a href="acquisitions.aspx">Acquisitions</a><br />
				<a href="contact.aspx">Contact Us</a><br />
				</td>
				<td valign="top" width="120">
				<big><b>Follow Us</b></big><br />
				<!--<a href="#">RSS Feed</a><br />-->
				<!--<a href="#">Twitter</a><br />-->
				<a href="#">RSS Feed</a><br />
				<a href="http://www.linkedin.com/companies/acadia-realty-trust" target="_blank">LinkedIn</a>
				</td>
				<td valign="top">
				<big><b>Corporate Headquarters</b></big><br />
				1311 Mamaroneck Avenue<br />
				Suite 260<br />
				White Plains, NY 10605<br />
				<a href="mailto:info@acadiarealty.com">info@acadiarealty.com</a><br />
				<a target="_blank" href="http://maps.google.com/maps?f=d&daddr=1311 Mamaroneck Avenue, White Plains, NY 10605">Google map directions</a><br />
				</td>
				</tr>
				<tr>
					<td colspan="4">
					<br /><br />
					&copy; Copyright 2010 Acadia Realty Trust&nbsp;&nbsp; 
					|&nbsp;&nbsp; <a href="terms.html" target="_blank">Terms and Conditions </a>&nbsp;&nbsp; |&nbsp;&nbsp; 
					<a href="privacy.html" target="_blank">Privacy Statement </a>					</td>
				
				</tr>
			</table>
			</div>
	</div>	
	

	<script type="text/javascript">
    
	var timeout    = 500;
	var closetimer = 0;
	var ddmenuitem = 0;
	
	function jsddm_open()
	{  jsddm_canceltimer();
	   jsddm_close();
	   ddmenuitem = $(this).find('ul').css('visibility', 'visible');}
	
	function jsddm_close()
	{  if(ddmenuitem) ddmenuitem.css('visibility', 'hidden');}
	
	function jsddm_timer()
	{  closetimer = window.setTimeout(jsddm_close, timeout);}
	
	function jsddm_canceltimer()
	{  if(closetimer)
	   {  window.clearTimeout(closetimer);
	      closetimer = null;}}
	
	$(document).ready(function()
	{  $('#jsddm > li').bind('mouseover', jsddm_open)
	   $('#jsddm > li').bind('mouseout',  jsddm_timer)});
	
	document.onclick = jsddm_close;
</script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17447452-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script></form>

</body>
</html>
