﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="search.ascx.vb" Inherits="search" %>
<asp:DropDownList ID="searchState" runat="server" CssClass="searchItems" Width="170">
</asp:DropDownList><br />
<asp:textbox runat="server" ID="searchString" CssClass="searchItems" Width="170" Text="Keyword Search"></asp:textbox>
<asp:ImageButton runat="server" ID="searchSubmit" Imageurl="images/button_search.jpg" ImageAlign="Right" CssClass="searchItems"  />
<script>
function gotoURL(val) {
    location.href="Properties.aspx?search=search&state=&string=" + val;
 }
</script>