﻿.TopGroup
{
  z-index:999;
  position:relative;
}

.DefaultTab 
{
  color:#1A4473;
  background-color:   #DBE0E7;

  border-right:4px white solid;
  font-family: Verdana; 
  font-size: 13px; 
  cursor:pointer;
  font-weight:bold;
}

.DefaultTabHover 
{
  color: #DBE0E7; 
  background-color: #1A4473;
    border-right:4px white solid;

  font-family: Verdana; 
  font-size: 13px; 
  cursor:pointer;
  font-weight:bold;
}

.SelectedTab 
{


  color: #DBE0E7;
  background-color:  #1A4473; 

  border-right:4px white solid;
  font-family: Verdana; 
  font-size: 13px; 
  cursor:pointer;
  padding-left:15px;
 font-weight:bold;
  }

.MultiPage
{
  background-color:White;
  border: 0px solid #919B9C;
  width:487px;
  height:250px;
  position:relative;
  top:-4px;
  left:1px;
  z-index:98;
}