﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="featuredProjectsAjax.aspx.vb" Inherits="featuredProjectsAjax" %>
<div style="display: none;" id="projectID"><asp:Literal id="literalProjectID" runat="server"></asp:Literal></div>
<asp:Literal id="literalImage" runat="server"></asp:Literal>
<div class="homeCopy">
	    <asp:Literal id="literalURL" runat="server"></asp:Literal>
    <br /><asp:Literal id="literalLocation" runat="server"></asp:Literal>
</div>

