﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="projectDetailsImageAJAX.aspx.vb" Inherits="projectDetailsImageAJAX" %>
<img src="<%=Session("WSRetrieveAsset")%>type=asset&size=1&width=600&height=480&id=<%=request.form("filename")%>" class="project_big_image" style="position: absolute; left: 16px; top: 177px; display: none;" alt="">
