<%@ Page Language="vb" AutoEventWireup="false" Codebehind="movieplayer.aspx.vb" Inherits="WebArchives.iDAM.WebServices.movieplayer" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>movieplayer</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<OBJECT codeBase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0"
				height="297" width="336" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" VIEWASTEXT
				bgcolor="#FFFFFF">
				<PARAM NAME="_cx" VALUE="8890">
				<PARAM NAME="_cy" VALUE="7858">
				<PARAM NAME="FlashVars" VALUE="">
				<PARAM NAME="Movie" VALUE="scrubber.swf?file=<%=url%>&amp;id=&amp;bufferTime=3&amp;autoStart=false">
				<PARAM NAME="Src" VALUE="scrubber.swf?file=<%=url%>&amp;id=&amp;bufferTime=3&amp;autoStart=false">
				<PARAM NAME="WMode" VALUE="Window">
				<PARAM NAME="Play" VALUE="-1">
				<PARAM NAME="Loop" VALUE="-1">
				<PARAM NAME="Quality" VALUE="High">
				<PARAM NAME="SAlign" VALUE="">
				<PARAM NAME="Menu" VALUE="-1">
				<PARAM NAME="Base" VALUE="">
				<PARAM NAME="AllowScriptAccess" VALUE="">
				<PARAM NAME="Scale" VALUE="ShowAll">
				<PARAM NAME="DeviceFont" VALUE="0">
				<PARAM NAME="EmbedMovie" VALUE="0">
				<PARAM NAME="BGColor" VALUE="">
				<PARAM NAME="SWRemote" VALUE="">
				<PARAM NAME="MovieData" VALUE="">
				<PARAM NAME="SeamlessTabbing" VALUE="1">
				<PARAM NAME="Profile" VALUE="0">
				<PARAM NAME="ProfileAddress" VALUE="">
				<PARAM NAME="ProfilePort" VALUE="0">
				<PARAM NAME="AllowNetworking" VALUE="all">
				<PARAM NAME="AllowFullScreen" VALUE="false">
				<embed src="scrubber.swf?file=<%=url%>&amp;bufferTime=3&amp;autoStart=false" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer"
					type="application/x-shockwave-flash" width="336" height="297" bgcolor="#FFFFFF" />
			</OBJECT>
		</form>
	</body>
</HTML>
