﻿* { padding: 0; margin: 0; letter-spacing: 0;}

html {
 padding: 0;
 margin: 0;
 min-height: 100%;
 background: #DCDBDB;/*#cbcaca;*/
}

body 
{
	/*font-family: 'Nobile', serif;*/
 font-family: Arial, HelveticaNeue, Helvetica, sans-serif;
 font-size: 10px;
 padding: 0;
 margin: 0;
 height: 100%;
 min-height: 100%;
 background: #cbcaca;
 color: #383838;
;
}

a, a:link, a:visited {
 color: #E69E12;
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

a, a:hover, a:active, a *, a:hover *, a:active * {
 outline: none !important;
 border: 0;
}

a strong, a:link strong, a:visited strong {
 color: #EEAF30;
 font-weight: 600;
}

#page {
 min-height: 100%;
 float: none;
 clear: both;
 height: 100%;
}

#bg { 
 margin: 0;
 width: 100%;
 min-width: 972px;
 padding: 0;
 position: relative;
 top: 0;
 left: 0;
 background: #fff; /*url(../images/footerBG.png) repeat-x scroll 0 100%;*/
}

#wrapper { 
 margin: 0 auto 0 auto;
 min-width: 972px;
 max-width: 1600px;
 padding: 0;
 position: relative;
 top: 0px;
 background: #fff;
}

.sub #wrapper {
 min-height: 440px
}

.sub.clients #wrapper {
 min-height: 640px
}

.sub.jobs #wrapper {
 min-height: 440px
}

.sub.management #wrapper {
 min-height: 640px
}


#banners {
 background: #000;
 position: relative;
 margin: 0;
 padding: 0;
 min-height: 400px;
 max-height: 500px;
 height: 500px;
 overflow: hidden;
}

#banner {
 position: relative;
 margin: 0;
 padding: 0;
 width: 100%;
 min-height: 400px;
 max-height: 500px;
 height: 500px;
 overflow: hidden;
 z-index: 9; 
}

#banner p {
 position: relative;
 top: 0;
 width: 3300px;
}

#banner p img {
 display: block;
 margin: 0;
 width: 1600px;
 height: 500px;
 float: left;
}

#bannerText {
 position: absolute;
 left: 0;
 bottom: 0;
 width: 100%;
 height: 75px;
 overflow: hidden;
 margin: 0;
 z-index: 10; 
 text-align: center;
}

#bannerText p {
 display: block;
 width: 966px;
 height: 75px; 
 overflow: hidden;
 position: relative;
 margin: 0 auto 0 auto;
 padding: 0;
 color: #fff;
 text-align: left;
 background: transparent url(../images/bannerAlpha.png) no-repeat scroll 0 0;
}


#bannerText p strong {
 position: absolute;
 top: 0px;
 left: 0;
 display: block;
 padding: 12px 10px 2px 12px;
 width: 850px;
 color: #fff;
 font-weight: normal;
 font-family:"Times New Roman", times, Georgia, Serif;
 font-size: 24px;
 height: 30px;
 line-height: 24px;
 z-index: 99;
}

#bannerText p em {
 font-size: 11px;
 position: absolute;
 bottom: 0px;
 left: 0;
 display: block;
 width: 850px;
 color: #EEAF30;
 font-style: normal;
 padding: 0 10px 3px 12px;
 height: 28px;
 line-height: 15px;
 z-index: 99;
}

#bannerText p span.bannerNext {
 display: block;
 width: 15px;
 padding: 0;
 height: 75px; 
 position: absolute;
 right: 11px;
 bottom: 0;
 background: transparent url(../images/PrevNext.png) no-repeat scroll -15px 50%;
 cursor: pointer;
 z-index: 20;
}

#bannerText p span.bannerPrev {
 display: block;
 width: 15px;
 padding: 0;
 height: 75px; 
 position: absolute;
 right: 58px;
 bottom: 0;
 background: transparent url(../images/PrevNext.png) no-repeat scroll 0 50%;
 cursor: pointer;
 z-index: 20;
}

#header {
 float: none;
 color: #383838;
 width: 100%;
 min-width: 966px;
 height: 75px;
 overflow: hidden;
 padding: 0;
 margin: 0;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 99;
}

#header div {
 width: 997px;
 height: 75px;
 overflow: hidden;
 padding: 0;
 margin: 0 auto 0 auto;
 position: relative;
 top: 0;
 left: 0;
 background: transparent url(../images/header.png) no-repeat scroll 50% 50%;
}

#header #logoType {
 display: block;
 width: 247px;
 height: 35px;
 overflow: hidden;
 position: absolute;
 left: 14px;
 top: 16px;
 line-height: 99px;
 color: transparent;
}

#header #logoIcon {
 display: block;
 width: 47px;
 height: 46px;
 overflow: hidden;
 line-height: 99px;
 position: absolute;
 right: 16px;
 top: 12px;
 color: transparent;
}

#header #logoType a, #header #logoIcon a {
 display: block;
 line-height: 99px;
}

#header #logo a:hover {
 background-position: 0 -68px;
}

#content {
 width: 966px;
 margin: 34px auto 14px auto;
}

#content .featured p {
 float: left;
 width: 315px;
 overflow: hidden;
 margin: 0 18px 5px 0;
}

#content .featured p.last {
 width: 300px;
 float: right;
 margin: 0 0 19px 0;
}

#content .featured img {
 display: block;
 width: 296px;
 height: 147px;
 margin: 0 0 11px 0;
 border: 2px solid #908E8E;
}

#content .featured a:hover img {
 border: 2px solid #DB9B1A;
}

#content .featured strong {
 font-size: 14px;
 line-height: 17px;
 margin: 0 0 5px 0;
 color: #DB9B1A;
 font-weight: 600;
 display: block;
}

#content .featured em { 
 font-size: 12px; 
 font-weight: normal;
 line-height: 17px;
 font-style: normal;
 display: block;
 color: #aaa;
}

#content .featured a, #content .featured a * {
 text-decoration: none;
}

#content .featured a:hover strong {
 text-decoration: underline;
}

.c {
 display:  block;
 clear: both;
 width: 100%;
 height: 0px;
 overflow: hidden;
 position: relative;
 padding: 0;
 margin: 0;
}

p#menu {
 width: 645px;
 height: 70px;
 overflow: hidden;
 position: absolute;
 top: 0;
 left: 0;
 margin: 0 0 0 282px;
 padding: 0;
 background: #fff;
}

p#menu a, p#menu a:link, p#menu a:visited {
 display: block;
 width: 93px;
 height: 70px;
 line-height: 70px;
 overflow: hidden;
 margin: 0;
 padding: 0 0 0 11px;
 float: left;
 text-align: left;
 border: 0;
 border-left: 1px solid #E3E3E3;
 text-decoration: none;
 font-size: 11px;
 font-weight: 600;
 color: #A3A3A3;
 text-transform: uppercase;
}

p#menu a.last, p#menu a.last:link, p#menu a.last:visited {
 border-right: 1px solid #E3E3E3;
}

p#menu a:hover {
 background: #EFEEEC url(../images/menuHover.png) no-repeat scroll 100% 50%;
}

p#menu a.selected, p#menu a:link.selected, p#menu a:visited.selected, p#menu a:hover.selected {
 color: #fff;
 background: #FCB124;
}

#sideMenu a, #sideMenu a:link, #sideMenu a:visited {
 color: #383838;
 text-decoration: none;
 font-size: 13px;
 font-weight: 600;
 line-height: 15px;
}

#sideMenu a:hover {
 text-decoration: underline;
}
#sideMenu a.selected, #sideMenu a.selected:link, #sideMenu a.selected:visited {
 color: #FCB225;
}

.ThreeColumns {
 width: 966px;
 margin: auto;
 clear: both;
 float: none;
 background: #fff url(../images/orangeColumn.png) repeat-y scroll 100% 74px;
 min-height: 444px;
}

.TwoColumns {
 width: 966px;
 margin: auto;
 clear: both;
 float: none;
}

.ThreeColumns .col1, .TwoColumns .col1 {
 width: 240px;
 padding: 0 20px 0 0;
 float: left;
 margin: 24px 0 31px 0;
 font-family:"Arial";
}

.ThreeColumns .col1 p, .TwoColumns .col1 p {
 padding: 0 0 12px 0;
}

.ThreeColumns .col2 {
 width: 410px;
 float: left;
 margin: 22px 0 31px 0;
}

.TwoColumns .col2 {
 width: 655px;
 float: left;
 margin: 22px 0 31px 0;
 font-family:"Arial";
}

.TwoColumns .col2.wide {
 width: 705px;
 float: right;
 margin: 22px 0 31px 0;
}


.ThreeColumns .col2 h1, .TwoColumns .col2 h1 {
 color: #383838;
 font-size: 22px;
 font-weight: 600;
 line-height: 25px;
 padding: 0 0 6px 0;
}

.ThreeColumns .col2 p, .TwoColumns .col2 p {
 color: #383838;
 margin: 18px 10px 0 0;
 font-size: 13px;
 line-height: 20px;
 font-weight: normal;
}

.ThreeColumns .col2 p a, .ThreeColumns .col2 p a:link, .ThreeColumns .col2 p a:visited,
.TwoColumns .col2 p a, .TwoColumns .col2 p a:link, .TwoColumns .col2 p a:visited {
}

.ThreeColumns .col3 {
 width: 285px;
 float: right;
 height: 100% !important;
}

.ThreeColumns .col3 h1 {
 color: #fff;
 font-size: 18px;
 font-weight: 600;
 margin: 0;
 padding: 14px 0 0  19px;
}

.ThreeColumns .col3 p {
 color: #fff;
 font-size: 15px;
 padding: 14px 15px 0  19px;
 margin: 0;
 line-height: 22px;
 position: relative;
}

.ThreeColumns .col3 li {
 color: #fff;
 font-style: italic;
 font-size: 15px;
 padding: 14px 22px 0  19px;
 margin: 0;
 line-height: 22px;
 position: relative;
}


.ThreeColumns .col3 address {
 color: #fff;
 font-style: normal;
 font-size: 12px;
 padding: 15px 15px 15px  50px;
 margin: 0;
 line-height: 16px; /* Orange "Quote" Leading for person's name and title. */
 position: relative;
}

.ThreeColumns .col3 address strong, .ThreeColumns .col3 p b {
 top: 15px; /* Orange "Quote" space Between Person's Name and Title. */
 position: absolute;
 display: block;
 margin: 0;
 padding: 0;
}

.pad75 {
 width: 100%;
 height: 75px;
 background: #fff;
}

.col2 h2 {
 color: #383838;
 font-size: 17px;
 font-weight: 600;
 line-height: 25px;
 padding: 25px 0 6px 0;
 position: relative;
 margin: 0 0 17px 0;
}

.col2 h8 {
 color: #383838;
 font-size: 17px;
 font-weight: 600;
 line-height: 25px;
 padding: 25px 0 6px 0;
 position: relative;
 margin: 0 0 17px 0;
 background: #fff url(../images/square.png)
}


.dotted {
 border-bottom: 1px dotted #383838;
}

.col2 h2 a, .col2 h2 a:link, .col2 h2 a:visited {
 color: #EEAF30;
 font-size: 13px;
 font-weight: 600;
 line-height: 25px;
 padding: 25px 0 6px 0;
 border-bottom: 1px dotted #383838;
 position: absolute;
 right: 0;
 top: 0;
 text-transform: uppercase;
}

.col2 .featured p {
 float: left;
 width: 229px;
 overflow: hidden;
 margin: 0 9px 0 0;
}

.col2 .featured p.last {
 width: 229px;
 float: right;
 margin: 0 0 5px 0;
}

.col2 .featured a, .col2 .featured a * {
 text-decoration: none;
 position: relative;
 display: block;
 height: 162px;
}

.col2 .featured img {
 display: block;
 width: 229px;
 height: 162px;
 margin: 0 0 11px 0;
}

.col2 .featured span {
 display: block;
 position: absolute;
 left: 0;
 top: 0;
 width: 225px;
 height: 118px;
 border-top: 2px solid #686868;
 border-right: 2px solid #686868;
 border-bottom: 0;
 border-left: 2px solid #686868;
 z-index: 9;
}

.col2 .featured a:hover span {
 border-color: #F19D1B;
}

.col2 .featured strong {
 font-size: 14px;
 line-height: 16px;
 padding: 5px 6px 9px 13px; 
 width: 210px;
 height: 28px;
 color: #fff;
 font-weight: 600;
 display: block;
 position: absolute;
 bottom: 0;
 background: #F19D1B;
 opacity: .9;
}

.col2 .featured em {
 font-size: 14px;
 line-height: 16px;
 padding: 5px 6px 9px 13px; 
 width: 210px;
 height: 28px;
 color: #fff;
 font-weight: 600;
 display: block;
 position: absolute;
 bottom: 0;
 font-style: normal;
}

.col2 .featured a:hover strong {
 opacity: 1;
}

#companyTimeline {
 margin: 30px 0 0 0;
 position: relative;
 top: 0;
 left: -47px;
 width: 724px;
 height: 338px;
 overflow: hidden; 
}

#timeline {
 width: 678px;
 height: 338px;
 overflow: hidden;
 background: #fff url(../images/timelineBG.png) no-repeat scroll 0 0;
 margin: 0 0 10px 0;
 padding: 0 0 0 48px;
 position: relative;
 z-index: 2;
}

#timeline div.events {
 width: 630px;
 height: 338px;
 overflow: hidden;
 margin: 0;
 padding: 0;
 position: relative;
}

#timeline ul {
 list-style-type: none;
 list-style-position: inside;
 position: absolute;
 top: 0;
 left: 0;
}

#timeline li {
 width: 210px;
 height: 400px;
 overflow: hidden;
 float: left;
 margin: 0;
 padding: 0;
 background: #fff url(../images/timelineBorder.png) no-repeat scroll 100% 20px;
 cursor: default;
}

#timeline li strong {
 display: block;
 font-weight: 600;
 padding: 0 0 0 16px;
 margin: 0 0 40px 0;
 font-size: 27px;
 color: #515151;
 cursor: default;
}

#timeline li span {
 display: block;
 border: 1px solid #7A7A7A;
 width: 170px;
 height: 107px;
 overflow: hidden;
 margin: 0 auto 0 auto;
}

#timeline li em {
 display: block;
 font-style: normal;
 font-size: 12px;
 line-height: 18px;
 padding: 12px 15px 0 17px;
 color: #515151;
 cursor: default;
}

#companyTimeline div.edge {
 width: 49px;
 height: 338px;
 overflow: hidden;
 position: absolute;
 right: 0;
 top: 0;
 background: transparent url(../images/timelineBG.png) no-repeat scroll -677px 0;
 z-index: 90;
}

#companyTimeline a.prev {
 display: none;
 width: 22px;
 height: 22px;
 overflow: hidden;
 position: absolute;
 left: 25px;
 top: 159px;
 background: #F0AA23 url(../images/timelinePrevNext.png) no-repeat scroll 0 0;
 cursor: pointer;
 z-index: 91;
}

#companyTimeline a.next {
 display: block;
 width: 22px;
 height: 22px;
 overflow: hidden;
 position: absolute;
 right: 26px;
 top: 159px;
 background: #F0AA23 url(../images/timelinePrevNext.png) no-repeat scroll -22px 0;
 cursor: pointer;
 z-index: 91;
}

#companyTimeline a:hover.prev {
 background-position: 0 -22px; 
}

#companyTimeline a:hover.next {
 background-position: -22px -22px; 
}

.clientList {
 height: 400px;
 overflow: auto;
}

p#breadcrumbs {
 position: relative;
 margin: 8px 0 -3px 0;
}

p#breadcrumbs a, p#breadcrumbs a:link, p#breadcrumbs a:visited {
 color: #797979;
 font-weight: 600;
 padding: 0 15px 0 0;
}

p#breadcrumbs a.selected, p#breadcrumbs a.selected:link, p#breadcrumbs a.selected:visited {
 color: #FCB225;
}

div.accordion {
 width: 702px;
 overflow: hidden;
 padding: 0;
 margin: 28px 0 0 0;
}

.accordion h2 {
 color: #fff;
 background: #FCB225;
 height: 29px;
 line-height: 29px;
 margin: 0;
 padding: 0 0 0 45px;
 width: 657px;
 font-size: 14px;
 font-weight: 600;
}

.accordion h2 a, .accordion h2 a:link, .accordion h2 a:visited  {
 position: relative;
 color: #fff;
 text-decoration: none;
 border: 0;
 cursor: pointer;
 display: inline;
 padding: 0 30px 0 0;
 margin: 0;
}

.accordion h2 em {
 display: block;
 position: absolute;
 top: 0;
 right: 25px;
 font-style: normal;
 padding: 0 30px 0 0;
}


.billow1 {
 width: 702px;
 overflow: hidden;
 margin: 0;
 padding: 0;
 }

.accordionButton {	
 width: 652px;
 float: left;
 background: #fff url(../images/plusMinus.png) no-repeat scroll 10px 10px;
 padding: 0 5px 0 45px;
 height: 37px;
 line-height: 37px;
 overflow: hidden;
 font-size: 14px;
 border-bottom: 1px solid #ccc;
 cursor: pointer;
 position: relative;
}

.accordionButton strong {
 color: #DB9B1A;
}
	
.accordionButton em {	
 display: block;
 position: absolute;
 top: 0;
 right: 55px;
 font-style: normal;
 padding: 0;
 margin: 0;
}

.accordionContent {	
 width: 652px;
 padding: 0 5px 0 45px;
 margin: 0;
 float: left;
 background: #EBEBEB;
 border-bottom: 1px solid #ccc;
}


.col2 .accordionContent p {	
 width: 550px;
 margin: 0 0 14px 0;
 padding: 0;
 font-size: 13px;
 line-height: 18px;
 color: #848484;
}

.col2 .accordionContent address {	
 width: 500px;
 font-style: italic;
 margin: 0 0 0 50px;
 padding: 0;
 font-size: 13px;
 line-height: 18px;
 color: #848484;
}

.col2 .accordionContent ul {
list-style-type: none;
list-style-position: outside;
margin-left: 3px;
color: #848484;
font-size: 13px;
font-weight: normal;
line-height: 20px;
}

.col2 .accordionContent ul li {
background-image: url(/assets/images/square.png);
background-repeat: no-repeat;
background-position: 0 .7em;
padding-left: .8em;
}


.accordionContent p.accordionLeft {	
 width: 357px;
 float: left;
 margin: 0 0 32px 0;
 padding: 0;
 font-size: 13px;
 line-height: 18px;
 color: #848484;
}


.accordionContent p.accordionLeft br {
 display: block;
 height: 8px;
 line-height: 8px; 
 padding: 0;
 margin: 0;
}

.accordionContent p.accordionRight {	
 width: 230px;
 float: left;
 margin: 5px 0 0 35px;
}

.accordionContent p.accordionRight img {	
 display: block;
 border: 0;
 margin: 0;
 max-width: 219px;
 max-height: 213px;
}

.accordionContent a.email, .accordionContent a.email:link, .accordionContent a.email:visited {
 display: block;
 height: 15px;
 line-height: 14px;
 font-weight: 600;
 background: transparent url(../images/email.png) no-repeat scroll 0 99%;
 margin: 0;
 padding: 0 0 0 38px;
 width: 50px;
 float: none;
} 

.accordion .on {
 background: #EBEBEB url(../images/plusMinus.png) no-repeat scroll 10px -46px;
 border-bottom: 0;
}
	
.accordion .over {
 background: #CCCCCC;
}

div.project {
 width: 990px;
 margin: 0 auto 25px auto;
 padding: 0;
}

div.project .projectNav {
 text-transform: uppercase;
 font-weight: 600;
 text-align: right;
 height: 48px;
 line-height: 35px;
 padding: 0 8px 0 0;
 position: relative;
 font-size: 11px;
}

div.project a.BackToResults {
position: absolute;
left: 0;
}

div.project .projectNav a.prevProject {
 position: absolute;
 left: 388px;
}

div.project .col1 {
 float: left;
 width: 365px;
}

div.project .col1 h1 {
 font-size: 20px;
 font-weight: 600;
 color: #9FA1A1;
 line-height: 26px;
}

div.project .col1 h2 {
 font-size: 14px;
 font-weight: 600;
 color: #BFBDBD;
 line-height: 45px;
 height: 45px;
}

div.project .col1 h3 {
 font-size: 14px;
 font-weight: 600;
 color: #878787;
 line-height: 30px;
 border-bottom: 1px dotted #878787;
 margin: 10px 0 8px 0;
}

div.project .col1 h4 {
 font-size: 13px;
 font-weight: 300;
 color: #878787;
 line-height: 18px;
 padding: 0;
 line-height: 20px;
}

div.project .col1 p {
 font-weight: 300;
 color: #9FA1A1;
 font-size: 13px;
 line-height: 20px;
 padding: 0;
}

div.project .col1 p.email {
 margin: 16px 0 0 0;
}

div.project .col1 p.email a, div.project .col1 p.email a:link, div.project .col1 p.email a:visited {
 display: block;
 height: 15px;
 line-height: 14px;
 font-weight: 300;
 background: transparent url(../images/email.png) no-repeat scroll 0 99%;
 margin: 0;
 padding: 0 0 0 38px;
 width: 50px;
 float: none;
} 


div.project .col2 {
 background: #fff url(../images/boxShadow.png) no-repeat scroll 0 0;
 width: 606px;
 float: right;
 padding: 20px 0 0 0;
 position: relative;
}

div.project .col2 #image  { 
 display: block;
 width: 560px;
 height: 475px;
 overflow: hidden;
 position: relative;
 margin: 0 auto 0 auto;
 padding: 0;
}

div.project .col2 #image span { 
 display: block;
 width: 560px;
 height: 474px;
 overflow: hidden;
 position: relative;
 margin: 0 auto 0 auto;
 padding: 0;
 background: #efefef;
}

div.project .col2 #image span img { 
 display: block;
 float: none;
 margin: auto;
}

div.project .col2 .bottom { 
 display: block;
 width: 100%;
 height: 5px;
 overflow: hidden;
 position: relative;
 margin: 0 auto 0 auto;
 padding: 0;
 background: #fffaaa url(../images/boxShadow.png) no-repeat scroll 0 -995px;
}


div.project .col2 #image img { 
 float: left;
 display: block;
 overflow: hidden;
}

div.project .col2 #image .plus {
 width: 20px;
 height: 20px;
 cursor: pointer;
 background: #fff url(../images/orangePlusMinus.png) no-repeat scroll 0 0;
 position: absolute;
 top: 0;
 right: 0;
 z-index: 99;
}

div.project .col2 #image .minus {
 width: 20px;
 height: 20px;
 cursor: pointer;
 background: #fff url(../images/orangePlusMinus.png) no-repeat scroll -20px 0;
 position: absolute;
 top: 0;
 right: 0;
 z-index: 99;
}

div.project .col2 #image .plus:hover {
 background: #fff url(../images/orangePlusMinus.png) no-repeat scroll 0 -20px;
}

div.project .col2 #image .minus:hover {
 background: #fff url(../images/orangePlusMinus.png) no-repeat scroll -20px -20px;
}

div.project .col2 .images {
 display: block;
 margin: 20px 20px 19px 20px;
 padding: 0;
}

div.project .col2 .images ul {
margin: 0;
}

div.project .col2 .images a, div.project .col2 .images a:link, div.project .col2 .images a:visited { 
 display: block;
 float: left;
 width: 78px;
 height: 78px;
 overflow: hidden;
 position: relative;
 margin: 0;
 padding: 0;
 border: 3px solid #888;
}

div.project .col2 .images a.selected, div.project .col2 .images a.selected:link, div.project .col2 .images a.selected:visited { 
 border: 3px solid #EEAF30;
}

div.project .col2 .images a:hover, div.project .col2 .images a.selected:hover {
 border: 3px solid #FFAC0D;
}

div.project .col2 .images img { 
 float: left;
 display: block;
 max-height: 90px;
 overflow: hidden;
}


div.project .col2 .threeThumbs {
 width: 555px;
 height: 84px;
 overflow: hidden;
 margin: 20px 0 20px 26px;
 display: block;
}

div.project .col2 #carousel {
 width: 600px;
 height: 84px;
 overflow: hidden;
 margin: 0;
 padding: 0;
 position: relative;
 z-index: 2;
}

div.project .col2 #carousel ul {
 list-style-type: none;
 list-style-position: inside;
 position: absolute;
 top: 0;
 left: 0;

}

div.project .col2 #carousel ul li {
 width: 84px;
 height: 84px;
 overflow: hidden;
 float: left;
 margin: 0 10px 0 0;
 padding: 0;
 cursor: pointer;
}

div.project .col2 #carousel div {
 margin: 0;
 padding: 0;
 position: relative;
}

div.project .col2 a.prev {
 display: none;
 width: 14px;
 height: 84px;
 overflow: hidden;
 position: absolute;
 left: 8px;
 bottom: 25px;
 background: #F0AA23 url(../images/orangePrevNext.png) no-repeat scroll 0 0;
 cursor: pointer;
 z-index: 91;
}

div.project .col2 a.next {
 display: block;
 width: 14px;
 height: 84px;
 overflow: hidden;
 position: absolute;
 right: 8px;
 bottom: 25px;
 background: #F0AA23 url(../images/orangePrevNext.png) no-repeat scroll -14px 0;
 cursor: pointer;
 z-index: 91;
}

div.project .col2 a:hover.prev {
 background-position: 0 -84px; 
}

div.project .col2 a:hover.next {
 background-position: -14px -84px; 
}

.results {
 width: 966px;
 margin: 0 auto 0 auto;
 padding: 16px 0 0 0;
}

.results .col1 {
 float: left;
 width: 240px;
 margin: 0 0 30px  0;
}

.results .col2 {
 float: right;
 width: 707px;
 margin: 0 0 20px  0;
}

.results .col1 h1 {
 display: block;
 position: relative;
 color: #383838;
 font-size: 22px;
 line-height: 22px;
 float: none;
 width: 240px;
 text-transform: capitalize;
 font-weight: 600;
}

.results .col1 form#PortfolioSearchTopLeft {
 position: relative;
 display: block;
 float: none;
 padding: 0;
 margin: 0;
 height: 40px;
}

.results .col1 #PortfolioSearchTopLeftSubmit {
 position: absolute;
 top: 17px;
 right: 0;
 display: block;
 font-size: 14px;
 cursor: pointer;
 line-height: 99px;
 color: transparent;
 padding: 0;
 width: 40px;
 height: 23px;
 overflow: hidden;
 padding: 0;
 font-weight: 600;
 text-transform: uppercase;
 background: #EEAE30 url(../images/go.png) scroll 0 -1px;
 border: 0;
}

.results .col1 input#PortfolioSearchTopLeftSubmit:hover {
 background: #EEAE30 url(../images/go.png) scroll 0 -26px;
}

.results .col1 input#PortfolioSearchTopLeftText {
 width: 193px;
 height: 21px;
 overflow: hidden;
 line-height: 21px;
 padding: 0 4px 0 3px;
 border-top: 1px solid #ccc;
 border-right: 0;
 border-bottom: 1px solid #ccc;
 border-left: 1px solid #ccc;
 position: absolute;
 top: 17px;
 left: 0;
}

.results .col1 h2 {
 font-size: 12px;
 text-transform: uppercase;
 position: relative;
 color: #828282;
 border-bottom: 1px dotted #828282;
 line-height: 20px;
 padding: 0 0 3px 0;
 margin: 17px 0 4px 0;
}

.results .col1 h2 a, .results .col1 h2 a:link, .results .col1 h2 a:visited {
 position: absolute;
 right: 0;
 top: 2px;
 font-size: 8px;
 width: 64px;
 text-decoration: none;
 border: 0;
 height: 18px;
 line-height: 99px;
 overflow: hidden;
 display: block;
 background: transparent url(../images/clearFilter.png) scroll 0 0;
}


.results .col1 h2 a:hover {
 text-decoration: none;
 border: 0;
 background: transparent url(../images/clearFilter.png) scroll 0 -18px;
}

.results .col1 h3 {
 font-size: 12px;
 font-weight: 300;
 position: relative;
 color: #909090;
 line-height: 25px;
}

.results .col1 h3 a, .results .col1 h3 a:link, .results .col1 h3 a:visited {
 color: #EFA416;
}

.results .col1 h3 a.selected, .results .col1 h3 a.selected:link, .results .col1 h3 a.selected:visited {
 color: #E69E12;
 font-weight: 600;
}

.results .col2 #viewSelect {
 height: 32px;
 position: relative;
 width: 708px;
 float: right;
}

.results .col2 #viewSelect #viewMode {
 color: #BFBEBE;
 font-weight: 600;
 font-size: 10px;
 text-transform: uppercase;
}

.results .col2 #viewSelect #viewMode a#SelectviewModeGrid, .results .col2 #viewSelect #viewMode a#SelectviewModeGrid:link, .results .col2 #viewSelect #viewMode a#SelectviewModeGrid:visited {
 position: absolute;
 top: 0;
 left: 80px;
 display: block;
 line-height: 99px;
 padding: 0;
 width: 18px;
 height: 18px;
 overflow: hidden;
 background: transparent url(../images/viewMode.png) scroll 0 0;
 border: 1px solid #7A7A7A;
}

.results .col2 #viewSelect #viewMode a#SelectviewModeGrid.selected, .results .col2 #viewSelect #viewMode a#SelectviewModeGrid.selected:link, .results .col2 #viewSelect #viewMode a#SelectviewModeGrid.selected:visited {
 border: 1px solid #EF9D33;
}

.results .col2 #viewSelect #viewMode a#SelectviewModeGrid:hover {
 background: transparent url(../images/viewMode.png) scroll 0 -18px;
}

.results .col2 #viewSelect #viewMode a#SelectviewModeList, .results .col2 #viewSelect #viewMode a#SelectviewModeList:link, .results .col2 #viewSelect #viewMode a#SelectviewModeList:visited {
 position: absolute;
 top: 0;
 left: 105px;
 display: block;
 line-height: 99px;
 padding: 0;
 width: 18px;
 height: 18px;
 overflow: hidden;
 background: transparent url(../images/viewMode.png) scroll -18px 0;
 border: 1px solid #7A7A7A;
}

.results .col2 #viewSelect #viewMode a#SelectviewModeList.selected, .results .col2 #viewSelect #viewMode a#SelectviewModeList.selected:link, .results .col2 #viewSelect #viewMode a#SelectviewModeList.selected:visited {
 border: 1px solid #EF9D33;
}

.results .col2 #viewSelect #viewMode a#SelectviewModeList:hover {
 background: transparent url(../images/viewMode.png) scroll -18px -18px;
}

.results .col2 #viewSelect #pageNumberArea {
 position: absolute;
 right: 0;
 top: 0;
 color: #909090;
 font-size: 12px;
}

.results .col2 #viewSelect #pageNumberArea em {
 font-style: normal;
 font-size: 12px;
 padding-left: 3px;
}

.results .col2 #viewSelect #pageNumberArea strong {
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 padding: 0 0 0 2px;
}

.results .col2 #viewSelect #pageNumberArea a.prev, .results .col2 #viewSelect #pageNumberArea a:link.prev, .results .col2 #viewSelect #pageNumberArea a:visited.prev {
 display: block;
 width: 22px;
 height: 22px;
 overflow: hidden;
 line-height: 99px;
 background: #F0AA23 url(../images/timelinePrevNext.png) no-repeat scroll 0 -22px;
 cursor: pointer;
 float: left;
}

.results .col2 #viewSelect #pageNumberArea a:hover.prev {
 background: #F0AA23 url(../images/timelinePrevNext.png) no-repeat scroll 0 0;
}

.results .col2 #viewSelect #pageNumberArea a.next, .results .col2 #viewSelect #pageNumberArea a:link.next, .results .col2 #viewSelect #pageNumberArea a:visited.next {
 float: left;
 display: block;
 width: 22px;
 height: 22px;
 overflow: hidden;
 line-height: 99px;
 background: #F0AA23 url(../images/timelinePrevNext.png) no-repeat scroll -22px -22px;
 cursor: pointer;
}

.results .col2 #viewSelect #pageNumberArea a:hover.next {
 background: #F0AA23 url(../images/timelinePrevNext.png) no-repeat scroll -22px 0;
}

.results .col2 #viewSelect input#pageNumber {
 display: block;
 float: left;
 font-size: 12px;
 color: #909090;
 padding: 0 0 2px 0;
 margin: 2px 0 0 0;
 height: 14px;
 border: 1px solid #909090;
 width: 32px;
 text-align: center;
}

.results .col2 #viewSelect span {
 display: block;
 float: left;
 height: 22px;
 line-height: 21px;
 margin: 0 8px 0 8px;
}

.results #viewSelectBottom {
 height: 32px;
 position: relative;
 width: 708px;
 float: right;
}

.results #viewSelectBottom #pageNumberAreaBottom {
 position: absolute;
 right: 0;
 top: 0;
 color: #909090;
 font-size: 12px;
}

.results #viewSelectBottom #pageNumberAreaBottom em {
 font-style: normal;
 font-size: 12px;
 padding-left: 3px;
}

.results #viewSelectBottom #pageNumberAreaBottom strong {
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 padding: 0 0 0 2px;
}

.results #viewSelectBottom #pageNumberAreaBottom a.prev, .results #viewSelectBottom #pageNumberAreaBottom a:link.prev, .results #viewSelectBottom #pageNumberAreaBottom a:visited.prev {
 display: block;
 width: 22px;
 height: 22px;
 overflow: hidden;
 line-height: 99px;
 background: #F0AA23 url(../images/timelinePrevNext.png) no-repeat scroll 0 -22px;
 cursor: pointer;
 float: left;
}

.results #viewSelectBottom #pageNumberAreaBottom a:hover.prev {
 background: #F0AA23 url(../images/timelinePrevNext.png) no-repeat scroll 0 0;
}

.results #viewSelectBottom #pageNumberAreaBottom a.next, .results #viewSelectBottom #pageNumberAreaBottom a:link.next, .results #viewSelectBottom #pageNumberAreaBottom a:visited.next {
 float: left;
 display: block;
 width: 22px;
 height: 22px;
 overflow: hidden;
 line-height: 99px;
 background: #F0AA23 url(../images/timelinePrevNext.png) no-repeat scroll -22px -22px;
 cursor: pointer;
}

.results #viewSelectBottom #pageNumberAreaBottom a:hover.next {
 background: #F0AA23 url(../images/timelinePrevNext.png) no-repeat scroll -22px 0;
}

.results #viewSelectBottom input#pageNumber {
 display: block;
 float: left;
 font-size: 12px;
 color: #909090;
 padding: 0 0 2px 0;
 margin: 2px 0 0 0;
 height: 14px;
 border: 1px solid #909090;
 width: 32px;
 text-align: center;
}

.results #viewSelectBottom span {
 display: block;
 float: left;
 height: 22px;
 line-height: 21px;
 margin: 0 8px 0 8px;
}

.results .col2 #breadcrumbs {
 font-size: 13px;
 color: #909090;
 width: 708px;
 float: right;
 margin: 4px 0 0 0;
}

.results .col2 #breadcrumbs a, .results .col2 #viewSelect #breadcrumbs a:link, .results .col2 #viewSelect #breadcrumbs a:visited{
 color: #EFA416;
 padding: 0;
 margin: 0;
 font-weight: 300;
}

.results #portfolioResults.list {
 margin: 10px 0 30px 0;
 width: 709px;
 display: block;
 float: right;
}

.results #portfolioResults.list h1 {
 background: #FCB225;
 color: #fff;
 font-size: 11px;
 font-weight: 600;
 line-height: 30px;
 height: 30px;
 text-transform: uppercase;
 position: relative;
 margin: 3px 0 0 0;
}

.results #portfolioResults.list h1 a.projectName:link, .results #portfolioResults.list h1 a.projectName:visited {
 color: #fff;
 line-height: 30px;
 height: 30px;
 position: absolute;
 left: 150px;
 top: 0;
 width: 250px;
}

.results #portfolioResults.list h1 a.projectType:link, .results #portfolioResults.list h1 a.projectType:visited {
 color: #fff;
 line-height: 30px;
 height: 30px;
 position: absolute;
 left: 408px;
 top: 0;
 width: 175px;
}

.results #portfolioResults.list h1 a.projectLocation:link, .results #portfolioResults.list h1 a.projectLocation:visited {
 color: #fff;
 line-height: 30px;
 height: 30px;
 position: absolute;
 left: 591px;
 top: 0;
 width: 100px;
}

.results #portfolioResults.list h1 a:hover {
 text-decoration: underline;
}

.results #portfolioResults.list p {
 background: #F0F0F0;
 border-top: 1px solid #fff;
 border-bottom: 1px solid #ccc;
 position: relative;
 height: 97px;
  vertical-align:middle;

}

.results #portfolioResults.list p img.small {
 width: 117px;
 height: 82px;
 border: 1px solid #fff;
 margin: 5px 5px 5px 9px;
}

.results #portfolioResults.list p a:hover img.small {
 border: 2px solid #FCB225;
 margin: 4px 4px 4px 8px;
}

.results #portfolioResults.list p img.medium {
 display: none;
  width: 325px;
 height: 300px;
}

.results #portfolioResults.list p strong {
 display: block;
 position: absolute;
 left: 150px;
 top: 33px;
 width: 230px;
 color: #F9A131;
 line-height: 18px;
 font-size: 12px;
 font-weight: 600;
 font-style: normal;
}

.results #portfolioResults.list p em {

 position: relative;
 font-style: normal;
 left:240px;
 top: -44px;
 width: 170px;
 color: #787878;
 line-height: 18px;
 font-size: 12px;
 font-weight: normal;
 vertical-align:middle;
 display:inline-block;
}

.results #portfolioResults.list p span {
 display: block;
 position: absolute;
 left: 591px;
 top: 33px;
 width: 110px;
 color: #787878;
 line-height: 18px;
 font-size: 12px;
 font-weight: normal;
 font-style: normal;
}

.results #portfolioResults.grid {
 margin: 15px 0 30px 0;
 width: 718px;
 display: block;
 float: right;
}
.results #portfolioResults.grid h1 {
 display: none;
}

.results #portfolioResults.grid img.small {
 display: none;
}

.results #portfolioResults.grid p {
 position: relative;
 margin: 0;
 padding: 0;
 width: 229px;
 height: 162px;
 border: 0;
 margin: 0 0 10px 10px;
 overflow: hidden;
 display: block;
 float: left;
}


.results #portfolioResults.grid p a {
 border: 2px solid #686868;
 width: 225px;
 height: 158px;
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 text-decoration: none;
}

.results #portfolioResults.grid p img.medium {
 position: absolute;
 top: 0;
 left: 0;
 width: 225px;
 height: 158px;
 border: 0;
 display: block;
}

.results #portfolioResults.grid p a:hover strong {
 position: absolute;
 bottom: 0;
 width: 205px;
 height: 22px;
 overflow: hidden;
 background: #FCB225;
 padding: 10px;
 font-size: 11px;
 color: #fff;
 font-weight: 600;
 text-decoration: none;
 cursor: default;
}

.results #portfolioResults.grid p a:hover {
 border-color: #FCB225;
}
.results #portfolioResults.grid p em, .results #portfolioResults.grid p span {
 display: none;
}

#bannerSub {
 position: absolute;
 left: 0;
 top: 0;
 padding: 0;
 margin: 0;
 z-index: 1;
 width: 100%;
 min-width: 966px;
 background-repeat:no-repeat;
 background-attachment:scroll;
 background-position: 50% 0; 
 background-color: #000;
}

#bannerBg {
 position: absolute;
 left: 0; 
 top: 0;
 margin: 0;
 padding: 0;
 min-height: 400px;
 max-height: 500px;
 width: 100%;
 height: 500px;
 overflow: hidden;
 background: #000;
}

#footer { 
 clear: both;
 margin: 0 auto 0 auto;
 padding: 0;
 position: relative;
 width: 100%;
 height: 50px;
 background: #A2A1A1 url(../images/footerBG.png) repeat-x scroll 0 0;
 font-size: 10px;
}

.sub #footer { 
 margin: -4px auto 0 auto;
}

#footer div.footer { 
 width: 966px;
 margin: 0 auto 0 auto;
 padding: 11px 0 0 0;
 position: relative;
}

#footer div.footer address { 
 display: block;
 width: 48%; 
 float: left;
 height: 32px;
 line-height: 32px; /* vertical alignment of Mckissack & Mckissack in utility bar */
 color: #5D5C5C;
 font-style: normal;
 text-align: left;
}
 
#footer div.footer address em { 
 display: block;
 font-style: normal;
}

#footer div.footer address a { 
 height: 16px;
 line-height: 16px;
 color: #5D5C5C;
 font-weight: 600;
 text-decoration: none;
}

#footer div.footer p { 
 display: block;
 width: 25%;
 float: right;
 text-align: right;
 height: 32px;
 line-height: 33px;
 color: #5D5C5C;
 font-style: normal;
 margin: 0 60px 0 0;
}

#footer div.footer p a { 
 display: inline;
 color: #C68C1A;
 text-decoration: none;
}

#footer div.footer a:hover {
 text-decoration: underline;
}


#footer div.footer div { 
 display: block;
 margin: 0;
 padding: 2px 0 0 0;
 width: 30px;
 height: 30px;
 overflow: hidden;
 z-index: 103;
 position: absolute;
 right: 1px;
}

.up {
 cursor: pointer;
}

#footer div.footer div a.up {
 display: block;
 padding: 1px;
 width: 28px;
 height: 28px;
 line-height: 99px;
 overflow: hidden;
 background: transparent url(../images/up.png) no-repeat scroll 1px 1px;
 cursor: pointer;
}

#footer div.footer div a.up:hover {
 text-decoration: none;
 background: transparent url(../images/up.png) no-repeat scroll 1px -28px;
 cursor: pointer;
}

#footer div.footer div a.up.maximized { 
 background-position: 1px -86px;
}

#footer div.footer div a.up.maximized:hover {
 background-position: 1px -57px;
}

#footer #bottomNav {
 display: block;
 width: 100%;
 overflow: hidden;
 left: 0;
 top: -10px;
 height: 10px;
 margin: 9px 0 0 0;
 background: #DCDBDB url(../images/footerBottomNavBG.png) repeat-x scroll 0 0;
 z-index: 102;
 position: absolute !important;
}

#footer #bottomNav .bottomNav {
 width: 966px;
 margin: auto;
 display: block;
}

#footer #bottomNav .bottomNav div {
 margin: 38px 0 0 0;
}

#footer #bottomNav .bottomNav h1 {
 margin: 0 0 10px 0;
}

#footer #bottomNav .bottomNav p {
 padding: 0 0 5px 0;
}

#footer #bottomNav .bottomNav .col1 {
 width: 215px;
 height: 999px;
 overflow: hidden;
 float: left;
}

#footer #bottomNav .bottomNav .col2 {
 width: 90px;
 height: 999px;
 overflow: hidden;
 float: left;
 border-left: 1px dotted #EEE;
 padding: 0 8px 0 10px;
}

#footer #bottomNav .bottomNav .col3 {
 width: 185px;
 height: 999px;
 overflow: hidden;
 float: left;
 border-left: 1px dotted #EEE;
 padding: 0 8px 0 10px;

}

#footer #bottomNav .bottomNav .col4 {
 width: 105px;
 height: 999px;
 overflow: hidden;
 float: left;
 border-left: 1px dotted #EEE;
 padding: 0 7px 0 10px;

}

#footer #bottomNav .bottomNav .col5 {
 width: 140px;
 height: 999px;
 overflow: hidden;
 float: left;
 border-left: 1px dotted #EEE;
 padding: 0 7px 0 10px;
}

#footer #bottomNav .bottomNav .col6 {
 width: 140px;
 height: 999px;
 overflow: hidden;
 float: left;
 border-left: 1px dotted #EEE;
 padding: 0 0 0 10px;
}

#footer #bottomNav .bottomNav h1 {
 display: block;
 text-transform: uppercase;
 font-size: 11px;
 line-height: 16px;
 color: #616161;
}

#footer #bottomNav .bottomNav h2 {
 display: block;
 text-transform: capitalize;
 font-size: 11px;
 color: #616161;
 line-height: 14px;
 padding: 0;
 margin: 9px 0 0 0;
}

#footer #bottomNav .bottomNav h3 {
 display: block;
 font-size: 11px;
 color: #616161;
 line-height: 14px;
 padding: 0;
 font-weight: normal;
}

#footer #bottomNav .bottomNav a, #footer #bottomNav .bottomNav a:link, #footer #bottomNav .bottomNav a:visited {
 color: #C58C1A;
}

#sideMenu span a {
display: block;
margin: 12px 0 0px 12px;
}
#sideMenu span {
display: block;
margin: 0 0 2px 12px;
}

.contentCol1, .contentCol2 {
float: left;
padding: 0 60px 14px 0;
}

.quotes {
background: transparent url(../images/q.gif) no-repeat scroll 0 0;
padding: 0 0 0 64px;
width: 550px;
}

.quotes address {
font-size: 13px;
font-style: italic;
margin: 4px 0 0 0;
}

a.hoverInfo {
cursor: pointer;
}

a.hoverInfo span {
display: none;
}

.col3 div.hoverInfoPop {
position: absolute;
top: 75px;
background: transparent url(/assets/images/hoverPopBg.png) no-repeat scroll 0 0;
width: 277px;
margin: 6px 0 0 4px;
color: #727272;
z-index: 999;
}

.col3 div.hoverInfoPop p {
position: relative;
top: 7px;
margin: 0 0 8px 8px;
padding: 8px;
background: #DDDBDB;
border: 2px solid #fff;
width: 241px;
color: #686868;
}

.col3 div.hoverInfoPop p strong {
display: block;
margin: 0 0 4px 0;
padding: 0;

}
.col3 address.hoverInfoPop {
position: absolute;
bottom: -8px;
left: -4px;
width: 277px;
height: 9px;
overflow: hidden;
background: transparent url(/assets/images/hoverPopBg.png) no-repeat scroll 0 -1077px;
margin: 0 0 0 4px;
padding: 0;
color: #727272;
}

.col3 div.hoverInfoPop h2 {
position: absolute;
top: 49px;
left: -16px;
height: 40px;
width: 27px;
z-index: 30;
background: transparent url(/assets/images/hoverPopArrow.gif) no-repeat scroll 0 0;
}


/* start bullet stuff */

.col2 ul {
list-style-type: none;
list-style-position: outside;
margin-left: 3px;
color: #383838;
font-size: 13px;
font-weight: normal;
line-height: 20px;
}

.col2 ul li {
background-image: url(/assets/images/square.png);
background-repeat: no-repeat;
background-position: 0 .7em;
padding-left: .8em;
}

/* end bullet stuff */

span.bannerPrev.loading, span.bannerNext.loading {
background: transparent url(/assets/images/loadingImg.gif) no-repeat scroll 0 48% !important;
}
