/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqmWindow {
    display: none;
    
    position: fixed;
    top: 17%;
    left: 50%;
    
    margin-left: -462px;
    width: 924px;
    height: 668px;
    
    background-color: #222;
    color: #333;
    border: 1px solid #999999;
    padding: 30px;
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.jqModal {
	cursor: pointer;	
}
#TB_ajaxContent .favorites_item_title 
{
    font-family: Oswald;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	float:left;
	margin-left:20px;
	margin-bottom:12px;
	margin-top:13px;
	width:230px;
}
#TB_ajaxContent .button_delete 
{
    float:right;
    margin-right:12px;
    margin-top:12px;
    cursor:pointer;
}
#TB_ajaxContent .content_title {

	font-family: Oswald;
	font-size: 26px;
	font-weight: normal;
	text-transform: uppercase;
	
}
#TB_ajaxContent .unit_floorplan_details_button {
	float:right;
	left: 5px;	
}
#TB_ajaxContent .favorites_container {
	width:100%;
	margin-top: 20px;	
	float:left;
}
#TB_ajaxContent .favorites_item_container {
	margin-left: 22px;
	width: 293px;
	float: left;
	height: 244px;
	background: #CCC;
	margin-bottom: 20px;	
}
#TB_ajaxContent .favorites_item {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 18px;
	margin-bottom: 12px;	
}
#TB_ajaxContent .favorites_item img {
	float: left;
	width: 140px;
	height: 184px;
	margin-right: 20px;	
}
#TB_ajaxContent .favorites_item_detail {
	font-family: Open Sans;
	font-size: 12px;
	color: black;	
}
#TB_ajaxContent .favorites_item_detail b {
	font-family: Oswald;
	font-size: 18px;
	color: black;
	font-weight: normal;
}
#TB_ajaxContent .left {
	margin-left: 0;	
}
#TB_ajaxContent .favorite_footer {
	width:100%;
	height: 61px;
	float: left;
	text-align: center;
}

#TB_ajaxContent .favorite_footer_nav {
	line-height: 61px;
	float: left;
	left: 50%;
	margin-left: -95px;
	position: relative;
}
#TB_ajaxContent .favorite_footer_nav img {
	float:left;
	cursor: pointer;
	margin-top: -15px;
	top: 30px;
	position:relative;
}
#TB_ajaxContent .favorite_footer_nav .page_count {
	margin-left: 50px;
	margin-right: 50px;
	float:left;
	font-family: Open Sans;
	font-size: 14px;
	color: white;	
}