﻿<%@ Import Namespace="WebSupergoo.ABCpdf6" %>

<%@ Page Language="C#" AutoEventWireup="true" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Example Site</title>

	<script language="javascript">
<!--

var gX = 120;
var gY = 390;
var gH = 200;
var gW = 240;

var gIsFireFox = false;
if(navigator.userAgent.indexOf("Firefox") >= 0)
	gIsFireFox = true;

//-->
	</script>

</head>
<frameset rows="4, *,32" frameborder="0" framespacing="0" border="0">
	<frame src="header.htm" name="topFrame" scrolling="no" />
	<frameset cols="280,*" frameborder="0" framespacing="0" border="0">
		<frame src="left.htm" name="leftFrame" />
		<frame src="start.aspx" name="propertiesFrame" scrolling="auto" />
	</frameset>
	<frame src="footer.htm" name="bottomFrame" scrolling="no" />
	<noframes>
		<!-- TODO: No frames -->
	</noframes>
</frameset>
</html>
