.SourceCssClass { font-family:"Consolas","Lucida Console","Courier New",monospace;font-size:12px;border:none;background-image:none;width:96% !important;height:96% !important;padding:2% !important; }
.DesignCssClass { font-family:Arial, Helvetica, sans-serif;font-size:9pt;letter-spacing:0.0px;line-height:11pt;color:#000;background-image:none;padding:0 4px;margin:8px 0 0 4px; }
.DesignCssClassPE { font-family:Arial, Helvetica, sans-serif;font-size:9pt;letter-spacing:0.0px;line-height:11pt;color:#000;background-image:none;padding:0 4px;margin:8px 0 0 4px; }
.HighlightCssClass { /*background:#e6e6f0;*/background:#ffe6bb; }

h1 { font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;color:#333;font-size:22px;line-height:30px;margin:0; }
h2 { color:#6e6d8f;font-size:17px;line-height:26px;font-weight:bold;margin:0; }
h3 { color:#999;font-size:12px;padding-top:0px;margin-top:0px; }

.DesignCssClass a,.DesignCssClass a:hover,.DesignCssClass a:visited,.DesignCssClass a:active { color:#fa5f01 !important;text-decoration:underline !important; }