<%@ Page Language="vb" AutoEventWireup="false" Codebehind="Login.aspx.vb" Inherits="IdamAdmin.LoginIPhone"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<HTML>
  <HEAD>
<title>iDAM</title><meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<style type="text/css" media="screen">@import "iui/iui.css"; 
	</style>

<script type="application/x-javascript" src="iui/iui.js"></script>
</HEAD>
<body>
    
    <ul id="home" title="Home" selected="true">
        <li><a href="idam.aspx?query=cat">By Categories</a></li>
        <li><a href="#name">By Name</a></li>
        <li><a id="search"   href="#searchForm">Search</a></li>
    </ul>
    
    
    <form id="searchForm" class="dialog" method="post" action="idam.aspx?query=search">
        <fieldset>
            <h1>Keyword Search</h1>
            <a class="button leftButton" type="cancel">Cancel</a>
            <a class="button blueButton" type="submit">Search</a>
            
            <label>Keyword:</label>
            <input id="keyword" type="text" name="keyword"/> 
        </fieldset>
    </form>
   
    </body>
    </html>