<%@ Page Language="vb" AutoEventWireup="false" Codebehind="Login.aspx.vb" Inherits="WebArchives.iDAM.WebClientDownload.iDAMClientLoginForm" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>WebForm1</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="Visual Basic .NET 7.1" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body>
		<form id="iDAMClientLoginForm" method="post" runat="server">
			<asp:textbox id="txtPassword" style="Z-INDEX: 101; LEFT: 120px; POSITION: absolute; TOP: 72px"
				runat="server" TextMode="Password" Width="152px"></asp:textbox><asp:button id="btnLogin" style="Z-INDEX: 102; LEFT: 120px; POSITION: absolute; TOP: 144px"
				runat="server" Text="Login"></asp:button><asp:textbox id="txtLogin" style="Z-INDEX: 103; LEFT: 120px; POSITION: absolute; TOP: 40px" runat="server"></asp:textbox><asp:label id="Label1" style="Z-INDEX: 104; LEFT: 48px; POSITION: absolute; TOP: 40px" runat="server">Login</asp:label><asp:label id="Label2" style="Z-INDEX: 105; LEFT: 48px; POSITION: absolute; TOP: 72px" runat="server">Password</asp:label><asp:textbox id="txtInstanceID" style="Z-INDEX: 106; LEFT: 120px; POSITION: absolute; TOP: 104px"
				runat="server"></asp:textbox><asp:label id="Label3" style="Z-INDEX: 107; LEFT: 16px; POSITION: absolute; TOP: 104px" runat="server">instance ID</asp:label>
			<asp:Label id="lblMessage" runat="server">Label</asp:Label></form>
	</body>
</HTML>
