.jcarousel-skin-tango .jcarousel-container {
    background: #838383;
    border: 1px solid #ffffff;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 407px;
    padding: 0 21px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 177px;
    height: 156px;
    padding: 21px 0px;
}

#details_carousel .jcarousel-skin-tango .jcarousel-container-vertical {
    width: 177px;
    height: 398px;
    padding: 21px 0px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  407px;
    height: 176px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  177px;
    height: 156px;
}

#details_carousel .jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  177px;
    height: 398px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 177px;
    height: 74px;
    background: #aeaeae;
    
}

.jcarousel-skin-tango .jcarousel-item p {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    top: -61px;
    left: 88px;
    
    
}

#featured_carousel .jcarousel-skin-tango .jcarousel-item {
    width: 131px;
    height: 176px;
    background: #aeaeae;
}

#featured_carousel .jcarousel-skin-tango .jcarousel-item p {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    width: 131px;
    left: -1px;
    top: -2px;
    
    
}


.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 7px;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 7px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 176px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
    border-left: 1px solid white;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: -30px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -60px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -90px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 176px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
    border-right: 1px solid white;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: -30px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -60px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -90px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 177px;
    height: 30px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
    border-top: 1px solid white;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background-position: 0 -30px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -60px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -90px;
    border-top: 1px solid white;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 177px;
    height: 30px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
    border-bottom: 1px solid white;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position: 0 -30px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -60px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -90px;
    border-bottom: 1px solid white;
}
