img {
	border: 0;
}
body 
{
  padding: 0;
  margin: 0;
  font-family: arial;
  color: #000000;
  font-size: 12px;
  line-height: 18px;
}
a {
	color: #720421;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
}
#logo {
	position: absolute;
	left: 50%;
	margin-left: -512px;
	z-index: 10;
	top: 0;
}
#container
{
  width: 1021px;
  left: 50%;
  margin-left: -512px;
  text-align: left;
  position: relative;
  top: 192px;
  background: #e2e2e2;
}
#content_text {
	margin: 20px;
	font-family: times new roman, times roman, serif;
	font-size: 14px;
	line-height: 24px;
	width:700px;
	margin-bottom: 120px;
}
#navi {
	margin:0;
	position: relative;
}

#footer
{
  width: 979px;
  left: 50%;
  margin-left: -492px;
  text-align: left;
  position: relative;
  top: 192px;
  height: 120px;
  margin-top: 20px;
}
b.service {
 color:#720421;
 font-family:trebuchet,arial,sans-serif;	
}
table.gallery td {
	height: 240px;
}
table.gallery div {
	margin-left: 0px;
	font-family: arial;
	line-height: 18px;
	font-size: 12px;
}
ul {
	list-style-type: square;
	list-style-image: url('../images/li.jpg');
	list-style-position: outside;
	padding-left:0.9em;
	margin-left:0.9em;
	}
.crumbs {
	font-size: 10px;
	font-family: arial;
	color: #333333;
	margin-bottom: 15px;
}
