.SourceCssClass { font-family:"Courier New",monospace;font-size:12px;border:none;background-image:none; }
.DesignCssClass { font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;font-size:12px;background-image:none; }
.HighlightCssClass { background-color:#ffeec2; }

h1 { color:#800000;font-size:20px;font-weight:bold;line-height:30px;margin:0; }
h2 { color:#333;font-size:17px;line-height:26px;font-weight:bold;margin:0; }
h3 { color:#808080;font-size:12px;padding-top:0px;margin-top:0px; }

.DesignCssClass a { color:#ff5010 !important; }
.DesignCssClass a:hover { color:#ff5010 !important;text-decoration:underline !important; }