/**********************************************************
  1.  Editor chrome / wrapper
***********************************************************/
table.wrapper { border:0; }
table.wrapper img { display:block; }
td.top-left { background:transparent url(../images/editor/chrome.png) no-repeat 0px -113px; }
td.top { background:#000 url(../images/editor/chrome.png) repeat-x 0px -83px;  }
td.top-right { background:transparent url(../images/editor/chrome.png) no-repeat -9px -113px; }
.toolbar-row { height:25px;margin:0;background:none;background-color:#000; }
td.top div.top { margin:2px 0 0 0;background-color:transparent; }

tr.textfield-top td.left { width:9px;height:8px;background:#000 url(../images/editor/chrome.png) no-repeat; }
tr.textfield-top td.mid { height:8px;background:#000 url(../images/editor/chrome.png) repeat-x 0px -8px; }
tr.textfield-top td.right { width:9px;height:8px;background:#000 url(../images/editor/chrome.png) no-repeat -9px 0px; }

tr.textfield td.left { width:9px;background:#000 url(../images/editor/textfield.png) repeat-y; }
tr.textfield td.mid { background-color:#fff; }
tr.textfield td.right { width:9px;background:#000 url(../images/editor/textfield.png) repeat-y -9px 0px; }

tr.textfield-bottom td.left { width:9px;height:5px;background:#000 url(../images/editor/chrome.png) no-repeat 0px -16px; }
tr.textfield-bottom td.mid { height:5px;background-color:#fff; }
tr.textfield-bottom td.right { width:9px;height:5px;background:#000 url(../images/editor/chrome.png) no-repeat -9px -16px; }

tr.textfield-statusbar td.left { width:9px;height:31px;background:transparent url(../images/editor/chrome.png) no-repeat 0px -21px; }
tr.textfield-statusbar td.mid { height:9px;background:#000 url(../images/editor/chrome.png) repeat-x 0px -52px; }
tr.textfield-statusbar td.right { width:9px;height:31px;background:transparent url(../images/editor/chrome.png) no-repeat -9px -21px; }

/**********************************************************
  2.  Statusbar
***********************************************************/
#status-bar { width:auto;height:31px;background:none;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
#status-bar .mid { width:auto;height:31px;float:left; }

#tabs { float:left; }
#tabs a.button { height:27px;margin-left:1px;background:transparent url(../images/editor/tab-right.png) no-repeat right 0px;display:block;float:left;padding:0 8px 0 0;text-decoration:none;cursor:default; }
#tabs a.button span { display:block;background:transparent url(../images/editor/tab-left.png) no-repeat;color:#eee;line-height:27px;padding:0 0 0 8px; }
#tabs a.button:hover { background:transparent url(../images/editor/tab-right.png) no-repeat right -54px; }
#tabs a.button:hover span { background:transparent url(../images/editor/tab-left.png) no-repeat 0px -54px;color:#fff; }
#tabs a.button:active { outline:none; }
#tabs a.button:active span { color:#fff;padding:1px 0 0 8px; }
#tabs a.button-selected { height:27px;margin-left:1px;background:transparent url(../images/editor/tab-right.png) no-repeat right -27px;display:block;float:left;padding:0 8px 0 0;text-decoration:none;cursor:default; }
#tabs a.button-selected span { display:block;background:transparent url(../images/editor/tab-left.png) no-repeat 0px -27px;color:#eee;line-height:27px;padding:0 0 0 8px; }
#tabs a.button-selected:active { outline:none; }
#tabs img.icon { float:left;border:0;margin:5px 4px 0 0; }

#path-breadcrumbs { float:left;color:#fff;margin-top:4px;margin-bottom:-4px;width:480px; }
#path-breadcrumbs .path { float:left; }
#path-breadcrumbs .left { width:auto;height:24px;float:left;padding:0 8px 0 16px;line-height:23px;background:transparent url(../images/editor/breadcrumbs.png) no-repeat right bottom;cursor:default; }
#path-breadcrumbs .mid { float:left;width:auto;height:24px;background:transparent url(../images/editor/breadcrumbs.png) repeat-x 0px -24px;padding:0;max-width:436px !important;overflow:hidden; }
#path-breadcrumbs .mid a.button { height:21px;margin-top:1px;background-color:transparent;display:block;float:left;padding:0 3px 0 0;text-decoration:none;cursor:default; }
#path-breadcrumbs .mid a.button span { display:block;background-color:transparent;color:#eee;line-height:21px;padding:0 0 0 3px;line-height:21px; }
#path-breadcrumbs .mid a.button:hover { background:transparent url(../images/editor/path-right.png) no-repeat right -21px; }
#path-breadcrumbs .mid a.button:hover span { background:transparent url(../images/editor/path-left.png) no-repeat 0px -21px; }
#path-breadcrumbs .mid a.button:active { outline:none; }
#path-breadcrumbs .mid a.button:active span { color:#fff;padding:1px 0 0 3px; }
#path-breadcrumbs .mid a.button-selected { height:21px;margin-top:1px;background:transparent url(../images/editor/path-right.png) no-repeat right 0px;display:block;float:left;padding:0 3px 0 0;text-decoration:none;cursor:default; }
#path-breadcrumbs .mid a.button-selected span { display:block;background:transparent url(../images/editor/path-left.png) no-repeat;color:#fff;line-height:21px;padding:0 0 0 3px;line-height:21px; }
#path-breadcrumbs .mid a.button-selected:active { outline:none; }
#path-breadcrumbs .mid .separator { float:left;width:8px;height:21px;background:transparent url(../images/editor/breadcrumbs.png) no-repeat 0px -48px;margin:1px 0 -1px 0; }
#path-breadcrumbs .right { width:5px;height:24px;float:left;background:transparent url(../images/editor/breadcrumbs.png) no-repeat; }

#count { float:left;width:85px;font-size:9px;margin-top:5px;padding-left:6px;color:#fff;cursor:default;background:transparent url(../images/editor/breadcrumbs.png) no-repeat 0px -48px; }
#count .words,#count .chars { height:10px;line-height:10px; }
#count div.label { float:left;width:32px;padding-right:6px;text-align:right; }
#count div.value { float:left;width:45px;overflow:hidden; }

/**********************************************************
  3.  Various combobox, dropdown & menu styles
***********************************************************/
/*
  Common (shared) styles
  Image path: /images/menus/menu.png
*/
.menu,.bullets-menu,.simple { cursor:default;color:#666;background-color:transparent;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
.menu-header,.simple-header { width:190px;height:2px !important;background:transparent url(../images/menus/menu.png) no-repeat -380px 0;font-size:1px; }
.menu-footer,.simple-footer { width:190px;height:10px;background:transparent url(../images/menus/menu.png) no-repeat -380px -12px; }
.menu-content,.simple-content { width:190px;height:auto;background:transparent url(../images/menus/menu.png) repeat-y !important; }
.menu-item,.simple-item { width:190px;height:22px; }
.menu-item-hover,.simple-item-hover { width:190px;height:22px;color:#333;background:transparent url(../images/menus/menu.png) no-repeat -190px 0; }
.menu-icon { width:24px;height:22px;float:left;padding-right:16px; }

/*
  'Simple' menu - no dark grey left margin
  Image path: /images/menus/menu.png
*/
.simple-content { background:transparent url(../images/menus/menu.png) repeat-y -570px 0 !important; }
.simple-item { width:182px;padding-left:8px;line-height:22px; }
.simple-item-hover { background:transparent url(../images/menus/menu.png) no-repeat -760px 0; }



/*
  Font-size drop-down
  Image path: /images/menus/size.png
*/
.size-header { width:64px;height:2px;background:transparent url(../images/menus/size.png) no-repeat -128px 0;font-size:1px; }
.size-footer { width:64px;height:10px;background:transparent url(../images/menus/size.png) no-repeat -128px -12px; }
.size-content { width:64px;height:auto;background:transparent url(../images/menus/size.png) repeat-y; }
.size-item { width:64px;height:22px;background-color:transparent;text-align:left;padding-left:12px;line-height:22px; }
.size-item-hover { width:64px;height:22px;color:#333333;background:transparent url(../images/menus/size.png) no-repeat -64px 0;padding-left:12px;line-height:22px; }

/*
  Color-Picker menu
  Image path: /images/menus/color/
*/
.color-menu { width:176px;color:#666666;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
.swatch-title { width:176px;height:23px;line-height:23px;background:#e3e3e3 url(../images/menus/color.png) no-repeat -704px 0;cursor:default; }
.swatch-title-preset { width:176px;height:24px;line-height:24px;background:#e3e3e3 url(../images/menus/color.png) no-repeat -528px 0; }
.swatch-title span,.swatch-title-preset span { color:#666666;font-weight:bold;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px;padding-left:10px; }

.color-menu-item { width:176px;height:23px;padding-left:8px;line-height:23px;background:#f6f6f6 url(../images/menus/color.png) repeat-y -176px 0;cursor:default; }
.color-menu-item-hover { width:176px;height:23px;padding-left:8px;line-height:23px;background:#f6f6f6 url(../images/menus/color.png) no-repeat -352px 0;cursor:default; }
.color-menu-item img,.color-menu-item-hover img { vertical-align:middle; }
.color-menu-footer { width:176px;height:14px;background:transparent url(../images/menus/color.png) no-repeat -880px 0;cursor:default; }
.swatch-image { border:none;padding:0;margin:0; }
.preset-swatches { width:176px;height:92px;display:block;background:#f6f6f6 url(../images/menus/color-swatches.png) no-repeat; }
.standard-swatches { width:176px;height:21px;display:block;background:#f6f6f6 url(../images/menus/color-swatches.png) no-repeat 0 -92px; }
.custom-swatches { width:176px;height:21px;line-height:21px;cursor:default;padding-bottom:2px;background:#e3e3e3 url(../images/menus/color.png) repeat-y; }
.custom-swatches .swatches-container { margin-left:5px;padding-top:4px; }
.custom-swatches .swatch { width:13px;height:13px;float:left;margin-right:4px;background:transparent url(../images/menus/color-swatches.png) no-repeat -13px -113px; }
.custom-swatches .swatch img { background:transparent url(../images/menus/color-swatches.png) no-repeat 0 -113px; }
.color-menu img { display:block; }
.color-highlight,.color-selected { width:176px;height:206px;background:transparent url(../images/menus/color-highlight.png) no-repeat 5px 28px;z-index:9000;position:absolute;left:0px;top:0px; }



/*
  Insert Table menu
  Image path: /images/menus/insert-table.png
*/
.insert-table-menu { width:203px;height:189px;cursor:default; }
.inserttable-title { width:203px;height:24px;line-height:24px;background:transparent url(../images/menus/insert-table.png) no-repeat -203px 0;cursor:default; }
.inserttable-title span { color:#666666;font-weight:bold;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px;padding-left:10px; }
.insertinsert-table { width:203px;height:161px;position:relative;background:#f6f6f6 url(../images/menus/insert-table.png) repeat-y;margin:0; }
.inserttable-cells { width:190px;height:152px;background:transparent url(../images/menus/insert-table.png) repeat-y -406px 0;position:absolute;left:8px;top:7px;z-index:4455; }
.inserttable-cells-highlight { width:190px;height:152px;background:transparent url(../images/menus/insert-table.png) repeat-y -596px 0;position:absolute;left:8px;top:7px;z-index:4466;visibility:hidden; }
.inserttable-cells-events { width:190px;height:152px;position:absolute;left:8px;top:7px;background-color:transparent;z-index:4477; }
.insert-table-footer { width:203px;height:4px;font-size:11px;line-height:14px;background:transparent url(../images/menus/insert-table.png) no-repeat -203px -34px; }

/*
  Insert Symbol menu
  Image path: /images/menus/insert-symbol.png
*/
.symbol-menu { width:160px;border:0;padding:0;margin:0; }
.symbol-footer { width:160px;height:4px;font-size:11px;line-height:14px;background:transparent url(../images/menus/insert-symbol.png) no-repeat -190px -26px; }
.insertsymbol { width:150px;padding:2px 5px 2px 5px;background:transparent url(../images/menus/insert-symbol.png) repeat-y; }
.symboltitle { width:160px;height:24px;line-height:24px;background:transparent url(../images/menus/insert-symbol.png) no-repeat -190px 0;cursor:default; }
.symboltitle span { color:#666666;font-weight:bold;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px;padding-left:10px; }
.symbol-row { width:150px;height:30px;line-height:30px;padding:0;margin:0; }
.symbol-row a { color:#666666;font-weight:bold;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold;display:block;float:left;cursor:default;width:30px;height:30px;text-align:center;padding:0;margin:0;text-decoration:none; }
.symbol-row a:hover { color:#000000;background:transparent url(../images/menus/insert-symbol.png) no-repeat -160px 0;text-decoration:none; }

/*
  Style menu
  Image path: /images/menus/style.png
*/
.style-item { width:190px;height:34px;line-height:34px;background-color:transparent; }
.style-item-hover { width:190px;height:34px;line-height:34px;color:#333333;background:transparent url(../images/menus/style.png) no-repeat; }
.style-break { width:190px;height:4px;background:transparent url(../images/menus/style.png) no-repeat 0 -34px; }

/*
  Alignment image dialog menu
  Image path: /images/menus/alignment.png
*/
.alignment-header { width:266px;height:2px;background:transparent url(../images/menus/alignment.png) no-repeat -532px 0;font-size:1px; }
.alignment-footer { width:266px;height:18px;background:transparent url(../images/menus/alignment.png) no-repeat -532px -12px; }
.alignment-content { width:266px;height:auto;background:transparent url(../images/menus/alignment.png) repeat-y; }
.alignment-item { width:266px;height:22px;background-color:transparent;text-align:left;padding-left:40px;line-height:22px; }
.alignment-item-hover { width:266px;height:22px;color:#333333;background:transparent url(../images/menus/alignment.png) no-repeat -266px 0;padding-left:40px;line-height:22px; }

/*
  Undo / Redo styles
*/
.undo-list { width:190px;height:198px;background-color:transparent; }
.undo-list .list { height:156px;overflow-x:hidden;overflow:auto;background:#f6f6f6 url(../images/menus/menu.png) repeat-y; }
.undo-list a,.undo-list a.hover { display:block;height:22px;line-height:22px;text-decoration:none;color:#666;cursor:default;padding:0 0 0 40px;margin:0; }
.undo-list a:hover { color:#000;background:#f6f6f6 url(../images/menus/menu.png) no-repeat -190px 0; }
.undo-list a:active { outline:none; }
.undo-list a.selected { display:block;height:22px;line-height:22px;text-decoration:none;color:#666;padding:0 0 0 40px;background:#f6f6f6 url(../images/menus/undo.png) no-repeat; }
.undo-list a.selected:hover { background-color:#e0e0e0; }
.undo-list span { line-height:25px;display:block;padding-left:10px;background:#e3e3e3 url(../images/menus/undo.png) no-repeat -190px 0;color:#666;font-weight:bold;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
.undo-footer { width:190px;height:10px;background:transparent url(../images/menus/undo.png) no-repeat -380px 0; }

/*
  Bullets & Numbering (menu styles)
  Image path: /images/menus/bullets/
*/
.bullets-item       {padding-left:10px;padding-top:3px;padding-bottom:3px;padding-right:5px;margin:1px;cursor:default;border:none;}
.bullets-item-hover {padding-left:10px;padding-top:3px;padding-bottom:3px;padding-right:5px;margin:0px;background:transparent url(../images/menus/bullets/bullets-bg.png) center center;border:solid 1px #CCCCCC;}
.bullets-item ol, .bullets-item ul, .bullets-item-hover ol, .bullets-item-hover ul {margin-left:10px;margin-bottom:0px;margin-top:0px;padding-left:5px;}
.bullets-break {width:170px;height:4px;background:transparent url(../images/menus/bullets.png) no-repeat -342px -6px; }
.bullets-header {display:block;width:170px;height:2px;background:transparent url(../images/menus/bullets.png) no-repeat -340px 0;margin:0;padding:0;}
.bullets-footer {display:block;width:170px;height:4px;background:transparent url(../images/menus/bullets.png) no-repeat -340px -2px;margin:0;padding:0;}
.bullets-menu {width:170px;padding:0;margin:0;background:#F6F6F6;border:1px solid #CCCCCC;color:black;}

/*
  Bullets & Numbering (editor styles)
*/
ol.ol1 li {list-style-type: decimal;} ol.ol1 ol li {list-style-type: upper-roman;} ol.ol1 ol ol li {list-style-type: lower-roman;}
ol.ol2 li {list-style-type: upper-alpha;} ol.ol2 ol li {list-style-type: lower-alpha;}
ol.ol3 li {list-style-type: decimal;} ol.ol3 ol li {list-style-type: upper-alpha;} ol.ol3 ol ol li {list-style-type: lower-alpha;} ol.ol3 ol ol ol li {list-style-type: upper-roman;} ol.ol3 ol ol ol ol li {list-style-type: lower-roman;}
ol.ol4 li {list-style-type: decimal;} ol.ol4 ol li {list-style-type: upper-roman;} ol.ol4 ol ol li {list-style-type: lower-roman;} ol.ol4 ol ol ol li {list-style-type: upper-alpha;} ol.ol4 ol ol ol ol li {list-style-type: lower-alpha;}
ol.ol5 li {list-style-type: upper-roman;} ol.ol5 ol li {list-style-type: lower-roman;} ol.ol5 ol ol li {list-style-type: decimal;}
ul.ul1 li {list-style-type: disc;} ul.ul1 ul li {list-style-type: square;} ul.ul1 ul ul li {list-style-type: circle;}
ul.ul2 li {list-style-type: square;} ul.ul2 ul li {list-style-type: disc;} ul.ul2 ul ul li {list-style-type: circle;}
ul.ul3 li {list-style-type: circle;} ul.ul3 ul li {list-style-type: disc;} ul.ul3 ul ul li {list-style-type: square;}

/**********************************************************
  4.  Toolbar & toolbar item styles
***********************************************************/
/*
  Assorted toolbar styles
*/
.toolbar { background-image:url(../images/toolbar/_background.png); }
.grip { background-image:url(../images/toolbar/_grip.png);background-color:#6e6e6e; }
.grip-bottom { background-image:url(../images/toolbar/_grip.png);background-color:#000; }

/*
  Combobox item styles
*/
.toolbar-font-face,.toolbar-font-size { padding-left:2px;padding-right:4px; }
.toolbar-style { padding-left:4px;padding-right:4px; }

/* Generic combobox */
.combobox { font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:8px;padding-left:4px;border:1px solid #000;background-color:#fff; }
.combobox-hover { font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:8px;padding-left:4px;border:1px solid #000;background-color:#fff; }
.combobox-textfield { font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;height:12px;font-size:11px;background-color:#fff;border:none;cursor:default !important;text-align:left !important; }

/*
  Standard toolbar item states
*/
.item { width:23px;height:23px;background-position:0px 2px;background-repeat:no-repeat; }
.item-hover { width:23px;height:23px;background-position:-23px 2px;background-repeat:no-repeat; }
.item-active { width:23px;height:23px;background-position:-46px 2px;background-repeat:no-repeat; }
.item-checked { width:23px;height:23px;background-position:-69px 2px;background-repeat:no-repeat; }
.item-checked-hover { width:23px;height:23px;background-position:-92px 2px;background-repeat:no-repeat; }
.item-checked-active { width:23px;height:23px;background-position:-115px 2px;background-repeat:no-repeat; }
.item-disabled { width:23px;height:23px;background-position:-138px 2px;background-repeat:no-repeat; }
.item-disabled-checked { width:23px;height:23px;background-position:-161px 2px;background-repeat:no-repeat; }
.item-expanded { width:23px;height:23px;background-position:-184px 2px;background-repeat:no-repeat; }

/*
  Dropdown toolbar items states (insert table, insert symbol, etc.)
  Note: These should not be confused with split buttons -- these items have the dropdown arrow icon baked into the background image.
*/
.drop { width:32px;height:23px;background-position:0px 2px;background-repeat:no-repeat; }
.drop-hover { width:32px;height:23px;background-position:-32px 2px;background-repeat:no-repeat; }
.drop-active { width:32px;height:23px;background-position:-64px 2px;background-repeat:no-repeat; }
.drop-checked { width:32px;height:23px;background-position:-96px 2px;background-repeat:no-repeat; }
.drop-checked-hover { width:32px;height:23px;background-position:-128px 2px;background-repeat:no-repeat; }
.drop-checked-active { width:32px;height:23px;background-position:-160px 2px;background-repeat:no-repeat; }
.drop-disabled { width:32px;height:23px;background-position:-192px 2px;background-repeat:no-repeat; }
.drop-disabled-checked { width:32px;height:23px;background-position:-224px 2px;background-repeat:no-repeat; }
.drop-expanded { width:32px;height:23px;background-position:-256px 2px;background-repeat:no-repeat; }

/*
  Split-button dropdown states (the downwards-pointing arrow graphic)
*/
.item .ca_tb_ddn { width:12px;height:23px;background:transparent url(../images/toolbar/_dropdown.png) no-repeat 0px 1px; }
.item-hover .ca_tb_ddn { width:12px;height:23px;background:transparent url(../images/toolbar/_dropdown.png) no-repeat -12px 1px; }
.item-active .ca_tb_ddn { width:12px;height:23px;background:transparent url(../images/toolbar/_dropdown.png) no-repeat -24px 1px; }
.item-checked .ca_tb_ddn { width:12px;height:23px;background:transparent url(../images/toolbar/_dropdown.png) no-repeat 0px 1px; }
.item-checked-hover .ca_tb_ddn { width:12px;height:23px;background:transparent url(../images/toolbar/_dropdown.png) no-repeat -12px 1px; }
.item-checked-active .ca_tb_ddn { width:12px;height:23px;background:transparent url(../images/toolbar/_dropdown.png) no-repeat -24px 1px; }
.item-disabled .ca_tb_ddn { width:12px;height:23px;background:transparent url(../images/toolbar/_dropdown.png) no-repeat -36px 1px; }
.item-disabled-checked .ca_tb_ddn { width:12px;height:23px;background:transparent url(../images/toolbar/_dropdown.png) no-repeat -36px 1px; }
.item-expanded .ca_tb_ddn { width:12px;height:23px;background:transparent url(../images/toolbar/_dropdown.png) no-repeat -48px 1px; }

/*
  Toolbar items
*/
/*  Required to change the 'colour indicator' part of the item  */
.font-color .ca_tb_img img { background-color:#ff5010; }
.bg-color .ca_tb_img img { background-color:#dd0; }

.bold { background-image:url(../images/toolbar/bold.png); }
.italic { background-image:url(../images/toolbar/italic.png); }
.underline { background-image:url(../images/toolbar/underline.png); }
.strikethrough { background-image:url(../images/toolbar/strikethrough.png); }
.left { background-image:url(../images/toolbar/left.png); }
.center { background-image:url(../images/toolbar/center.png); }
.right { background-image:url(../images/toolbar/right.png); }
.justify { background-image:url(../images/toolbar/justify.png); }

.numbering { background-image:url(../images/toolbar/numbering.png); }
.bullets { background-image:url(../images/toolbar/bullets.png); }
.decrease-indent { background-image:url(../images/toolbar/decrease-indent.png); }
.increase-indent { background-image:url(../images/toolbar/increase-indent.png); }
.hr { background-image:url(../images/toolbar/hr.png); }

.hyperlink { background-image:url(../images/toolbar/hyperlink.png); }
.remove-link { background-image:url(../images/toolbar/remove-link.png); }
.media { background-image:url(../images/toolbar/media.png); }
.imagemanager { background-image:url(../images/toolbar/image-manager.png); }

.split-cell-v { background-image:url(../images/toolbar/split-cell-v.png); }
.split-cell-h { background-image:url(../images/toolbar/split-cell-h.png); }
.merge-cells-right { background-image:url(../images/toolbar/merge-cells-right.png); }
.merge-cells-down { background-image:url(../images/toolbar/merge-cells-down.png); }
.insert-row-below { background-image:url(../images/toolbar/insert-row-below.png); }
.insert-row-above { background-image:url(../images/toolbar/insert-row-above.png); }
.insert-col-right { background-image:url(../images/toolbar/insert-col-right.png); }
.insert-col-left { background-image:url(../images/toolbar/insert-col-left.png); }
.delete-row { background-image:url(../images/toolbar/delete-row.png); }
.delete-col { background-image:url(../images/toolbar/delete-col.png); }
.delete-cell { background-image:url(../images/toolbar/delete-cell.png); }

.form { background-image:url(../images/toolbar/form.png); }
.form-textbox { background-image:url(../images/toolbar/form-textbox.png); }
.form-textarea { background-image:url(../images/toolbar/form-textarea.png); }
.form-submit { background-image:url(../images/toolbar/form-submit.png); }
.form-reset { background-image:url(../images/toolbar/form-reset.png); }
.form-radio { background-image:url(../images/toolbar/form-radio.png); }
.form-password { background-image:url(../images/toolbar/form-password.png); }
.form-hidden { background-image:url(../images/toolbar/form-hidden.png); }
.form-select { background-image:url(../images/toolbar/form-select.png); }
.form-checkbox { background-image:url(../images/toolbar/form-checkbox.png); }
.form-button { background-image:url(../images/toolbar/form-button.png); }

.insert-table { background-image:url(../images/toolbar/insert-table.png); }
.insert-symbol { background-image:url(../images/toolbar/insert-symbol.png); }

.undo { background-image:url(../images/toolbar/undo.png); }
.redo { background-image:url(../images/toolbar/redo.png); }

.copy { background-image:url(../images/toolbar/copy.png); }
.cut { background-image:url(../images/toolbar/cut.png); }
.paste { background-image:url(../images/toolbar/paste.png); }
.word-paste { background-image:url(../images/toolbar/word-paste.png); }
.print { background-image:url(../images/toolbar/print.png); }
.spellcheck { background-image:url(../images/toolbar/spellcheck.png); }

.save { background-image:url(../images/toolbar/save.png); }
.new { background-image:url(../images/toolbar/new.png); }


/*  Options item -- non-standard dimensions  */
.options { width:15px;height:25px;background:#6e6e6e url(../images/toolbar/options.png) no-repeat 0px 0px; }
.options-hover { width:15px;height:25px;background:#6e6e6e url(../images/toolbar/options.png) no-repeat -15px 0px; }
.options-down { width:15px;height:25px;background:#6e6e6e url(../images/toolbar/options.png) no-repeat -30px 0px; }

.options-bottom { width:15px;height:25px;background:#000 url(../images/toolbar/options.png) no-repeat 0px 0px; }
.options-bottom-hover { width:15px;height:25px;background:#000 url(../images/toolbar/options.png) no-repeat -15px 0px; }
.options-bottom-down { width:15px;height:25px;background:#000 url(../images/toolbar/options.png) no-repeat -30px 0px; }


/**********************************************************
  5.  Dialogue box styles
***********************************************************/
.float-left { float:left !important; }
.float-right { float:right !important; }
.float-none { float:none !important; }

.dlg-content .mid .row { clear:left; }
.dlg-content .mid .top { margin-top:2px; }
.dlg-content .mid span.label,.dlg-content .mid span.label-narrow  { cursor:default;float:left;display:block;line-height:24px;height:24px;text-align:right;padding-right:8px;margin:0; }

.draggable { cursor:move !important; }
.hidden { visibility:hidden; }

.dlg-title { height:34px; }
.dlg-title .left { width:9px;height:34px;background:transparent url(../images/dialog/chrome.png) no-repeat 0 0;float:left; }
.dlg-title .mid { height:34px;background:transparent url(../images/dialog/chrome.png) repeat-x 0 -34px;float:left; }
.dlg-title .mid span { cursor:inherit;margin-left:4px;line-height:28px;color:#fff;font-weight:bold;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
.dlg-title .right { width:9px;height:34px;background:transparent url(../images/dialog/chrome.png) no-repeat -9px 0;float:left; }
.dlg-title a.close { margin-top:4px;display:block;float:right;width:23px;height:21px;background:transparent url(../images/dialog/buttons.png) no-repeat -140px 0; cursor:default; }
.dlg-title a.close:hover { background-position:-163px 0; }
.dlg-title a.close:active { background-position:-186px 0;outline:none; }

.dlg-title .tabs-left { background-position:0 -142px; }
.dlg-title .tabs-mid { background-position:0 -176px; }
.dlg-title .tabs-right { background-position:-9px -142px; }


/* Tabbed dialogue */
.dlg-tabstrip .left { float:left;width:9px;height:29px;background:#eee url(../images/dialog/chrome.png) no-repeat 0 -210px; }
.dlg-tabstrip .right { float:left;width:9px;height:29px;background:#eee url(../images/dialog/chrome.png) no-repeat -9px -210px; }
.dlg-tabstrip .tabs { float:left;height:29px;background:#eee url(../images/dialog/tabs.png) repeat-x 0 -29px;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
.dlg-tabstrip .tabs { float:left;height:29px;background:#eee url(../images/dialog/tabs.png) repeat-x 0 -29px;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
.dlg-tabstrip .tabs a { width:79px;height:29px;color:#666;cursor:default;display:block;float:left;text-decoration:none;line-height:29px;margin:0;padding:0; }
.dlg-tabstrip .tabs a.tab { background:transparent url(../images/dialog/tabs.png) no-repeat; }
.dlg-tabstrip .tabs a.tab:hover { color:#444;background-position:-79px 0; }
.dlg-tabstrip .tabs a.tab:active { color:#444;background-position:-158px 0;outline:none;padding-top:1px;height:28px; }
.dlg-tabstrip .tabs a.tab-selected { cursor:default;display:block;float:left;width:79px;height:29px;color:#000;background:transparent url(../images/dialog/tabs.png) no-repeat -237px 0; }
.dlg-tabstrip .tabs a.tab-selected:active { outline:none; }
.dlg-tabstrip .tabs a span { display:block;float:left;margin:7px 0 0 10px;padding-left:20px;line-height:16px;background-repeat:no-repeat;background-color:transparent;_margin-left:6px; } /* that last identifier is IE6-specific */

a.preview-url { cursor:default;display:block;float:left;width:18px;height:18px;background:#fff url(../images/dialog/buttons.png) -210px 0;margin:4px 0 0 1px; }
a.preview-url:hover { background-position:-228px 0; }
a.preview-url:active { background-position:-210px -18px;outline:none; }
a.preview-url-disabled { cursor:default;display:block;float:left;width:18px;height:18px;background:#fff url(../images/dialog/buttons.png) -228px -18px;margin:4px 0 0 1px; }


.dlg-content .left { width:9px;background:transparent url(../images/editor/textfield.png) repeat-y;float:left; }
.dlg-content .mid { background-color:#fff;float:left;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
.dlg-content .right { width:9px;background:transparent url(../images/editor/textfield.png) repeat-y -9px 0;float:left; }
.dlg-content input { margin-top:4px;padding-bottom:2px;padding-left:2px;border:1px solid #ccc;border-right-color:#abacac;border-bottom-color:#abacac;background-color:#fff;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#000;float:left; }

.dlg-content a:active { outline:none; }
.dlg-content a.checkbox { cursor:default;text-decoration:none;color:#000;float:left;height:24px;line-height:24px;display:block;background:#fff url(../images/dialog/widgets.png) no-repeat;padding-left:18px; }
.dlg-content a.checkbox-selected { cursor:default;text-decoration:none;color:#000;float:left;height:24px;line-height:24px;display:block;background:#fff url(../images/dialog/widgets.png) no-repeat 0 -24px;padding-left:18px; }
.dlg-content a.radio { cursor:default;text-decoration:none;color:#000;float:left;height:24px;line-height:24px;display:block;background:#fff url(../images/dialog/widgets.png) no-repeat 0 -48px;padding-left:16px;margin-right:8px; }
.dlg-content a.radio-selected { cursor:default;text-decoration:none;color:#000;float:left;height:24px;line-height:24px;display:block;background:#fff url(../images/dialog/widgets.png) no-repeat 0 -72px;padding-left:16px;margin-right:8px; }

.dlg-buttons { height:37px;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
.dlg-buttons .left { width:9px;height:37px;background:transparent url(../images/dialog/chrome.png) no-repeat 0 -68px;float:left; }
.dlg-buttons .mid { height:37px;background:transparent url(../images/dialog/chrome.png) repeat-x 0 -105px;float:left; }
.dlg-buttons .right { width:9px;height:37px;background:transparent url(../images/dialog/chrome.png) no-repeat -9px -68px;float:left; }

/* Assorted Dialog buttons */
a.button-70 { margin-top:4px;width:70px;height:25px;background:transparent url(../images/dialog/buttons.png) no-repeat;display:block;padding:0;text-decoration:none;cursor:default; }
a.button-70 span { width:70px;text-align:center;display:block;background-color:transparent;color:#333;line-height:25px;padding:0; }
a.button-70:hover { background-position:-70px 0; }
a.button-70:hover span { color:#000; }
a.button-70:active { outline:none; }
a.button-70:active span { padding-top:1px; }

a.button-105 { margin-top:4px;width:105px;height:25px;background:transparent url(../images/dialog/buttons.png) no-repeat 0 -25px;display:block;padding:0;text-decoration:none;cursor:default; }
a.button-105 span { width:105px;text-align:center;display:block;background-color:transparent;color:#333;line-height:25px;padding:0; }
a.button-105:hover { background-position:-105px -25px; }
a.button-105:hover span { color:#000; }
a.button-105:active { outline:none; }
a.button-105:active span { padding-top:1px; }

a.first { margin-right:4px; }



/* Spellcheck dialog */
.dlg-spell span.error { color:#ff0000;font-weight:bold; }

.dlg-spell .dlg-title .mid { width:438px; }
.dlg-spell .dlg-content .left { height:236px; }
.dlg-spell .dlg-content .mid { width:438px;height:236px; }

.dlg-spell .dlg-content .mid .highlight { width:434px;height:103px;padding:6px 0 0 4px; }
.dlg-spell .dlg-content .mid .highlight div.label { line-height:14px;cursor:default; }
.dlg-spell .dlg-content .mid .highlight .text,.dlg-spell .dlg-content .mid .suggest .wordlist { margin:4px 0 0 0;width:316px;height:77px;float:left;border:1px solid #ccc;border-right-color:#abacac;border-bottom-color:#abacac;overflow:auto;line-height:14px;padding:2px 0 2px 4px;cursor:default; }

.dlg-spell .dlg-content .mid .suggest { padding:6px 0 0 4px; }
.dlg-spell .dlg-content .mid .suggest .wordlist { padding:0;width:320px;height:70px;overflow-x:hidden; }
.dlg-spell .dlg-content .mid .suggest .wordlist a { display:block;width:320px;height:16px;line-height:16px;text-decoration:none;color:#000;cursor:default;padding:0 0 0 4px; }
.dlg-spell .dlg-content .mid .suggest .wordlist a:hover { background-color:#eee; }
.dlg-spell .dlg-content .mid .suggest .wordlist a:active { background-color:#e0e0e0; }
.dlg-spell .dlg-content .mid .suggest .wordlist a.selected { display:block;width:100%;height:16px;line-height:16px;text-decoration:none;background-color:#e0e0e0; }
.dlg-spell .dlg-content .mid .suggest .wordlist a.selected:hover { background-color:#e0e0e0; }
.dlg-spell .dlg-content .mid .suggest .change-to { padding:6px 0 0 0;line-height:14px;cursor:default;clear:both; }
.dlg-spell .dlg-content .mid .suggest input { width:256px; }

.dlg-spell .dlg-content .right { height:236px; }
.dlg-spell .dlg-buttons .mid { width:438px; }
.dlg-spell .SpellError { color:#ff0000;font-weight:bold; }









/* Media dialog */
.dlg-media .dlg-title .left { background-position:0 -142px; }
.dlg-media .dlg-title .mid { background-position:0 -176px; }
.dlg-media .dlg-title .right { background-position:-9px -142px; }
.dlg-media .dlg-title .mid,.dlg-media .dlg-buttons .mid,.dlg-media .tabs  { width:582px; }

.dlg-media .tabs a span.image { background-image:url(../images/dialog/icon-image.png); }
.dlg-media .tabs a span.flash { background-image:url(../images/dialog/icon-flash.png); }
.dlg-media .tabs a span.video { background-image:url(../images/dialog/icon-video.png); }

.dlg-media .dlg-content .left,.dlg-media .dlg-content .right { height:223px; }
.dlg-media .dlg-content .mid { width:582px;height:216px; }

.dlg-media .dlg-content div.image,.dlg-media .dlg-content div.flash,.dlg-media .dlg-content div.video { height:216px !important; }

.dlg-media .dlg-content .mid .top { margin-top:11px !important; }
.dlg-media .dlg-content .mid .row { margin-top:0;height:24px; }
.dlg-media .dlg-content .mid span.label { width:100px; }
.dlg-media .dlg-content .mid span.label-narrow { width:48px; }
.dlg-media .dlg-content .mid input { width:260px; }
.dlg-media .dlg-content .mid input.image-url { width:241px; }
.dlg-media .dlg-content .mid input.image-width,.dlg-media .dlg-content .mid input.image-height,.dlg-media .dlg-content .mid input.image-alignment,.dlg-media .dlg-content .mid input.image-border { width:100px; }
.dlg-media .dlg-content .mid input.image-hspace,.dlg-media .dlg-content .mid input.image-vspace { width:74px; }

.dlg-media .dlg-content div.hr { width:360px;height:1px;background:#eee none;clear:both;margin:12px 11px 13px 11px; }

.dlg-media .image-preview { color:#999;width:173px;height:186px;float:left;margin:15px 0 0 20px;border:1px solid #abacac;text-align:center;line-height:175px;background:#eee url(../images/dialog/preview.png) repeat;cursor:default;position:relative; }
.dlg-media .image-preview .status,.dlg-media .image-preview .thumbnail { width:100%;height:100%;background:none;position:absolute;left:0;top:0; }
.dlg-media .image-preview .loading { background:transparent url(../images/dialog/loading.gif) no-repeat 50% 50%; }
.dlg-media .error { font-size:11px;color:#d00;font-weight:bold; }


/* Hyperlink */
.dlg-link .dlg-title .left { background-position:0 -142px; }
.dlg-link .dlg-title .mid { background-position:0 -176px; }
.dlg-link .dlg-title .right { background-position:-9px -142px; }
.dlg-link .dlg-title .mid,.dlg-link .dlg-buttons .mid,.dlg-link .tabs { width:424px; }

.dlg-link .tabs a span.link { background-image:url(../images/dialog/icon-link.png); }
.dlg-link .tabs a span.anchor { background-image:url(../images/dialog/icon-anchor.png); }
.dlg-link .tabs a span.email { background-image:url(../images/dialog/icon-email.png); }

.dlg-link .dlg-content .left,.dlg-link .dlg-content .right { height:300px; }
.dlg-link .dlg-content .mid { width:424px;height:300px; }
.dlg-link .dlg-content .mid .top { margin-top:14px !important; }
.dlg-link .dlg-content .mid .row { margin-top:0;height:24px; }
.dlg-link .dlg-content .mid span.label { width:62px; }
.dlg-link .dlg-content .mid span.label-narrow { width:46px; }
.dlg-link .dlg-content .mid input { width:185px; }
.dlg-link .dlg-content .mid input.link-url { width:316px; }
.dlg-link .dlg-content .mid input.link-text,.dlg-link .dlg-content .mid input.link-tooltip { width:160px; }
.dlg-link .dlg-content .mid input.link-target,.dlg-link .dlg-content .mid input.link-anchor,.dlg-link .dlg-content .mid input.link-type { width:117px; }
.dlg-link .dlg-content .mid input.link-type-other { margin-left:10px;width:204px; }
.dlg-link .dlg-content .mid input.anchor-name,.dlg-link .dlg-content .mid input.anchor-text,.dlg-link .dlg-content .mid input.email-address,.dlg-link .dlg-content .mid input.email-subject,.dlg-link .dlg-content .mid input.email-text { width:335px; }

.dlg-link .dlg-content div.link-basic { height:78px !important;overflow:hidden; }
.dlg-link .dlg-content div.hr { width:402px;height:1px;background:#eee none;clear:both;margin:16px 11px; }
.dlg-link .dlg-content div.link-advanced { height:174px !important;overflow:visible !important; }
.dlg-link .dlg-content div.anchor { height:78px !important; }
.dlg-link .dlg-content div.email { height:102px !important; }


/* Find */
.dlg-find .dlg-title .left { background-position:0 -142px; }
.dlg-find .dlg-title .mid { background-position:0 -176px; }
.dlg-find .dlg-title .right { background-position:-9px -142px; }
.dlg-find .dlg-title .mid,.dlg-find .dlg-buttons .mid,.dlg-find .tabs { width:412px; }

.dlg-find .tabs a span.find { background-image:url(../images/dialog/icon-find.png); }
.dlg-find .tabs a span.replace { background-image:url(../images/dialog/icon-replace.png); }

.dlg-find .dlg-content .left,.dlg-find .dlg-content .right { height:100px; }
.dlg-find .dlg-content .mid { width:412px !important;height:100px; }
.dlg-find .dlg-content .mid .top { margin-top:11px !important; }
.dlg-find .dlg-content .mid .row { margin-top:0;height:24px; }
.dlg-find .dlg-content .mid .widgets {  margin:0 0 0 91px; }
.dlg-find .dlg-content .mid span.label { width:83px; }
.dlg-find .dlg-content .mid input { width:230px; }

.dlg-find .dlg-content .mid .fields { float:left;width:342px; }
.dlg-find .dlg-content .mid .btns { float:left;width:70px;margin-top:7px; }
.dlg-find .dlg-content div.find { height:110px !important; }
.dlg-find .dlg-content div.replace { height:134px !important; }

.find-replace { background-image:url(../images/toolbar/find.png); }



/* Assorted styles */
.dlg-content input.disabled { background-color:#fafafa;border:1px solid #e6e6e6;color:#bbb; }

.dlg-content span.combo { display:block;float:left;margin-top:4px; }
.dlg-combobox { padding-left:4px;background-color:#fff;border:1px solid #ccc;border-right-color:#abacac;border-bottom-color:#abacac; }
input.dlg-textfield { background:#fff none;border:none;margin:0;padding:0; }

.default-cursor { cursor:default; }

#hyperlink-options span.advanced,#hyperlink-options span.basic { width:15px;text-align:left;background:transparent url(../images/dialog/options.png) no-repeat;margin-left:6px;padding-left:8px; }
#hyperlink-options span.basic { background-position:0 -25px;margin-left:16px; }
#hyperlink-options:active span.advanced,#hyperlink-options:active span.basic { margin-top:1px;line-height:23px; }


/* Image Manager */

.dlg-img { width:680px;height:451px; }

/* Dialogue titlebar */
.ttl { width:100%;height:40px;cursor:move; }
  .ttl a { margin-top:4px;display:block;float:right;width:35px;height:25px;background:transparent url("../images/dialog/static.png") no-repeat -18px 0;cursor:default; }
  .ttl a:hover { background-position:-18px -25px; }
  .ttl a:active { background-position:-18px -50px;outline:none; }

  .ttlt { width:100%;height:32px; }
    .ttlt-l { width:9px;height:100%;background:transparent url("../images/dialog/static.png") no-repeat;float:left; }
    .ttlt-m { height:100%;background:#000 url("../images/dialog/horizontal.png") repeat-x;float:left; }
    .ttlt-r { width:9px;height:100%;background:transparent url("../images/dialog/static.png") no-repeat -9px 0;float:left; }
  .ttlt span { cursor:inherit;margin-left:4px;line-height:32px;color:#fff;font-weight:bold;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }

  .ttlb { width:100%;height:8px;overflow:hidden; } /*** overflow:hidden to prevent IE6 from rendering the div at the current font height ***/
    .ttlb-l { width:9px;height:100%;background:#000 url("../images/dialog/static.png") no-repeat 0 -38px;float:left; }
    .ttlb-m { height:100%;background:#fff url("../images/dialog/horizontal.png") repeat-x 0 -38px;float:left; }
    .ttlb-r { width:9px;height:100%;background:#000 url("../images/dialog/static.png") no-repeat -9px -38px;float:left; }

    /* Tabbed dialogue titlebar bottom elements */
    .tabbed .ttlb-l { background-position:0 -46px; }
    .tabbed .ttlb-m { background-position:0 -46px; }
    .tabbed .ttlb-r { background-position:-9px -46px; }

/* 'Tabstrip' styles */
.ts { width:100%;height:29px;background-color:#eee;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
  .ts-l { float:left;width:9px;height:29px;background:#000 url("../images/dialog/static.png") no-repeat 0 -54px; }
  .ts-m { float:left;height:29px;background:#eee url("../images/dialog/horizontal.png") repeat-x 0 -54px; }
  .ts-r { float:left;width:9px;height:29px;background:#000 url("../images/dialog/static.png") no-repeat -9px -54px; }

  /* Tabs */
  .ts a { height:29px;color:#666;cursor:default;display:block;float:left;text-decoration:none;line-height:29px;margin:0;padding:0; }
  .ts a h4 { display:inline;font-weight:normal;font-size:11px; }
  .ts a.tab { }
    .ts a.tab span.l { display:block;float:left;width:10px;height:100%;background:transparent url("../images/dialog/static.png") no-repeat 0 -120px;padding:0;margin:0; }
    .ts a.tab span.m { display:block;float:left;height:100%;line-height:29px;background:transparent url("../images/dialog/horizontal.png") repeat-x 0 -204px;padding:0;margin:0; }
    .ts a.tab span.r { display:block;float:left;width:10px;height:100%;background:transparent url("../images/dialog/static.png") no-repeat -10px -120px;padding:0;margin:0; }

  .ts a.tab:hover { color:#444; }
    .ts a.tab:hover span.l { background-position:0 -149px; }
    .ts a.tab:hover span.m { background-position:0 -233px; }
    .ts a.tab:hover span.r { background-position:-10px -149px; }

  .ts a.tab:active { color:#444;outline:none; }
    .ts a.tab:active span.l { background-position:0 -207px; }
    .ts a.tab:active span.m { background-position:0 -291px;padding:1px 0 0 0; }
    .ts a.tab:active span.r { background-position:-10px -207px; }

  .ts a.tab-sel { color:#000; }
    .ts a.tab-sel span.l { display:block;float:left;width:10px;height:100%;background:transparent url("../images/dialog/static.png") no-repeat 0 -178px;padding:0;margin:0; }
    .ts a.tab-sel span.m { display:block;float:left;height:100%;line-height:29px;background:transparent url("../images/dialog/horizontal.png") repeat-x 0 -262px;padding:0;margin:0; }
    .ts a.tab-sel span.r { display:block;float:left;width:10px;height:100%;background:transparent url("../images/dialog/static.png") no-repeat -10px -178px;padding:0;margin:0; }

  .ts a.tab-sel:active { outline:none; }

  /* Tab icons */
  .ts img.icon { width:16px;height:16px;float:left;border:0;margin:7px 4px 0 0;background:transparent url("../images/dialog/static.png") no-repeat;display:inline; }  /* that last identifier is IE6-specific */
  .ts img.browse { background-position:0 -237px; }
  .ts img.props { background-position:0 -253px; }
  .ts img.upload { background-position:0 -269px; }


/* Dialogue contents */
.con { width:100%;background:#fff url("../images/dialog/vertical.png") repeat-y;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
  .con .con-m { width:640px;height:315px;padding:15px 20px; }

/* Dialogue footer */
.ftr { width:100%;height:37px;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
  .ftr-l { width:9px;height:100%;background:transparent url("../images/dialog/static.png") no-repeat 0 -83px;float:left; }
  .ftr-m { height:100%;background:#eee url("../images/dialog/horizontal.png") repeat-x 0 -83px;float:left; }
  .ftr-r { width:9px;height:100%;background:transparent url("../images/dialog/static.png") no-repeat -9px -83px;float:left; }

  /* Footer buttons */
  .ftr .btns { float:right;margin-top:4px; }
  .ftr .btns-l { float:left;margin-top:4px; }
  .ftr a { text-decoration:none;color:#333;cursor:default !important; }
  .ftr a span.l { display:block;float:left;width:10px;height:25px;background:transparent url("../images/dialog/static.png") no-repeat -93px 0;margin-left:2px; }
  .ftr a span.m { display:block;float:left;padding:0;height:25px;line-height:25px;background:transparent url("../images/dialog/horizontal.png") repeat-x 0 -120px; }
  .ftr a span.r { display:block;float:left;width:10px;height:25px;background:transparent url("../images/dialog/static.png") no-repeat -103px 0; }
  .ftr a:hover { text-decoration:none;color:#000; }
  .ftr a:hover span.l { background-position: -93px -25px; }
  .ftr a:hover span.m { background-position:0 -145px; }
  .ftr a:hover span.r { background-position: -103px -25px; }
  .ftr a:active span.m { padding-top:1px !important; }


.dlg-img .ttlt-m,.dlg-img .ttlb-m,.dlg-img .ts-m,.dlg-img .ftr-m { width:662px; }


/* Dialogue pages */
/* MultiPage & PageView classes */
.dlg-img .mp { width:100%;height:100%;overflow:hidden; }
.dlg-img .pv { width:634px;height:315px;overflow:hidden; }

/* Browse */
.browse-l { height:315px;width:369px;border-right:1px solid #ccc;padding:0 17px 0 0;float:left;margin:0 17px 0 0;color:#666; }
  .browse-l .tb { height:16px;margin:0 0 12px 0;text-align:right;line-height:16px; }
  .browse-l .tb .btns { float:right; }
  .browse-l .tb .btns .sep { width:7px;height:16px;display:block;float:left;border-left:1px solid #bfbfc5;margin-left:8px; }

  .browse-l .tb a { width:16px;height:16px;background:transparent url("../images/dialog/static.png") no-repeat;cursor:default;display:block;float:left;display:inline; }
    .browse-l .tb a:active { outline:none; }
    .browse-l .tb a.reload { background-position:-16px -237px; }
    .browse-l .tb a.reload:hover { background-position:-16px -253px; }
    .browse-l .tb a.reload:active { background-position:-16px -269px; }

    .browse-l .tb a.folder { background-position:-32px -237px; }
    .browse-l .tb a.folder:hover { background-position:-32px -253px; }
    .browse-l .tb a.folder:active { background-position:-32px -269px; }

    .browse-l .tb a.delete { background-position:-48px -237px; }
    .browse-l .tb a.delete:hover { background-position:-48px -253px; }
    .browse-l .tb a.delete:active { background-position:-48px -269px; }

  .browse-l .path { width:342px;height:18px;background-color:#f3f3f3;border:1px solid #ccc;line-height:18px;color:#000;cursor:default;overflow:hidden;padding:0 0 0 5px; }
  .browse-l .path b { color:#999; }

  .browse-l .preview-url { margin:1px 0 0 0;padding:0; }

  .tree { width:367px;height:258px;border:1px solid #ccc;margin:7px 0 0 0; }
  .tree .hdr { width:100%;height:22px;line-height:22px;border-bottom:1px solid #ccc;background:#eee url("../images/dialog/horizontal.png") repeat-x 0 -321px;cursor:default; }
    .tree .hdr span { padding:0 0 0 6px;font-size:10px;color:#666; }
     .tree .hdr .file { width:291px;border-right:1px solid #ccc;float:left; }
     .tree .hdr .size { float:left; }
    .browse-l .tree .con { background:#fff url("../images/dialog/vertical.png") repeat-y -680px 0;overflow-y:auto;overflow-x:hidden;height:235px;width:100%;cursor:default; }

    .tree .node { width:100%;height:20px;overflow:hidden; }

    .tree .item { margin:0;padding:0 0 0 20px;line-height:20px;background:#fff url("../images/dialog/static.png") no-repeat;float:left; }
    .tree .img { background:none;padding:0;margin:0 0 0 4px; }
    .tree .fldr { background-position:-384px -255px; }
    .tree .root { background-position:-384px -295px; }

    .tree a { border:1px solid #fff;text-decoration:none;padding:1px;color:#2b3744;cursor:default; }
     .tree .item a:hover { text-decoration:none;border:1px solid #cdefff;background-color:#f8fafc; }
     .tree .item a:active { outline:none; }

    .tree .item-s a { text-decoration:none;border:1px solid #9adffe;background:#fff url("../images/dialog/horizontal.png") repeat-x 0 -343px;color:#000; }

.browse-r { height:315px;width:230px;float:right;color:#666; }
  .browse-r .tb { height:16px;margin:0 0 12px 0;text-align:right;line-height:16px; }
  .browse-r .tb .btns { float:right; }
  .browse-r .tb .btns .sep { width:7px;height:16px;display:block;float:left;border-left:1px solid #bfbfc5;margin-left:8px; }
  .browse-r .tb .btns .spacer { width:8px;height:16px;display:block;float:left; }

  .browse-r .tb a { width:16px;height:16px;background:transparent url("../images/dialog/static.png") no-repeat;cursor:default;display:block;float:left;display:inline; }
    .browse-r .tb a:active { outline:none; }
    .browse-r .tb a.full { background-position:-64px -237px; }
    .browse-r .tb a.full:hover { background-position:-64px -253px; }
    .browse-r .tb a.full:active { background-position:-64px -269px; }
    .browse-r .tb a.full-d { background-position:-64px -285px; }

    .browse-r .tb a.fit { background-position:-80px -237px; }
    .browse-r .tb a.fit:hover { background-position:-80px -253px; }
    .browse-r .tb a.fit:active { background-position:-80px -269px; }
    .browse-r .tb a.fit-d { background-position:-80px -285px; }

    .browse-r .tb a.zoomin { background-position:-96px -237px; }
    .browse-r .tb a.zoomin:hover { background-position:-96px -253px; }
    .browse-r .tb a.zoomin:active { background-position:-96px -269px; }

    .browse-r .tb a.zoomout { background-position:-112px -237px; }
    .browse-r .tb a.zoomout:hover { background-position:-112px -253px; }
    .browse-r .tb a.zoomout:active { background-position:-112px -269px; }

  .browse-r .preview { width:228px;height:260px;border:1px solid #ccc;background-image:url("../images/dialog/_preview.png");text-align:center;border-bottom-color:#abacac;border-right-color:#abacac; }
    .browse-r .preview span.lbl { line-height:236px;color:#aaa;cursor:default; }

    .browse-r .props { width:100%;height:auto;margin-top:3px; }
    .browse-r .props div { padding-top:3px;height:20px;line-height:20px; }
    .browse-r .props input { border:none;background:#fff;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
      .browse-r .props input.img-alt { width:141px; }
      .browse-r .props input.img-w { width:32px !important; }
      .browse-r .props input.img-h { width:32px !important; }
    .browse-r .props span { margin-right:3px;line-height:20px;float:left; }
      .browse-r .props span.alt { width:82px;text-align:right; }
      .browse-r .props span.w { width:82px;text-align:right; }
      .browse-r .props span.h { width:70px;text-align:right; }
    .browse-r .props span.input { border:1px solid #ccc;padding:0;height:18px;display:inline;margin:0;text-align:right; }


/* Properties */
.props-l { height:315px;width:355px;border-right:1px solid #ccc;padding:0 31px 0 0;float:left;margin:0 17px 0 0;color:#666; }
  .props-l .prop { width:345px;height:auto;border-bottom:1px solid #ccc;margin-left:10px;line-height:20px;height:34px;margin-top:12px; }
    .props-l span.lbl { width:100px;text-align:right;float:left;padding-right:4px; }
    .props-l span.s { width:57px; }
    .props-l input { float:left;border:1px solid #ccc;margin:0;padding:0;width:230px;height:15px;padding:2px;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
    .props-l input.s { width:81px; }
    .props-l input.xs { width:38px; }
  .props-l .dbl { height:56px; }
  .props-l .row { width:345px;height:24px; }
  .props-l .last { border:none; }


.props-r { height:315px;width:230px;float:right;color:#666; }
  .props-r .tb { height:16px;margin:0 0 12px 0;text-align:right;line-height:16px; }
  .props-r .tb .btns { float:right; }
  .props-r .tb .btns .sep { width:7px;height:16px;display:block;float:left;border-left:1px solid #bfbfc5;margin-left:8px; }
  .props-r .tb .btns .spacer { width:8px;height:16px;display:block;float:left; }

  .props-r .tb a { width:16px;height:16px;background:transparent url("../images/dialog/static.png") no-repeat;cursor:default;display:block;float:left;display:inline; }
    .props-r .tb a:active { outline:none; }
    .props-r .tb a.full { background-position:-64px -237px; }
    .props-r .tb a.full:hover { background-position:-64px -253px; }
    .props-r .tb a.full:active { background-position:-64px -269px; }
    .props-r .tb a.full-d { background-position:-64px -285px; }

    .props-r .tb a.fit { background-position:-80px -237px; }
    .props-r .tb a.fit:hover { background-position:-80px -253px; }
    .props-r .tb a.fit:active { background-position:-80px -269px; }
    .props-r .tb a.fit-d { background-position:-80px -285px; }

    .props-r .tb a.zoomin { background-position:-96px -237px; }
    .props-r .tb a.zoomin:hover { background-position:-96px -253px; }
    .props-r .tb a.zoomin:active { background-position:-96px -269px; }

    .props-r .tb a.zoomout { background-position:-112px -237px; }
    .props-r .tb a.zoomout:hover { background-position:-112px -253px; }
    .props-r .tb a.zoomout:active { background-position:-112px -269px; }

  .props-r .preview { width:228px;height:310px;border:1px solid #ccc;background-image:url("../images/dialog/_preview.png");text-align:center;border-bottom-color:#abacac;border-right-color:#abacac; }
    .props-r .preview span.lbl { line-height:285px;color:#aaa;cursor:default; }


/* Upload */
.upload-l { width:299px;height:315px;border-right:1px solid #ccc;padding:0 17px 0 0;float:left;margin:0 17px 0 0;color:#666; }
  .upload-l .sel { width:100%;height:143px;border-bottom:1px solid #eee; }

  /* Upload file selection */
  .upload-l .sel span { display:block;margin:0 0 10px 0;font-size:12px; }
  .upload-l .sel .browse { width:100%;height:54px; }
  .upload-l .sel .file { cursor:default; }
  .upload-l .sel .filename { width:220px;height:18px;border:1px solid #ccc;background-color:#fff;padding:2px 0 0 4px;display:block;float:left;margin:0 1px 0 0; }
  .upload-l .sel input { background-color:transparent;width:212px;padding:2px !important;margin:0;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px;border:none;color:#666;cursor:default !important; }
  .upload-l .sel .empty { background-color:#eee; }
  .upload-l .sel .empty input { color:#999; }
  .upload-l .sel a.browse { text-decoration:none;color:#333;cursor:default !important;display:block;float:left;background:none;width:68px;height:25px;border:0; }
  .upload-l .sel a.browse img { border:0; }

  /* Checkbox */
  .upload-l .overwrite { width:100%;height:24px; }
  .upload-l a.chk,.upload-l a.chk-s { display:block;width:auto;height:24px;line-height:24px;background:#fff url("../images/dialog/static.png") no-repeat -384px -48px;float:left;cursor:default;padding:0 0 0 18px;text-decoration:none;color:#666; }
  .upload-l a.chk:active,.upload-l a.chk-s:active { outline:none; }
  .upload-l a.chk-s { background-position:-384px -72px; }

  /* Upload button */
  .upload-l .btn { width:100%;text-align:center; }
  .upload-l .btn a { display:block;width:118px;height:27px;background:#fff url("../images/dialog/static.png") no-repeat -20px -120px;cursor:default;margin:16px auto 0 auto; }
  .upload-l .btn a.up:hover { background-position:-20px -147px; }
  .upload-l .btn a.up:active { background-position:-20px -174px;outline:none; }
  .upload-l .btn a.up-d { background-position:-20px -201px;outline:none; }


.upload-r { width:300px;height:315px;float:right;color:#666; }
  .upload-r .tb { height:16px;margin:0 0 12px 0;line-height:16px; }
  .upload-r .tb span { font-size:12px; }
  .upload-r .tb .btns { float:right; }
  .upload-r .tb .btns .sep { width:7px;height:16px;display:block;float:left;border-left:1px solid #bfbfc5;margin-left:8px; }

  .upload-r .tb a { width:16px;height:16px;background:transparent url("../images/dialog/static.png") no-repeat;cursor:default;display:block;float:left; }
    .upload-r .tb a:active { outline:none; }
    .upload-r .tb a.reload { background-position:-16px -237px; }
    .upload-r .tb a.reload:hover { background-position:-16px -253px; }
    .upload-r .tb a.reload:active { background-position:-16px -269px; }

    .upload-r .tb a.folder { background-position:-32px -237px; }
    .upload-r .tb a.folder:hover { background-position:-32px -253px; }
    .upload-r .tb a.folder:active { background-position:-32px -269px; }

    .upload-r .tb a.delete { background-position:-48px -237px; }
    .upload-r .tb a.delete:hover { background-position:-48px -253px; }
    .upload-r .tb a.delete:active { background-position:-48px -269px; }

  .upload-r .dest { width:298px;height:259px;border:1px solid #ccc; }

  .upload-r .path { width:298px;height:18px;border:1px solid #ccc;margin:6px 0 0 0; }

/* Uploading */
.stat { width:635px;height:266px;text-align:center;margin-top:27px;border:1px solid #ccc; }
  /* Progress bar and related elements */
  .stat .info { width:412px;height:auto;margin:84px auto 0 auto;cursor:default; }
  .stat h3 { font-weight:normal;font-size:12px;color:#999; }
  .stat .red { color:#dd3409; }

  .stat .prog { width:412px;height:18px !important;border:1px solid #ccc;border-bottom-color:#ddd;border-right-color:#ddd;padding:0;margin:0;float:left;display:inline;overflow:hidden;clear:both; }
  .stat .prog .con { width:410px;height:16px !important;background:transparent url("../images/dialog/horizontal.png") repeat-x 0 -170px;border:0;margin:0;padding:1px; }
  .stat .prog .con .bar { height:16px;background:transparent url("../images/dialog/horizontal.png") repeat-x 0 -188px; }

  .stat p { clear:both;line-height:18px;padding-top:8px;color:#999; }

  /* Upload complete */
  .stat .done { height:24px;margin-top:120px; }


