/* General */
html,
body {
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #363636;
}
#wrap {
  height: 100%;
  transition: -webkit-transform, -moz-transform, transform 0.3s ease;
}
#wrap.menu-open {
  -webkit-transform: translate3d(-250px, 0, 0);
  -moz-transform: translate3d(-250px, 0, 0);
  transform: translate3d(-250px, 0, 0);
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: #bf9f88;
}
.btn {
  border: 1px solid;
  border-radius: 0px;
  padding: 10px 28px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all .3s;
  position: relative;
  Left: 0;
  right: 0;
  top: 300px;  
  background-color: transparent;
  z-index: 20;
}
.btn:hover:after {
  width: 100%;
}
.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: all .3s;
}
.btn-white {
  border-color: #fff;
  color: #fff;
}
.btn-white:hover {
  color: #363636;
}
.btn-white:after {
  background-color: #fff;
}
.btn-dark {
  border-color: #363636;
  color: #363636;
}
.btn-dark:hover {
  color: #fff;
}
.btn-dark:after {
  background-color: #363636;
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0;
}
.form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}
p {
  font-family: 'PT Serif', serif;
  font-style: italic;
  color: #9B9B9B;
  font-size: 15px;
}
img {
  max-width: 100%;
}
section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
  overflow: hidden;
  z-index: 10;
}
section:before,
section:after {
  content: " ";
  display: table;
}
section:after {
  clear: both;
}
section.grey {
  background-color: #f6f6f6;
}
section.grey .title hr:before {
  background-color: #f6f6f6;
}
.title {
  margin-bottom: 35px;
    margin-top: 35px
}
.title.center {
  text-align: center;
}
.title.center hr {
  margin: 20px auto;
}
.title.center p {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.title.center p:after {
  margin: 20px auto;
}
.title.right {
  text-align: right;
}
.title.right p:after {
  margin-right: 0;
  margin-left: auto;
}
.title h2 {
  text-transform: uppercase;
  color: #516c8a;    
  font-size: 32px;
    
  margin-bottom: 20px;
}
.title h3 {
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 1px;
}
.title h4 {
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 1px;
}
.title p {
  font-size: 20px;
}
.title p:after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #363636;
  margin-top: 20px;
}
.title hr {
  width: 100px;
  border-top: 2px solid #bbb;
  position: relative;
  text-align: center;
  margin: 20px 0;
}
.title hr:before {
  content: "♦";
  position: absolute;
  top: -14px;
  left: 50%;
  width: 16px;
  background-color: #fff;
  margin-left: -8px;
  font-size: 17px;
  color: #bbb;
}
.section-content:before,
.section-content:after {
  content: " ";
  display: table;
}
.section-content:after {
  clear: both;
}
.vcenter {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
.centrize {
  display: table-cell;
  vertical-align: middle;
}
.animated {
  opacity: 0;
}
.visible {
  opacity: 1;
}
/* Preloader */
#mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #363636;
  z-index: 10000;
  height: 100%;
}
#mask:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
}
#rotator {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
  background: #363636;
}
/* Menu */
#menu {
  position: fixed;
  right: -250px;
  z-index: 2000;
  width: 250px;
  background-color: #363636;
  color: #fff;
  top: 0;
  bottom: 0;
  transition: all .3s ease;
}
#menu.open {
  right: 0;
}
#menu nav {
  text-align: center;
}
#menu-toggle {
  width: 40px;
  height: 40px;
  position: absolute;
  border: 2px solid #fff;
  padding: 9px 0;
  top: 30px;
  left: -70px;
  cursor: pointer;
  transition: all .5s ease;
}
#menu-toggle span {
  width: 18px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 3px auto;
  border-radius: 40px;
  transition: all .5s ease;
}
#menu-toggle.active span {
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
}
#menu-toggle.active span:first-child {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#menu-toggle.active span:last-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#menu-toggle.active span:nth-child(2) {
  display: none;
}
#menu-toggle.dark {
  border-color: #9b9b9b;
}
#menu-toggle.dark span {
  background-color: #9b9b9b;
}
#menu-toggle.dark:hover {
  border-color: #4e4e4e;
}
#menu-toggle.dark:hover span {
  background-color: #4e4e4e;
}
#logo {
  margin: 20px auto;
}
#main-menu {
  padding: 50px 0;
}
#main-menu > li > a {
  text-transform: uppercase;
  font-size: 13px;
  padding: 7px 15px;
  transition: all .3s ease;
}
#main-menu > li > a:hover {
  background-color: #292929;
}
#socials {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #292929;
}
#socials > li {
  float: left;
  width: 20%;
}
#socials > li > a {
  text-align: center;
  font-size: 18px;
  color: #9B9B9B;
}
#socials > li > a:hover {
  color: #bf9f88;
  background-color: #222222;
}
/* Top Nav */
#topnav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1030;
  border-radius: 0;
  transition: all .3s ease;
}
#topnav.scrolled {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}
#topnav.scrolled .navbar-nav > li > a {
  color: #7b7b7b;
  padding-top: 20px;
  padding-bottom: 20px;
}
#topnav.scrolled .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #bf9f88;
}
#topnav.scrolled .navbar-brand {
  margin-top: 0;
}
#topnav.scrolled .navbar-brand .logo-light {
  display: none;
}
#topnav.scrolled .navbar-brand .logo-dark {
  display: block;
}
#topnav .navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  transition: all .3s ease;
}
#topnav .navbar-nav > li > a:hover {
  background: none;
}
.navbar-brand {
  height: 60px;
  padding: 15px;
  margin-top: 30px;
  transition: all .3s ease;
}
.navbar-brand img {
  max-height: 100%;
}
.logo-dark {
  display: none;
}
.navbar-toggle {
  border-color: #ddd;
  transition: all .3s ease;
  margin-top: 13px;
}
.navbar-toggle:hover {
  background-color: #eee;
}
.navbar-toggle:hover .icon-bar {
  background-color: #aaa;
}
.navbar-toggle .icon-bar {
  background-color: #ddd;
}
/* Home Section */
#home-slider {
  margin-bottom: 0;
}
#backgrounds {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
#backgrounds .slides {
  height: 100%;
}
#backgrounds .slides li {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 6s ease 0s;
  -webkit-transition: -webkit-transform 6s ease 0s;
  -moz-transition: -moz-transform 6s ease 0s;
  -moz-transform-origin: 0 0;
}
#video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /*z-index: 11;*/
}
#home {
  position: relative;
  height: 100%;
  z-index: 10;
  border: 25px solid #fff;
}
.home-caption {
  display: table;
  height: 100%;
  width: 100%;
}
.home-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}
.home-content h1 {
  text-transform: uppercase;
  font-size: 53px;
  font-weight: 700;
  margin: 0;
  padding: 15px 0;
}
.home-content h5 {
  font-size: 20px;
  font-family: 'PT Serif', serif;
  font-style: italic;
  margin: 15px 0;
}
.home-content .btn {
  margin-top: 10px;
}
/* Intro Section */
.intro-text {
  font-size: 20px;
  text-align: center;
}
/* About Section */
.img-side {
  padding: 0px;
  position: absolute;
  top: 0px;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}
.img-side.img-right {
  right: 0;
}
.img-side.img-left {
  left: 0;
}
.img-holder {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.about-box {
  margin-bottom: 25px;
}
.about-box:before,
.about-box:after {
  content: " ";
  display: table;
}
.about-box:after {
  clear: both;
}
.about-box:last-child {
  margin-bottom: 0;
}
.ab-icon {
  width: 15%;
  float: left;
  margin-right: 5%;
  text-align: center;
}
.ab-icon i {
  font-size: 45px;
}
.ab-content {
  float: left;
  width: 80%;
}
.ab-content h4 {
  text-transform: uppercase;
  font-size: 15px;
}
/* Team Section */
.member {
  margin: 50px 0;
  text-align: right;
  transition: all .3s ease;
  cursor: default;
  position: relative;
}
.member:before,
.member:after {
  content: " ";
  display: table;
}
.member:after {
  clear: both;
}
.member:hover .member-overlay {
  opacity: 1;
  top: 0;
}
.member h4 {
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 0;
}
.member h6 {
  text-transform: uppercase;
  font-size: 11px;
  color: #9B9B9B;
}
.member-avatar {
  position: relative;
  width: 25%;
  float: right;
}
.member-avatar img {
  border-radius: 50%;
}
.member-info {
  padding: 0 15px;
  position: relative;
  width: 75%;
  float: left;
}
.member-overlay {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  opacity: 0;
  transition: all .3s ease;
}
.member-overlay p {
  color: #fff;
}
.member-social {
  margin: 0;
  padding: 0;
  list-style: none;
}
.member-social > li {
  display: block;
  width: 30px;
  margin: auto;
}
.member-social > li > a {
  color: #fff;
  font-size: 18px;
}
.member-social > li > a:hover {
  text-shadow: 0px 0px 10px #FFF;
}
/* Numbers Section */
.counter {
  margin: 25px 0;
}
.counter:before,
.counter:after {
  content: " ";
  display: table;
}
.counter:after {
  clear: both;
}
.counter-icon {
  width: 30%;
  text-align: center;
  margin-right: 5%;
  float: left;
  font-size: 50px;
}
.counter-content {
  float: left;
  width: 65%;
}
.counter-content .value {
  display: block;
  font-size: 30px;
}
.counter-content small {
  text-transform: uppercase;
}
/* Pricing Section */
.plan {
  padding: 15px;
  background-color: #fff;
  text-align: center;
  margin: 50px auto;
  max-width: 350px;
  position: relative;
  overflow: hidden;
}
.plan.highlight {
  box-shadow: 0 0 6px rgba(54, 54, 54, 0.15);
}
.plan h4 {
  text-transform: uppercase;
  font-size: 15px;
}
.plan hr {
  border-top: 2px solid #bf9f88;
  width: 40px;
}
.plan ul > li {
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 12px;
  color: #9B9B9B;
  border-bottom: 1px solid #ececec;
}
.featured {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  width: 150px;
  top: 25px;
  right: -35px;
  text-align: center;
  padding: 5px 20px;
  background: #BF9F88;
  color: #FFF;
}
.plan-icon {
  font-size: 23px;
  padding: 10px;
  color: #BF9F88;
}
.price {
  padding: 15px;
}
.price span {
  font-size: 40px;
}
.plan-footer {
  padding: 20px;
}
/* Parallax Section */
.parallax-section {
  padding: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.overlay {
  height: 100%;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay .title {
  color: #fff;
}
/* Services Section */
.service {
  text-align: center;
  margin: 50px 0;
  position: relative;
}
.service:hover .service-icon {
  color: #bf9f88;
  border-color: #bf9f88;
}
.service:hover .service-icon:after {
  background-color: #bf9f88;
}
.service:hover .service-content {
  display: block;
}
.service h4 {
  text-transform: uppercase;
  font-size: 15px;
}
.service-icon {
  width: 110px;
  height: 110px;
  margin: 0 auto 40px;
  line-height: 110px;
  font-size: 40px;
  border: 2px solid #363636;
  position: relative;
  background-color: #f6f6f6;
  transition: all .3s ease;
}
.service-icon:after {
  content: "";
  position: absolute;
  height: 30px;
  width: 32px;
  left: 50%;
  margin-left: -15px;
  background-color: #363636;
  bottom: -15px;
  border-left: 15px solid #f6f6f6;
  border-right: 15px solid #f6f6f6;
  transition: all .3s ease;
}
.service-tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.service-tooltip.top .tooltip-arrow {
  border-top-color: rgba(0, 0, 0, 0.8);
}
.service-tooltip .tooltip-inner {
  max-width: 260px;
  padding: 15px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'PT Serif', serif;
  font-style: italic;
  color: #FFF;
  font-size: 14px;
}
.owl-wrapper {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.owl-wrapper.grabbing {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.owl-theme .owl-controls .owl-buttons .owl-prev,
.owl-theme .owl-controls .owl-buttons .owl-next {
  padding: 0;
  height: 30px;
  width: 30px;
  line-height: 26px;
  background: none;
  border: 2px solid #363636;
  color: #363636;
  font-size: 20px;
  opacity: 1;
  filter: alpha(opacity=100);
  transition: all .3s ease;
}
.owl-theme .owl-controls .owl-buttons .owl-prev:hover,
.owl-theme .owl-controls .owl-buttons .owl-next:hover {
  background-color: #bf9f88;
  border-color: #bf9f88;
  color: #fff;
}
.owl-theme .owl-controls .owl-buttons .owl-prev:before,
.owl-theme .owl-controls .owl-buttons .owl-next:before {
  font-family: "fontello";
}
.owl-theme .owl-controls .owl-buttons .owl-prev:before {
  content: '\e846';
}
.owl-theme .owl-controls .owl-buttons .owl-next:before {
  content: '\e847';
}
/* Portfolio */
#portfolio {
  overflow: hidden;
}
#filters {
  list-style: none;
  padding: 0;
  margin: 50px 0;
  text-align: center;
}
#filters > li {
  display: inline-block;
  position: relative;
  padding: 8px 16px;
  text-transform: uppercase;
  font-size: 13px;
  color: #9B9B9B;
  cursor: pointer;
}
#filters > li:before {
  content: "♦";
  position: absolute;
  left: -5px;
  font-size: 10px;
  line-height: 18px;
  color: #9B9B9B;
}
#filters > li:first-child:before {
  content: none;
}
#filters > li.active {
  color: #bf9f88;
}
.project {
  position: relative;
  width: 33.33333333%;
  float: left;
}
.project:hover .project-overlay {
  opacity: 1;
  border: 10px solid rgba(0, 0, 0, 0.6);
}
.project-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: opacity .8s ease, border .4s ease;
  text-align: center;
  color: #fff;
}
.project-overlay p {
  color: #fff;
  font-size: 14px;
}
.project-overlay h4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 17px;
  margin: 0;
}
.project-overlay .btn {
  margin: 20px 0;
}
#project-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  display: none;
  max-height: 100%;
  overflow-y: scroll;
}
#project-modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#project-modal .modal-dialog {
  width: 50%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  background-color: #fff;
  -webkit-transform: translate3d(-25%, 0, 0);
  -o-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0);
}
#project-modal .modal-content {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  padding: 25px;
}
#project .title p {
  font-size: 15px;
}
#project p {
  text-align: center;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.project-media {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}
.project-media .flexslider {
  margin-bottom: 0;
}
.project-media .flexslider:hover .flex-next {
  right: 0;
}
.project-media .flexslider:hover .flex-prev {
  left: 0;
}
.project-media .flexslider:hover .flex-direction-nav a {
  opacity: 1;
}
#modal-close {
  color: #ccc;
  font-size: 30px;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 100;
}
#modal-close:hover {
  color: #bf9f88;
}
.modal-open {
  padding-right: 0!important;
}
.flex-control-nav {
  position: relative;
  bottom: 0;
  margin: 30px auto 0;
}
.flex-control-paging li a {
  width: 25px;
  height: 8px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: #ccc;
}
.flex-control-paging li a:hover {
  background-color: rgba(191, 159, 136, 0.75);
}
.flex-control-paging li a.flex-active {
  background-color: #bf9f88;
}
.flex-direction-nav a {
  background-color: #fff;
  opacity: 0;
  line-height: 40px;
  font-size: 22px;
}
.flex-direction-nav a:before {
  font-family: 'fontello';
  font-size: inherit;
}
.flex-direction-nav a.flex-prev {
  left: 0;
  text-align: center;
  border-radius: 0 5px 5px 0;
}
.flex-direction-nav a.flex-prev:before {
  content: '\e846';
}
.flex-direction-nav a.flex-next {
  right: 0;
  text-align: center;
  border-radius: 5px 0 0 5px;
}
.flex-direction-nav a.flex-next:before {
  content: '\e847';
}
.video-container {
  width: 100%;
  position: relative;
  padding: 0;
  padding-bottom: 60%;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
/* Testimonials */
#testimonials-slider {
  margin-bottom: 0;
}
#testimonials-slider li {
  text-align: center;
}
#testimonials-slider li img {
  width: 640px;
  margin: 10px auto;
  border-radius: 0%;
}
#testimonials-slider li blockquote {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-size: 21px;
  padding: 10px 0;
  border: 0;
  margin: 0;
}
/* Clients Section */
#clients {
  padding: 0;
}
.client {
  margin: 50px 0;
  text-align: center;
}
.client img {
  max-width: 100%;
  max-height: 60px;
}
/* Blog Section */
.post-preview {
  max-width: 320px;
  margin: 25px auto;
}
.post-preview .post-date {
  display: block;
  font-size: 11px;
  color: #BBB;
}
.preview-body {
  padding: 15px;
  text-align: center;
  border: 1px solid #ececec;
  background-color: #fff;
}
.preview-body h4 {
  text-transform: uppercase;
  font-size: 15px;
}
.preview-body hr {
  width: 50px;
  border-color: #ddd;
}
.owl-theme .owl-controls .owl-page.active span {
  background-color: #bf9f88;
}
.owl-theme .owl-controls .owl-page span {
  background-color: #bbb;
}
.more-posts {
  text-align: center;
  margin: 20px 0;
}
/* Contact Section */
#map {
  min-height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#contact-form {
  text-align: right;
}
#contact-form .form-group {
  margin-bottom: 25px;
}
#contact-form .form-group.error .form-control {
  border-color: #d95c5c;
}
#contact-form .form-control {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #363636;
  border-radius: 0;
  text-align: right;
  font-size: 12px;
  text-transform: uppercase;
  color: #363636;
}
#contact-form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #363636;
  border-style: dashed;
}
#contact-form textarea {
  resize: none;
}
/* Blog Page */
#posts {
  overflow: visible;
}
#blog-header {
  background-image: url("../images/bg/1.jpg");
  height: 500px;
}
#blog-posts {
  margin: -200px auto 0;
  background-color: #fff;
}
.post {
  padding-bottom: 50px;
  padding: 25px;
  border-bottom: 1px solid #ececec;
}
.post:last-child {
  border-bottom: 0;
}
.post-thumbnail {
  text-align: center;
}
.post-title {
  text-align: center;
}
.post-title h2 {
  text-transform: uppercase;
  font-size: 32px;
}
.post-info {
  font-size: 14px;
}
.post-info:after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #363636;
  margin: 20px auto;
}
.post-info span {
  padding: 0 2px;
}
.post-info .dot:before {
  content: "|";
}
.post-body {
  text-align: center;
  padding: 20px 0;
}
.post-body p {
  padding-bottom: 20px;
}
#single-post .post {
  padding: 0;
  border-bottom: 0;
  margin-bottom: 50px;
}
#single-post .post-body {
  text-align: left;
}
.single-post-title {
  text-align: center;
  color: #fff;
}
.single-post-title h2 {
  text-transform: uppercase;
  font-size: 41px;
  margin-bottom: 20px;
}
.single-post-title p {
  color: #fff;
  font-size: 15px;
}
.single-post-title p:after {
  content: none;
}
#comments {
  margin-bottom: 50px;
}
#comments h5 {
  text-transform: uppercase;
  font-size: 13px;
}
.comments-list {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.comments-list > li {
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}
.comments-list > li:before,
.comments-list > li:after {
  content: " ";
  display: table;
}
.comments-list > li:after {
  clear: both;
}
.comments-list .children {
  margin: 15px -15px 0;
  list-style: none;
  border-top: 1px solid #ddd;
}
.comments-list .children > li {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
.comments-list .children > li:last-child {
  border-bottom: 0;
}
.comment:before,
.comment:after {
  content: " ";
  display: table;
}
.comment:after {
  clear: both;
}
.comment img {
  margin-top: 10px;
}
.comment-date {
  display: block;
  margin-bottom: 10px;
  font-size: 11px;
  text-transform: uppercase;
  color: #999;
}
.comment-reply {
  text-transform: uppercase;
  font-size: 11px;
}
#respond h5 {
  font-size: 13px;
  text-transform: uppercase;
}
.comment-respond {
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 50px;
}
.comment-respond .form-control {
  font-size: 11px;
  text-transform: uppercase;
}
.comment-respond textarea {
  min-height: 120px;
  max-width: 100%;
  resize: none;
}
.form-double:before,
.form-double:after {
  content: " ";
  display: table;
}
.form-double:after {
  clear: both;
}
.form-double .form-group {
  width: 50%;
  float: left;
  padding-right: 5px;
}
.form-double .form-group.last {
  padding-right: 0;
  padding-left: 5px;
}
.form-submit {
  text-align: right;
}
.widget {
  padding: 0 15px 15px;
  margin-bottom: 15px;
}
.widget h6 {
  text-transform: uppercase;
}
.widget ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.widget ul > li > a {
  display: block;
  color: #9b9b9b;
  padding: 5px 0;
  border-bottom: 1px solid #e6e6e6;
  font-size: 13px;
}
.widget ul > li > a:hover {
  color: #bf9f88;
}
.widget p {
  margin-bottom: 0;
}
/* Footer */
footer {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  z-index: 10;
}
.copyright {
  text-align: center;
  color: #9B9B9B;
  line-height: 50px;
  margin: 0;
}
.copyright i {
  color: #bf9f88;
}
#footer-social {
  text-align: center;
}
#footer-social > li {
  display: inline-block;
}
#footer-social > li > a {
  display: block;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 2px solid #ddd;
  color: #9b9b9b;
  font-size: 16px;
  padding: 0;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  transition: all .3s ease;
}
#footer-social > li > a:hover {
  background-color: #bf9f88;
  border-color: #bf9f88;
  color: #fff;
}
/* 404 Page */
#error404 {
  background-image: url("../images/bg/8.jpg");
  height: 100%;
}
#error404 .overlay {
  padding: 0;
}
.error-box {
  position: relative;
  width: 450px;
  margin: auto;
  padding: 80px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.error-box:before {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.error-box h1 {
  font-size: 100px;
}
.error-box h3 {
  text-transform: uppercase;
  font-size: 17px;
}
.error-box hr {
  width: 50px;
  border-top: 2px solid #fff;
}
.error-box p {
  margin: 25px 0 35px 0;
  color: #fff;
}
/* Coming Soon Page */
#coming-soon {
  background-image: url("../images/bg/4.jpg");
  height: 100%;
}
#coming-soon .overlay {
  padding: 0;
}
.coming-soon-box {
  position: relative;
  width: 850px;
  margin: auto;
  padding: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.coming-soon-box:before {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.coming-soon-box h1 {
  font-size: 50px;
}
.coming-soon-box hr {
  width: 50px;
  border-top: 2px solid #fff;
}
.coming-soon-box p {
  color: #fff;
}
.countdown {
  list-style: none;
  padding: 0;
  margin: 50px 0;
  text-align: center;
}
.countdown > li {
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  padding: 10px;
  margin: 0 10px;
}
.countdown > li > span {
  display: block;
  font-size: 50px;
}
/* Media Queries */
@media (max-width: 991px) {
  .animated {
    opacity: 1;
    -webkit-animation: none;
    animation: none;
  }
  .home-content h1 {
    font-size: 36px;
  }
  .project {
    width: 50%;
  }
  #topnav .navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .post-preview {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .title,
  .title.right {
    text-align: center;
  }
  .title p,
  .title.right p {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .title p:after,
  .title.right p:after {
    margin: 20px auto;
  }
  .counter {
    text-align: center;
  }
  .counter-icon {
    width: auto;
    display: block;
    float: none;
    margin: 15px auto 0;
  }
  .counter-content {
    float: none;
    width: auto;
  }
}
@media (max-width: 767px) {
  .home-content h1 {
    font-size: 28px;
  }
  #topnav,
  #topnav.scrolled {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
  }
  #topnav .navbar-collapse,
  #topnav.scrolled .navbar-collapse {
    border-top: 1px solid #ececec;
  }
  #topnav .navbar-nav > li > a,
  #topnav.scrolled .navbar-nav > li > a {
    color: #7b7b7b;
    padding: 15px;
  }
  #topnav .navbar-nav > li > a:hover,
  #topnav.scrolled .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #bf9f88;
  }
  #topnav .navbar-brand,
  #topnav.scrolled .navbar-brand {
    margin-top: 0;
  }
  #topnav .navbar-brand .logo-light,
  #topnav.scrolled .navbar-brand .logo-light {
    display: none;
  }
  #topnav .navbar-brand .logo-dark,
  #topnav.scrolled .navbar-brand .logo-dark {
    display: block;
  }
  .member {
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .member-info {
    width: 100%;
  }
  .member-avatar {
    margin: 0 auto 20px;
    display: block;
    float: none;
  }
  #contact-form .form-control {
    text-align: left;
  }

  #project-modal .modal-dialog{
    width: 100%;
  }
}
/* video player buttons access */
body #video-wrapper {
  z-index: 11;
}
body .watched {
  display: none;
}

#video-wrapper iframe {
  border: 25px solid #fff;
}
@media (max-width: 1025px) {
  #video-wrapper iframe {
  border: none;
}
  body #video-wrapper {
    z-index: 11;
    clear: both;
  }
  body #menu-toggle {
    clear: both;
  }
  body .viewed {
    display: none;
  }
}
@media (max-width: 640px) {
  .project {
    width: 100%;
  }

  .home-content h1 {
    font-size: 18px;
  }
}