html {
	height: 100%;
}
body {    background: #4D4D4D;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 12px;
	line-height: 18px;
	color: black;
	height: 100%;
	min-height: 100%		
}
div {
	font-family: arial;
	font-size: 12px;
	line-height: 18px;
	color: black;
}
td {
	font-family: arial;
	font-size: 12px;
	line-height: 18px;
	color: black;
}

a {
	color: #6f693d;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #4d3e2b;
}
img {
	border: 0;
}
th {
	color: white;
	background: #928b5f;
	text-align: center;
	font-weight: bold;
	line-height: 25px;
	font-size: 12px;

}
th a{
	
	font-weight: normal;
	color: white;
}
#drop_shadow {
	width: 1028px;
	background: url(../images/bg_shadow.png) repeat-y;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	text-align: center;
	position: relative;
}
*html #container {
	height: 100%;
	min-height: 100%;
}

#container {
	width: 1002px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	position: relative;
}

#header {
	width: 1002px;
	height: 123px;
	background: url(../images/header.jpg) no-repeat;
	text-align: left;
}

#menu {
	width: 1002px;
	height: 30px;
	padding: 0;
}

#header_logo {
	width: 160px;
	position: relative;
	font-family: arial;
	color: white;
	font-weight: bold;
	font-size: 9px;
	text-align: center;
	right: 20px;
	padding: 0;
	margin: 0;
	
}

#search_projects {
	width: 361px;
	height: 17px;
	background: #635139;
	border: 1px solid #867c6f;
	font-family: arial;
	color: #b7b1a8;
	font-weight: bold;
	font-size: 10px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 50%;
	margin-top: -8px;
}
#search_projects:hover {
	background: #ebe7d9;
	color: #514534;
}
#search_projects:focus {
	background: #ebe7d9;
	color: #514534;
}
#search_projects.sfHover {
	background: #ebe7d9;
	color: #514534;
}
#search_projects.sfFocus {
	background: #ebe7d9;
	color: #514534;
}

#content {
	width: 1002px;
	padding: 0;
	margin: 0;
	text-align:left;
	background: white;
	
}


#content_text {
	padding: 24px;

}
#content_footer, #home_footer {
	font-size: 9px;
	color: #9f9f9f;
	padding-top: 50px;
	position: relative;
	

}
#content_footer {
	
	bottom: 0%;
	padding: 20px;
	padding-top: 50px;
}

.left_col {
	width: 580px;
	vertical-align: top;
	height: 100%;
	min-height: 100%;
	background: white;
}

.right_col {
	width: 420px;
	background: url(../images/side_bg.jpg) repeat-y;
	vertical-align: top;
	height: 100%;
	min-height: 100%;
	
}

.right_col_project {
	width: 375px;
	background: url(../images/side_bg_project.jpg) repeat-y;
	vertical-align: top;
	height: 100%;
	min-height: 100%;
	
}
.left_col_project {
	width: 625px;
	background: url(../images/bg_project.jpg) repeat-y;
	vertical-align: top;
	height: 100%;
	min-height: 100%;
	background: #f8f6f0;
	
}

.right_col_overview {
	width: 375px;
	background: url(../images/side_bg_project.jpg) repeat-y;
	vertical-align: top;
	height: 100%;
	min-height: 100%;
	
}
.left_col_overview {
	width: 625px;
	vertical-align: top;
	height: 100%;
	min-height: 100%;
	background: white;
	
}
#main_table {
	height: 100%;
	min-height: 100%;
}

#portfolio_side_bg {
	position: relative;
	background: url(../images/portfolio_side.jpg) no-repeat;
	width: 354px;
	height: 425px;
	vertical-align: top;
	
}
#portfolio_side_image {
	margin-left: 57px;
	margin-top: 42px;
	
	
}
#portfolio_side_text {
	position: relative;
	margin-left:65px;
	width:80%;
}

#project_image_navigation {
	padding: 0;
	margin: 0;
	width: 625px;
}
#project_image_navigation_arrows_bg {
	border-right: 0;
	width: 448px;
	height: 27px;
	background: url(../images/proj_nav_bg.jpg);
}
#project_image_navigation_arrows {
	position: relative;
	left: auto;
	text-align: right;
	margin-right: 30px;
	height: 19px;
}

#project_image_text {
	color: #edeadf;
	font-weight: bold;
	line-height: 19px;
	font-size: 13px;
	margin-left: 20px;
	margin-right: 20px;
}

#project_image_mask {
	position: absolute;
	z-index: 10;
	left: 50%;
	margin-left: -500px;
	top: 153px;
	background:url(../images/project_image_mask.png);
	width:625px;
	height:491px;
	
}
#home_bottom {
	background: url(../images/home_bottom_bg.jpg) no-repeat;
	
	
}
.project_image_navigation {
	float: left;
	border: 1px solid white;
	border-left: 0;
	border-bottom: 0;
}


.menu_item_search {
	padding: 0;
	margin: 0;
	border-left: 1px solid white;
	border-top: 1px solid white;
	background: #4d3e2b;
	width: 374px;
	height: 28px;
	float: left;
	text-align: center;
}

*html .menu_item_search {
	width: 375px;
	height: 29px;
}

.portfolio_bg {
	padding:0;
	margin:0;
	width:157px;
	height: 127px;
	background: url(../images/bg_portfolio_photo.jpg) no-repeat;
	text-align: left;
}
.portfolio_bg_home {
	background: url(../images/bg_home_photo.jpg) no-repeat;
}
.portfolio_photo {
	margin-left: 12px;
	margin-top: 7px;
	text-align: left;
}



    /* Begin sfHover (Menu) Styles */

    #nav{ /* all lists */
      padding: 0;
      margin: 0;
      text-align: left;

    }

    #nav a {
      display: block;
      border: 1px solid white;
      border-right: 0;
    }

    #nav div { /* all list items */
      float: left;
      /* width needed or else Opera goes nuts */
    }

    #nav table { /* second-level lists */
      position: absolute;
      z-index: 100;
      left: -999em;

      /* using left instead of display to hide menus because display: none isn't read by screen readers */
    }

    #nav td a { /* second-level lists items */
	border: 0;
	color: #483c2a;
	line-height: 20px;
	font-weight: bold;
	font-size: 12px;
	
    }
    #nav td a:hover { /* second-level lists items */
	
	color: #0051a2;
    }  
    #nav td.navigation { /* second-level lists items */
	background: url(../images/menu/menu_bg.png);
	padding: 8px;
	padding-right: 0;
	border: 1px solid white;
	border-top: 0;
	border-right: 0;
	width: 190px;
	
    }
    #nav td.navigation_right { 
	background: url(../images/menu/menu_bg.png);
	border: 1px solid white;
	border-left: 0;
	border-top: 0;
    	
	
    }    
    #nav td.navigation_bottom_left { 
	background: url(../images/menu/nav_bg_bottom_left.png);
    }
    #nav td.navigation_bottom_right { 
	background: url(../images/menu/nav_bg_bottom_right.png);
    }    
    #nav td.navigation_bottom { 
	background: url(../images/menu/nav_bg_bottom.png);
    }
    #nav td.navigation_left { 
	background: url(../images/menu/nav_bg_left.png);
    }    
    

    #nav div:hover table, #nav div.sfHover table { /* lists nested under hovered list items */
      left: auto;
      margin-left: -10px;
    }
   /* End sfHover (Menu) Styles */
