/* r.a.d.upload Windows Vista skin */
.RadUploadTable
{
	
	border-collapse: collapse;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100px;
	font: normal 11px Arial, Verdana, Sans-serif;
	color: #000;
}
.RadUploadTable TD
{
	padding: 4px;
}
.RadUploadButtonArea
{
	background-color: Transparent;
}

.RadUploadButton, .radUploadButtonMedium
{
	background-image: url(Img/radUploadBtnMedium.gif);
	background-repeat: no-repeat;
	border: 0px;
	height: 23px;
	width: 114px;
	background-color: #fff;
	font: normal 11px Arial, Verdana, Sans-serif;
	color: #000;
}

.RadUploadButtonsml
{
	background-image: url(Img/radUploadBtnSmall.gif);
	background-repeat: no-repeat;
	border: 0px;
	height: 23px;
	width: 68px;
	background-color: #fff;
	font: normal 11px Arial, Verdana, Sans-serif;
	color: #000;
}




.RadUploadButtonDisabled
{
	background-image: url(Img/radUploadBtnMedium.gif);
	background-repeat: no-repeat;
	border: 0px;
	height: 23px;
	width: 114px;
	background-color: #fff;
	font: normal 11px Arial, Verdana, Sans-serif;
	color: #000;
	filter:alpha(opacity=30);
	-moz-opacity:0.5;
	opacity: 0.5;
}

.RadUploadFileSelector
{
	/* checkbox */
}

.RadUploadInputField
{
	width: 5px;
	background-image: url(Img/RadUploadInputField.gif);
	background-repeat: no-repeat;
	_background-attachment: fixed;
	_width: 65px;
	background-color: Transparent;
	border: 0px;
	vertical-align: top;
	height: 24px;
	font-family: Arial, Verdana, Sans-Serif;
	font-size: 11px;
	color: #000;
	font-weight: normal;
	padding-top: 3px;
	padding-left: 7px;
}

input.RealFileInput
{
	position: relative;
	-moz-opacity: 0;
	filter: alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
	width:155px;
}

.RadUploadSelectButton
{
	border: 0px;
	background-image: url(Img/select.gif);
	background-repeat: no-repeat;
	background-color: Transparent;
	font: normal 11px Arial, Verdana, Sans-serif;
	color: #000;
	height: 23px;
	width: 81px;
}

.RadUploadRemoveButton
{
	border: 0px;
	background-color: Transparent;
	background-image: url(Img/radUploadBtnSmall.gif);
	background-repeat: no-repeat;
	font: normal 11px Arial, Verdana, Sans-serif;
	color: #000;
	height: 22px;
	width: 66px;
	float: right;
}

.RadUploadClearButton
{
	border: 0px;
	background-color: Transparent;
	background-image: url(Img/radUploadBtnSmall.gif);
	background-repeat: no-repeat;
	font: normal 11px Arial, Verdana, Sans-serif;
	color: #000;
	height: 22px;
	width: 66px;
	float: right;
}

input.NoSkinnedFileUnput
{
	border: solid 1x #1a43b0;
}

