@media screen {
html {
	overflow: hidden;
}
body {
	padding:0;
	margin:0;
	background: white;
	font-family: helvetica, arial;
	font-size: 14px;
	color: #666666;
}
img {
	border: 0;
}
#screensaver {
	width: 1358px;
	height: 768px;
	position:absolute;
	top:0;
	left:0;
	z-index: 9999;
	display: none;
}
#video {
	width: 1358px;
	height: 768px;
	position:absolute;
	top:0;
	left:0;
	z-index: 8888;
	display: none;
	background: #000000;
	opacity: 0.6;
}
#video_swf 
{
    left:494px;
    top:219px;
    z-index: 8999;
    position: absolute;
    background: #000000;
    opacity: 1.0;
    display: block;
    padding: 50px;
    display: none;
    
}
#container {
	width: 1358px;
	height: 766px;
	border: 1px solid #666666;
	overflow: hidden;
	float:left;
}
#page_container {
	width: 15000px;
	float: left;
}
#footer {
	position: fixed;
	top: 681px;
	z-index: 10;
}
#main_home,#main_search,#main_live,#main_gallery,#main_amenities,#main_neighborhood,#main_services,#main_about,#main_details {
	width: 1333px;
	height: 680px;
	margin: 0;
	position: relative;
	top: 25px;
	left: 25px;
	float: left;
	margin-right: 100px;
	overflow: hidden;
}
#main_search, #main_details 
{
    visibility: hidden;
}
#navi {
	margin: 0;
	padding: 0;
	position: relative;
	top: 37px;
	width: 1358px;
	height: 49px;
	background: url('../../images/Riverhouse/navi_bg.jpg') repeat-x;
}
#menu {
	position: relative;
	top: 3px;
	left: 24px;
}
#menu img {
	cursor: pointer;
}
#results_labels, #search_results,#search_sort {
	margin-left: 25px;
	width: 1050px;
}
#search_results {
	overflow:hidden;
	height: 600px;
}
#search_sort img {
	margin-right:11px;
	margin-bottom: 15px;
}
#search_scroll {
	margin-top:46px;
	margin-left: 10px;
	margin-right: 15px;
}
#search_scroll img {
	margin-bottom:10px;
}
#details_header {
	font-size: 20px;
}
#details_header img {
	position: relative;
	top: 3px;
}
#details_body {
	width: 1308px;
	height: 553px;
	border: 1px solid #c9d1d4;
	background: #ece5db;
	margin-top: 10px;
}
#details_gallery {
	margin-top: 10px;
	margin-left: 10px;
	width: 861px;
	height: 531px;
	background: #ffffff;
	border: 1px solid #bdbfbc;
	float: left;
	overflow: auto;
}
#details_gallery_image2, #details_gallery_image1 {
	width: 861px;
	height: 510px;	
}
#details_gallery_image2 img, #details_gallery_image1 img{
	margin: 0 auto;
	vertical-align: middle;
}
#details_gallery_image2{
	position:relative;
	top:-510px;
	z-index: 2;
}
#details_gallery_image1{
	position:relative;
	z-index: 3;
}
#details_content {
	width: 400px;
	height: 510px;
	float: left;
	margin-left: 20px;
	margin-top: 12px;
}
#details_content big{
	font-size: 20px;
}
#details_content table td{
	font-size: 15px;
	border-bottom: 1px solid #d2c5b2;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #6d6d6d;
}
#details_navi {
	height: 30px;
	width: 1272px;
	margin-top: 20px;
	margin-left: 25px;
}
#search_sort img 
{
    cursor: pointer;
}
.search_filters {
	width: 179px;
	height: 30px;
	background: url('../../images/Riverhouse/search_filter_bg_off.jpg');
}
.search_filters_active 
{
    background: url('../../images/Riverhouse/search_filter_bg_on.jpg');
}
.search_filters div {
	font-family: arial;
	font-size:14px;
	overflow: hidden;
	color: #ee3024;
	margin-left: 30px;
	padding-top: 7px;
}
.search_filters_active div {
	color: white;
}
.search_row {
	margin-bottom:10px;
	height: 77px;
	width: 1050px;
	background-color: #ebe5dc;
	cursor: pointer;
}
.search_row div {
	margin-top: 1px;
	float: left;
	padding-top:30px;
	height: 45px;
	margin-right: 11px;
	text-align: center;
}
.search_row div.unit {
	height: 75px;
	width: 186px;
	padding: 0;
	text-align: left;
	line-height:26px;
}
.search_row div.unit table {
	margin-left: 1px;
}
.search_row div.unit img {
	margin-left: 7px;
	margin-right: 7px;
}
.search_row div.building {
	width: 156px;
}
.search_row div.floor {
	width: 164px;
}
.search_row div.sqf {
	width: 195px;
}
.search_row div.price {
	width: 125px;
}
.search_row div.available {
	width: 167px;
	margin-right: 0;
}
#search_results div.search_row:hover{
	background-color: #ffffff;
	color: red;
}
#search_results_row_loading 
{
    visibility: hidden;
    position: relative;
    top:-600px;
    
}
#gallery_container {
	float: left;
	width: 1325px;
	height: 560px;
	overflow: hidden;
}
#galleries {
	height: 10000px;
	overflow: hidden;
	width: 1325px;
	float: left;
}
#galleries div {
	float: left;
	width: 1325px;
	height: 560px;
	margin-bottom: 100px;
	overflow: hidden;
}
#galleries div img {
	width: 179px;
	height: 179px;
	float: left;
	margin-right: 9px;
	margin-bottom: 7px;
}
#galleries_menu img {
	float: left;
	margin-right: 9px;
	margin-bottom: 7px;
	cursor: pointer;
	
}
#gallery_detail_thumbs {
margin-bottom: 60px;
}
#gallery_detail_thumbs * {
	float:left;
}
#gallery_detail_thumbs img {
	cursor: pointer;
}
#gallery_detail_thumb_container {
	width: 275px;
	overflow:hidden;
	height: 82px;
}
#gallery_detail_thumb_images {
	height: 82px;
	width: 1000px;
	float: left;
}
#gallery_detail_misc {
	position: relative;
	top: 15px;
}
#gallery_detail_thumb_images img {
	margin-right: 14px;
	border: 1px solid white;
}
#gallery_detail_thumb_images img.active_thumb {
	border: 1px solid #ff0000;
}

/*begin filter expanded menu*/
    #filter td.filter_top_left  
    {
        background: url(../../images/Riverhouse/search_filter_top_left_bg.png);
    }
    #filter td.filter_top_right { 
	background: url(../../images/Riverhouse/search_filter_top_right_bg.png);
    }    
    #filter td.filter_bottom_left { 
	background: url(../../images/Riverhouse/search_filter_bottom_left_bg.png);
    }
    #filter td.filter_bottom_right { 
	background: url(../../images/Riverhouse/search_filter_bottom_right_bg.png);
    }    
    #filter td.filter_bottom { 
	background: url(../../images/Riverhouse/search_filter_bottom_bg.png);
    }
    #filter td.filter_top { 
	background: url(../../images/Riverhouse/search_filter_top_bg.png);
    }    
    #filter td.filter_left { 
	background: url(../../images/Riverhouse/search_filter_left_bg.png);
    } 
    #filter td.filter_right { 
	background: url(../../images/Riverhouse/search_filter_right_bg.png);
    }
    #filter td.navigation { 
	background: url(../../images/Riverhouse/search_filter_dropdown_bg.png) top right no-repeat #ef3424;
	padding: 7px;	
    }  
    #filter td.navigation a 
    {
	        font-family: Arial;
	        color: White;
	        text-decoration: none;
	        font-size: 16px;
	        width: 100%;
	        display:block;
	        line-height: 28px;
    }

    #filter table { /* second-level lists */
      position: absolute;
      z-index: 100;
      left: -999em;

      /* using left instead of display to hide menus because display: none isn't read by screen readers */
    }
    
    #filter table div /*this negates component arts' callback adding a div tag*/
    {
        margin: 0;
        padding: 0;
    }
    
    #filter hr 
    {
      border-top: 1px dashed #fff;
      border-bottom: none;
      color: #fff;
      background-color: transparent;
      height: 1px;      
    }
    #filter_floor_buttons_container 
    {
     width:180px;   
    }
    .filter_floor_buttons 
    {
     border: 1px dashed #fff;
     float: left;
     height: 28px;
     width: 28px;
     text-align: center;
     /*margin set as direct parameter*/
    }
#filter div div 
{
    cursor: pointer;
}
}

@media print 
{
body {
	padding:0;
	margin:0;
	background: white;
	font-family: arial;
	font-size: 14px;
	color: #666666;
}
img {
	border: 0;
}
div 
{
    display: none;   
}

#container 
{
    display: block;
	width: 1358px;
	height: 766px;
	overflow: hidden;
	margin: 0 auto;
}
#page_container 
{
    display: block;   
}
#main_details
{
    display: block;
}
#main_details div 
{
    display: block;   
}
#details_header {
	font-size: 20px;
}
#details_header img {
	position: relative;
	top: 3px;
}
#details_body {
	width: 1308px;
	height: 553px;
	border: 1px solid #c9d1d4;
	background: #ece5db;
	margin-top: 10px;
}
#details_gallery {
	margin-top: 10px;
	margin-left: 10px;
	width: 861px;
	height: 531px;
	background: #ffffff;
	border: 1px solid #bdbfbc;
	float: left;
	overflow: auto;
}
#details_gallery_image2, #details_gallery_image1 {
	width: 861px;
	height: 510px;	
}
#details_gallery_image2 img, #details_gallery_image1 img{
	margin: 0 auto;
	vertical-align: middle;
}
#details_gallery_image2{
	position:relative;
	top:-510px;
	z-index: 2;
}
#details_gallery_image1{
	position:relative;
	z-index: 3;
}
#details_content {
	width: 400px;
	height: 510px;
	float: left;
	margin-left: 20px;
	margin-top: 12px;
}
#details_content big{
	font-size: 20px;
}
#details_content table td{
	font-size: 15px;
	border-bottom: 1px solid #d2c5b2;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #6d6d6d;
}
#details_navi {
	display: none;
}
#gallery_detail_thumbs {
margin-bottom: 60px;
}
#gallery_detail_thumbs * {
	float:left;
}
#gallery_detail_thumbs img {
	cursor: pointer;
}
#gallery_detail_thumb_container {
	width: 365px;
	overflow:hidden;
	height: 82px;
}
#gallery_detail_thumb_images {
	height: 82px;
	width: 1000px;
	float: left;
}
#gallery_detail_misc {
	position: relative;
	top: 15px;
}
#gallery_detail_thumb_images img {
	margin-right: 14px;
	border: 1px solid white;
}
#gallery_detail_thumb_images img.active_thumb {
	border: 1px solid #ff0000;
}

#detail_gallery_thumb_next,#detail_gallery_thumb_prev ,.lblAptNext,.lblAptPrev,.navi_search,#print_button
{
    display: none;   
}
}
.amenities_item 
{
    float: left;
    width: 433px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    margin-right: 6px;
    margin-top: 7px;
    border-bottom: 1px solid #e1d8cc;   
}
.services_item 
{
    float: left;
    width: 424px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    margin-right: 16px;
    margin-bottom: 7px;
    border-bottom: 1px solid #e1d8cc; 
    position: relative;
    top: -3px;  
}

      
/*end filter expanded menu*/    