<%@ Page Language="vb"  AutoEventWireup="false"  Debug="true" CodeBehind="result.aspx.vb" Inherits="PhotoArchivesPublicSearch.result" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head><title>Photo Archives Query Results</title>

<link rel="stylesheet" href="css/normal_body.css">
<link rel="stylesheet" href="css/normal_body_print.css">
<link rel="stylesheet" href="css/style.css">
<script language="javascript" src="js/general.js"></script>
<style type="text/css">
#padding { padding: 20px; }

.box { float: left; width: auto; margin-right: 5px; padding: 3px 10px; color: #cecece; font-weight: bold; text-transform: uppercase; border: 1px outset; background: #d46a29; }
.box p { margin: 0; padding: 0; }
.box a:link, .box a:visited, .box a:hover { color: #fff; }
</style>


</head>
<body bgcolor="#D2D7A4" text="#000000" link="#000000" alink="#ffffff" vlink="#0000ff">

<br>


<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
    <td><img src="/images/spacer.gif" width="28" height="1" alt=""></td>


    <td>
    <table cellpadding="0" cellspacing="0" width="100%" border="0">
        <tr>
            <td align="left" valign="top"><font face="Verdana, Arial, Helvetica, sans-serif">

<div style="clear: both; overflow: hidden; width: 550px; margin-bottom: 5px;">
        <div class="box"><p><asp:HyperLink ID="topPrevLink" runat="server">Prev</asp:HyperLink></p></div>

        <div class="box"><p><asp:HyperLink ID="topNextLink" runat="server">Next</asp:HyperLink> </p></div>

        <asp:placeholder ID="placeholderTop" runat="server"></asp:placeholder>
</div>


<div style="clear: both; overflow: hidden; width: 550px; margin-bottom: 5px;">
        <div class="box"><p><a href="http://online.ushmm.org/photoarchive/recognize/">Recognize Someone?</a></p></div>
</div>


<%if totalAssets <> 0 then %>
    <p><asp:Label ID="lblTotalAssets" runat="server"></asp:Label> photos found for the query "<b><asp:Label ID="lblQueryText" runat="server"></asp:Label></b>" on database(s)
Photo Archives.</p>
<%end if %></td>
            <td align="right" valign="top"><a href="http://www.ushmm.org"><img src="images/ushmm_logo.gif" alt="" /></a></td>
        </tr>
    </table>

  <table width="100%" bgcolor="#000000" border="0" cellpadding="0" cellspacing="0">

  <tr>
      <td><img src="/images/spacer.gif" width="1" height="7" alt=""></td>
  </tr>
  </table><br>
<%if totalAssets <> 0 then %>
<p>Viewing photo(s) <asp:Label ID="lblResultBottom" runat="server"></asp:Label> to <asp:Label ID="lblResultTop" runat="server"></asp:Label> of <%=totalAssets %> photos.</p>
  <table cellpadding=5 cellspacing=0 border=0>
  
  <%itemcount = pagesize*ipage %>
  <asp:Repeater ID="Repeater1" runat="server">
  <ItemTemplate>
  <tr valign=middle>
  <td><font size=+2><%=itemcount+1%><%itemcount=itemcount+1%></font></td>
  <td><a href="detail.aspx?id=<%#Container.DataItem("asset_id")%>&search=<%=server.urlencode(Request.querystring("search"))%>&index=<%=itemcount %>"><img  
 src="<%=Session("WSRetreiveAsset") & "qfactor=2&width=120&height=120&crop=0&size=1&type=asset&id=" %><%#Container.DataItem("asset_id")%>" border="0" /></a></td>

  <td><a href="detail.aspx?id=<%#Container.DataItem("asset_id")%>&search=<%=server.urlencode(Request.querystring("search"))%>&index=<%=itemcount %>"><%#formatdescription(Container.DataItem("description"))%></a><font size="2"> [Photograph #<%#Container.DataItem("name")%>]</font></td>
  </tr>
  </ItemTemplate>
  </asp:Repeater>
  
  </table>
  <%else %>
<%response.write("No Photos Found.") %><br /><br />
<%end if %>
<br />

<div style="clear: both; overflow: hidden; width: 550px; margin-bottom: 5px;">

            <div class="box"><p><asp:HyperLink ID="bottomPrevLink" runat="server">Prev</asp:HyperLink></p></div>

            <div class="box"><p><asp:HyperLink ID="bottomNextLink" runat="server">Next</asp:HyperLink></p></div>


                
            </div>








</font>

    </td>


    <td><img src="/images/spacer.gif" width="28" height="1" alt=""></td>

</tr>
</table>

</body>
</html>
