﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="return.ascx.vb" Inherits="PhotoArchivesPublicSearch._return" %>
         <div class="box"><p><a href="catalog.aspx">NEW QUERY</a></p></div>
         <asp:literal ID="linkReturn" runat="server"></asp:literal>