<%@ Register TagPrefix="ComponentArt" Namespace="ComponentArt.Web.UI" Assembly="ComponentArt.Web.UI" %>
<%@ Control Language="vb" AutoEventWireup="false" Codebehind="ProjectSoftUpload.ascx.vb" Inherits="IDAM5.ProjectSoftUpload" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<font face="Arial" size="2">
	<table cellpadding="0" cellspacing="0">
		<tr>
			<td>
				<COMPONENTART:CALLBACK id="FileUploadCallback"  runat="server" CacheContent="false">
					<CONTENT>
						<asp:Literal id="Literal_FileUploadProgress" Text="" runat="server" />
					</CONTENT>
				</COMPONENTART:CALLBACK>
			</td>
		</tr>
	</table>
	<input type="file" Class="InputFieldFileMain" size="14" name="thefile" id="thefile" runat="server"></font>
<asp:TextBox id="Textbox_Clienttest" Width="150px" CssClass="InputFieldMain" runat="server" />
<br>
<input type='button' Class="InputButtonMain" onclick="javascript:startUploadFileup();"
	width="40" value="Save" id="upload" name="upload" runat="server">
<asp:textbox id="repository_id" Visible="false" runat="server">1</asp:textbox>
<asp:textbox id="project_id" runat="server" Visible="false">
	<%=request.querystring("Id")%>
</asp:textbox>
<asp:textbox id="security_id" runat="server" Visible="false">3</asp:textbox>
<asp:textbox id="user_id" runat="server" Visible="false">1</asp:textbox>
<asp:textbox id="name" runat="server" Visible="false">test.tif</asp:textbox>
<asp:textbox id="description" runat="server" Visible="false"></asp:textbox>
<asp:textbox id="category_id" runat="server" Visible="false">0</asp:textbox>
<asp:textbox id="instance_id" runat="server" Visible="false">IDAM_RIM</asp:textbox>
<asp:textbox id="txtRedirect" runat="server" Visible="false">http://localhost/IDAMFileUpload/FileUpload.aspx</asp:textbox>
<script language="javascript">

function startUploadFileup() {
var test;
test = 'test';
alert('hey');
//<%response.write (FileUploadCallback.ClientID)%>.Callback(test);
alert('done');
}

</script>
