@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Oswald);

body,
html,
div {
     margin: 0;
     padding:0;
 }

 body {
 	background: transparent url('../images/bg.jpg') fixed top center;
 	overflow:hidden;
 }

.placeholder {
 	margin-top:10px;
 	width: 800px;
 	height: 390px;
}
.placeholder img {
	width: 800px;
 	height: 390px;
}
.content_container {
 	margin-top:14px;
 	float: left;
 	width: 800px;
}
 
.page {
     width: 1024px;
     height: 768px;
}


.menu_bar {
    width:194px;
    height:100%;
    margin-left:0px;
    background: transparent url('../images/menu_bg.png');
    position: fixed;
}

.menu_container {
    clear: both;
    width: 174px;
    margin: 0 auto;
}

.menu_logo {
    width: 174px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 12px;
    
}

.menu_item {
    margin-bottom: 5px;
    width: 174px;
    height: 47px;
    background: url('../images/bg_menu_passive.jpg');
    font-family: Oswald;
    font-size: 16px;
    color: #616263;
    line-height: 47px;
    cursor:pointer;
    text-transform:uppercase;
    text-align: center;
}


.menu_item_active {
    background: url('../images/bg_menu_active.jpg');
    color: white;
}

.menu_video {
    margin-top: 149px;
}
.menu_favorite_cart {
    width:161px;
    height:238px;
    background: #99978a;
    padding-left: 7px;
    padding-right: 7px;
    display:none;
    margin-top: 10px;
}
.menu_favorite_cart_header {
    margin-top: 15px;
    font-family: Oswald;
    font-size: 14px;
    color: white;
    float:left;
    width:100%;
}

.menu_favorite_cart_unit_container {
    background: white;
    padding: 14px;
    width: 133px;
    height: 110px;
    float:left;
    margin-top:10px;
}
.menu_favorite_cart_unit_container_title {
   font-family: Oswald;
   font-size: 16px;
   color: #616263;
   float:left;
}
.menu_favorite_cart_unit_container_details_container {
   margin-top: 16px;
   float:left;
   
}
.menu_favorite_cart_unit_container_details_container_image {
   width: 66px;
   float: left;
}
.menu_favorite_cart_unit_container_details_detail {
   float: left;
   font-family: Open Sans;
   font-size: 12px;
   color: #616263;
}

.menu_favorite_cart_unit_container_details_detail b {
   font-size: 18px;	
}
.menu_favorite_cart_button_container {
  float:left;
  margin-top: 15px;
  width: 100%;
}
.menu_favorite_cart_left,.menu_favorite_cart_button_container_left,.menu_favorite_cart_button_container_center {
	float: left;
	text-transform: uppercase;	
}
.menu_favorite_cart_button_container_center {
	margin-left:30px;
	font-family: Oswald;
	font-size: 18px;
	color: #616263;
	width: 37px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-weight: bold;
	background: #acab9f;
}
.menu_favorite_cart_right,.menu_favorite_cart_button_container_right {
	float: right;	
}
.menu_slogan {
    color: white;
    font-size: 12px;
    text-align: center;
    text-transform:uppercase;
    font-family: Oswald;
    margin-top: 30px;
    position:relative;
    margin-top:15px;
}

.content {
	width: 800px;
	margin-left: 204px;
	padding-top:50px;
	position:fixed;
	height:100%;
	overflow:hidden;
}

.content_page, .search_result {
	width: 100%;
	height: 730px;
	margin-bottom: 380px;
	position:relative;
	
}

.search_result {
	position: relative;
	top: -35px;
}

.content_title {
	font-family: Oswald;
	font-weight: normal;
	font-size: 28px;
	text-transform:uppercase;	
	color: white;
}

.search_result_header {
	font-family: Oswald;
	font-weight: normal;
	font-size: 13px;
	text-transform:uppercase;	
	color: white;
	margin-top: 5px;
	margin-bottom: 12px;
	width: 100%;
	float: left;
	
}
.search_results_crumbs {
	float: left;
}
.search_results_showing {
	float: right;	
}
.search_result_container {
	width: 800px;
	height:532px;
	background: #98978a;
	clear: both;
	padding-bottom: 12px;
	position:relative;
}
.search_result_scroll_bars_short {
	position: absolute;
	top:60px;
	left:754px;
	width: 42px;
		
}

.search_result_scroll_bars {
	display:none;
		
}

.search_result_scroll_bars_short img {
	margin-bottom: 1px;	
}
.search_result_sort {
	margin-top:10px;
	margin-left: 9px;
	float: left;
	height: 33px;
	width: 100%;
	margin-bottom: 15px;
}
.search_menu_button {
	width: 183px;
	height: 33px;
	background: url('../images/search_menu_passive.png');
	float:left;
	margin-right: 1px;
	font-family: Oswald;
	font-size: 14px;
	color: white;
	line-height: 31px;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
}
.search_menu_button_active {
	background: url('../images/search_menu_active.png');
}
.search_menu_button_narrow {
	width: 118px;
	height: 33px;
	background: url('../images/search_menu_narrow_tablet_passive.png');
	float:left;
	margin-right: 1px;
	font-family: Oswald;
	font-size: 14px;
	color: white;
	line-height: 31px;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
}
.search_menu_button_narrow_active {
	background: url('../images/search_menu_narrow_tablet_active.png');
}
.search_menu_text {
	margin-left: 12px;
	float: left;
	
}
div.search_menu_sort_direction {
	float:right;
	margin-right: 7px;
	margin-top: 15px;
	
}
div.search_menu_apartment_text {
	width: 72px;
	height: 33px;
	color: #dbdbda;
	font-family: Oswald;
	font-size: 13px;
	float:left;
	text-transform: uppercase;
	text-align: center;
	line-height: 15px;	
}
.search_menu_dropdown {
	position: absolute;
	top: 33px;
	width: 150px;
	z-index: 10;
	font-family: Open Sans;
	font-size: 14px;
	color: white;
	line-height: 40px;
	padding-left: 33px;
	background: url('../images/search_menu_dropdown_bg.jpg') #6a6b6c top repeat-x;
	display:none;
	cursor: pointer;
}
.search_menu_dropdown_narrow {
	position: absolute;
	top: 33px;
	width: 128px;
	z-index: 10;
	font-family: Open Sans;
	font-size: 14px;
	color: white;
	line-height: 40px;
	padding-left: 20px;
	background: url('../images/search_menu_dropdown_bg.jpg') #6a6b6c top repeat-x;
	display:none;
	cursor: pointer;
}
.search_menu_button_container {
	position:relative;
	float:left;
}
.search_result_listing_container {
	width: 800px;
	clear: both;
	height: 474px;
	overflow: hidden;
}
.search_result_row_container {
	float: left;
	width: 736px;
	height: 77px;
	margin-bottom: 2px;
	margin-left: 10px;
	color: black;
	font-family: Open Sans;
	font-size: 14px;
	cursor: pointer;
	overflow: hidden;
}
.search_result_row_result {
	background: white;
	width: 656px;
	height: 77px;
	float: left;
	overflow: hidden;
}
.search_result_row_result_add_button {
	width: 77px;
	height: 77px;
	float: left;
	cursor: pointer;
	margin-left:3px;
	margin-top:1px;
}

.search_result_row_image {
	width: 85px;
	height: 77px;
	text-align:center;
	float: left;
}
.search_result_row_type{
	width: 95px;
	height: 77px;
	line-height: 77px;
	text-align: center;
	float: left;
	
}
.search_result_row_price {
	width: 115px;
	height: 77px;
	line-height: 77px;
	text-align: center;
	float: left;
	margin-left: 4px;
}
.search_result_row_area {
	width: 115px;
	height: 77px;
	line-height: 77px;
	text-align: center;
	float: left;
	margin-left: 4px;
}
.search_result_row_floor {
	width: 115px;
	height: 77px;
	line-height: 77px;
	text-align: center;
	float: left;
	margin-left: 4px;
}
.search_result_row_available {
	width: 115px;
	padding-top:24px;
	text-align: center;
	float: left;
	margin-left: 4px;
}
.search_result_row_available span {
	color: #6a6b6c;
}

.unit_floorplan_carousel_container {
	position:relative;
	overflow:hidden;
	width:800px;
	height:533px;
	background: white;
	margin-top:15px;
}

.unit_floorplan_image {
	float:left;
	width: 546px;
	text-align: center;
}
.unit_floorplan_details_container {
	float: left;
	width: 216px;
}
.unit_floorplan_details_title {
	margin-top: 23px;
	color: #9b9c9d;
	font-family: Oswald;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.unit_floorplan_details_row {
	background: #f3f3f3;
	line-height: 28px;
	float:left;
	width: 100%;
	margin-bottom: 3px;
	

}
.unit_floorplan_details_row td {
	vertical-align: top;
}
.unit_floorplan_details_subtitle,.unit_floorplan_details_detail {
	font-family: Open Sans;
	font-size: 12px;
	color: #666666;
}
.unit_floorplan_details_subtitle {
	width:110px;
	margin-left: 12px;
	text-transform: uppercase;
}
.unit_floorplan_details_detail {
	font-weight: bold;
}
.unit_floorplan_details_misc {
	width: 216px;
	height:150px;
	background: #f3f3f3;
	margin-top:10px;
	float:left;
}
.unit_floorplan_details_buttons {
	float:left;
	width:800px;
	height: 61px;
	margin-top:10px;
	
	
}
.unit_floorplan_details_button {
	width:130px;
	height:61px;
	background:url('../images/unit_floorplan_button_bg.png');
	line-height:59px;
	text-align:center;
	font-family: Oswald;
	font-size: 14px;
	color: #616263;
	text-transform: uppercase;
	margin-right: 7px;
	float: left;
	cursor: pointer;
}
.unit_floorplan_details_button:hover {
	color: white;
	background: url('../images/unit_floorplan_button_active_bg.png');
}
.unit_floorplan_details_add_button {
	width:163px;
	height:61px;
	background:url('../images/add_my_apartment_s_bg.png');
	line-height:59px;
	font-family: Oswald;
	font-size: 14px;
	color: white;
	text-transform: uppercase;
	float: left;
}
.unit_floorplan_details_add_button div {
	margin-left: 50px;
}
.unit_floorplan_carousel_left_button,.unit_floorplan_carousel_right_button{
	position: absolute;
	z-index: 10;
	width:40px;
	height:32px;
}
.unit_floorplan_carousel_left_button {
	top:272px;
	left:0px;
	background:url('../images/prev-horizontal.png');
}
.unit_floorplan_carousel_left_button:hover {
	background-position: -40px 0;
}
.unit_floorplan_carousel_left_button:focus {
	background-position: -80px 0;
}
.unit_floorplan_carousel_left_button_disabled {
	background-position: -120px 0;
}
.unit_floorplan_carousel_right_button {
	top:272px;
	right:0px;
	background:url('../images/next-horizontal.png');
}
.unit_floorplan_carousel_right_button:hover {
	background-position: -40px 0;
}
.unit_floorplan_carousel_right_button:focus {
	background-position: -80px 0;
}
.unit_floorplan_carousel_right_button_disabled {
	background-position: -120px 0;
}
.back_to_search_button {
	float: right;
	margin-bottom: 10px;
	position:relative;
	left: 8px;
	margin-top: 7px;
}
.print_button {
	margin-left: 363px;
}

.gallery_footer_container {
	float:left;
	height:182px;
	width:800px;
	margin-top: 18px;	
}
.gallery_footer_left,.gallery_footer_center,.gallery_footer_right {
	float:left;
	height:180px;
	overflow:hidden;
	width: 258px;	
}
#mapSelection,#gallery_selection {
	width: 262px;	
}
.gallery_footer_double{
	float:left;
	height:180px;
	overflow:hidden;
	width: 524px;
	margin-right: 10px;	
}
.gallery_footer_container .about_us_blurb {
	font-size: 12px;
	font-family: Open Sans;	
}
.gallery_footer_left b,.gallery_footer_center b,.gallery_footer_right  b,.gallery_footer_double b {
	font-weight: normal;	
}
.gallery_footer_left,.gallery_footer_right,.gallery_footer_double,.gallery_footer_center  {
	border: 1px solid #999999;	
}
.gallery_footer_left, .gallery_footer_double,.gallery_footer_center {
	background:url('../images/gallery_footer_bg.png');
	
}
.gallery_footer_left div,.gallery_footer_double div {
	margin-left: 21px;
	margin-top: 17px;
	margin-right: 14px;
	font-family: Open Sans;
	color: white;
	font-size: 14px;
}
.gallery_footer_left div b,.gallery_footer_double div b{
	color: #dbdbda;
	font-family: Oswald;
	font-size: 20px;
	text-transform: uppercase;
}
.gallery_footer_center {
	margin-left: 10px;
	margin-right: 10px;
	position: relative;	
}
/*deprecated
.gallery_footer_center div {
	position: absolute;
	width: 100%;
	height: 52px;
	line-height: 52px;
	font-family: Oswald;
	font-size: 20px;
	color: #dbdbda;
	top:0;
	left:0;
	z-index: 10;
	text-transform: uppercase;
	background:url('../images/meet_our_residents_bg.png');
	padding-left: 30px;
	padding-right: 30px;	
}
*/
.gallery_footer_right {
	background: #1d2123;	
}
.gallery_footer_right div.gallery_button_header {
	margin-left: 21px;
	margin-top: 17px;
	margin-bottom: 10px;
}
.gallery_footer_right div.gallery_button_header b{
	color: #dbdbda;
	font-family: Oswald;
	font-size: 20px;
	text-transform: uppercase;
}
.gallery_button {
	float:left;
	border: 1px solid #1a1c1d;
	width: 128px;
	height: 59px;
	background: url('../images/gallery_button_bg.jpg');
	color: #616263;
	font-family: Oswald;
	font-size: 14px;
	line-height: 59px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;	
}
.gallery_button_odd {
	margin-left: 1px;	
}
.gallery_button_active {
	background: url('../images/gallery_button_active_bg.jpg');
	color: white;
}
.content_container_resident_services {
	border: 1px solid #999999;
	margin-top:14px;
	float: left;
	background:url('../images/gallery_footer_bg.png');
	width:798px;
}
.resident_services_images_container {
	width: 483px;
	height: 407px;
	overflow: hidden;
	float: left;
	
}
.resident_services_image {
	float: left;
	margin-left: 4px;
	width: 72px;
	height: 407px;
	position: relative;	
}
.resident_services_image img {
	position: absolute;
	z-index: 10;
	bottom: 10px;
	left: 50%;
	margin-left: -15px;
	cursor: pointer;	
}
#resident_services_image_1  {
	width: 331px;
	margin-left: 0;
	background: url('../images/resident_services_1.jpg') top right;
}
#resident_services_image_1 img {
	display: none; /*start state*/	
}
#resident_services_image_2 {
	background: url('../images/resident_services_2.jpg') top center;
}
#resident_services_image_3{
	background: url('../images/resident_services_3.jpg') top right;
}
.resident_services_text_container {
	float: left;
}
.resident_services_text {
	color: white;
	font-family: Open Sans;
	font-size: 14px;
	width: 282px;
	margin-left: 10px;
	margin-top: 10px;
}

#resident_services_text_1,#resident_services_text_2,#resident_services_text_3 {
	display:none;
}
.live_here_footer_container {
	height: 181px;
	float: left;
	margin-top: 67px;

}
.live_here_footer_left_container {
	float: left;
	height: 150px;
	width:452px;
	border: 1px solid #999999;
	background: url('../images/gallery_footer_bg.png');
}
.live_here_footer_left {
	float: left;
	margin-top: 15px;
	margin-left: 20px;
	color: #dbdbda;
	font-family: Open Sans;
	font-size: 12px;
	width: 384px;
}
.live_here_footer_left b {
	font-family: Oswald;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
}
.live_here_footer_right_container {
	float: left;
	height: 167px;
	width:334px;
	margin-left: 10px;
}
.small_button {
	background-position: center center;
	height: 30px;
	line-height: 30px;
	
}
.orange {
	color: #c7992b;	
}
.yellow {
	color: #f7da73;
}
#resident_services .gallery_footer_left div {
	font-size:13px;	
}
