#derr {
	position: absolute;
	top:400px;
	left:10%;
	width:80%;
	z-index: 9999;
	background-color: white;
	color:black;
	border: 1px solid black;
}
.derrline {
	border-bottom: 1px dashed #CCC;
	padding: 6px;
	margin-bottom: 5px;
}
.serr {
	display: inline-block;
	width: 40px;
}

.nav>ul {
	margin-left: 0;
}

.mCSB_container {
	overflow-y: scroll!important;
}

a {
	color: #4B4B4B;
}

#propSearch form input.q {
	position: relative;
	top: -6px;
}

div.box-info {

}