
.top-header {
    display: none;
    height: 0;
}
#navigation-lower.content,#property-navigation.content {
    margin-left: 0 !important;
    width: 98% !important;
}
#content.content {
    margin-left: 0 !important;
    width: 98% !important;
}
@media screen and (max-width: 1230px) {
    .nav {
        /*   width: 17%;*/
    }
    #content,#navigation-lower,#property-navigation {
        width: 78%;
    }
    .container_12, .container_16 {    width: 98% !important }
    .container_12 .grid_12, .container_16 .grid_16 {    width: 99% !important }
    .nav ul {
        /*/padding-left: 14% !important;/*/
        /*/width: 73% !important;/*/
    }
    .footer-p {
        padding-left: 14% !important;
    }

    .nav ul li a {    font-size: 12px }
    .main-office {    width: 100% !important }
    .main-office .properties-cell ul {    padding-left: 300px }
    .main-office > h2 {    padding-left: 300px !important }

	.container_12 .grid_4{
		width:21%!important;
	}

	.grid_8 .grid_4.alpha,.grid_8 .grid_4.omega{
		width: 40% !important;
	}

}

@media screen and (max-width: 1124px) {
    .awards {
        padding-left: 10px !important;
        margin-left: 0 !important;
        width: 90% !important;
    }
    #content,#navigation-lower,#property-navigation {
        width: 75%;
    }
    .awards p {    margin: 0 !important }
    .awards h3, .awards h2 {
        margin: 0 !important;
        margin-left: 20px !important;
    }
}
@media screen and (max-width: 1029px) {
    #inner-wrapper {
        width: 100%;
    }
	.inner-li .content{
		margin-left:0!important;
		  width: 69.8% !important;
	}
    #navigation-lower,#property-navigation {
        margin-left: 3%;
        margin-right: 3%;
        width: 94%;
    }
    .content #navigation-lower, .content #property-navigation {
        margin-left: 0;
    }
    .content {
        margin-left: 26% !important;
       /*/ width: 74.8% !important; /*/
    }
    .content #content {
        margin-left: 0;
    }
    .nav {
		margin-left: -210px;
	}
    .nav {
        background: url("../images/black-80.png") repeat scroll 0 0 #777777;
        height: auto;
        /*left: 3%;
        margin: 0 auto;*/
        opacity: 0.95;
        padding-bottom: 30px;
        z-index: 100;
    }
    .footer-p {    display: none ;}
    .nav .logo {
        display: none;
    }

    .top-header {
        background-image: url("../images/black-80.png");
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
        height: 120px;
        margin-bottom: 20px;
        margin-left: 230px;
        overflow: auto;
        position: relative;
        z-index: 12;
        margin-left: 3%;
        margin-right: 3%;
        /*   margin-top: 22px;*/
        width: 94%;
        display: block;
    }
    .top-header img {    margin-left: 30px }
    .top-header img.logo {
        display: block;
        margin: 0 auto;
    }
    #content {
        margin-left: 3%;
        margin-right: 3%;
        width: 94%;
    }
    /* .container_12 .grid_4 {    width: 20% !important;} */
    .container_12 .grid_8 {    width: 74% !important }
    .iframe {
        margin: 10px !important;
        width: 99% !important;
    }
    .container_12 .has-img {    width: 300px !important }
}
@media screen and (max-width: 1040px) {
	/* .tip-popper .box-info{
		bottom: -181px;
		width: 60%;
		left:208px;
	} */
	/* .tip-popper  .inner-li{
		bottom: -181px;
		width: 60%;
	} */
	/* .tip-popper  .inner-li{
		bottom: -181px;
		left:-190px	;
		width: 65%;
	} */
	.tip-popper .box-info img,.tip-popper  .inner-li img{
		width:90%;
	}

}
@media screen and (max-width: 810px) {
		#inner-wrapper.content,.top-header.content{
			margin-left:28.6% !important
		}
}
@media screen and (max-width: 780px) {
/* 	 .content {
		margin-left: 30.5% !important;
		width: 85.5% !important;
	} */
	.inner-li  .content {
		margin-left: 0% !important;
		width: 85.5% !important;
	}
	#inner-wrapper.content,.top-header.content{
			margin-left:29.6% !important
		}

}
@media screen and (max-width: 768px) {
    /* .container_12 .grid_4 {   }
    .container_12 .grid_4 h1 {
        text-align: left !important;
        width: 100% !important;
        padding-left: 10px !important;
    }
    .container_12 .grid_8 {
        margin-left: 40px !important;
        width: 620px;
    } */
}
@media screen and (max-width: 764px) {
    /* .container_12 .grid_4 {        width: auto !important;    } */
    .container_12 .grid_8 {    width: 100% !important }
    /* .person-organization .box-info,
	.tip-popper .box-info {
        right: -65px !important;
        left: auto;

    } */
    .container_12 .grid_8 {
        margin-left: 20px !important;
        width: 90% !important;
    }
    .container_12 .grid_6, .container_16 .grid_8 {    width: 90% !important }
}
@media screen and (max-width: 780px) {

	#inner-wrapper.content,.top-header.content{
			margin-left:29.6% !important;
		}

}
@media screen and (max-width: 740px) {

	#inner-wrapper.content,.top-header.content{
			margin-left:30.6% !important;
		}

}
@media screen and (max-width: 700px) {

	#inner-wrapper.content,.top-header.content{
			margin-left:35.6% !important;
		}

}



@media screen and (max-width: 700px) {

    .content {
       /*  margin: 22px 3% 15px !important;
        width: 94% !important; */
    }
   /*  .login {    margin-top: 100px !important } */
    .bar80 .grid_8 {    width: auto !important }
    .formcontain {    width: 100% !important }
    #subForm .colRight {
        display: block;
        left: 250px;
        position: static;
    }
    #subForm #message {    width: 210px }
} /*---hien----------------------------*/
@media screen and (max-width: 1145px) {
    .container_12 .grid_8 {
        max-width: 620px;
        width: 100% !important;
        clear: both;
    }
    #headlines .grid_4 h1 {
        text-align: left;
    }
    body #headline-rotate a {
        margin-top: -10px;
        max-width: 500px;
    }
} /*---hien----------------------------*/
@media screen and (max-width: 1090px) {
   /*  .rs-select-box {    display: block!important } */
   /*  .grid_8 .properties-cell ul {    display: none } */
   /*  .select-option {
        display: block;
        padding: 0 !important;
    } */
	.main-office .properties-cell ul {
		padding-left: 10%;
	}
    .prefix_4.grid_8.content {    padding-left: 0 }
} /*---hien----------------------------*/
@media screen and (max-width: 755px) {
	  .rs-select-box {    display: block!important }
	.grid_8 .properties-cell ul {    display: none }
     .select-option {
        display: block;
        padding: 0 !important;
    }
    .container_12>.grid_8, .cmsGroupItem>.grid_8, .content-properties>.grid_8 {    /* width: 90% !important */
        width:auto!important;
    }
    .grid_8.content {    margin-left: 20px !important }
    .grid_8 .properties-cell {    text-align: center }
    .container_12>.grid_4, .cmsGroupItem>.grid_4, .content-properties>.grid_4 {
        display: block;
        float:none;
        clear: both;
        width:auto!important;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .container_12>.grid_4 h1, .content-properties>.grid_4 h1, .cmsGroupItem>.grid_4 h1 {
        text-align: left;
    }

    .grid_4>h1 .cmsType_Image, .grid_4>h1 .cmsType_TextSingle {
        display: block;
        float:none!important;
        text-align: left!important;
    }

    #ContentPlaceHolderDefault_aspcontainer_news_3_newsRight {
        display: none;
    }
    #ContentPlaceHolderDefault_aspcontainer_news_3_newsdiv {
        width: auto!important;
        max-width: none!important;
    }
    .news-item>div.omega {
        width:auto!important;
    }

}

@media screen and (max-width: 700px) {
    /*---hien----------------------------*/
    .properties-cell > h2 {    text-align: center }
} /*---hien----------------------------*/
/* @media screen and (max-width: 682px) {
    .container_12 .grid_4 {    width: 28% !important }
} */
@media screen and (max-width: 620px) {
	#inner-wrapper.content, .top-header.content {
		margin-left: 37.6% !important;
	}
}
@media screen and (max-width: 610px) {
	.container_12 .grid_8 {
		width: 90% !important;
	}
	.container_12 .grid_4{
		width: 100% !important;
	}
    #headlines {
        height: 64px;
    }
    #headlines h1{
        text-align: left;
        margin-left: 10px;
    }
}
@media screen and (max-width: 575px) {
	#inner-wrapper.content, .top-header.content {
		margin-left: 40.6% !important;
	}
}
@media screen and (max-width: 540px) {
	/* .container_12 .grid_8{
		width:60%!important;
	} */
}

@media screen and (max-width: 520px) {
	#inner-wrapper.content, .top-header.content {
		margin-left: 45.6% !important;
	}
}
@media screen and (max-width: 480px) {
	#inner-wrapper.content, .top-header.content {
		margin-left: 50.6% !important;
	}
}
@media screen and (max-width: 410px) {
	#inner-wrapper.content, .top-header.content {
		margin-left: 55.6% !important;
	}
}
@media screen and (max-width: 385px) {
	#inner-wrapper.content, .top-header.content {
		margin-left: 60.6% !important;
	}
}
@media screen and (max-width: 350px) {
	#inner-wrapper.content, .top-header.content {
		margin-left: 65% !important;
	}
}
@media screen and (max-width: 330px) {
	#inner-wrapper.content, .top-header.content {
		margin-left: 70% !important;
	}
}

@media screen and (max-width: 490px) {
    .clear.clear-none {    clear: both }
    /* .container_12 .grid_4 {    width: 100% !important;    width:auto!important;} */
}
@media screen and (max-width: 485px) {
	/*  .person-organization .box-info, .tip-popper .box-info {
        right: -25px !important;
        left: auto;

    } */

}
@media screen and (max-width: 460px) {
    #propSearch {    top: 40px !important }
    .container_12 .grid_8 {
        margin-left: 20px !important;
        width: 90% !important;
    }
}
@media screen and (max-width: 460px) {
    .image-container img {    width: 90% !important }
}

@media screen and (max-width: 430px) {
	/*  .person-organization .box-info, .tip-popper .box-info {
        right: 65px !important;
        left: auto;

    } */
}
@media screen and (max-width: 300px) {
    .videoLink img {
        width: 90%;
    }
    .videoLink em {
        width: 90%;
        height: 100%;
    }
}

@media screen and (max-width: 520px) { /*/ iPhone mode /*/
    .top-header, #content {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        margin-bottom: 8px;
    }
    .top-header {
        margin-bottom: 8px;
    }

    .popup>img {
        margin-left: 10px;
    }
    .popup>span {
        display: none;
    }

    #content {
        margin-top: 8px;
    }
    .container_12, .container_16 {
        width: auto!important;
    }

    #propSearch {
        display: none;
    }

    #navigation-lower {
        margin: 0;
        width: 100%;
        min-height: 0;
        box-shadow: none;
        opacity: 0.95;
        background-image: none;
        background-color: #444;
        position: relative;
        top: -10px;
        margin-bottom: -10px;
        display: none;
    }

    #navigation-lower .second-level {
        margin: 0;
        padding: 0!important;
    }

    #navigation-lower .second-level li {
        display: block;
        float: none;
    }

    #navigation-lower .second-level li a {
        padding-bottom: 8px!important;
        padding-top: 10px!important;
        padding-left: 40px!important;
        display: block;
        color: #CCC;
        text-decoration: none;
        border-bottom: 1px solid #CCC;
    }

    #navigation-lower .second-level li a:hover {
        color: #fff;
        border-color: #fff;
    }

    .nav {
        margin-left: 0;
        position: static;
        padding-bottom: 0;
        width: 100%;
        display: none;
    }

    .nav .logo {
        display: none;
    }

    .nav ul {
        width: auto;
        margin-left: 0;
    }
    .nav ul li {
        width: auto;
        margin-left: 0;
    }
    .nav li a {
        padding-left: 20px;
    }
    .nav li:last-child a {
        border-bottom-color: #000;
    }

    .infobar {
        overflow: hidden;
    }

    .grid_8 div.grid_4.alpha, .grid_8 div.grid_4.omega, .grid_8 div.grid_3.omega {
        display: block;
        float: none!important;
        width: 90%!important;
    }

    #headlines {
        height: 64px;
        min-height: 85px;
        line-height: 16px;
        margin-bottom: -10px;
    }
    #headlines .grid_4 {
        padding: 8px 0 0 0;
        display: block;
        float: none!important;
    }
    #headlines .grid_8, #headline-rotate, .headline-article {
        width: auto;
        overflow: hidden;
        padding-top: 2px;
        padding-bottom: 6px;
        display: block;
        float: none !important;
    }

    #headline-rotate a, .headline-article a {
        width: 9999px;
        overflow: hidden;
        display: block;
    }

    .newsBar {
        overflow: visible;
        height: auto;
    }
    .newsBar .orgAlpha li {
        line-height: 18px;
    }
    .newsBar .orgAlpha {
        padding-bottom: 6px!important;
        overflow: auto;
        width: 100%;
    }

    .newsBar h1 {
        text-align: left;
    }
    .newsBar .grid_4, .newsBar .grid_8 {
        background-color: #D9D9D9;
        display: block;
        float: none;
    }


}

@media screen and (max-width: 660px){
 body .infoColumns .col1 {
  float: none;
  clear: both;
  display: block;
  position: static;
  text-align: left;
  text-transform: uppercase;
  min-height: 1px;
 }

 body .infoColumns .col2 {
  float: none;
  clear: both;
  display: block;
  position: static;
  text-align: left;
  min-height: 1px;
 }

 .infoColumns .col3 {
  float: none;
  clear: both;
  display: block;
  position: static;
  text-align: left;
  margin: 0 0 10px 0;
  min-height: 1px;
 }

}
@media screen and (max-width: 500px) {
  body #headline-rotate a { 
    max-width: 310px;
  }
  body .about-news .grid_8 {
    margin: 1px 0 0 10px !important;
  }
}
