@media screen and (max-width: 1145px){
 
.container_12 .grid_8 {
    max-width: 620px;
    width: 94% !important;
}

}
@media screen and (max-width: 1090px){
.rs-select-box {
	display:block!important;
}
.grid_8 .properties-cell ul {
    display: none;
}
.prefix_4.grid_8.content {
    padding-left: 0;
}
}
@media screen and (max-width: 755px){
.container_12 .grid_8 {
    width: 96% !important;
}

.grid_8.content {
    margin-left: 20px !important;
}
.grid_8 .properties-cell {
    text-align: center;
}
 
}
@media screen and (max-width: 700px){
.properties-cell > h2 {
    text-align: center;
}


}
 
@media screen and (max-width: 682px){
.container_12 .grid_4 {
    width: 28% !important;
}
}
@media screen and (max-width: 490px){
.clear.clear-none {
    clear: both;
}
.container_12 .grid_4 {
    width: 100% !important;
	width:auto!important;
}
}
@media screen and (max-width: 460px){
#navigation-lower {
	min-height:80px !important;	
}
#propSearch {
     top: 40px !important;
}
}  
 