@import "jquery.mCustomScrollbar.css";

h1, h2, h3, h4, h5, h6 {
 color: #232323;
 font-weight: normal;
 margin: 0;
 padding: 0;
}
h2:nth-child(1) {
 border-top: 0 none;
 padding-top: 0;
}
h2 {
 color: #232323;
 font-size: 14px;
 margin-bottom: 17px;
 padding-top: 23px;
 text-transform: capitalize;
}
img {
 border: none
}
a, img, input {
 outline: 0 none !important
}
#gb, #gt-submit.jfk-button {
 font-family: arial,sans-serif !important
}

.pan {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 11001;
padding: 0;
margin: 0;
}

.pan p {
margin: 0;
padding: 0 15px 0 15px;
height: 35px;
line-height: 35px;
overflow: hidden;
background: #eee;
}

.pan p a.left:hover{
cursor: pointer;
text-decoration: underline;
}

.pan p a.close {
display: block;
width: 25px;
height: 25px;
background: transparent  url(/web/20140723222033/http://www.jbg.com/assets/images/panClose.png) no-repeat scroll 0 0;
cursor: pointer;
float: right;
margin: 5px 0 0 0;
}

.pan p a.close:hover {
background: transparent  url(/web/20140723222033/http://www.jbg.com/assets/images/panClose.png) no-repeat scroll 0 -25px;
}

.pan iframe {
width: 100%;
padding: 0;
margin: 0;
border: 0;
outline:0;
}

a.Panorama {
cursor: pointer;
}

.property-page ul li a.active {
text-decoration: underline
}

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body {
 background: none repeat scroll 0 0 #333545;
 color: #4B4B4B;
 font-size: 13px;
 font-family: sans-serif;
 line-height: 1.231;
 margin: 0;
 padding: 0;
}
h1 {
 font-size: 15px;
 font-weight: 300;
 margin: 0;
 padding: 0;
 text-align: right;
 text-transform: uppercase;
 text-align: right;
} /* Style */
.wrapper{
	 overflow: hidden;
}
#supersized-loader {
 position: absolute;
 top:50%;
 left:50%;
 z-index:0;
 width:60px;
 height:60px;
 margin:-30px 0 0 -30px;
 text-indent:-999em;
}
#supersized {
 display: block;
 position:fixed;
 left:0;
 top:0;
 overflow:hidden;
 z-index:-999;
 height:100%;
 width:100%;
}
#supersized img {
 width: auto;
 height:auto;
 position:relative;
 display:none;
 outline:none;
 border:none;
}
#supersized.speed img {
 -ms-interpolation-mode: nearest-neighbor;
 image-rendering: -moz-crisp-edges;
} /*Speed*/
#supersized.quality img {
 -ms-interpolation-mode: bicubic;
 image-rendering: optimizeQuality;
} /*Quality*/
#supersized li {
 display: block;
 list-style:none;
 z-index:-30;
 position:fixed;
 overflow:hidden;
 top:0;
 left:0;
 width:100%;
 height:100%;
 background:#111;
}
#supersized a {
 width: 100%;
 height:100%;
 display:block;
}
#supersized li.prevslide {
 z-index: -20;
}
#supersized li.activeslide {
 z-index: -10;
}
#supersized li.image-loading {
 width:100%;
 height:100%;
}
#supersized li.image-loading img {
 visibility: hidden;
}
#supersized li.prevslide img, #supersized li.activeslide img {
	display: inline;
}
body {
	position: relative;
    font-family:sans-serif;
    font-size:13px;
}
.nav {
    height: 100%;
    position: fixed;
    width: 210px;
    z-index: 100;
    background:url('/web/20140723222033/http://www.jbg.com/assets/images/black-80.png');
    top:0;
}
.nav .logo {
 display: block;
    margin: 0 0 0 15px;
}
.nav ul {
    width:140px;
    margin: 2px 0 0 0;
    padding: 0;
}
.nav ul li {
    display: block;
    font-family: Arial;
    text-transform: uppercase;
    width: 140px;
    margin-left: 37px;
    padding: 0;
    color: #CCC;
}
.nav ul li a {
    padding-bottom: 8px;
    padding-top: 14px;
    display: block;
    color: #CCC;
    text-decoration: none;
    border-bottom: 1px solid #CCC;
}
.nav ul li a:hover {
	color: #fff;
    border-color: #fff;
}

.clear {
	clear: both;
}
p {
	color: #4B4B4B;
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 20px;
    padding: 0;
}
#content {
    background-image: url("/web/20140723222033/http://www.jbg.com/assets/images/white-90.png");
    nowhitespace: afterproperty;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    clear: both;
    margin-bottom: 0 !important;
    margin-left: 230px;
    margin-top: 18px;
    width: 980px;
    overflow: hidden;
    position: relative;
}
#navigation-lower {
	background-image: url("/web/20140723222033/http://www.jbg.com/assets/images/black-80.png");
	nowhitespace: afterproperty;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    min-height: 53px;
    line-height: 39px;
    margin-bottom: 15px;
    margin-left: 230px;
    overflow: hidden;
    /* position: fixed;
 */    margin-top: 22px;
    max-width: 980px;
    /*/width: 980px;/*/
    z-index: 21;
}
ul.second-level {
	overflow: auto;
    text-transform: uppercase;
	padding-top:10px!important;
}
ul.second-level li{
    line-height:15px;
}
ul.second-level, ul.third-level {
 clear: both;
    font-family: Arial;
    font-size: 12px;
    list-style: none outside none;
    margin: 0 0 0 10px;
    padding: 0;
}
ul.second-level li, ul.third-level li {
 float: left;
}
html.js body div#wrap div#container div div#navigation-lower ul.second-level li a {
 font-size: 12px !important;
}
ul.second-level a {
 color: #CCCCCC;
    display: block;
    padding: 7px 10px;
    text-decoration: none;
    cursor: pointer;
}
ul.second-level a {
 /*/padding: 7px 12px 7px 9px !important;/*/
 padding: 7px 12px 7px 9px !important;
}
ul.second-level a:hover, ul.second-level a.active, .nav ul li a.active {
 color: #FFFFFF !important;
}
.clearfix:before, .clearfix:after, .container_12:before, .container_12:after, .container_16:before, .container_16:after {
 content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
hr {
 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
    border:none;
    background:#ccc;
}
#main h2 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 8px;
}
.page-header {
    min-height: 22px;
    padding-top: 22px;
}
#headlines {
 height: 32px;
 nowhitespace: afterproperty;
 margin-bottom: 23px;
 overflow: hidden;
}
#contentPlaceHolderDefault_aspcontainer_propertiesMainContent_ctl00_gallery_3_headlines, .newsBar, #contentPlaceHolderDefault_aspcontainer_propertiesMainContent_ctl00_gallery_4_headlines {
    clear: both;
    float: none;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}
#headlines {
 height: 32px;
 line-height: 32px;
 overflow: hidden;
}
#headlines  a {
 color: #232323 !important;
 font-size: 13px !important;
 text-decoration:none !important;
 display: block;
 overflow: hidden;
 }
#headlines .grid_8 {
 height: 32px ;
    overflow: hidden;
}
.popup {
 cursor: pointer;
    height: 30px;
    left: 20px;
    line-height: 30px;
    margin-top: -80px;
    width: 113px;
    z-index: 9;
}
.popup span {
 display: block;
    float: right;
    line-height: 25px;
    color:#fff;
}
.inner-content {
 height: 80%;
}
.mCSB_scrollTools .mCSB_draggerRail {
 background: none repeat scroll 0 0 #CCCCCC !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
 background: none repeat scroll 0 0 #999 !important;
}
.page-header h1 {
 padding-left: 10px;
    text-align: left;
}
.bar80 a {
 color: inherit;
    text-decoration:none;
}
.bar80 {
 background: none repeat scroll 0 0 #D9D9D9 !important;
    clear: both;
    display: block;
    float: none;
    line-height: 32px;
}
.bar80 a:hover {
 color: #232323;
}
a {
 color: inherit;
    text-decoration: none;
}
a:hover {
 color: #232323;
}
div.grid_8 ul.orgAlpha, div.grid_8 ul.orgGroup {
 clear: both;
    font-family: Arial;
    font-size: 11px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.orgAlpha li, ul.orgGroup li {
 display: block;
    float: left;
    font-size: 13px;
    line-height: 26px;
    margin: 0 14px 0 0;
}
.quicklinks .qlink a {
 color: white;
    display: block;
    font-size: 11px;
    height: 24px;
    line-height: 24px;
    padding: 0 12px;
    text-decoration: none;
    text-transform: uppercase;
}
.quicklinks .qlink {
 background-color: #BABABA;
    float:right;
}
.qlink.float-left {
 float: left;
}
.quicklinks {
 border-bottom: 1px solid #B3B3B3;
    border-color: #B3B3B3;
    border-top: 1px solid #B3B3B3;
    height: 24px;
    margin-bottom: 16px;
    margin-top: 16px;
    overflow: auto;
}
.quicklinks .qlink a:hover {
 background-color: #010101;
}
.person-organization .box-info, .tip-popper .box-info {
	display: none;
    position:absolute;
    background-color:#fff;
    border: 1px #333 solid;
    opacity:1;
    z-index:9;
    width: 280px;
    left:0;
    top:0;
}

.box-info.propList {
 cursor: pointer;
}

.tip-popper .inner-li{
	position:absolute;
	top:0;
	left:0;

}

.tip-popper .box-info p {
 margin-bottom: 0 ;
    margin-top:23px;
}
.box-info .title {
 background-color: #F5F5F5;
    border-bottom: 1px solid #EEEEEE;
    border-radius: 3px 3px 0 0;
    line-height: 17px;
    padding: 7px 15px 5px 13px;
    text-transform: uppercase;
    font-size:13px;
}
.person-organization {
	position: relative;
    list-style: none;
    width:200px;
}
.tip-popper {
	/* position: relative; */
    width:300px;
}
.person-organization .popper, .tip-popper .popper {
 display: block;
    padding-left: 10px;
}
.inner-info, .tip-popper .inner-info {
 background-clip: padding-box;
 background-color: #FFFFFF;
 border-radius: 0 0 0 0;
 padding: 0 13px 12px 14px;
}

.inner-info h2 {
 font-size: 13px;
 margin: 0 0 10px 0;
}

.box-info h3 {
 font-size: 13px;
 margin: 0 0 9px 0;
}

.inner-info img {
 width: 230px;
 height: 120px;
}

.inner-info p {
margin: 10px 0 0 0;
}
.person-organization .inner-info h2, .tip-popper .inner-info h2 {
 margin-bottom: 18px;
}
.email-link {
 background-image: url("/web/20140723222033/http://www.jbg.com/assets/images/40-inbox.png");
}
.vcard-link {
 background-image: url("/web/20140723222033/http://www.jbg.com/assets/images/vcard.png");
}
.email-link, .phone-link, .vcard-link {
 background-position: left top;
    background-repeat: no-repeat;
    display: block;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 6px;
    padding-left: 30px;
}
li.active a {
 color: #232323 !important;
}
.padLeft {
 display: block;
    margin-left: 10px !important;
}
ul.second-level li, ul.third-level li {
 float: left;
}
ul.second-level, ul.third-level {
 clear: both;
    font-family: Arial;
    font-size: 12px;
    list-style: none outside none;
    margin: 0 0 0 10px;
    padding: 0;
}
ul.third-level a {
 color: #232323;
    display: block;
    padding: 7px 10px;
    text-decoration: none;
}
ul.third-level a:hover {
 text-decoration: underline
}
ul.third-level a {
 padding: 8px 10px;
}
ul.third-level {
 margin-left: 0;
    overflow: auto;
}
ul.third-level a.active {
 color: #232323 !important;
}
.third-level .active {
 text-decoration: underline;
}
.awards h3 {
 color: #5C5C5C !important;
    margin: 17px 0 5px -30px !important;
}
.awards p {
 margin: 5px 0 30px -30px !important;
}
.awards h4 {
 color: #111111 !important;
    font-size: 13px !important;
    margin: 5px 0 !important;
    text-transform:uppercase;
}
li.tip-popper:hover {
 background: url("/web/20140723222033/http://www.jbg.com/assets/images/popArrow.gif") no-repeat scroll 0 50% transparent;
}
.pp li {
 display: block;
    margin: 0;
    padding: 0;
}
.pp li>a {
 padding: 0 0 0 20px;
}
.news-item a {
 color: #232323;
}
.news-item {
 margin-bottom: 15px;
    overflow: auto;
}
.news-item-date {
 color: #777777 !important;
    padding-top: 3px;
}
h4 {
 font-size: 11px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
h3 {
 color: #232323;
    font-size: 13px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
#newscontact dt, #newsrelatedprojects dt {
 font-weight: bold;
    margin: 0 0 12px;
}
.contactInfo strong {
 color: #232323;
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
#subForm {
 position: relative;
}
.form-stacked {
 padding-left: 0;
}
form {
 margin: 0;
}
#subForm .colRight {
 left: 250px;
    position: absolute;
}
.form-stacked label {
 display: block;
    float: none;
    line-height: 20px;
    padding-top: 5px;
    text-align: left;
    width: auto;
}
#subForm input {
 display: block;
}
input, textarea, select, .uneditable-input {
 border: 1px solid #CCCCCC;
    color: #808080;
    display: inline-block;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    padding: 4px;
    width: 210px;
}
#subForm .spx {
 display: none !important;
}

#subForm .error {
 background: #ffbbbb;
}

#subForm #message {
 width: 460px;
}
textarea {
 height: auto;
}
.btn {
 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #E6E6E6;
    background-image: linear-gradient(#FFFFFF, #FFFFFF 25%, #E6E6E6);
    background-repeat: no-repeat;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: normal;
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    transition: all 0.1s linear 0s;
}
#subForm input {
 display: block;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
 cursor: pointer;
}
input[type="button"], input[type="reset"], input[type="submit"] {
 height: auto;
    width: auto;
}
.infobar {
 background: #D9D9D9;
 line-height: 32px;
 margin-top: 10px;
 overflow: hidden;;
 float: left;
 width: 100%;
}


.preload {
 display: none;
} /*****************************************************/
/****************************************************/
/**page-properties-map.html**/
#propSearch {
 display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 14px;
}
#propSearch form {
 display: block;
    margin: 1px 0 0;
    padding: 0;
}
#propSearch form input.q {
 background: none repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
    font-size: 11px;
    height: 19px;
    line-height: 13px;
    padding: 3px 26px 2px 4px;
    width: 130px;
    z-index: 50;
}
#propSearch form input.submit {
 background: url(/web/20140723222033/http://www.jbg.com/assets/images/search.png) no-repeat scroll 2px 1px transparent;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    height: 22px;
    line-height: 14px;
    padding: 0;
    position: absolute;
    right: 0;
    text-indent: -999px;
    top: 5px;
    width: 24px;
    z-index: 55;
} /*******************************************************/
/* Page properties */
.grid_12.page-header ul, .grid_12.page-header ul li {
 padding: 0px;
    margin:0px;
}
.grid_12.page-header ul li {
 display: inline-block;
    zoom:1;
    vertical-align:top;
    list-style:none;
}
.grid_12.page-header ul li a {
 text-decoration: none;
    padding: 8px 10px;
    color: #232323;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
}

.grid_12.page-header ul li a.active {
    text-decoration: underline;
}

 /*******************************************************/
/**office**/
.grid_4 h1.right {
 text-align: right;
}
.grid_8 .properties-cell {
 border-top: 1px solid #CCCCCC;
    margin-top: 30px;
    padding-top: 17px;
}
.grid_8 .properties-cell ul {
 padding-left: 20px;
 /*    position: relative; */
}
.grid_8 .properties-cell ul .goLeft {
 width: 260px;
 float:left;
}
.properties-cell ul li {
 line-height: 17px;
    list-style:none;
}
li.tip-popper:hover {
 background: url(/web/20140723222033/http://www.jbg.com/assets/images/popArrow.gif) no-repeat scroll 0 50% transparent;
}
.properties-cell ul li a {
 color: #232323;
    text-decoration: none;
    font-size: 11px;
}
li.tip-popper {
	line-height:20px;
}
ul .goLeft {
  float:left;
}
ul .goRight {
   float:right;
}
.inner-li {
 display: none;
}
li.tip-popper:hover:hover .inner-li {
 display: block;
}
.inner-li {
 background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 0 0 0 0;
    padding: 0px;
    width: 270px;
}
.inner-li h3.title {
 background: none repeat scroll 0 0 #F5F5F5;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
}
.inner-li .content > h2 {
 padding-left: 10px;
}
.inner-li .content > img {
 padding-left: 10px;
}
.inner-li .content > p {
 padding-left: 10px;
    padding-right: 0px;
}
.grid_8 > p {
 font-size: 13px;
} /******************************************************/
/**gallery**/
#headlines {
    clear: both;
    float: left;
    height: 32px;
    line-height: 32px;
    width: 9999px;
}

/**overview**/
.property-page dl dt, .property-page h6 {
 border-bottom: 1px solid #CCCCCC;
    font-size: 11px;
    margin-bottom: 10px;
    margin-top: 0;
    text-transform: uppercase;
}
.property-page dl {
 color: #4B4B4B;
    margin-top: 0;
}
.property-page dd {
 margin: 10px 10px 20px 0;
}
.property-page dd a {
 color: #4B4B4B;
    text-decoration: none;
}
#map_canvas {
 display: block;
    position: absolute!important;
    left: 0;
    top: 0;
    right:0;
    bottom:-20px;
    width: 100%;
    z-index: 4;
}
.map-cluster1 {
  background: #295891;
  padding: 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif;
  border: 2px solid #DEDEDE;
  width: 30px;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  opacity: 0.9;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.map-cluster2 {
  background: #295891;
  padding: 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px !important;
  font-family: 'Open Sans', sans-serif;
  border: 2px solid #DEDEDE;
  width: 40px;
  height: 40px;
  line-height: 38px;
  overflow: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  opacity: 0.9;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: relative;
}
#map_canvas iframe {
 height: 100%;
     width: 100%;
}

#content.properties-map {

}
#navigation-lower {
 position: relative;
}
.clear.clear-none {
 clear: none;
}
.rs-select-box {
 background: #ccc!important;
         display:none !important;
}
.rs-select-box {
 margin: 0 auto;
}
.rs-select-inner {
 text-align: left;
}
.mCSB_container {
 margin-right: 0px;
}
#property-navigation {
 background-image: url("/web/20140723222033/http://www.jbg.com/assets/images/black-80.png");
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    height: 53px;
    line-height: 15px;
    margin-bottom: 0;
    margin-top: 0px;
    margin-left: 230px;
    overflow: hidden;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
    max-width: 980px;
    z-index: 100;
}
#property-navigation .grid_7 {
     width: 480px;
     margin-right: 0;
}
div#property-navigation div.grid_5 {
 float: right;
    width: 260px;
    margin-left: 0;
}
.property-page div#property-container div#property-navigation div.grid_5 {
 float: right;
    width: 300px;
}
#property-navigation .nav-label {
 color: #E6E6E6;
    display: block;
    float: left;
    height: 22px;
    overflow: hidden;
    padding: 7px 10px 0 0;
    text-align: right;
    width: 60px;
}
#property-navigation ul.second-level li {
 margin-right: 5px;
}
#property-navigation ul.second-level li a:hover {
 background: url("/web/20140723222033/http://www.jbg.com/assets/images/mapMenuOver.png") repeat-x scroll 0 3px transparent;
}
#property-navigation ul.icons li {
 float: right;
    height: 48px;
    list-style-type: none;
    margin-left: 20px;
    width: 48px;
}
#property-navigation .icons li:last-child {
    margin-left: 0px;
}
#property-navigation ul.icons li a {
 background-image: url("/web/20140723222033/http://www.jbg.com/assets/images/map-icons.png");
    display: block;
    font-size: 10px;
    height: 13px;
    padding-top: 40px;
    text-align: center;
    width: 48px;
}
#property-navigation ul.icons li a.show-extents-button {
 background-position: -192px 0;
}
#property-navigation ul.icons li a.zoom-out {
 background-position: -144px 0;
}
#property-navigation ul.icons li a.zoom-in {
 background-position: -96px 0;
}
#property-navigation ul.icons li a.reset-button {
 background-position: -48px 0;
}
#property-navigation ul.icons {
 margin: -5px 0 0;
    padding: 0;
}
#property-navigation ul.icons li a {
 color: #CCCCCC;
    text-decoration:none;
}
.footer-p a {
    color: #CCCCCC !important;
    line-height: 14px;
    font-size: 11px;
}
.footer-p a:hover {
 color: white !important;
}
.footer-p {
 color: #CCCCCC;
    float: left;
    line-height: 13px;
    font-size: 10px;
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-left: 35px;
    text-align: left;
    position:absolute;
    bottom:0px;
}
.bx-wrapper .bx-viewport {
 background: none;
    border: 0;
    box-shadow: none;
    left: 0;
}
.select-option {
 margin: 0 auto;
    text-align: center;
    width: 224px;
    padding-left:0 !important;
    display:none;
}
.select-option li:hover {
 background: #ccc !important;
}
.select-option li:hover a {
 color: #fff !important;
}
.content .click-select {
 background: url("/web/20140723222033/http://www.jbg.com/assets/images/mt-select.png") no-repeat scroll right center #CCCCCC;
    display: block;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    position: relative;
    width: 210px;
    font-family:sans-serif;
    font-weight:bold;
    padding-left:10px;
    border-right: 4px solid #CCCCCC;
}
.select-option li {
 text-align: left;
}
ul.2-column{
	clear:both;
}
.clear{
	clear:both;
}

/*/ /*/

.eqhouseop {
    background-image: url('/web/20140723222033/http://www.jbg.com/assets/images/eqhouseop.png');
    background-repeat: no-repeat;
    background-position: center right;
    width: 33px;
    height: 24px;
    right: 10px;
    bottom: 10px;
    position: fixed;
    z-index: -1;
}

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

.partnersPerson {
display: block;
text-align: right;
}

.partnersCompany {
display: block;
text-align: right;
font-size: 14px
}

#property-navigation .second-level {
    padding: 0!important;
    margin: 0 0 0 7px;
    height: 25px;
    line-height: 14px !important;
    overflow: hidden;
    font-size: 11px;
}

.videoLink {
position: relative;
display: block;
overflow: hidden;
}

.videoLink em {
display: block;
position: absolute;
left: 0;
top: 0;
background: transparent url(/web/20140723222033/http://www.jbg.com/assets/images/playOver.png) no-repeat scroll 50% 50%;
width: 300px;
height: 130px;
display: block;
overflow: hidden;
opacity: 0.8;
}

.videoLink:hover em {
opacity: 1;
}

.funds {
position: relative;
}

.funds .i2 {
position: absolute;
left: 69px;
}

.funds .i3 {
position: absolute;
left: 120px;
min-width: 100px;
}

.grid_4>h1 .cmsType_Image, .grid_4>h1 .cmsType_TextSingle {
    display: block;
    text-align: right;
}
.grid_4>h1 .cmsType_Image {
    float:right;
}

.ppTitle>a:hover {
    color:#000;
}

.mCSB_container {
    padding-bottom: 20px;
}

.mplus {
    float:right;
    padding: 12px 34px 8px 34px;
    position: relative;
    top: -12px;
}

/* Map InfoBox */
.infobox {
    width:282px;

}

.infobox-inner {
    background-color: #575757;
    padding: 1px;
    overflow: hidden;
    margin: 0px;
    width: 280px;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.infobox-title {
    background-color: #f5f5f5;
    padding: 0;
    line-height: 1;
    border-bottom: 1px solid #eee;
}
.infobox-title a {
    font-size: 12px;
    padding: 9px 15px;
    display: block;
}

.infobox-close {
    position: absolute;
    right:10px;
    top:10px;
    cursor: pointer;
}

.infobox-content {
    background-color: #ffffff;
    padding: 14px 14px 12px 14px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    min-height: 115px;
    cursor: pointer;
}

.infobox-city {
    margin: 0 0 10px 0;
    padding: 0;
}

.infobox-pimg {
    clear: both;
    float: none;
    position: relative;
    height: 120px;
    padding: 0;
    margin: 0;
}

.infobox-img {

}

.infobox-desc {
    margin: 12px 0 0 0;
    padding: 0;
}
/* End InfoBox */

#navigation-lower-all { display: none; }

.seo {
    display: none;
}

#resizable-background {
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
padding: 0;
margin: 0;
overflow: hidden;
z-index: 0;
}

#resizable-background img {
position: fixed;
left: 0;
top: 0;
padding: 0;
margin: 0;
display: block;
opacity: 0;
}

.CmsEmpty, .cmsonly, .grid_4 > h1 .cmsType_Image.CmsEmpty, .grid_4 > h1 .cmsType_TextSingle.CmsEmpty {
display: none !important;
}


.cmsEditing .CmsEmpty, .cmsEditing .cmsonly, .cmsEditing .grid_4 > h1 .cmsType_Image.CmsEmpty, .cmsEditing .grid_4 > h1 .cmsType_TextSingle.CmsEmpty {
display: block !important;
min-height: 22px;
}

#thanks {
display: none;
}

.topLogo {
padding-bottom: 12px;
}




#main.container_12 {
width: 100%;
}

.container_12>.grid_4 p {
padding-left: 10px;
}

.property-cell .image-container img {
display: block;
max-width: 98%;
margin-bottom: 10px;
}


.SpecialList {
  display: block;
  padding: 0 0 0 16px;
  background: transparent url(/web/20140723222033/http://www.jbg.com/assets/images/square.png) no-repeat scroll 0 7px;
}

.SpecialList2 {
  display: block;
  padding: 0 0 0 33px;
  background: transparent url(/web/20140723222033/http://www.jbg.com/assets/images/square.png) no-repeat scroll 17px 7px;
}

.SpecialList3 {
  display: block;
  padding: 0 0 0 50px;
  background: transparent url(/web/20140723222033/http://www.jbg.com/assets/images/square.png) no-repeat scroll 34px 7px;
}

.grid_3.omega {
margin: 0;
}


.vidLink {
display: none;
}


.cmsEditing .vidLink {
display: block;
min-height: 23px;
float: left;
}

.cols {
position: relative;
}

.col2 {
position: absolute;
top: 0;
left: 250px;
width: 250px;
}

.infoColumns {
position: relative;
display: block;
}

.infoColumns .col1 {
width: 180px;
display: block;
text-align: left;
}

.infoColumns .col2 {
position: absolute;
top: 0;
left: 180px;
width: 180px;
display: block;
z-index: 9;
text-align: center;
}

.infoColumns .col3 {
position: absolute;
top: 0;
left: 350px;
width: 160px;
z-index: 9;
text-align: right;
}

#property-navigation a.category-filter {
cursor: pointer;
}

#property-navigation div ul.l1 {
min-width: 500px !important;
}

.grid_8.content>h1 {
text-align: left;
}


.longBar {
 background: #D9D9D9;
 width: 100%;
 padding: 0 20px 0 20px;
 margin: 0 0 20px 0;
 clear: both;
}
.longBar h1{
 display: block;
 font-size: 13px;
 line-height: 26px;
 margin: 0 4px 0 0;
 width: 306px;
 text-align: right;
 float: left;
}

.orgAlpha.top {
margin: 0 0 0 12px;
padding: 0;
}


#propMapLatLong {
display: none;
}

#propMap{
width: 100%;
position: relative;
height: auto;
min-height: 400px;
background: #ddddee;
border-top: 1px solid #999;
margin-top: 5px;
}

#headline-rotate, #headline-rotate a {
width: 3100px !important;
display: block;
}


.property-page ul.bxslider  {
list-style-type: none;
padding: 0;
width: 999999px;
height: 508px;
overflow-y: hidden;
}
.property-page ul.bxslider li  {
	float: left;
	display: block;

	width: 980px !important;
	min-height: 508px !important;
}


.bx-wrapper img {


	display: block;

	width: 980px;
	height: 508px;
	opacity: 1;
}


.nav ul, .nav ul li {
list-style-type: none;
background: transparent;
}

.loggedin {
color: #00aa00;
margin: 10px 0 0 0;
}

a.logout {
display: block;
color: red !important;
}

.orgAlpha a.active {
text-decoration: underline;
}


.empImg {
 text-align: right;
 margin: 0 10px 0 0 !important;
}

#personImg {
 display: inline;
}

.awardsItem {
margin-bottom: 20px;
}

.awardsItem h3 {
margin: 0 0 4px 0;
}
.awardsItem h4 {
margin: 0 0 4px 0;
}

#main .grid_8 .com4 {
margin: 0 0 24px 0;
}

#main .grid_8 .com4 .grid_4 {
float: left;
width: 50% !important;
margin: 0 0 12px 0;
padding: 0; 
}

#main .grid_8 .com4 .grid_4 img {
display: block;
margin: 0 0 6px 0;
}

#main .grid_8 .com4 .grid_4 a {
display: block;
}

#main .grid_8 .com4 .grid_4 em {
display: block;
font-style: normal;
font-size: 12px;
margin: 2px 0 3px 0
}

#main .grid_8 .com4 .grid_4 strong {
display: block;
font-weight: normal;
margin: 2px 0 3px 0
}

.cmsEditing #main .grid_8 .com4 {
margin-top: 30px;
}

#main .sus4 .grid_4.sus4  {
float: left;
width: 265px;
margin: 0 0 16px 0;
padding: 10px; 
border: 7px solid #6FBE51;
}

#main .sus4 .grid_4.sus4.x0  {
float: right;
}

#main .sus4 .grid_4.sus4.x1, #main .sus4 .grid_4.sus4.x  {
clear: both;
}


#main .sus4 .grid_4.sus4 strong {
color: #6FBE51;
font-size: 34px;
line-height: 48px;
float: left;
padding: 0 10px 0 0;
width: 76px;
}

#main .sus4 .grid_4.sus4 em {
color: #6FBE51;
font-style: normal;
line-height: 18px;
position: relative;
top: 6px;
float: right;
width: 175px;
font-size: 125%
}

.cmsName_Leed_Bottom_List_Column_1 {
float: left;
width: 50%;
}

.cmsName_Leed_Bottom_List_Column_2 {
float: left;
}
@media screen and (max-width: 850px) {

 .emp {
  margin-bottom: 20px;
 }

 .empImg {
  text-align: left;
  margin: 0 0 0 10px !important;
 }
 .empBio {
  width: calc(100% - 200px) !important;  
  min-width: calc(100% - 20px) !important;  
  max-width: 9999999px !important;  
  margin-top: 10px !important;
  margin-right: 20px !important;
  float: right !important;
  display: block;
 }

 #property-navigation {
  height: auto;
  padding-bottom: 15px;
 }

 #property-navigation > div {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  left: 0;
  right: auto;
 }

 #property-navigation div.grid_5 > ul  {
  clear: both;
 }

 #property-navigation div.grid_5 > ul li {
  margin: 3px 12px 14px 3px;
  float: left;
  top: 10px;
  position: relative;
 }

 #property-navigation div.grid_7 ul.second-level  {
  width: auto !important;
  min-width: 1px !important;
  height: auto;
 }

 body #property-navigation div.grid_5 {
  clear: both;
  float: none;
  width: auto;
 }

 .container_12 .grid_4 p {
  padding-left: 0;
 }

 #main.container_12 .grid_8 {
  min-width: calc(100% - 50px);
  max-width: 9999px;
  width: calc(100% - 50px);
  margin: 0 0 0 20px !important;
 }

 #main.container_12 .grid_8>div>div>div {
  margin-left: 0 !important;
 }

 #main.container_12 > .grid_4,  #main.container_12>.cmsGroup>.cmsGroupItem .grid_4 {
  position: relative;
  width: 100% !important;
  clear: both;
  float: left;
  left: 20px;
  margin-left: 0px !important;
  margin-right: 0 !important;
 }

 .grid_4.sidebar {
  position: relative;
  left: 20px;
 }

 #main.container_12 .grid_4 h1 {
  text-align: left;
  float: none;
  clear: both;
  margin: 0 0 6px 0;
 }

 body #main.container_12 .grid_4 h1 span {
  text-align: left;
  float: none;
  clear: both;
 }

 body #main.container_12 .grid_4 h1 span.sideHead {
  display: inline-block;
 }

 .grid_4 > h1 .cmsType_Image {
  float: none;
 }


 #main.container_12 .infobar.bar80 {
  width: 120%;
  height: 32px;
  overflow: hidden;
 }

 #main.container_12 .infobar .grid_4{
  width: auto !important;
  display: inline-block;
  padding: 0 20px 0 0;
  float: left;
  margin: 0;
  white-space:nowrap;
  height: 32px;
 }


 #main.container_12 .infobar .grid_8{
  width: auto;
  display: inline-block;
  padding: 0;
  float: none;
  width: auto !important;
  min-width: 100px !important;
 }

 #main.container_12 #headlines.infobar.bar80 .grid_4 {
  display: none;
 }

 #main.container_12 #headlines.infobar .grid_8{
  width: 9999px !important;
  min-width: 9999px !important;
 }
}


@media screen and (max-width: 640px) {

 .empBio {
  padding: 0 120px 0 0;
  float: left !important;
  clear: both;
  display: block;
 }

 .empBio p {
  width: calc(100% - 200px) !important;  
 }

}
@media screen and (max-width: 1230px) {

  .container_12 .infobar .grid_4.sidebar {
    float: left;
    white-space: nowrap;
    width: auto !important;
  }
  .container_12 .infobar .grid_8 {
    width: auto  !important;
  }


 .longBar h1{
  width: auto;
  text-align: left;
 }
}

@media screen and (min-width: 1000px) and (max-width: 1030px) {
 .longBar h1{
  width: 230px;
  text-align: right;
 }
}

@media screen and (max-width: 850px){

 .longBar h1{
  float: none;
 }

 .longBar ul{
  margin: 0;
  float: none;
  padding: 0
 }

 .container_12 .grid_8 .grid_4  {
  float: none;
  clear: both;
  width: 100%;
 }

}

@media screen and (max-width: 500px) {
  body #headline-rotate, body #headline-rotate a { min-height: 100px ! important; height: 100px ! important; padding: 7px 0px 0px; }
  body .nav { position: relative ! important; margin-bottom: 10px; }
}


.newsRight {
float: right;
text-align: right;
margin: 0;
padding: 0;
display: block;
}

.goRightPadTop {
float: right;
text-align: right;
margin: 12px 0 0 0;
padding: 0;
display: block;
}

.cmsName_Glance_Left p.cms {
margin: 0 0 10px 0;
}

.cmsEditing .cmsGroup.cmsName_Glance_Left{
margin-top: 20px;
}

p.funds em {
display: block;
font-style: normal;
}

.cmsEditing p.funds>em {
margin: 30px 0 0 0;
}

.cmsEditing p.funds em em {
margin: 10px 0 0 0;
}

.cmsEditing p.funds em .money span{
margin: 0 0 0 20px;
}

p.funds em.cmsGroup em.cmsGroupItem {
height: 17px;
line-height: 17px;
overflow: hidden;
width: 70px;
}

.cmsEditing p.funds em.cmsGroup em.cmsGroupItem {
height: 17px;
line-height: 17px;
overflow: visible;
margin: 10px 0 0 0;
}

.cmsEditing p.funds em.cmsGroup em.cmsGroupItem span.CmsEmpty {
min-height: 1px;
}

.grid_3.omega {
min-width: 50% !important
}

p.funds {
margin: 0;
float: left;
}







.socials{
 bottom: 32px;
padding-left: 28px;
position: absolute;

}
.socials>li{
   float: left;
   margin: 0px;
list-style-type: none;
}
.socials>li>a {
  display: block;
  width: 33px;
  height: 33px;
  text-indent: -9999px;
}
.tw{
    background: url("/web/20140723222033/http://www.jbg.com/assets/images/social/jbg_twitter.png") no-repeat 0 0;}
.fb{
    background: url("/web/20140723222033/http://www.jbg.com/assets/images/social/jbg_facebook.png") no-repeat 0 0;}
.ln{
    background: url("/web/20140723222033/http://www.jbg.com/assets/images/social/jbg_linkedin.png") no-repeat 0 0;}
