body 
{
  padding: 0;
  margin: 0;
  font-family: helvetica,arial;
  color: #000000;
  font-size: 12px;
  background: url("../images/background.jpg") top center #ffffff no-repeat;
  text-align: center;
  line-height: 24px;
}
img {
	border: 0;
	margin: 0;
}
a {
	color: #660000;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
}
ul {
	list-style-type: square;
	list-style-image: url('../images/li.gif');
	list-style-position: outside;
	padding-left:1.3em;
	margin-left:1.3em;
	padding-top: 0.2em;
}
.crumbs {
	font-size: 10px;
}
.crumbs a {
	font-weight: normal;
}
#header {
	height: 105px;
}
#header img {
	margin-top: 15px;
	margin-left: 38px;
	position: absolute;
	top: 0;
}
#menu,#main,#main_content,#header,#main_general 
{
  width: 1003px;
  margin: 0 auto;
  text-align: left;
}

#menu_top {
	position:relative;
	top: 15px;
}
#menu {
	position: relative;
	top: -7px;
}
#menu img {
	margin-right: 2px;
	margin-top: 2px;
}
#menu div {
	float: left;
}
#nav {
	float: left;
	position: relative;
	z-index: 20;
}
#nav div {
	float: left;	
}
#main {
	position: relative;
	top: -7px;
	left: 4px;
}
#main_general {
	margin-top: 40px;
}
#main_content {
	float: left;
}
#main_content div {
	float: left;
}
#main_content_top {
	margin-top: 20px;
	width: 1003px;
	height: 8px;
	background: url("../images/bg_container_top.png");
}
#main_content_general {
	width: 1003px;
	background: url("../images/bg_container.png");
}
#main_content_general div {
	padding: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	line-height: 24px;
}
#main_content_bottom {
	width: 1003px;
	height: 11px;
	background: url("../images/bg_container_bottom.png");
}
#home_left, #home_right {
	height: 211px;
	margin-top: 5px;
}
#home_left a, #home_right a {
	color: #000000;
}
#home_left div, #home_right div {
	float: left;
	margin-top: 20px;
	margin-left: 27px;
}
#home_left table, #home_right table {
	float: left;
	margin-top: 10px;
	margin-left: 27px;
	line-height: 16px;
}
#home_left table img, #home_right table img {
	 margin-bottom: 5px;
}
#home_left {
	width: 427px;
	margin-right: 8px;
	background: url('../images/home_box_bg.jpg') no-repeat;
}
#home_right {
	width: 560px;
	margin-right: 8px;
	background: url('../images/home_box_right_bg.jpg') no-repeat;
}
#project_details {
	width: 396px;
	background: #95927e
}
#project_details table {
	margin-left: 10px;
	width: 376px;
}
#project_details table td {
	line-height: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
}
#project_details table a {
	
	color: #f8bf42;
}
#project_details table td.bordered {
	border-bottom: 1px dashed #edece2;
}
.detail_title {
	color: #484533;
}
.detail_content {
	color: #edece2;
}
#project_details table td img {
	padding-bottom: 5px;
}
#project_image_box {
	vertical-align:bottom;
	height: 430px;
}
.home_title_left img,.home_title_right img {
	margin-bottom: 5px;
}
.home_title_left {
	border-bottom: 1px dashed white;
	width: 87%
}
.home_title_right {
	border-bottom: 1px dashed white;
	width: 90%
}
.image_caption {
	color: #635f4c;
}
.news_date {
	font-size: 10px;
	color: #f5deac;
}
#footer {
	margin-top: 5px;
	float: left;
}
#footer_text {
	margin-top: 10px;
	margin-bottom: 50px;
	font-size: 11px;
}
#footer_text a {
	color: #470803;
	font-weight: normal;
}
#footer_text a.ifmm {
	color: #b4b3b3;
	font-weight: normal;
}

.address {
	color: #312e1f;
	
}
.project_image {
	margin-top: 0px;
}
#gallery_buttons img {
	margin-left: 1px;
}
   /* sfHover (Menu) Styles */
  
  #nav table a {
   display: block;
   
   margin-left: 11px;
   color: #ffffff;
   font-weight: bold;
   font-size: 12px;
   line-height: 35px;
  }
  
  #nav table a:hover {
   text-decoration: none;
  }  
  #nav div { /* all list items */
   float: left;
   z-index:20;
   /* width needed or else Opera goes nuts */
  }
  #nav table { /* second-level lists */
   position: absolute;
   left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
   z-index: 25;
   list-style: none;
   margin-top: -2px;
   margin-left: -15px;
   float: left;
  }
  #nav td {
	  background: url('../images/navi_sub_bg_off.png');
	  width: 240px;
	  border-bottom: 1px dashed #f0d08b;
  }
  #nav td:hover {
	   background: url('../images/navi_sub_bg_on.png');
  }
  #nav td.nohover {
	  background: url('../images/navi_sub_bg_disabled.png');
	  width: 240px;
	  border-bottom: 1px dashed #f0d08b;
  }
  #nav td.nohover span {
	 margin-left: 11px;
	   color: #ffffff;
	   font-weight: bold;
	   font-size: 12px;
	   line-height: 35px;
  }
  #nav td.nohover:hover {
	   background: url('../images/navi_sub_bg_disabled.png');
  }
  
  #nav div img.spacerimage {
	  width:240px;
	  height: 7px;
  }  
  #nav td.spacer {
	  background: none;
	  line-height: 7px;
	  border-bottom: none;
  }
  #nav td.last {
	  border-bottom: none;
  }
  #nav div:hover table {
   left: auto;
   margin:0;
  }
  #nav div.sfHover table {
   left: auto;
   margin-top:29px;
   margin-left: -144px;
  }
