<%@ Page Language="VB" AutoEventWireup="false" CodeFile="test.aspx.vb" Inherits="_test" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SQL Test</title>
</head>
<body>
											
								
<form id="form1" runat="server">								
<asp:GridView ID="GridView1" runat="server" >
</asp:GridView> 
</form>
</body>
</html>