body 
{
    padding: 0;
    margin: 0;
    font-family: Arial;
    color: #000000;
    font-size: 12px;
    background: url("../images/background.gif") repeat-x #b32317;
    text-align: center;
}
img {
	border: 0;
	
}
ul {
	list-style-type: square;
	list-style-image: url('../images/li.gif');
	list-style-position: outside;
	padding-left:1.3em;
	margin-left:1.3em;
	padding-top: 0.2em;
}
#header,#footer,#main,#main_close,#main_content 
{
    width: 996px;
    margin: 0 auto;
    text-align: left;
}
#header {
	height: 86px;
}
#header div, #header img {
	float: left;
}
#logo {
	margin-top: 25px;
	margin-left: 30px;
	margin-right: 100px;
}
#navi {
	margin-top: 36px;
	
}
#main, #main_close
{
    width: 1026px;
}
#main {
	background: url("../images/background_main.png") no-repeat;
}
#main_close {
	background: url("../images/background_main_bottom.png") no-repeat;
	height: 26px;
}
#main_home{
	margin-left: 30px;
	margin-top: 18px;
	font-size: 14px;
	font-family: lucida bright,times,serif;
	width: 500px;
	line-height: 28pt;
}
#main_home big {
	font-size: 18px;
	font-weight: normal;
}
#main_home img {
	margin-top: 11px;
	
}
#main_side {
	margin-top: 18px;
	font-size: 14px;
	font-family: arial;
	color: #666666;
	line-height: 28pt;
	font-weight: 600;
	
}
#news_container {
	width: 259px;
	height: 324px;
	background: #cccccc;
	z-index: 50;
	left: 50%;
	margin-left: 239px;
	position: absolute;
	top: 479px;
	text-align: left;	
}
#news_content {	
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 20px;
	line-height: 16px;
	font-family: arial;
	font-size: 12px;
	color: #000000;
}
#news_content a {
	color: #b32317;
	text-decoration: none;
	font-weight: 600;
}
#news_content a:hover {
	text-decoration: underline;
}
#footer {
	font-size: 11px;
	font-family: arial;
	color: #ffffff;
}
#footer a {
	color: #ffffff;
	text-decoration: none;
}
#footer a:hover {
	text-decoration: underline;
}
#general_content, #general_content_news {
	font-family: times;
	font-size: 14px;
	color: #000000;
	line-height: 20px;
	margin-right: 120px;
	margin-top: 35px;
	margin-bottom: 55px;
}
#general_content_news {
	margin-right: 40px;
}
#general_content a.services {
	font-family: arial;
	text-decoration: none;
	color: #b32317;
	font-weight: 600;
	font-size: 13px;
}
#general_content a.services:hover {
	text-decoration: underline;
}
#general_content a,  #general_content_news a{
	font-family: arial;
	text-decoration: none;
	color: #b32317;
	font-weight: 600;
	font-size: 13px;
}
#general_content a:hover, #general_content_news a:hover {
	text-decoration: underline;
}
#sub_navi {
	margin-top: 35px;
	margin-left: 40px;
	line-height: 24px;
	font-size: 12px;
	
}
#sub_navi a {
	text-decoration: none;
	color: #b32317;
	font-weight: 600;
}
#sub_navi a:hover {
	text-decoration: underline;
}
.news_date {
	font-family: arial;
	color: #666666;
	font-size: 12px;
}
.news_title {
	font-family: arial;
	text-decoration: none;
	color: #b32317;
	font-weight: 600;
	font-size: 16px;
}
.list {
	
	line-height: 24px;
}
#news_images {
	margin-top: 100px;
}
.news_image {
	width: 331px;
	background: url("../images/news_image_bg.jpg") top right no-repeat;
	margin-bottom: 25px;
}
#contact_images {
	margin-top: 85px;
}
.contact_image {
	width: 373px;
	background: url("../images/news_image_bg.jpg") top right no-repeat;
}
