#main
{
    text-align: center;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/background_main.png", sizingMethod="scale");
}
#main_close
{
    text-align: center;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/background_main_bottom.png", sizingMethod="scale");
}
