﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="IDAM.aspx.vb" Inherits="IdamAdmin.IDAM2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
</head>
<body>
</body>
</html>
