<%@ Control Language="vb" AutoEventWireup="false" Inherits="IdamAdmin.ProjectJavaUpload" CodeBehind="ProjectJavaUpload.ascx.vb" %>
<script type="text/javascript" src="script.js"></script>

	 <table border="0" valign="middle" align="center" cellpadding="15">
	  <tr>
       <td colspan="2"><h2 align="center">Rad Upload Plus</h2></td></tr>
       <tr>
   	   <td width="310" valign="top">

	   </td>
	   <td>

        </form>
               
       <div style="border: 1px solid #336699; padding:0px">
    <script language="JavaScript" src="loader.js"></script>
		</div>
		        
		        
   	  </td>
   </tr>
  </table>
  


