<%@ Page Language="vb" AutoEventWireup="false" Inherits="IdamAdmin.CookieScripts1" CodeBehind="CookieScripts.aspx.vb" %>

alert('hi');
      function switchToThumbnail() {
		  if (getLastView() == 'thumb') {
			//alert(getLastView() + 'settinglist');
			setLastView ('list');
		  } else {
			//alert(getLastView() + 'settingthumb');
			setLastView ('thumb');
		  }
		  //alert('set' + getLastView());
		  
          window.location.href = '<%response.write (Request.Url.PathAndQuery.Replace("'",""))%>';
      	  //thumbnailview.style.display = "block";
	      //listview.style.display = "none";
	  }
	 function switchToThumbnailSubmit() {
		  if (getLastView() == 'thumb') {
			//alert(getLastView() + 'settinglist');
			setLastView ('list');
		  } else {
			//alert(getLastView() + 'settingthumb');
			setLastView ('thumb');
		  }
		  //alert('set' + getLastView());
		  
          __doPostBack('__Page', '');
      	  //thumbnailview.style.display = "block";
	      //listview.style.display = "none";
	  }
	  

	  function switchView(view) {
		if (view == 'list') {
			setLastView ('list');
			document.getElementById('<%=ctype(page,IdamAdmin.IDAM).RootClientID%>__ctl0_SNAPProjectAssets_thumb_icon_GridAssets').src="images/icon_thumb_on.gif";
			document.getElementById('<%=ctype(page,IdamAdmin.IDAM).RootClientID%>__ctl0_SNAPProjectAssets_list_icon_GridAssets').src="images/icon_list_off.gif";
			executeViewCallback(view);
		  } else {
			setLastView ('thumb');
			document.getElementById('<%=ctype(page,IdamAdmin.IDAM).RootClientID%>__ctl0_SNAPProjectAssets_thumb_icon_GridAssets').src="images/icon_thumb_off.gif";
			document.getElementById('<%=ctype(page,IdamAdmin.IDAM).RootClientID%>__ctl0_SNAPProjectAssets_list_icon_GridAssets').src="images/icon_list_on.gif";
			executeViewCallback(view);
		  }
	  }
	   function switchViewResults(view) {
		if (view == 'list') {
			setLastView ('list');
			document.getElementById('<%=ctype(Page,IdamAdmin.IDAM).RootClientID%>_thumb_icon_GridAssets').src="images/icon_thumb_on.gif";
			document.getElementById('<%=ctype(Page,IdamAdmin.IDAM).RootClientID%>_list_icon_GridAssets').src="images/icon_list_off.gif";
			executeViewCallback(view);
		  } else {
			setLastView ('thumb');
			document.getElementById('<%=ctype(Page,IdamAdmin.IDAM).RootClientID%>_thumb_icon_GridAssets').src="images/icon_thumb_off.gif";
			document.getElementById('<%=ctype(Page,IdamAdmin.IDAM).RootClientID%>_list_icon_GridAssets').src="images/icon_list_on.gif";
			executeViewCallback(view);
		  }
	  }
	  

