<%@ Control Language="vb" AutoEventWireup="false" Inherits="IdamAdmin.FlashPreviewTemplate" CodeBehind="FlashPreviewTemplate.ascx.vb" %>
	<script type="text/javascript" src="js/swfobject.js"></script>
<table border="0" width="100%" id="">
	<tr>
		<td width=100 align="left" valign="top" nowrap>
		
<span id="previewvideo"></span>
	<!--<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="640" height="520" id="flvplayer9" align="middle" VIEWASTEXT>
	<param name="allowScriptAccess" value="sameDomain" />s
	<param name="allowFullScreen" value="true" />
	<param name="movie" value="<%=WebArchives.iDAM.Web.Core.IDAMWebSession.Config.URLLocationPreview%>?id=<%response.write(request.querystring("Id"))%>&instance=<%=WebArchives.iDAM.Web.Core.IDAMWebSession.Config.IDAMInstance%>&type=asset&size=0" />
	<param name="play" value="false" /><param name="loop" value="false" /><param name="menu" value="false" /><param name="quality" value="high" />
	<param name="bgcolor" value="#ffffff" />
	<embed src="<%=WebArchives.iDAM.Web.Core.IDAMWebSession.Config.URLLocationPreview%>?id=<%response.write(request.querystring("Id"))%>&instance=<%=WebArchives.iDAM.Web.Core.IDAMWebSession.Config.IDAMInstance%>&type=asset&size=0" play="false" loop="false" menu="false" quality="high" bgcolor="#ffffff" width="640" height="520" name="flvplayer9" align="middle" allowScriptAccess="sameDomain" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	</object>-->

		
		</td>
		<td align="left" valign="top">
		<div style="padding:5px;">
		<asp:Literal ID="LiteralAssetSummary" Runat=server></asp:Literal>
		</div><!--padding 5px on all-->				
		</td>
	</tr>
	<tr>
		<td colspan="2" align="left" valign="top">
		</td>
	</tr>
</table>
<script language="javascript" type="text/javascript">
var sovp = new SWFObject("<%response.write(WebArchives.iDAM.Web.Core.IDAMWebSession.BrowseService.GetRetrieveAssetURLBase)%>?id=<%response.write(request.querystring("Id"))%>&instance=<%response.write(WebArchives.iDAM.Web.Core.IDAMWebSession.Config.IDAMInstance)%>&type=asset&size=0", "sotester", "640", "480", "9", "#000000"); 
sovp.addParam("wmode", "transparent"); 
sovp.write("previewvideo"); 

</script>