<%@ Control Language="vb" AutoEventWireup="false" Inherits="IdamAdmin.MovieAssetPreviewTemplate" CodeBehind="MovieAssetPreviewTemplate.ascx.vb" %>

	
<table border="0" width="100%" id="">
	<tr>
		<td width=100 align="left" valign="top" nowrap>
		

    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" scale="noscale" SALIGN="left" height="<%=spIDAMVideoHeight+50%>" width="<%=spIDAMVideoWidth%>" id="flvplayer9" align="left" VIEWASTEXT>
	<param name="allowScriptAccess" value="sameDomain" />
	<param name="allowFullScreen" value="true" />
	<param name="wmode" value="transparent" />
	<param name="movie" value="./Players/FLASH/flvplayer10.swf?asset_id=<%response.write(Request.QueryString("ID"))%>&idam=getsmil.aspx&skinswf=SkinUnderPlayStopSeekFullVol.swf&timecode=&height=<%=spIDAMVideoHeight%>&width=<%=spIDAMVideoWidth%>&baseurl=" /><param name="play" value="false" /><param name="loop" value="false" /><param name="menu" value="false" /><param name="quality" value="high" /><param name="bgcolor" value="#ffffff" />	<embed src="./Players/FLASH/flvplayer10.swf?asset_id=<%response.write(Request.QueryString("ID"))%>&idam=getsmil.aspx&skinswf=SkinUnderPlayStopSeekFullVol.swf&timecode=1&height=<%=spIDAMVideoHeight%>&width=<%=spIDAMVideoWidth%>&baseurl=" play="false" loop="false" menu="false" quality="high" bgcolor="#ffffff" width="<%=spIDAMVideoWidth%>" height="<%=spIDAMVideoHeight+50%>" name="flvplayer9" align="left" allowScriptAccess="sameDomain" wmode="transparent" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	</object>

		 
		</td>
		<td align="left" valign="top">
		<div style="padding:5px;">
		<asp:Literal ID="LiteralAssetSummary" Runat=server></asp:Literal>
		</div><!--padding 5px on all-->				
		</td>
	</tr>
	<tr>
		<td colspan="2" align="left" valign="top">
		</td>
	</tr>
</table>