<%@ Control Language="vb" AutoEventWireup="false" Inherits="IdamAdmin.Mp3PreviewTemplate" CodeBehind="Mp3PreviewTemplate.ascx.vb" %>
<table border="0" width="100%" id="">
	<tr>
		<td width=100 align="left" valign="top" nowrap>
		

	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="640" height="200" id="flvplayer9" align="middle" VIEWASTEXT>
	<param name="allowScriptAccess" value="sameDomain" />
	<param name="allowFullScreen" value="true" />
	<param name="movie" value="./Players/FLASH/xspf_player_slim.swf?song_url=<%response.write(Server.UrlEncode(WebArchives.iDAM.Web.Core.IDAMWebSession.BrowseService.GetRetrieveAssetURLBase & "?id=" & request.querystring("Id") & "&instance=" & WebArchives.iDAM.Web.Core.IDAMWebSession.Config.IDAMInstance & "&type=asset&size=0"))%>&player_title=iDAM+Mp3+Player&song_title=<%response.write(IdamAdmin.AssetRequest.AssetData.fileName)%>" /><param name="play" value="false" /><param name="loop" value="false" /><param name="menu" value="false" /><param name="quality" value="high" /><param name="bgcolor" value="#ffffff" />	
	<embed src="./Players/FLASH/xspf_player_slim.swf?song_url=<%response.write(Server.UrlEncode(WebArchives.iDAM.Web.Core.IDAMWebSession.BrowseService.GetRetrieveAssetURLBase & "?id=" & request.querystring("Id") & "&instance=" & WebArchives.iDAM.Web.Core.IDAMWebSession.Config.IDAMInstance & "&type=asset&size=0"))%>&player_title=iDAM+Mp3+Player&song_title=<%response.write(IdamAdmin.AssetRequest.AssetData.fileName)%>" play="false" loop="false" menu="false" quality="high" bgcolor="#ffffff" width="640" height="200" name="mp3player" align="middle" allowScriptAccess="sameDomain" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	</object>

		
		</td>
		<td align="left" valign="top">
		<div style="padding:5px;">
		<asp:Literal ID="LiteralAssetSummary" Runat=server></asp:Literal>
		</div><!--padding 5px on all-->				
		</td>
	</tr>
	<tr>
		<td colspan="2" align="left" valign="top">
		</td>
	</tr>
</table>