
.SnapHeader
{
  background-image:url(images/bg_header.gif);  
  background-color: #E2E2EC;
  font-family: Verdana;
  padding-left: 5px;
  font-size: 10px;
  font-weight:bold;
  border: solid 1px #969698; 
  border-top: solid 1px #969698; 
  cursor: move;
  height: 25px;
  
}

.SnapHeaderProjectsOLD
{
	background-image:url(images/subheadingbackgray2.jpg);
  /*background-color: #F8F8F8;*/
  font-family: Verdana;
  padding-left: 5px;
  font-size: 10px;
  /*font-weight:bold;*/
  border-right: solid 1px #CCCCCC; 
  border-left: solid 1px #F3F2F2; 
  border-bottom: solid 1px #CCCCCC; 
  border-top: solid 1px #F3F2F2; 
  cursor: move;
  height: 20px;

}



.SnapHeaderProjects
{
	background-image:url(images/titleback.gif);
  /*background-color: #F8F8F8;*/
  font-family: Verdana;
  padding-left: 5px;
  font-size: 10px;
  /*font-weight:bold;*/
  border-right: solid 1px #BEBEBE; 
  border-left: solid 1px #BEBEBE; 
  border-bottom: solid 0px #BEBEBE; 
  border-top: solid 0px #F3F2F2; 
  cursor: move;
  height: 22px;

}


.SnapHeaderProjectsDark
{
	background-image:url(images/subheadingbackgrayDark.jpg);
  /*background-color: #F8F8F8;*/
  font-family: Verdana;
  padding-left: 5px;
  font-size: 10px;
  /*font-weight:bold;*/
  border-right: solid 1px black; 
  border-left: solid 1px #F3F2F2; 
  border-bottom: solid 1px black; 
  border-top: solid 1px #F3F2F2; 
  cursor: move;
  height: 25px;
color:White;
}

.SnapHeaderProjectsFilter
{
  background-color: #F6F6F8;
  font-family: Verdana;
  padding-left: 5px;
  font-size: 10px;
  font-weight:bold;
  border: solid 1px #dfdfdf; 
  border-top: solid 1px #dfdfdf; 
  cursor: move;
  height: 25px;

}


.SnapHeaderViewIcons
{

  font-family: Verdana;
  padding:0px;
  padding-left: 5px;
  font-size: 10px;

  height: 20px;
  
}

.SnapHeaderProjectsFilleruselater
{
	background-image:url(images/fillergradient.jpg); 
	background-repeat:repeat-x;
  font-family: Verdana;
  padding-left: 5px;
  font-size: 10px;
  font-weight:bold;
  border: solid 1px #E5E4E4; 
  height: 25px;
}



.snapHeaderClosed
{
  color: #ffffff;
  background-color: #E8E9F1;
  font-family: verdana;
  font-weight: bold;
  font-size: 12px;
  padding-top: 0px;
  padding-left: 5px;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr= 'black' , EndColorStr= '#E8E9F1' );
  cursor: move;
}

.SnapContent
{
  font-family: verdana;
  font-size: 11px;
  padding: 0px;
  border: #4284b5 1px solid;
  background-color: white;
}

.Dock
{
  padding-right:0px;
  padding-left:10px;
  padding-top:0px;
  /*border:white 1px solid; */
  /*background-color: #F7F7F7;*/
  vertical-align:top;
  bottom:0px;
  
  
}

.Links
{
  list-style-image:none;
  color:Black;
  font-size:11px;
}

.SnapTreeview
{
  background-color:white;
  padding:0px;
  padding-top:0px;
  border-top: 0px solid;
  border-left: #969698 1px solid;
  border-bottom: #969698 1px solid;
  border-right: #969698 1px solid;
  top:-2px;
  position:relative;
}


.SnapTreeviewGrey
{
  background-color:#F8F8F8;
  padding:0px;
  padding-top:0px;
  border-top: 0px solid;
  border-left: #969698 1px solid;
  border-bottom: #969698 1px solid;
  border-right: #969698 1px solid;
  top:-2px;
  position:relative;
}
.SnapProjects
{
	margin-bottom: 10px;
	border-top: 0px solid;
	border-bottom: #BEBEBE 1px solid;
	border-right: #BEBEBE 1px solid;
	border-left: #BEBEBE 1px solid;
	position: relative;
	top: 0px;
	height: 100%;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 0px;
	background-color: white;
}

.SnapProjects a
{
 color:#EB6601;
}

.SnapProjectsSearch
{
	margin-bottom: 10px;
  position:relative;
  top:0px;
  height:100%;overflow:hidden;padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:0px;background-color:white;
}




.SnapProjectsAssets
{
	
  border-top: 0px solid;
  border-left: #969698 0px solid;
  border-bottom: #CCCCCC 1px dotted;
  border-right: #969698 0px solid;
  position:relative;
  top:0px;
  height:100%;overflow:hidden;padding-left:0px;padding-right:0px;padding-bottom:5px;padding-top:0px;background-color:white;
}

.SnapProjectsOverlay
{
  border-top: #969698 1px solid;
  border-left: #969698 1px solid;
  border-bottom: #969698 1px solid;
  border-right: #969698 1px solid;
  position:relative;
  top:0px;
  height:100%;overflow:hidden;padding-left:3px;padding-right:3px;padding-bottom:5px;padding-top:5px;background-color:white;
  z-index:9999;
}

.SnapProjectsFilter
{

  padding-top:0px;
  border-top: 0px solid;
  border-left: #dfdfdf 1px solid;
  border-bottom: #dfdfdf 1px solid;
  border-right: #dfdfdf 1px solid;
  position:relative;
  top:-1px;
  height:100%;overflow:hidden;padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:0px;background-color:#F6F6F8;
}

.SnapProjectsFilterTest
{
  position:relative;
  padding-top:0px;
  border-top: 0px solid;
  border-left: #dfdfdf 1px solid;
  border-bottom: #dfdfdf 1px solid;
  border-right: #dfdfdf 1px solid;
  top:-1px;
  height:100%;padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:0px;background-color:#F6F6F8;
  z-index:1;
}

.SnapProjectTextTreatment1 
{
	 font-size:1.8em;
	  font-weight:bold;
	color:	#777777;
	float:left;
}


.SnapHeaderTag 
{
	 font-size:10px;
	 font-weight:bold;
	 color:	#777777;
	 font-family:Verdana;

}


.SnapTreeviewTag 
{
	 font-size:10px;
	 font-weight:normal;
	 color:	#777777;
	 font-family:Verdana;
	 padding-left:16px;
	 padding-bottom:4px;
}




.SnapProjectTextTreatment2
{
	 font-size:10px;
	 text-decoration:none;
	 color:	#777777;
	float:left;
}

.SnapProjectTextTreatment3
{
	 font-size:10px;
	 text-decoration:none;
	 color:	black;
	float:left;
	
}
.SnapProjectTextTreatmentLine    
{width:100%;padding-left:2px; height:4px;overflow:hidden;background-image: url(images/dottedline.gif);background-repeat:repeat-x;}

.SnapProjectTextTreatmentLineSpacer
{width:100%;padding-left:2px; height:4px;overflow:hidden;background-image: url(images/spacer.gif);background-repeat:repeat-x;}

.SnapProjectTextTreatmentFloatLeft
{
	 font-size:10px;
	 text-decoration:none;
	 color:	black;

	float:left;
}
.SnapTreeviewTest
{
  padding:5px;
  padding-top:0px;
  position:relative;
  height:500px;

}

.SnapProjectsWrapper
{
	padding-bottom:0px;
	
	border:0px;

}


.SnapProjectsWrapperPopup
{
	/*padding-bottom:5px;*/
	border:0px solid;
	border-right: 1px solid gray ;
	border-bottom:1px solid gray;
 z-index:9999;
 position:relative;
}

.assetOptions
{
	BACKGROUND-COLOR: #F6F6F8;border:1px solid #E2E2E2;padding:5px;
}

.myprojectsOptions
{
	padding:3px; margin-top:7px;
}

.myprojectsDownloadsNotice
{
	padding:3px; margin-left:15px;
}

.assetGirdPagingHeading
{
	padding:4px;
}

.assetOptionsPopup
{
	 BACKGROUND-IMAGE:url(images/ui/searchback.jpg);BACKGROUND-COLOR: #F6F6F8;border:1px solid #F3F2F2;padding:5px;
}


.assetOptions a
{
 color:#EB6601;
}

.projecttabscurrent
{
	padding:0px;padding-left:5px;padding-right:5px;FONT-WEIGHT: bold;font-size:10px;
	/*BACKGROUND-IMAGE:url(images/currenttabhighlight.gif);*/
}
.projecttabs
{
	padding:2px; font-size:10px;
}
.projecttabsnohighlight
{
	padding:0px; 
	padding-top:2px;
	font-size:10px;

	padding-left:10px; 
	padding-right:10px; 
	height:15px;
	float:left;
	position:relative;
	z-index:0;
	top:4px;
	text-align:center;
}

.tabcontainer
{
	position:relative;width:100%;height:0px;top:-22px;padding-left:6px;float:left;
}
.projecttabshighlight
{

	padding-left:10px; 
	padding-right:10px; 
	padding-top:2px;
	font-size:10px;
	background-color:White;
	border-left:1px solid #959595;
	border-right:1px solid #959595;
	border-top:1px solid #959595;

	height:15px;
	float:left;
	position:relative;
	z-index:0;
	top:4px;
	text-align:center;

}

.projecttabshighlight a
{
		 font-weight: bold;
}

.projecttabsnohighlight a
{
		 font-weight:  normal;
}


.projecttabsspacer
{
	padding:0px; 
	padding-top:2px;
	font-size:10px;
	width:2px;
	height:15px;
	float:left;
	position:relative;
	z-index:9999;
	top:4px;
	text-align:center;
}


.carouselshortlist
{
		 font-size:10px;
	 font-weight:normal;
	 color:	#777777;
	 font-family:Verdana;
	 padding-left:5px;
	 padding-right:5px;
	 padding-top:5px;
	 padding-bottom:4px;
}

.carouselshortlist a
{
 color:#EB6601;
}

.highlightcarouselitem
{
	border:1px solid #EB6601;
}


#trailimageid
{
	font-size: 0.75em;
	position: absolute;
	display: none;
	left: 0px;
	top: 0px;
	width: 400px;
	height: 0px;
	z-index: 200;
}
.ExploreSnap
{
	/*OVERFLOW:hidden;HEIGHT:0px;*/


BACKGROUND-COLOR:white;

}

.searchoptions
{
	font: 1em Trebuchet, Verdana, Arial, sans-serif;
	padding-top: 3px;
	padding-left: 9px;
	padding-bottom: 3px;
	color: #494949;
	background-color: #F1F3F5;
	line-height: 14px;
}

.searchoptions img
{
	padding: 0px;
	border: 0px;
	background-color: #7699BD;
}

.searchoptions strong { font-weight: bold; }


.searchOptionHeading
{
  cursor:  auto;
}

.searchOptionGroup
{
  padding-left: 13px;
  display: none;
}


.headerCss
{
	cursor:hand;
	cursor:pointer;
}

.contentCssTagging
{

border-left:5px solid black;
border-right:5px solid black;
background-color:#ECECD9;
width:1330px;
height:800px;
text-align:center;
overflow:hidden;

}

.contentCssEXPRESS
{

border-left:5px solid black;
border-right:5px solid black;
background-color:#ECECD9;
width:1330px;
height:740px;
text-align:center;
overflow:hidden;
}

.contentCssUDF
{
border-left:5px solid black;
border-right:5px solid black;
background-color:#ECECD9;
width:1114px;
height:750px;
text-align:center;
overflow:hidden;

}

.contentCssUEXPRESS
{
border-left:5px solid black;
border-right:5px solid black;
background-color:#ECECD9;
width:614px;
height:750px;
text-align:center;
overflow:hidden;

}

.contentCssKeyword
{
border-left:5px solid black;
border-right:5px solid black;
background-color:#ECECD9;
width:690px;
height:650px;
text-align:center;
overflow:hidden;
}


 
.contentCssUploadFolders
{
border-left:5px solid black;
border-right:5px solid black;
background-color:#ECECD9;
width:720px;
height:550px;
text-align:center;
overflow:hidden;
}



.contentCssFolder
{
border-left:5px solid black;
border-right:5px solid black;
background-color:#ECECD9;
width:840px;
height:700px;
text-align:center;
overflow:hidden;
}

.contentCssProject
{
border-left:5px solid black;
border-right:5px solid black;
background-color:#ECECD9;
width:890px;
height:700px;
text-align:center;
overflow:hidden;
}
.contentCssGroup
{
border-left:5px solid black;
border-right:5px solid black;
background-color:#ECECD9;
width:895px;
height:700px;
text-align:center;
overflow:hidden;
}
.contentCssUser
{
border-left:5px solid black;
border-right:5px solid black;
background-color:#ECECD9;
width:895px;
height:800px;
text-align:center;
overflow:hidden;
}
.contentCssCarousel
{
border-left:5px solid black;
border-right:5px solid black;
background-color:#ECECD9;
width:895px;
height:720px;
text-align:center;
overflow:hidden;

}
.contentCssQtag
{
border-left:5px solid black;
border-right:5px solid black;
background-color:white;
width:275px;
height:320px;
overflow:hidden;
padding:10px;
}

.iFrameCss
{
overflow:auto;
width:100%;
height:100%;
padding:0px;
margin:0px;
border:0px solid;
}


.quick_info 
{
    position: absolute;
    display: none;
    z-index: 9000;
}
.quick_preview_window
{
    width:500px;
    height:500px;
    display: none;
    z-index: 9999;
    position: absolute;
}
.quick_preview_window_top_left 
{
    width: 7px;
    height: 7px;
    background: url('images/preview_corner_top_left.png') no-repeat bottom right;
}
.quick_preview_window_top_center 
{
    height: 7px;
    background: url('images/preview_side_top.png') repeat-x bottom left;
}
.quick_preview_window_top_right
{
        width: 7px;
    height: 7px;
    background: url('images/preview_corner_top_right.png') no-repeat bottom left;
}
.quick_preview_window_center_left
{
    width: 7px;
    background: url('images/preview_side_left.png') repeat-y top right;
}
.quick_preview_window_center
{
    background: white;
    padding: 10px;
}
.quick_preview_window_center_right
{
    width: 7px;
    background: url('images/preview_side_right.png') repeat-y top left;
}
.quick_preview_window_bottom_left
{
        width: 7px;
    height: 7px;
    background: url('images/preview_corner_bottom_left.png') no-repeat top right;
}
.quick_preview_window_bottom_center
{
    height: 7px;
    background: url('images/preview_side_bottom.png') repeat-x top left;
}
.quick_preview_window_bottom_right
{
        width: 7px;
    height: 7px;
    background: url('images/preview_corner_bottom_right.png') no-repeat top left;
}


        
        
        
/* position and dimensions of the navigator */
.navi {
	margin-left:110px;
	width:250px;
	height:20px;
}


/* items inside navigator */
.navi a {
	width:8px;
	height:8px;
	float:left;
	margin:3px;
	background:url(images/navigator.png) 0 0 no-repeat;
	display:block;
	font-size:1px;
}

/* mouseover state */
.navi a:hover {
	background-position:0 -8px;      
}

/* active state (current page state) */
.navi a.active {
	background-position:0 -16px;     
}
        
        
        
        
        
/* everything is constructed with a single background image */

/* root element for tabs */
#flowtabs {
	
	/* dimensions */
	width:300px;
	height:31px !important;
	margin:0 !important; 
	padding:0;	
	
	/* IE6 specific branch (prefixed with "_") */
	_margin-bottom:-2px;
}

/* single tab */
#flowtabs li { 
	float:left; 
	margin:0; 
	padding:0; 
	text-indent:0; 
	list-style-type:none;
}

/* a- tag inside single tab */
#flowtabs li a {
	
	display:block;
	height: 20px;   
	width: 70px; 	
	padding:0px;
	margin:0px;
	
	/* font decoration */
	color:#000;
	font-size:10px;
	line-height:18px;
	text-align:center;
	text-decoration:none;
}

/* adjust the background image position on each tab */

 
/* mouseover state */
#flowtabs a:hover 		{ color:#000;	 }


/* currently selected tabs */
#flowtabs a.current		{ cursor:default; color:#000; line-height:34px; }



/* panes */
#flowpanes {
	
	width:270px;
	height:280px;	
}


/* single pane */
#flowpanes div {
	display:none;	
	color:#000;	
}

        
   #flowpanes {
		position:relative;
		overflow:hidden;
		clear:both;
	}



	/* override single pane */
	#flowpanes div {
		float:left;
		display:block;
		width:290px;
	}

	/* our additional wrapper element for the items */
	#flowpanes .scrollableitems {
		width:20000em;
		position:absolute;
		clear:both;
		margin:0;
		padding:0;
	}

	#flowpanes .less, #flowpanes .less a {
		color:#999 !important;

	}
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        

.filterheading
{
	margin-top:5px;
	/*background-color:#A7A491;*/
	font-family:Verdana;
	font-weight:normal;
	padding:0px;
	position:relative;
	z-index:1;
	/*border-top:1px dotted silver;*/
}

.filterheadingtext
{
	font-family:Verdana;
	font-weight:bold;
		color: #666666;	
		cursor:pointer ;
}



.filterheadingmain
{
	/*background-color:#A7A491;
	font-family:Verdana;*/
	font-weight:bold;
	padding:8px;
	padding-right:10px;
	margin-right:5px;
	position:relative;
	z-index:1;
	border-top:1px dotted silver;
}


.filterfooter
{
	padding:3px;
}


.filterheadingnoback
{
	font-family:Verdana;
	font-weight:bold;
	padding:5px;
	position:relative;
	z-index:1;
}
.filterbody
{
	/*background-color:#E8E5D6;
	font-family:Verdana;*/
	font-weight:normal;
	padding:5px;
	position:relative;
	 z-index:1;
	 
}

.filterpbody
{
	/*background-color:#E8E5D6;*/
	font-family:Verdana;
	font-weight:normal;
	padding:5px;
	position:relative;
	color:Black;
	 z-index:1;
	 overflow:hidden;
	 white-space:nowrap;
}


.assetfilternewpreviewfilter
{
	text-decoration: none;
	/*color: #f57f25;*/
	font-family: verdana;
    font-size : 10px;
    padding-left:15px;    
}


.assetfilternewpreviewfilter div
{ 
	width:200px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
   float:left;
}


.assetfilternewpreviewfilter a
{
		color: #666666;
}

.assetfilternewpreviewfilter a:hover
{
	color: #f57f25;
}

.assetfilternewaddfilter
{
	text-decoration: none;
	/*color: #f57f25;*/
	font-family: verdana;
    font-size : 10px;
    padding-left:10px;    
}

.assetfilternewaddfilter a
{
	color: #f57f25;
}

.assetfilternewdelfilter
{
	text-decoration: none;
	color: #666666;
	font-family: verdana;
    font-size : 10px;
    padding-left:20px;  
    padding-top:2px;  
}
.assetfilternewdelfilter a
{
	color: #f57f25;
}

.assetfilternewdelicon
{
background-image: url('../css/ui-lightness/images/ui-icons_ffffff_256x240.png');
background-position: -96px -128px;
background-repeat: no-repeat;
display: block;
overflow: hidden;
text-indent: -99999px;
margin: 1px;
	
}


.filterboxitem
{
float:left;
width:200px;
height:20px;
overflow:hidden;
padding-right:10px;
white-space:nowrap;
}
        

#search_input_filter {
	background: url('../images/bg_search_input.jpg') top left no-repeat;
	width:250px;
	height:19px;
	padding: 0;
}
#search_input_filter input {
	position:relative;
	top:3px;
	left:9px;
	width:213px;
	border: 0;
	background: transparent;
	font-size: 10px;
	margin: 0;
	float:left;
}
#search_input_filter img {
	float:right;
}        
#search_input_filter a {
	border:0px;
}  
        
        
        
#search_input_dialog_filter {
	background: url('../images/bg_search_input.jpg') top left no-repeat;
	width:195px;
	height:19px;
	padding: 0;
	float:left;
}
#search_input_dialog_filter input {
	position:relative;
	top:3px;
	left:9px;
	width:140px;
	border: 0;
	background: transparent;
	font-size: 10px;
	margin: 0;
	float:left;
}
#search_input_dialog_filter img {
	float:right;
}
#search_input_dialog_filter a {
	border:0px;
}  
        
        
        
        
a.multiSelect {
	background: #FFF url(images/drop.gif) right center no-repeat;
	border: solid 1px #BBB;
	padding-right: 20px;
	padding-top:3px;
	padding-left:3px;
	position: relative;
	cursor: default;
	text-decoration: none;
	color: black;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	height:20px;
	color:#666666;
}

a.multiSelect:link, a.multiSelect:visited, a.multiSelect:hover, a.multiSelect:active {
	color: black;
	text-decoration: none;
}

a.multiSelect span
{
	margin: 1px 0px 1px 3px;
	overflow: hidden;
	display: -moz-inline-stack;
	display: inline-block;
	width:200px;
	white-space: nowrap;
}

a.multiSelect.hover {
	background-image: url(images/drop_hover.gif);
}

a.multiSelect.active, 
a.multiSelect.focus {
	border: inset 1px #000;
}

a.multiSelect.active {
	background-image: url(images/drop_hover.gif);
}

.multiSelectOptions {
	margin-top: -1px;
	overflow-y: auto;
	overflow-x: hidden;
	border: solid 1px #B2B2B2;
	background: #FFF;
    font-family:Verdana;font-size:10px;font-weight: normal;
}

.multiSelectOptions LABEL {
	padding: 0px 2px;
	display: block;
	white-space: nowrap;
	height:20px;
	font-family:Verdana;font-size:10px;font-weight: normal;
}

.multiSelectOptions LABEL.optGroup
{
	font-weight: bold;
}

.multiSelectOptions .optGroupContainer LABEL
{
	padding-left: 10px;
}

.multiSelectOptions.optGroupHasCheckboxes .optGroupContainer LABEL
{
	padding-left: 18px;
}

.multiSelectOptions input{
	vertical-align: middle;
}

.multiSelectOptions LABEL.checked {
/*	background-color: #dce5f8;*/
}

.multiSelectOptions LABEL.selectAll {
	border-bottom: dotted 1px #CCC;
}

.multiSelectOptions LABEL.hover {
	background-image: url(images/hoverBg.gif);
	color: black;
}

