html {
background:#ececec url(../images/bg.jpg) repeat-x scroll 0 0;
height:100%;
min-height:100%;
margin:0;
padding:0;
}

body {
background:transparent url(../images/banner_bg.jpg) no-repeat scroll 50% 104px;
min-height:430px;
font-family:Nobile, Helvetica, Arial, sans-serif;
margin:0;
padding:0;
}

a,a *,img,a:hover,a:active,a:hover *,a:active *,input,input:hover,input:active {
outline:0!important;
border:0;
}

.c {
clear:both;
height:1px;
width:100%;
overflow:hidden;
float:none;
}

.top {
width:980px;
height:105px;
border:0;
margin:0 auto;
}

.top .logo {
width:262px;
height:50px;
background: transparent url(../images/logo.png) no-repeat scroll 0 0;
margin-top:40px;
float:left;
}

.top .logo a {
width:255px;
height:58px;
display:block;
}

.top .login {
width:308px;
height:58px;
background: transparent url(../images/creat.jpg) no-repeat scroll 0 100%;
margin-top:10px;
padding-bottom:10px;
float:right;
}

.top .login ul {
margin:0;
padding:0;
list-style:none;
}

.top .login ul li {
white-space:nowrap;
float:right;
list-style:none;
width: 100px;
overflow: hidden;
text-align: right;

}

.top .login ul li a {
text-decoration:none;
color:#d1d1d1;
text-transform:uppercase;
margin-left:20px;
font-size:12px;
border:0;
}

.top .login ul li a:hover {
color:#333;
}

.menu {
width:980px;
border:0;
margin:0 auto;
}

.menu .menu_content {
float:right;
}

.menu .menu_content ul {
margin:37px 0 0;
padding:0;
}

.menu .menu_content ul li {
float:left;
list-style:none;
background:#323B51 url(../images/menuBG.png) repeat-x scroll 50% -284px;
}

.menu .menu_content ul li.selected {
background:#9CA1A4 url(../images/headers.png) repeat-x scroll 50% -284px;
}

#home .menu .menu_content ul li.selected {
background:#9CA1A4 url(../images/headers.png) repeat-x scroll 50% -284px;
}

#about .menu .menu_content ul li.selected {
background:#313950 url(../images/headers.png) repeat-x scroll 50% -35px;
}

#solution .menu .menu_content ul li.selected {
background:#BCA927 url(../images/headers.png) repeat-x scroll 50% -110px;
}

#case .menu .menu_content ul li.selected {
background:#EA9D32 url(../images/headers.png) repeat-x scroll 50% -201px;
}

#news .menu .menu_content ul li.selected {
background:#9CA1A4 url(../images/headers.png) repeat-x scroll 50% -284px;
}

#contact .menu .menu_content ul li.selected {
background:#7FAC67 url(../images/headers.png) repeat-x scroll 50% -365px;
}

.menu .menu_content ul li.selected a {
color: #fff;
}

.menu .menu_content ul li.last {
border-right:1px solid #666f88;
}

.menu .menu_content ul li a {
display:block;
font-size:13px;
line-height:16px;
height:16px;
color:#AFB1B9;
text-decoration:none;
text-transform:uppercase;
width:106px;
border:1px solid #666f88;
border-right:0;
text-align:center;
padding:10px 0;
}

.menu .menu_content ul li a:hover {
background:#9CA1A4 url(../images/headers.png) repeat-x scroll 50% -284px;
color:#fff;
}

#about .menu .menu_content ul li a:hover {
background:#313950 url(../images/headers.png) repeat-x scroll 50% -35px;
}

#solution .menu .menu_content ul li a:hover {
background:#BCA927 url(../images/headers.png) repeat-x scroll 50% -110px;
}

#case .menu .menu_content ul li a:hover {
background:#EA9D32 url(../images/headers.png) repeat-x scroll 50% -201px;
}

#news .menu .menu_content ul li a:hover {
background:#9CA1A4 url(../images/headers.png) repeat-x scroll 50% -284px;
}

#contact .menu .menu_content ul li a:hover {
background:#7FAC67 url(../images/headers.png) repeat-x scroll 50% -365px;
}

.banner {
width:990px;
height:380px;
border:0;
margin:30px auto 0;
}

.about h1 {
background:#6795ac url(../images/headers.png) no-repeat scroll 50% 0;
color:#D8E4EA;
font-size:28px;
line-height: 83px;
font-weight:400;
text-shadow:1px 1px 4px #3E4862;
margin:0;
padding: 0 30px 0 45px;
height: 83px;
overflow: hidden;
}

.solution h1 {
background:#bca927 url(../images/headers.png) no-repeat scroll 50% -83px;
color:#F0E9CC;
font-size:28px;
line-height: 83px;
font-weight:400;
text-shadow:1px 1px 1px #887B1F;
margin:0;
padding: 0 30px 0 45px;
height: 83px;
overflow: hidden;
}

.case h1 {
background:#ea9b2e url(../images/headers.png) no-repeat scroll 50% -166px;
text-shadow:1px 1px 3px #AA7123;
color:#ECE7C2;
font-size:28px;
line-height: 83px;
font-weight:400;
margin:0;
padding: 0 30px 0 45px;
height: 83px;
overflow: hidden;
}

.news h1 {
background:#9ca1a4 url(../images/headers.png) no-repeat scroll 50% -249px;
color: #E5E6E7;
text-shadow:1px 1px 4px #7E8286;
font-size:28px;
line-height: 83px;
font-weight:400;
margin:0;
padding: 0 30px 0 45px;
height: 83px;
overflow: hidden;
}

.contact h1 {
background:#80ad68 url(../images/headers.png) no-repeat scroll 50% -332px;
color:#DBE8D4;
text-shadow:1px 1px 4px #617F4F;
font-size:28px;
line-height: 83px;
font-weight:400;
margin:0;
padding: 0 30px 0 45px;
height: 83px;
overflow: hidden;
}

.content {
width:990px;
min-height:100px;
border:0;
background-image:url(../images/bg_content.jpg);
background-repeat:repeat-y;
margin:0 auto;
padding:20px 0;
}

.content .content_left {
float:left;
margin-left:25px;
width:625px;
border:0;
}

.content .content_left h2 {
color:#6c9bb4;
font-size:26px;
border-bottom:5px solid #b3d7e9;
margin:0;
padding:0 0 33px;
}

.content .content_left h3 {
background-image:url(../images/arrow2.jpg);
background-repeat:no-repeat;
background-position:0 10px;
margin:16px 0 0;
padding:0 0 0 16px;
}

.content .content_left span {
background-image:url(../images/calend.jpg);
background-repeat:no-repeat;
background-position:left;
color:#aaa;
font-size:12px;
font-style:italic;
padding-left:20px;
}

.content .content_left .learn {
width:300px;
float:left;
font-size:20px;
color:#6186a8;
}

.content .content_left .learn a.down_button {
width:83px;
height:28px;
display:block;
border:0;
background:transparent url(../images/down_button.png) no-repeat scroll 0 0;
margin:29px 0 0;
}

.content .content_left .learn a.down_button:hover {
background:transparent url(../images/down_button.png) no-repeat scroll 0 -28px;
}

.content .content_left .homeNews {
width:300px;
float:right;
font-size:20px;
color:#6186a8;
margin: 0;
}

.content .content_left .homeNews a.news_button {
width:83px;
height:28px;
display:block;
background:transparent url(../images/news_button.png) no-repeat scroll 0 0;
margin:20px 0 0;
}

.content .content_left .homeNews a.news_button:hover {
background:transparent url(../images/news_button.png) no-repeat scroll 0 -28px;
}

.content .content_left .homeNews p {
margin-bottom:5px;
border:0;
}

.content .content_left .homeNews .text {
font-size:12px;
color:#919191;
margin-top:5px;
border-bottom:1px dotted #DADADA;
min-height:76px;
padding:0 0 10px;
}

.content .content_right {
float:right;
margin-right:25px;
}

.content .content_right h3 {
border:0;
font-size:16px;
color:#6186a8;
background:#FFF url(../images/arrow2.jpg) no-repeat scroll 0 5px;
margin:0 0 20px;
padding:0 0 0 20px;
}

#prevNext {
margin-bottom:-2.5em;
}

#prevNext img {
position:relative;
z-index:2;
cursor:pointer;
top:-47px;
left:200px;
}

#wrap {
margin-top:20px;
width:280px;
}

#wrap p {
position:relative;
top:0;
line-height:50px;
height:50px;
background:#000;
opacity:.7;
filter:alpha(opacity=70);
color:#333;
font-size:12px;
margin:0;
padding:0;
}

#wrap #test {
border:0;
width:280px;
margin-top:20px;
}

.content .content_right .slide {
margin-top:20px;
min-height:300px;
}

.content_other {
width:900px;
min-height:100px;
border:0;
background-image:url(../images/cont_bg_all.png);
background-repeat:repeat-y;
margin:0 auto;
padding:0 45px 20px;
}

.content_other .content_left_about {
width:590px;
float:left;
font-size:12px;
color:#737373;
line-height:24px;
}

.content_other .content_left_about .text_top {
padding:10px 0 0;
}

.content_other .content_left_about .text_top_case {
font-size:17px;
line-height:25px;
color:#6186a8;
}

#contact .content_other .content_left_about .text_top_case {
border-bottom:5px solid #b3d7e9;
min-height:281px;
margin:0;
padding:0;
}

.content_other .content_left_about .case_title {
color:#6186a8;
font-weight:700;
margin:0;
padding:0;
}

.content_other .content_left_about .content_case {
padding:30px 0;
}

.content_other .content_left_about h3 {
font-size:16px;
line-height:30px;
color:#6186a8;
font-weight:400;
margin:0;
padding:0;
}

#about .content_other .content_left_about h3 {
font-size:17px;
color:#6186a8;
line-height:normal;
width:575px;
margin:0;
padding:0;
}

#solution .content_other .content_left_about h3 {
font-size:17px;
line-height:28px;
font-weight:400;
}

.content_other .intro {
min-height:281px;
border-bottom:5px solid #b3d7e9;
margin:0;
padding:0;
}

.content_other .content_left_about h2 {
color:#6186a8;
font-size:16px;
line-height:25px;
background:#FFF url(../images/arrow2.jpg) no-repeat scroll 0 36px;
margin:0;
padding:30px 0 20px 20px;
}

.content_other .content_left_about .box_about {
background-color:#ececec;
border-top:1px dotted #999;
padding:20px;
}

.content_other .content_left_about .box_about h4 {
font-size:16px;
color:#7696b4;
margin:0;
padding:0;
}

.content_other .content_left_about .box_about h6 {
font-size:13px;
color:#7696b4;
margin:0;
padding:0;
}

.content_other .content_left_about .box_about p {
padding:0 0 0 160px;
}

.content_other .content_left_about .box_about img {
padding-right:30px;
float:left;
}

.content_other .content_left_about .box_about .downloadBio {
margin-top:5px;
float:right;
}

.content_other .content_left_about .box_about .downloadBio a {
display:block;
width:144px;
height:28px;
background:transparent url(../images/downloadBio.png) no-repeat scroll 0 0;
}

.content_other .content_left_about .box_about .downloadBio a:hover {
background:transparent url(../images/downloadBio.png) no-repeat scroll 0 -28px;
}

#news .content_other .content_left_about h3 {
font-size:15px;
line-height:22px;
color:#6186a8;
font-weight:700;
margin:0;
padding:0;
}

#case .content_other .content_left_about h3 {
font-size:27px;
line-height:37px;
color:#6186a8;
font-weight:400;
margin:0 0 24px;
padding:0;
}

.content_other .content_left_about .news_text {
font-size:12px;
color:#737373;
}

.content_other .content_left_about .news_text a {
text-decoration:none;
color:#e69900;
}

.content_other .content_left_about .contact_left {
width:270px;
float:left;
margin-top:25px;
}

.content_other .content_left_about .contact_left .left_title {
font-size:17px;
line-height:27px;
color:#6186a8;
font-weight:400;
margin:0 0 20px;
padding:0;
}

.content_other .content_left_about .contact_right {
width:282px;
float:right;
margin-top:25px;
}

.content_other .content_left_about .contact_right h2 {
color:#6186a8;
font-size:16px;
background:#FFF url(../images/arrow2.jpg) no-repeat scroll 0 5px;
margin:0;
padding:0 0 0 20px;
}

.content_other .content_left_about .contact_right .input {
width:281px;
height:32px;
background-image:url(../images/input.jpg);
background-repeat:no-repeat;
margin-top:10px;
}

.content_other .content_left_about .contact_right .input input {
border:0;
width:261px;
color:#777;
background:transparent;
padding:8px 10px;
}

.content_other .content_left_about .contact_right .input_area {
width:281px;
height:116px;
background-image:url(../images/area.jpg);
background-repeat:no-repeat;
margin-top:10px;
}

.content_other .content_left_about .contact_right .input_area textarea {
width:275px;
height:110px;
resize:none;
background:transparent;
border:0;
color:#777;
padding:3px;
}

.content_other .content_left_about .contact_right .submit {
width:82px;
height:32px;
background:transparent url(../images/send.png) no-repeat scroll 0 0;
margin-top:15px;
border:0;
cursor:pointer;
}

.content_other .content_left_about .contact_right .submit:hover {
background:transparent url(../images/send.png) no-repeat scroll 0 -32px;
}

.content_other .content_right_about {
width:280px;
float:right;
font-size:14px;
color:#737373;
}

.content_other .content_right_about h2 {
color:#6186a8;
font-size:16px;
line-height:30px;
background:#FFF url(../images/arrow2.jpg) no-repeat scroll 0 39px;
margin:0;
padding:30px 0 13px 20px;
}

#contact .content_other .content_right_about h2 {
background:#FFF url(../images/arrow2.jpg) no-repeat scroll 0 31px;
padding:22px 0 13px 20px;
}

.content_other .content_right_about .caseTitle {
font-weight:400;
font-size:24px;
line-height:30px;
color:#7c7c7c;
margin:0 0 10px 0;
padding:5px 0 ;
}

.content_other .content_right_about .content_right {
line-height:22px;
}

.content_other .content_right_about span {
color:#ffac00;
}

.content_other .content_right_about .more {
margin-top:10px;
}

.content_other .content_right_about .more a {
width:100px;
height:28px;
background:transparent url(../images/more.png) no-repeat scroll 0 0;
display:block;
}

.content_other .content_right_about .case_right {
border:0;
line-height:20px;
margin:0;
padding:0;
}

.content_other .content_right_about ul {
margin:15px 0 0;
padding:0;
}

.content_other .content_right_about ul li {
list-style:none;
border-top:1px dotted;
background-image:url(../images/kroutz.jpg);
background-repeat:no-repeat;
background-position:left center;
font-size:13px;
padding:13px 0 13px 30px;
}

.content_other .content_right_about ul li a {
text-decoration:none;
color:#ffac00;
}

.content_other .content_right_about ul li a:hover {
color:#6186a8;
}

#home .content_left .intro {
min-height: 165px;
border-bottom:5px solid #b3d7e9;
}

#home .content_left h1 {
color:#6186a8;
font-size:24px;
line-height:33px;
font-weight:400;
margin: 0;
padding: 20px 0 0 0;
}

#home .content_right .intro {
border-bottom:5px solid #b3d7e9;
min-height:165px;
}

.footer {
background-color:#232939;
color:#57646f;
font-size:12px;
}

.footer .footer_content {
width:900px;
border:0;
margin:0 auto;
padding:40px;
}

.footer .footer_content .menu {
width:148px;
border:0;
float:left;
margin-right:18px;
}

.footer .footer_content .menu h1 {
color:#d8d8d8;
font-size:17px;
border:0;
font-weight:400;
margin:0;
padding:0;
}

.footer .footer_content .menu.col5 {
width:210px;
}

.footer .footer_content .menu h1.additional {
margin-top:20px;
}

.footer .footer_content .menu ul {
margin:0;
padding:0;
}

.footer .footer_content .menu ul li {
list-style:none;
border-bottom:1px dotted #57646f;
padding-bottom:10px;
margin-top:10px;
}

.footer .footer_content .menu ul li a {
text-decoration:none;
color:#57646f;
}

.footer .footer_content .menu ul li a:hover {
text-decoration:none;
color:#b0bbc4;
padding-left:10px;
background-image:url(../images/arrow.jpg);
background-repeat:no-repeat;
background-position:0 4px;
}

.footer .footer_content .contact_footer {
width:225px;
border:0;
float:right;
}

.footer .footer_content .contact_footer h1 {
color:#d8d8d8;
font-size:18px;
letter-spacing:-1px;
border:0;
margin:0;
padding:0;
}

.footer .footer_content .menu p {
margin:0;
padding:0;
}

.footer .footer_copy a,.footer .footer_copy a:link,.footer .footer_copy a:visited {
text-decoration:none;
color:#545559;
}

.footer .footer_copy {
background-color:1fa0c11;
border-top:3px solid #2e384a;
padding: 0;
margin: 0;
}

.footer .footer_copy .copy {
width:980px;
min-height:40px;
font-size:12px;
color:#545559;
padding: 10px 0 0 0;
margin: 0 auto 0 auto;
}

.footer .footer_copy .copy .left {
float:left;
width:450px;
}

.footer .footer_copy .copy .right {
float:right;
width:450px;
border:0;
text-align:right;
}

a.learn_more {
width:100px;
height:28px;
display:block;
margin:10px 0 20px 0;
padding: 0;
background:transparent url(../images/more.png) no-repeat scroll 0 0;
float: none;
clear: both;
}

div.accordion {
width:588px;
overflow:hidden;
margin:0;
padding:0;
border:0;
}

.billow1 {
margin:0;
padding:0;
}

.accordionButton {
width:538px;
float:left;
background:#DBDBDB url(../images/plusMinus.png) no-repeat scroll 8px 8px;
height:37px;
line-height:37px;
overflow:hidden;
font-size:14px;
border-bottom:1px dashed #fafafa;
cursor:pointer;
position:relative;
padding:0 5px 0 45px;
}

.accordionButton.on {
background:#777 url(../images/plusMinus.png) no-repeat scroll 8px -50px;
border-bottom:1px solid #777;
}

.accordionButton strong {
color:#DD9D20;
}

.accordionButton.on strong {
color:#FFAC00;
}

.accordionContent {
width:588px;
float:left;
background:#777;
border-bottom:1px solid #ccc;
color:#B8B7B7;
margin:0;
padding: 0;
}

.accordionContent p {
padding: 10px 35px 0 45px;
margin: 0;
}

.slide_right {
height:380px;
overflow:hidden;
}

.content .content_right .slide_right h3 {
margin-top:25px;
}

#slideshow {
width:991px;
height:381px;
background-image:url(../images/slide_bg.png);
position:relative;
margin:0 auto;
}

#slideshow #slidesContainer {
width:940px;
height:381px;
overflow:auto;
position:relative;
border:0;
z-index:1;
margin:0 auto;
}

#slideshow #slidesContainer .slide {
width:940px;
height:263px;
margin:20px auto 0;
}

.control {
display:block;
width:39px;
height:81px;
text-indent:-10000px;
position:absolute;
cursor:pointer;
z-index:2;
}

#leftControl {
top:150px;
left:26px;
background:transparent url(../images/left.png) no-repeat 0 0;
}

#rightControl {
top:150px;
right:9px;
background:transparent url(../images/right.png) no-repeat 0 0;
}

#pageContainer {
width:960px;
margin:0 auto;
}

#pageContainer h1 {
display:block;
width:960px;
height:114px;
background:transparent url(../img/bg_pagecontainer_h1.jpg) no-repeat top left;
text-indent:-10000px;
}

#sliderBloc .slide_top_title {
position:absolute;
right:26px;
top:40px;
background-image:url(../images/slide_bg_top.png);
font-size:20px;
line-height:30px;
color:#FFF;
z-index:9;
padding:10px 40px;
cursor: default;
}

.slide_bottom_title {
position:relative;
right:0;
bottom:32px;
background-image:url(../images/slide_bg_bottom.png);
font-size:16px;
color:#FFF;
padding:5px 40px 8px;
}

.test_cont {
border:0;
font-size:12px;
color:#999;
}

.test_cont .test_bg_top {
background-color:#f5f3f3;
min-height:100px;
font-style:italic;
line-height:17px;
padding:20px;
}

.test_cont .test_bg_bottom {
width:220px;
height:40px;
background-image:url(../images/test_bg_bottom.jpg);
background-repeat:no-repeat;
background-position:top;
padding-top:25px;
padding-left:60px;
}

.nav {
width:965px;
border:0;
position:absolute;
z-index:2;
}

#slides {
width: 940px;
height: 359px;
position: relative;
padding: 0;
margin: 0 auto 0 auto;
top: 25px;
overflow: hidden;
}

#slides a {
display: block;
width: 940px;
height: 359px;
overflow: hidden;
}
#sliderBloc p {
margin: 0;
padding: 0;
}

#sliderBloc a#previous {
position: absolute;
top: 22px;
left: 25px;
background:url(../images/left.png) no-repeat left top;
cursor:pointer;
width:23px;
height:81px;
border:0;
margin:150px 0 0;
z-index: 110;
}

#sliderBloc a#next {
position: absolute;
top: 22px;
right: 25px;
background:url(../images/right.png) no-repeat left top;
cursor:pointer;
width:23px;
height:81px;
border:0;
margin:150px 0 0;
z-index: 110;
}

#slider-list {
width:991px;
border:0;
left:0;
position:absolute;
margin:0;
padding:0;
}

#slider-list a.theme {
list-style:none;
float:left;
width:940px;
height:381px;
position:relative;
cursor:pointer;
text-decoration:none;
overflow:hidden;
border:0;
margin:0 8px 0 0;
padding:0;
}

#slider-list a.theme span.nameVignette {
position:absolute;
left:0;
width:940px;
bottom: 25px;
color: #fff;
font-size:15px;
background-image:url(../images/slide_bg_bottom.png);
padding:10px 20px 5px;
}

#slider-list a.theme:hover span.nameVignette {
color: #FBA938;
}

#sliderBloc {
height:381px;
width:991px;
overflow:hidden;
border:0;
background:transparent url(../images/slide_bg.png) no-repeat scroll 0 0;
position:relative;
margin:0 auto;
}

.about,.solution,.case,.contact,.news {
width:980px;
height:182px;
margin:31px auto 0;
}

.about h2,.case h2,.contact h2 {
color:#6186a8;
font-size:20px;
line-height:30px;
background:#FFF url(../images/arrow2.jpg) no-repeat scroll 37px 47px;
margin:0;
padding:38px 0 40px 55px;
}

.solution h2,.news h2 {
color:#6186a8;
font-size:20px;
background-color:#FFF;
background-image:url(../images/arrow2.jpg);
background-repeat:no-repeat;
background-position:37px 44px;
margin:0;
padding:38px 0 40px 55px;
}

.content .content_left p,.content_other .content_right_about .case_services {
font-size:12px;
color:#ffac00;
}

.content .content_left p,.content_other .content_right_about .case_services a{
font-size:12px;
color:#e69900;
}

.content .learn h3,.content .homeNews h3 {
border:0;
font-size:16px;
color:#6186a8;
background:#FFF url(../images/arrow2.jpg) no-repeat scroll 0 5px;
margin:20px 0 20px;
padding:0 0 0 20px;
}

.content_other .content_left_about .news_text a:hover,.footer .footer_copy .case_services a:hover {
text-decoration:underline;
}

.content_other .content_right_about .more a:hover,a.learn_more:hover {
background:transparent url(../images/more.png) no-repeat scroll 0 -28px;
}
