﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Default_S.aspx.vb" Inherits="Default_S" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">



<asp:Literal id="htmltop" runat=server></asp:Literal>

<asp:Literal id="htmlbottom" runat=server></asp:Literal>

