﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Property_Detail.aspx.vb" Inherits="Property_Detail" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<asp:Literal id="htmltop" runat=server></asp:Literal>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
 <style type="text/css">
 	@import url("css/style.css");
</style>





<style type="text/css">

<script src="http://cdn.jquerytools.org/1.2.2/full/jquery.tools.min.js" type="text/javascript"></script>


<link rel="alternate" type="application/rss+xml" title="WDCEP &raquo; Feed" href="http://wdcep.com/?feed=rss2" />
<link rel="alternate" type="application/rss+xml" title="WDCEP &raquo; Comments Feed" href="http://wdcep.com/?feed=comments-rss2" />
<link rel="alternate" type="application/rss+xml" title="WDCEP &raquo; Home Comments Feed" href="http://wdcep.com/?feed=rss2&#038;page_id=10977" />
<link rel="stylesheet" id="flickr-gallery-css"  href='http://wdcep.com/wp-content/plugins/flickr-gallery/flickr-gallery.css' type='text/css' media='all' />
<link rel='stylesheet' id='fg-jquery-ui-css'  href='http://wdcep.com/wp-content/plugins/flickr-gallery/tab-theme/jquery-ui-1.7.3.css' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-flightbox-css'  href='http://wdcep.com/wp-content/plugins/flickr-gallery/flightbox/jquery.flightbox.css' type='text/css' media='all' />
<link rel='stylesheet' id='tubepress-css'  href='http://wdcep.com/wp-content/plugins/tubepress/src/main/web/css/tubepress.css' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css'  href='http://wdcep.com/wp-content/plugins/contact-form-7/includes/css/styles.css' type='text/css' media='all' />
<link rel='stylesheet' id='se-link-styles-css'  href='http://wdcep.com/wp-content/plugins/search-everything/static/css/se-styles.css' type='text/css' media='all' />
<link rel='stylesheet' id='wp-pagenavi-css'  href='http://wdcep.com/wp-content/plugins/wp-pagenavi/pagenavi-css.css' type='text/css' media='all' />
<link rel='stylesheet' id='parent-style-css'  href='http://wdcep.com/wp-content/themes/bones/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'  href='http://wdcep.com/wp-content/themes/bones-child/library/css/font-awesome.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='framework-css'  href='http://wdcep.com/wp-content/themes/bones-child/library/css/gridle_framework.css' type='text/css' media='all' />
<link rel='stylesheet' id='googleFonts-css'  href='http://fonts.googleapis.com/css?family=Lato%3A400%2C700%2C400italic%2C700italic' type='text/css' media='all' />
<link rel='stylesheet' id='tablepress-default-css'  href='http://wdcep.com/wp-content/plugins/tablepress/css/default.min.css' type='text/css' media='all' />
<style id='tablepress-default-inline-css' type='text/css'>
    
.tablepress-id-1 th,.tablepress-id-1 .sorting{background-color:#effaea!important}.tablepress-id-1 .row-3 td{background-color:#f1f2f2!important}.tablepress-id-1 .row-5 td{background-color:#f1f2f2!important}.tablepress-id-1 .row-7 td{background-color:#f1f2f2!important}.tablepress-id-1 .row-9 td{background-color:#f1f2f2!important}.tablepress-id-1 .row-11 td{background-color:#f1f2f2!important}.tablepress-id-1 .row-13 td{background-color:#f1f2f2!important}.tablepress-id-1 .row-15 td{background-color:#f1f2f2!important}.tablepress-id-1 .row-17 td{background-color:#f1f2f2!important}.tablepress-id-1 .column-3{text-align:right}.tablepress-id-1 .column-4{text-align:center}.tablepress-id-2 th,.tablepress-id-2 .sorting{background-color:#fc9!important}.tablepress-id-2 .row-2 td{background-color:#f1f2f2!important}.tablepress-id-2 .row-40 td{background-color:#f1f2f2!important}.tablepress-id-2 .row-43 td{background-color:#f1f2f2!important}.tablepress-id-2 .row-48 td{background-color:#f1f2f2!important}.tablepress-id-2 .row-53 td{background-color:#f1f2f2!important}.tablepress-id-2 .column-2{text-align:right}.tablepress-id-3 th,.tablepress-id-3 .sorting{background-color:#b2e599!important}.tablepress-id-3 .row-3 td{background-color:#f1f2f2!important}.tablepress-id-3 .row-5 td{background-color:#f1f2f2!important}.tablepress-id-3 .row-7 td{background-color:#f1f2f2!important}.tablepress-id-3 .row-9 td{background-color:#f1f2f2!important}.tablepress-id-3 .column-2{text-align:right}.tablepress-id-3 .column-3{text-align:right}.tablepress-id-4 th,.tablepress-id-4 .sorting{background-color:#efe5ea!important}.tablepress-id-4 .row-3 td{background-color:#f1f2f2!important}.tablepress-id-4 .row-5 td{background-color:#f1f2f2!important}.tablepress-id-4 .column-3{text-align:center}.tablepress-id-4 .column-4{text-align:center}.tablepress-id-5 th,.tablepress-id-5 .sorting{background-color:#d1d3d4!important}.tablepress-id-5 .row-3 td{background-color:#d1d3d4!important}.tablepress-id-5 .row-10 td{background-color:#d1d3d4!important}.tablepress-id-5,.tablepress-id-5 td,.tablepress-id-5 th{border:none!important;border-collapse:collapse!important;border-spacing:0!important}.tablepress-id-6 th,.tablepress-id-6 .sorting{background-color:#d1d3d4!important}.tablepress-id-6 .row-1 td{background-color:#d1d3d4!important}.tablepress-id-6 .row-3 td{background-color:#d1d3d4!important}.tablepress-id-6 .row-5 td{background-color:#d1d3d4!important}.tablepress-id-6 .row-7 td{background-color:#d1d3d4!important}.tablepress-id-6 .row-9 td{background-color:#d1d3d4!important}.tablepress-id-6 .row-11 td{background-color:#d1d3d4!important}.tablepress-id-6 .row-13 td{background-color:#d1d3d4!important}.tablepress-id-6 .row-15 td{background-color:#d1d3d4!important}.tablepress-id-6 .column-3{text-align:right}.tablepress-id-6 .column-1{width:110px}.tablepress-id-6 .column-2{width:360px}.tablepress-id-6,.tablepress-id-6 td,.tablepress-id-6 th{border:none!important;border-collapse:collapse!important;border-spacing:0!important}.tablepress-id-7 th,.tablepress-id-7 .sorting{background-color:#fff!important}.tablepress-id-7 .column-1{width:110px}.tablepress-id-7 .column-2{width:200px}.tablepress-id-7 .column-3{width:10px}.tablepress-id-7 .column-4{width:110px}.tablepress-id-7 .column-5{width:200px}.tablepress-id-7,.tablepress-id-7 td,.tablepress-id-7 th{border:none!important;border-collapse:collapse!important;border-spacing:0!important}.tablepress-id-11 th,.tablepress-id-2 .sorting{background-color:#fc9!important}.tablepress-id-11 .column-2{text-align:left}.tablepress-id-11 .column-3{text-align:center}.tablepress-id-11 .column-4{text-align:center}
.button:hover, .button:focus {
    color: #80cec2;
}
.button:hover, .button:focus {
    color: #80cec2;
}

  
</style>
<link rel="stylesheet" href="css/slimbox2.css" type="text/css" media="screen" />
<script src="http://cdn.jquerytools.org/1.2.3/full/jquery.tools.min.js" type="text/javascript"></script>

<!--<script src="js/jquery.perciformes.js" type="text/javascript"></script>
<script src="js/navi.js" type="text/javascript"></script>-->
 <script type="text/javascript" src="js/slimbox2.js"></script>
<!--[if lte IE 7]>
<style type="text/css">
html, body {
	overflow-x: hidden;
}
</style>
<![endif]-->
<!--[if IE 7]>
<style>
#jsddm {
	margin: 0;
	padding: 0;
	top: 0px;
	left: 0px;
	position: relative;
	float: left;
	z-index: 1;
}


#property_search {
	position: absolute;
	top:122px;
	left: 50%;
	margin-left: 277px;
	z-index: 1;	
	background: #f9a131;
}


</style>
<![endif]-->


<script type="text/javascript">
    //$(document).ready(function() {
       
        

        //});
    
    
    
jQuery(document).ready(function ($) {
    jQuery('.scrollable').scrollable({ circular: false, size: 6 });
	});



    
    

    var currentImage = 1;



    function switchImage(theImage, theID, type,theTitle) {

        var theBaseURL = '<%=(Session("WSRetreiveAsset") & "qfactor=25&public=1&size=1&width=800&height=800&type=' + type + '&id=").ToString.Replace("(","%28").Replace(")","%29") %>';
    
        if (currentImage == 1) {
            jQuery(".image2image").unbind();
            jQuery(".image2image").load(
                function() {
            jQuery(".image2image").fadeIn();
            jQuery(".image1image").fadeOut();

                }
            );

                jQuery(".image2image").attr("src", theImage);

            currentImage = 2;
        }
        else {
            jQuery(".image1image").unbind();
            jQuery(".image1image").load(
                function() {
            jQuery(".image1image").fadeIn();
            jQuery(".image2image").fadeOut();

                }
            );

                jQuery(".image1image").attr("src", theImage);
            currentImage = 1;
        }

        jQuery(".image1link").attr("href", theBaseURL + theID);
        jQuery(".image1link").attr("title", theTitle.replace("'", ""));

    };


    function setCompletedDropdownstatus(bval) {
        if (bval) {
            var _DropDownListcompletedyearfrom = document.getElementById("DropDownListcompletedyearfrom")
            _DropDownListcompletedyearfrom.disabled = false;
            var _DropDownListcompletedyearto = document.getElementById("DropDownListcompletedyearto")
            _DropDownListcompletedyearto.disabled = false;
        } else {
            var _DropDownListcompletedyearfrom = document.getElementById("DropDownListcompletedyearfrom")
            _DropDownListcompletedyearfrom.disabled = true;
            var _DropDownListcompletedyearto = document.getElementById("DropDownListcompletedyearto")
            _DropDownListcompletedyearto.disabled = true;
        }



    }

    function GetCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function SetCookie(name, value) {

        var days = 300
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        var expires = "; expires=" + date.toGMTString();
        document.cookie = name + "=" + escape(value) + expires + "; path=/";
        //document.cookie=name+ "=" +escape(value)+((expiredays==null) ? "" : ";expires="+exdate.toGMTString());
    }

    function DeleteCookie(name) {

        var exp = new Date();
        exp.setTime(exp.getTime() - 1);
        var cval = GetCookie(name);
        document.cookie = name + "=" + cval + "; expires=" + exp.toGMTString();
    }


    function switchPage(i) {

        searchCallback.callback('paging', i);
    };
    function sortSearch(column) {

        searchCallback.callback('sort', column);
    };
    function filterSearch(filter) {

        searchCallback.callback('filter', filter);
    };
    function getcsv() {

        searchCallback.callback('getcsv');
    };    

    

</script>
<title>WDCEP Project Search - Property Details</title>
</head>
<body style="margin: 0">
    <form id="form1" action="Result.aspx" runat="server">

     <div class="home-curated-content-feeds" style="width:950px; margin-left:200px;margin-top:0px; z-index:1000000">
        <div class="container" style="width:100%; margin-top:0px; z-index:1000000">
       
        <!-- left panel -->
        <div class="grid-8 parent grid-mobile-12" style="width:100%; margin-top:-160px; z-index:100000">

        <br />


        <div class="breadcrumbs" style="z-index:100000" >
                <!-- Breadcrumb NavXT 5.2.2 -->
<span typeof="v:Breadcrumb"><a class="home" style="color: #bfbfbf;    font-weight: 700;     letter-spacing: 0.08em;    text-align: left;      text-transform: uppercase;    transition: all 0.4s ease 0s;" href="default.aspx" title="Go to Search." property="v:title" rel="v:url">Search</a></span> <span style="color: #bfbfbf;    font-weight: 700;     letter-spacing: 0.08em;    text-align: left;      text-transform: uppercase;    transition: all 0.4s ease 0s;"> &gt; </span> <span typeof="v:Breadcrumb"><a class="post post-page" style="color: #bfbfbf;    font-weight: 700;     letter-spacing: 0.08em;    text-align: left;      text-transform: uppercase;    transition: all 0.4s ease 0s;" href="result.aspx" title="Go to Results." property="v:title" rel="v:url">Results</a></span> <span style="color: #bfbfbf;    font-weight: 700;     letter-spacing: 0.08em;    text-align: left;      text-transform: uppercase;    transition: all 0.4s ease 0s;"> &gt; </span> <span typeof="v:Breadcrumb"></span> <span typeof="v:Breadcrumb"><span property="v:title" style="color: #bfbfbf;    font-weight: 700;     letter-spacing: 0.08em;    text-align: left;      text-transform: uppercase;    transition: all 0.4s ease 0s;">Project Details</span></span>            </div>
<br />
   <!-- <div class="cookie_crumbs">
   
	    <asp:Literal ID="literalProjectCrumbs" runat="server"></asp:Literal></div> -->
						    
						    <div >
						        <div ><h4 style="font-size:30px"><b><asp:Literal ID="literalProjectName" runat="server"></asp:Literal></b></h4></div>	
						        <span ><asp:Literal ID="literalProjectAddress" runat="server"></asp:Literal></span><br /><br>					        
						    </div>
    <div class="image1">
    <asp:Image CssClass="image1image" ID="projectImage1" runat="server" />
    </div>
    <div class="image2">
    <asp:Image CssClass="image2image" ID="Image1" runat="server" />
    </div>
    <div class="plus" style="margin-left:887px">
    <asp:HyperLink cssclass="image1link"  runat="server" ID="hyperlinkImage1"><img src="images/plus2.jpg" alt="Enlarge image" title="Enlarge image" /></asp:HyperLink>
    
    </div>
    
   <div id="Div1" class="projectGallery" style="margin-top: 10px; width:923px"  runat="server">
						                            <div style="width:923px;height:451px;"></div>
                                                    <div style="overflow:hidden; min-width:923px; width: auto !important; width: 923px;">
						                           <div style="float:left;background-color:white; width:41px;">
						                           <a class="prev browse left" style="background-color:white;"></a>
</div>
                                                <!-- root element for scrollable -->
                                                  <div class="scrollable" style="width:833px">   
                                                   
                                                   <!-- root element for the items -->
                                                   <div class="items" style="background-color:white;">
						                           <!--<asp:hyperlink runat="server" ID="hyperlinkImage1Thumb"><asp:Image ID="projectImage1Thumb" CssClass="projectImageThumb" runat="server" /></asp:hyperlink>-->
						                           <asp:Repeater ID="RepeaterGalleryThumbs" runat="server">
						                           <ItemTemplate>
						                            <a style="background-color:white;" href="javascript:switchImage('<%=(Session("WSRetreiveAsset") & "qfactor=25&width=923&height=451&crop=2&size=1&type=asset&cropcolor=lightgray&public=1&id=").ToString.Replace("(","%28").Replace(")","%29") %><%#Container.DataItem("asset_id") %>',<%#Container.DataItem("asset_id") %>,'asset','<%#Container.DataItem("name").replace("'","") %>');"><img class="projectImageThumb" src="<%=Session("WSRetreiveAsset") & "qfactor=25&width=84&height=84&crop=1&size=1&type=asset&id="%><%#Container.DataItem("asset_id") %>" alt="<%#Container.DataItem("name") %>" /></a>
						                           </ItemTemplate>
						                           </asp:Repeater>
						                           </div>
						                           </div>
						                             <!-- "next page" action -->
						                             <div style="float:left;background-color:white; width:41px;">
                                                    <a class="next browse right" style="background-color:white;"></a>
                                                    </div>
                                                    </div>
                                                    </div>
						<br />                           
<div class="body_content">
<div class="body_content_top" style=" color: #4d4e4e;    font-size: 16px;    font-weight: 300;    letter-spacing: 0.024em;    line-height: 24px;    margin-bottom: 16px;">
	<strong><span style="" class="auto-style2">PROJECT DETAILS</span></strong> <br />
<div style="padding-bottom:8px;"></div>
	<asp:Literal ID="literaltotalsqft" runat="server"></asp:Literal>
	<asp:Literal ID="literalward" runat="server"></asp:Literal>
	<asp:Literal ID="literalmajoruse" runat="server"></asp:Literal>
	<asp:Literal ID="literalstatus" runat="server"></asp:Literal>
	<asp:Literal ID="literalleed" runat="server"></asp:Literal>
	<asp:Literal ID="literalestimatedcost" runat="server"></asp:Literal>

</div>


<!--
<div>
	<strong><span class="auto-style2">RESOURCES</span></strong> <br />
	<br />
	<a href="GetPDF.aspx?id=<%=request.querystring("id") %>">Project Sheet</a>
	<asp:Literal ID="literalURL" runat="server"></asp:Literal>

</div>
-->


<div style="width:100%;height:20px;float:left;"></div>
<div style=" color: #4d4e4e;    font-size: 16px;    font-weight: 300;    letter-spacing: 0.024em;    line-height: 24px;    margin-bottom: 16px;"><b>
DESCRIPTION</b>
</div>
<div style="width:923px; color: #4d4e4e;    font-size: 16px;    font-weight: 300;    letter-spacing: 0.024em;    line-height: 24px;    margin-bottom: 16px;">
<asp:Literal ID="literaldescription" runat="server"></asp:Literal></div>

<div style="width:923px; color: #4d4e4e;    font-size: 16px;    font-weight: 300;    letter-spacing: 0.024em;    line-height: 24px;    margin-bottom: 16px;">
<br />
<div style="width:923px; color: #4d4e4e;    font-size: 16px;    font-weight: 300;    letter-spacing: 0.024em;    line-height: 24px;    margin-bottom: 16px;"><b>
Development Team </b>
</div>

<asp:Literal ID="ltrlprojectdeveloper" runat="server"></asp:Literal>
<asp:Literal ID="ltrlprojectarchitects" runat="server"></asp:Literal>
<asp:Literal ID="ltrlprojectcontractors" runat="server"></asp:Literal>
                
               
             


<asp:Literal ID="literalProjectDetail" runat="server"></asp:Literal></div>
<br /><br />
<div class="section_content" style="width:923px; color: #4d4e4e;    font-size: 16px;    font-weight: 300;    letter-spacing: 0.024em;    line-height: 24px;    margin-bottom: 16px;">
data last updated: <b><asp:Literal ID="literalStatusDate" runat="server"></asp:Literal></b></div>

</div>
		<br />		
<a class="button" style="background: white none repeat scroll 0 0;" href="Result.aspx">Back to Search Results </a> <a class="button" style="background: white none repeat scroll 0 0;" href="#">Export analysis </a>&nbsp<a class="button" style="background: white none repeat scroll 0 0;" href="Default.aspx"> New Search </a>
   


    


          </div> <!-- end of left panel -->


        </div>
    </div>
	
</form>

 <asp:Literal id="htmlbottom" runat=server></asp:Literal>
 
 <script type="text/javascript">
     var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
     document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-2739433-5");
        pageTracker._trackPageview();
    } catch (err) { }</script>
</body>
</html>
