﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="cleverFormat.aspx.vb" Inherits="test" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<title>Demo</title>

<style type="text/css">

html {
padding: 0;
margin: 0;
background: #fff;
width: 100%;
}

body {
margin: 0;
padding: 0 5px 0 10px;
background: #fff;
}

</style>
</head>
<body>

<p>
<asp:Literal ID="out" runat="server"></asp:Literal>
</p>

</body>
</html>