﻿<%@ Page Title="" Language="VB" MasterPageFile="~/JBG.master" AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="_Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">

<!--[if lt IE 8]>
<script>
function herror(msg,url,line) {
  if(typeof url=='undefined') url=''; if(typeof line=='undefined') line='';
  if(!$('#derr').length) $('<div id="derr"></div>').appendTo('body');
  $('#derr').append('<div class="derrline"><span class="serr" title="'+url+'">'+line+'</span>'+msg+'</div>');
//  return true;
}
window.onerror=herror;
</script>
<script src="assets/js/jquery.ba-hashchange.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="assets/css/ie7.css" />
<script src="assets/js/ie7.js" type="text/javascript"></script>
<![endif]-->
<!--[if IE 8]>
  <link rel="stylesheet" type="text/css" href="assets/css/ie8.css" />
  <script src="assets/js/ie8.js" type="text/javascript"></script>
<![endif]-->



</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

</asp:Content>

