﻿<%@ Page Title="" Language="VB" MasterPageFile="~/JBG.master" AutoEventWireup="false" CodeFile="loginpage.aspx.vb" Inherits="loginpage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div id="content">
 <div class="inner-content">		
   <div class="container_12" id="main">
        <div class="grid_12 page-header">
          <h1>Login</h1>
        </div>
        <div class="clear"></div>
        <hr/>
        <div class="prefix_4 grid_8 content">
          <h2>Employee Login</h2>    
          <form class="form-stacked" method="post" action="./loginpage" id="loginstatus">
           <label for="form_username">Username &nbsp; </label>
           <input id="form_email" type="text" name="form_username" /><br /><br />
           <label for="form_password">Password &nbsp; </label>
           <input id="form_password" type="password" name="form_password" /><br /><br />
           <input type="submit" name="submit" value="Login" class="btn" /></form>
          </form>
        </div>    
       </div>    
      </div>
    </div>
</asp:Content>
