@media (max-width:1150px) { 
 #map_canvas {
 width: 798px;
 height: 407px;
 float: left;
 }
}

@media (min-width:1151px) { 
 #map_canvas { 
 width: 838px;
 height: 407px;
 float: left;
 }
}

#map {
float: left;
}
div.infoBox div {
 display: block;
 padding: 16px 20px 34px 18px;
 margin: 0;
 border: 0;
 background: transparent url(../images/mapInfoBox.png) no-repeat scroll 0 0;
 width: 344px;
 height: 85px;
 position: relative;
 z-index: -1;
}

div.infoBox div img {
 display: block;
 position: absolute;
 border: 2px solid #8B9AA7;
 padding: 0;
 margin: 0;
 height: 84px;
 width: 100px;
}

div.infoBox div>span {
 position: absolute;
 left: 16px;
 top: 16px;
 display: block;
 position: absolute;
 padding: 0;
 margin: 0;
 color: #754C24;
 font-family: arial, helvetica, sans-serif;
 font-size: 14px;
 line-height: 19px;
 height: 95px;
 overflow: hidden;
}

div.infoBox div span a, div.infoBox div span a:link, div.infoBox div span a:visited {
 text-decoration: underline;
 color: #754C24;
}
#map_cats {
display: none;
}
#map_cats p img, #map_cats p span span {
 display: none;
 font-weight: normal;
}

#map_cats p span strong {
 font-weight: normal;
 cursor: pointer;
}

#map_cats p img, #map_cats p.selected span strong {
 font-weight: bold;
}

map_cats div {
 display: none;
}

#mapSelection {
 margin: 0 0 0 0px;
 padding: 0;
}


#mapSelection a, #mapSelection a:link, #mapSelection a:visited {
 display: block;
 background: #eee url(../images/locationSelect.png) no-repeat scroll 96% 7px;
 margin: 14px 10px 10px 0;
 width: 154px;
 height: 38px;
 line-height: 38px;
 padding: 0 0 0 12px;
 border: 1px solid #D8D8D8;
 float: left;
 text-transform: uppercase;
 font-family: Questrial;
 text-decoration: none;
 font-weight: bold;
 font-size: 14px;
}

#mapSelection a:hover {
 background: #E6E6E6 url(../images/locationSelect.png) no-repeat scroll 96% 7px;
}

#mapSelection a.selected, #mapSelection a.selected:link, #mapSelection a.selected:visited {
 background: #eee url(../images/locationSelect.png) no-repeat scroll 96% -50px;
}

#mapSelection a.selected:hover {
 background: #E6E6E6 url(../images/locationSelect.png) no-repeat scroll 96% -50px;
}

#map_cats {
 clear: both;
 border: 1px solid #D8D8D8;
 margin : 0 0 0 32px;
 padding: 8px 0 7px 0;
 width: 700px;
 min-height: 138px;
 background: #eee;
}

#map_cats p {
 display: block;
 margin: 0;
 padding: 0;
 height: 20px;
 line-height: 20px;
 width: 330px;
}

#map_cats span {
 display: block;
 margin: 0;
 padding: 0;
 height: 20px;
 line-height: 20px;
}

#map_cats strong {
 color: #754C24;
 position: block;
 margin: 0 0 0 12px;
 padding: 0;
 font-size: 14px;
 font-family: Questrial;
 height: 18px;
 line-height: 18px;
}

#map_cats table, #map_cats table tbody, #map_cats table tr, #mapTable td {
 outline: 0;
 border: 0;
 padding: 0;
 margin: 0;
 vertical-align: top;
}

@media print {
  * {
    font-family: arial, helvetica, sans-serif;
  }

  body .content_title {
       display: block;
       margin: 115px 0 0 0;
  }
  body .content_title em, .myStuffHeading span {
       font-weight: bold;
       font-style: normal;
       font-size: 24px;
       display: block;
       text-align: center;
  }

  .myStuffHeading {
        margin: 115px 0 50px 0;
  }
  body .content_title em em{
       display: none;
  }
  body .content_title b, .myStuffHeading em {
       font-weight: normal;
       font-style: normal;
       font-size: 19px;
       display: block;
       text-align: center;
  }
  body .content_page,
  body .menu_container,
  body .small_button,
  body .menu_favorite_cart,
  body #ui-datepicker-div,
  body #TB_overlay,
  body #TB_window,
  body .button_delete,
  body .uu,
  body .favorite_footer,
  body .unitNo,
  body .unit_floorplan_details_add_button
  {
	display: none !important;
  }

  body .unit_floorplan_details_container, body .favorites_item_detail {
        margin: 0 0 0 90px; 
  }

  body .unit_floorplan_details_title, .myStuffDetails {
	font-weight: bold;
        margin: 0 0 5px 0; 
        font-size: 19px;
  }

  .myStuffDetails {
        margin: 30px 0 10px 90px;
  }

  body .unit_floorplan_details_subtitle {
        font-weight: bold;
  }

  body #unit_floorplan.content_page,
  body #myStuff
  {
	display: block !important;
	top: 0;
	margin-top: 0;
	position: absolute;
        width: 100%;
        padding: 0;
  }


  body #myStuff em {
        font-style: normal;
        font-weight: bold;


  }

  body .unit_floorplan_details_subtitle:after { 
  content:":  ";
  }


  body .favorites_item_detail {
  page-break-after:always;
  }


}