/* Editor container */
.ed { width:760px;height:380px;font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;color:#666; }

/* Ribbon chrome */
.rbn { width:100%;height:90px !important;clear:both; }
	.rbn .l { width:6px;height:100%;float:left;background:transparent url("../images/editor/static.png") no-repeat; }
	.rbn .m { width:738px;height:85px;padding:5px 10px 0 0;background:#fff url("../images/editor/horizontal.png") repeat-x;float:left;  }
	.rbn .r { width:6px;height:100%;float:left;background:transparent url("../images/editor/static.png") no-repeat -12px 0; }

/* Toolbar groups */
.rbn .grp { height:80px;float:left;margin:0 0 0 5px; }
	.rbn .grp .l { width:8px;height:100%;background:#fff url("../images/editor/static.png") no-repeat -18px 0;float:left; }
	.rbn .grp .m { height:74px;background:#fff url("../images/editor/horizontal.png") repeat-x 0 -90px;float:left;padding:6px 0 0 0; }
		.rbn .grp .m .tb { width:auto;height:58px; }
	.rbn .grp .r { width:8px;height:100%;background:#fff url("../images/editor/static.png") no-repeat -26px 0;float:left; }

/* Group labels */
.rbn .grp .lab { position:relative;height:16px; }
.rbn .grp .txt { position:absolute;bottom:4px !important;z-index:2;width:100%;text-align:center;font-size:10px;color:#aaa;font-weight:bold;cursor:default;clear:both; }
.rbn .grp .sh { position:absolute;bottom:3px !important;z-index:1;width:100%;text-align:center;font-size:10px;color:#fff;font-weight:bold;cursor:default;clear:both; } /* Label drop-shadow */

/* Specific toolbar groups */
.rbn .fnt { margin:0;z-index:30 !important; }
	.rbn .fnt .m { width:183px; }

.rbn .para { z-index:20 !important; }
	.rbn .para .m { width:183px; }
.rbn .cmd .m { width:175px; }
.rbn .ins .m { width:117px; }

/* Textfield chrome */
.tf { width:100%;background:#ccc;clear:both;overflow:none; }
	.tf .t { width:100%;height:8px;background:#fff url("../images/editor/horizontal.png") repeat-x 0 -170px;overflow:hidden; }
	.tf .t .l { width:9px;height:100%;float:left;background:#fff url("../images/editor/static.png") no-repeat 0 -187px; }
	.tf .t .r { width:9px;height:100%;float:right;background:#fff url("../images/editor/static.png") no-repeat -9px -187px; }

	/* Immediate wrapper for the textarea / iframe */
	.tf .m { width:100%;height:246px;background:#fff url("../images/editor/vertical.png") repeat-y; }
	/* Textarea / iframe container */
	.tf .m .txt { width:740px;height:100% !important;margin:0 5px;padding:0 5px;background:#fff; }

	.tf .b { width:100%;height:5px;background:#fff;overflow:hidden; }
	.tf .b .l { width:9px;height:100%;float:left;background:#fff url("../images/editor/static.png") no-repeat 0 -195px; }
	.tf .b .r { width:9px;height:100%;float:right;background:#fff url("../images/editor/static.png") no-repeat -9px -195px; }

/* Status bar */
.sb { width:100%;height:31px;background:transparent;font-family:Tahoma,Verdana,Arial,Helevtica,sans=serif;color:#333;font-size:11px; }
	.sb .l { width:9px;height:100%;float:left;background:transparent url("../images/editor/static.png") no-repeat 0 -200px; }
	.sb .m { width:742px;height:100%;float:left;background:#fff url("../images/editor/horizontal.png") repeat-x 0 -178px; }
	.sb .r { width:9px;height:100%;float:right;background:transparent url("../images/editor/static.png") no-repeat -9px -200px; }

	/* View-mode tabs */
	.sb a { color:#333;text-decoration:none;cursor:default; }
	.sb a:hover { text-decoration:none;color:#333; }
	.sb a:active { outline:none !important; }
	.sb a.button { width:auto;height:27px;display:block;float:left;margin-right:1px;line-height:25px; }
		.sb .m a.button .l { width:5px;height:100%;display:block;float:left;background:#fff url("../images/editor/static.png") repeat-x 0 -231px; }
		.sb .m a.button .m { width:auto;height:100%;display:block;float:left;background:#fff url("../images/editor/horizontal.png") repeat-x 0 -209px;color:#333; }
		.sb .m a.button .r { width:5px;height:100%;display:block;float:left;background:#fff url("../images/editor/static.png") repeat-x -5px -231px; }

		.sb .m a.button:hover .l { width:5px;height:100%;display:block;float:left;background:#fff url("../images/editor/static.png") repeat-x 0 -258px; }
		.sb .m a.button:hover .m { width:auto;height:100%;display:block;float:left;background:#fff url("../images/editor/horizontal.png") repeat-x 0 -236px;color:#333; }
		.sb .m a.button:hover .r { width:5px;height:100%;display:block;float:left;background:#fff url("../images/editor/static.png") repeat-x -5px -258px; }

		.sb .m a.button:active .m { padding-top:1px;line-height:25px;height:26px; }

	.sb a.button-selected { width:auto;height:27px;display:block;float:left;margin-right:1px;line-height:25px; }
		.sb .m a.button-selected .l { width:5px;height:100%;display:block;float:left;background:#fff url("../images/editor/static.png") repeat-x 0 -285px; }
		.sb .m a.button-selected .m { width:auto;height:100%;display:block;float:left;background:#fff url("../images/editor/horizontal.png") repeat-x 0 -263px;color:#000; }
		.sb .m a.button-selected .r { width:5px;height:100%;display:block;float:left;background:#fff url("../images/editor/static.png") repeat-x -5px -285px; }

	.sb .icon { width:16px;height:16px;float:left;border:0;margin:7px 4px 0 0;background:transparent url("../images/editor/static.png") no-repeat;display:inline !important; }  /* that last identifier is IE6-specific */
	.sb .design { background-position:0 -312px; }
	.sb .html { background-position:0 -328px; }

	/* Separator */
	.sb .sep { width:2px;height:14px;float:left;margin:10px 3px 0 3px;background:#fff url("../images/editor/static.png") no-repeat -28px -80px; }

	/* Breadcrumbs */
	.sb .bc { width:490px;height:26px;float:left;background:transparent;margin:4px 0 0 16px;display:inline;line-height:23px; }
		.sb .bc .l { background:none;float:none;height:100%;width:auto;float:left; }
			.sb .bc .l span { width:auto;height:100%;float:left;display:inline;padding:0 4px 0 0; }
			.sb .bc .l .cap { width:5px;height:24px;float:left;display:none; }

		.sb .bc .m { width:auto;height:24px;float:left;background:none; }
			.sb .bc .m a { display:inline;padding:0 3px;height:21px;margin:1px 0 0 0;color:#333; }
			.sb .bc .m a:hover { color:#000; }
			.sb .bc .m a span { line-height:19px;height:19px !important;display:block;padding:0 3px;margin:1px;height:auto; } /* two height declarations is an IE6 quick-fix */
			.sb .bc .m a:hover span { display:block;height:19px !important;background:#fff url("../images/editor/horizontal.png") repeat-x 0 -314px;border:1px solid #ccc;margin:0;height:auto; } /* two height declarations is an IE6 quick-fix */
			.sb .bc .sep { margin-top:5px; }


		.sb .bc .r { width:5px;height:24px;float:left;display:none; }

	/* Word / character count area */
	.sb .count { width:auto;font-size:9px;margin-top:7px;float:left;cursor:default; }
		.sb .count .words,.sb .count .chars { height:10px;line-height:10px; }
		.sb .count .txt { float:left;width:32px;padding-right:6px;text-align:right; }
		.sb .count .val { float:left;width:45px;overflow:hidden; }


/* Toolbars */
.grp .tb0 { width:181px;height:27px; }
.grp .tb2 { width:96px;height:54px;float:left;margin:0 9px 0 0; }
.grp .tb3 { width:76px;height:26px;float:left; }
.grp .tb4 { width:76px;height:26px;float:left;margin:2px 0 0 0; }
.grp .tb6 { margin:2px 0 0 0; }
.grp .tb8 { margin:2px 0 0 0; }


/* ComboBoxes */
.cmb { padding-left:4px;border:1px solid #dfdfdf;background:#fff; }
.cmb-h { padding-left:4px;border:1px solid #bababa;background:#fff; }
.cmb-txt { font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;height:12px;font-size:11px;background:#fff;border:none;cursor:default !important;text-align:left !important; }



/*
  Toolbar items

  * Default item dimensions: 24x26;
  * Item background image: static.png;
  * Inheritance is used to avoid any potential conflicts;

  * The class syntax is as follows:
      Default: .[itemname]
      Hover: .[itemname]-h
      Active: .[itemname]-a
      Checked: .[itemname]-c
      Checked-hover: .[itemname]-c-h
      Checked-active: .[itemname]-c-h
      Disabled: .[itemname]-d
      Disabled-checked: .[itemname]-d
      Expanded: .[itemname]-ex
*/

/* Generic button class */
.grp .item { width:24px;height:26px;background:transparent url("../images/toolbar/static.png") no-repeat;padding:0;margin:0; }

/*
  Various classes controlling a split button's dropdown graphics

  The ribbon skin uses two different types of split buttons: those that have items to
  both the left and right sides ('mid' buttons: .split-m-*) and those that have only items to the left ('right' button: split-r-*)
*/
.split-m .ca_tb_ddn { width:14px;height:26px;background:#fff url("../images/toolbar/static.png") no-repeat -769px 0; }
.split-m-h .ca_tb_ddn { width:14px;height:26px;background:#fff url("../images/toolbar/static.png") no-repeat -769px -26px; }
.split-m-a .ca_tb_ddn { width:14px;height:26px;background:#fff url("../images/toolbar/static.png") no-repeat -769px -52px; }
.split-m-c .ca_tb_ddn { width:14px;height:26px;background:#fff url("../images/toolbar/static.png") no-repeat -769px -78px; }
.split-m-d .ca_tb_ddn { width:14px;height:26px;background:#fff url("../images/toolbar/static.png") no-repeat -769px -156px; }


.split-r .ca_tb_ddn { width:14px;height:26px;background:transparent url("../images/toolbar/static.png") no-repeat -783px 0; }
.split-r-h .ca_tb_ddn { width:14px;height:26px;background:transparent url("../images/toolbar/static.png") no-repeat -783px -26px; }
.split-r-a .ca_tb_ddn { width:14px;height:26px;background:transparent url("../images/toolbar/static.png") no-repeat -783px -52px; }
.split-r-d .ca_tb_ddn { width:14px;height:26px;background:transparent url("../images/toolbar/static.png") no-repeat -783px -156px; }

/* These classes are required to prevent the default .item a background from appearing in all 'right' split buttons: background colour, numbering, paste, find & replace */
td.bg,td.numbering,td.paste,td.redo,td.find { background:none !important; }




/* Font toolbar group */
/* Bold */
.grp .bold { background-position:0 0; }
.grp .bold-h { background-position:0 -26px; }
.grp .bold-a { background-position:0 -52px; }
.grp .bold-c { background-position:0 -78px; }
.grp .bold-c-h { background-position:0 -104px; }
.grp .bold-c-a { background-position:0 -130px; }
.grp .bold-d { background-position:0 -156px; }
.grp .bold-d-c { background-position:0 -182px; }

/* Italic */
.grp .italic { background-position:-24px 0; }
.grp .italic-h { background-position:-24px -26px; }
.grp .italic-a { background-position:-24px -52px; }
.grp .italic-c { background-position:-24px -78px; }
.grp .italic-c-h { background-position:-24px -104px; }
.grp .italic-c-a { background-position:-24px -130px; }
.grp .italic-d { background-position:-24px -156px; }
.grp .italic-d-c { background-position:-24px -182px; }

/* Underline */
.grp .underline { background-position:-48px 0; }
.grp .underline-h { background-position:-48px -26px; }
.grp .underline-a { background-position:-48px -52px; }
.grp .underline-c { background-position:-48px -78px; }
.grp .underline-c-h { background-position:-48px -104px; }
.grp .underline-c-a { background-position:-48px -130px; }
.grp .underline-d { background-position:-48px -156px; }
.grp .underline-d-c { background-position:-48px -182px; }

/* Strikethrough */
.grp .strikethrough { background-position:-72px 0; }
.grp .strikethrough-h { background-position:-72px -26px; }
.grp .strikethrough-a { background-position:-72px -52px; }
.grp .strikethrough-c { background-position:-72px -78px; }
.grp .strikethrough-c-h { background-position:-72px -104px; }
.grp .strikethrough-c-a { background-position:-72px -130px; }
.grp .strikethrough-d { background-position:-72px -156px; }
.grp .strikethrough-d-c { background-position:-72px -182px; }



/*
  Fore- and background colour items

  These two items have transparent elements that allow the background colour to be visible.

  When a colour is selected through the colour picker menu, the background colour of the appropriate item
  is changed to reflect this new colour. As such, a generic class is added to all state classes, similar to the way
  the split button works.

  Since an item is rendered as a <table> with the specified class(es), and the item's ImageUrl property is an <img> within
  a <td> cell, it becomes neccessary to drill down through CSS inheritance to assign an item's image cell the correct CSS
  class.
*/
.grp .color .ca_tb_img img { background:transparent url("../images/toolbar/static.png") no-repeat -96px 0; }
.grp .color-h .ca_tb_img img { background-position:-96px -26px; }
.grp .color-a .ca_tb_img img { background-position:-96px -52px; }
.grp .color-d .ca_tb_img img { background-position:-96px -156px; }
.grp .color-d-c .ca_tb_img img { background-position:-96px -182px; }

.grp .bg .ca_tb_img img { background:transparent url("../images/toolbar/static.png") no-repeat -120px 0; }
.grp .bg-h .ca_tb_img img { background-position:-120px -26px; }
.grp .bg-a .ca_tb_img img { background-position:-120px -52px; }
.grp .bg-d .ca_tb_img img { background-position:-120px -156px; }
.grp .bg-d-c .ca_tb_img img { background-position:-120px -182px; }

/* Required to change the "colour indicator" part of the item  */
.grp .color .ca_tb_img img { background-color:#ff5010; }
.grp .bg .ca_tb_img img { background-color:#fe0; }





/* Paragraph toolbar group */
/* Large (text-alignment) buttons */
.grp .lrg { height:54px; }

/* Align-left */
.grp .left { background-position:-797px 0; }
.grp .left-h { background-position:-797px -54px; }
.grp .left-a { background-position:-797px -108px; }
.grp .left-c { background-position:-797px -162px; }
.grp .left-c-h { background-position:-797px -216px; }
.grp .left-c-a { background-position:-797px -270px; }
.grp .left-d { background-position:-797px -324px; }
.grp .left-d-c { background-position:-797px -378px; }

/* Align-centre */
.grp .center { background-position:-821px 0; }
.grp .center-h { background-position:-821px -54px; }
.grp .center-a { background-position:-821px -108px; }
.grp .center-c { background-position:-821px -162px; }
.grp .center-c-h { background-position:-821px -216px; }
.grp .center-c-a { background-position:-821px -270px; }
.grp .center-d { background-position:-821px -324px; }
.grp .center-d-c { background-position:-821px -378px; }

/* Align-right */
.grp .right { background-position:-845px 0; }
.grp .right-h { background-position:-845px -54px; }
.grp .right-a { background-position:-845px -108px; }
.grp .right-c { background-position:-845px -162px; }
.grp .right-c-h { background-position:-845px -216px; }
.grp .right-c-a { background-position:-845px -270px; }
.grp .right-d { background-position:-845px -324px; }
.grp .right-d-c { background-position:-845px -378px; }

/* Align-right */
.grp .justify { background-position:-869px 0; }
.grp .justify-h { background-position:-869px -54px; }
.grp .justify-a { background-position:-869px -108px; }
.grp .justify-c { background-position:-869px -162px; }
.grp .justify-c-h { background-position:-869px -216px; }
.grp .justify-c-a { background-position:-869px -270px; }
.grp .justify-d { background-position:-869px -324px; }
.grp .justify-d-c { background-position:-869px -378px; }


/* Bullets */
.grp .bullets { background-position:-144px 0; }
.grp .bullets-h { background-position:-144px -26px; }
.grp .bullets-a { background-position:-144px -52px; }
.grp .bullets-c { background-position:-144px -78px; }
.grp .bullets-c-h { background-position:-144px -104px; }
.grp .bullets-c-a { background-position:-144px -130px; }
.grp .bullets-d { background-position:-144px -156px; }
.grp .bullets-d-c { background-position:-144px -182px; }

/*
  Numbering

  Since we need rounded, transparent corners on the right split button, we need to remove the general background image from the class (done above
  immediately below the split buttons classes). Having done this, we now assign the 'static.png' background image directly to the item's IMG tag.

*/
.grp .numbering .ca_tb_img img { background:transparent url("../images/toolbar/static.png") no-repeat -168px 0; }
.grp .numbering-h .ca_tb_img img { background-position:-168px -26px; }
.grp .numbering-a .ca_tb_img img { background-position:-168px -52px; }
.grp .numbering-c .ca_tb_img img { background-position:-168px -78px; }
.grp .numbering-c-h .ca_tb_img img { background-position:-168px -104px; }
.grp .numbering-c-a .ca_tb_img img { background-position:-168px -130px; }
.grp .numbering-d .ca_tb_img img { background-position:-168px -156px; }
.grp .numbering-d-c .ca_tb_img img { background-position:-168px -182px; }


/* Decrease Indent */
.grp .decrease { background-position:-192px 0; }
.grp .decrease-h { background-position:-192px -26px; }
.grp .decrease-a { background-position:-192px -52px; }
.grp .decrease-d { background-position:-192px -156px; }

/* Increase Indent */
.grp .increase { background-position:-216px 0; }
.grp .increase-h { background-position:-216px -26px; }
.grp .increase-a { background-position:-216px -52px; }
.grp .increase-d { background-position:-216px -156px; }

/* Increase Indent */
.grp .hr { background-position:-240px 0; }
.grp .hr-h { background-position:-240px -26px; }
.grp .hr-a { background-position:-240px -52px; }
.grp .hr-d { background-position:-240px -156px; }




/*
  Commands toolbar group
  Non-standard buttons have widths assigned in their CSS classes.
*/

/* Copy */
.grp .copy { width:58px;background-position:-456px 0; }
.grp .copy-h { width:58px;background-position:-456px -26px; }
.grp .copy-a { width:58px;background-position:-456px -52px; }
.grp .copy-d { width:58px;background-position:-456px -156px; }


/* Cut */
.grp .cut { width:50px;background-position:-514px 0; }
.grp .cut-h { width:50px;background-position:-514px -26px; }
.grp .cut-a { width:50px;background-position:-514px -52px; }
.grp .cut-d { width:50px;background-position:-514px -156px; }

/*
  Paste

  Since we need rounded, transparent corners on the right split button, we need to remove the general background image from the class (done above
  immediately below the split buttons classes). Having done this, we now assign the 'static.png' background image directly to the item's IMG tag.
*/
.grp .paste .ca_tb_img img { width:53px;height:26px;background:transparent url("../images/toolbar/static.png") no-repeat -564px 0; }
.grp .paste-h .ca_tb_img img { width:53px;height:26px;background-position:-564px -26px; }
.grp .paste-a .ca_tb_img img { width:53px;height:26px;background-position:-564px -52px; }
.grp .paste-d .ca_tb_img img { width:53px;height:26px;background-position:-564px -156px; }



/* Undo */
.grp .undo { background-position:-264px 0; }
.grp .undo-h { background-position:-264px -26px; }
.grp .undo-a { background-position:-264px -52px; }
.grp .undo-d { background-position:-264px -156px; }

/*
  Redo

  Since we need rounded, transparent corners on the right split button, we need to remove the general background image from the class (done above
  immediately below the split buttons classes). Having done this, we now assign the 'static.png' background image directly to the item's IMG tag.
*/
.grp .redo .ca_tb_img img { height:26px;background:transparent url("../images/toolbar/static.png") no-repeat -288px 0; }
.grp .redo-h .ca_tb_img img { height:26px;background-position:-288px -26px; }
.grp .redo-a .ca_tb_img img { height:26px;background-position:-288px -52px; }
.grp .redo-d .ca_tb_img img { height:26px;background-position:-288px -156px; }

/*
  Find

  Since we need rounded, transparent corners on the right split button, we need to remove the general background image from the class (done above
  immediately below the split buttons classes). Having done this, we now assign the 'static.png' background image directly to the item's IMG tag.
*/
.grp .find .ca_tb_img img { height:26px;background:transparent url("../images/toolbar/static.png") no-repeat -432px 0; }
.grp .find-h .ca_tb_img img { height:26px;background-position:-432px -26px; }
.grp .find-a .ca_tb_img img { height:26px;background-position:-432px -52px; }
.grp .find-d .ca_tb_img img { height:26px;background-position:-432px -156px; }

/* Spellcheck */
.grp .spellcheck { background-position:-336px 0; }
.grp .spellcheck-h { background-position:-336px -26px; }
.grp .spellcheck-a { background-position:-336px -52px; }
.grp .spellcheck-d { background-position:-336px -156px; }

/* Print */
.grp .print { background-position:-360px 0; }
.grp .print-h { background-position:-360px -26px; }
.grp .print-a { background-position:-360px -52px; }
.grp .print-d { background-position:-360px -156px; }



/*
  Insert toolbar group
  Non-standard buttons have widths assigned in their CSS classes.
*/
/* Hyperlink */
.grp .hyperlink { background-position:-384px 0; }
.grp .hyperlink-h { background-position:-384px -26px; }
.grp .hyperlink-a { background-position:-384px -52px; }
.grp .hyperlink-d { background-position:-384px -156px; }

/* Image Manager */
.grp .im { background-position:-408px 0; }
.grp .im-h { background-position:-408px -26px; }
.grp .im-a { background-position:-408px -52px; }
.grp .im-d { background-position:-408px -156px; }

/* Symbol */
.grp .symbol { width:38px;background-position:-617px 0; }
.grp .symbol-h { width:38px;background-position:-617px -26px; }
.grp .symbol-a { width:38px;background-position:-617px -52px; }
.grp .symbol-d {width:38px; background-position:-617px -156px; }

/* Table  */
.grp .table { width:114px;background-position:-655px 0; }
.grp .table-h { width:114px;background-position:-655px -26px; }
.grp .table-a { width:114px;background-position:-655px -52px; }
.grp .table-d { width:114px;background-position:-655px -156px; }




/* Menus */
.mnu,.mnu-bullets { cursor:default;color:#666;background:transparent;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px;border:1px solid #bababa;z-index:99000 !important; }
.mnu-ftr { width:190px;height:8px;background:transparent url("../images/menus/_footer.png") no-repeat 50% 0;overflow:hidden; }
.mnu-con { width:188px;height:auto;background:#f6f6f6 url("../images/menus/_background.png") repeat-y;z-index:99000 !important; }
.mnu-item { width:190px;height:22px; }
.mnu-item-h { width:190px;height:22px;color:#333;background:transparent url("../images/menus/_hover.png") no-repeat -190px 0; }
/*.mnu-ico { width:16px;height:16px;float:left;padding:6px 16px 0 8px; }*/
.mnu-ico { width:24px;height:22px;float:left;padding-right:16px; }

.mnu .ico { width:16px;height:16px;display:block;float:left;margin:3px 0 0 7px; }
.mnu .txt { display:block;float:left;height:22px;line-height:22px;font-weight:regular;padding:0 0 0 12px;position:relative; }
.mnu .lbl { display:block;float:left;height:22px;line-height:22px;font-weight:regular;padding:0 0 0 12px; }


/* Font style dropdown */
.mnu-style  { }
	.mnu-style .mnu-con { background:#f6f6f6; }
	.mnu-style .mnu-item { width:190px;height:34px;line-height:34px;background-color:transparent; }
	.mnu-style .mnu-item-h { width:190px;height:34px;line-height:34px;color:#333;background:transparent url("../images/menus/fontstyle/static.png") no-repeat; }
	.mnu-style .mnu-break { width:190px;height:4px;background:transparent url("../images/menus/fontstyle/static.png") no-repeat 0 -34px; }
	.mnu-style .mnu-ftr { background:#444 url("../images/menus/fontstyle/static.png") no-repeat -190px 0; }


/* Font face dropdown */
.mnu-font { }
	.mnu-font .mnu-con { background:#f6f6f6; }
	.mnu-font .mnu-item-h { width:190px;height:22px;color:#333;background:transparent url("../images/menus/fontface/static.png") no-repeat; }
	.mnu-font .mnu-ftr { background:#444 url("../images/menus/fontface/static.png") no-repeat -190px 0; }
	.mnu-font .ico { background:transparent url("../images/menus/fontface/static.png") no-repeat -380px 0; }


/* Font size dropdown */
.mnu-size { z-index:99000 !important; }
	.mnu-size .mnu-con { width:64px;height:auto;background:#f6f6f6; }
	.mnu-size .mnu-item { width:64px;height:22px;text-align:left;padding-left:12px;line-height:22px; }
	.mnu-size .mnu-item-h { width:64px;height:22px;color:#333;background:transparent url("../images/menus/fontsize/static.png") no-repeat;padding-left:12px;line-height:22px !important; }
	.mnu-size .mnu-ftr { width:64px;height:8px;background:#444 url("../images/menus/fontsize/static.png") no-repeat -64px 0; }



/* Colour-picker menu */
.color-menu { width:176px;color:#333;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px;border-bottom:1px solid #ccc; }
.swatch-title { width:176px;height:22px;line-height:22px;background:transparent url("../images/menus/color/static.png") no-repeat;cursor:default;border-bottom:1px solid #bbb; }
.swatch-title-preset { width:176px;height:24px;line-height:24px;background:transparent url("../images/menus/color/static.png") no-repeat;border:none; }
.swatch-title span,.swatch-title-preset span { color:#333;font-weight:bold;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px;padding-left:10px; }
.color-menu-item { width:176px;height:23px;padding-left:8px;line-height:23px;background:#f6f6f6 url("../images/menus/color/vertical.png") repeat-y;cursor:default; }
.color-menu-item-hover { width:176px;height:23px;padding-left:8px;line-height:23px;background:#f6f6f6 url("../images/menus/color/static.png") no-repeat -176px 0;cursor:default; }
.color-menu-footer { display:none; }
.standard-swatches,.preset-swatches { border:none;padding:0;margin:0; }
.preset-swatches { width:176px;height:92px;display:block;background:#f6f6f6 url("../images/menus/color/swatches.png") no-repeat; }
.standard-swatches { width:176px;height:21px;display:block;background:#f6f6f6 url("../images/menus/color/swatches.png") no-repeat 0 -92px; }
.custom-swatches { width:176px;height:21px;line-height:21px;cursor:default;padding-bottom:2px;background:transparent url("../images/menus/color/vertical.png") repeat-y; }
.custom-swatches .swatches-container { margin-left:5px;padding-top:4px; }
.custom-swatches .swatch { width:13px;height:13px;float:left;margin-right:4px;background:transparent url("../images/menus/color/swatches.png") no-repeat -13px -113px; }
.custom-swatches .swatch img { background:transparent url("../images/menus/color/swatches.png") no-repeat 0 -113px; }
.color-highlight,.color-selected { width:176px;height:206px;background:transparent url("../images/menus/color/highlight.png") no-repeat 5px 28px;z-index:9000;position:absolute;left:0px;top:0px; }
.color-menu img { display:block; }





/* Paste menu */
.mnu-paste { }
	.mnu-paste .mnu-item { width:131px;background:#f6f6f6; }
	.mnu-paste .mnu-item-h { width:131px;background:#f6f6f6 url("../images/menus/paste/static.png") no-repeat; }
	.mnu-paste .ico { width:16px;height:16px;display:block;float:left;margin:3px 0 0 7px;background:transparent url("../images/menus/paste/static.png") no-repeat; }
	.mnu-paste .paste .ico { background-position:-131px 0; }
	.mnu-paste .word .ico { background-position:-147px 0; }




/* Undo / Redo styles */
.undo-list { width:190px;height:188px;background:transparent; }
.undo-list .list { height:158px;overflow-x:hidden;overflow:auto;background:#f6f6f6; }
.undo-list a,.undo-list a:hover { display:block;height:22px;line-height:22px;text-decoration:none;color:#666;cursor:default;padding:0 0 0 8px;margin:0; }
.undo-list a:hover { color:#000;background:#f6f6f6 url("../images/menus/undo/static.png") no-repeat; }
.undo-list a:active { outline:none; }
.undo-list a.selected { display:block;height:22px;line-height:22px;text-decoration:none;color:#666;padding:0 0 0 8px;background:#f6f6f6 url("../images/menus/undo/static.png") no-repeat -190px 0; }
.undo-list a.selected:hover { background-color:#e0e0e0; }
.undo-list span { line-height:22px;display:block;padding-left:8px;background:#f6f6f6;color:#333;font-weight:bold;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }

.mnu-undo { }
	.mnu-undo .mnu-ftr { background:#f6f6f6 url("../images/menus/undo/static.png") no-repeat -380px 0; }


/* Find / Replace menu */
.mnu-find { }
	.mnu-find .mnu-item { width:131px;background:#f6f6f6; }
	.mnu-find .mnu-item-h { width:131px;background:#f6f6f6 url("../images/menus/find/static.png") no-repeat; }
	.mnu-find .ico { width:16px;height:16px;display:block;float:left;margin:3px 0 0 7px;background:transparent url("../images/menus/find/static.png") no-repeat; }
	.mnu-find .find .ico { background-position:-131px 0; }
	.mnu-find .replace .ico { background-position:-147px 0; }


/* Bullets */
/*
  Bullets & Numbering (menu styles)
*/
.mnu-bullets {width:170px;padding:0;margin:0;background:#f6f6f6;border:1px solid #ccc;color:black;}
.bullets-item       {padding-left:10px;padding-top:3px;padding-bottom:3px;padding-right:5px;margin:1px;cursor:default;border:none;}
.bullets-item-hover {padding-left:10px;padding-top:3px;padding-bottom:3px;padding-right:5px;margin:0px;background:none;border:solid 1px #CCCCCC;color:#000;}
.bullets-item ol, .bullets-item ul, .bullets-item-hover ol, .bullets-item-hover ul {margin-left:10px;margin-bottom:0px;margin-top:0px;padding-left:5px;cursor:default;}
.bullets-break {width:170px;height:4px;background:transparent url(../images/menus/bullets/static.png) no-repeat; }



/*
  Bullets & Numbering (editor styles)
*/
ol.ol1 li {list-style-type: decimal;} ol.ol1 ol li {list-style-type: upper-roman;} ol.ol1 ol ol li {list-style-type: lower-roman;}
ol.ol2 li {list-style-type: upper-alpha;} ol.ol2 ol li {list-style-type: lower-alpha;}
ol.ol3 li {list-style-type: decimal;} ol.ol3 ol li {list-style-type: upper-alpha;} ol.ol3 ol ol li {list-style-type: lower-alpha;} ol.ol3 ol ol ol li {list-style-type: upper-roman;} ol.ol3 ol ol ol ol li {list-style-type: lower-roman;}
ol.ol4 li {list-style-type: decimal;} ol.ol4 ol li {list-style-type: upper-roman;} ol.ol4 ol ol li {list-style-type: lower-roman;} ol.ol4 ol ol ol li {list-style-type: upper-alpha;} ol.ol4 ol ol ol ol li {list-style-type: lower-alpha;}
ol.ol5 li {list-style-type: upper-roman;} ol.ol5 ol li {list-style-type: lower-roman;} ol.ol5 ol ol li {list-style-type: decimal;}
ul.ul1 li {list-style-type: disc;} ul.ul1 ul li {list-style-type: square;} ul.ul1 ul ul li {list-style-type: circle;}
ul.ul2 li {list-style-type: square;} ul.ul2 ul li {list-style-type: disc;} ul.ul2 ul ul li {list-style-type: circle;}
ul.ul3 li {list-style-type: circle;} ul.ul3 ul li {list-style-type: disc;} ul.ul3 ul ul li {list-style-type: square;}



/* Hyperlink menu */
.mnu-hyperlink { }
	.mnu-hyperlink .mnu-item { width:131px;background:#f6f6f6; }
	.mnu-hyperlink .mnu-item-h { width:131px;background:#f6f6f6 url("../images/menus/hyperlink/static.png") no-repeat; }
	.mnu-hyperlink .ico { width:16px;height:16px;display:block;float:left;margin:3px 0 0 7px;background:transparent url("../images/menus/hyperlink/static.png") no-repeat; }
	.mnu-hyperlink .link .ico { background-position:-131px 0; }
	.mnu-hyperlink .anchor .ico { background-position:-147px 0; }
	.mnu-hyperlink .email .ico { background-position:-163px 0; }


/* Image Manager menu */
.mnu-manager { }
	.mnu-manager .mnu-item { width:131px;background:#f6f6f6; }
	.mnu-manager .mnu-item-h { width:131px;background:#f6f6f6 url("../images/menus/manager/static.png") no-repeat; }
	.mnu-manager .ico { width:16px;height:16px;display:block;float:left;margin:3px 0 0 7px;background:transparent url("../images/menus/manager/static.png") no-repeat; }
	.mnu-manager .browse .ico { background-position:-131px 0; }
	.mnu-manager .props .ico { background-position:-147px 0; }
	.mnu-manager .upload .ico { background-position:-163px 0; }





/* Insert symbol menu */
.mnu-symbol { width:160px;border:0;padding:0;margin:0;border:1px solid #ccc; }
	.mnu-symbol .ttl { width:160px;height:24px;line-height:24px;background:transparent url("../images/menus/symbol/static.png") no-repeat -30px 0;cursor:default; }
		.mnu-symbol .ttl span { color:#333;font-weight:bold;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px;padding-left:10px; }
	.mnu-symbol .con { width:150px;padding:2px 5px;background:#f6f6f6; }
	.mnu-symbol .row { width:150px;height:30px;line-height:30px;padding:0;margin:0; }
	.mnu-symbol .row a { width:30px;height:30px;color:#666;font-weight:bold;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold;display:block;float:left;cursor:default;text-align:center;padding:0;margin:0;text-decoration:none; }
	.mnu-symbol .row a:hover { color:#000;background:transparent url("../images/menus/symbol/static.png") no-repeat;text-decoration:none; }

/* Insert table menu */
.mnu-table { width:203px;height:185px;cursor:default;border:1px solid #ccc; }
	.mnu-table .ttl { width:203px;height:24px;line-height:24px;background:transparent url(../images/menus/table/static.png) no-repeat;cursor:default; }
		.mnu-table .ttl span { color:#333;font-weight:bold;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px;padding-left:10px; }
	.mnu-table .con { width:203px;height:161px;position:relative;background:#f6f6f6;margin:0; }
	.mnu-table .hl { width:190px;height:152px;background:transparent url("../images/menus/table/static.png") repeat-y -393px 0;position:absolute;left:8px;top:7px;z-index:4466;visibility:hidden; }
	.mnu-table .cells { width:190px;height:152px;background:transparent url("../images/menus/table/static.png") repeat-y -203px 0;position:absolute;left:8px;top:7px;z-index:4455; }
	.mnu-table .evt { width:190px;height:152px;position:absolute;left:8px;top:7px;background-color:transparent;z-index:4477; }




/* 'Plain' menu / dropdown for dialogs */
.mnu-dlg { cursor:default;color:#666;background:transparent;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px;border:1px solid #ccc; }
	.mnu-dlg .mnu-hdr { width:190px;height:2px !important;background:transparent url(../images/menus/dialog/static.png) no-repeat -380px 0;font-size:1px; }
	.mnu-dlg .mnu-ftr { width:190px;height:9px;background:transparent url(../images/menus/dialog/static.png) no-repeat -190px 0;overflow:hidden; }
	.mnu-dlg .mnu-con { width:190px;height:auto;background:#f6f6f6; }
	.mnu-dlg .mnu-item { width:182px;height:22px;line-height:22px;padding:0 0 0 8px; }
	.mnu-dlg .mnu-item-h { width:182px;height:22px;line-height:22px;padding:0 0 0 8px;color:#333;background:transparent url(../images/menus/dialog/static.png) no-repeat; }


/**********************************************************
  5.  Dialogue box styles
***********************************************************/
.float-left { float:left !important; }
.float-right { float:right !important; }
.float-none { float:none !important; }

.dlg-content .mid .row { clear:left; }
.dlg-content .mid .top { margin-top:2px; }
.dlg-content .mid span.label,.dlg-content .mid span.label-narrow  { cursor:default;float:left;display:block;line-height:24px;height:24px;text-align:right;padding-right:8px;margin:0; }

.draggable { cursor:move !important; }
.hidden { visibility:hidden; }

.dlg-title { height:34px; }
.dlg-title .left { width:9px;height:34px;background:transparent url(../images/dialog/chrome.png) no-repeat 0 0;float:left; }
.dlg-title .mid { height:34px;background:transparent url(../images/dialog/chrome.png) repeat-x 0 -34px;float:left; }
.dlg-title .mid span { cursor:inherit;margin-left:4px;line-height:28px;color:#333;font-weight:bold;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
.dlg-title .right { width:9px;height:34px;background:transparent url(../images/dialog/chrome.png) no-repeat -9px 0;float:left; }
.dlg-title a.close { margin-top:4px;display:block;float:right;width:23px;height:21px;background:transparent url(../images/dialog/buttons.png) no-repeat -140px 0; cursor:default; }
.dlg-title a.close:hover { background-position:-163px 0; }
.dlg-title a.close:active { background-position:-186px 0;outline:none; }

.dlg-title .tabs-left { background-position:0 -142px; }
.dlg-title .tabs-mid { background-position:0 -176px; }
.dlg-title .tabs-right { background-position:-9px -142px; }


/* Tabbed dialogue */
.dlg-tabstrip .left { float:left;width:9px;height:29px;background:#eee url(../images/dialog/chrome.png) no-repeat 0 -210px; }
.dlg-tabstrip .right { float:left;width:9px;height:29px;background:#eee url(../images/dialog/chrome.png) no-repeat -9px -210px; }
.dlg-tabstrip .tabs { float:left;height:29px;background:#eee url(../images/dialog/tabs.png) repeat-x 0 -29px;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
.dlg-tabstrip .tabs { float:left;height:29px;background:#eee url(../images/dialog/tabs.png) repeat-x 0 -29px;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
.dlg-tabstrip .tabs a { width:79px;height:29px;color:#666;cursor:default;display:block;float:left;text-decoration:none;line-height:29px;margin:0;padding:0; }
.dlg-tabstrip .tabs a.tab { background:transparent url(../images/dialog/tabs.png) no-repeat; }
.dlg-tabstrip .tabs a.tab:hover { color:#444;background-position:-79px 0; }
.dlg-tabstrip .tabs a.tab:active { color:#444;background-position:-158px 0;outline:none;padding-top:1px;height:28px; }
.dlg-tabstrip .tabs a.tab-selected { cursor:default;display:block;float:left;width:79px;height:29px;color:#000;background:transparent url(../images/dialog/tabs.png) no-repeat -237px 0; }
.dlg-tabstrip .tabs a.tab-selected:active { outline:none; }
.dlg-tabstrip .tabs a span { display:block;float:left;margin:7px 0 0 10px;padding-left:20px;line-height:16px;background-repeat:no-repeat;background-color:transparent;_margin-left:6px; } /* that last identifier is IE6-specific */

a.preview-url { cursor:default;display:block;float:left;width:18px;height:18px;background:#fff url(../images/dialog/buttons.png) -210px 0;margin:4px 0 0 1px; }
a.preview-url:hover { background-position:-228px 0; }
a.preview-url:active { background-position:-210px -18px;outline:none; }
a.preview-url-disabled { cursor:default;display:block;float:left;width:18px;height:18px;background:#fff url(../images/dialog/buttons.png) -228px -18px;margin:4px 0 0 1px; }


.dlg-content .left { width:9px;float:left; }
.dlg-content .mid { background-color:#fff;float:left;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
.dlg-content .right { width:9px;background:transparent url(../images/editor/textfield.png) repeat-y -9px 0;float:left; }
.dlg-content input { margin-top:4px;padding-bottom:2px;padding-left:2px;border:1px solid #ccc;border-right-color:#abacac;border-bottom-color:#abacac;background-color:#fff;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#000;float:left; }

.dlg-content a:active { outline:none; }
.dlg-content a.checkbox { cursor:default;text-decoration:none;color:#000;float:left;height:24px;line-height:24px;display:block;background:#fff url(../images/dialog/widgets.png) no-repeat;padding-left:18px; }
.dlg-content a.checkbox-selected { cursor:default;text-decoration:none;color:#000;float:left;height:24px;line-height:24px;display:block;background:#fff url(../images/dialog/widgets.png) no-repeat 0 -24px;padding-left:18px; }
.dlg-content a.radio { cursor:default;text-decoration:none;color:#000;float:left;height:24px;line-height:24px;display:block;background:#fff url(../images/dialog/widgets.png) no-repeat 0 -48px;padding-left:16px;margin-right:8px; }
.dlg-content a.radio-selected { cursor:default;text-decoration:none;color:#000;float:left;height:24px;line-height:24px;display:block;background:#fff url(../images/dialog/widgets.png) no-repeat 0 -72px;padding-left:16px;margin-right:8px; }

.dlg-buttons { height:37px;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
.dlg-buttons .left { width:9px;height:37px;background:transparent url(../images/dialog/chrome.png) no-repeat 0 -68px;float:left; }
.dlg-buttons .mid { height:37px;background:transparent url(../images/dialog/chrome.png) repeat-x 0 -105px;float:left; }
.dlg-buttons .right { width:9px;height:37px;background:transparent url(../images/dialog/chrome.png) no-repeat -9px -68px;float:left; }

/* Assorted Dialog buttons */
a.button-70 { margin-top:4px;width:70px;height:25px;background:transparent url(../images/dialog/buttons.png) no-repeat;display:block;padding:0;text-decoration:none;cursor:default; }
a.button-70 span { width:70px;text-align:center;display:block;background-color:transparent;color:#333;line-height:25px;padding:0; }
a.button-70:hover { background-position:-70px 0;text-decoration:none !important; }
a.button-70:hover span { color:#000; }
a.button-70:active { outline:none; }
a.button-70:active span { padding-top:1px; }

a.button-105 { margin-top:4px;width:105px;height:25px;background:transparent url(../images/dialog/buttons.png) no-repeat 0 -25px;display:block;padding:0;text-decoration:none;cursor:default; }
a.button-105 span { width:105px;text-align:center;display:block;background-color:transparent;color:#333;line-height:25px;padding:0; }
a.button-105:hover { background-position:-105px -25px;text-decoration:none !important; }
a.button-105:hover span { color:#000; }
a.button-105:active { outline:none; }
a.button-105:active span { padding-top:1px; }

a.first { margin-right:4px; }


/* Find */
.dlg-find .dlg-title .left { background-position:0 -142px; }
.dlg-find .dlg-title .mid { background-position:0 -176px; }
.dlg-find .dlg-title .right { background-position:-9px -142px; }
.dlg-find .dlg-title .mid,.dlg-find .dlg-buttons .mid,.dlg-find .tabs { width:412px; }

.dlg-find .tabs a span.find { background-image:url(../images/dialog/icon-find.png); }
.dlg-find .tabs a span.replace { background-image:url(../images/dialog/icon-replace.png); }

.dlg-find .dlg-content .left,.dlg-find .dlg-content .right { height:100px;background:#000 url("../images/dialog/find/vertical.png") repeat-y; }
.dlg-find .dlg-content .mid { width:412px !important;height:100px; }
.dlg-find .dlg-content .mid .top { margin-top:11px !important; }
.dlg-find .dlg-content .mid .row { margin-top:0;height:24px; }
.dlg-find .dlg-content .mid .widgets {  margin:0 0 0 91px; }
.dlg-find .dlg-content .mid span.label { width:83px; }
.dlg-find .dlg-content .mid input { width:230px; }

.dlg-find .dlg-content .mid .fields { float:left;width:342px; }
.dlg-find .dlg-content .mid .btns { float:left;width:70px;margin-top:7px; }

.dlg-find .dlg-content .right { background:#000 url("../images/dialog/find/vertical.png") repeat-y -9px 0; }

.dlg-find .dlg-content div.find { height:110px !important; }
.dlg-find .dlg-content div.replace { height:134px !important; }

.find-replace { background-image:url(../images/toolbar/find.png); }



/* Hyperlink */
.dlg-link .dlg-title .left { background-position:0 -142px; }
.dlg-link .dlg-title .mid { background-position:0 -176px; }
.dlg-link .dlg-title .right { background-position:-9px -142px; }
.dlg-link .dlg-title .mid,.dlg-link .dlg-buttons .mid,.dlg-link .tabs { width:424px; }

.dlg-link .tabs a span.link { background-image:url(../images/dialog/icon-link.png); }
.dlg-link .tabs a span.anchor { background-image:url(../images/dialog/icon-anchor.png); }
.dlg-link .tabs a span.email { background-image:url(../images/dialog/icon-email.png); }

.dlg-link .dlg-content .left,.dlg-link .dlg-content .right { height:300px;background:#000 url("../images/dialog/hyperlink/vertical.png") repeat-y; }
.dlg-link .dlg-content .mid { width:424px;height:300px; }
.dlg-link .dlg-content .mid .top { margin-top:14px !important; }
.dlg-link .dlg-content .mid .row { margin-top:0;height:24px; }
.dlg-link .dlg-content .mid span.label { width:62px; }
.dlg-link .dlg-content .mid span.label-narrow { width:46px; }
.dlg-link .dlg-content .mid input { width:185px; }
.dlg-link .dlg-content .mid input.link-url { width:316px; }
.dlg-link .dlg-content .mid input.link-text,.dlg-link .dlg-content .mid input.link-tooltip { width:160px; }
.dlg-link .dlg-content .mid input.link-target,.dlg-link .dlg-content .mid input.link-anchor,.dlg-link .dlg-content .mid input.link-type { width:117px; }
.dlg-link .dlg-content .mid input.link-type-other { margin-left:10px;width:204px; }
.dlg-link .dlg-content .mid input.anchor-name,.dlg-link .dlg-content .mid input.anchor-text,.dlg-link .dlg-content .mid input.email-address,.dlg-link .dlg-content .mid input.email-subject,.dlg-link .dlg-content .mid input.email-text { width:335px; }

.dlg-link .dlg-content div.link-basic { height:78px !important;overflow:hidden; }
.dlg-link .dlg-content div.hr { width:402px;height:1px;background:#eee none;clear:both;margin:16px 11px; }
.dlg-link .dlg-content div.link-advanced { height:174px !important;overflow:visible !important; }
.dlg-link .dlg-content div.anchor { height:78px !important; }
.dlg-link .dlg-content div.email { height:102px !important; }

.dlg-link .dlg-content .right { background:#000 url("../images/dialog/hyperlink/vertical.png") repeat-y -9px 0; }


/* Assorted styles */
.dlg-content input.disabled { background-color:#fafafa;border:1px solid #e6e6e6;color:#bbb; }

.dlg-content span.combo { display:block;float:left;margin-top:4px; }
.dlg-combobox { padding-left:4px;background-color:#fff;border:1px solid #ccc;border-right-color:#abacac;border-bottom-color:#abacac; }
input.dlg-textfield { background:#fff none;border:none;margin:0;padding:0; }

.default-cursor { cursor:default; }

#hyperlink-options span.advanced,#hyperlink-options span.basic { width:15px;text-align:left;background:transparent url(../images/dialog/options.png) no-repeat;margin-left:6px;padding-left:8px; }
#hyperlink-options span.basic { background-position:0 -25px;margin-left:16px; }
#hyperlink-options:active span.advanced,#hyperlink-options:active span.basic { margin-top:1px;line-height:23px; }



/* Spellcheck dialog */
.dlg-spell span.error { color:#ff0000;font-weight:bold; }

.dlg-spell .dlg-title .mid { width:438px; }
.dlg-spell .dlg-content .left { height:236px;background:#000 url("../images/dialog/spellcheck/vertical.png") repeat-y; }
.dlg-spell .dlg-content .mid { width:438px;height:236px; }

.dlg-spell .dlg-content .mid .highlight { width:434px;height:103px;padding:6px 0 0 4px; }
.dlg-spell .dlg-content .mid .highlight div.label { line-height:14px;cursor:default; }
.dlg-spell .dlg-content .mid .highlight .text,.dlg-spell .dlg-content .mid .suggest .wordlist { margin:4px 0 0 0;width:316px;height:77px;float:left;border:1px solid #ccc;border-right-color:#abacac;border-bottom-color:#abacac;overflow:auto;line-height:14px;padding:2px 0 2px 4px;cursor:default; }

.dlg-spell .dlg-content .mid .suggest { padding:6px 0 0 4px; }
.dlg-spell .dlg-content .mid .suggest .wordlist { padding:0;width:320px;height:70px;overflow-x:hidden; }
.dlg-spell .dlg-content .mid .suggest .wordlist a { display:block;width:320px;height:16px;line-height:16px;text-decoration:none;color:#000;cursor:default;padding:0 0 0 4px; }
.dlg-spell .dlg-content .mid .suggest .wordlist a:hover { background-color:#eee; }
.dlg-spell .dlg-content .mid .suggest .wordlist a:active { background-color:#e0e0e0; }
.dlg-spell .dlg-content .mid .suggest .wordlist a.selected { display:block;width:100%;height:16px;line-height:16px;text-decoration:none;background-color:#e0e0e0; }
.dlg-spell .dlg-content .mid .suggest .wordlist a.selected:hover { background-color:#e0e0e0; }
.dlg-spell .dlg-content .mid .suggest .change-to { padding:6px 0 0 0;line-height:14px;cursor:default;clear:both; }
.dlg-spell .dlg-content .mid .suggest input { width:256px; }

.dlg-spell .dlg-content .right { height:236px;background:#000 url("../images/dialog/spellcheck/vertical.png") repeat-y -9px 0; }
.dlg-spell .dlg-buttons .mid { width:438px; }
.dlg-spell .SpellError { color:#ff0000;font-weight:bold; }



/* Image Manager */

.dlg-img { width:680px;height:451px; }

/* Dialogue titlebar */
.ttl { width:100%;height:40px;cursor:move; }
  .ttl a { margin-top:4px;display:block;float:right;width:35px;height:25px;background:transparent url("../images/dialog/static.png") no-repeat -18px 0;cursor:default; }
  .ttl a:hover { background-position:-18px -25px; }
  .ttl a:active { background-position:-18px -50px;outline:none; }

  .ttlt { width:100%;height:32px; }
    .ttlt-l { width:9px;height:100%;background:transparent url("../images/dialog/static.png") no-repeat;float:left; }
    .ttlt-m { height:100%;background:#000 url("../images/dialog/horizontal.png") repeat-x;float:left; }
    .ttlt-r { width:9px;height:100%;background:transparent url("../images/dialog/static.png") no-repeat -9px 0;float:left; }
  .ttlt span { cursor:inherit;margin-left:4px;line-height:32px;color:#333;font-weight:bold;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }

  .ttlb { width:100%;height:8px;overflow:hidden; } /*** overflow:hidden to prevent IE6 from rendering the div at the current font height ***/
    .ttlb-l { width:9px;height:100%;background:#000 url("../images/dialog/static.png") no-repeat 0 -38px;float:left; }
    .ttlb-m { height:100%;background:#fff url("../images/dialog/horizontal.png") repeat-x 0 -38px;float:left; }
    .ttlb-r { width:9px;height:100%;background:#000 url("../images/dialog/static.png") no-repeat -9px -38px;float:left; }

    /* Tabbed dialogue titlebar bottom elements */
    .tabbed .ttlb-l { background-position:0 -46px; }
    .tabbed .ttlb-m { background-position:0 -46px; }
    .tabbed .ttlb-r { background-position:-9px -46px; }

/* 'Tabstrip' styles */
.ts { width:100%;height:29px;background-color:#eee;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
  .ts-l { float:left;width:9px;height:29px;background:#000 url("../images/dialog/static.png") no-repeat 0 -54px; }
  .ts-m { float:left;height:29px;background:#eee url("../images/dialog/horizontal.png") repeat-x 0 -54px; }
  .ts-r { float:left;width:9px;height:29px;background:#000 url("../images/dialog/static.png") no-repeat -9px -54px; }

  /* Tabs */
  .ts a { height:29px;color:#666;cursor:default;display:block;float:left;text-decoration:none;line-height:29px;margin:0;padding:0; }
  .ts a h4 { display:inline;font-weight:normal;font-size:11px; }
  .ts a.tab { }
    .ts a.tab span.l { display:block;float:left;width:10px;height:100%;background:transparent url("../images/dialog/static.png") no-repeat 0 -120px;padding:0;margin:0; }
    .ts a.tab span.m { display:block;float:left;height:100%;line-height:29px;background:transparent url("../images/dialog/horizontal.png") repeat-x 0 -204px;padding:0;margin:0; }
    .ts a.tab span.r { display:block;float:left;width:10px;height:100%;background:transparent url("../images/dialog/static.png") no-repeat -10px -120px;padding:0;margin:0; }

  .ts a.tab:hover { color:#444;text-decoration:none; }
    .ts a.tab:hover span.l { background-position:0 -149px; }
    .ts a.tab:hover span.m { background-position:0 -233px; }
    .ts a.tab:hover span.r { background-position:-10px -149px; }

  .ts a.tab:active { color:#444;outline:none; }
    .ts a.tab:active span.l { background-position:0 -207px; }
    .ts a.tab:active span.m { background-position:0 -291px;padding:1px 0 0 0; }
    .ts a.tab:active span.r { background-position:-10px -207px; }

  .ts a.tab-sel,.ts a.tab-selected { color:#000;;text-decoration:none; }
    .ts a.tab-sel span.l,.ts a.tab-selected span.l { display:block;float:left;width:10px;height:100%;background:transparent url("../images/dialog/static.png") no-repeat 0 -178px;padding:0;margin:0; }
    .ts a.tab-sel span.m,.ts a.tab-selected span.m { display:block;float:left;height:100%;line-height:29px;background:transparent url("../images/dialog/horizontal.png") repeat-x 0 -262px;padding:0;margin:0; }
    .ts a.tab-sel span.r,.ts a.tab-selected span.r { display:block;float:left;width:10px;height:100%;background:transparent url("../images/dialog/static.png") no-repeat -10px -178px;padding:0;margin:0; }

  .ts a.tab-sel:active { outline:none; }

  /* Tab icons */
  .ts img.icon { width:16px;height:16px;float:left;border:0;margin:7px 4px 0 0;background:transparent url("../images/dialog/static.png") no-repeat;display:inline; }  /* that last identifier is IE6-specific */
  .ts img.browse { background-position:0 -237px; }
  .ts img.props { background-position:0 -253px; }
  .ts img.upload { background-position:0 -269px; }


/* Dialogue contents */
.con { width:100%;background:#fff url("../images/dialog/vertical.png") repeat-y;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
  .con .con-m { width:640px;height:315px;padding:15px 20px; }

/* Dialogue footer */
.ftr { width:100%;height:37px;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
  .ftr-l { width:9px;height:100%;background:transparent url("../images/dialog/static.png") no-repeat 0 -83px;float:left; }
  .ftr-m { height:100%;background:#eee url("../images/dialog/horizontal.png") repeat-x 0 -83px;float:left; }
  .ftr-r { width:9px;height:100%;background:transparent url("../images/dialog/static.png") no-repeat -9px -83px;float:left; }

  /* Footer buttons */
  .ftr .btns { float:right;margin-top:4px; }
  .ftr .btns-l { float:left;margin-top:4px; }
  .ftr a { text-decoration:none;color:#333;cursor:default !important; }
  .ftr a span.l { display:block;float:left;width:10px;height:25px;background:transparent url("../images/dialog/static.png") no-repeat -93px 0;margin-left:2px; }
  .ftr a span.m { display:block;float:left;padding:0;height:25px;line-height:25px;background:transparent url("../images/dialog/horizontal.png") repeat-x 0 -120px; }
  .ftr a span.r { display:block;float:left;width:10px;height:25px;background:transparent url("../images/dialog/static.png") no-repeat -103px 0; }
  .ftr a:hover { text-decoration:none;color:#000; }
  .ftr a:hover span.l { background-position: -93px -25px; }
  .ftr a:hover span.m { background-position:0 -145px; }
  .ftr a:hover span.r { background-position: -103px -25px; }
  .ftr a:active span.m { padding-top:1px !important; }


.dlg-img .ttlt-m,.dlg-img .ttlb-m,.dlg-img .ts-m,.dlg-img .ftr-m { width:662px; }


/* Dialogue pages */
/* MultiPage & PageView classes */
.dlg-img .mp { width:100%;height:100%;overflow:hidden; }
.dlg-img .pv { width:634px;height:315px;overflow:hidden; }

/* Browse */
.browse-l { height:315px;width:369px;border-right:1px solid #ccc;padding:0 17px 0 0;float:left;margin:0 17px 0 0;color:#666; }
  .browse-l .tb { height:16px;margin:0 0 12px 0;text-align:right;line-height:16px; }
  .browse-l .tb .btns { float:right; }
  .browse-l .tb .btns .sep { width:7px;height:16px;display:block;float:left;border-left:1px solid #bfbfc5;margin-left:8px; }

  .browse-l .tb a { width:16px;height:16px;background:transparent url("../images/dialog/static.png") no-repeat;cursor:default;display:block;float:left;display:inline; }
    .browse-l .tb a:active { outline:none; }
    .browse-l .tb a.reload { background-position:-16px -237px; }
    .browse-l .tb a.reload:hover { background-position:-16px -253px; }
    .browse-l .tb a.reload:active { background-position:-16px -269px; }

    .browse-l .tb a.folder { background-position:-32px -237px; }
    .browse-l .tb a.folder:hover { background-position:-32px -253px; }
    .browse-l .tb a.folder:active { background-position:-32px -269px; }

    .browse-l .tb a.delete { background-position:-48px -237px; }
    .browse-l .tb a.delete:hover { background-position:-48px -253px; }
    .browse-l .tb a.delete:active { background-position:-48px -269px; }

  .browse-l .path { width:342px;height:18px;background-color:#f3f3f3;border:1px solid #ccc;line-height:18px;color:#000;cursor:default;overflow:hidden;padding:0 0 0 5px; }
  .browse-l .path b { color:#999; }

  .browse-l .preview-url { margin:1px 0 0 0;padding:0; }

  .tree { width:367px;height:258px;border:1px solid #ccc;margin:7px 0 0 0; }
  .tree .hdr { width:100%;height:22px;line-height:22px;border-bottom:1px solid #ccc;background:#eee url("../images/dialog/horizontal.png") repeat-x 0 -321px;cursor:default; }
    .tree .hdr span { padding:0 0 0 6px;font-size:10px;color:#666; }
     .tree .hdr .file { width:291px;border-right:1px solid #ccc;float:left; }
     .tree .hdr .size { float:left; }
    .browse-l .tree .con { background:#fff url("../images/dialog/vertical.png") repeat-y -680px 0;overflow-y:auto;overflow-x:hidden;height:235px;width:100%;cursor:default; }

    .tree .node { width:100%;height:20px;overflow:hidden; }

    .tree .item { margin:0;padding:0 0 0 20px;line-height:20px;background:#fff url("../images/dialog/static.png") no-repeat;float:left; }
    .tree .img { background:none;padding:0;margin:0 0 0 4px; }
    .tree .fldr { background-position:-384px -255px; }
    .tree .root { background-position:-384px -295px; }

    .tree a { border:1px solid #fff;text-decoration:none;padding:1px;color:#2b3744;cursor:default; }
     .tree .item a:hover { text-decoration:none;border:1px solid #cdefff;background-color:#f8fafc; }
     .tree .item a:active { outline:none; }

    .tree .item-s a { text-decoration:none;border:1px solid #9adffe;background:#fff url("../images/dialog/horizontal.png") repeat-x 0 -343px;color:#000; }

.browse-r { height:315px;width:230px;float:right;color:#666; }
  .browse-r .tb { height:16px;margin:0 0 12px 0;text-align:right;line-height:16px; }
  .browse-r .tb .btns { float:right; }
  .browse-r .tb .btns .sep { width:7px;height:16px;display:block;float:left;border-left:1px solid #bfbfc5;margin-left:8px; }
  .browse-r .tb .btns .spacer { width:8px;height:16px;display:block;float:left; }

  .browse-r .tb a { width:16px;height:16px;background:transparent url("../images/dialog/static.png") no-repeat;cursor:default;display:block;float:left;display:inline; }
    .browse-r .tb a:active { outline:none; }
    .browse-r .tb a.full { background-position:-64px -237px; }
    .browse-r .tb a.full:hover { background-position:-64px -253px; }
    .browse-r .tb a.full:active { background-position:-64px -269px; }
    .browse-r .tb a.full-d { background-position:-64px -285px; }

    .browse-r .tb a.fit { background-position:-80px -237px; }
    .browse-r .tb a.fit:hover { background-position:-80px -253px; }
    .browse-r .tb a.fit:active { background-position:-80px -269px; }
    .browse-r .tb a.fit-d { background-position:-80px -285px; }

    .browse-r .tb a.zoomin { background-position:-96px -237px; }
    .browse-r .tb a.zoomin:hover { background-position:-96px -253px; }
    .browse-r .tb a.zoomin:active { background-position:-96px -269px; }

    .browse-r .tb a.zoomout { background-position:-112px -237px; }
    .browse-r .tb a.zoomout:hover { background-position:-112px -253px; }
    .browse-r .tb a.zoomout:active { background-position:-112px -269px; }

  .browse-r .preview { width:228px;height:260px;border:1px solid #ccc;background-image:url("../images/dialog/_preview.png");text-align:center;border-bottom-color:#abacac;border-right-color:#abacac; }
    .browse-r .preview span.lbl { line-height:236px;color:#aaa;cursor:default; }

    .browse-r .props { width:100%;height:auto;margin-top:3px; }
    .browse-r .props div { padding-top:3px;height:20px;line-height:20px; }
    .browse-r .props input { border:none;background:#fff;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
      .browse-r .props input.img-alt { width:141px; }
      .browse-r .props input.img-w { width:32px !important; }
      .browse-r .props input.img-h { width:32px !important; }
    .browse-r .props span { margin-right:3px;line-height:20px;float:left; }
      .browse-r .props span.alt { width:82px;text-align:right; }
      .browse-r .props span.w { width:82px;text-align:right; }
      .browse-r .props span.h { width:70px;text-align:right; }
    .browse-r .props span.input { border:1px solid #ccc;padding:0;height:18px;display:inline;margin:0;text-align:right; }


/* Properties */
.props-l { height:315px;width:355px;border-right:1px solid #ccc;padding:0 31px 0 0;float:left;margin:0 17px 0 0;color:#666; }
  .props-l .prop { width:345px;height:auto;border-bottom:1px solid #ccc;margin-left:10px;line-height:20px;height:34px;margin-top:12px; }
    .props-l span.lbl { width:100px;text-align:right;float:left;padding-right:4px; }
    .props-l span.s { width:57px; }
    .props-l input { float:left;border:1px solid #ccc;margin:0;padding:0;width:230px;height:15px;padding:2px;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px; }
    .props-l input.s { width:81px; }
    .props-l input.xs { width:38px; }
  .props-l .dbl { height:56px; }
  .props-l .row { width:345px;height:24px; }
  .props-l .last { border:none; }


.props-r { height:315px;width:230px;float:right;color:#666; }
  .props-r .tb { height:16px;margin:0 0 12px 0;text-align:right;line-height:16px; }
  .props-r .tb .btns { float:right; }
  .props-r .tb .btns .sep { width:7px;height:16px;display:block;float:left;border-left:1px solid #bfbfc5;margin-left:8px; }
  .props-r .tb .btns .spacer { width:8px;height:16px;display:block;float:left; }

  .props-r .tb a { width:16px;height:16px;background:transparent url("../images/dialog/static.png") no-repeat;cursor:default;display:block;float:left;display:inline; }
    .props-r .tb a:active { outline:none; }
    .props-r .tb a.full { background-position:-64px -237px; }
    .props-r .tb a.full:hover { background-position:-64px -253px; }
    .props-r .tb a.full:active { background-position:-64px -269px; }
    .props-r .tb a.full-d { background-position:-64px -285px; }

    .props-r .tb a.fit { background-position:-80px -237px; }
    .props-r .tb a.fit:hover { background-position:-80px -253px; }
    .props-r .tb a.fit:active { background-position:-80px -269px; }
    .props-r .tb a.fit-d { background-position:-80px -285px; }

    .props-r .tb a.zoomin { background-position:-96px -237px; }
    .props-r .tb a.zoomin:hover { background-position:-96px -253px; }
    .props-r .tb a.zoomin:active { background-position:-96px -269px; }

    .props-r .tb a.zoomout { background-position:-112px -237px; }
    .props-r .tb a.zoomout:hover { background-position:-112px -253px; }
    .props-r .tb a.zoomout:active { background-position:-112px -269px; }

  .props-r .preview { width:228px;height:310px;border:1px solid #ccc;background-image:url("../images/dialog/_preview.png");text-align:center;border-bottom-color:#abacac;border-right-color:#abacac; }
    .props-r .preview span.lbl { line-height:285px;color:#aaa;cursor:default; }


/* Upload */
.upload-l { width:299px;height:315px;border-right:1px solid #ccc;padding:0 17px 0 0;float:left;margin:0 17px 0 0;color:#666; }
  .upload-l .sel { width:100%;height:143px;border-bottom:1px solid #eee; }

  /* Upload file selection */
  .upload-l .sel span { display:block;margin:0 0 10px 0;font-size:12px; }
  .upload-l .sel .browse { width:100%;height:54px; }
  .upload-l .sel .file { cursor:default; }
  .upload-l .sel .filename { width:220px;height:18px;border:1px solid #ccc;background-color:#fff;padding:2px 0 0 4px;display:block;float:left;margin:0 1px 0 0; }
  .upload-l .sel input { background-color:transparent;width:212px;padding:2px !important;margin:0;font-family:Tahoma,"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;font-size:11px;border:none;color:#666;cursor:default !important; }
  .upload-l .sel .empty { background-color:#eee; }
  .upload-l .sel .empty input { color:#999; }
  .upload-l .sel a.browse { text-decoration:none;color:#333;cursor:default !important;display:block;float:left;background:none;width:68px;height:25px;border:0; }
  .upload-l .sel a.browse img { border:0; }

  /* Checkbox */
  .upload-l .overwrite { width:100%;height:24px; }
  .upload-l a.chk,.upload-l a.chk-s { display:block;width:auto;height:24px;line-height:24px;background:#fff url("../images/dialog/static.png") no-repeat -384px -48px;float:left;cursor:default;padding:0 0 0 18px;text-decoration:none;color:#666; }
  .upload-l a.chk:active,.upload-l a.chk-s:active { outline:none; }
  .upload-l a.chk-s { background-position:-384px -72px; }

  /* Upload button */
  .upload-l .btn { width:100%;text-align:center; }
  .upload-l .btn a { display:block;width:118px;height:27px;background:#fff url("../images/dialog/static.png") no-repeat -20px -120px;cursor:default;margin:16px auto 0 auto; }
  .upload-l .btn a.up:hover { background-position:-20px -147px; }
  .upload-l .btn a.up:active { background-position:-20px -174px;outline:none; }
  .upload-l .btn a.up-d { background-position:-20px -201px;outline:none; }


.upload-r { width:300px;height:315px;float:right;color:#666; }
  .upload-r .tb { height:16px;margin:0 0 12px 0;line-height:16px; }
  .upload-r .tb span { font-size:12px; }
  .upload-r .tb .btns { float:right; }
  .upload-r .tb .btns .sep { width:7px;height:16px;display:block;float:left;border-left:1px solid #bfbfc5;margin-left:8px; }

  .upload-r .tb a { width:16px;height:16px;background:transparent url("../images/dialog/static.png") no-repeat;cursor:default;display:block;float:left; }
    .upload-r .tb a:active { outline:none; }
    .upload-r .tb a.reload { background-position:-16px -237px; }
    .upload-r .tb a.reload:hover { background-position:-16px -253px; }
    .upload-r .tb a.reload:active { background-position:-16px -269px; }

    .upload-r .tb a.folder { background-position:-32px -237px; }
    .upload-r .tb a.folder:hover { background-position:-32px -253px; }
    .upload-r .tb a.folder:active { background-position:-32px -269px; }

    .upload-r .tb a.delete { background-position:-48px -237px; }
    .upload-r .tb a.delete:hover { background-position:-48px -253px; }
    .upload-r .tb a.delete:active { background-position:-48px -269px; }

  .upload-r .dest { width:298px;height:259px;border:1px solid #ccc; }

  .upload-r .path { width:298px;height:18px;border:1px solid #ccc;margin:6px 0 0 0; }

/* Uploading */
.stat { width:635px;height:266px;text-align:center;margin-top:27px;border:1px solid #ccc; }
  /* Progress bar and related elements */
  .stat .info { width:412px;height:auto;margin:84px auto 0 auto;cursor:default; }
  .stat h3 { font-weight:normal;font-size:12px;color:#999; }
  .stat .red { color:#dd3409; }

  .stat .prog { width:412px;height:18px !important;border:1px solid #ccc;border-bottom-color:#ddd;border-right-color:#ddd;padding:0;margin:0;float:left;display:inline;overflow:hidden;clear:both; }
  .stat .prog .con { width:410px;height:16px !important;background:transparent url("../images/dialog/horizontal.png") repeat-x 0 -170px;border:0;margin:0;padding:1px; }
  .stat .prog .con .bar { height:16px;background:transparent url("../images/dialog/horizontal.png") repeat-x 0 -188px; }

  .stat p { clear:both;line-height:18px;padding-top:8px;color:#999; }

  /* Upload complete */
  .stat .done { height:24px;margin-top:120px; }


