﻿body {
	background: url(../images/background.jpg) top center no-repeat #cccccc;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 12px;
	line-height: 18px;
	color: black;	
}
div 
{
    padding: 0;
    margin: 0;
}
img 
{
    border: 0;
}
#container 
{
    text-align:left;
    width: 999px;
    margin: 0 auto;
}
#header 
{
    width: 999px;
    height: 100px;
    background: url(../images/header.jpg) no-repeat #ffffff;
}
#content 
{
 padding: 10px;   
}
#selectedDescription 
{
    width: 250px;
    height: 80px;
    padding: 8px;
    background: #cccccc;
    
}
.selectmulti 
{
    margin-top: 5px;   
    margin-bottom: 5px;
}