﻿<%@ Page Language="VB"   AutoEventWireup="false" CodeFile="Default.aspx.vb" Inherits="_Default" %>
<%@ Import Namespace="System.IO" %>
<%

    '   Dim T1970 As New DateTime(1970, 1, 1)
    '   Dim Timestamp As Integer = (DateTime.Now.ToUniversalTime - T1970).TotalSeconds
    'If Not Request.Headers("If-Modified-Since") Is Nothing Then
    ' Dim tSince As String = Request.Headers("If-Modified-Since")
    ' Dim t As Integer = System.Text.RegularExpressions.Regex.Replace(tSince, "[^0-9+]", "")
    ' If Timestamp < (t + 172800) Then ' ########### CACHE FOR 2 Days ###########
    '  Response.StatusCode = 304
    '  Response.StatusDescription = "Not Modified"
    '  return
    '        End If
    '       End If
    ' Response.Cache.SetCacheability(HttpCacheability.Public)
    ' Response.AppendHeader("Pragma", "public")
    ' Response.AppendHeader("Connection", "close")
    ' Response.AppendHeader("Last-Modified", Timestamp & " GMT")
    ' Response.AppendHeader("ETag", "Dyno")

        Dim thePage As String = "Home"
        Dim filepath As String = Server.MapPath("~") & "cms\data\" 
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="assets/css/reset.css"/>    
        <link type="text/css" rel="stylesheet" href="assets/css/style.css"/>    
        <script src="assets/js/jquery.js" type="text/javascript"></script>  
        <script src="assets/js/js.js" type="text/javascript"></script> 
        <title><%=CMSFunctions.GetMetaTitle(filepath, "")%></title>
        <meta name="description" content="<%=CMSFunctions.GetMetaDescription(filepath, "")%>" />      
        <meta name="keywords" content="<%=CMSFunctions.GetMetaKeywords(filepath, "")%>" />
    </head>
    <body id="home" class="cms">
        
        <div id="headsUp"></div>
               
        <div class="wrapper">
            <div id="headLeft"></div>
            <div id="headRight"></div>
            <div id="head">
                <div id="header">
                    <div class="content">
                        <h1 title="B&amp;D Inspire. Empower. Advance.">
                            <a href="./" title="B&amp;D Inspire. Empower. Advance.">&nbsp;</a>
                        </h1>
                        <p>
                            <a href="offices" title="Contact Us" class="locations">Contact Us</a>
                        </p>
                    </div>
                </div>
                <div id="menu">
                    <div class="content">
                        <ul>
                            <li><a href="about-us" title="">ABOUT US</a></li>
                            <li><a href="people-overview" title="">PEOPLE</a></li>
                            <li><a href="services" title="">SERVICES</a></li>
                            <li><a href="portfolio" title="">PORTFOLIO</a></li>
                            <li><a href="resources" title="">RESOURCES</a></li>
                            <li class="last"><a href="careers" title="">CAREERS</a></li>
                        </ul>
                        <form method="get" id="siteSearch" action="search">
                            <p>
                                <input type="text" name="q" id="siteSearchQ" value="" />
                                <input  id="searchSubmit" type="submit" name="search" value="Search"  />
                            </p>
                        </form>
                    </div>
                </div>                
            </div> 

            <div id="main">
                <div id="mainLeft"></div>
                <div id="mainRight"></div>
                <div id="main_content">
                    <div class="content">
                        <div class="carousel_nav"></div>
                        <em class="cms cmsType_Image cmsName_Home_Special_Image"></em>
                        <div class="home_text" style="background: transparent url(/cms/data/Sized/fit/100x113/100/transparent/Center/Home_Special_Image.png) no-repeat scroll 760px 64%;">
                            <p class="cms cmsType_TextSingle cmsName_Home_Page_Red_Text"></p>
                            <h1 class="main_heading">
                                <span class="cms cmsType_TextMulti cmsName_Home_Page_Text"></span>
                            </h1>
                        </div>                           
                    </div>             
                </div>
            </div>     

            <div class="push"></div>
        </div>
  
        <div id="footer">
            <div id="footLeft"></div>
            <div id="footRight"></div>
            <div id="foot">

                <div id="footUp"></div>

                <div class="content">
                    <a class="UpDown" title="Expand"></a><a class="site_map" title="Site Map">SITE MAP</a>
                    <p>
                        <a href="http://venues.programmanagers.com/" class="venues">B&amp;D VENUES</a>
                        <a class="visit_bd selected">B&amp;D</a><a href="http://www.centersusa.com/" class="visit_centers">CENTERS</a>
                    </p>
                    <address>Copyright Brailsford  &amp; Dunlavey, Inc. <span>&copy;</span></address>
                </div>                
            </div>
        </div>        
    </body>
</html>