<%@ Page Language="VB" AutoEventWireup="false" CodeFile="format_.aspx.vb" Inherits="test" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
<title>Demo</title>
<link type="text/css" rel="stylesheet" href="assets/css/style.css"/>
<style type="text/css">

html {
padding: 0;
margin: 0;
background: #fff;
width: 100%;
}


body {
margin: 0;
padding: 0 5px 0 10px;
background: #fff;
}

a {
text-decoration: underline;
}

</style>
</head>
<body>

<div>
<asp:Literal ID="out" runat="server"></asp:Literal>
</div>

</body>
</html>