<%@ Page Language="VB" AutoEventWireup="false" CodeFile="getSession.aspx.vb" Inherits="default" %>
<asp:Repeater ID="slides" runat="server">
<ItemTemplate>
<%# Session("WSRetreiveAsset") %>
</ItemTemplate>
</asp:Repeater>