﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="people.aspx.vb" Inherits="people"   %>
<%@ Import Namespace="System.IO" %>
<%
 
    Dim filepath As String = Server.MapPath("~") & "cms\data\"
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <link type="text/css" rel="stylesheet" href="assets/css/reset.css"/>    
        <link type="text/css" rel="stylesheet" href="assets/css/style.css"/>    
        <script src="assets/js/jquery.js" type="text/javascript"></script>  
        <script src="assets/js/js.js" type="text/javascript"></script>         
        <title id="htmltitle" runat="server">B&amp;D</title>       
    </head>
    <body>  
        <div id="headsUp"></div>
        <div class="wrapper">
            <div id="headLeft"></div>
            <div id="headRight"></div>
            <div id="head">
                <div id="header">
                    <div class="content">
                        <h1 title="B&amp;D Inspire. Empower. Advance.">
                            <a href="./" title="B&amp;D Inspire. Empower. Advance.">&nbsp;</a>
                        </h1>
<p>
<a href="offices" title="Contact Us" class="locations">Contact Us</a>
</p>
                            
                    </div>
                </div>
                <div id="menu">
                    <div class="content">
                        <ul>
                            <li><a href="about-us" title="">ABOUT US</a></li>
                            <li><a href="people-overview" title="">PEOPLE</a></li>
                            <li><a href="services" title="">SERVICES</a></li>
                            <li><a href="portfolio" title="">PORTFOLIO</a></li>
                            <li><a href="resources" title="">RESOURCES</a></li>
                            <li class="last"><a href="careers" title="">CAREERS</a></li>
                        </ul>
                        <form method="get" id="siteSearch" action="search">
                            <p>
                                <input type="text" name="q" id="siteSearchQ" value="" />
                                <input  id="searchSubmit" type="submit" name="search" value="Search"  />
                            </p>
                        </form>
                    </div>
                </div>                
            </div> 

       <div id="banner" class="<%="cms cmsType_Image cmsName_People_Banner_Image"%>" style="background-image: url(cms/data/Sized/best/1920x314/65/F4F3ED/Center/<%=CMSFunctions.Image(Server.MapPath("~") & "cms\data\", "People_Banner_Image")%>)">

                <div class="content">
                    <h1>B&amp;D PEople</h1>
                    <ul>
                        <li><a href="people-overview" title="">Overview</a></li>
                        <asp:Literal runat="server" ID="catlink_data"/>
                        <li><a href="people-paul" title="" id="PersonLink" runat="server">Paul Brailsford</a> &nbsp; </li>
                    </ul>                    	                                     
                </div>
            </div> 
            
            <div id="inner_content">
                <div class="person_layout">
                    <div class="person_photo">
                         <asp:Literal runat="server" ID="person_layout_data"/>
                    </div>
                    <div class="person_content">

                        <asp:Literal runat="server" ID="backlink_data"/>

                        <div class="person_title">                            
                           <asp:Literal runat="server" ID="person_title_data"/> 
                        </div>
                        <div class="person_details">
                            <div class="left">
                                <div class="text">
                                 <div class="bioStandard">
                                   <p>
                                   <asp:Literal runat="server" ID="bioStandard_data"/>
                                   </p>                                                                
                                 </div>
                                 <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="right">                                
                                
                                <div id="accordion" class="person_accordion">
                                    <asp:Literal runat="server" ID="accordion_data"/>
                                </div>                                
                            </div>
                        </div>
                        <div class="person_work">
                            <h2 class="section_title">Work Completed</h2>
                            <form method="get" action="./">

                                 <div class="selectFancy">
                                      <em>Filter by Market</em>
                                      <span id="selectFancy_Markets"></span>
                                 </div>        


                                 <div class="selectFancy">
                                      <em>Filter by Services</em>
                                      <span id="selectFancy_Services"></span>
                                 </div>                                    


                                 <div class="selectFancy">
                                      <em>Filter by State</em>
                                      <span id="selectFancy_States"></span>
                                 </div>                                    

                            </form>

                            <div class="project_sort">
                                <span>Sort By</span>
                                <a title="Sort By Most Recent" class="project_sort_t">MOST RECENT</a> 
                                &nbsp; | 
                                <a title="Sort Alphabetically" class="project_sort_a">A - Z</a> 
                                <em>Showing <span class="countStart">0</span> - <span class="countThrough">0</span> of <span class="countTotal">0</span></em>
                            </div>
                            <div class="project_list paginate"><span id="pp" class="p<asp:Literal runat="server" ID="UserID_data"/>"></span></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="push"></div>
        </div>
   
        <div id="footer">
            <div id="footLeft"></div>
            <div id="footRight"></div>
            <div id="foot">
                <div id="footUp"></div>
                <div class="content">
                    <a class="UpDown" title="Expand"></a><a class="site_map" title="Site Map">SITE MAP</a>
                    <p>
                        <a href="http://venues.programmanagers.com/" class="venues">B&amp;D VENUES</a>
                        <a class="visit_bd selected">B&amp;D</a><a href="http://www.centersusa.com/" class="visit_centers">CENTERS</a>
                    </p>
                    <address>Copyright Brailsford  &amp; Dunlavey, Inc. <span>&copy;</span></address>
                </div>                
            </div>
        </div>        
      
    </body>
</html>
