﻿img {
	border: 0;
}

body 
{

  padding: 0;
  margin: 0;
  font-family: arial;
  color:  #d7d0cb;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  background: url("../images/background.jpg") repeat-x;
}
span.blue 
{
    color:  #00224b;
    font-weight: bold;
}
a:link,a:visited,a:active {
	color:   #00224b;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
ul {
	list-style-image: url('../images/li.jpg');
	list-style-position: outside;
	padding-left:0.9em;
	margin-left:0.6em;
	line-height: 14px;
	margin-top: 0;
}
.download_assets_gray 
{
    list-style-image: url('../images/li_gray.gif');
}
ul.nostyle 
{
   list-style-image: none; 
   line-height: 18px;
   
}
#arrow_left {
	position: absolute;
	top: 363px;
	left: 50%;
	margin-left: -514px;
	display:none;
}
#arrow_right {
	position: absolute;
	top: 363px;
	left: 50%;
	margin-left: 501px;
}
#container
{
  width: 941px;
  margin: 0 auto;
  text-align: left;
  position: relative;
min-height:700px;
}

#footer
{
  width: 941px;
  margin: 0 auto;
  text-align: left;
  position: relative;

}


#header {
	margin-top: 24px;
	margin-bottom: 14px;	
}

#header a {
	color:orange;	
}


#body {
	padding-left: 8px;
}
#body.home 
{
    padding-bottom: 22px;   
}

.home_news_title {
	margin-left: 28px;	
}
.home_news_articles {
	margin-left: 10px;
	width: 333px;	
}
.slideshow {
	float: left;
	position: relative;
}
.slideshow_slogan {
	width: 899px;
	height: 180px;
	background: url(../images/slogan_bg.png) no-repeat;
	position:absolute;
	top: 430;
	left:0;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 10;

}
.slideshow_name {
	width: 889px;
	height: 22px;
	background: #ac3b11;
	position:absolute;
	top: 492px;
	left:0;
	padding: 20px;
	z-index: 10;
	display:none;
	
}
.slideshow_slogan_text {
	font-size: 30px;
	color: #ffffff;
	line-height: 36px;

}
.slideshow_name_content {

}
.slideshow_name_title {
	font-size: 17px;
	color: #ffffff;
	line-height: 14px;
}
.slideshow_name_subtitle {
	font-size: 11px;
	color: #ffffff;
}

.body_content {
	background: #ffffff;
	color: #000000;
	font-size: 12px;
	line-height: 20px;
		position:relative;
		top: 20px;
		left:1px;
		padding-bottom:20px;
}

.body_content img.main_image{
	margin-bottom: 30px;
		
}
.body_content img.title_image {
	margin-bottom: 8px;
		
}

    
    
    #pano_container {
	position:absolute;
	top: 122px;
	left: 0px;
	overflow: hidden;
	width:100%;
	min-width: 1000px;
	z-index: 10;
	text-align:left;
}
#pano_image {
	margin-left: -1279px;
	left: 50%;
	position: relative;
	z-index: 11;
}


#footer_above_container {
	position:relative;
	left: 0px;
	overflow: hidden;
	width:100%;
	text-align:left;
	color: #0033CC;
}



#footer_container {
	position:relative;
	left: 0px;
	overflow: hidden;
	width:100%;
	text-align:center;
	height: 326px;
	background: url("../images/footer_bg.jpg") repeat-x;
	color: #ffffff;
}
#footer {
	margin-top: 38px;
}
#footer a 
{
    color:#f9cd95;
}



#property_search {
	position: absolute;
	top:118px;
	left: 50%;
	margin-left: 277px;
	z-index: 1006;	
	background: #f9a131;
}
#property_search img 
{
    display:block;   
}
#property_search_form 
{
    display:none;
    padding:12px;
    width: 170px;
    border-top: 1px solid white;
    z-index: 20;
    
    color: #ffffff;	
    text-align: left;
}
#property_search_form input 
{
    margin-left: 0;
}
.news_home {
	padding-top:8px;
	padding-bottom:8px;
	border-bottom:1px dotted #6c7f98;
	width: 240px;
	color: #00224b;
	font-weight: bold;
}
.news_home_last {
	border-bottom:0;
}
.general_image 
{
    margin-bottom:225px;
}
.general_image_no_bottom
{
    margin-bottom:0px;
}

.background_image 
{
    background: #dbe0e7;
}
.general_content, .general_content_right 
{
    color: #333333;
    line-height: 18px;
    width: 520px;
    font-size: 13px;
    margin-bottom: 25px;

}

.general_content_sas
{
    line-height: 18px;
    width: 520px;
    font-size: 12px;

        color:  #00224b;
        	font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.general_contenttmp
{
    color: #333333;
    line-height: 18px;
    width: 520px;
    font-size: 13px;

}


.general_content a, .general_content_right a 
{
    font-weight: bold;
}
.general_content_right 
{
    width: 300px;
    margin-top: 93px;
    padding: 18px;   
}
.general_content_search
{
    color: #333333;
    line-height: 18px;
    font-size: 13px;
    margin-bottom: 25px;
}
.cookie_crumbs 
{
    margin-top: 12px;
    color: #a4b1c2;
    font-size: 12px;
    line-height: 18px;
}
.cookie_crumbs  a 
{
    color: #00224b;
}
.general_title 
{
    margin-top: 30px;
    margin-bottom: 30px;
}
#table_search 
{
    border-collapse: collapse;
    margin-top: 20px;
}
#table_search th a 
{
    color: #ffffff;
}
#table_search td, #table_search th
{
    padding-top:15px;
    padding-bottom:15px;
}    
#table_search th
{
    background: #00224b;
    color: #ffffff;
    font-weight:bold;
}
#table_search td, #table_search th
{
    padding-left: 18px;
}
#table_search td a 
{
    font-weight:bold;
}
#table_search tr.odd td
{
    background: #ffffff;
    color:#333333;
}
#table_search tr.even td
{
    background: #feeac0;
    color:#333333;
}
.search_terms 
{
    color: #a4b1c2;   
}

/*begin tablesorter*/


#table_search thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}


#table_search thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
#table_search thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}

.application_form td 
{
    padding-top:10px;
    padding-bottom:10px;
}
.error 
{
    color: red;
    font-weight: bold;
}
.searchItems 
{
  margin-left: 0;
  margin-bottom: 12px;
}
/*end tablesorter*/

.project_detail_header 
{
    background: #00224b;
    padding-left:18px;
    padding-right:18px;
    padding-top:25px;
    padding-bottom:25px;
    line-height: 32px; 
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
}
.project_detail_name 
{
    font-size: 30px;
}
.project_detail_location
{
    font-size: 14px;
}
.project_detail_content 
{
    margin-top: 3px;
}
.project_detail_navi 
{
    margin-right: 2px;
}
.project_detail_content_text 
{
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 28px;
    margin-bottom: 28px;
    color: #333333;
    font-size: 12px;   
}
.demographics 
{
    border-collapse: collapse;

}
.demographics th, .demographics td 
{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 14px;
    color: #333333;
}
.demographics th 
{
    background: #00224b;
    color: #ffffff;
}
.demographics tr.odd td
{
    background: #a4b1c2;
}
.demographics tr.even td
{
    background: #dbe0e7;
}
.projectGallery 
{
    background: #00224b;
    height: 394px;
}
.projectAvailableSpaces 
{
    background: #00224b;
    height: 26px;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:40px;
    padding-right:40px;
    margin-top: 2px;
}
.projectImageThumb 
{
    margin-top:2px;
    margin-left: 3px;
}
.projectAvailableTenants 
{
     padding-left:40px;
    padding-right:40px;
     margin-top: 10px;
     margin-bottom: 10px;
     background: #ffffff;
     color: #333333;
}

.major_tenant_thumb 
{
    float: left;
    margin-right: 15px;
    border: 1px solid #a4b1c2; 
    margin-bottom: 15px;
}
.leasing_plan_table 
{
    color:#333333;
    
}
.leasing_plan_table td 
{
    border-bottom: 1px dotted #333333;   
}
.leasing_plan_table_container 
{
    padding:30px;
    background: #dbe0e7;
    margin-top: 2px;
    margin-bottom: 20px;   
    float: left;
    width:100%;
}
.leasing_plan_image 
{
    margin-top: 20px;
    margin-bottom:30px;
    text-align: center;
}
.capability_brochure 
{
    position:relative;
    top: 25px;
    left: 20px;
    z-index:100;
}
.download_assets li
{
    width: 244px;
    line-height: 30px;
    border-bottom: 1px dotted #7f90a5;
    
}
.ir_home 
{
    color: #666666;   
}
.ir_home th 
{
    height: 33px;
    background: #00224b;
}
.ir_home td 
{
   background: #dbe0e7;   
}
.ir_home th img
{
    margin-right: 32px;
    
    
}
 .stock_quote 
 {

  line-height: 22px;  
  border-collapse: collapse; 
 }
 .stock_quote  td 
 {
       border-bottom: 1px dotted #666666;
 }
 table.committee th,  table.committee tr,  table.committee td
 {
     line-height: 18px;
     height: 32px;
     vertical-align: middle;
     padding-left: 10px;
     padding-right: 10px;
 }
 table.committee th 
 {
     height: 60px;
 }
  table.committee tr.odd td
  {
      background: #feeac0;
  }
  table.committee tr.even td
  {
      background: #ffffff;
  }
  
  div.financial 
  {
      background: #dbe0e7;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  table.financial th, table.financial td
  {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
  }
  table.financial td img 
  {
      margin-right: 10px;
  }
  table.financial tr.odd td 
  {
      background-color: #ffffff;
  }
  table.financial tr.even td 
  {
      background-color: #feeac0;
  } 
  
    
.odd{
	 background-color: #feeac0;
	
}
  
  
  
  
  table.financial tr th 
  {
      background-color: #00224b;
      color: #ffffff;
  } 
  table.form td 
  {
      padding-top: 6px;
      padding-bottom: 6px;
  }
  .ar_horizontal, .ar_vertical
  {
      float: left;
  }
   .ar_horizontal img, .ar_vertical img 
   {
       margin-bottom: 10px;
   }
   .ar_vertical 
   {
       height:240px;
       margin-right: 50px ;
       width: 145px;
   }
    .ar_horizontal 
   {
       height:240px;
       margin-right: 64px ;
       width: 185px;
       height: 240px;
   }
 /*begin jquery tools css*/  
   .tooltip {
	display:none;
	background:transparent url(../images/black_arrow.png);
	font-size:12px;
	height:121px;
	width:223px;
	padding: 16px 19px 16px 19px;
	color:#fff;	
	text-align: left;
}

/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 420px;
	height:89px;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accommodate scrollable items.
	it's enough that you set width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
}

/*
	a single item. must be floated in horizontal scrolling.
	typically, this element is the one that *you* will style
	the most.
*/
.items div {
	float:left;
}



/* this makes it possible to add next button beside scrollable */
.scrollable {
	float:left;	
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
	background:url(../images/carousel_arrows.jpg) no-repeat; 
	display:block;
	width:41px;
	height:88px;
	float:left;
	margin:0;
	cursor:pointer;
	font-size:1px;
}

/* right */
a.right 				{ background-position: 0 -88px; clear:right; margin-right: 0px;}
a.right:hover 		{ background-position:-41px -88px; }
a.right:active 	{ background-position:-82px -88px; } 


/* left */
a.left				{ margin-left: 0px; } 
a.left:hover  		{ background-position:-41px 0; }
a.left:active  	{ background-position:-82px 0; }





/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
} 	

.image1,.image2,.plus 
{
    position:absolute;
    left: 50%;
    margin-left: -33px;
    top: 280px;
}
.image1 
{
    z-index: 25;
    margin-left: -34px;
}
.image2
{
    z-index: 20;
    margin-left: -34px;
}
.plus
{

    z-index: 30;
    margin-left: 435px;
}
.leasing_plan_selector 
{
    width: 126px;
    height: 33px;
    line-height:36px;
    background: #a4b1c2;
    float:left;
    margin-right: 3px;
    margin-bottom: 3px;
    text-align: center;
    color: #00224b;
}
.leasing_plan_selector a 
{
    color: #00224b;
}
.leasing_plan_selector_active
{
    width: 126px;
    height: 33px;
    line-height:36px;
    background: #00224b;
    float:left;
    margin-right: 3px;
    text-align: center;
    color: #ffffff;
}
.leasing_plan_selector_active a
{
    color: #ffffff;
}
#pager 
{
    z-index: 1000;
}





#jsddm {
	margin: 0;
	padding: 0;
	top: 0px;
	left: 0px;
	position: relative;
	float: left;
	z-index: 1007;
}
#jsddm li {
	float: left;
	list-style: none;
	font: 12px Tahoma, Arial;
}
#jsddm li a {
	display: block;
	text-decoration: none;
	white-space: nowrap;
}
#jsddm li a:hover {
	background: #1A4473;
}
#jsddm li ul {
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
}
#jsddm li ul li {
	float: none;
	display: inline;
}
#jsddm li ul li a {
	width: auto;
}
#jsddm li ul li a:hover {
}








